// Terraform Styling
html[data-theme="dark"] {
  .product-hero-container {
    border-bottom: 1px solid var(--ifm-color-emphasis-100);
  }
}

.product-hero-container {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  display: flex;
  min-height: 500px;
  align-items: center;
  justify-content: center;
}

.product-hero__inner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.product-hero__inner-left {
  padding: 2rem;
  max-width: 400px;

  @media (max-width: 768px) {
    padding-top: 3rem;
    text-align: center;
  }

  p {
    font-size: 14px;
    color: #727274;
  }

  button {
    min-width: 150px;
    transition: 300ms;
    border-color: var(--ifm-color-main);
    background-color: var(--ifm-color-main);
    font-weight: normal;

    &:hover {
      opacity: 0.75;
    }
  }
}

.inner-left__header span {
  color: var(--ifm-color-main);
}

.product-hero__slider-container {
  max-width: 500px;
  .card {
    margin: 1rem;
  }

  @media (max-width: 996px) {
    padding: 1rem;
    .slick-dots {
      right: 0px;
    }
  }
}
