openapi: 3.0.0
info:
  version: 1.0.0
  title: VR Routing Profiles
  description: |
    APIs for managing Virtual Router routing profiles within Strata Cloud Manager.
    Includes BGP VR authentication profiles, OSPF VR authentication profiles,
    OSPFv3 VR authentication profiles, VR BFD profiles, and VR route redistribution profiles.
  termsOfService: 'https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf'
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: 'https://support.paloaltonetworks.com'
  license:
    name: MIT
    url: https://opensource.org/license/mit
servers:
  - url: 'https://api.strata.paloaltonetworks.com/config/objects/v1'
    description: Current
  - url: 'https://api.sase.paloaltonetworks.com/sase/config/v1'
    description: Legacy
tags:
  - name: BGP VR Auth Profiles
    description: BGP Virtual Router authentication profiles (network/routing-profile/bgp/vr-auth-profile)
  - name: OSPF VR Auth Profiles
    description: OSPF Virtual Router authentication profiles (network/routing-profile/ospf/vr-auth-profile)
  - name: OSPFv3 VR Auth Profiles
    description: OSPFv3 Virtual Router authentication profiles (network/routing-profile/ospfv3/vr-auth-profile)
  - name: VR BFD Profiles
    description: Virtual Router BFD profiles (network/routing-profile/vr-bfd)
  - name: VR Redist Profiles
    description: VR IPv4 route redistribution profiles (network/routing-profile/vr-redist/redist-profile)
  - name: VR Redist IPv6 Profiles
    description: VR IPv6 route redistribution profiles (network/routing-profile/vr-redist/redist-profile-ipv6)
paths:

  # ─── BGP VR Auth Profiles ──────────────────────────────────────────────────

  /bgp-vr-auth-profiles:
    get:
      tags:
        - BGP VR Auth Profiles
      summary: List BGP VR auth profiles
      description: Retrieve a list of BGP Virtual Router authentication profiles.
      operationId: ListBgpVrAuthProfiles
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/bgp-vr-auth-profiles'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - BGP VR Auth Profiles
      summary: Create a BGP VR auth profile
      description: Create a new BGP Virtual Router authentication profile.
      operationId: CreateBgpVrAuthProfiles
      parameters:
        - $ref: '#/components/parameters/folder'
      requestBody:
        description: The BGP VR auth profile to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-vr-auth-profiles-create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-vr-auth-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - BGP VR Auth Profiles
      summary: Delete BGP VR auth profiles by name
      description: Delete one or more BGP VR auth profiles by name.
      operationId: DeleteBgpVrAuthProfilesByName
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/name-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /bgp-vr-auth-profiles/{id}:
    get:
      tags:
        - BGP VR Auth Profiles
      summary: Get a BGP VR auth profile
      description: Retrieve an existing BGP VR auth profile by ID.
      operationId: GetBgpVrAuthProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-vr-auth-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - BGP VR Auth Profiles
      summary: Update a BGP VR auth profile
      description: Update an existing BGP VR auth profile by ID.
      operationId: UpdateBgpVrAuthProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      requestBody:
        description: The BGP VR auth profile fields to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-vr-auth-profiles-update'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-vr-auth-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - BGP VR Auth Profiles
      summary: Delete a BGP VR auth profile
      description: Delete a BGP VR auth profile by ID.
      operationId: DeleteBgpVrAuthProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  # ─── OSPF VR Auth Profiles ─────────────────────────────────────────────────

  /ospf-vr-auth-profiles:
    get:
      tags:
        - OSPF VR Auth Profiles
      summary: List OSPF VR auth profiles
      description: Retrieve a list of OSPF Virtual Router authentication profiles.
      operationId: ListOspfVrAuthProfiles
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ospf-vr-auth-profiles'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - OSPF VR Auth Profiles
      summary: Create an OSPF VR auth profile
      description: |
        Create a new OSPF Virtual Router authentication profile.
        Specify either `password` (simple password) or `md5` (MD5 key array) — not both.
      operationId: CreateOspfVrAuthProfiles
      parameters:
        - $ref: '#/components/parameters/folder'
      requestBody:
        description: The OSPF VR auth profile to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ospf-vr-auth-profiles-create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ospf-vr-auth-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - OSPF VR Auth Profiles
      summary: Delete OSPF VR auth profiles by name
      description: Delete one or more OSPF VR auth profiles by name.
      operationId: DeleteOspfVrAuthProfilesByName
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/name-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /ospf-vr-auth-profiles/{id}:
    get:
      tags:
        - OSPF VR Auth Profiles
      summary: Get an OSPF VR auth profile
      description: Retrieve an existing OSPF VR auth profile by ID.
      operationId: GetOspfVrAuthProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ospf-vr-auth-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - OSPF VR Auth Profiles
      summary: Update an OSPF VR auth profile
      description: Update an existing OSPF VR auth profile by ID.
      operationId: UpdateOspfVrAuthProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      requestBody:
        description: The OSPF VR auth profile fields to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ospf-vr-auth-profiles-update'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ospf-vr-auth-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - OSPF VR Auth Profiles
      summary: Delete an OSPF VR auth profile
      description: Delete an OSPF VR auth profile by ID.
      operationId: DeleteOspfVrAuthProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  # ─── OSPFv3 VR Auth Profiles ───────────────────────────────────────────────

  /ospfv3-vr-auth-profiles:
    get:
      tags:
        - OSPFv3 VR Auth Profiles
      summary: List OSPFv3 VR auth profiles
      description: Retrieve a list of OSPFv3 Virtual Router authentication profiles.
      operationId: ListOspfv3VrAuthProfiles
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ospfv3-vr-auth-profiles'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - OSPFv3 VR Auth Profiles
      summary: Create an OSPFv3 VR auth profile
      description: |
        Create a new OSPFv3 Virtual Router authentication profile.
        Specify either `esp` (Encapsulating Security Payload) or `ah` (Authentication Header) — not both.
        The `spi` field is required and must be an 8-character hexadecimal string.
      operationId: CreateOspfv3VrAuthProfiles
      parameters:
        - $ref: '#/components/parameters/folder'
      requestBody:
        description: The OSPFv3 VR auth profile to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ospfv3-vr-auth-profiles-create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ospfv3-vr-auth-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - OSPFv3 VR Auth Profiles
      summary: Delete OSPFv3 VR auth profiles by name
      description: Delete one or more OSPFv3 VR auth profiles by name.
      operationId: DeleteOspfv3VrAuthProfilesByName
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/name-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /ospfv3-vr-auth-profiles/{id}:
    get:
      tags:
        - OSPFv3 VR Auth Profiles
      summary: Get an OSPFv3 VR auth profile
      description: Retrieve an existing OSPFv3 VR auth profile by ID.
      operationId: GetOspfv3VrAuthProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ospfv3-vr-auth-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - OSPFv3 VR Auth Profiles
      summary: Update an OSPFv3 VR auth profile
      description: Update an existing OSPFv3 VR auth profile by ID.
      operationId: UpdateOspfv3VrAuthProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      requestBody:
        description: The OSPFv3 VR auth profile fields to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ospfv3-vr-auth-profiles-update'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ospfv3-vr-auth-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - OSPFv3 VR Auth Profiles
      summary: Delete an OSPFv3 VR auth profile
      description: Delete an OSPFv3 VR auth profile by ID.
      operationId: DeleteOspfv3VrAuthProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  # ─── VR BFD Profiles ───────────────────────────────────────────────────────

  /vr-bfd-profiles:
    get:
      tags:
        - VR BFD Profiles
      summary: List VR BFD profiles
      description: Retrieve a list of Virtual Router BFD profiles.
      operationId: ListVrBfdProfiles
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/vr-bfd-profiles'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - VR BFD Profiles
      summary: Create a VR BFD profile
      description: Create a new Virtual Router BFD profile.
      operationId: CreateVrBfdProfiles
      parameters:
        - $ref: '#/components/parameters/folder'
      requestBody:
        description: The VR BFD profile to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vr-bfd-profiles-create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vr-bfd-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - VR BFD Profiles
      summary: Delete VR BFD profiles by name
      description: Delete one or more VR BFD profiles by name.
      operationId: DeleteVrBfdProfilesByName
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/name-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /vr-bfd-profiles/{id}:
    get:
      tags:
        - VR BFD Profiles
      summary: Get a VR BFD profile
      description: Retrieve an existing VR BFD profile by ID.
      operationId: GetVrBfdProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vr-bfd-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - VR BFD Profiles
      summary: Update a VR BFD profile
      description: Update an existing VR BFD profile by ID.
      operationId: UpdateVrBfdProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      requestBody:
        description: The VR BFD profile fields to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vr-bfd-profiles-update'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vr-bfd-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - VR BFD Profiles
      summary: Delete a VR BFD profile
      description: Delete a VR BFD profile by ID.
      operationId: DeleteVrBfdProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  # ─── VR Redist Profiles (IPv4) ────────────────────────────────────────────

  /vr-redistribution-profiles:
    get:
      tags:
        - VR Redist Profiles
      summary: List VR redist profiles
      description: Retrieve a list of VR IPv4 route redistribution profiles.
      operationId: ListVrRedistProfiles
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/vr-redistribution-profiles'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - VR Redist Profiles
      summary: Create a VR redist profile
      description: Create a new VR IPv4 route redistribution profile.
      operationId: CreateVrRedistProfiles
      parameters:
        - $ref: '#/components/parameters/folder'
      requestBody:
        description: The VR redist profile to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vr-redistribution-profiles-create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vr-redistribution-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - VR Redist Profiles
      summary: Delete VR redist profiles by name
      description: Delete one or more VR redist profiles by name.
      operationId: DeleteVrRedistProfilesByName
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/name-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /vr-redistribution-profiles/{id}:
    get:
      tags:
        - VR Redist Profiles
      summary: Get a VR redist profile
      description: Retrieve an existing VR redist profile by ID.
      operationId: GetVrRedistProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vr-redistribution-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - VR Redist Profiles
      summary: Update a VR redist profile
      description: Update an existing VR redist profile by ID.
      operationId: UpdateVrRedistProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      requestBody:
        description: The VR redist profile fields to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vr-redistribution-profiles-update'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vr-redistribution-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - VR Redist Profiles
      summary: Delete a VR redist profile
      description: Delete a VR redist profile by ID.
      operationId: DeleteVrRedistProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  # ─── VR Redist IPv6 Profiles ───────────────────────────────────────────────

  /vr-redistribution-profiles-ipv6:
    get:
      tags:
        - VR Redist IPv6 Profiles
      summary: List VR redist IPv6 profiles
      description: Retrieve a list of VR IPv6 route redistribution profiles.
      operationId: ListVrRedistIPv6Profiles
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/vr-redistribution-profiles-ipv6'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - VR Redist IPv6 Profiles
      summary: Create a VR redist IPv6 profile
      description: Create a new VR IPv6 route redistribution profile.
      operationId: CreateVrRedistIPv6Profiles
      parameters:
        - $ref: '#/components/parameters/folder'
      requestBody:
        description: The VR redist IPv6 profile to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vr-redistribution-profiles-ipv6-create'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vr-redistribution-profiles-ipv6'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - VR Redist IPv6 Profiles
      summary: Delete VR redist IPv6 profiles by name
      description: Delete one or more VR redist IPv6 profiles by name.
      operationId: DeleteVrRedistIPv6ProfilesByName
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/name-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /vr-redistribution-profiles-ipv6/{id}:
    get:
      tags:
        - VR Redist IPv6 Profiles
      summary: Get a VR redist IPv6 profile
      description: Retrieve an existing VR redist IPv6 profile by ID.
      operationId: GetVrRedistIPv6ProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vr-redistribution-profiles-ipv6'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - VR Redist IPv6 Profiles
      summary: Update a VR redist IPv6 profile
      description: Update an existing VR redist IPv6 profile by ID.
      operationId: UpdateVrRedistIPv6ProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      requestBody:
        description: The VR redist IPv6 profile fields to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vr-redistribution-profiles-ipv6-update'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vr-redistribution-profiles-ipv6'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - VR Redist IPv6 Profiles
      summary: Delete a VR redist IPv6 profile
      description: Delete a VR redist IPv6 profile by ID.
      operationId: DeleteVrRedistIPv6ProfilesByID
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/folder'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

components:
  parameters:
    name:
      name: name
      in: query
      description: Filter results by name
      required: false
      schema:
        type: string
    name-required:
      name: name
      in: query
      description: The name(s) of the profile(s) to delete (comma-separated for multiple)
      required: true
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: The maximum number of results per page
      required: false
      schema:
        type: integer
        default: 200
    offset:
      name: offset
      in: query
      description: The offset into the list of results returned
      required: false
      schema:
        type: integer
        default: 0
    folder:
      name: folder
      in: query
      description: The folder in which the resource is defined
      required: false
      schema:
        type: string
        example: All
    snippet:
      name: snippet
      in: query
      description: The snippet in which the resource is defined
      required: false
      schema:
        type: string
    device:
      name: device
      in: query
      description: The device in which the resource is defined
      required: false
      schema:
        type: string
    uuid:
      name: id
      in: path
      description: The UUID of the resource
      required: true
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426655440000

  securitySchemes:
    scmOAuth:
      type: oauth2
      description: |
        Strata Cloud Manager APIs authenticate client requests using the
        OAuth 2.0 Client Credentials flow. Please use the `client_id`,
        `client_secret` values associated with an IAM service account along
        with a scope value of `tsg_id:XXXXXXXXXX`, where XXXXXXXXXX is the
        Tenant Service Group (TSG) ID. The resulting JWT access token should
        be attached to all API calls as a `Bearer` token in the `Authorization`
        header (ex. `Authorization: Bearer tokenstring`).
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes:
            tsg_id: 'Your tenant service group (tsg_id:XXXXXXXXXX)'
    scmToken:
      type: http
      description: |
        Strata Cloud Manager APIs authenticate client requests using the
        OAuth 2.0 Client Credentials flow. Please use the `client_id`,
        `client_secret` values associated with an IAM service account along
        with a scope value of `tsg_id:XXXXXXXXXX`, where XXXXXXXXXX is the
        Tenant Service Group (TSG) ID. The resulting JWT access token should
        be attached to all API calls as a `Bearer` token in the `Authorization`
        header (ex. `Authorization: Bearer tokenstring`).
      scheme: bearer
      bearerFormat: JWT

  responses:
    http_ok:
      description: OK
    auth_errors:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
    access_errors:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
    bad_request_errors_basic:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    bad_request_errors_basic_with_body:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    not_found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    default_errors:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'

  schemas:

    # ── BGP VR Auth Profile ──────────────────────────────────────────────────

    bgp-vr-auth-profiles:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
          description: The UUID of the profile
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
          description: Profile name
          maxLength: 63
          pattern: '^[a-zA-Z0-9._-]+$'
          example: my-bgp-vr-auth
        folder:
          type: string
          description: The folder in which the resource is defined
          readOnly: true
          example: All
        secret:
          type: string
          description: |
            Shared secret for TCP MD5 authentication.
            Allowed characters: a-z A-Z 0-9 ! @ # % ^ _ -
            Returned encrypted.
          maxLength: 63
          example: '-AQ==3d1de0dNLHjru4M3icS/1yHt9L8='

    bgp-vr-auth-profiles-create:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Profile name
          maxLength: 63
          pattern: '^[a-zA-Z0-9._-]+$'
          example: my-bgp-vr-auth
        secret:
          type: string
          description: |
            Shared secret for TCP MD5 authentication.
            Allowed characters: a-z A-Z 0-9 ! @ # % ^ _ -
          maxLength: 63
          example: MySecret123

    bgp-vr-auth-profiles-update:
      type: object
      properties:
        name:
          type: string
          description: Profile name
          maxLength: 63
          pattern: '^[a-zA-Z0-9._-]+$'
          example: my-bgp-vr-auth-updated
        secret:
          type: string
          description: Shared secret for TCP MD5 authentication
          maxLength: 63
          example: NewSecret456

    # ── OSPF VR Auth Profile ─────────────────────────────────────────────────

    ospf-vr-auth-profiles:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
          description: The UUID of the profile
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
          description: Profile name
          maxLength: 63
          pattern: '^[a-zA-Z0-9._-]+$'
          example: my-ospf-vr-auth
        folder:
          type: string
          description: The folder in which the resource is defined
          readOnly: true
          example: All
        password:
          type: string
          description: Simple password authentication (max 8 characters). Mutually exclusive with `md5`.
          maxLength: 8
          example: '-AQ==abc'
        md5:
          type: array
          description: MD5 key entries for authentication. Mutually exclusive with `password`. Maximum 8 entries.
          maxItems: 8
          items:
            $ref: '#/components/schemas/ospf-md5-entry'

    ospf-vr-auth-profiles-create:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Profile name
          maxLength: 63
          pattern: '^[a-zA-Z0-9._-]+$'
          example: my-ospf-vr-auth
        password:
          type: string
          description: Simple password authentication (max 8 characters). Mutually exclusive with `md5`.
          maxLength: 8
          example: pass1234
        md5:
          type: array
          description: MD5 key entries for authentication. Mutually exclusive with `password`. Maximum 8 entries.
          maxItems: 8
          items:
            $ref: '#/components/schemas/ospf-md5-entry'
      example:
        name: my-ospf-vr-auth
        md5:
          - name: 1
            key: md5key123
            preferred: true

    ospf-vr-auth-profiles-update:
      type: object
      properties:
        name:
          type: string
          description: Profile name
          maxLength: 63
          pattern: '^[a-zA-Z0-9._-]+$'
        password:
          type: string
          description: Simple password authentication (max 8 characters). Mutually exclusive with `md5`.
          maxLength: 8
        md5:
          type: array
          description: MD5 key entries. Mutually exclusive with `password`. Maximum 8 entries.
          maxItems: 8
          items:
            $ref: '#/components/schemas/ospf-md5-entry'

    ospf-md5-entry:
      type: object
      required:
        - name
        - key
      properties:
        name:
          type: integer
          description: Key ID (0-255)
          minimum: 0
          maximum: 255
          example: 1
        key:
          type: string
          description: MD5 authentication key (max 16 characters). Returned encrypted.
          maxLength: 16
          example: md5key123
        preferred:
          type: boolean
          description: Use this key when sending packets
          default: true
          example: true

    # ── OSPFv3 VR Auth Profile ───────────────────────────────────────────────

    ospfv3-vr-auth-profiles:
      type: object
      required:
        - id
        - name
        - spi
      properties:
        id:
          type: string
          format: uuid
          description: The UUID of the profile
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
          description: Profile name
          maxLength: 63
          pattern: '^[a-zA-Z0-9._-]+$'
          example: my-ospfv3-vr-auth
        folder:
          type: string
          description: The folder in which the resource is defined
          readOnly: true
          example: All
        spi:
          type: string
          description: Security Parameter Index for both inbound and outbound SA. Must be exactly 8 hexadecimal characters.
          pattern: '^[0-9a-fA-F]{8}$'
          example: 1234ABCD
        esp:
          $ref: '#/components/schemas/ospfv3-esp'
        ah:
          $ref: '#/components/schemas/ospfv3-authentication'

    ospfv3-vr-auth-profiles-create:
      type: object
      required:
        - name
        - spi
      properties:
        name:
          type: string
          description: Profile name
          maxLength: 63
          pattern: '^[a-zA-Z0-9._-]+$'
          example: my-ospfv3-vr-auth
        spi:
          type: string
          description: Security Parameter Index. Must be exactly 8 hexadecimal characters.
          pattern: '^[0-9a-fA-F]{8}$'
          example: 1234ABCD
        esp:
          $ref: '#/components/schemas/ospfv3-esp'
        ah:
          $ref: '#/components/schemas/ospfv3-authentication'
      example:
        name: my-ospfv3-vr-auth
        spi: 1234ABCD
        esp:
          authentication:
            sha1:
              key: XXXXXXXX-XXXXXXXX-XXXXXXXX-XXXXXXXX-XXXXXXXX
          encryption:
            algorithm: aes-128-cbc
            key: XXXXXXXX-XXXXXXXX-XXXXXXXX-XXXXXXXX

    ospfv3-vr-auth-profiles-update:
      type: object
      properties:
        name:
          type: string
          description: Profile name
          maxLength: 63
          pattern: '^[a-zA-Z0-9._-]+$'
        spi:
          type: string
          description: Security Parameter Index. Must be exactly 8 hexadecimal characters.
          pattern: '^[0-9a-fA-F]{8}$'
        esp:
          $ref: '#/components/schemas/ospfv3-esp'
        ah:
          $ref: '#/components/schemas/ospfv3-authentication'

    ospfv3-esp:
      type: object
      description: ESP (Encapsulating Security Payload) options. Mutually exclusive with `ah`.
      properties:
        authentication:
          $ref: '#/components/schemas/ospfv3-authentication'
        encryption:
          type: object
          description: Encryption algorithm and key
          properties:
            algorithm:
              type: string
              description: Encryption algorithm
              enum:
                - 3des
                - aes-128-cbc
                - aes-192-cbc
                - aes-256-cbc
                - 'null'
              example: aes-128-cbc
            key:
              type: string
              description: Encryption key in hex format. Returned encrypted.
              maxLength: 255
              example: XXXXXXXX-XXXXXXXX-XXXXXXXX-XXXXXXXX

    ospfv3-authentication:
      type: object
      description: Authentication algorithm. Specify exactly one algorithm.
      properties:
        sha1:
          type: object
          description: SHA-1 (160 bit key — 5 sections of 8 hex chars)
          properties:
            key:
              type: string
              description: 'Hex format: XXXXXXXX-XXXXXXXX-XXXXXXXX-XXXXXXXX-XXXXXXXX'
              maxLength: 255
        sha256:
          type: object
          description: SHA-256 (256 bit key)
          properties:
            key:
              type: string
              maxLength: 255
        sha384:
          type: object
          description: SHA-384 (384 bit key)
          properties:
            key:
              type: string
              maxLength: 255
        sha512:
          type: object
          description: SHA-512 (512 bit key)
          properties:
            key:
              type: string
              maxLength: 255
        md5:
          type: object
          description: MD5 (128 bit key — not available in FIPS mode)
          properties:
            key:
              type: string
              maxLength: 255
        none:
          type: object
          description: No authentication (ESP only, not available in FIPS mode)

    # ── VR BFD Profile ───────────────────────────────────────────────────────

    vr-bfd-profiles:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
          description: The UUID of the profile
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
          description: Profile name
          maxLength: 63
          pattern: '^[a-zA-Z0-9._-]+$'
          example: my-vr-bfd
        folder:
          type: string
          description: The folder in which the resource is defined
          readOnly: true
          example: All
        mode:
          type: string
          description: |
            BFD operation mode.
            - `active`: actively sends control packets to neighbor
            - `passive`: waits for neighbor to send control packets
          enum:
            - active
            - passive
          default: active
          example: active
        min_tx_interval:
          type: integer
          description: Desired minimum Tx interval in milliseconds
          minimum: 50
          maximum: 10000
          default: 1000
          example: 500
        min_rx_interval:
          type: integer
          description: Required minimum Rx interval in milliseconds
          minimum: 50
          maximum: 10000
          default: 1000
          example: 600
        detection_multiplier:
          type: integer
          description: Detection time multiplier sent to remote system
          minimum: 2
          maximum: 255
          default: 3
          example: 5
        hold_time:
          type: integer
          description: Delay transmission and reception of control packets in milliseconds
          minimum: 0
          maximum: 120000
          default: 0
          example: 0
        multihop:
          type: object
          description: Multihop BFD settings
          properties:
            min_received_ttl:
              type: integer
              description: Minimum accepted TTL on received BFD packet
              minimum: 1
              maximum: 254
              example: 10

    vr-bfd-profiles-create:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Profile name
          maxLength: 63
          pattern: '^[a-zA-Z0-9._-]+$'
          example: my-vr-bfd
        mode:
          type: string
          enum:
            - active
            - passive
          default: active
          example: active
        min_tx_interval:
          type: integer
          minimum: 50
          maximum: 10000
          default: 1000
          example: 500
        min_rx_interval:
          type: integer
          minimum: 50
          maximum: 10000
          default: 1000
          example: 600
        detection_multiplier:
          type: integer
          minimum: 2
          maximum: 255
          default: 3
          example: 5
        hold_time:
          type: integer
          minimum: 0
          maximum: 120000
          default: 0
          example: 0
        multihop:
          type: object
          properties:
            min_received_ttl:
              type: integer
              minimum: 1
              maximum: 254
              example: 10
      example:
        name: my-vr-bfd
        mode: active
        min_tx_interval: 500
        min_rx_interval: 600
        detection_multiplier: 5
        hold_time: 0

    vr-bfd-profiles-update:
      type: object
      properties:
        name:
          type: string
          description: Profile name
          maxLength: 63
          pattern: '^[a-zA-Z0-9._-]+$'
        mode:
          type: string
          enum:
            - active
            - passive
        min_tx_interval:
          type: integer
          minimum: 50
          maximum: 10000
        min_rx_interval:
          type: integer
          minimum: 50
          maximum: 10000
        detection_multiplier:
          type: integer
          minimum: 2
          maximum: 255
        hold_time:
          type: integer
          minimum: 0
          maximum: 120000
        multihop:
          type: object
          properties:
            min_received_ttl:
              type: integer
              minimum: 1
              maximum: 254

    # ── VR Redist Profile (IPv4) ─────────────────────────────────────────────

    vr-redistribution-profiles:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
          description: The UUID of the profile
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
          description: Profile name
          maxLength: 16
          pattern: '^[a-zA-Z0-9._-]+$'
          example: my-vr-redist
        folder:
          type: string
          description: The folder in which the resource is defined
          readOnly: true
          example: All
        priority:
          type: integer
          description: Redistribution rule priority (lower value = higher priority)
          minimum: 1
          maximum: 255
          example: 10
        filter:
          $ref: '#/components/schemas/vr-redist-filter'
        action:
          $ref: '#/components/schemas/vr-redist-action'

    vr-redistribution-profiles-create:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Profile name
          maxLength: 16
          pattern: '^[a-zA-Z0-9._-]+$'
          example: my-vr-redist
        priority:
          type: integer
          description: Redistribution rule priority (lower value = higher priority)
          minimum: 1
          maximum: 255
          example: 10
        filter:
          $ref: '#/components/schemas/vr-redist-filter'
        action:
          $ref: '#/components/schemas/vr-redist-action'
      example:
        name: my-vr-redist
        priority: 10
        filter:
          type:
            - ospf
            - bgp
          destination:
            - 10.0.0.0/8
        action:
          redist: {}

    vr-redistribution-profiles-update:
      type: object
      properties:
        name:
          type: string
          description: Profile name
          maxLength: 16
          pattern: '^[a-zA-Z0-9._-]+$'
        priority:
          type: integer
          minimum: 1
          maximum: 255
        filter:
          $ref: '#/components/schemas/vr-redist-filter'
        action:
          $ref: '#/components/schemas/vr-redist-action'

    vr-redist-filter:
      type: object
      description: Filter criteria for matching candidate routes
      properties:
        type:
          type: array
          description: Route type(s) to match
          items:
            type: string
            enum:
              - static
              - connect
              - rip
              - ospf
              - bgp
          example:
            - ospf
            - bgp
        interface:
          type: array
          description: Outgoing interface name(s) to match
          items:
            type: string
          example:
            - ethernet1/1
        destination:
          type: array
          description: Destination IPv4 prefix(es) to match (subnet match)
          items:
            type: string
          example:
            - 10.0.0.0/8
            - 192.168.1.0/24
        nexthop:
          type: array
          description: Next-hop IPv4 address(es) to match (subnet match)
          items:
            type: string
          example:
            - 10.1.1.1
        ospf:
          type: object
          description: OSPF-specific filter criteria
          properties:
            path_type:
              type: array
              description: OSPF path type(s) to match
              items:
                type: string
                enum:
                  - intra-area
                  - inter-area
                  - ext-1
                  - ext-2
              example:
                - intra-area
                - ext-1
            area:
              type: array
              description: OSPF area ID(s) to match (dotted-decimal format)
              items:
                type: string
              example:
                - 0.0.0.0
                - 0.0.0.1
            tag:
              type: array
              description: Route tag value(s) to match
              items:
                type: string
              example:
                - '100'
        bgp:
          $ref: '#/components/schemas/vr-redist-bgp-filter'

    vr-redist-action:
      type: object
      description: |
        Action to take when the filter is matched. Specify exactly one of `redist` or `no_redist`.
      properties:
        redist:
          type: object
          description: Redistribute routes that match this rule
        no_redist:
          type: object
          description: Do not redistribute routes that match this rule

    vr-redist-bgp-filter:
      type: object
      description: BGP-specific filter criteria
      properties:
        community:
          type: array
          description: |
            BGP community value(s) to match. Accepts well-known names (`no-export`, `no-advertise`,
            `local-as`, `nopeer`), decimal integers, hex strings (`0x…`), or `AS:VAL` format.
          maxItems: 10
          items:
            type: string
          example:
            - no-export
            - '65000:100'
        extended_community:
          type: array
          description: |
            BGP extended community value(s) to match. Accepts 64-bit hex strings or
            `TYPE:AS:VAL` / `TYPE:IP:VAL` format (TYPE is `target`, `origin`, or a decimal number).
          maxItems: 5
          items:
            type: string
          example:
            - 'target:65000:100'

    # ── VR Redist Profile (IPv6) ─────────────────────────────────────────────

    vr-redistribution-profiles-ipv6:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
          description: The UUID of the profile
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
          description: Profile name
          maxLength: 46
          pattern: '^[a-zA-Z0-9._-]+$'
          example: my-vr-redist-v6
        folder:
          type: string
          description: The folder in which the resource is defined
          readOnly: true
          example: All
        priority:
          type: integer
          description: Redistribution rule priority (lower value = higher priority)
          minimum: 1
          maximum: 255
          example: 10
        filter:
          $ref: '#/components/schemas/vr-redist-filter-ipv6'
        action:
          $ref: '#/components/schemas/vr-redist-action'

    vr-redistribution-profiles-ipv6-create:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Profile name
          maxLength: 46
          pattern: '^[a-zA-Z0-9._-]+$'
          example: my-vr-redist-v6
        priority:
          type: integer
          description: Redistribution rule priority (lower value = higher priority)
          minimum: 1
          maximum: 255
          example: 10
        filter:
          $ref: '#/components/schemas/vr-redist-filter-ipv6'
        action:
          $ref: '#/components/schemas/vr-redist-action'
      example:
        name: my-vr-redist-v6
        priority: 10
        filter:
          type:
            - ospfv3
            - bgp
          destination:
            - '2001:db8::/32'
        action:
          redist: {}

    vr-redistribution-profiles-ipv6-update:
      type: object
      properties:
        name:
          type: string
          description: Profile name
          maxLength: 46
          pattern: '^[a-zA-Z0-9._-]+$'
        priority:
          type: integer
          minimum: 1
          maximum: 255
        filter:
          $ref: '#/components/schemas/vr-redist-filter-ipv6'
        action:
          $ref: '#/components/schemas/vr-redist-action'

    vr-redist-filter-ipv6:
      type: object
      description: Filter criteria for matching candidate IPv6 routes
      properties:
        type:
          type: array
          description: Route type(s) to match
          items:
            type: string
            enum:
              - static
              - connect
              - ospfv3
              - bgp
          example:
            - ospfv3
            - bgp
        interface:
          type: array
          description: Outgoing interface name(s) to match
          items:
            type: string
          example:
            - ethernet1/1
        destination:
          type: array
          description: Destination IPv6 prefix(es) to match (subnet match)
          items:
            type: string
          example:
            - '2001:db8::/32'
        nexthop:
          type: array
          description: Next-hop IPv6 address(es) to match (subnet match)
          items:
            type: string
          example:
            - '2001:db8::1'
        ospfv3:
          type: object
          description: OSPFv3-specific filter criteria
          properties:
            path_type:
              type: array
              description: OSPFv3 path type(s) to match
              items:
                type: string
                enum:
                  - intra-area
                  - inter-area
                  - ext-1
                  - ext-2
              example:
                - intra-area
            area:
              type: array
              description: OSPFv3 area ID(s) to match (dotted-decimal format)
              items:
                type: string
              example:
                - 0.0.0.0
            tag:
              type: array
              description: Route tag value(s) to match (integer 1–4294967295 or IPv4 address)
              items:
                type: string
              example:
                - '100'
        bgp:
          $ref: '#/components/schemas/vr-redist-bgp-filter'

    # ── Common ───────────────────────────────────────────────────────────────

    generic_error:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
              details:
                type: object
        _request_id:
          type: string

  examples:
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
          - code: E016
            message: Not Authenticated
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
          - code: E016
            message: Invalid Credential
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
          - code: E007
            message: Unauthorized
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
          - code: E012
            message: Version Not Supported
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
          - code: E012
            message: Method Not Supported
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
          - code: E003
            message: 'Input Format Mismatch: input-format=json'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
          - code: E003
            message: 'Missing Query Parameter: folder'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
          - code: E003
            message: 'Invalid Query Parameter: location=invalid'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
          - code: E003
            message: Missing Body
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
          - code: E012
            message: 'Action Not Supported: move'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
          - code: E013
            message: Bad XPath
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
          - code: E005
            message: Object Not Present
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
          - code: E016
            message: Object Not Unique
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
          - code: E006
            message: Name Not Unique
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
          - code: E009
            message: Reference Not Zero
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
          - code: E003
            message: Invalid Object
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
          - code: E003
            message: Invalid Command
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000

security:
  - scmOAuth: []
  - scmToken: []
