{
  "openapi": "3.0.1",
  "info": {
    "title": "Prisma Cloud Asset Relationship Type Manager Definition Overview",
    "description": "The Asset Relationship Type Management APIs enable you to list information about Prisma cloud asset relationship type definitions and asset relationship definitions ",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    },
    {
      "url": "https://api2.prismacloud.io"
    },
    {
      "url": "https://api3.prismacloud.io"
    },
    {
      "url": "https://api4.prismacloud.io"
    },
    {
      "url": "https://api.anz.prismacloud.io"
    },
    {
      "url": "https://api.eu.prismacloud.io"
    },
    {
      "url": "https://api2.eu.prismacloud.io"
    },
    {
      "url": "https://api.gov.prismacloud.io"
    },
    {
      "url": "https://api.prismacloud.cn"
    },
    {
      "url": "https://api.ca.prismacloud.io"
    },
    {
      "url": "https://api.sg.prismacloud.io"
    },
    {
      "url": "https://api.uk.prismacloud.io"
    },
    {
      "url": "https://api.ind.prismacloud.io"
    },
    {
      "url": "https://api.jp.prismacloud.io"
    },
    {
      "url": "https://api.fr.prismacloud.io"
    }
  ],
  "tags": [
    {
      "name": "Asset Relationship Definitions",
      "description": "The Asset Relationship Type Management APIs enable you to list information about Prisma cloud asset relationship type definitions and asset relationship definitions"
    }
  ],
  "paths": {
    "/rtm/api/v1/asset-relationship-type-definition": {
      "get": {
        "tags": [
          "Asset Relationship Definitions"
        ],
        "summary": "List Asset Relationship Type Definitions",
        "description": "Returns a list of all the supported relationship types in Prisma cloud.",
        "operationId": "get-asset-relationship-type-definitions",
        "parameters": [
          {
            "name": "nextPageToken",
            "in": "query",
            "description": "Page token from the response object of an earlier request to get next page asset relationship type definitions.",
            "required": false,
            "schema": {
              "type": "String"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrismaAssetRelationshipTypeDefinitionBeanPage"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "400": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - user cannot be authenticated to service the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "425": {
            "description": "Too early to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/rtm/api/v1/asset-relationship-definition": {
      "get": {
        "tags": [
          "Asset Relationship Definitions"
        ],
        "summary": "List Asset Relationship Definitions",
        "description": "Returns a list of supported relationships between assets for all cloud types.",
        "operationId": "get-asset-relationship-definitions",
        "parameters": [
          {
            "name": "nextPageToken",
            "in": "query",
            "description": "Page token from the response object of an earlier request to get next page asset relationship definitions.",
            "required": false,
            "schema": {
              "type": "String"
            }
          }
        ],
        "responses": {
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "400": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrismaAssetRelationshipDefinitionBeanPage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - user cannot be authenticated to service the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "425": {
            "description": "Too early to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "PrismaAssetRelationshipTypeDefinitionBean": {
        "required": [
          "displayName",
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Asset Relationship Type Id",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "description": "Asset Relationship Type name"
          },
          "displayName": {
            "type": "string",
            "description": "Asset Relationship Type readable name"
          },
          "inverseName": {
            "type": "string",
            "description": "Asset Relationship Type inverse name"
          },
          "inverseDisplayName": {
            "type": "string",
            "description": "Asset Relationship Type readable inverse name"
          }
        },
        "description": "Indicates the Relationship Type"
      },
      "PrismaAssetRelationshipTypeDefinitionBeanPage": {
        "type": "object",
        "properties": {
          "nextPageToken": {
            "type": "string"
          },
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrismaAssetRelationshipTypeDefinitionBean"
            }
          }
        }
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "PrismaAssetRelationshipDefinitionBean": {
        "required": [
          "relationshipType",
          "sourceApi",
          "targetApi"
        ],
        "type": "object",
        "properties": {
          "sourceApi": {
            "$ref": "#/components/schemas/SourceAPIDefinition"
          },
          "targetApi": {
            "$ref": "#/components/schemas/TargetAPIDefinition"
          },
          "relationshipType": {
            "$ref": "#/components/schemas/PrismaAssetRelationshipTypeDefinitionBean"
          }
        }
      },
      "PrismaAssetRelationshipDefinitionBeanPage": {
        "type": "object",
        "properties": {
          "nextPageToken": {
            "type": "string"
          },
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrismaAssetRelationshipDefinitionBean"
            }
          }
        }
      },
      "SourceAPIDefinition": {
        "required": [
          "displayName",
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "API Id",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "description": "API name"
          },
          "displayName": {
            "type": "string",
            "description": "API readable name"
          }
        },
        "description": "Indicates the Source API"
      },
      "TargetAPIDefinition": {
        "required": [
          "displayName",
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "API Id",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "description": "API name"
          },
          "displayName": {
            "type": "string",
            "description": "API readable name"
          }
        },
        "description": "Indicates the Target API"
      }
    },
    "securitySchemes": {
      "x-redlock-auth": {
        "description": "The x-redlock-auth value is a JSON Web Token (JWT).",
        "in": "header",
        "name": "x-redlock-auth",
        "type": "apiKey"
      }
    }
  }
}
