{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    },
    {
      "url": "https://api2.prismacloud.io"
    },
    {
      "url": "https://api3.prismacloud.io"
    },
    {
      "url": "https://api4.prismacloud.io"
    },
    {
      "url": "https://api.anz.prismacloud.io"
    },
    {
      "url": "https://api.eu.prismacloud.io"
    },
    {
      "url": "https://api2.eu.prismacloud.io"
    },
    {
      "url": "https://api.gov.prismacloud.io"
    },
    {
      "url": "https://api.prismacloud.cn"
    },
    {
      "url": "https://api.ca.prismacloud.io"
    },
    {
      "url": "https://api.sg.prismacloud.io"
    },
    {
      "url": "https://api.uk.prismacloud.io"
    },
    {
      "url": "https://api.ind.prismacloud.io"
    },
    {
      "url": "https://api.jp.prismacloud.io"
    },
    {
      "url": "https://api.fr.prismacloud.io"
    }
  ],
  "tags": [
    {
      "name": "Cloud Discovery and Exposure Management",
      "description": "Discovery and Exposure Management(CDEM) APIs help you in identifying unmanaged or exposed assets that must be secured."
    }
  ],
  "paths": {
    "/asm/api/v1/convert-cloud-account": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Onboard Cloud Accounts",
        "description": "Onboard the cloud accounts to CSPM in order to secure the unmanaged assets identified by the CDEM dashboard.",
        "operationId": "onboard-Cloud-Accounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudAccountsList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountConversionResponseList"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Assets List",
        "description": "Get the list of assets based on cloud-type, asset-type, manage-type, and service-type.",
        "operationId": "asset-inventory-for-l3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetInventoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asset_id}/finding": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Findings of an Asset ",
        "description": "Get the list of findings of an asset by asset id. Findings are security issues, including vulnerabilities discovered on the asset. ",
        "operationId": "get-asset-findings",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "description": "ID of asset",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asset_id}/finding/filters": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Findings Filter",
        "description": "Get the list of filters and their possible values based on which you can retrieve the findings of an asset.",
        "operationId": "get-finding-filters",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "description": "ID of asset",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/snooze": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Snooze list of unmanaged assets.",
        "description": "Snooze list of unmanaged assets.",
        "operationId": "asset-snooze",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetSnoozeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/reopen": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Unsnooze list of snoozed unmanaged assets.",
        "description": "Unsnooze list of snoozed unmanaged assets.",
        "operationId": "asset-unsnooze",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetSnoozeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/email": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Send Asset Details via Email",
        "description": "Sends email with details of assets.",
        "operationId": "send-asset-detail-email-from-sidecar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SideCarAssetEmailDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/download": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Download list of unmanaged assets.",
        "description": "Download list of unmanaged assets based on filters.",
        "operationId": "asset-download",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetInventoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "byte"
                  }
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/aggregation-by-resource-type": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Aggregated Asset Count by Asset Type",
        "description": "Get count of assets aggregated by asset type based on cloud provider,service type,asset-type, and manage-type.",
        "operationId": "get-asset-count-by-asset-type-for-l2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceTypeAggregation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/aggregation-by-cloud-type": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Aggregated Asset Count by Cloud Type",
        "description": "Get count of assets aggregated by cloud service provider.",
        "operationId": "get-assets-aggregated-by-provider-for-l1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudTypeAggregation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/service": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Services",
        "description": "Get the list of services.",
        "operationId": "listServices",
        "parameters": [
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot date",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/service/{serviceId}": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Service Details",
        "description": "Get details of a service by service id",
        "operationId": "fetch-asm-service-details",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "ID of the service",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all_service_detail",
            "in": "query",
            "description": "Boolean flag to fetch all service details",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/industry-benchmarks": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Industry Benchmark Data",
        "description": "Get industry benchmark data which is used to identify the vulnerabilities and security risks.",
        "operationId": "get-industry-benchmarks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/convertible-accounts": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Convertible Accounts",
        "description": "Get the list of accounts that are not managed by CSPM but can be onboarded to CSPM.",
        "operationId": "get-convertible-cloud-accounts",
        "parameters": [
          {
            "name": "alert_categories",
            "in": "query",
            "description": "Category of alerts",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Country code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Convertible Assets",
        "description": "Get the list of unmanaged assets that can be onboarded to CSPM.",
        "operationId": "list-assets",
        "parameters": [
          {
            "name": "convertible",
            "in": "query",
            "description": "Filter assets based on if they are convertible.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "cloud_account_id",
            "in": "query",
            "description": "Cloud account ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alert_categories",
            "in": "query",
            "description": "Category of alerts",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Country codes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/trend": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Trend for last 90 days",
        "description": "Get asset trend for managed, unmanaged, and remediated assets.",
        "operationId": "fetch-assets-by-manage-type-and-remediation",
        "parameters": [
          {
            "name": "timestamp",
            "in": "query",
            "description": "Timestamp",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetTrend"
                  }
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/top-risk": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Top Risks",
        "description": "Get the list of top risks for assets.",
        "operationId": "get-top-risks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/internet-exposure-risk": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Internet Exposure Risk Distribution",
        "description": "Get the internet exposure risk statistics of every asset type for last 24 hours",
        "operationId": "fetch-internet-exposure-asm-assets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsmInternetExposureRisk"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/geolocation": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Assets Count Across Location",
        "operationId": "fetch-asset-by-geo-location",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsByGeoLocation"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/count": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Convertible Assets Count",
        "description": "Get the total number of convertible assets.",
        "operationId": "get-asset-counts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asset_id}": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Details by ID",
        "description": "Get asset overview or details by asset id.",
        "operationId": "get-asset-details",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "description": "Asset ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "asset_type",
            "in": "query",
            "description": "Asset type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manage_type",
            "in": "query",
            "description": "Manage type",
            "required": false,
            "schema": {
              "type": "string",
              "default": "UNMANAGED"
            }
          },
          {
            "name": "all_asset_details",
            "in": "query",
            "description": "Set it true to fetch all asset details.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{assetId}/flowlog-relationships": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Fetch Flowlog relationships of unmanged asset.",
        "description": "Fetch Flowlog relationships between unmanged assets and managed assets.",
        "operationId": "fetch-flowlog-relationships",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "description": "ID of unmanaged asset",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot date",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asmAssetId}/service": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get List of Service for an Asset",
        "description": "Get the list of services for assets by asset-id.",
        "operationId": "fetch-asm-services-linked-to-asset",
        "parameters": [
          {
            "name": "asmAssetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/filters": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Filters",
        "description": "Gets the list of supported asset filters and their values based on which you can fetch asset details.",
        "operationId": "get-asset-filters",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetFilterResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CloudAccountDetails": {
        "type": "object",
        "properties": {
          "accountId": {
            "title": "Account ID",
            "type": "string"
          },
          "accountName": {
            "title": "Account name",
            "type": "string"
          },
          "cloudType": {
            "title": "Cloud types",
            "type": "string",
            "enum": [
              "AWS",
              "GCP",
              "AZURE",
              "ALIBABA_CLOUD"
            ]
          }
        }
      },
      "CloudAccountsList": {
        "type": "object",
        "properties": {
          "cloudAccounts": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudAccountDetails"
            }
          }
        }
      },
      "AccountConversionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "conversionStatus": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "path": {
            "type": "string"
          }
        }
      },
      "AccountConversionResponseList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountConversionResponse"
            }
          }
        }
      },
      "AssetInventoryRequest": {
        "type": "object",
        "properties": {
          "snapshotDate": {
            "title": "Snapshot date",
            "type": "integer",
            "format": "int64"
          },
          "cloudTypes": {
            "title": "Cloud types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Cloud types",
              "type": "string",
              "enum": [
                "AWS",
                "GCP",
                "AZURE",
                "ALIBABA_CLOUD"
              ]
            },
            "enum": [
              "AWS",
              "GCP",
              "AZURE",
              "ALIBABA_CLOUD"
            ]
          },
          "assetTypes": {
            "title": "Asset types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Asset types",
              "type": "string",
              "default": "['Domain', 'ResponsiveIP']"
            },
            "default": "['Domain', 'ResponsiveIP']"
          },
          "manageType": {
            "title": "Manage type",
            "type": "string",
            "enum": [
              "MANAGED",
              "UNMANAGED"
            ],
            "default": "UNMANAGED"
          },
          "serviceTypes": {
            "title": "Service types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Service types",
              "type": "string"
            }
          },
          "nextPageToken": {
            "title": "Next page token",
            "type": "string"
          },
          "searchText": {
            "title": "Search text",
            "type": "string"
          },
          "snoozeStatus": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FindingRequest": {
        "type": "object",
        "properties": {
          "snapshotDate": {
            "title": "Snapshot date in ms",
            "type": "integer",
            "format": "int64"
          },
          "types": {
            "title": "List of types",
            "type": "array",
            "items": {
              "title": "List of types",
              "type": "string"
            }
          },
          "severities": {
            "title": "List of severities",
            "type": "array",
            "items": {
              "title": "List of severities",
              "type": "string",
              "enum": [
                "High",
                "Critical",
                "Medium",
                "Low"
              ]
            },
            "enum": [
              "High",
              "Critical",
              "Medium",
              "Low"
            ]
          },
          "nextPageToken": {
            "type": "string"
          }
        }
      },
      "AssetSnoozeRequest": {
        "type": "object",
        "properties": {
          "assets": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "temporarySnooze": {
            "type": "boolean"
          },
          "snoozeTimeRange": {
            "$ref": "#/components/schemas/RelativeTimeRangeConfig"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "RelativeTimeDuration": {
        "type": "object",
        "properties": {
          "unit": {
            "type": "string",
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month",
              "year",
              "epoch",
              "login"
            ]
          },
          "amount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "RelativeTimeRangeConfig": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/RelativeTimeDuration"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "AsmAssetsInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "SideCarAssetEmailDetails": {
        "type": "object",
        "properties": {
          "pcAssetId": {
            "title": "Prisma Cloud asset ID",
            "type": "string"
          },
          "asmAssetId": {
            "title": "CDEM asset ID",
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "title": "Name",
            "type": "string"
          },
          "cloudTypes": {
            "title": "Set of cloud types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Set of cloud types",
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP",
                "ALIBABA_CLOUD"
              ]
            }
          },
          "cloudAccountId": {
            "title": "Cloud account ID",
            "type": "string"
          },
          "cloudAccountName": {
            "title": "Cloud account name",
            "type": "string"
          },
          "conversionStatus": {
            "title": "Conversion status",
            "type": "string",
            "enum": [
              "DISCOVERED",
              "IN_PROGRESS",
              "UNABLE_TO_CONVERT",
              "FAILED",
              "CONVERTED"
            ]
          },
          "type": {
            "title": "Type",
            "type": "string"
          },
          "snoozeStatus": {
            "type": "string"
          },
          "snoozeStartTs": {
            "type": "integer",
            "format": "int64"
          },
          "snoozeEndTs": {
            "type": "integer",
            "format": "int64"
          },
          "reason": {
            "type": "string"
          },
          "temporarySnooze": {
            "type": "boolean"
          },
          "isFlowlogRelationshipAvailable": {
            "type": "boolean"
          },
          "snapshotDate": {
            "type": "integer",
            "format": "int64"
          },
          "userEmailIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "asmAssets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AsmAssetsInfo"
            }
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "ResourceTypeAggregation": {
        "type": "object",
        "properties": {
          "cloudTypes": {
            "title": "Cloud types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Cloud types",
              "type": "string",
              "enum": [
                "AWS",
                "GCP",
                "AZURE",
                "ALIBABA_CLOUD"
              ]
            },
            "enum": [
              "AWS",
              "GCP",
              "AZURE",
              "ALIBABA_CLOUD"
            ]
          },
          "snapshotDate": {
            "title": "Snapshot date",
            "type": "integer",
            "format": "int64"
          },
          "serviceTypes": {
            "title": "Service types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Service types",
              "type": "string"
            }
          },
          "assetTypes": {
            "title": "Asset types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Asset types",
              "type": "string",
              "default": "['Domain', 'ResponsiveIP']"
            },
            "default": "['Domain', 'ResponsiveIP']"
          },
          "manageType": {
            "title": "Manage type",
            "type": "string",
            "enum": [
              "MANAGED",
              "UNMANAGED"
            ],
            "default": "UNMANAGED"
          },
          "snoozeStatus": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CloudTypeAggregation": {
        "type": "object",
        "properties": {
          "snapshotDate": {
            "title": "Snapshot Date in ms",
            "type": "integer",
            "format": "int64"
          },
          "assetTypes": {
            "title": "Asset types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Asset types",
              "type": "string",
              "default": "['Domain', 'ResponsiveIP']"
            },
            "default": "['Domain', 'ResponsiveIP']"
          },
          "manageType": {
            "title": "Manage type",
            "type": "string",
            "enum": [
              "MANAGED",
              "UNMANAGED"
            ],
            "default": "UNMANAGED"
          },
          "serviceTypes": {
            "title": "Service types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Service types",
              "type": "string"
            }
          },
          "cloudTypes": {
            "title": "Cloud types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Cloud types",
              "type": "string",
              "enum": [
                "AWS",
                "GCP",
                "AZURE",
                "ALIBABA_CLOUD"
              ]
            },
            "enum": [
              "AWS",
              "GCP",
              "AZURE",
              "ALIBABA_CLOUD"
            ]
          },
          "snoozeStatus": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AssetTrend": {
        "type": "object",
        "properties": {
          "ts": {
            "type": "integer",
            "format": "int64"
          },
          "managedAssetCount": {
            "type": "integer",
            "format": "int64"
          },
          "unmanagedAssetCount": {
            "type": "integer",
            "format": "int64"
          },
          "remediatedAssetCount": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AsmInternetExposureRisk": {
        "type": "object",
        "properties": {
          "lastScanTs": {
            "type": "integer",
            "format": "int64"
          },
          "managedAsset": {
            "$ref": "#/components/schemas/Assets"
          },
          "unManagedAsset": {
            "$ref": "#/components/schemas/Assets"
          },
          "remediatedAsset": {
            "$ref": "#/components/schemas/Assets"
          },
          "unmanagedAssetsRatio": {
            "$ref": "#/components/schemas/AssetsRatio"
          }
        }
      },
      "Assets": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int64"
          },
          "delta": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "AssetsRatio": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "format": "double"
          },
          "delta": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "AssetsByGeoLocation": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeoLocation"
            }
          }
        }
      },
      "GeoLocation": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "convertible": {
            "type": "integer",
            "format": "int32"
          },
          "nonConvertible": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AssetFilterResponse": {
        "type": "object",
        "properties": {
          "serviceTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cloudTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assetTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "snoozeStatus": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "x-redlock-auth": {
        "description": "The x-redlock-auth value is a JSON Web Token (JWT).",
        "in": "header",
        "name": "x-redlock-auth",
        "type": "apiKey"
      }
    }
  }
}
