{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    },
    {
      "url": "https://api2.prismacloud.io"
    },
    {
      "url": "https://api3.prismacloud.io"
    },
    {
      "url": "https://api4.prismacloud.io"
    },
    {
      "url": "https://api.anz.prismacloud.io"
    },
    {
      "url": "https://api.eu.prismacloud.io"
    },
    {
      "url": "https://api2.eu.prismacloud.io"
    },
    {
      "url": "https://api.gov.prismacloud.io"
    },
    {
      "url": "https://api.prismacloud.cn"
    },
    {
      "url": "https://api.ca.prismacloud.io"
    },
    {
      "url": "https://api.sg.prismacloud.io"
    },
    {
      "url": "https://api.uk.prismacloud.io"
    },
    {
      "url": "https://api.ind.prismacloud.io"
    },
    {
      "url": "https://api.jp.prismacloud.io"
    },
    {
      "url": "https://api.fr.prismacloud.io"
    }
  ],
  "tags": [
    {
      "name": "Cloud Discovery and Exposure Management",
      "description": "Discovery and Exposure Management APIs help you in identifying unmanaged or exposed assets that must be secured."
    }
  ],
  "paths": {
    "/asm/api/v1/convert-cloud-account": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Onboard Cloud Accounts",
        "description": "Onboard cloud accounts.",
        "operationId": "onboardCloudAccounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudAccountsList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountConversionResponseList"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Inventory",
        "description": "Gets the list of assets from asset inventory.",
        "operationId": "assetInventoryForL3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetInventoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asset_id}/finding": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Findings for Asset by ID",
        "description": "Get the list of findings for an asset based on ID.",
        "operationId": "getAssetFindings",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asset_id}/finding/filters": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Finding Filters",
        "description": "Gets the list of filters for asset findings.",
        "operationId": "getFindingFilters",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/email": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Send Assets Email",
        "description": "Sends email with details of assets.",
        "operationId": "sendAssetDetailEmailFromSidecar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SidecarOverview"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/aggregation-by-resource-type": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Count by Asset type",
        "description": "Gets the count of assets by asset type.",
        "operationId": "getAssetCountByAssetTypeForL2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceTypeAggregation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/aggregation-by-cloud-type": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Assets aggregated by provider",
        "description": "Gets the list of assets aggregated by the provider.",
        "operationId": "getAssetsAggregatedByProviderForL1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudTypeAggregation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/service": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Services",
        "description": "Gets the list of services.",
        "operationId": "listServices",
        "parameters": [
          {
            "name": "snapshot_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/service/{serviceId}": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Service Details",
        "description": "Get service details by ID.",
        "operationId": "fetchAsmServiceDetails",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all_service_detail",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/industry-benchmarks": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Industry Benchmarks Data",
        "description": "Get industry benchmarks data.",
        "operationId": "getIndustryBenchmarks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/convertible-accounts": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Convertible Accounts",
        "description": "Get the list of convertible accounts.",
        "operationId": "getConvertibleCloudAccounts",
        "parameters": [
          {
            "name": "alert_categories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Assets",
        "description": "Get the list of assets.",
        "operationId": "listAssets",
        "parameters": [
          {
            "name": "convertible",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloud_account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alert_categories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/trend": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Trend",
        "description": "Get asset trend by manage type and remediation.",
        "operationId": "fetchAssetsByManageTypeAndRemediation",
        "parameters": [
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetTrend"
                  }
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/top-risk": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Top Risks",
        "description": "Get the list of top risks for assets.",
        "operationId": "getTopRisks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/internet-exposure-risk": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Internet Exposure Risk",
        "description": "Get the internet exposure risk statistics.",
        "operationId": "fetchInternetExposureAsmAssets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsmInternetExposureRisk"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/geolocation": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Assets Geolocation Data",
        "description": "Get assets geolocation data.",
        "operationId": "fetchAssetByGeoLocation",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsByGeoLocation"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/count": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Assets Count",
        "description": "Gets the count of assets.",
        "operationId": "getAssetCounts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asset_id}": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset by ID",
        "description": "Get asset details by ID.",
        "operationId": "getAssetDetails",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "asset_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manage_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "UNMANAGED"
            }
          },
          {
            "name": "all_asset_details",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asmAssetId}/service": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Services by ID",
        "description": "Get the list of services for assets by ID.",
        "operationId": "fetchAsmServicesLinkedToAsset",
        "parameters": [
          {
            "name": "asmAssetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/filters": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Filters",
        "description": "Gets the list of filters for assets.",
        "operationId": "getAssetFilters",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetFilterResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CloudAccountDetails": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          },
          "cloudType": {
            "type": "string"
          }
        }
      },
      "CloudAccountsList": {
        "type": "object",
        "properties": {
          "cloudAccounts": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudAccountDetails"
            }
          }
        }
      },
      "AccountConversionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "conversionStatus": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "path": {
            "type": "string"
          }
        }
      },
      "AccountConversionResponseList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountConversionResponse"
            }
          }
        }
      },
      "AssetInventoryRequest": {
        "type": "object",
        "properties": {
          "snapshotDate": {
            "type": "integer",
            "format": "int64"
          },
          "cloudTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assetTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "manageType": {
            "type": "string"
          },
          "serviceTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "nextPageToken": {
            "type": "string"
          },
          "searchText": {
            "type": "string"
          }
        }
      },
      "FindingRequest": {
        "type": "object",
        "properties": {
          "snapshotDate": {
            "type": "integer",
            "format": "int64"
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "severities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SidecarOverview": {
        "type": "object",
        "properties": {
          "pcAssetId": {
            "type": "string"
          },
          "asmAssetId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "cloudTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP",
                "ALIBABA_CLOUD"
              ]
            }
          },
          "cloudAccountId": {
            "type": "string"
          },
          "cloudAccountName": {
            "type": "string"
          },
          "conversionStatus": {
            "type": "string",
            "enum": [
              "DISCOVERED",
              "IN_PROGRESS",
              "UNABLE_TO_CONVERT",
              "FAILED",
              "CONVERTED"
            ]
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ResourceTypeAggregation": {
        "type": "object",
        "properties": {
          "cloudTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "snapshotDate": {
            "type": "integer",
            "format": "int64"
          },
          "serviceTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assetTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "manageType": {
            "type": "string"
          }
        }
      },
      "CloudTypeAggregation": {
        "type": "object",
        "properties": {
          "snapshotDate": {
            "type": "integer",
            "format": "int64"
          },
          "assetTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "manageType": {
            "type": "string"
          },
          "serviceTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cloudTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AssetTrend": {
        "type": "object",
        "properties": {
          "ts": {
            "type": "integer",
            "format": "int64"
          },
          "managedAssetCount": {
            "type": "integer",
            "format": "int64"
          },
          "unmanagedAssetCount": {
            "type": "integer",
            "format": "int64"
          },
          "remediatedAssetCount": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AsmInternetExposureRisk": {
        "type": "object",
        "properties": {
          "lastScanTs": {
            "type": "integer",
            "format": "int64"
          },
          "managedAsset": {
            "$ref": "#/components/schemas/Assets"
          },
          "unManagedAsset": {
            "$ref": "#/components/schemas/Assets"
          },
          "remediatedAsset": {
            "$ref": "#/components/schemas/Assets"
          },
          "unmanagedAssetsRatio": {
            "$ref": "#/components/schemas/AssetsRatio"
          }
        }
      },
      "Assets": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int64"
          },
          "delta": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "AssetsRatio": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "format": "double"
          },
          "delta": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "AssetsByGeoLocation": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeoLocation"
            }
          }
        }
      },
      "GeoLocation": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "convertible": {
            "type": "integer",
            "format": "int32"
          },
          "nonConvertible": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AssetFilterResponse": {
        "type": "object",
        "properties": {
          "serviceTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cloudTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assetTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "x-redlock-auth": {
        "description": "The x-redlock-auth value is a JSON Web Token (JWT).",
        "in": "header",
        "name": "x-redlock-auth",
        "type": "apiKey"
      }
    }
  }
}
