{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    },
    {
      "url": "https://api2.prismacloud.io"
    },
    {
      "url": "https://api3.prismacloud.io"
    },
    {
      "url": "https://api4.prismacloud.io"
    },
    {
      "url": "https://api.anz.prismacloud.io"
    },
    {
      "url": "https://api.eu.prismacloud.io"
    },
    {
      "url": "https://api2.eu.prismacloud.io"
    },
    {
      "url": "https://api.gov.prismacloud.io"
    },
    {
      "url": "https://api.prismacloud.cn"
    },
    {
      "url": "https://api.ca.prismacloud.io"
    },
    {
      "url": "https://api.sg.prismacloud.io"
    },
    {
      "url": "https://api.uk.prismacloud.io"
    },
    {
      "url": "https://api.ind.prismacloud.io"
    },
    {
      "url": "https://api.jp.prismacloud.io"
    },
    {
      "url": "https://api.fr.prismacloud.io"
    }
  ],
  "tags": [
    {
      "name": "Discovery and Exposure Management",
      "description": "Discovery and Exposure Management(CDEM) APIs help you in identifying unmanaged or exposed assets that must be secured. You can use the APIs in this section to fetch the details that are displayed in the Discovery and Exposure Management(CDEM) dashboard. "
    }
  ],
  "paths": {
    "/asm/api/v1/convert-cloud-account": {
      "post": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Onboard Cloud Accounts",
        "description": "Onboard the cloud accounts to CSPM in order to secure the unmanaged assets identified by the CDEM dashboard.",
        "operationId": "onboard-Cloud-Accounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudAccountsList"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountConversionResponseList"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset": {
      "post": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Assets List",
        "description": "Get the list of assets based on cloud-type, asset-type, manage-type, and service-type.",
        "operationId": "asset-inventory-for-l3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetInventoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetInventoryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asset_id}/finding": {
      "post": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Findings of an Asset ",
        "description": "Get the list of findings of an asset by asset id. Findings are security issues, including vulnerabilities discovered on the asset. ",
        "operationId": "get-asset-findings",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "description": "ID of asset",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindingRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindingResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asset_id}/finding/filters": {
      "post": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Asset Findings Filter",
        "description": "Get the list of filters and their possible values based on which you can retrieve the findings of an asset.",
        "operationId": "get-finding-filters",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "description": "ID of asset",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindingRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindingFilter"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/snooze": {
      "post": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Snooze Unmanaged Assets",
        "description": "You can temporarily or permanently snooze the notifications from your unmanaged (internet-exposed) assets.",
        "operationId": "asset-snooze",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetSnoozeRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/reopen": {
      "post": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Unsnooze Unmanaged Assets",
        "description": "Unsnooze list of snoozed unmanaged assets.",
        "operationId": "asset-unsnooze",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetUnsnoozeRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/email": {
      "post": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Send Asset Details via Email",
        "description": "Sends email with details of assets.",
        "operationId": "send-asset-detail-email-from-sidecar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SideCarAssetEmailDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SideCarAssetEmailDetails"
                }
              }
            }
          },
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/download": {
      "post": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Download Unmanaged Assets",
        "description": "Download list of unmanaged assets based on filters.",
        "operationId": "asset-download",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetInventoryRequest"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/aggregation-by-resource-type": {
      "post": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Aggregated Asset Count by Asset Type",
        "description": "Get count of assets aggregated by asset type based on cloud provider,service type,asset-type, and manage-type.",
        "operationId": "get-asset-count-by-asset-type-for-l2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceTypeAggregation"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetL2View"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/aggregation-by-cloud-type": {
      "post": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Aggregated Asset Count by Cloud Type",
        "description": "Get count of assets aggregated by cloud service provider.",
        "operationId": "get-assets-aggregated-by-provider-for-l1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudTypeAggregation"
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudDistribution"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/service": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Services",
        "description": "Get the list of services.",
        "operationId": "list-services",
        "parameters": [
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot date",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsmServicesList"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/service/{serviceId}": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Service Details",
        "description": "Get details of a service by service id",
        "operationId": "fetch-asm-service-details",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "ID of the service",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all_service_detail",
            "in": "query",
            "description": "Boolean flag to fetch all service details",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": true
          }
        ],
        "responses": {
          "404": {
            "description": "Service not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsmSideCarServiceDetails"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/industry-benchmarks": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Industry Benchmark Data",
        "description": "Get industry benchmark data which is used to identify the vulnerabilities and security risks.",
        "operationId": "get-industry-benchmarks",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BenchmarkingResponse"
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/convertible-accounts": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Convertible Accounts",
        "description": "Get the list of accounts that are not managed by CSPM but can be onboarded to CSPM.",
        "operationId": "get-convertible-cloud-accounts",
        "parameters": [
          {
            "name": "alert_categories",
            "in": "query",
            "description": "Category of alerts",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Country code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertibleCloudAccounts"
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Convertible Assets",
        "description": "Get the list of unmanaged assets that can be onboarded to CSPM.",
        "operationId": "list-assets",
        "parameters": [
          {
            "name": "convertible",
            "in": "query",
            "description": "Filter assets based on if they are convertible.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "cloud_account_id",
            "in": "query",
            "description": "Cloud account ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alert_categories",
            "in": "query",
            "description": "Category of alerts",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Country codes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsmDashboardListAssetsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/trend": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Asset Trend",
        "description": "Get asset trend for managed, unmanaged, and remediated assets for last 90 days.",
        "operationId": "fetch-assets-by-manage-type-and-remediation",
        "parameters": [
          {
            "name": "timestamp",
            "in": "query",
            "description": "Timestamp",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetTrend"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/top-risk": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Asset Top Risks",
        "description": "Get the list of top risks for assets.",
        "operationId": "get-top-risks",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsmAssetsTopRisks"
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/internet-exposure-risk": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Internet Exposure Risk Distribution",
        "description": "Get the internet exposure risk statistics of every asset type for last 24 hours",
        "operationId": "fetch-internet-exposure-asm-assets",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsmInternetExposureRisk"
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/geolocation": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Assets Count Across Location",
        "operationId": "fetch-asset-by-geo-location",
        "responses": {
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsByGeoLocation"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/count": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Convertible Assets Count",
        "description": "Get the total number of convertible assets.",
        "operationId": "get-asset-counts",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsmDashboardAssetCounts"
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asset_id}": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Asset Details by ID",
        "description": "Get asset overview or details by asset id.",
        "operationId": "get-asset-details",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "description": "Asset ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "asset_type",
            "in": "query",
            "description": "Asset type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manage_type",
            "in": "query",
            "description": "Manage type",
            "required": false,
            "schema": {
              "type": "string",
              "default": "UNMANAGED"
            }
          },
          {
            "name": "all_asset_details",
            "in": "query",
            "description": "Set it true to fetch all asset details.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asset_id}/vulnerability": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Vulnerabilities in an Asset by ID",
        "description": "Returns list of all the vulnerabilities in an asset by ID. You can use this endpoint to get the details that are displayed in the Top Risks from Unmanaged Assets widget.",
        "operationId": "asset-vulnerability",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "description": "Asset ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot time in milliseconds",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "examples": {
              "Example for 1st January 2023": {
                "value": 1672531200000
              }
            }
          },
          {
            "name": "asset_type",
            "in": "query",
            "description": "Asset type is the types of scanned assets.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Domain",
                "ResponsiveIP"
              ]
            }
          },
          {
            "name": "manage_type",
            "in": "query",
            "description": "Asset management type indicates if the asset is managed by Prisma Cloud.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "MANAGED",
                "UNMANAGED"
              ]
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page is the token from the previous API call to fetch the remaining data.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InferredCveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Asset not found"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{assetId}/flowlog-relationships": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Flow Logs of Unmanaged Assets",
        "description": "Fetch traffic flow log between internet-exposed (unmanaged) and secure (managed) assets.",
        "operationId": "fetch-flowlog-relationships",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "description": "ID of unmanaged asset",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot date",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsmAssetFlowLogRelationshipsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asmAssetId}/service": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get List of Service for an Asset",
        "description": "Get the list of services for assets by asset-id.",
        "operationId": "fetch-asm-services-linked-to-asset",
        "parameters": [
          {
            "name": "asmAssetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetSideCarAsmServices"
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/vulnerability": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Impacted Distros for a Vulnerability",
        "description": "Get the list of all the distributions(distros) and its packages that are impacted by the vulnerability based on the CVE ID.",
        "operationId": "vulnerability",
        "parameters": [
          {
            "name": "cve_id",
            "in": "query",
            "description": "CVE id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VulnerabilityResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/snoozed-regex": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Snooze Regex Pattern",
        "description": "Retrieve the list of regex patterns used to snooze or unsnooze assets. You can snooze or unsnooze assets that match a regex pattern. These patterns can be fetched using this API.",
        "operationId": "list-snoozed-pattern",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnoozedRegexResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/filters": {
      "get": {
        "tags": [
          "Discovery and Exposure Management"
        ],
        "summary": "Get Asset Filters",
        "description": "Returns the list of supported asset filters and their values. You can use these filters and their values on other APIs to fetch the required assets.",
        "operationId": "get-asset-filters",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetFilterResponse"
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CloudAccountDetails": {
        "type": "object",
        "properties": {
          "accountId": {
            "title": "Account ID",
            "type": "string"
          },
          "accountName": {
            "title": "Account name",
            "type": "string"
          },
          "cloudType": {
            "title": "Cloud types",
            "type": "string",
            "enum": [
              "AWS",
              "GCP",
              "AZURE",
              "ALIBABA_CLOUD"
            ]
          }
        }
      },
      "CloudAccountsList": {
        "type": "object",
        "properties": {
          "cloudAccounts": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudAccountDetails"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "path": {
            "type": "string"
          }
        }
      },
      "AccountConversionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "conversionStatus": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "path": {
            "type": "string"
          }
        }
      },
      "AccountConversionResponseList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountConversionResponse"
            }
          }
        }
      },
      "AssetInventoryRequest": {
        "type": "object",
        "properties": {
          "snapshotDate": {
            "title": "Snapshot date",
            "type": "integer",
            "format": "int64"
          },
          "cloudTypes": {
            "title": "Cloud types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Cloud types",
              "type": "string",
              "enum": [
                "AWS",
                "GCP",
                "AZURE",
                "ALIBABA_CLOUD"
              ]
            },
            "enum": [
              "AWS",
              "GCP",
              "AZURE",
              "ALIBABA_CLOUD"
            ]
          },
          "assetTypes": {
            "title": "Asset types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Asset types",
              "type": "string",
              "default": "['Domain', 'ResponsiveIP']"
            },
            "default": "['Domain', 'ResponsiveIP']"
          },
          "manageType": {
            "title": "Manage type",
            "type": "string",
            "default": "UNMANAGED",
            "enum": [
              "MANAGED",
              "UNMANAGED"
            ]
          },
          "serviceTypes": {
            "title": "Service types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Service types",
              "type": "string"
            }
          },
          "nextPageToken": {
            "title": "Next page token",
            "type": "string"
          },
          "searchText": {
            "title": "Search text",
            "type": "string"
          },
          "snoozeStatus": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string",
              "description": "Indicates if the notifications from these assets are snoozed.",
              "enum": [
                "SNOOZED",
                "ACTIVE"
              ]
            }
          },
          "accountMappingStatus": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string",
              "description": "**Mapped** indicates that the asset is connected to a parent account or organizational unit (OU) on Prisma Cloud, whereas **unmapped** signifies that the asset is not associated with any parent account or OU on Prisma Cloud.",
              "enum": [
                "MAPPED",
                "UNMAPPED"
              ]
            }
          }
        }
      },
      "AssetInventory": {
        "type": "object",
        "properties": {
          "asmAssetId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "cloudType": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP",
                "ALIBABA_CLOUD"
              ]
            }
          },
          "dateAdded": {
            "type": "integer",
            "format": "int64"
          },
          "lastObserved": {
            "type": "integer",
            "format": "int64"
          },
          "snoozeStatus": {
            "type": "string"
          },
          "snoozeStartTs": {
            "type": "integer",
            "format": "int64"
          },
          "snoozeEndTs": {
            "type": "integer",
            "format": "int64"
          },
          "reason": {
            "type": "string"
          },
          "temporarySnooze": {
            "type": "boolean"
          }
        }
      },
      "AssetInventoryResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetInventory"
            }
          },
          "nextPageToken": {
            "type": "string"
          },
          "moreData": {
            "type": "boolean"
          }
        }
      },
      "FindingRequest": {
        "type": "object",
        "properties": {
          "snapshotDate": {
            "title": "Snapshot date in ms",
            "type": "integer",
            "format": "int64"
          },
          "types": {
            "title": "List of types",
            "type": "array",
            "items": {
              "title": "List of types",
              "type": "string"
            }
          },
          "severities": {
            "title": "List of severities",
            "type": "array",
            "items": {
              "title": "List of severities",
              "type": "string",
              "enum": [
                "High",
                "Critical",
                "Medium",
                "Low"
              ]
            },
            "enum": [
              "High",
              "Critical",
              "Medium",
              "Low"
            ]
          },
          "nextPageToken": {
            "type": "string"
          }
        }
      },
      "Finding": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "severity": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "FindingResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Finding"
            }
          },
          "nextPageToken": {
            "type": "string"
          }
        }
      },
      "FindingFilter": {
        "type": "object",
        "properties": {
          "types": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "severities": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AssetUnsnoozeRequest": {
        "type": "object",
        "properties": {
          "assets": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "regex": {
            "type": "string"
          }
        }
      },
      "AssetSnoozeRequest": {
        "type": "object",
        "properties": {
          "assets": {
            "description": "List of asset ids",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "temporarySnooze": {
            "description": "True to snooze the notifications temporarily and false to snooze the notifications permanently. To snooze notifications temporarily, you must also specify the snoozeTimeRange.",
            "type": "boolean"
          },
          "snoozeTimeRange": {
            "$ref": "#/components/schemas/RelativeTimeRangeConfig"
          },
          "reason": {
            "description": "Reason for snooze.",
            "type": "string"
          },
          "regex": {
            "type": "string",
            "description": "Regular expression to filter the assets. The snooze setting will be applied to all the assets that match this regular expression."
          }
        }
      },
      "RelativeTimeDuration": {
        "type": "object",
        "properties": {
          "unit": {
            "type": "string",
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month",
              "year",
              "epoch",
              "login"
            ]
          },
          "amount": {
            "type": "integer",
            "description": "A value for the time unit.",
            "format": "int32"
          }
        }
      },
      "RelativeTimeRangeConfig": {
        "title": "Snooze time range config",
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/RelativeTimeDuration"
          },
          "type": {
            "type": "string",
            "description": "Value must be **relative** to indicate relative time range model."
          }
        }
      },
      "AsmAssetsInfo": {
        "title": "List of assets",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "SideCarAssetEmailDetails": {
        "type": "object",
        "properties": {
          "pcAssetId": {
            "title": "Prisma Cloud asset ID",
            "type": "string"
          },
          "asmAssetId": {
            "title": "CDEM asset ID",
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "title": "Name",
            "type": "string"
          },
          "cloudTypes": {
            "title": "Set of cloud types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Set of cloud types",
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP",
                "ALIBABA_CLOUD"
              ]
            }
          },
          "cloudAccountId": {
            "title": "Cloud account ID",
            "type": "string"
          },
          "cloudAccountName": {
            "title": "Cloud account name",
            "type": "string"
          },
          "conversionStatus": {
            "title": "Conversion status",
            "type": "string",
            "enum": [
              "DISCOVERED",
              "IN_PROGRESS",
              "UNABLE_TO_CONVERT",
              "FAILED",
              "CONVERTED"
            ]
          },
          "type": {
            "title": "Type",
            "type": "string"
          },
          "snoozeStatus": {
            "type": "string"
          },
          "snoozeStartTs": {
            "type": "integer",
            "format": "int64"
          },
          "snoozeEndTs": {
            "type": "integer",
            "format": "int64"
          },
          "reason": {
            "type": "string"
          },
          "temporarySnooze": {
            "type": "boolean"
          },
          "isFlowlogRelationshipAvailable": {
            "type": "boolean"
          },
          "snapshotDate": {
            "title": "Snapshot date in ms",
            "type": "integer",
            "format": "int64"
          },
          "userEmailIds": {
            "title": "List of user email ids",
            "type": "array",
            "items": {
              "title": "List of user email ids",
              "type": "string"
            }
          },
          "asmAssets": {
            "title": "List of assets",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AsmAssetsInfo"
            }
          },
          "comment": {
            "title": "Optional email comment",
            "type": "string"
          }
        }
      },
      "ResourceTypeAggregation": {
        "type": "object",
        "properties": {
          "cloudTypes": {
            "title": "Cloud types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Cloud types",
              "type": "string",
              "enum": [
                "AWS",
                "GCP",
                "AZURE",
                "ALIBABA_CLOUD"
              ]
            },
            "enum": [
              "AWS",
              "GCP",
              "AZURE",
              "ALIBABA_CLOUD"
            ]
          },
          "snapshotDate": {
            "title": "Snapshot date",
            "type": "integer",
            "format": "int64"
          },
          "serviceTypes": {
            "title": "Service types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Service types",
              "type": "string"
            }
          },
          "assetTypes": {
            "title": "Asset types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Asset types",
              "type": "string",
              "default": "['Domain', 'ResponsiveIP']"
            },
            "default": "['Domain', 'ResponsiveIP']"
          },
          "manageType": {
            "title": "Manage type",
            "type": "string",
            "default": "UNMANAGED",
            "enum": [
              "MANAGED",
              "UNMANAGED"
            ]
          },
          "snoozeStatus": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "accountMappingStatus": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string",
              "description": "**Mapped** indicates that the asset is connected to a parent account or organizational unit (OU) on Prisma Cloud, whereas **unmapped** signifies that the asset is not associated with any parent account or OU on Prisma Cloud.",
              "enum": [
                "MAPPED",
                "UNMAPPED"
              ]
            }
          }
        }
      },
      "AssetCountView": {
        "type": "object",
        "properties": {
          "assetType": {
            "title": "Asset type",
            "type": "string"
          },
          "count": {
            "title": "Value of count",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AssetL2View": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetCountView"
            }
          }
        }
      },
      "CloudTypeAggregation": {
        "type": "object",
        "properties": {
          "snapshotDate": {
            "title": "Snapshot Date in ms",
            "type": "integer",
            "format": "int64"
          },
          "assetTypes": {
            "title": "Asset types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Asset types",
              "type": "string",
              "default": "['Domain', 'ResponsiveIP']"
            },
            "default": "['Domain', 'ResponsiveIP']"
          },
          "manageType": {
            "title": "Manage type",
            "type": "string",
            "default": "UNMANAGED",
            "enum": [
              "MANAGED",
              "UNMANAGED"
            ]
          },
          "serviceTypes": {
            "title": "Service types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Service types",
              "type": "string"
            }
          },
          "cloudTypes": {
            "title": "Cloud types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Cloud types",
              "type": "string",
              "enum": [
                "AWS",
                "GCP",
                "AZURE",
                "ALIBABA_CLOUD"
              ]
            },
            "enum": [
              "AWS",
              "GCP",
              "AZURE",
              "ALIBABA_CLOUD"
            ]
          },
          "snoozeStatus": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "accountMappingStatus": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string",
              "description": "**Mapped** indicates that the asset is connected to a parent account or organizational unit (OU) on Prisma Cloud, whereas **unmapped** signifies that the asset is not associated with any parent account or OU on Prisma Cloud.",
              "enum": [
                "MAPPED",
                "UNMAPPED"
              ]
            }
          }
        }
      },
      "CloudDistribution": {
        "type": "object",
        "properties": {
          "value": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudTypeCount"
            }
          }
        }
      },
      "CloudTypeCount": {
        "type": "object",
        "properties": {
          "cloudType": {
            "title": "Cloud type",
            "type": "string",
            "enum": [
              "AWS",
              "AZURE",
              "GCP",
              "ALIBABA_CLOUD"
            ]
          },
          "count": {
            "title": "Value of count",
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AsmServicesList": {
        "type": "object",
        "properties": {
          "value": {
            "title": "List of services",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Service"
            }
          },
          "totalCount": {
            "title": "Total count of services",
            "type": "integer",
            "format": "int32"
          },
          "nextPageToken": {
            "title": "Next page token",
            "type": "string"
          }
        }
      },
      "Service": {
        "title": "List of services",
        "type": "object",
        "properties": {
          "id": {
            "title": "Service ID",
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "title": "Service name",
            "type": "string"
          },
          "serviceType": {
            "title": "Service type",
            "type": "string"
          }
        }
      },
      "AsmSideCarServiceDetails": {
        "type": "object",
        "properties": {
          "overview": {
            "$ref": "#/components/schemas/Overview"
          },
          "ips": {
            "title": "List of IPs",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ip"
            }
          },
          "certificates": {
            "title": "List of certificates",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Certificate"
            }
          },
          "serviceDetails": {
            "title": "Service details",
            "type": "object",
            "additionalProperties": {
              "title": "Service details",
              "type": "object"
            }
          }
        }
      },
      "Certificate": {
        "title": "List of certificates",
        "type": "object",
        "properties": {
          "certificate": {
            "type": "string"
          },
          "issuerName": {
            "type": "string"
          },
          "validFrom": {
            "type": "integer",
            "format": "int64"
          },
          "validTo": {
            "type": "integer",
            "format": "int64"
          },
          "lastObserved": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Ip": {
        "title": "List of IPs",
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "cloudType": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "lastObserved": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Overview": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          },
          "serviceType": {
            "type": "string"
          },
          "port": {
            "type": "integer",
            "format": "int32"
          },
          "firstObserved": {
            "type": "integer",
            "format": "int64"
          },
          "lastObserved": {
            "type": "integer",
            "format": "int64"
          },
          "ipsCount": {
            "type": "integer",
            "format": "int32"
          },
          "certificatesCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "BenchmarkingResponse": {
        "type": "object",
        "properties": {
          "topPercentile": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "AccountDetails": {
        "title": "List of convertible accounts",
        "type": "object",
        "properties": {
          "name": {
            "title": "Name",
            "type": "string"
          },
          "id": {
            "title": "Account ID",
            "type": "string"
          },
          "cloudType": {
            "title": "Cloud type",
            "type": "string"
          },
          "assetsCount": {
            "title": "Count of assets",
            "type": "integer",
            "format": "int64"
          },
          "conversionStatus": {
            "title": "Status of account conversion",
            "type": "string"
          },
          "conversionMessage": {
            "title": "Conversion message",
            "type": "string"
          }
        }
      },
      "ConvertibleCloudAccounts": {
        "type": "object",
        "properties": {
          "nextPageToken": {
            "title": "Next page token",
            "type": "string"
          },
          "count": {
            "title": "Count of convertible accounts",
            "type": "integer",
            "format": "int32"
          },
          "value": {
            "title": "List of convertible accounts",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountDetails"
            }
          }
        }
      },
      "AsmDashboardListAssetsResponse": {
        "type": "object",
        "properties": {
          "value": {
            "title": "List of assets",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "nextPageToken": {
            "title": "Next page token",
            "type": "string"
          }
        }
      },
      "Asset": {
        "title": "List of assets",
        "type": "object",
        "properties": {
          "id": {
            "title": "Asset ID",
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "title": "Asset name",
            "type": "string"
          },
          "type": {
            "title": "Asset type",
            "type": "string"
          },
          "issuesMetadata": {
            "title": "List of issues metadata",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IssuesMetadata"
            }
          },
          "cloudTypes": {
            "title": "List of cloud types",
            "type": "array",
            "items": {
              "title": "List of cloud types",
              "type": "string"
            }
          },
          "isConvertible": {
            "title": "Convertible",
            "type": "boolean"
          },
          "cloudAccountId": {
            "title": "Cloud account ID",
            "type": "string"
          },
          "cloudAccountName": {
            "title": "Cloud account name",
            "type": "string"
          },
          "conversionStatus": {
            "title": "Account conversion status",
            "type": "string"
          }
        }
      },
      "IssuesMetadata": {
        "title": "List of issues metadata",
        "type": "object",
        "properties": {
          "alertCategories": {
            "type": "string"
          },
          "issueTypes": {
            "type": "string"
          }
        }
      },
      "AssetTrend": {
        "type": "object",
        "properties": {
          "ts": {
            "title": "Timestamp",
            "type": "integer",
            "format": "int64"
          },
          "managedAssetCount": {
            "title": "Count of managed assets",
            "type": "integer",
            "format": "int64"
          },
          "unmanagedAssetCount": {
            "title": "Count of unmanaged assets",
            "type": "integer",
            "format": "int64"
          },
          "remediatedAssetCount": {
            "title": "Count of remediated assets",
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AsmAssetsTopRisks": {
        "type": "object",
        "properties": {
          "value": {
            "title": "List of risks",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Risk"
            }
          }
        }
      },
      "Risk": {
        "title": "List of risks",
        "type": "object",
        "properties": {
          "alertCategories": {
            "title": "Alert categories",
            "type": "string"
          },
          "convertibleCount": {
            "title": "Count of convertible assests",
            "type": "integer",
            "format": "int32"
          },
          "nonConvertibleCount": {
            "title": "Count of non-convertible assets",
            "type": "integer",
            "format": "int32"
          },
          "totalCount": {
            "title": "Total count of assets",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AsmInternetExposureRisk": {
        "type": "object",
        "properties": {
          "lastScanTs": {
            "title": "Timestamp of last CDEM scan",
            "type": "integer",
            "format": "int64"
          },
          "managedAsset": {
            "$ref": "#/components/schemas/Assets"
          },
          "unManagedAsset": {
            "$ref": "#/components/schemas/Assets"
          },
          "remediatedAsset": {
            "$ref": "#/components/schemas/Assets"
          },
          "unmanagedAssetsRatio": {
            "$ref": "#/components/schemas/AssetsRatio"
          }
        }
      },
      "Assets": {
        "title": "Remediated assets",
        "type": "object",
        "properties": {
          "count": {
            "title": "Count of assets",
            "type": "integer",
            "format": "int64"
          },
          "delta": {
            "title": "Delta of last 24hrs",
            "type": "number",
            "format": "double"
          }
        }
      },
      "AssetsRatio": {
        "title": "Unmanaged assets ratio",
        "type": "object",
        "properties": {
          "value": {
            "title": "Ratio value",
            "type": "number",
            "format": "double"
          },
          "delta": {
            "title": "Delta of last 24hrs",
            "type": "number",
            "format": "double"
          }
        }
      },
      "AssetsByGeoLocation": {
        "type": "object",
        "properties": {
          "value": {
            "title": "List of assets grouped by geolocation",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeoLocation"
            }
          }
        }
      },
      "GeoLocation": {
        "title": "List of assets grouped by geolocation",
        "type": "object",
        "properties": {
          "country": {
            "title": "Country name",
            "type": "string"
          },
          "count": {
            "title": "Asset count",
            "type": "integer",
            "format": "int32"
          },
          "convertible": {
            "title": "Convertible assets count",
            "type": "integer",
            "format": "int32"
          },
          "nonConvertible": {
            "title": "Non-convertible assets count",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AsmDashboardAssetCounts": {
        "type": "object",
        "properties": {
          "convertible": {
            "title": "Count of convertible assets",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AsmAssetFlowLogRelationshipsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Data"
          }
        }
      },
      "Connection": {
        "title": "List of connections",
        "type": "object",
        "properties": {
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "bytes": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Data": {
        "type": "object",
        "properties": {
          "connections": {
            "title": "List of connections",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Connection"
            }
          },
          "nodes": {
            "title": "List of nodes",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Node"
            }
          }
        }
      },
      "Node": {
        "title": "List of nodes",
        "type": "object",
        "properties": {
          "id": {
            "title": "ID",
            "type": "string"
          },
          "assetManageType": {
            "title": "Asset manage type",
            "type": "string"
          },
          "name": {
            "title": "Name",
            "type": "string"
          },
          "serviceName": {
            "title": "Service name",
            "type": "string"
          },
          "assetCategory": {
            "title": "Asset category",
            "type": "string"
          },
          "ipAddresses": {
            "title": "List of IP addressess",
            "type": "array",
            "items": {
              "title": "List of IP addressess",
              "type": "string"
            }
          },
          "vpcName": {
            "title": "VPC name",
            "type": "string"
          },
          "cloudAccountId": {
            "title": "Cloud account ID",
            "type": "string"
          },
          "cloudAccountName": {
            "title": "Cloud account name",
            "type": "string"
          },
          "cloudAccountRegionName": {
            "title": "Cloud account region",
            "type": "string"
          }
        }
      },
      "AssetSideCarAsmServices": {
        "type": "object",
        "properties": {
          "value": {
            "title": "List of services",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Service"
            }
          },
          "nextPageToken": {
            "title": "Next page token",
            "type": "string"
          }
        }
      },
      "VulnerabilityResponse": {
        "type": "object",
        "properties": {
          "cveId": {
            "type": "string"
          },
          "cvssScore": {
            "type": "number",
            "format": "float"
          },
          "severity": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "impactedDistros": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImpactedDistro"
            }
          }
        }
      },
      "SnoozedRegexResponse": {
        "type": "object",
        "properties": {
          "regex": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ImpactedDistro": {
        "type": "object",
        "properties": {
          "distro": {
            "type": "string"
          },
          "impactCount": {
            "type": "integer",
            "format": "int32"
          },
          "distroDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DistroDetails"
            }
          }
        }
      },
      "InferredCveResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InferredCveMetaData"
            }
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "nextPageToken": {
            "title": "Next page token",
            "type": "string"
          }
        }
      },
      "InferredCveMetaData": {
        "type": "object",
        "properties": {
          "cveId": {
            "type": "string"
          },
          "cvssScore": {
            "type": "number",
            "format": "double"
          },
          "severity": {
            "type": "string"
          },
          "packageName": {
            "type": "string"
          },
          "confidence": {
            "type": "string"
          },
          "distro": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "firstObserved": {
            "type": "string",
            "format": "date-time"
          },
          "matchType": {
            "type": "string"
          }
        }
      },
      "DistroDetails": {
        "type": "object",
        "properties": {
          "cvssScore": {
            "type": "number",
            "format": "float"
          },
          "packageName": {
            "type": "string"
          },
          "release": {
            "type": "string"
          },
          "severity": {
            "type": "string"
          }
        }
      },
      "AssetFilterResponse": {
        "type": "object",
        "properties": {
          "serviceTypes": {
            "title": "List of service types",
            "type": "array",
            "items": {
              "title": "List of service types",
              "type": "string"
            }
          },
          "cloudTypes": {
            "title": "List of cloud types",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "List of cloud types",
              "type": "string"
            }
          },
          "assetTypes": {
            "title": "List of asset types",
            "type": "array",
            "items": {
              "title": "List of asset types",
              "type": "string"
            }
          },
          "snoozeStatus": {
            "title": "List of snooze status",
            "type": "array",
            "items": {
              "title": "List of snooze status",
              "type": "string"
            }
          },
          "accountMappingStatus": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "**Mapped** indicates that the asset is connected to a parent account or organizational unit (OU) on Prisma Cloud, whereas **unmapped** signifies that the asset is not associated with any parent account or OU on Prisma Cloud.",
              "enum": [
                "MAPPED",
                "UNMAPPED"
              ]
            }
          }
        }
      }
    },
    "securitySchemes": {
      "x-redlock-auth": {
        "description": "The x-redlock-auth value is a JSON Web Token (JWT).",
        "in": "header",
        "name": "x-redlock-auth",
        "type": "apiKey"
      }
    }
  }
}
