{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    },
    {
      "url": "https://api2.prismacloud.io"
    },
    {
      "url": "https://api3.prismacloud.io"
    },
    {
      "url": "https://api4.prismacloud.io"
    },
    {
      "url": "https://api.anz.prismacloud.io"
    },
    {
      "url": "https://api.eu.prismacloud.io"
    },
    {
      "url": "https://api2.eu.prismacloud.io"
    },
    {
      "url": "https://api.gov.prismacloud.io"
    },
    {
      "url": "https://api.prismacloud.cn"
    },
    {
      "url": "https://api.ca.prismacloud.io"
    },
    {
      "url": "https://api.sg.prismacloud.io"
    },
    {
      "url": "https://api.uk.prismacloud.io"
    },
    {
      "url": "https://api.ind.prismacloud.io"
    },
    {
      "url": "https://api.jp.prismacloud.io"
    },
    {
      "url": "https://api.fr.prismacloud.io"
    }
  ],
  "tags": [
    {
      "name": "Cloud Discovery and Exposure Management",
      "description": "Discovery and Exposure Management(CDEM) APIs help you in identifying unmanaged or exposed assets that must be secured."
    }
  ],
  "paths": {
    "/asm/api/v1/convert-cloud-account": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Onboard Cloud Accounts",
        "description": "Onboard the cloud accounts to CSPM in order to secure the unmanaged assets identified by the CDEM dashboard.",
        "operationId": "onboardCloudAccounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudAccountsList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountConversionResponseList"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Assets List",
        "description": "Get the list of assets based on cloud-type, asset-type, manage-type, and service-type.",
        "operationId": "assetInventoryForL3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetInventoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asset_id}/finding": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Findings of an Asset ",
        "description": "Get the list of findings of an asset by asset id. Findings are security issues, including vulnerabilities discovered on the asset. ",
        "operationId": "getAssetFindings",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "description": "ID of asset",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asset_id}/finding/filters": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Findings Filter",
        "description": "Get the list of filters and their possible values based on which you can retrieve the findings of an asset.",
        "operationId": "getFindingFilters",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "description": "ID of asset",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/email": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Send email to logged in user, with asset details",
        "description": "Sends email with details of assets.",
        "operationId": "sendAssetDetailEmailFromSidecar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SidecarOverview"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/aggregation-by-resource-type": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Aggregated Asset Count by Asset Type",
        "description": "Get count of assets aggregated by asset type based on cloud provider,service type,asset-type, and manage-type.",
        "operationId": "getAssetCountByAssetTypeForL2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceTypeAggregation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/aggregation-by-cloud-type": {
      "post": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Aggregated Asset Count by Cloud Type",
        "description": "Get count of assets aggregated by cloud service provider.",
        "operationId": "getAssetsAggregatedByProviderForL1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudTypeAggregation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/service": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Services",
        "description": "Get the list of services.",
        "operationId": "listServices",
        "parameters": [
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot date",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/service/{serviceId}": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Service Details",
        "description": "Get details of a service by service id",
        "operationId": "fetchAsmServiceDetails",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "ID of the service",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all_service_detail",
            "in": "query",
            "description": "Expand service details input",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/industry-benchmarks": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Industry Benchmark Data",
        "description": "Get industry benchmark data which is used to identify the vulnerabilities and security risks.",
        "operationId": "getIndustryBenchmarks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/convertible-accounts": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Convertible Accounts",
        "description": "Get the list of accounts that are not managed by CSPM but can be onboarded to CSPM.",
        "operationId": "getConvertibleCloudAccounts",
        "parameters": [
          {
            "name": "alert_categories",
            "in": "query",
            "description": "Category of alerts",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Country code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Convertible Assets",
        "description": "Get the list of unmanaged assets that can be onboarded to CSPM.",
        "operationId": "listAssets",
        "parameters": [
          {
            "name": "convertible",
            "in": "query",
            "description": "Convertible input",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloud_account_id",
            "in": "query",
            "description": "Cloud account ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alert_categories",
            "in": "query",
            "description": "Category of alerts",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Country codes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/trend": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Trend for last 90 days",
        "description": "Get asset trend for managed, unmanaged, and remediated assets.",
        "operationId": "fetchAssetsByManageTypeAndRemediation",
        "parameters": [
          {
            "name": "timestamp",
            "in": "query",
            "description": "Timestamp",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetTrend"
                  }
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/top-risk": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Top Risks",
        "description": "Get the list of top risks for assets.",
        "operationId": "getTopRisks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/internet-exposure-risk": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Internet Exposure Risk Distribution",
        "description": "Get the internet exposure risk statistics of every asset type for last 24 hours",
        "operationId": "fetchInternetExposureAsmAssets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsmInternetExposureRisk"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/geolocation": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Assets Count Across Location",
        "operationId": "fetchAssetByGeoLocation",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsByGeoLocation"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/dashboard/asset/count": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Convertible Assets Count",
        "description": "Get the total number of convertible assets.",
        "operationId": "getAssetCounts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asset_id}": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Details by ID",
        "description": "Get asset overview or details by asset id.",
        "operationId": "getAssetDetails",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "description": "Asset ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot date",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "asset_type",
            "in": "query",
            "description": "Asset type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manage_type",
            "in": "query",
            "description": "Manage type",
            "required": false,
            "schema": {
              "type": "string",
              "default": "UNMANAGED"
            }
          },
          {
            "name": "all_asset_details",
            "in": "query",
            "description": "Set it true to fetch all asset details.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/{asmAssetId}/service": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get List of Service for an Asset",
        "description": "Get the list of services for assets by asset-id.",
        "operationId": "fetchAsmServicesLinkedToAsset",
        "parameters": [
          {
            "name": "asmAssetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_date",
            "in": "query",
            "description": "Snapshot date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Next page token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/asm/api/v1/asset/filters": {
      "get": {
        "tags": [
          "Cloud Discovery and Exposure Management"
        ],
        "summary": "Get Asset Filters",
        "description": "Gets the list of supported asset filters and their values based on which you can fetch asset details.",
        "operationId": "getAssetFilters",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetFilterResponse"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CloudAccountDetails": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          },
          "cloudType": {
            "type": "string"
          }
        }
      },
      "CloudAccountsList": {
        "type": "object",
        "properties": {
          "cloudAccounts": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudAccountDetails"
            }
          }
        },
        "description": "List of cloud accounts."
      },
      "AccountConversionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "conversionStatus": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "path": {
            "type": "string"
          }
        }
      },
      "AccountConversionResponseList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountConversionResponse"
            }
          }
        }
      },
      "AssetInventoryRequest": {
        "type": "object",
        "properties": {
          "snapshotDate": {
            "type": "integer",
            "format": "int64"
          },
          "cloudTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assetTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "manageType": {
            "type": "string"
          },
          "serviceTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "nextPageToken": {
            "type": "string"
          },
          "searchText": {
            "type": "string"
          }
        },
        "description": "Asset Inventory request"
      },
      "FindingRequest": {
        "type": "object",
        "properties": {
          "snapshotDate": {
            "type": "integer",
            "format": "int64"
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "severities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Finding request"
      },
      "SidecarOverview": {
        "type": "object",
        "properties": {
          "pcAssetId": {
            "type": "string"
          },
          "asmAssetId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "cloudTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP",
                "ALIBABA_CLOUD"
              ]
            }
          },
          "cloudAccountId": {
            "type": "string"
          },
          "cloudAccountName": {
            "type": "string"
          },
          "conversionStatus": {
            "type": "string",
            "enum": [
              "DISCOVERED",
              "IN_PROGRESS",
              "UNABLE_TO_CONVERT",
              "FAILED",
              "CONVERTED"
            ]
          },
          "type": {
            "type": "string"
          }
        },
        "description": "Asset overview"
      },
      "ResourceTypeAggregation": {
        "type": "object",
        "properties": {
          "cloudTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "snapshotDate": {
            "type": "integer",
            "format": "int64"
          },
          "serviceTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assetTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "manageType": {
            "type": "string"
          }
        },
        "description": "Resource type aggregation."
      },
      "CloudTypeAggregation": {
        "type": "object",
        "properties": {
          "snapshotDate": {
            "type": "integer",
            "format": "int64"
          },
          "assetTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "manageType": {
            "type": "string"
          },
          "serviceTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cloudTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Cloud type aggregation."
      },
      "AssetTrend": {
        "type": "object",
        "properties": {
          "ts": {
            "type": "integer",
            "format": "int64"
          },
          "managedAssetCount": {
            "type": "integer",
            "format": "int64"
          },
          "unmanagedAssetCount": {
            "type": "integer",
            "format": "int64"
          },
          "remediatedAssetCount": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AsmInternetExposureRisk": {
        "type": "object",
        "properties": {
          "lastScanTs": {
            "type": "integer",
            "format": "int64"
          },
          "managedAsset": {
            "$ref": "#/components/schemas/Assets"
          },
          "unManagedAsset": {
            "$ref": "#/components/schemas/Assets"
          },
          "remediatedAsset": {
            "$ref": "#/components/schemas/Assets"
          },
          "unmanagedAssetsRatio": {
            "$ref": "#/components/schemas/AssetsRatio"
          }
        }
      },
      "Assets": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int64"
          },
          "delta": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "AssetsRatio": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "format": "double"
          },
          "delta": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "AssetsByGeoLocation": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeoLocation"
            }
          }
        }
      },
      "GeoLocation": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "convertible": {
            "type": "integer",
            "format": "int32"
          },
          "nonConvertible": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AssetFilterResponse": {
        "type": "object",
        "properties": {
          "serviceTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cloudTypes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assetTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "x-redlock-auth": {
        "description": "The x-redlock-auth value is a JSON Web Token (JWT).",
        "in": "header",
        "name": "x-redlock-auth",
        "type": "apiKey"
      }
    }
  }
}
