{
  "openapi": "3.0.1",
  "info": {
    "title": "Cloud Accounts API",
    "description": "APIs for cloudAccount ops",
    "version": "3.0.1"
  },
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    },
    {
      "url": "https://api2.prismacloud.io"
    },
    {
      "url": "https://api3.prismacloud.io"
    },
    {
      "url": "https://api4.prismacloud.io"
    }
  ],
  "paths": {
    "/cas/v1/aws_template": {
      "post": {
        "tags": [
          "Cloud Accounts"
        ],
        "description": "Generate and Download the CFT/Terraform Templates",
        "summary": "CHANGE ME",
        "operationId": "generateTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AWSTemplateGenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Template Generated Successfully"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Tenant License Expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "405": {
            "description": "Wrong Http Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "425": {
            "description": "Too Early to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Failed with an exception.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/cas/v1/aws_template/presigned_url": {
      "post": {
        "tags": [
          "Cloud Accounts"
        ],
        "description": "Generate the CFT/Terraform Templates Link",
        "summary": "CHANGE ME TOO",
        "operationId": "generateTemplateAndReturnCFTLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AWSTemplateGenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Template Generated Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Tenant License Expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "405": {
            "description": "Wrong Http Method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "425": {
            "description": "Too Early to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Failed with an exception.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 CHECKPOINT",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "302 MOVED_TEMPORARILY",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "305 USE_PROXY",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 PAYLOAD_TOO_LARGE",
              "413 REQUEST_ENTITY_TOO_LARGE",
              "414 URI_TOO_LONG",
              "414 REQUEST_URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "419 INSUFFICIENT_SPACE_ON_RESOURCE",
              "420 METHOD_FAILURE",
              "421 DESTINATION_LOCKED",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "message": {
            "type": "string"
          },
          "debugMessage": {
            "type": "string"
          }
        }
      },
      "CloudAccount": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "accountTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "cloudType": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "parentId": {
            "type": "string"
          },
          "storageScanEnabled": {
            "type": "boolean"
          },
          "addedOnTs": {
            "type": "integer",
            "format": "int64"
          },
          "parentName": {
            "type": "string"
          },
          "accountType": {
            "type": "string",
            "enum": [
              "account",
              "masterServiceAccount",
              "compartment",
              "management_group",
              "organization",
              "tenant",
              "workspace_domain"
            ]
          },
          "deleted": {
            "type": "boolean"
          },
          "protectionMode": {
            "type": "string"
          },
          "deploymentType": {
            "type": "string"
          },
          "customerName": {
            "type": "string"
          },
          "customerPrismaId": {
            "type": "integer",
            "format": "int64"
          },
          "createdEpochMillis": {
            "type": "integer",
            "format": "int64"
          },
          "createdBy": {
            "type": "string"
          },
          "lastModifiedEpochMillis": {
            "type": "integer",
            "format": "int64"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "deploymentTypeDescription": {
            "type": "string"
          },
          "features": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureDetails"
            }
          }
        }
      },
      "FeatureDetails": {
        "type": "object",
        "properties": {
          "featureName": {
            "type": "string"
          },
          "featureMode": {
            "type": "string"
          },
          "createdTs": {
            "type": "integer",
            "format": "int64"
          },
          "lastUpdatedTs": {
            "type": "integer",
            "format": "int64"
          },
          "featureState": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          }
        }
      },
      "AzureTokenRequest": {
        "type": "object",
        "properties": {
          "resource": {
            "type": "string"
          }
        }
      },
      "AzureTokenResponse": {
        "type": "object",
        "properties": {
          "rawToken": {
            "$ref": "#/components/schemas/IAuthenticationResultResponse"
          },
          "meta": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "IAuthenticationResultResponse": {
        "type": "object",
        "properties": {
          "accessTokenType": {
            "type": "string"
          },
          "expiresOn": {
            "type": "integer",
            "format": "int64"
          },
          "idToken": {
            "type": "string"
          },
          "accessToken": {
            "type": "string"
          },
          "expiresAfter": {
            "type": "integer",
            "format": "int64"
          },
          "expiresOnDate": {
            "type": "string",
            "format": "date-time"
          },
          "multipleResourceRefreshToken": {
            "type": "boolean"
          }
        }
      },
      "AwsLoggingAccount": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          },
          "loggingAccountBucketMap": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/AwsLoggingAccountBucket"
            }
          }
        }
      },
      "AwsLoggingAccountBucket": {
        "type": "object",
        "properties": {
          "monitoredAccountId": {
            "type": "string"
          },
          "bucketId": {
            "type": "integer",
            "format": "int32"
          },
          "bucketName": {
            "type": "string"
          },
          "bucketRegion": {
            "type": "string"
          },
          "bucketPathPrefix": {
            "type": "string"
          },
          "kmsKeyArn": {
            "type": "string"
          },
          "featureName": {
            "type": "string"
          }
        }
      },
      "AwsMonitoredAccount": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "accountTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "cloudType": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "parentId": {
            "type": "string"
          },
          "storageScanEnabled": {
            "type": "boolean"
          },
          "addedOnTs": {
            "type": "integer",
            "format": "int64"
          },
          "parentName": {
            "type": "string"
          },
          "accountType": {
            "type": "string",
            "enum": [
              "account",
              "masterServiceAccount",
              "compartment",
              "management_group",
              "organization",
              "tenant",
              "workspace_domain"
            ]
          },
          "deleted": {
            "type": "boolean"
          },
          "protectionMode": {
            "type": "string"
          },
          "deploymentType": {
            "type": "string"
          },
          "customerName": {
            "type": "string"
          },
          "customerPrismaId": {
            "type": "integer",
            "format": "int64"
          },
          "createdEpochMillis": {
            "type": "integer",
            "format": "int64"
          },
          "createdBy": {
            "type": "string"
          },
          "lastModifiedEpochMillis": {
            "type": "integer",
            "format": "int64"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "deploymentTypeDescription": {
            "type": "string"
          },
          "features": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureDetails"
            }
          },
          "monitoredAccountId": {
            "type": "integer",
            "format": "int32"
          },
          "awsLoggingAccounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AwsLoggingAccount"
            }
          },
          "subscriptionUrl": {
            "type": "string"
          },
          "topicSubscriptionArnMap": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "customerRedlockId": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PermissionsRequest": {
        "type": "object",
        "properties": {
          "accountType": {
            "type": "string"
          },
          "deploymentType": {
            "type": "string"
          },
          "awsPartition": {
            "type": "string"
          },
          "authenticationType": {
            "type": "string"
          }
        }
      },
      "AppCapabilityPermissionMapping": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "feature": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "permissions": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "roles": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "services": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OciCredentialsData": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string"
          },
          "userOcid": {
            "type": "string"
          },
          "groupName": {
            "type": "string"
          },
          "policyName": {
            "type": "string"
          },
          "homeRegion": {
            "type": "string"
          },
          "privateKey": {
            "type": "string"
          },
          "fingerPrint": {
            "type": "string"
          },
          "tenancyId": {
            "type": "string"
          }
        }
      },
      "AWSTokenRequest": {
        "type": "object",
        "properties": {
          "durationInSeconds": {
            "type": "integer",
            "format": "int32"
          },
          "shouldRefreshMaxSessionDuration": {
            "type": "boolean"
          },
          "featureType": {
            "type": "string",
            "enum": [
              "AWS_S3_FLOWLOG_ACCOUNT_TOKEN",
              "AWS_CLOUD_TRAIL",
              "NONE"
            ]
          },
          "accountOnboardingType": {
            "type": "string",
            "enum": [
              "MONITORED",
              "LOGGING"
            ]
          },
          "tenantName": {
            "type": "string"
          }
        }
      },
      "AssumeRoleResult": {
        "type": "object",
        "properties": {
          "sdkResponseMetadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          },
          "sdkHttpMetadata": {
            "$ref": "#/components/schemas/SdkHttpMetadata"
          },
          "credentials": {
            "$ref": "#/components/schemas/Credentials"
          },
          "assumedRoleUser": {
            "$ref": "#/components/schemas/AssumedRoleUser"
          },
          "packedPolicySize": {
            "type": "integer",
            "format": "int32"
          },
          "sourceIdentity": {
            "type": "string"
          }
        }
      },
      "AssumedRoleUser": {
        "type": "object",
        "properties": {
          "assumedRoleId": {
            "type": "string"
          },
          "arn": {
            "type": "string"
          }
        }
      },
      "AwsTokenResponse": {
        "type": "object",
        "properties": {
          "rawToken": {
            "$ref": "#/components/schemas/AssumeRoleResult"
          },
          "meta": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "Credentials": {
        "type": "object",
        "properties": {
          "accessKeyId": {
            "type": "string"
          },
          "secretAccessKey": {
            "type": "string"
          },
          "sessionToken": {
            "type": "string"
          },
          "expiration": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          }
        }
      },
      "SdkHttpMetadata": {
        "type": "object",
        "properties": {
          "httpHeaders": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "httpStatusCode": {
            "type": "integer",
            "format": "int32"
          },
          "allHttpHeaders": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "FeaturesAvailableRequest": {
        "type": "object",
        "properties": {
          "accountType": {
            "type": "string"
          },
          "deploymentType": {
            "type": "string"
          },
          "awsPartition": {
            "type": "string"
          },
          "rootSyncEnabled": {
            "type": "boolean"
          }
        }
      },
      "FeaturesAvailableResponse": {
        "type": "object",
        "properties": {
          "cloudType": {
            "type": "string"
          },
          "deploymentType": {
            "type": "string"
          },
          "accountType": {
            "type": "string"
          },
          "licenseType": {
            "type": "string"
          },
          "supportedFeatures": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GCPTemplateGenRequest": {
        "type": "object",
        "properties": {
          "accountType": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "flowLogBucket": {
            "type": "string"
          },
          "authenticationType": {
            "type": "string"
          },
          "features": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CloudRegions": {
        "type": "object",
        "properties": {
          "regions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IamToken": {
        "type": "object",
        "properties": {
          "exception": {
            "type": "object",
            "properties": {
              "stackTrace": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "classLoaderName": {
                      "type": "string"
                    },
                    "moduleName": {
                      "type": "string"
                    },
                    "moduleVersion": {
                      "type": "string"
                    },
                    "methodName": {
                      "type": "string"
                    },
                    "fileName": {
                      "type": "string"
                    },
                    "lineNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "className": {
                      "type": "string"
                    },
                    "nativeMethod": {
                      "type": "boolean"
                    }
                  }
                }
              },
              "message": {
                "type": "string"
              },
              "suppressed": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "className": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    },
                    "localizedMessage": {
                      "type": "string"
                    }
                  }
                }
              },
              "localizedMessage": {
                "type": "string"
              }
            }
          },
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "tokenType": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer",
            "format": "int64"
          },
          "expiration": {
            "type": "integer",
            "format": "int64"
          },
          "tokenValid": {
            "type": "boolean"
          }
        }
      },
      "IbmAccessTokenResponse": {
        "type": "object",
        "properties": {
          "rawToken": {
            "$ref": "#/components/schemas/IamToken"
          },
          "meta": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "AwsCloudAccount": {
        "type": "object",
        "properties": {
          "cloudAccount": {
            "$ref": "#/components/schemas/CloudAccount"
          },
          "roleArn": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "defaultAccountGroupId": {
            "type": "string"
          },
          "defaultAccountGroupName": {
            "type": "string"
          },
          "memberRoleName": {
            "type": "string"
          },
          "memberExternalId": {
            "type": "string"
          },
          "hasMemberRole": {
            "type": "boolean"
          },
          "templateUrl": {
            "type": "string"
          },
          "memberTemplateUrl": {
            "type": "string"
          },
          "eventbridgeRuleNamePrefix": {
            "type": "string"
          },
          "customerId": {
            "type": "integer",
            "format": "int32"
          },
          "hierarchySelection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HierarchySelection"
            }
          },
          "groupIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "HierarchySelection": {
        "type": "object",
        "properties": {
          "resourceId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "nodeType": {
            "type": "string",
            "enum": [
              "ORG",
              "FOLDER",
              "PROJECT",
              "SUBSCRIPTION",
              "MANAGEMENT_GROUP",
              "TENANT",
              "ACCOUNT",
              "OU"
            ]
          },
          "selectionType": {
            "type": "string",
            "enum": [
              "ALL",
              "INCLUDE",
              "EXCLUDE"
            ]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "LoggingAccountMapRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "bucketId": {
            "type": "integer",
            "format": "int32"
          },
          "action": {
            "type": "string"
          },
          "featureName": {
            "type": "string"
          }
        }
      },
      "CloudAccountFeatureSaveRequest": {
        "required": [
          "featureName"
        ],
        "type": "object",
        "properties": {
          "featureName": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "AzureCloudAccount": {
        "type": "object",
        "properties": {
          "cloudAccount": {
            "$ref": "#/components/schemas/CloudAccount"
          },
          "tenantId": {
            "type": "string"
          },
          "servicePrincipalId": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "defaultAccountGroupId": {
            "type": "string"
          },
          "defaultAccountGroupName": {
            "type": "string"
          },
          "memberSyncEnabled": {
            "type": "boolean"
          },
          "templateUrl": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "customerId": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AwsEventSubscriptionUpdateRequest": {
        "type": "object",
        "properties": {
          "tenant": {
            "type": "string"
          },
          "subscriptionArn": {
            "type": "string"
          }
        }
      },
      "AddComputeLimitRequest": {
        "required": [
          "importedAccounts",
          "limit"
        ],
        "type": "object",
        "properties": {
          "limit": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "importedAccounts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CloudAccountFeature": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "accountTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "cloudType": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "parentId": {
            "type": "string"
          },
          "storageScanEnabled": {
            "type": "boolean"
          },
          "addedOnTs": {
            "type": "integer",
            "format": "int64"
          },
          "parentName": {
            "type": "string"
          },
          "accountType": {
            "type": "string",
            "enum": [
              "account",
              "masterServiceAccount",
              "compartment",
              "management_group",
              "organization",
              "tenant",
              "workspace_domain"
            ]
          },
          "deleted": {
            "type": "boolean"
          },
          "protectionMode": {
            "type": "string"
          },
          "deploymentType": {
            "type": "string"
          },
          "customerName": {
            "type": "string"
          },
          "customerPrismaId": {
            "type": "integer",
            "format": "int64"
          },
          "createdEpochMillis": {
            "type": "integer",
            "format": "int64"
          },
          "createdBy": {
            "type": "string"
          },
          "lastModifiedEpochMillis": {
            "type": "integer",
            "format": "int64"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "deploymentTypeDescription": {
            "type": "string"
          },
          "features": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureDetails"
            }
          },
          "feature": {
            "$ref": "#/components/schemas/FeatureDetails"
          }
        }
      },
      "CloudAccountModel": {
        "type": "object",
        "properties": {
          "customerName": {
            "type": "string"
          },
          "customerPrismaId": {
            "type": "integer",
            "format": "int64"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "accountId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "cloudType": {
            "type": "string"
          },
          "accountType": {
            "type": "string"
          },
          "deploymentType": {
            "type": "string"
          },
          "parentId": {
            "type": "string"
          },
          "parentName": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "deleted": {
            "type": "boolean"
          },
          "protectionMode": {
            "type": "string"
          },
          "createdEpochMillis": {
            "type": "integer",
            "format": "int64"
          },
          "createdBy": {
            "type": "string"
          },
          "lastModifiedEpochMillis": {
            "type": "integer",
            "format": "int64"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "deploymentTypeDescription": {
            "type": "string"
          },
          "hasConfigError": {
            "type": "boolean"
          },
          "storageScanEnabled": {
            "type": "boolean"
          },
          "addedOn": {
            "type": "integer",
            "format": "int64"
          },
          "permissionStatusList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudAccountPermissionStatusApiRequest"
            }
          },
          "features": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureDetails"
            }
          }
        }
      },
      "CloudAccountPermissionStatusApiRequest": {
        "type": "object",
        "properties": {
          "subComponent": {
            "type": "string"
          },
          "component": {
            "type": "string"
          },
          "statusCode": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "remediation": {
            "type": "string"
          },
          "statusTs": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AWSTemplateGenRequest": {
        "type": "object",
        "properties": {
          "accountType": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "awsPartition": {
            "type": "string"
          },
          "features": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "templateFormatType": {
            "type": "string",
            "enum": [
              "terraform",
              "cft"
            ]
          }
        }
      },
      "AccountGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "lastModifiedTs": {
            "type": "integer",
            "format": "int64"
          },
          "autoCreated": {
            "type": "boolean"
          }
        }
      },
      "APIErrorObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 CHECKPOINT",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "302 MOVED_TEMPORARILY",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "305 USE_PROXY",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 PAYLOAD_TOO_LARGE",
              "413 REQUEST_ENTITY_TOO_LARGE",
              "414 URI_TOO_LONG",
              "414 REQUEST_URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "419 INSUFFICIENT_SPACE_ON_RESOURCE",
              "420 METHOD_FAILURE",
              "421 DESTINATION_LOCKED",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          },
          "message": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "innererror": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "innerError": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "writeOnly": true
          }
        }
      },
      "DeploymentTypeListResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeploymentTypeResponse"
            }
          }
        }
      },
      "DeploymentTypeResponse": {
        "type": "object",
        "properties": {
          "deploymentType": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          }
        }
      },
      "AccountGroupInfo": {
        "type": "object",
        "properties": {
          "groupName": {
            "type": "string"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "groupId": {
            "type": "string"
          },
          "autoCreated": {
            "type": "boolean"
          }
        }
      },
      "CloudAccountFeatureModel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          }
        }
      },
      "IbmCloudAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "parentId": {
            "type": "integer",
            "format": "int32"
          },
          "parentAccountId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "cloudType": {
            "type": "string",
            "enum": [
              "all",
              "aws",
              "azure",
              "gcp",
              "alibaba_cloud",
              "oci",
              "other",
              "ibm"
            ]
          },
          "accountType": {
            "type": "string",
            "enum": [
              "account",
              "masterServiceAccount",
              "compartment",
              "management_group",
              "organization",
              "tenant",
              "workspace_domain"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "lastModifiedTs": {
            "type": "integer",
            "format": "int64"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "storageScanEnabled": {
            "type": "boolean"
          },
          "storageUUID": {
            "type": "string"
          },
          "protectionMode": {
            "type": "string",
            "enum": [
              "MONITOR",
              "MONITOR_AND_PROTECT"
            ]
          },
          "ingestionMode": {
            "type": "integer",
            "format": "int32"
          },
          "cloudAccountOwner": {
            "type": "string"
          },
          "deploymentType": {
            "type": "string",
            "enum": [
              "az",
              "az-us-gov",
              "az-cn",
              "aws",
              "aws-us-gov",
              "aws-cn",
              "oci",
              "oci-us-gov",
              "oci-cn",
              "gcp",
              "gcp-us-gov",
              "gcp-cn",
              "ali-int",
              "ali-us-gov",
              "ali-cn",
              "ali-fn",
              "ibm",
              "ibm-us-gov",
              "ibm-cn"
            ]
          },
          "features": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudAccountFeatureModel"
            }
          },
          "associatedAccountGroupsCount": {
            "type": "integer",
            "format": "int32"
          },
          "accountGroupInfos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountGroupInfo"
            }
          },
          "cloudAccountOwnerCount": {
            "type": "integer",
            "format": "int32"
          },
          "svcIdIamId": {
            "type": "string"
          },
          "apiKey": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "customerId": {
            "type": "integer",
            "format": "int32"
          },
          "addedOn": {
            "type": "integer",
            "format": "int64"
          },
          "groupIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ApiErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/NestedApiErrorResponse"
          }
        }
      },
      "NestedApiErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "innerError": {
            "$ref": "#/components/schemas/NestedInnerApiErrorResponse"
          }
        }
      },
      "NestedInnerApiErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "supportedValues": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IngestionCloudAccount": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "integer",
            "format": "int32"
          },
          "customerName": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "cloudType": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "accountType": {
            "type": "integer",
            "format": "int32"
          },
          "credentials": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "homeRegionId": {
            "type": "string"
          },
          "regionIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "policyName": {
            "type": "string"
          }
        }
      },
      "GcpCloudAccountResponse": {
        "type": "object",
        "properties": {
          "cloudAccount": {
            "$ref": "#/components/schemas/CloudAccount"
          },
          "hierarchySelection": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HierarchySelection"
            }
          },
          "parentId": {
            "type": "string"
          },
          "customerId": {
            "type": "integer",
            "format": "int32"
          },
          "projectId": {
            "type": "string"
          },
          "serviceAccountEmail": {
            "type": "string"
          },
          "authenticationType": {
            "type": "string"
          },
          "flowLogStorageBucket": {
            "type": "string"
          },
          "compressionEnabled": {
            "type": "boolean"
          },
          "accountGroupCreationMode": {
            "type": "string"
          },
          "dataflowEnabledProject": {
            "type": "string"
          }
        }
      },
      "ComputeLimitStatusResponse": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "format": "int32"
          },
          "isAccountImported": {
            "type": "boolean"
          }
        }
      },
      "GCPTokenRequest": {
        "type": "object",
        "properties": {
          "tokenExpirationDurationInSeconds": {
            "type": "integer",
            "format": "int32"
          },
          "serviceUrl": {
            "type": "string"
          }
        }
      },
      "GCPTokenResponse": {
        "type": "object",
        "properties": {
          "rawToken": {
            "type": "string"
          },
          "sessionToken": {
            "type": "string"
          },
          "expirationTime": {
            "type": "integer",
            "format": "int64"
          },
          "meta": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "CloudAccountPermissionStatus": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "feature": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "remediation": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "lastRunEpochMillis": {
            "type": "integer",
            "format": "int64"
          },
          "lastSuccessEpochMillis": {
            "type": "integer",
            "format": "int64"
          },
          "lastErrorEpochMillis": {
            "type": "integer",
            "format": "int64"
          },
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudAccountPermissionStatus"
            }
          }
        }
      },
      "AzureTemplateGenRequest": {
        "type": "object",
        "properties": {
          "accountType": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          },
          "tenantId": {
            "type": "string"
          },
          "rootSyncEnabled": {
            "type": "boolean"
          },
          "features": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "monitorFlowLogs": {
            "type": "boolean"
          },
          "deploymentType": {
            "type": "string"
          }
        }
      },
      "ComponentStatusModel": {
        "type": "object",
        "properties": {
          "component": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "remediation": {
            "type": "string"
          }
        }
      },
      "ComponentStatusUpdateRequest": {
        "type": "object",
        "properties": {
          "statusList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComponentStatusModel"
            }
          }
        }
      },
      "AwsLoggingAccountResponse": {
        "type": "object",
        "properties": {
          "loggingAccountId": {
            "type": "string"
          },
          "loggingAccountName": {
            "type": "string"
          },
          "roleArn": {
            "type": "string"
          },
          "loggingAccountBucketMap": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AwsLoggingAccountBucket"
            }
          }
        }
      },
      "CloudAccountIdentity": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "cloudType": {
            "type": "string",
            "enum": [
              "all",
              "aws",
              "azure",
              "gcp",
              "alibaba_cloud",
              "oci",
              "other",
              "ibm"
            ]
          },
          "parentAccountId": {
            "type": "string"
          },
          "parentName": {
            "type": "string"
          },
          "isOnboarded": {
            "type": "boolean"
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "writeOnly": true
          }
        }
      },
      "CloudAccountMetadataPage": {
        "type": "object",
        "properties": {
          "cloudAccounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudAccountIdentity"
            }
          }
        }
      },
      "GCPTokenRequestV2": {
        "type": "object",
        "properties": {
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GCPTokenResponseV2": {
        "type": "object",
        "properties": {
          "rawAuthToken": {
            "type": "string"
          },
          "expirationTime": {
            "type": "integer",
            "format": "int64"
          },
          "meta": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "CloudAccountFeaturePatchRequest": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "x-redlock-auth": {
        "description": "The x-redlock-auth value is a JSON Web Token (JWT).",
        "in": "header",
        "name": "x-redlock-auth",
        "type": "apiKey"
      }
    }
  }
}
