{
  "openapi": "3.0.3",
  "info": {
    "title": "config-service API",
    "version": "0.0.1-SNAPSHOT"
  },
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    },
    {
      "url": "https://api2.prismacloud.io"
    },
    {
      "url": "https://api3.prismacloud.io"
    },
    {
      "url": "https://api4.prismacloud.io"
    }
  ],
  "paths": {
    "/config/v3/account/storageUUID/{id}": {
      "get": {
        "summary": "Fetch Account Config By Storage UUID",
        "tags": [
          "Cloud Accounts"
        ],
        "description": "Returns the account config details for the specified storage UUID.",
        "operationId": "get-account-config-by-storage-uuid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/config/v3/account/{id}": {
      "get": {
        "summary": "Fetch Account Config By PCDS Account ID",
        "tags": [
          "Cloud Accounts"
        ],
        "description": "Returns the account config details for the specified PCDS Account ID. If 'initialize' parameter is set to 'true', the account will be pre-initialized for the Azure subscription. 'initialize' is only used during Azure flow.",
        "operationId": "get-account-config-by-pcds-account-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initialize",
            "in": "query",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      },
      "put": {
        "summary": "Update the account config for the specified PCDS Account ID",
        "tags": [
          "Cloud Accounts"
        ],
        "description": "Updates the specified account config and returns the updated account config.",
        "operationId": "update-pcds-account-config",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          },
          "401": {
            "description": "unauthenticated_access"
          },
          "403": {
            "description": "unauthorized_access"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/config/v3/account/{id}/status": {
      "get": {
        "summary": "Performs a Permissions Check for the Given PCDS Account",
        "tags": [
          "Cloud Accounts"
        ],
        "description": "Returns details pertaining to the rudimentary permissions check - contains details pertaining to any missing permissions.",
        "operationId": "get-status-pcds-account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/config/v3/account/{subscriptionId}/acl-script": {
      "get": {
        "summary": "Generate an Azure Terraform Script",
        "tags": [
          "Cloud Accounts"
        ],
        "description": "Returns an Azure Network ACL script for the given Azure Subscription ID and PCDS Tenant ID that should fix all network connectivity issues.",
        "operationId": "generate-network-acl-script-by-account-id",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/octet-stream": {}
            }
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/config/v3/tenant/{tenantId}/{subscriptionId}/terraform-script": {
      "get": {
        "summary": "Generate an Azure Terraform Script",
        "tags": [
          "Cloud Accounts"
        ],
        "description": "Returns an Azure Terraform Script for the given Azure Subscription ID and PCDS Tenant ID that comes with all necessary permissions.",
        "operationId": "get-azure-terraform-script",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/octet-stream": {}
            }
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccountConfig": {
        "type": "object",
        "properties": {
          "redlockAccountId": {
            "format": "int32",
            "type": "integer"
          },
          "accountId": {
            "type": "string"
          },
          "storageUUID": {
            "$ref": "#/components/schemas/UUID"
          },
          "cloudType": {
            "$ref": "#/components/schemas/CloudType"
          },
          "accountType": {
            "$ref": "#/components/schemas/AccountType"
          },
          "redlockTenantId": {
            "format": "int64",
            "type": "integer"
          },
          "storageScanStatus": {
            "$ref": "#/components/schemas/StorageScanStatus"
          },
          "dssTenantId": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          },
          "scanOption": {
            "$ref": "#/components/schemas/AccountScanOption"
          },
          "cloudConfig": {
            "$ref": "#/components/schemas/CspAccessConfig"
          }
        }
      },
      "AccountScanOption": {
        "enum": [
          "none",
          "realtime",
          "historical",
          "full",
          "custom"
        ],
        "type": "string"
      },
      "AccountType": {
        "enum": [
          "regular",
          "organization",
          "tenant"
        ],
        "type": "string"
      },
      "AwsScriptRequest": {
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "isCommonLogging": {
            "type": "boolean"
          },
          "cloudtrailRegion": {
            "type": "string"
          },
          "snsEndpoint": {
            "type": "string"
          },
          "cloudtrailRequest": {
            "$ref": "#/components/schemas/ResourceOnboardingConfig"
          },
          "cloudtrailBucket": {
            "$ref": "#/components/schemas/ResourceOnboardingConfig"
          },
          "snsTopic": {
            "$ref": "#/components/schemas/ResourceOnboardingConfig"
          }
        }
      },
      "CloudTrailRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "roleArn": {
            "type": "string"
          }
        }
      },
      "CloudType": {
        "enum": [
          "aws",
          "gcp",
          "azure"
        ],
        "type": "string"
      },
      "CreditEstimationRequest": {
        "type": "object",
        "properties": {
          "scanOption": {
            "$ref": "#/components/schemas/ResourceScanOption"
          },
          "scanType": {
            "$ref": "#/components/schemas/ResourceScanType"
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceInfo"
            }
          }
        }
      },
      "CspAccessConfig": {
        "type": "object"
      },
      "DSSProfileStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "profile_status": {
            "type": "string"
          },
          "updated_by": {
            "type": "string"
          }
        }
      },
      "DSSUserDataProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "profile_type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "profile_status": {
            "type": "string"
          },
          "data_patterns_rule_1": {
            "$ref": "#/components/schemas/DataPatternRulesOne"
          },
          "created_by": {
            "type": "string"
          },
          "updated_by": {
            "type": "string"
          }
        }
      },
      "DataPatternRules": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "detection_technique": {
            "type": "string"
          },
          "match_type": {
            "type": "string"
          },
          "occurrence_operator_type": {
            "type": "string"
          },
          "occurrence_count": {
            "format": "int32",
            "type": "integer"
          },
          "occurrence_low": {
            "format": "int32",
            "type": "integer"
          },
          "occurrence_high": {
            "format": "int32",
            "type": "integer"
          },
          "confidence_level": {
            "type": "string"
          },
          "supported_confidence_levels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DataPatternRulesOne": {
        "type": "object",
        "properties": {
          "operator_type": {
            "type": "string"
          },
          "data_pattern_rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataPatternRules"
            }
          }
        }
      },
      "JsonNode": {
        "type": "array"
      },
      "ResourceInfo": {
        "type": "object",
        "properties": {
          "resourceName": {
            "type": "string"
          },
          "resourceGroup": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "cloudType": {
            "$ref": "#/components/schemas/CloudType"
          }
        }
      },
      "ResourceOnboardingConfig": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "requestType": {
            "type": "string"
          }
        }
      },
      "ResourceRetrievalFrequency": {
        "enum": [
          "None",
          "Daily",
          "Weekly"
        ],
        "type": "string"
      },
      "ResourceScanOption": {
        "enum": [
          "exposure_only",
          "sensitive_in_publicly_exposed",
          "all"
        ],
        "type": "string"
      },
      "ResourceScanType": {
        "enum": [
          "not_selected",
          "backwardForward",
          "forward",
          "na",
          "systemResources"
        ],
        "type": "string"
      },
      "ResourcesConfigRequest": {
        "type": "object",
        "properties": {
          "enableScanning": {
            "type": "boolean"
          },
          "scanType": {
            "enum": [
              "not_selected",
              "backwardForward",
              "forward",
              "na",
              "systemResources"
            ],
            "type": "string",
            "nullable": true
          },
          "scanOption": {
            "enum": [
              "exposure_only",
              "sensitive_in_publicly_exposed",
              "all"
            ],
            "type": "string",
            "nullable": true
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceInfo"
            }
          }
        }
      },
      "SnippetsForUI": {
        "type": "object",
        "properties": {
          "snippetsEnabled": {
            "type": "boolean"
          },
          "maskLevel": {
            "type": "string"
          }
        }
      },
      "StorageScanStatus": {
        "enum": [
          "initialized",
          "enabled",
          "disabled",
          "maxcreditexceeded",
          "licenseexpired"
        ],
        "type": "string"
      },
      "TenantResourcesReportFrequency": {
        "type": "object",
        "properties": {
          "sizeReportingFrequency": {
            "$ref": "#/components/schemas/ResourceRetrievalFrequency"
          }
        }
      },
      "UUID": {
        "format": "uuid",
        "pattern": "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}",
        "type": "string"
      },
      "UserTrailConfig": {
        "type": "object",
        "properties": {
          "externalId": {
            "type": "string"
          },
          "roleArn": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "snsSubscriptionEndpoint": {
            "type": "string"
          },
          "cloudtrailName": {
            "type": "string"
          },
          "cloudtrailRegion": {
            "type": "string"
          },
          "resource": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "x-redlock-auth": {
        "description": "The x-redlock-auth value is a JSON Web Token (JWT).",
        "in": "header",
        "name": "x-redlock-auth",
        "type": "apiKey"
      }
    }
  }
}
