{
  "openapi": "3.0.3",
  "info": {
    "title": "config-service API",
    "version": "1.0.2"
  },
  "tags": [
    {
      "description": null,
      "name": "Data Security Onboarding"
    }
  ],
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    },
    {
      "url": "https://api2.prismacloud.io"
    },
    {
      "url": "https://api3.prismacloud.io"
    },
    {
      "url": "https://api4.prismacloud.io"
    },
    {
      "url": "https://api.anz.prismacloud.io"
    },
    {
      "url": "https://api.eu.prismacloud.io"
    },
    {
      "url": "https://api2.eu.prismacloud.io"
    },
    {
      "url": "https://api.gov.prismacloud.io"
    },
    {
      "url": "https://api.prismacloud.cn"
    },
    {
      "url": "https://api.ca.prismacloud.io"
    },
    {
      "url": "https://api.sg.prismacloud.io"
    },
    {
      "url": "https://api.uk.prismacloud.io"
    },
    {
      "url": "https://api.ind.prismacloud.io"
    },
    {
      "url": "https://api.jp.prismacloud.io"
    },
    {
      "url": "https://api.fr.prismacloud.io"
    }
  ],
  "paths": {
    "/config/v3/account": {
      "post": {
        "summary": "Save Account Config With Given Attributes",
        "description": "Saves account config with the values provided in the JSON payload and returns the config.",
        "operationId": "saveAccountConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Cloud Accounts (All)"
        ]
      }
    },
    "/config/v3/account/awsorg/{id}": {
      "get": {
        "summary": "Fetch Master Account Details (AWS Org)",
        "description": "Returns the necessary attributes that define the AWS ORG account necessary for various PCDS flows.",
        "operationId": "getAwsOrgCloudConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Cloud Accounts (AWS)"
        ]
      }
    },
    "/config/v3/account/awsorg/{id}/status": {
      "get": {
        "summary": "Performs a Permissions Check for the Given PCDS Account (AWS Org)",
        "description": "Returns details pertaining to the rudimentary permissions check - contains details pertaining to any missing permissions.",
        "operationId": "get-status-pcds-aws-org-account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Cloud Accounts (AWS)"
        ]
      }
    },
    "/config/v3/account/storageUUID/{id}": {
      "get": {
        "summary": "Fetch Account Config By Storage UUID",
        "description": "Returns the account config details for the specified storage UUID.",
        "operationId": "get-account-config-by-storage-uuid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Onboarding"
        ]
      }
    },
    "/config/v3/account/{id}": {
      "get": {
        "summary": "Fetch Account Config By PCDS Account ID",
        "description": "Returns the account config details for the specified PCDS Account ID. If 'initialize' parameter is set to 'true', the account will be pre-initialized for the Azure subscription. 'initialize' is only used during Azure flow.",
        "operationId": "get-account-config-by-pcds-account-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initialize",
            "in": "query",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Onboarding"
        ]
      },
      "put": {
        "summary": "Update the account config for the specified PCDS Account ID",
        "description": "Updates the specified account config and returns the updated account config.",
        "operationId": "update-pcds-account-config",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          },
          "401": {
            "description": "unauthenticated_access"
          },
          "403": {
            "description": "unauthorized_access"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Onboarding"
        ]
      }
    },
    "/config/v3/account/{id}/status": {
      "get": {
        "summary": "Performs a Permissions Check for the Given PCDS Account",
        "description": "Returns details pertaining to the rudimentary permissions check - contains details pertaining to any missing permissions.",
        "operationId": "get-status-pcds-account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Onboarding"
        ]
      }
    },
    "/config/v3/account/{subscriptionId}/acl-script": {
      "get": {
        "summary": "Generate an Azure Terraform Script",
        "description": "Returns an Azure Network ACL script for the given Azure Subscription ID and PCDS Tenant ID that should fix all network connectivity issues.",
        "operationId": "generate-network-acl-script-by-account-id",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/octet-stream": {}
            }
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Onboarding"
        ]
      }
    },
    "/config/v3/dss-api/data-pattern/clone/dssTenantId/{dssTenantId}": {
      "post": {
        "summary": "Clone Data Pattern",
        "description": "Clones a data pattern.",
        "operationId": "clone-dss-data-pattern",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonNode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          },
          "400": {
            "description": "bad_request"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      }
    },
    "/config/v3/dss-api/data-pattern/dssTenantId/{dssTenantId}": {
      "get": {
        "summary": "List Data Patterns",
        "description": "Lists all data patterns.",
        "operationId": "get-all-dss-data-patterns",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          },
          "400": {
            "description": "bad_request"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      },
      "post": {
        "summary": "Add Data Pattern",
        "description": "Creates a data pattern.",
        "operationId": "add-dss-data-pattern",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonNode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      }
    },
    "/config/v3/dss-api/data-pattern/dssTenantId/{dssTenantId}/pattern-id/{patternId}": {
      "put": {
        "summary": "Update Data Pattern",
        "description": "Updates a data pattern.",
        "operationId": "update-dss-data-pattern",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patternId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonNode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          },
          "400": {
            "description": "bad_request"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      },
      "delete": {
        "summary": "Delete Data Pattern",
        "description": "Deletes a data pattern.",
        "operationId": "delete-dss-data-pattern",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patternId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          },
          "400": {
            "description": "bad_request"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      }
    },
    "/config/v3/dss-api/data-pattern/name/dssTenantId/{dssTenantId}": {
      "get": {
        "summary": "Get Data Pattern By Name",
        "description": "Lists of all data pattern names with their supported confidence levels.",
        "operationId": "get-dss-data-pattern-name",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          },
          "400": {
            "description": "bad_request"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      }
    },
    "/config/v3/dss-api/data-profile/dssTenantId/{dssTenantId}": {
      "get": {
        "summary": "List Data Profiles",
        "description": "Lists all data profiles for your tenant.",
        "operationId": "get-dss-data-profiles",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      },
      "put": {
        "summary": "Update Data Profile Status",
        "description": "Enables or disables one or more data profiles.",
        "operationId": "enable-disable-dss-data-profiles",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DSSProfileStatus"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      },
      "post": {
        "summary": "Add Data Profile",
        "description": "Creates a data profile.",
        "operationId": "add-dss-data-profile",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DSSUserDataProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          },
          "400": {
            "description": "bad_request"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      }
    },
    "/config/v3/dss-api/data-profile/dssTenantId/{dssTenantId}/id/{profileId}": {
      "get": {
        "summary": "Get Data Profile Details",
        "description": "Returns data profile details for the specified profile ID.",
        "operationId": "get-dss-data-profile-details",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      },
      "put": {
        "summary": "Update Data Profile",
        "description": "Updates a data profile.",
        "operationId": "update-dss-data-profile",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DSSUserDataProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          },
          "400": {
            "description": "bad_request"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      },
      "post": {
        "summary": "Clone Data Profile",
        "description": "Clones a data profile.",
        "operationId": "clone-dss-data-profile",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          },
          "400": {
            "description": "bad_request"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      },
      "delete": {
        "summary": "Delete Data Profile",
        "description": "Deletes a data profile.",
        "operationId": "delete-dss-data-profile",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          },
          "400": {
            "description": "bad_request"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      }
    },
    "/config/v3/dss-api/snippets/dssTenantId/{dssTenantId}": {
      "get": {
        "summary": "Get Snippet Configuration",
        "description": "Returns the snippet masking configuration for your tenant.",
        "operationId": "get-dss-snippets-config",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          },
          "400": {
            "description": "bad_request"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      },
      "post": {
        "summary": "Update Snippet Configuration",
        "description": "Updates the snippet masking configuration for your tenant.",
        "operationId": "update-dss-snippets-config",
        "parameters": [
          {
            "name": "dssTenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnippetsForUI"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "internal_error"
          },
          "400": {
            "description": "bad_request"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      }
    },
    "/config/v3/estimated-credits": {
      "post": {
        "summary": "Perform a Credit Estimation For The Specified Resources.",
        "description": "Returns the total data volume size of all the requested resources and equivalent credits of data volume.",
        "operationId": "getCreditEstimation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditEstimationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          },
          "403": {
            "description": "unauthorized_access"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      }
    },
    "/config/v3/resource/configure": {
      "put": {
        "summary": "Update the Resources Scan Config",
        "description": "Returns the resource scan configs for those that have been updated.",
        "operationId": "configureResources",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcesConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          },
          "403": {
            "description": "unauthorized_access"
          },
          "204": {
            "description": "no_content"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      }
    },
    "/config/v3/resources": {
      "get": {
        "summary": "Fetch All Resources For The Given PCDS Tenant",
        "description": "Returns details for all resources tied to the PCDS Tenant which is extracted from the access token.",
        "operationId": "getResources",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          },
          "403": {
            "description": "unauthorized_access"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      }
    },
    "/config/v3/tenant/acl-script": {
      "get": {
        "summary": "Generate an Azure Terraform Script for all Azure accounts under the specified PCDS Tenant.",
        "description": "Returns an Azure Network ACL script for all accounts under the given PCDS Tenant ID that should fix all network connectivity issues.",
        "operationId": "generateNetworkAclScriptByTenantID",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/octet-stream": {}
            }
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      }
    },
    "/config/v3/tenant/config": {
      "get": {
        "summary": "Fetch The Tenant Config For The Given PCDS Tenant",
        "description": "Returns tenant config details for the specified PCDS Tenant which is extracted from the access token.",
        "operationId": "getTenantConfig",
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "schema": {
              "default": "",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      }
    },
    "/config/v3/tenant/resource/sizing/configure": {
      "put": {
        "summary": "Update the PCDS Tenant Resource Report Frequency",
        "description": "Update the size reporting frequency at global for all tenant resources.",
        "operationId": "updateReportFrequency",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantResourcesReportFrequency"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "no_content"
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          },
          "403": {
            "description": "unauthorized_access"
          },
          "401": {
            "description": "unauthenticated_access"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Settings"
        ]
      }
    },
    "/config/v3/tenant/{tenantId}/{subscriptionId}/terraform-script": {
      "get": {
        "summary": "Generate an Azure Terraform Script",
        "description": "Returns an Azure Terraform Script for the given Azure Subscription ID and PCDS Tenant ID that comes with all necessary permissions.",
        "operationId": "get-azure-terraform-script",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/octet-stream": {}
            }
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "tags": [
          "Data Security Onboarding"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccountConfig": {
        "type": "object",
        "properties": {
          "redlockAccountId": {
            "format": "int32",
            "type": "integer"
          },
          "accountId": {
            "type": "string"
          },
          "storageUUID": {
            "$ref": "#/components/schemas/UUID"
          },
          "cloudType": {
            "$ref": "#/components/schemas/CloudType"
          },
          "accountType": {
            "$ref": "#/components/schemas/AccountType"
          },
          "redlockTenantId": {
            "format": "int64",
            "type": "integer"
          },
          "storageScanStatus": {
            "$ref": "#/components/schemas/StorageScanStatus"
          },
          "dssTenantId": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          },
          "scanOption": {
            "$ref": "#/components/schemas/AccountScanOption"
          },
          "cloudConfig": {
            "$ref": "#/components/schemas/CspAccessConfig"
          }
        }
      },
      "AccountScanOption": {
        "enum": [
          "none",
          "realtime",
          "historical",
          "full",
          "custom"
        ],
        "type": "string"
      },
      "AccountType": {
        "enum": [
          "regular",
          "organization",
          "tenant"
        ],
        "type": "string"
      },
      "AwsScriptRequest": {
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "isCommonLogging": {
            "type": "boolean"
          },
          "cloudtrailRegion": {
            "type": "string"
          },
          "snsEndpoint": {
            "type": "string"
          },
          "cloudtrailRequest": {
            "$ref": "#/components/schemas/ResourceOnboardingConfig"
          },
          "cloudtrailBucket": {
            "$ref": "#/components/schemas/ResourceOnboardingConfig"
          },
          "snsTopic": {
            "$ref": "#/components/schemas/ResourceOnboardingConfig"
          }
        }
      },
      "CloudDatastoreConfig": {
        "type": "object",
        "properties": {
          "resourceId": {
            "type": "string"
          },
          "resourceName": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "dbName": {
            "type": "string"
          },
          "dbEngine": {
            "$ref": "#/components/schemas/CloudDatastoreType"
          },
          "resourceExposure": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "serviceName": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "port": {
            "format": "int32",
            "type": "integer"
          },
          "cloudType": {
            "type": "string"
          },
          "updatedOn": {
            "format": "int64",
            "type": "integer"
          },
          "configuredOn": {
            "format": "int64",
            "type": "integer"
          },
          "isActive": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "CloudDatastoreType": {
        "enum": [
          "mysql",
          "postgresql"
        ],
        "type": "string"
      },
      "CloudTrailRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "roleArn": {
            "type": "string"
          }
        }
      },
      "CloudType": {
        "enum": [
          "aws",
          "gcp",
          "azure"
        ],
        "type": "string"
      },
      "CreditEstimationRequest": {
        "type": "object",
        "properties": {
          "scanOption": {
            "$ref": "#/components/schemas/ResourceScanOption"
          },
          "scanType": {
            "$ref": "#/components/schemas/ResourceScanType"
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceInfo"
            }
          }
        }
      },
      "CspAccessConfig": {
        "type": "object"
      },
      "DSSProfileStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "profile_status": {
            "type": "string"
          },
          "updated_by": {
            "type": "string"
          }
        }
      },
      "DSSUserDataProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "profile_type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "profile_status": {
            "type": "string"
          },
          "data_patterns_rule_1": {
            "$ref": "#/components/schemas/DataPatternRulesOne"
          },
          "created_by": {
            "type": "string"
          },
          "updated_by": {
            "type": "string"
          }
        }
      },
      "DataPatternRules": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "detection_technique": {
            "type": "string"
          },
          "match_type": {
            "type": "string"
          },
          "occurrence_operator_type": {
            "type": "string"
          },
          "occurrence_count": {
            "format": "int32",
            "type": "integer"
          },
          "occurrence_low": {
            "format": "int32",
            "type": "integer"
          },
          "occurrence_high": {
            "format": "int32",
            "type": "integer"
          },
          "confidence_level": {
            "type": "string"
          },
          "supported_confidence_levels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DataPatternRulesOne": {
        "type": "object",
        "properties": {
          "operator_type": {
            "type": "string"
          },
          "data_pattern_rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataPatternRules"
            }
          }
        }
      },
      "JsonNode": {
        "type": "array"
      },
      "ResourceInfo": {
        "type": "object",
        "properties": {
          "resourceName": {
            "type": "string"
          },
          "resourceGroup": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "cloudType": {
            "$ref": "#/components/schemas/CloudType"
          }
        }
      },
      "ResourceOnboardingConfig": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "requestType": {
            "type": "string"
          }
        }
      },
      "ResourceRetrievalFrequency": {
        "enum": [
          "None",
          "Daily",
          "Weekly"
        ],
        "type": "string"
      },
      "ResourceScanOption": {
        "enum": [
          "exposure_only",
          "sensitive_in_publicly_exposed",
          "all",
          "resource_level"
        ],
        "type": "string"
      },
      "ResourceScanType": {
        "enum": [
          "not_selected",
          "backwardForward",
          "forward",
          "na",
          "systemResources"
        ],
        "type": "string"
      },
      "ResourcesConfigRequest": {
        "type": "object",
        "properties": {
          "enableScanning": {
            "type": "boolean"
          },
          "scanType": {
            "enum": [
              "not_selected",
              "backwardForward",
              "forward",
              "na",
              "systemResources"
            ],
            "type": "string",
            "nullable": true
          },
          "scanOption": {
            "enum": [
              "exposure_only",
              "sensitive_in_publicly_exposed",
              "all",
              "resource_level"
            ],
            "type": "string",
            "nullable": true
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceInfo"
            }
          }
        }
      },
      "SnippetsForUI": {
        "type": "object",
        "properties": {
          "snippetsEnabled": {
            "type": "boolean"
          },
          "maskLevel": {
            "type": "string"
          }
        }
      },
      "StorageScanStatus": {
        "enum": [
          "initialized",
          "enabled",
          "disabled",
          "maxcreditexceeded",
          "licenseexpired"
        ],
        "type": "string"
      },
      "TenantResourcesReportFrequency": {
        "type": "object",
        "properties": {
          "sizeReportingFrequency": {
            "$ref": "#/components/schemas/ResourceRetrievalFrequency"
          }
        }
      },
      "UUID": {
        "format": "uuid",
        "pattern": "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}",
        "type": "string"
      },
      "UserTrailConfig": {
        "type": "object",
        "properties": {
          "externalId": {
            "type": "string"
          },
          "roleArn": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "snsSubscriptionEndpoint": {
            "type": "string"
          },
          "cloudtrailName": {
            "type": "string"
          },
          "cloudtrailRegion": {
            "type": "string"
          },
          "resource": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "x-redlock-auth": {
        "description": "The x-redlock-auth value is a JSON Web Token (JWT).",
        "in": "header",
        "name": "x-redlock-auth",
        "type": "apiKey"
      }
    }
  }
}
