{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    },
    {
      "url": "https://api2.prismacloud.io"
    },
    {
      "url": "https://api3.prismacloud.io"
    },
    {
      "url": "https://api4.prismacloud.io"
    },
    {
      "url": "https://api.anz.prismacloud.io"
    },
    {
      "url": "https://api.eu.prismacloud.io"
    },
    {
      "url": "https://api2.eu.prismacloud.io"
    },
    {
      "url": "https://api.gov.prismacloud.io"
    },
    {
      "url": "https://api.prismacloud.cn"
    },
    {
      "url": "https://api.ca.prismacloud.io"
    },
    {
      "url": "https://api.sg.prismacloud.io"
    },
    {
      "url": "https://api.uk.prismacloud.io"
    },
    {
      "url": "https://api.ind.prismacloud.io"
    },
    {
      "url": "https://api.jp.prismacloud.io"
    },
    {
      "url": "https://api.fr.prismacloud.io"
    }
  ],
  "paths": {
    "/audit_logs/v2/tenant/{tenantId}/aws_accounts/{accountId}/eventbridge_config": {
      "get": {
        "tags": [
          "Audit Logs"
        ],
        "summary": "Get Eventbridge configuration details",
        "description": "Returns Eventbridge configuration details for a given account",
        "operationId": "get-eventbridge-configuration-details",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": null
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error occurred",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "example": null
                },
                "example": null
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsEventBridgeConfigRuleView"
                },
                "example": null
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "example": null
                },
                "example": null
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Audit Logs"
        ],
        "summary": "Update Eventbridge configuration",
        "description": "Updates Eventbridge configuration for a given account",
        "operationId": "save-or-update-eventbridge-config",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": null
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error occurred",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "example": null,
                  "items": {
                    "$ref": "#/components/schemas/AuditLogsConfigStatusComponent"
                  }
                },
                "example": null
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": null
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "example": null,
                  "items": {
                    "$ref": "#/components/schemas/AuditLogsConfigStatusComponent"
                  }
                },
                "example": null
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/audit_logs/v2/tenant/{tenantId}/aws_accounts/{accountId}/eventbridge_config/status": {
      "get": {
        "tags": [
          "Audit Logs"
        ],
        "summary": "Get AWS eventbridge config status",
        "description": "Returns AWS eventbridge configuration status for a given account",
        "operationId": "get-eventbridge-configuration-status",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": null
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error occurred",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "example": null
                },
                "example": null
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "example": null
                },
                "example": null
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogsConfigStatusComponent"
                },
                "example": null
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/audit_logs/v2/tenant/{tenantId}/aws_accounts/{accountId}/eventbridge_config/cft_download": {
      "get": {
        "tags": [
          "Audit Logs"
        ],
        "summary": "Generate Eventbridge CFT",
        "description": "Generates Eventbridge CFT for a given AWS account",
        "operationId": "generate-eventbridge-cft",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": null
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error occurred",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "example": null
                },
                "example": null
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "example": null
                },
                "example": null
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "example": null
                },
                "example": null
              }
            }
          }
        },
        "x-public": "true",
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AuditLogsConfigStatusComponent": {
        "type": "object",
        "properties": {
          "component": {
            "type": "string",
            "example": null
          },
          "status": {
            "type": "string",
            "example": null
          },
          "message": {
            "type": "string",
            "example": null
          },
          "remediation": {
            "type": "string",
            "example": null
          },
          "subComponents": {
            "type": "array",
            "example": null,
            "items": {
              "$ref": "#/components/schemas/AuditLogsConfigStatusComponent"
            }
          }
        },
        "example": null
      },
      "AwsEventBridgeConfigRuleView": {
        "type": "object",
        "properties": {
          "customerPrismaId": {
            "type": "integer",
            "format": "int64",
            "example": null
          },
          "accountId": {
            "type": "string",
            "example": null
          },
          "eventbridgeRuleNamePrefix": {
            "type": "string",
            "example": null
          },
          "status": {
            "type": "string",
            "example": null,
            "enum": [
              "PENDING",
              "ENABLED",
              "DISABLED"
            ]
          }
        },
        "example": null
      }
    },
    "securitySchemes": {
      "x-redlock-auth": {
        "description": "The x-redlock-auth value is a JSON Web Token (JWT).",
        "in": "header",
        "name": "x-redlock-auth",
        "type": "apiKey"
      }
    }
  }
}
