{
  "openapi": "3.0.1",
  "info": {
    "title": "Satellite Management APIs",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    },
    {
      "url": "https://api2.prismacloud.io"
    },
    {
      "url": "https://api3.prismacloud.io"
    },
    {
      "url": "https://api4.prismacloud.io"
    },
    {
      "url": "https://api.anz.prismacloud.io"
    },
    {
      "url": "https://api.eu.prismacloud.io"
    },
    {
      "url": "https://api2.eu.prismacloud.io"
    },
    {
      "url": "https://api.gov.prismacloud.io"
    },
    {
      "url": "https://api.prismacloud.cn"
    },
    {
      "url": "https://api.ca.prismacloud.io"
    },
    {
      "url": "https://api.sg.prismacloud.io"
    },
    {
      "url": "https://api.uk.prismacloud.io"
    },
    {
      "url": "https://api.ind.prismacloud.io"
    },
    {
      "url": "https://api.jp.prismacloud.io"
    },
    {
      "url": "https://api.fr.prismacloud.io"
    }
  ],
  "tags": [
    {
      "name": "Settings"
    }
  ],
  "paths": {
    "/appid/api/v1/satellite": {
      "post": {
        "summary": "Add Satellite Details",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterInfo"
              }
            }
          },
          "required": true
        },
        "description": "Add Satellite Details",
        "operationId": "addClusterInfo",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterMetaDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-prisma-tenant-id",
            "in": "header",
            "description": "Prisma ID for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Settings"
        ],
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      },
      "get": {
        "summary": "List Cluster Details",
        "description": "List Cluster Details",
        "operationId": "listClusters",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClusterInfoResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-prisma-tenant-id",
            "in": "header",
            "description": "Prisma ID for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Settings"
        ],
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    },
    "/appid/api/v1/satellite/{id}": {
      "delete": {
        "summary": "Delete Satellite Details",
        "description": "Delete Satellite Details",
        "operationId": "deleteCluster",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-prisma-tenant-id",
            "in": "header",
            "description": "Prisma ID for the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Settings"
        ],
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ClusterInfo": {
        "type": "object",
        "required": [
          "clusterAssetId"
        ],
        "properties": {
          "clusterAssetId": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "ClusterMetaDataResponse": {
        "type": "object",
        "properties": {
          "clusterInfo": {
            "$ref": "#/components/schemas/ClusterInfo"
          },
          "installScript": {
            "type": "string"
          }
        }
      },
      "ClusterInfoResponse": {
        "type": "object",
        "properties": {
          "heartBeatTs": {
            "type": "integer"
          },
          "heartBeatSyncStatus": {
            "type": "string"
          },
          "apiVersion": {
            "type": "string"
          },
          "satelliteVersion": {
            "type": "string"
          },
          "clusterId": {
            "type": "string"
          },
          "clusterName": {
            "type": "string"
          },
          "clusterAssetId": {
            "type": "string"
          },
          "orchestratorPlatform": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message",
          "target"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          },
          "message": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "innerError": {
            "$ref": "#/components/schemas/InnerError",
            "required": [
              "code",
              "message"
            ]
          }
        }
      },
      "InnerError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "innerError": {
            "$ref": "#/components/schemas/InnerError"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        }
      }
    },
    "securitySchemes": {
      "x-redlock-auth": {
        "description": "The x-redlock-auth value is a JSON Web Token (JWT).",
        "in": "header",
        "name": "x-redlock-auth",
        "type": "apiKey"
      }
    }
  }
}
