{
  "openapi": "3.0.1",
  "info": {
    "title": "Widget APIs",
    "contact": {},
    "license": {
      "name": "Public"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    },
    {
      "url": "https://api2.prismacloud.io"
    },
    {
      "url": "https://api3.prismacloud.io"
    },
    {
      "url": "https://api4.prismacloud.io"
    },
    {
      "url": "https://api.anz.prismacloud.io"
    },
    {
      "url": "https://api.eu.prismacloud.io"
    },
    {
      "url": "https://api2.eu.prismacloud.io"
    },
    {
      "url": "https://api.gov.prismacloud.io"
    },
    {
      "url": "https://api.prismacloud.cn"
    },
    {
      "url": "https://api.ca.prismacloud.io"
    },
    {
      "url": "https://api.sg.prismacloud.io"
    },
    {
      "url": "https://api.uk.prismacloud.io"
    },
    {
      "url": "https://api.ind.prismacloud.io"
    },
    {
      "url": "https://api.jp.prismacloud.io"
    },
    {
      "url": "https://api.fr.prismacloud.io"
    }
  ],
  "tags": [
    {
      "name": "Widgets",
      "description": "These APIs are used to fetch the data from some of the widgets that are used to create custom dashboard."
    }
  ],
  "paths": {
    "/adoptionadvisor/api/v2/compute/discovered-secured/trend": {
      "post": {
        "tags": [
          "Widgets"
        ],
        "summary": "Get Discovered and Secured Resources",
        "description": "Get resources detected by Cloud Discovery as well as the resources secured by deployed defenders.\n:::info\nThis endpoint is available on the Prisma Cloud Darwin release only.\n:::\n",
        "operationId": "value-widgets-get-discovered-vs-secured",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/CWPWidgetRequestModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoverVsSecuredResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad_request",
            "content": {}
          },
          "401": {
            "description": "unauthorized_access",
            "content": {}
          },
          "403": {
            "description": "unauthorized",
            "content": {}
          },
          "429": {
            "content": {}
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "x-ga": "24.1.1-darwin",
        "x-public": "true",
        "x-codegen-request-body-name": "body"
      }
    },
    "/adoptionadvisor/api/v2/compute/vulnerabilities/trend": {
      "post": {
        "tags": [
          "Widgets"
        ],
        "summary": "Get Vulnerabilities Trend",
        "description": "Get vulnerabilities discovered and resolved over time across images, hosts, functions, and containers for the impacted resources.\n:::info\nThis endpoint is available on the Prisma Cloud Darwin release only.\n:::\n",
        "operationId": "value-widgets-get-vulnerabilities-trend",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/CWPWidgetRequestModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/VulnerabilitiesTrendResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad_request",
            "content": {}
          },
          "401": {
            "description": "unauthorized_access",
            "content": {}
          },
          "403": {
            "description": "unauthorized",
            "content": {}
          },
          "429": {
            "content": {}
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "x-ga": "24.1.1-darwin",
        "x-public": "true",
        "x-codegen-request-body-name": "body"
      }
    },
    "/adoptionadvisor/api/v2/cspm/riskyasset/trend": {
      "post": {
        "tags": [
          "Widgets"
        ],
        "summary": "Get Assets with Alerts",
        "description": "Get the list of assets generating alerts.\n:::info\nThis endpoint is available on the Prisma Cloud Darwin release only.\n:::\n",
        "operationId": "value-widgets-get-assets-with-alerts",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/AssetsWithAlertsRequestModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsWithUrgentAlerts"
                }
              }
            }
          },
          "400": {
            "description": "bad_request",
            "content": {}
          },
          "401": {
            "description": "unauthorized_access",
            "content": {}
          },
          "403": {
            "description": "unauthorized",
            "content": {}
          },
          "429": {
            "content": {}
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "x-ga": "24.1.1-darwin",
        "x-public": "true",
        "x-codegen-request-body-name": "body"
      }
    }
  },
  "components": {
    "schemas": {
      "AssetsWithAlertsFilter": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the allowed Filter types.",
            "enum": [
              "CLOUD_TYPE",
              "ALERT_SEVERITY"
            ]
          },
          "operator": {
            "type": "string",
            "description": "Only allowed operator for the filter is '='"
          },
          "value": {
            "type": "string",
            "description": "Value for the applied filter"
          }
        }
      },
      "AssetsWithAlertsRequestModel": {
        "type": "object",
        "properties": {
          "filters": {
            "type": "array",
            "description": "List of filters that can be applied for the API",
            "items": {
              "$ref": "#/components/schemas/AssetsWithAlertsFilter"
            }
          },
          "timeRange": {
            "$ref": "#/components/schemas/TimeRangeConfigModel"
          }
        },
        "description": "Model for Assets With Alerts Request"
      },
      "AssetsWithUrgentAlerts": {
        "type": "object",
        "properties": {
          "privilege": {
            "type": "string",
            "description": "privilege"
          },
          "assetsWithAlerts": {
            "type": "array",
            "description": "Assets with Alerts",
            "items": {
              "$ref": "#/components/schemas/DailyAssetWithUrgentAlerts"
            }
          },
          "rowCount": {
            "type": "integer",
            "description": "Row count",
            "format": "int32"
          }
        },
        "description": "Model for Assets With Urgent Alerts Widget api response"
      },
      "CWPWidgetRequestModel": {
        "type": "object",
        "properties": {
          "timeRange": {
            "$ref": "#/components/schemas/TimeRangeConfigModel"
          }
        },
        "description": "Model for Discovered vs Secured and Vulnerabilities Trend"
      },
      "DailyAssetWithUrgentAlerts": {
        "type": "object",
        "properties": {
          "criticalAssets": {
            "type": "integer",
            "description": "criticalAssets",
            "format": "int64"
          },
          "highAssets": {
            "type": "integer",
            "description": "highAssets",
            "format": "int64"
          },
          "mediumAssets": {
            "type": "integer",
            "description": "mediumAssets",
            "format": "int64"
          },
          "lowAssets": {
            "type": "integer",
            "description": "lowAssets",
            "format": "int64"
          },
          "informationalAssets": {
            "type": "integer",
            "description": "informationalAssets",
            "format": "int64"
          },
          "alertsByCloudType": {
            "type": "array",
            "description": "alerts",
            "items": {
              "$ref": "#/components/schemas/DiscoverVsSecured"
            }
          },
          "insertTs": {
            "type": "integer",
            "description": "insertTs",
            "format": "int64"
          }
        },
        "description": "Model for daily Assets With Urgent Alerts"
      },
      "DiscoverVsSecured": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "cloudType"
          },
          "critical": {
            "type": "integer",
            "description": "critical",
            "format": "int64"
          },
          "high": {
            "type": "integer",
            "description": "high",
            "format": "int64"
          },
          "medium": {
            "type": "integer",
            "description": "medium",
            "format": "int64"
          },
          "low": {
            "type": "integer",
            "description": "low",
            "format": "int64"
          },
          "informational": {
            "type": "integer",
            "description": "informational",
            "format": "int64"
          }
        },
        "description": "cloud type and alerts count"
      },
      "DiscoverVsSecuredResponse": {
        "type": "object",
        "properties": {
          "rowCount": {
            "type": "integer",
            "description": "Row count",
            "format": "int32"
          },
          "privilege": {
            "type": "string",
            "description": "privilege"
          },
          "rows": {
            "type": "array",
            "description": "List of vulnerabilities trend data",
            "items": {
              "$ref": "#/components/schemas/DiscoverVsSecured"
            }
          }
        },
        "description": "Model for Discover vs Secured Widget Response"
      },
      "RelativeTimeDurationModel": {
        "type": "object",
        "properties": {
          "unit": {
            "type": "string",
            "description": "Time unit",
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month",
              "year"
            ]
          },
          "amount": {
            "type": "integer",
            "description": "Number of time units",
            "format": "int32"
          }
        },
        "description": "Model for RelativeTimeDuration"
      },
      "RelativeTimeRangeConfigModel": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeRangeConfigModel"
          },
          {
            "required": [
              "value"
            ],
            "type": "object",
            "properties": {
              "value": {
                "$ref": "#/components/schemas/RelativeTimeDurationModel"
              },
              "relativeTimeType": {
                "type": "string",
                "description": "Direction in which to count time. Default = BACKWARD",
                "enum": [
                  "BACKWARD",
                  "FORWARD"
                ]
              }
            },
            "description": "Model for RelativeTimeRangeConfig"
          }
        ]
      },
      "TimeModel": {
        "type": "object",
        "properties": {
          "startTime": {
            "type": "integer",
            "description": "Start timestamp",
            "format": "int64"
          },
          "endTime": {
            "type": "integer",
            "description": "End timestamp",
            "format": "int64"
          }
        },
        "description": "Model for Time"
      },
      "TimeRangeConfigModel": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Time type",
            "enum": [
              "relative"
            ]
          },
          "value": {
            "$ref": "#/components/schemas/RelativeTimeDurationModel"
          }
        },
        "description": "Model for TimeRangeConfig",
        "discriminator": {
          "propertyName": "type"
        }
      },
      "ToNowTimeRangeConfigModel": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TimeRangeConfigModel"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "description": "Time range object",
                "enum": [
                  "MINUTE",
                  "HOUR",
                  "DAY",
                  "WEEK",
                  "MONTH",
                  "YEAR",
                  "EPOCH",
                  "LOGIN"
                ]
              }
            },
            "description": "Model for ToNowTimeRangeConfig"
          }
        ]
      },
      "VulnerabilitiesTrend": {
        "type": "object",
        "properties": {
          "ts": {
            "type": "integer",
            "description": "timestamp",
            "format": "int64"
          },
          "vulStatsImageC": {
            "type": "integer",
            "description": "vulStatsImageC",
            "format": "int64"
          },
          "vulStatsImageH": {
            "type": "integer",
            "description": "vulStatsImageH",
            "format": "int64"
          },
          "vulStatsImageM": {
            "type": "integer",
            "description": "vulStatsImageM",
            "format": "int64"
          },
          "vulStatsImageL": {
            "type": "integer",
            "description": "vulStatsImageL",
            "format": "int64"
          },
          "vulStatsHostC": {
            "type": "integer",
            "description": "vulStatsHostC",
            "format": "int64"
          },
          "vulStatsHostH": {
            "type": "integer",
            "description": "vulStatsHostH",
            "format": "int64"
          },
          "vulStatsHostM": {
            "type": "integer",
            "description": "vulStatsHostM",
            "format": "int64"
          },
          "vulStatsHostL": {
            "type": "integer",
            "description": "vulStatsHostL",
            "format": "int64"
          },
          "vulStatsContainerC": {
            "type": "integer",
            "description": "vulStatsContainerC",
            "format": "int64"
          },
          "vulStatsContainerH": {
            "type": "integer",
            "description": "vulStatsContainerH",
            "format": "int64"
          },
          "vulStatsContainerM": {
            "type": "integer",
            "description": "vulStatsContainerM",
            "format": "int64"
          },
          "vulStatsContainerL": {
            "type": "integer",
            "description": "vulStatsContainerL",
            "format": "int64"
          },
          "vulStatsFunctionC": {
            "type": "integer",
            "description": "vulStatsFunctionC",
            "format": "int64"
          },
          "vulStatsFunctionH": {
            "type": "integer",
            "description": "vulStatsFunctionH",
            "format": "int64"
          },
          "vulStatsFunctionM": {
            "type": "integer",
            "description": "vulStatsFunctionM",
            "format": "int64"
          },
          "vulStatsFunctionL": {
            "type": "integer",
            "description": "vulStatsFunctionL",
            "format": "int64"
          }
        },
        "description": "timestamp, vulnerability stats"
      },
      "VulnerabilitiesTrendResponse": {
        "type": "object",
        "properties": {
          "rowCount": {
            "type": "integer",
            "description": "Row count",
            "format": "int32"
          },
          "privilege": {
            "type": "string",
            "description": "privilege"
          },
          "rows": {
            "type": "array",
            "description": "List of vulnerabilities trend data",
            "items": {
              "$ref": "#/components/schemas/VulnerabilitiesTrend"
            }
          }
        },
        "description": "Model for Vulnerabilities Trend Response"
      }
    },
    "securitySchemes": {
      "x-redlock-auth": {
        "description": "The x-redlock-auth value is a JSON Web Token (JWT).",
        "in": "header",
        "name": "x-redlock-auth",
        "type": "apiKey"
      }
    }
  },
  "x-original-swagger-version": "2.0"
}
