openapi: 3.0.3
info:
 title: AISec API Management service
 description: OpenAPI Specification for the AI Runtime Security API Management Service
 version: 0.0.0


servers:
 - url: 'https://api.sase.paloaltonetworks.com/aisec'
   description: Prisma AIRS API service URL


tags:
 - name: API key
   description: Operations related to API key management
 - name: AI Sec Profile
   description: Operations related to AI security profile management
 - name: DLP Profiles
   description: Operations related to DLP profile management
 - name: Deployment Profiles
   description: Operations related to deployment profile management
 - name: Customer App
   description: Operations related to customer application management
 - name: Scan Logs
   description: Operations related to scan log retrieval
 - name: Oauth
   description: Operations related to OAuth tokens
 - name: Custom Topic
   description: Operations related to custom topic management
 - name: AI Security Policy
   description: Operations related to AI security policy management


paths:
 /v1/mgmt/apikey:
   post:
     summary: Request to create a new API key
     description: Post a new API key
     tags:
       - API key
     operationId: CreateNewAPIKey
     requestBody:
       description: API key creation request object
       required: true
       content:
         application/json:
           schema:
             $ref: '#/components/schemas/APIKeyCreationObject'
     responses:
       200:
         description: Successfully created a new API key
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/APIKeyObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/apikeys/tsg/{tsg_id}:
   get:
     summary: Request to retrieve all API keys and their metadata for a given TSG ID
     description: Get all API keys and their metadata for a given TSG ID
     tags:
       - API key
     operationId: GetAllAPIKeysByTSGId
     parameters:
       - name: tsg_id
         in: path
         description: encoded TSG ID
         required: true
         schema:
           type: string
       - name: offset
         in: query
         description: The offset at which to start fetching more records
         required: true
         schema:
           type: integer
           format: int32
       - name: limit
         in: query
         description: The number of records to return.
         required: true
         schema:
           type: integer
           format: int32
     responses:
       200:
         description: Successfully returned metadata for a given API key
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/PaginatedAPIKeyObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/apikey/delete/{api_key_name}:
   delete:
     summary: Request to delete a given API key
     description: Delete a given API key and its associated customer app
     tags:
       - API key
     security:
       - Auth: []
     operationId: DeleteAPIKey
     parameters:
       - name: api_key_name
         in: path
         description: API key Name to delete
         required: true
         schema:
           type: string
       - name: updated_by
         in: query
         description: The email address of the person who performed the deletion
         required: true
         schema:
           type: string
     responses:
       200:
         description: Successfully deleted a given API key and associated customer app
         content:
           application/json:
             schema:
               type: object
               properties:
                 message:
                   type: string
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/apikey/regenerate/{api_key_id}:
   post:
     summary: Request to regenerate an API key
     description: Regenerate an API key with the given uuid of apikey
     tags:
       - API key
     operationId: RegenerateAPIKeyById
     requestBody:
       description: 'Request to regenerate an API key with the given uuid and optional rotation time interval and unit'
       required: true
       content:
         application/json:
           schema:
             type: object
             properties:
               rotation_time_interval:
                 type: integer
                 format: int32
               rotation_time_unit:
                 type: string
               updated_by:
                 type: string
             required:
               - rotation_time_interval
               - rotation_time_unit
     parameters:
       - name: api_key_id
         in: path
         description: API key uuid to regenerate
         required: true
         schema:
           type: string
     responses:
       200:
         description: Successfully regenerated API key
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/APIKeyObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/apikey/autorotate/{api_key_id}:
   post:
     summary: Request to auto-rotate an API key
     description: Autorotate an API key with the given uuid of apikey
     tags:
       - API key
     operationId: AutoRotateAPIKeyById
     requestBody:
       description: 'Request to autorotate an API key with the given uuid and optional rotation time interval and unit'
       required: true
       content:
         application/json:
           schema:
             type: object
             properties:
               rotation_time_interval:
                 type: integer
                 format: int32
               rotation_time_unit:
                 type: string
               updated_by:
                 type: string
             required:
               - rotation_time_interval
               - rotation_time_unit
     parameters:
       - name: api_key_id
         in: path
         description: API key uuid to autorotate
         required: true
         schema:
           type: string
     responses:
       200:
         description: Successfully autorotated API key
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/APIKeyObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/profile:
   post:
     summary: Request to create a new AI Sec Profile
     description: Post a new AI Sec Profile
     tags:
       - AI Sec Profile
     operationId: CreateNewAIProfile
     requestBody:
       description: AI Sec Profile creation request object
       required: true
       content:
         application/json:
           schema:
             $ref: '#/components/schemas/AIProfileObject'
     responses:
       200:
         description: Successfully created a new AI Sec Profile
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/AIProfileObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/profile/{profile_id}:
   delete:
     summary: Request to delete a given AI Sec Profile
     description: Delete a given AI Sec Profile
     tags:
       - AI Sec Profile
     operationId: DeleteAIProfile
     parameters:
       - name: profile_id
         in: path
         description: AI Sec ProfileId to delete
         required: true
         schema:
           type: string
     responses:
       200:
         description: Successfully deleted a given AI Sec Profile
         content:
           application/json:
             schema:
               type: object
               properties:
                 message:
                   type: string
       409:
         description: conflict occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/DeleteAIProfileResponse'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/profile/uuid/{profile_id}:
   put:
     summary: Request to modify AI Sec profile details for a given AI Sec profile Id.
     description: Update metadata for a given AI Sec Profile Id.
     tags:
       - AI Sec Profile
     operationId: UpdateProfileByProfileId
     parameters:
       - name: profile_id
         in: path
         description: encoded AI Sec Profile Id
         required: true
         schema:
           type: string
     requestBody:
       description: AI SEC profile object
       required: true
       content:
         application/json:
           schema:
             $ref: '#/components/schemas/AIProfileObject'
     responses:
       200:
         description: Successfully updated metadata for a given AI Sec Profile Id
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/AIProfileObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/profiles/tsg/{tsg_id}:
   get:
     summary: Request to retrieve all AI Sec Profiles and their metadata for a given CSP ID and TSG ID
     description: Get all AI Sec Profiles and their metadata for a given CSP ID and TSG ID
     tags:
       - AI Sec Profile
     operationId: GetAllAIProfilesByTsgId
     parameters:
       - name: tsg_id
         in: path
         description: encoded TSG ID
         required: true
         schema:
           type: string
       - name: offset
         in: query
         description: The offset at which to start fetching more records
         required: true
         schema:
           type: integer
           format: int32
       - name: limit
         in: query
         description: The number of records to return.
         required: true
         schema:
           type: integer
           format: int32
     responses:
       200:
         description: Successfully returned metadata for all AI Sec Profiles for a given CspId and TsgId.
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/PaginatedAIProfileObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/dlpprofiles:
   get:
     summary: Request to retrieve all DLP Profiles and their metadata for a TSG ID
     description: Get all DLP Profiles and their metadata for a TSG ID
     tags:
       - DLP Profiles
     operationId: GetAllDlpProfilesByTsgId
     responses:
       200:
         description: Successfully returned metadata for all DLP Profiles for a given TsgId.
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/ArrayDlpProfileObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/deploymentprofiles:
   get:
     summary: Request to retrieve all Deployment Profiles and their metadata for a given TSG ID
     description: Get all Deployment Profiles for a given TSG ID.
     tags:
       - Deployment Profiles
     operationId: GetDeploymentProfilesByTsgId
     parameters:
       - name: unactivated
         in: query
         description: Get available and unactivated Deployment Profiles. Also include previously activated DP that do not have any associated apps or api keys.
         required: false
         schema:
           type: boolean
     responses:
       200:
         description: Successfully returned Deployment Profiles for TSG Id
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/DeploymentProfilesObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/scanlogs:
   post:
     summary: Request to retrieve Scan logs for a given TSG ID and time interval
     description: Get the Scan logs for a TSG in the specified time interval
     tags:
       - Scan Logs
     operationId: GetScanLogsByTime
     parameters:
       - name: time_interval
         in: query
         description: Time interval between which to return results
         required: true
         schema:
           type: integer
           format: int64
       - name: time_unit
         in: query
         description: Indicates whether time_interval is in hour or days etc.
         required: true
         schema:
           type: string
       - name: pageNumber
         in: query
         description: The pageNumber requested
         required: true
         schema:
           type: integer
           format: int32
       - name: pageSize
         in: query
         description: The number of records to return per page
         required: true
         schema:
           type: integer
           format: int32
       - name: filter
         in: query
         description: The filter to be applied to the scan logs (all|benign|threat)
         required: true
         schema:
           type: string
     requestBody:
       description: Encrypted page token that includes the start_time, end_time, tsg_id and timestamp of the last record in the result set (Limit the result set to max 2K rows)
       content:
         application/json:
           schema:
             $ref: '#/components/schemas/PageTokenJsonObject'
     responses:
       200:
         description: Successfully returned records for Scan Requests
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/PaginatedScanResultsObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/customerapp:
   get:
     summary: Request to retrieve Customer App for a given TSG ID and app name
     description: Get the customer app details for a given TSG ID and app name
     tags:
       - Customer App
     operationId: GetCustomerApp
     parameters:
       - name: app_name
         in: query
         description: The customer app name for which to fetch details
         required: true
         schema:
           type: string
     responses:
       200:
         description: Successfully returned metadata for a Customer App
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/CustomerAppObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/customerapp/tsg/{tsg_id}:
   get:
     summary: Request to retrieve all Customer Apps and their metadata for a given TSG ID
     description: Get all Customer Apps and their metadata for a given TSG ID
     tags:
       - Customer App
     operationId: GetAllCustomerAppsByTsgID
     parameters:
       - name: tsg_id
         in: path
         description: encoded TSG ID
         required: true
         schema:
           type: string
       - name: offset
         in: query
         description: The offset at which to start fetching more records
         required: true
         schema:
           type: integer
           format: int32
       - name: limit
         in: query
         description: The number of records to return.
         required: true
         schema:
           type: integer
           format: int32
     responses:
       200:
         description: Successfully returned metadata for all Customer Apps for a given TSG ID
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/PaginatedCustomerAppObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/topic:
   post:
     summary: Request to create a new Custom Topic
     description: Post a new Custom Topic
     tags:
       - Custom Topic
     operationId: CreateNewCustomTopic
     requestBody:
       description: Custom Topic creation request object
       required: true
       content:
         application/json:
           schema:
             $ref: '#/components/schemas/CustomTopicObject'
     responses:
       200:
         description: Successfully created a new Custom Topic
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/CustomTopicObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/topic/{topic_id}:
   delete:
     summary: Request to delete a given Custom Topic
     description: Delete a given Custom Topic
     tags:
       - Custom Topic
     operationId: DeleteCustomTopic
     parameters:
       - name: topic_id
         in: path
         description: Custom TopicId to delete
         required: true
         schema:
           type: string
     responses:
       200:
         description: Successfully deleted a given Custom Topic
         content:
           application/json:
             schema:
               type: object
               properties:
                 message:
                   type: string
       409:
         description: conflict occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/DeleteCustomTopicResponse'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/topic/{topic_id}/force:
   delete:
     summary: Request to force delete a given Custom Topic
     description: Force delete a given Custom Topic, bypassing any safety checks
     tags:
       - Custom Topic
     operationId: ForceDeleteCustomTopic
     parameters:
       - name: topic_id
         in: path
         description: Custom TopicId to force delete
         required: true
         schema:
           type: string
       - name: updated_by
         in: query
         description: User performing the force deletion
         required: true
         schema:
           type: string
     responses:
       200:
         description: Successfully force deleted the Custom Topic
         content:
           application/json:
             schema:
               type: object
               properties:
                 message:
                   type: string
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/topic/uuid/{topic_id}:
   put:
     summary: Request to modify Custom Topic details for a given Custom Topic Id.
     description: Update metadata for a given Custom Topic Id.
     tags:
       - Custom Topic
     operationId: UpdateTopicByTopicId
     parameters:
       - name: topic_id
         in: path
         description: encoded Custom Topic Id
         required: true
         schema:
           type: string
     requestBody:
       description: Custom Topic object
       required: true
       content:
         application/json:
           schema:
             $ref: '#/components/schemas/CustomTopicObject'
     responses:
       200:
         description: Successfully updated metadata for a given Custom Topic Id
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/CustomTopicObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/topics/tsg/{tsg_id}:
   get:
     summary: Request to retrieve all Custom Topics and their metadata for a given CSP ID and TSG ID
     description: Get all Custom Topics and their metadata for a given CSP ID and TSG ID
     tags:
       - Custom Topic
     operationId: GetAllCustomTopicsByTsgId
     parameters:
       - name: tsg_id
         in: path
         description: encoded TSG ID
         required: true
         schema:
           type: string
       - name: offset
         in: query
         description: The offset at which to start fetching more records
         required: true
         schema:
           type: integer
           format: int32
       - name: limit
         in: query
         description: The number of records to return.
         required: true
         schema:
           type: integer
           format: int32
     responses:
       200:
         description: Successfully returned metadata for all Custom Topics for a given CspId and TsgId.
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/PaginatedCustomTopicObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/oauth/invalidateToken:
   post:
     summary: Invalidate apigee oauth token
     description: Invalidate apigee oauth token
     tags:
       - Oauth
     operationId: InvalidateApigeeOauthToken
     parameters:
       - name: token
         in: query
         description: the oauth token to invalidate
         required: true
         schema:
           type: string
     requestBody:
       description: ClientId and Customer App Name object
       content:
         application/json:
           schema:
             $ref: '#/components/schemas/ClientIdAndCustomerApp'
     responses:
       200:
         description: Successfully invalidated oauth2.0 token
         content:
           application/json:
            schema:
              $ref: '#/components/schemas/Oauth2TokenObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'


 /v1/mgmt/oauth/client_credential/accesstoken:
   post:
     summary: Get apigee oauth token for a given set of client credentials
     description: Get apigee oauth token for a given set of client credentials
     tags:
       - Oauth
     operationId: GetApigeeOauthToken
     parameters:
       - name: tokenTtlInterval
         in: query
         description: The token time-to-live (TTL) interval (1h, 3h, 24h, 1 day, 7 days, 30 days) in the OAuth token request
         required: false
         schema:
           type: integer
           format: int32
       - name: tokenTtlUnit
         in: query
         description: The token time-to-live (TTL) unit (hours) in the OAuth token request
         required: false
         schema:
           type: string
     requestBody:
       description: ClientId and Customer App Name object
       content:
         application/json:
           schema:
             $ref: '#/components/schemas/ClientIdAndCustomerApp'
     responses:
       200:
         description: Successfully returned Oauth2 token for a given set of client credentials for a given TSG ID. Default duration is 24 hour.
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Oauth2TokenObject'
       default:
         description: error occurred
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/Error'
components:
 securitySchemes:
   Auth:
     type: http
     scheme: bearer
     bearerFormat: JWT
 schemas:
   APIKeyObject:
     type: object
     properties:
       api_key_id:
         type: string
       api_key_last8:
         type: string
       api_key_name:
         type: string
       auth_code:
         type: string
       csp_id:
         type: string
       tsg_id:
         type: string
       expiration:
         type: string
         format: date-time
       revoked:
         type: boolean
       revoke_reason:
         type: string
       cust_app:
         type: string
       cust_env:
         type: string
       cust_ai_agent_framework:
         type: string
       cust_cloud_provider:
         type: string
       created_by:
         type: string
       updated_by:
         type: string
       last_modified_ts:
         type: string
         format: date-time
       rotation_time_interval:
         type: integer
         format: int32
       rotation_time_unit:
         type: string
       dp_name:
         type: string
       status:
         type: string
       api_key:
         type: string
       lic_expiration:
         type: string
         format: date-time
       avg_text_records:
         type: integer
         format: int32
       creation_ts:
         type: string
         format: date-time


     required:
       - api_key_id
       - api_key_last8
       - auth_code
       - expiration
       - revoked


   APIKeyCreationObject:
     type: object
     properties:
       tsg_id:
         type: string
       dp_name:
         type: string
       auth_code:
         type: string
       customer_appId:
         type: string
       cust_app:
         type: string
       cust_env:
         type: string
       cust_cloud_provider:
         type: string
       cust_ai_agent_framework:
         type: string
       expiration:
         type: string
         format: date-time
       revoked:
         type: boolean
       created_by:
         type: string
       api_key_name:
         type: string
       rotation_time_interval:
         type: integer
         format: int32
       rotation_time_unit:
         type: string
       creation_ts:
         type: string
         format: date-time
     required:
       - tsg_id
       - auth_code
       - revoked
       - cust_app
       - created_by
       - api_key_name
       - rotation_time_interval
       - rotation_time_unit


   PaginatedAPIKeyObject:
     type: object
     properties:
       api_keys:
         type: array
         items:
           $ref: '#/components/schemas/APIKeyObject'
       next_offset:
         type: integer
         format: int32


   AIProfileObject:
     type: object
     properties:
       profile_id:
         type: string
       profile_name:
         type: string
       csp_id:
         type: string
       tsg_id:
         type: string
       revision:
         type: integer
         format: int32
       active:
         type: boolean
       dlp_tenant_id:
         type: string
       policy:
         type: object
         properties:
           dlp-data-profiles:
             type: array
             items:
               $ref: '#/components/schemas/DLPDataProfileObject'
           ai-security-profiles:
             type: array
             items:
               $ref: '#/components/schemas/AiSecurityProfileObject'
       created_by:
         type: string
       updated_by:
         type: string
       last_modified_ts:
         type: string
         format: date-time
     required:
       - profile_name
       - csp_id
       - tsg_id
       - revision
       - policy


   AiSecurityProfileObject:
     type: object
     properties:
       model-type:
         type: string
       content-type:
         type: string
       model-configuration:
         type: object
         properties:
           mask-data-in-storage:
             type: boolean
           latency:
             $ref: '#/components/schemas/LatencyObject'
           data-protection:
             $ref: '#/components/schemas/DataProtectionObject'
           app-protection:
             $ref: '#/components/schemas/AppProtectionObject'
           model-protection:
             $ref: '#/components/schemas/ModelProtectionObject'
           agent-protection:
             $ref: '#/components/schemas/AgentProtectionObject'


   DLPDataProfileObject:
     type: object
     properties:
       name:
         type: string
       uuid:
         type: string
       description:
         type: string
       id:
        type: string
       version:
         type: string
       rule1:
         type: object
         properties:
           action:
             type: string
       rule2:
         type: object
         properties:
           action:
             type: string
       log-severity:
         type: string
       non-file-based:
         type: string
       file-based:
         type: string
     required:
       - name
       - uuid


   ModelProtectionObject:
     type: array
     items:
       type: object
       properties:
         name:
           type: string
         action:
           type: string
         topic-list:
           type: array
           items:
             $ref: '#/components/schemas/TopicArray'
       required:
         - name
         - action


   DataProtectionObject:
     type: object
     properties:
       data-leak-detection:
         type: object
         properties:
           member:
             type: array
             items:
               type: object
               properties:
                 text:
                   type: string
                 id:
                   type: string
                 version:
                   type: string
               required:
                 - text
           action:
             type: string
           mask-data-inline:
             type: boolean
         required:
           - member
           - action
       database-security:
         type: array
         items:
           type: object
           properties:
             name:
               type: string
             action:
               type: string
           required:
             - name
             - action
     required:
       - data-leak-detection
       - database-security


   AppProtectionObject:
     type: object
     properties:
       alert-url-category:
         type: object
         properties:
           member:
             type: array
             items:
               type: string
       block-url-category:
         type: object
         properties:
           member:
             type: array
             items:
               type: string
       allow-url-category:
         type: object
         properties:
           member:
             type: array
             items:
               type: string
       default-url-category:
         type: object
         properties:
           member:
             type: array
             items:
               type: string
         required:
           - member
       url-detected-action:
         type: string
       malicious-code-protection:
         type: object
         properties:
           name:
             type: string
           action:
             type: string
         required:
           - name
           - action
     required:
       - default-url-category
       - url-detected-action


   AgentProtectionObject:
     type: array
     items:
       type: object
       properties:
         name:
           type: string
         action:
           type: string
       required:
         - name
         - action


   LatencyObject:
     type: object
     properties:
       inline-timeout-action:
         type: string
       max-inline-latency:
         type: integer
         format: int32


   TopicObject:
     type: object
     properties:
       topic_name:
         type: string
       topic_id:
         type: string
       revision:
         type: integer
         format: int64
     required:
       - topic_name
       - topic_id
       - revision


   TopicArray:
     type: object
     properties:
       action:
         type: string
       topic:
         type: array
         items:
           $ref: '#/components/schemas/TopicObject'
     required:
       - action
       - topic


   PaginatedAIProfileObject:
     type: object
     properties:
       ai_profiles:
         type: array
         items:
           $ref: '#/components/schemas/AIProfileObject'
       next_offset:
         type: integer
         format: int32


   ArrayDlpProfileObject:
     type: object
     properties:
       dlp_profiles:
         type: array
         items:
           $ref: '#/components/schemas/DLPDataProfileObject'


   ScanRequestObject:
     type: object
     properties:
       tsg_id:
         type: string
       csp_id:
         type: string
       scan_id:
         type: string
       profile_name:
         type: string
       profile_id:
         type: string
       app_name:
         type: string
       app_user:
         type: string
       user_ip:
         type: string
       ai_model:
         type: string
       content:
         type: string
       input_time:
         type: string
         format: date-time
       input_type:
         type: string
       metering:
         type: integer
         format: int32
     required:
       - tsg_id
       - csp_id
       - scan_id
       - profile_name
       - profile_id
       - content
       - input_type
       - input_time
       - metering


   PaginatedScanRequestsObject:
     type: object
     properties:
       scan_reqs:
         type: array
         items:
           $ref: '#/components/schemas/ScanRequestObject'
       next_offset:
         type: integer
         format: int32


   ScanResultObject:
     type: object
     properties:
       report_id:
         type: string
       scan_id:
         type: string
       profile_name:
         type: string
       profile_id:
         type: string
       output_time:
         type: string
         format: date-time
       output_type:
         type: string
       content:
         type: string
       verdict_category:
         type: string
       action:
         type: string
       prompt_detected:
         $ref: '#/components/schemas/PromptDetected'
       response_detected:
         $ref: '#/components/schemas/response_detected'
     required:
       - scan_id
       - profile_id
       - profile_name
       - output_type
       - output_time
       - content
       - verdict_category
       - action
       - prompt_detected
       - response_detected


   PromptDetected:
     type: object
     properties:
       url_cats:
         type: boolean
       dlp:
         type: boolean
       injection:
         type: boolean


   response_detected:
     type: object
     properties:
       url_cats:
         type: boolean
       dlp:
         type: boolean


   PaginatedScanResultsObject:
     type: object
     properties:
       scan_result_for_dashboard:
         $ref: '#/components/schemas/ScanResultForDashboard'
       total_pages:
         type: integer
         format: int32
       page_number:
         type: integer
         format: int32
       page_size:
         type: integer
         format: int32
       page_token:
         type: string


   ScanResultForDashboard:
     type: object
     properties:
       text_records_count:
         type: integer
         format: int32
       api_calls_count:
         type: integer
         format: int32
       threats_count:
         type: integer
         format: int32
       all_transactions_count:
         type: integer
         format: int32
       benign_transaction_count:
         type: integer
         format: int32
       scan_result_entries:
         type: array
         items:
           $ref: '#/components/schemas/ScanResultEntryFromView'


   ScanResultEntryFromView:
     type: object
     properties:
       csp_id:
         type: string
       tsg_id:
         type: string
       scan_id:
         type: string
       scan_sub_req_id:
         type: integer
         format: int32
       transaction_id:
         type: string
       api_key_name:
         type: string
       profile_id:
         type: string
       profile_name:
         type: string
       app_name:
         type: string
       model_name:
         type: string
       user:
         type: string
       environment:
         type: string
       cloud_provider:
         type: string
       agent_framework:
         type: string
       tokens:
         type: integer
         format: int32
       text_records:
         type: integer
         format: int32
       report_id:
         type: string
       received_ts:
         type: string
         format: date-time
       completed_ts:
         type: string
         format: date-time
       status:
         type: string
       verdict:
         type: string
       action:
         type: string
       is_prompt:
         type: boolean
       is_response:
         type: boolean
       pi_final_verdict:
         type: string
       uf_final_verdict:
         type: string
       dlp_final_verdict:
         type: string
       dbs_final_verdict:
         type: string
       tc_final_verdict:
         type: string
       mc_final_verdict:
         type: string
       agent_final_verdict:
         type: string
       cg_final_verdict:
         type: string
       tg_final_verdict:
         type: string
       prompt_pi_verdict:
         type: string
       prompt_uf_verdict:
         type: string
       prompt_dlp_verdict:
         type: string
       prompt_tc_verdict:
         type: string
       prompt_mc_verdict:
         type: string
       prompt_agent_verdict:
         type: string
       prompt_tg_verdict:
         type: string
       prompt_verdict:
         type: string
       prompt_pi_action:
         type: string
       prompt_uf_action:
         type: string
       prompt_dlp_action:
         type: string
       prompt_tc_action:
         type: string
       prompt_mc_action:
         type: string
       prompt_agent_action:
         type: string
       prompt_tg_action:
         type: string
       response_uf_verdict:
         type: string
       response_dlp_verdict:
         type: string
       response_dbs_verdict:
         type: string
       response_tc_verdict:
         type: string
       response_mc_verdict:
         type: string
       response_agent_verdict:
         type: string
       response_cg_verdict:
         type: string
       response_tg_verdict:
         type: string
       response_uf_action:
         type: string
       response_dlp_action:
         type: string
       response_dbs_action:
         type: string
       response_tc_action:
         type: string
       response_mc_action:
         type: string
       response_agent_action:
         type: string
       response_cg_action:
         type: string
       response_tg_action:
         type: string
       response_verdict:
         type: string
       detection_service_flags:
         type: integer
         format: int32
       content_masked:
         type: boolean
       user_ip:
         type: string
     required:
       - csp_id
       - tsg_id
       - scan_id
       - scan_sub_req_id
       - api_key_name
       - app_name
       - tokens
       - text_records


   AiInstanceObject:
     type: object
     properties:
       tenant_id:
         type: string
       platform_region:
         type: string
       tenant_instance_name:
         type: string
       tsg_id:
         type: string
       support_account_id:
         type: string
       support_account_name:
         type: string
       app_id:
         type: string
       region:
         type: string
       created_by:
         type: string
       license_name:
         type: string
       license_expiration:
         type: string
       serial_number:
         type: string
       sku:
         type: string
       auth_code:
         type: string
       description:
         type: string
       trial:
         type: string
       associations:
         $ref: '#/components/schemas/TSGAssociationsObject'
       tsg_instances:
         $ref: '#/components/schemas/TSGInstancesObject'
       entitlements:
         $ref: '#/components/schemas/TSGEntitlementsObject'
       extra:
         $ref: '#/components/schemas/TSGExtraObject'
     required:
       - tsg_id
       - tenant_id
       - region
       - support_account_id
       - app_id


   TSGAssociationsObject:
     type: array
     items:
       type: object
       properties:
         app_id:
           type: string
         tenant_id:
           type: string
         tsg_id:
           type: string
         region:
           type: string
         serial_number:
           type: string
       required:
         - app_id
         - tenant_id
         - tsg_id


   TSGInstancesObject:
     type: array
     items:
       type: object
       properties:
         app_id:
           type: string
         tenant_id:
           type: string
         tsg_id:
           type: string
         region:
           type: string
         entitlements:
           $ref: '#/components/schemas/TSGEntitlementsObject'
         extra:
           $ref: '#/components/schemas/TSGExtraObject'
       required:
         - app_id
         - tenant_id
         - tsg_id


   TSGEntitlementsObject:
     type: array
     items:
       type: object
       properties:
         license_type:
           type: string
         license_term:
           type: integer
           format: int32
         license_unit:
           type: string
         license_expiration:
           type: string
         license_display_name:
           type: string
         product_type:
           type: string
         purchased_unit:
           type: string
         allocated_size:
           type: integer
           format: int32
         remained_size:
           type: integer
           format: int32
         auth_code:
           type: string
         serial_number:
           type: string
         app_id:
           type: string
         sku:
           type: string
         dp_name:
           type: string


   TSGExtraObject:
     type: object
     properties:
       purchased_size:
         type: integer
         format: int32
       license_version:
         type: string
       deployment_profiles:
         $ref: '#/components/schemas/TSGDeploymentProfilesObject'


   TSGDeploymentProfilesObject:
     type: array
     items:
       type: object
       properties:
         deploymentProfileId:
           type: string
         profileName:
           type: string
         dAuthCode:
           type: string
         type:
           type: string
         subType:
           type: string
         license_expiration:
           type: string
         aveTextRecord:
           type: integer
           format: int32
         subscriptions:
           $ref: '#/components/schemas/TSGSubscriptionsObject'
       required:
         - dAuthCode
         - aveTextRecord


   TSGSubscriptionsObject:
     type: array
     items:
       type: object
       properties:
         subscription:
           type: string
         app_id:
           type: string
         status:
           type: integer
           format: int32
         entitlements:
           $ref: '#/components/schemas/TSGEntitlementsObject'


   AiInstanceRespObject:
     type: object
     properties:
       application_name:
         type: string
       is_success:
         type: boolean
       tenant_id:
         type: string
       tsg_id:
         type: string


   InstanceMetadataResponseObject:
     type: object
     properties:
       tenant_id:
         type: string
       tsg_id:
         type: string
       support_account_id:
         type: string
       support_account_name:
         type: string
       app_id:
         type: string
       region:
         type: string
       created_by:
         type: string
       dlp_tenant_id:
         type: string
       deploymentprofiles:
         type: array
         items:
           $ref: '#/components/schemas/InstanceMetadataDPObject'
     required:
       - tsg_id
       - tenant_id
       - region
       - support_account_id


   InstanceMetadataDPObject:
     type: object
     properties:
       dp_name:
         type: string
       auth_code:
         type: string
       created_by:
         type: string
       updated_by:
         type: string
       license_type:
         type: string
       license_name:
         type: string
       license_expiration:
         type: string
       license_qty:
         type: integer
         format: int64
       license_unit:
         type: string
       license_term:
         type: integer
         format: int64
       serial_number:
         type: string
       activated_ts:
         type: string
       deactivated_ts:
         type: string
       last_modified_ts:
         type: string
       status:
         type: string
       device_status:
         type: string


   AiDevicesObject:
     type: object
     properties:
       created_by:
         type: string
       instance:
         $ref: '#/components/schemas/DeviceInstanceObject'
       devices:
         $ref: '#/components/schemas/DeviceObject'


   DeviceInstanceObject:
     type: object
     properties:
       app_id:
         type: string
       tenant_id:
         type: string
       tsg_id:
         type: string
       region:
         type: string
     required:
       - app_id
       - tenant_id
       - tsg_id


   DeviceObject:
     type: array
     items:
       type: object
       properties:
         device_type:
           type: string
         serial_number:
           type: string
         model:
           type: string
         sku:
           type: string
         support_account_id:
           type: string
         licenses:
           $ref: '#/components/schemas/DeviceLicensesObject'
       required:
         - serial_number
         - model


   DeviceLicensesObject:
     type: array
     items:
       type: object
       properties:
         serialNumber:
           type: string
         authorizationCode:
           type: string
         partNumber:
           type: string
         licenseType:
           type: boolean
         expirationDate:
           type: string
         licensePanDbIdentification:
           type: string
         subtypeName:
           type: string


   AiDevicesRespObject:
     type: object
     properties:
       status:
         type: string
       devicesFailed:
         type: array
         items:
           $ref: '#/components/schemas/DeviceRespObject'


   DeviceRespObject:
     type: object
     properties:
       serial_number:
         type: string
       status:
         type: string
       error:
         type: string
     required:
       - serial_number
       - status


   DPActivateObject:
     type: object
     properties:
       dp_name:
         type: string
       auth_code:
         type: string
       tsg_id:
         type: string
       status:
         type: string
     required:
       - dp_name
       - auth_code
       - tsg_id


   DeploymentProfilesObject:
     type: object
     properties:
       deployment_profiles:
         type: array
         items:
           $ref: '#/components/schemas/DeploymentProfileEntryObject'
       status:
         type: string
     required:
       - deployment_profiles
       - status


   DeploymentProfileEntryObject:
     type: object
     properties:
       dp_name:
         type: string
       auth_code:
         type: string
       tsg_id:
         type: string
       status:
         type: string
       expiration_date:
         type: string
       ave_text_records:
         type: integer
         format: int32
     required:
       - dp_name
       - auth_code


   ThreatScanReportObjects:
     type: array
     items:
       $ref: '#/components/schemas/ThreatScanReportObject'


   ThreatScanReportObject:
     type: object
     properties:
       report_id:
         type: string
       scan_id:
         type: string
       sub_scan_req_id:
         type: integer
         format: uint32
       transaction_id:
         type: string
       detection_results:
         type: array
         items:
           $ref: '#/components/schemas/DetectionServiceResultObject'


   DetectionServiceResultObject:
     type: object
     properties:
       data_type:
         type: string
       detection_service:
         type: string
       verdict:
         type: string
       action:
         type: string
       result_detail:
         $ref: '#/components/schemas/DSDetailResultObject'


   DSDetailResultObject:
     type: object
     properties:
       pi_report:
         $ref: '#/components/schemas/PiReportObject'
       urlf_report:
         $ref: '#/components/schemas/UrlFilterReportObject'
       dlp_report:
         $ref: '#/components/schemas/DlpReportObject'
       dbs_report:
         $ref: '#/components/schemas/DbsReportObject'
       tc_report:
         $ref: '#/components/schemas/TcReportObject'
       mc_report:
         $ref: '#/components/schemas/McReportObject'
       agent_report:
         $ref: '#/components/schemas/AgentReportObject'


   DbsReportObject:
     type: array
     items:
       $ref: '#/components/schemas/DbsEntryObject'


   DbsEntryObject:
     type: object
     properties:
       sub_type:
         type: string
         description: Database security sql query sub-type, such as "create", "read", "update", or "delete"
       verdict:
         type: string
         description: Detection service verdict such as "malicious" or "benign"
       action:
         type: string
         description: The action is set to "block" or "allow" based on AI security profile used for scanning
       probability:
         type: number
         format: float


   TcReportObject:
     type: object
     properties:
       confidence:
         type: string
         description: Confidence level of the threat classification (“high" and "moderate")
       verdict:
         type: string
         description: Detection service verdict such as "malicious" or "benign"
       probability:
         type: number
         format: float


   McReportObject:
     type: object
     properties:
       verdict:
         type: string
         description: Detection service verdict such as "malicious" or "benign"
       code_info:
         type: array
         items:
           $ref: '#/components/schemas/McEntryObject'


   McEntryObject:
     type: object
     properties:
       file_type:
         type: string
         description: code file type, such as "javascript", "Python", "VBScript" and others
       code_sha256:
         type: string
         description: SHA256 of the code file that was analyzed, such as a code snippet containing the potentially malicious code


   AgentReportObject:
     type: object
     properties:
       model_verdict:
         type: string
         description: Detection service verdict such as "malicious" or "benign"
       agent_framework:
         type: string
         description: Agent builder framework used to build Agents such as "AWS_Agent_Builder", "Microsoft_copilot_studio" and others
       agent_patterns:
         type: array
         items:
           $ref: '#/components/schemas/AgentEntryObject'


   AgentEntryObject:
     type: object
     properties:
       category_type:
         type: string
         description: Agent threat category type, such as "tools misuse", "memory manipulation" and others
       verdict:
         type: string
         description: Verdict associated with the Agent threat Category, such as "malicious" or "benign"


   PiReportObject:
     type: object
     properties:
       probability:
         type: number
         format: float


   UrlFilterReportObject:
     type: array
     items:
       $ref: '#/components/schemas/UrlfEntryObject'


   UrlfEntryObject:
     type: object
     properties:
       url:
         type: string
       risk_level:
         type: string
       categories:
         type: array
         items:
           type: string


   DlpReportObject:
     type: object
     properties:
       report_id:
         type: string
       dlp_profile_name:
         type: string
       dlp_profile_id:
         type: string
       dlp_profile_version:
         type: integer
         format: int32
       data_pattern_rule1_verdict:
         type: string
       data_pattern_rule2_verdict:
         type: string


   CustomerAppObject:
     type: object
     properties:
       customer_appId:
         type: string
       tsg_id:
         type: string
       app_name:
         type: string
       model_name:
         type: string
       cloud_provider:
         type: string
       environment:
         type: string
       status:
         type: string
       created_by:
         type: string
       updated_by:
         type: string
       ai_agent_framework:
         type: string
     required:
       - tsg_id
       - app_name
       - cloud_provider
       - environment


   PaginatedCustomerAppObject:
     type: object
     properties:
       customer_apps:
         type: array
         items:
           $ref: '#/components/schemas/CustomerAppObjectWithAPIKeyAndDP'
       next_offset:
         type: integer
         format: int32


   CustomerAppObjectWithAPIKeyAndDP:
     type: object
     properties:
       customer_appId:
         type: string
       tsg_id:
         type: string
       app_name:
         type: string
       model_name:
         type: string
       cloud_provider:
         type: string
       environment:
         type: string
       ai_agent_framework:
         type: string
       api_keys_dp_info:
         type: array
         items:
           $ref: '#/components/schemas/APIKeyDPInfo'
     required:
       - tsg_id
       - customer_appId
       - app_name
       - cloud_provider
       - environment


   APIKeyDPInfo:
     type: object
     properties:
       api_key_name:
         type: string
       dp_name:
         type: string
       auth_code:
         type: string
     required:
       - api_key_name
       - dp_name
       - auth_code


   PageTokenJsonObject:
     type: object
     properties:
       page_token:
         type: string


   ClientIdAndCustomerApp:
     type: object
     properties:
       client_id:
         type: string
       customer_app:
         type: string
     required:
       - client_id
       - customer_app


   Oauth2TokenObject:
     type: object
     properties:
       token_type:
         type: string
       issued_at:
         type: string
       client_id:
         type: string
       access_token:
         type: string
       expires_in:
         type: string
       status:
         type: string
     required:
       - access_token


   Error:
     type: object
     properties:
       status_code:
         type: integer
         format: int32
       error_message:
         type: string
     required:
       - code
       - error_message


   CustomTopicObject:
     type: object
     properties:
       topic_id:
         type: string
       topic_name:
         type: string
       csp_id:
         type: string
       tsg_id:
         type: string
       revision:
         type: integer
         format: int64
       active:
         type: boolean
       description:
         type: string
       examples:
         type: array
         items:
           type: string
       created_by:
         type: string
       updated_by:
         type: string
       last_modified_ts:
         type: string
         format: date-time
       created_ts:
         type: string
         format: date-time
     required:
       - topic_name
       - csp_id
       - tsg_id
       - revision
       - description
       - examples


   PaginatedCustomTopicObject:
     type: object
     properties:
       custom_topics:
         type: array
         items:
           $ref: '#/components/schemas/CustomTopicObject'
       next_offset:
         type: integer
         format: int32


   DeleteCustomTopicResponse:
     type: object
     properties:
       message:
         type: string
       payload:
         type: array
         items:
           $ref: '#/components/schemas/ProfilePayload'
         minItems: 0


   ProfilePayload:
     type: object
     properties:
       profile_id:
         type: string
       profile_name:
         type: string
       revision:
         type: integer
         format: int64


   AIPolicyObject:
     type: object
     properties:
       policy_id:
         type: string
       policy_name:
         type: string
       csp_id:
         type: string
       tsg_id:
         type: string
       cie_tenant_id:
         type: string
       profile_id:
         type: string
       profile_name:
         type: string
       priority:
         type: integer
         format: int64
       domain:
         $ref: '#/components/schemas/DomainObject'
       user_groups:
         type: array
         items:
           $ref: '#/components/schemas/UserGroupObject'
       revision:
         type: integer
         format: int64
       status:
         type: string
         enum: ['ACTIVE', 'INACTIVE', 'ARCHIVED']
         default: 'ACTIVE'
         description: 'Status of the policy indicating its current state'
       created_by:
         type: string
       updated_by:
         type: string
       last_modified_ts:
         type: string
         format: date-time
       created_ts:
         type: string
         format: date-time
       last_synced_ts:
         type: string
         format: date-time
     required:
       - policy_name
       - csp_id
       - tsg_id
       - cie_tenant_id
       - priority
       - revision
       - profile_id
       - profile_name
       - domain
       - user_groups
       - status


   PaginatedAIPolicyObject:
     type: object
     properties:
       ai_policies:
         type: array
         items:
           $ref: '#/components/schemas/AIPolicyObject'
       next_offset:
         type: integer
         format: int32


   DomainObject:
     type: object
     properties:
       domain_name:
         type: string
         description: 'Display Name of the domain'
       primary_domain:
         type: string
         description: 'Primary Name of the domain'
       status:
         type: string
         enum: ['ACTIVE', 'INACTIVE']
         default: 'ACTIVE'
         description: 'Status of the domain indicating its current state'
     required:
       - domain_name
       - primary_domain


   UserGroupObject:
     type: object
     properties:
       user_group_id:
         type: string
       user_group_name:
         type: string
       status:
         type: string
         enum: ['ACTIVE', 'INACTIVE']
         default: 'ACTIVE'
         description: 'Status of the user group indicating its current state'
       modified_since:
         type: integer
         format: int64
     required:
       - user_group_id
       - user_group_name
       - modified_since


   PaginatedDomainObject:
     type: object
     properties:
       domains:
         type: array
         items:
           $ref: '#/components/schemas/DomainObject'
       next_offset:
         type: integer
         format: int32


   PaginatedUserGroupObject:
     type: object
     properties:
       groups:
         type: array
         items:
           $ref: '#/components/schemas/UserGroupObject'
       next_offset:
         type: integer
         format: int32


   DeleteAIProfileResponse:
     type: object
     properties:
       message:
         type: string
       payload:
         type: array
         items:
           $ref: '#/components/schemas/PolicyPayload'
         minItems: 0


   PolicyPayload:
     type: object
     properties:
       policy_id:
         type: string
       policy_name:
         type: string
       priority:
         type: integer
         format: int64


   MatchedAIPolicyObject:
     type: object
     properties:
       message:
         type: string
       payload:
         type: array
         items:
           $ref: '#/components/schemas/MatchedPolicyPayload'
         minItems: 0


   MatchedPolicyPayload:
     type: object
     properties:
       policy_id:
         type: string
       policy_name:
         type: string
       user_group_id:
         type: string
       user_group_name:
         type: string
