components:
  schemas:
    DemStatus:
      properties:
        dem_enabled:
          description: Dem Enabled
          type: boolean
        id:
          description: Id
          type: string
        site_id:
          description: 'Site Id: Digits(fraction = 0, integer = 50, SITEID_INVALID)
            NotNull '
          type: string
        tenant_id:
          description: 'Tenant Id: NotNull Digits(fraction = 0, integer = 20, TENANT_ID_INVALID_0001) '
          type: string
      required:
      - site_id
      - tenant_id
    DemStatusQueryResponse:
      properties:
        dem_enabled:
          description: 'Indicates whether ADEM is enabled for your instance.

            '
          type: boolean
        id:
          description: 'ID of the DEM instance.

            '
          type: string
        site_id:
          description: 'Site Id: Digits(fraction = 0, integer = 50, SITEID_INVALID)
            NotNull '
          type: string
        tenant_id:
          description: 'Tenant Id: NotNull Digits(fraction = 0, integer = 20, TENANT_ID_INVALID_0001) '
          type: string
      required:
      - site_id
      - tenant_id
    Error:
      properties:
        _error:
          items:
            $ref: '#/components/schemas/ErrorResponse'
          type: array
    ErrorResponse:
      properties:
        code:
          type: string
        message:
          type: string
    ListQueryResponse:
      properties:
        count:
          format: int32
          type: integer
        deleted_count:
          format: int64
          type: integer
        deleted_ids:
          items:
            type: string
          type: array
        id:
          type: string
        next_query:
          type: object
        tenant_id:
          type: string
        total_count:
          format: int64
          type: integer
      type: object
    ListResponse:
      properties:
        count:
          format: int32
          type: integer
        id:
          type: string
        tenant_id:
          type: string
      type: object
info:
  contact: {}
  description: List of APIs used to retrieve the Autonomous DEM status in Prisma SD-WAN.
  title: ADEM
  version: Latest
openapi: 3.0.0
paths:
  /v2.0/api/tenants/{tenant_id}/demstatus/query:
    post:
      description: 'Query the status of your ADEM instance.

        '
      operationId: post-v2.0-api-tenants-tenant_id-demstatus-query
      parameters:
      - description: The unique tenant ID.
        in: path
        name: tenant_id
        required: true
        schema:
          description: Tenant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemStatusQueryResponse'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ListQueryResponse'
                - properties:
                    items:
                      items:
                        $ref: '#/components/schemas/DemStatusQueryResponse'
                      type: array
                  type: object
          description: Successful operation
      summary: Query ADEM Status
      tags:
      - ADEM
  /v2.0/api/tenants/{tenant_id}/sites/{site_id}/demstatus:
    get:
      description: 'Get all ADEM status for a site.

        '
      operationId: get-v2.0-api-tenants-tenant_id-sites-site_id-demstatus
      parameters:
      - description: Tenant Id
        in: path
        name: tenant_id
        required: true
        schema:
          description: Tenant Id
          type: string
      - description: Site Id
        in: path
        name: site_id
        required: true
        schema:
          description: Site Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ListResponse'
                - properties:
                    items:
                      items:
                        $ref: '#/components/schemas/DemStatus'
                      type: array
                  type: object
          description: Successful operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: SITE_NOT_FOUND
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Get ADEM Status
      tags:
      - ADEM
  /v2.0/api/tenants/{tenant_id}/sites/{site_id}/demstatus/{dem_status_id}:
    get:
      description: 'Get ADEM status for a site in Prisma SD-WAN.

        '
      operationId: get-v2.0-api-tenants-tenant_id-sites-site_id-demstatus-dem_status_id
      parameters:
      - description: Tenant Id
        in: path
        name: tenant_id
        required: true
        schema:
          description: Tenant Id
          type: string
      - description: Site Id
        in: path
        name: site_id
        required: true
        schema:
          description: Site Id
          type: string
      - description: Site Id
        in: path
        name: dem_status_id
        required: true
        schema:
          description: Dem Status Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemStatus'
          description: Successful operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: SITE_NOT_FOUND
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        '404':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: SITE_NOT_FOUND
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Get ADEM Status for a Site
      tags:
      - ADEM
servers:
- url: https://api.us.cloudgenix.com
tags:
- name: ADEM
