components:
  schemas:
    Aggregate:
      properties:
        field:
          description: Field
          type: string
        operator:
          description: Operator
          enum:
          - max
          - count
          - min
          - avg
          - sum
          type: string
    BaseQuery:
      properties:
        aggregate:
          $ref: '#/components/schemas/Aggregate'
          description: Aggregate
        dest_page:
          description: Dest Page
          format: int32
          type: integer
        getDeleted:
          description: GetDeleted
          type: boolean
        group_by:
          description: Group By
          items:
            description: Group By
            type: string
          type: array
        id:
          description: Id
          type: string
        last_query_ts:
          description: Last Query Ts
          format: int64
          type: integer
        limit:
          description: Limit
          format: int32
          type: integer
        next_query:
          type: object
        query_params:
          type: object
        retrieved_fields:
          description: Retrieved Fields
          items:
            description: Retrieved Fields
            type: string
          type: array
        retrieved_fields_mask:
          description: Retrieved Fields Mask
          type: boolean
        sort_params:
          type: object
        total_count:
          description: Total Count
          format: int64
          type: integer
    Error:
      properties:
        _error:
          items:
            $ref: '#/components/schemas/ErrorResponse'
          type: array
    ErrorResponse:
      properties:
        code:
          type: string
        message:
          type: string
    SetBulkResponse:
      properties:
        count:
          description: Count
          format: int32
          type: integer
        id:
          description: Id
          type: string
        items:
          description: Items
          items:
            type: object
          type: array
        tenant_id:
          description: Tenant Id
          type: string
        total_count:
          description: Total Count
          format: int64
          type: integer
info:
  contact: {}
  description: List of APIs used to manage the bulk configuations query and metrics.
  title: Bulk Operations
  version: Latest
openapi: 3.0.0
paths:
  /v2.0/api/tenants/{tenant_id}/elements/bulk_config_state/query:
    post:
      description: Get element config/state info for queried elements from NB
      operationId: post-v2.0-api-tenants-tenant_id-elements-bulk_config_state-query
      parameters:
      - description: Tenant Id
        in: path
        name: tenant_id
        required: true
        schema:
          description: Tenant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseQuery'
        description: Query Details
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SetBulkResponse'
                - properties:
                    items:
                      items:
                        type: object
                      type: array
                  type: object
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: INVALID_TENANT_API_VERSION
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Get element config/state info for queried elements from NB (v2.0)
      tags:
      - Bulk Operations
  /v2.0/api/tenants/{tenant_id}/networks/bulk_config_state/query:
    post:
      description: Get all config/state info for given network from NB
      operationId: post-v2.0-api-tenants-tenant_id-networks-bulk_config_state-query
      parameters:
      - description: Tenant Id
        in: path
        name: tenant_id
        required: true
        schema:
          description: Tenant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseQuery'
        description: Query Details
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: INVALID_TENANT_API_VERSION
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Get all config/state info for given network from NB (v2.0)
      tags:
      - Bulk Operations
  /v2.0/api/tenants/{tenant_id}/policysets/bulk_config_state/query:
    post:
      description: Get all config/state info across all policysets from NB
      operationId: post-v2.0-api-tenants-tenant_id-policysets-bulk_config_state-query
      parameters:
      - description: Tenant Id
        in: path
        name: tenant_id
        required: true
        schema:
          description: Tenant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseQuery'
        description: Query Details
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: INVALID_TENANT_API_VERSION
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Get all config/state info across all policysets from NB (v2.0)
      tags:
      - Bulk Operations
  /v2.0/api/tenants/{tenant_id}/sites/bulk_config_state/query:
    post:
      description: Get site config/state info for queried site from NB
      operationId: post-v2.0-api-tenants-tenant_id-sites-bulk_config_state-query
      parameters:
      - description: Tenant Id
        in: path
        name: tenant_id
        required: true
        schema:
          description: Tenant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseQuery'
        description: Query Details
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SetBulkResponse'
                - properties:
                    items:
                      items:
                        type: object
                      type: array
                  type: object
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: INVALID_TENANT_API_VERSION
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Get site config/state info for queried site from NB (v2.0)
      tags:
      - Bulk Operations
servers:
- url: https://api.us.cloudgenix.com
tags:
- name: Bulk Operations
