components:
  schemas:
    DeviceIdConfig:
      properties:
        cfg_device_id_enabled:
          description: 'The CFG device ID, if enabled.

            '
          type: boolean
        id:
          description: 'The ID.

            '
          type: string
    DeviceIdConfigScreen:
      properties:
        cfg_device_id_enabled:
          description: 'The CFG device ID, if enabled.

            '
          type: boolean
        id:
          description: 'The ID.

            '
          type: string
    Error:
      properties:
        _error:
          items:
            $ref: '#/components/schemas/ErrorResponse'
          type: array
    ErrorResponse:
      properties:
        code:
          type: string
        message:
          type: string
info:
  contact: {}
  description: List of APIs used to retrieve IoT specific configurations. Example;
    Device IDs.
  title: IoT
  version: Latest
openapi: 3.0.0
paths:
  /v2.0/api/tenants/{tenant_id}/sites/{site_id}/deviceidconfigs:
    get:
      description: List all the device ID site configs.
      operationId: get-v2.0-api-tenants-tenant_id-sites-site_id-deviceidconfigs
      parameters:
      - description: The tenant ID
        in: path
        name: tenant_id
        required: true
        schema:
          description: Tenant Id
          type: string
      - description: The site ID.
        in: path
        name: site_id
        required: true
        schema:
          description: Site Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceIdConfig'
          description: Successful Operation
      summary: Get Device ID Site Configs (v2.0)
      tags:
      - IoT
    post:
      description: Details of the device ID site config to be created.
      operationId: post-v2.0-api-tenants-tenant_id-sites-site_id-deviceidconfigs
      parameters:
      - description: The tenant ID
        in: path
        name: tenant_id
        required: true
        schema:
          description: Tenant Id
          type: string
      - description: The site ID.
        in: path
        name: site_id
        required: true
        schema:
          description: Site Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceIdConfigScreen'
        description: Details of the Device ID site config to be created
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceIdConfig'
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: DEVICE_ID_NOT_SUPPORTED_IN_HUB
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Create Device ID Site Config (v2.0)
      tags:
      - IoT
  /v2.0/api/tenants/{tenant_id}/sites/{site_id}/deviceidconfigs/{config_id}:
    get:
      description: Get the device ID site configs for a particular config entry.
      operationId: get-v2.0-api-tenants-tenant_id-sites-site_id-deviceidconfigs-config_id
      parameters:
      - description: The tenant ID
        in: path
        name: tenant_id
        required: true
        schema:
          description: Tenant Id
          type: string
      - description: The site ID.
        in: path
        name: site_id
        required: true
        schema:
          description: Site Id
          type: string
      - description: The source site config ID.
        in: path
        name: config_id
        required: true
        schema:
          description: Config Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceIdConfig'
          description: Successful Operation
      summary: Get Device ID Site Config (v2.0)
      tags:
      - IoT
    put:
      description: Update the device ID site config.
      operationId: put-v2.0-api-tenants-tenant_id-sites-site_id-deviceidconfigs-config_id
      parameters:
      - description: The tenant ID
        in: path
        name: tenant_id
        required: true
        schema:
          description: Tenant Id
          type: string
      - description: The site ID.
        in: path
        name: site_id
        required: true
        schema:
          description: Site Id
          type: string
      - description: The source site config ID.
        in: path
        name: config_id
        required: true
        schema:
          description: Config Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceIdConfigScreen'
        description: Details of the Device ID site config to be created
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceIdConfig'
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: DEVICE_ID_NOT_SUPPORTED_IN_HUB
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Update Device ID Site Config (v2.0)
      tags:
      - IoT
servers:
- url: https://api.us.cloudgenix.com
tags:
- name: IoT
