# pan.dev Admins
src/* @PaloAltoNetworks/pan-dev
package.json @PaloAltoNetworks/pan-dev
.github/* @PaloAltoNetworks/pan-dev
firebase.json @PaloAltoNetworks/pan-dev

# pan.dev SASE team
products/sase/* @PaloAltoNetworks/pan-dev-sase
openapi-specs/sase/* @PaloAltoNetworks/pan-dev-sase

# pan.dev PAN-OS and Everything-as-code team
products/terraform/* @PaloAltoNetworks/design-hive
products/ansible/* @PaloAltoNetworks/design-hive
products/panos/* @PaloAltoNetworks/design-hive
products/splunk/* @PaloAltoNetworks/design-hive

# SWFW "Orchestration Hub"
products/terraform/docs/swfw/* @PaloAltoNetworks/pso_prisma_maintainers
products/terraform/sidebars.ts @PaloAltoNetworks/pso_prisma_maintainers

# Prisma Cloud team
openapi-specs/cspm/* @PaloAltoNetworks/pan-dev-prisma-cloud
products/prisma-cloud/* @PaloAltoNetworks/pan-dev-prisma-cloud
