# pan.dev Admins
websites/pan-dev/src/* @PaloAltoNetworks/pan-dev
package.json @PaloAltoNetworks/pan-dev
.github/* @PaloAltoNetworks/pan-dev
websites/pan-dev/firebase.json @PaloAltoNetworks/pan-dev

# pan.dev SASE team
websites/pan-dev/products/sase/* @PaloAltoNetworks/pan-dev-sase
websites/pan-dev/openapi-specs/sase/* @PaloAltoNetworks/pan-dev-sase

# pan.dev PAN-OS and Everything-as-code team
websites/pan-dev/products/terraform/* @PaloAltoNetworks/design-hive
websites/pan-dev/products/ansible/* @PaloAltoNetworks/design-hive
websites/pan-dev/products/panos/* @PaloAltoNetworks/design-hive
websites/pan-dev/products/splunk/* @PaloAltoNetworks/design-hive

# SWFW "Orchestration Hub"
websites/pan-dev/products/terraform/docs/swfw/* @PaloAltoNetworks/pso_prisma_maintainers
websites/pan-dev/products/terraform/sidebars.js @PaloAltoNetworks/pso_prisma_maintainers

# Prisma Cloud team
websites/pan-dev/openapi-specs/cspm/* @PaloAltoNetworks/pan-dev-prisma-cloud
websites/pan-dev/products/prisma-cloud/* @PaloAltoNetworks/pan-dev-prisma-cloud
