# pan.dev Admins
src/* @PaloAltoNetworks/pan-dev
package.json @PaloAltoNetworks/pan-dev
.github/* @PaloAltoNetworks/pan-dev
firebase.json @PaloAltoNetworks/pan-dev

# pan.dev SASE team
sase/* @PaloAltoNetworks/pan-dev-sase
openapi-specs/sase/* @PaloAltoNetworks/pan-dev-sase
