.link-list {
  text-align: left;

  h1 {
    font-size: 1.2rem;
    font-weight: 400;
  }

  h2 {
    font-size: 1rem;
    font-weight: 350;
    color: #19222e;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 0.9rem;
    color: #727274;
  }

  a {
    color: #727274;
    text-decoration: underline;
  }
}
