openapi: 3.0.0
info:
  version: 2.0.0
  title: Device Settings
  description: These APIs are used for defining and managing device configurations within Strata Cloud Manager.
  termsOfService: 'https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf'
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: 'https://support.paloaltonetworks.com'
  license:
    name: MIT
    url: https://opensource.org/license/mit
servers:
  - url: 'https://api.strata.paloaltonetworks.com/config/device/v1'
    description: Production
tags:
  - name: Authentication Settings
    description: Authentication Settings
  - name: Content-ID Settings
    description: Content-ID Settings
  - name: Device Redistribution Collector Settings
    description: Device Redistribution Collector Settings
  - name: General Settings
    description: General Settings
  - name: High Availability Configurations
    description: High Availability Configurations
  - name: High Availability Devices
    description: High Availability Devices
  - name: Login Banner Settings
    description: Login Banner Settings
  - name: Management Interface Settings
    description: Management Interface Settings
  - name: Service Route Settings
    description: Service Route Settings
  - name: Service Settings
    description: Services Settings
  - name: Session Settings
    description: Session Settings
  - name: Session Timeouts Settings
    description: Session Timeouts Settings  
  - name: TCP Settings
    description: TCP Settings
  - name: Update Schedule Settings
    description: Update Schedule Settings
  - name: VPN Settings
    description: VPN Settings
paths:
  /authentication-settings:
    get:
      tags:
        - Authentication Settings
      summary: List authentication settings
      description: |
        Retrieve a list of device authentication settings.
      operationId: ListAuthenticationSettings
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/authentication-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Authentication Settings
      summary: Create authentication settings
      description: |
        Create new device authentication settings.
      operationId: CreateAuthenticationSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authentication-settings'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  
  /authentication-settings/{id}:
    get:
      tags:
        - Authentication Settings
      summary: Get existing authentication settings
      description: |
        Retrieve existing device authentication settings.
      operationId: GetAuthenticationSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authentication-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Authentication Settings
      summary: Update authentication settings
      description: |
        Update the device authentication settings.
      operationId: UpdateAuthenticationSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authentication-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Authentication Settings
      summary: Delete authentication settings
      description: |
        Delete the device authentication settings.
      operationId: DeleteAuthenticationSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    
  /content-id-settings:
    get:
      tags:
        - Content-ID Settings
      summary: List Content-ID settings
      description: |
        Retrieve a list of Content-ID settings.
      operationId: ListContentIDSettings
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/content-id-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Content-ID Settings
      summary: Create Content-ID settings
      description: |
        Create new Content-ID settings.
      operationId: CreateContentIDSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/content-id-settings'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  
  /content-id-settings/{id}:
    get:
      tags:
        - Content-ID Settings
      summary: Get existing Content-ID settings
      description: |
        Retrieve existing Content-ID settings.
      operationId: GetContentIDSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/content-id-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Content-ID Settings
      summary: Update Content-ID settings
      description: |
        Update the Content-ID settings.
      operationId: UpdateContentIDSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/content-id-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Content-ID Settings
      summary: Delete Content-ID settings
      description: |
        Delete the Content-ID settings.
      operationId: DeleteContentIDSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    
  /device-redistribution-collector:
    get:
      tags:
        - Device Redistribution Collector Settings
      summary: List device redistribution collector settings
      description: |
        Retrieve a list of device redistribution collector settings.
      operationId: ListDeviceRedistributionCollectorSettings
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/device-redistribution-collector'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Device Redistribution Collector Settings
      summary: Create device redistribution collector settings
      description: Create new device redistribution collector settings.
      operationId: CreateDeviceRedistributionCollectorSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/device-redistribution-collector'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  
  /device-redistribution-collector/{id}:
    get:
      tags:
        - Device Redistribution Collector Settings
      summary: Get existing device redistribution collector settings
      description: |
        Retrieve existing device redistribution collector settings.
      operationId: GetDeviceRedistributionCollectorSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/device-redistribution-collector'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Device Redistribution Collector Settings
      summary: Update device redistribution collector settings
      description: |
        Update the device redistribution collector settings.
      operationId: UpdateDeviceRedistributionCollectorSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/device-redistribution-collector'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Device Redistribution Collector Settings
      summary: Delete device redistribution collector settings
      description: |
        Delete the device redistribution collector settings.
      operationId: DeleteDeviceRedistributionCollectorSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /general-settings:
    get:
      tags:
        - General Settings
      summary: List general settings
      description: |
        Retrieve a list of general settings.
      operationId: ListGeneralSettings
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/general-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - General Settings
      summary: Create general settings
      description: |
        Create new general settings.
      operationId: CreeateGeneralSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/general-settings'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /general-settings/{id}:
    get:
      tags:
        - General Settings
      summary: Get existing general settings
      description: |
        Retrieve existing general settings.
      operationId: GetGeneralSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/general-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - General Settings
      summary: Update general settings
      description: |
        Update the device redistribution collector settings.
      operationId: UpdateGeneralSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/general-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - General Settings
      summary: Delete general settings
      description: |
        Delete the general settings.
      operationId: DeleteGeneralSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /ha-configurations:
    get:
      tags:
        - High Availability Configurations
      summary: List high availability configurations
      description: |
        Retrieve a list of high availability configurations.
      operationId: ListHAConfigurations
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ha-configurations'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - High Availability Configurations
      summary: Create high availability configurations
      description: |
        Create new high availability configurations.
      operationId: CreateHAConfigurations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ha-configurations'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  
  /ha-configurations/{id}:
    get:
      tags:
        - High Availability Configurations
      summary: Get existing high availability configurations
      description: |
        Retrieve existing high availability configurations.
      operationId: GetHAConfigurationsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ha-configurations'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - High Availability Configurations
      summary: Update high availability configurations
      description: |
        Update the high availability configurations.
      operationId: UpdateHAConfigurationsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ha-configurations'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - High Availability Configurations
      summary: Delete high availability configurations
      description: |
        Delete the high availability configurations.
      operationId: DeleteHAConfigurationsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /ha-devices:
    get:
      tags:
        - High Availability Devices
      summary: List high availability devices
      description: |
        Retrieve a list of high availability devices.
      operationId: ListHADevices
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ha-devices'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
  
  /management-interface:
    get:
      tags:
        - Management Interface Settings
      summary: List management interface settings
      description: |
        Retrieve a list of management interface settings.
      operationId: ListManagementInterfaceSettings
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/management-interface'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Management Interface Settings
      summary: Create management interface settings
      description: |
        Create new management interface settings.
      operationId: CreateManagementInterfaceSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/management-interface'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /management-interface/{id}:
    get:
      tags:
        - Management Interface Settings
      summary: Get existing management interface settings
      description: |
        Retrieve existing management interface settings.
      operationId: GetManagementInterfaceSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/management-interface'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Management Interface Settings
      summary: Update management interface settings
      description: |
        Update the management interface settings.
      operationId: UpdateManagementInterfaceSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/management-interface'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Management Interface Settings
      summary: Delete management interface settings
      description: |
        Delete the management interface settings.
      operationId: DeleteManagementInterfaceSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  
  /motd-banner-settings:
    get:
      tags:
        - Login Banner Settings
      summary: List login banner settings
      description: |
        Retrieve a list of login banner settings.
      operationId: ListLoginBannerSettings
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/motd-banner-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Login Banner Settings
      summary: Create login banner settings
      description: |
        Create new login banner settings.
      operationId: CreateLoginBannerSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/motd-banner-settings'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  
  /motd-banner-settings/{id}:
    get:
      tags:
        - Login Banner Settings
      summary: Get existing login banner settings
      description: |
        Retrieve existing login banner settings.
      operationId: GetLoginBannerSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/motd-banner-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Login Banner Settings
      summary: Update login banner settings
      description: |
        Update the login banner settings.
      operationId: UpdateLoginBannerSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/motd-banner-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Login Banner Settings
      summary: Delete login banner settings
      description: |
        Delete the login banner settings.
      operationId: DeleteLoginBannerSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  
  /service-route:
    get:
      tags:
        - Service Route Settings
      summary: List service route settings
      description: |
        Retrieve a list of service route settings.
      operationId: ListServiceRouteSettings
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/service-route'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Service Route Settings
      summary: Create service route settings
      description: |
        Create new service route settings.
      operationId: CreateServiceRouteSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service-route'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  
  /service-route/{id}:
    get:
      tags:
        - Service Route Settings
      summary: Get existing service route settings
      description: |
        Retrieve existing service route settings.
      operationId: GetServiceRouteSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service-route'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Service Route Settings
      summary: Update service route settings
      description: |
        Update the service route settings.
      operationId: UpdateServiceRouteSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service-route'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Service Route Settings
      summary: Delete service route settings
      description: |
        Delete the service route settings.
      operationId: DeleteServiceRouteSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /service-settings:
    get:
      tags:
        - Service Settings
      summary: List service settings
      description: |
        Retrieve a list of service settings.
      operationId: ListServiceSettings
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/service-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Service Settings
      summary: Create service settings
      description: |
        Create new service settings.
      operationId: CreateServiceSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service-settings'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  
  /service-settings/{id}:
    get:
      tags:
        - Service Settings
      summary: Get existing service settings
      description: |
        Retrieve existing service settings.
      operationId: GetServiceSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Service Settings
      summary: Update service settings
      description: |
        Update the service settings.
      operationId: UpdateServiceSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Service Settings
      summary: Delete service settings
      description: |
        Delete the service settings.
      operationId: DeleteServiceSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /session-settings:
    get:
      tags:
        - Session Settings
      summary: List session settings
      description: |
        Retrieve a list of session settings.
      operationId: ListSessionSettings
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/session-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Session Settings
      summary: Create session settings
      description: |
        Create new session settings.
      operationId: CreateSessionSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/session-settings'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  
  /session-settings/{id}:
    get:
      tags:
        - Session Settings
      summary: Get existing session settings
      description: |
        Retrieve existing session settings.
      operationId: GetSessionSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Session Settings
      summary: Update session settings
      description: |
        Update the session settings.
      operationId: UpdateSessionSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/session-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Session Settings
      summary: Delete session settings
      description: |
        Delete the session settings.
      operationId: DeleteSessionSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /session-timeouts:
    get:
      tags:
        - Session Timeouts Settings
      summary: List session timeouts settings
      description: |
        Retrieve a list of session timeouts settings.
      operationId: ListSessionTimeoutsSettings
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/session-timeouts'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Session Timeouts Settings
      summary: Create session timeouts settings
      description: |
        Create new session timeouts settings.
      operationId: CreateSessionTimeoutsSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/session-timeouts'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  
  /session-timeouts/{id}:
    get:
      tags:
        - Session Timeouts Settings
      summary: Get existing session settings
      description: |
        Retrieve existing session settings.
      operationId: GetSessionTimeoutsSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session-timeouts'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Session Timeouts Settings
      summary: Update session settings
      description: |
        Update the session settings.
      operationId: UpdateSessionTimeoutsSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/session-timeouts'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Session Timeouts Settings
      summary: Delete session settings
      description: |
        Delete the session settings.
      operationId: DeleteSessionTimeoutsSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /tcp-settings:
    get:
      tags:
        - TCP Settings
      summary: List TCP settings
      description: |
        Retrieve a list of TCP settings.
      operationId: ListTCPSettings
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/tcp-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - TCP Settings
      summary: Create TCP settings
      description: |
        Create new TCP settings.
      operationId: CreateTCPSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tcp-settings'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  
  /tcp-settings/{id}:
    get:
      tags:
        - TCP Settings
      summary: Get existing TCP settings
      description: |
        Retrieve existing TCP settings.
      operationId: GetTCPSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcp-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - TCP Settings
      summary: Update TCP settings
      description: |
        Update the TCP settings.
      operationId: UpdateTCPSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tcp-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - TCP Settings
      summary: Delete TCP settings
      description: |
        Delete the TCP settings.
      operationId: DeleteTCPSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /update-schedule:
    get:
      tags:
        - Update Schedule Settings
      summary: List update schedule settings
      description: |
        Retrieve a list of update schedule settings.
      operationId: ListUpdateScheduleSettings
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/update-schedule'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Update Schedule Settings
      summary: Create update schedule settings
      description: |
        Create new update schedule settings.
      operationId: CreateUpdateScheduleSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-schedule'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /update-schedule/{id}:
    get:
      tags:
        - Update Schedule Settings
      summary: Get existing update schedule settings
      description: |
        Retrieve existing update schedule settings.
      operationId: GetUpdateScheduleSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-schedule'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Update Schedule Settings
      summary: Update update schedule settings
      description: |
        Update the update schedule settings.
      operationId: UpdateUpdateScheduleSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-schedule'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Update Schedule Settings
      summary: Delete update schedule settings
      description: |
        Delete the update schedule settings.
      operationId: DeleteUpdateScheduleSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /vpn-settings:
    get:
      tags:
        - VPN Settings
      summary: List VPN settings
      description: |
        Retrieve a list of VPN settings.
      operationId: ListVPNSettings
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/vpn-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - VPN Settings
      summary: Create VPN settings
      description: |
        Create new VPN settings.
      operationId: CreateVPNSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vpn-settings'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  /vpn-settings/{id}:
    get:
      tags:
        - VPN Settings
      summary: Get existing VPN settings
      description: |
        Retrieve existing VPN settings.
      operationId: GetVPNSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vpn-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - VPN Settings
      summary: Update VPN settings
      description: |
        Update the VPN settings.
      operationId: UpdateVPNSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vpn-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - VPN Settings
      summary: Delete VPN settings
      description: |
        Delete the VPN settings.
      operationId: DeleteVPNSettingsByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

components:
  parameters:
    folder:
      name: folder
      in: query
      description: |
        The folder in which the resource is defined
      required: false
      schema:
        type: string
    snippet:
      name: snippet
      in: query
      description: |
        The snippet in which the resource is defined
      required: false
      schema:
        type: string
    device:
      name: device
      in: query
      description: |
        The device in which the resource is defined
      required: false
      schema:
        type: string
    uuid:
      name: id
      in: path
      description: The UUID of the configuration resource
      required: true
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426655440000
  securitySchemes:
    scmOAuth:
      type: oauth2
      description: |
        Strata Cloud Manager APIs authenticate client requests using the 
        OAuth 2.0 Client Credentials flow.  Please use the `client_id`, 
        `client_secret` values associated with an IAM service account along 
        with a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the 
        Tenant Service Group (TSG) ID.  The resulting JWT access token should 
        be attached to all API calls as a `Bearer` token in the `Authorization` 
        header (ex. `Authorization: Bearer tokenstring`).
      flows: 
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes: {}
    scmToken:
      type: http
      description: |
        Strata Cloud Manager APIs authenticate client requests using the 
        OAuth 2.0 Client Credentials flow.  Please use the `client_id`, 
        `client_secret` values associated with an IAM service account along 
        with a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the 
        Tenant Service Group (TSG) ID.  The resulting JWT access token should 
        be attached to all API calls as a `Bearer` token in the `Authorization` 
        header (ex. `Authorization: Bearer tokenstring`).
      scheme: bearer
      bearerFormat: JWT
  responses:
    http_ok:
      description: OK
    http_created:
      description: Created
    auth_errors:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
    access_errors:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
    bad_request_errors_basic:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    bad_request_errors_basic_with_body:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    not_found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    default_errors:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
  examples:
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
          - code: E016
            message: Not Authenticated
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
          - code: E016
            message: Invalid Credential
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
          - code: E016
            message: Key Too Long
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
          - code: E016
            message: Key Expired
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
          - code: E016
            message: The password needs to be changed.
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
          - code: E007
            message: Unauthorized
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
          - code: E012
            message: Version Not Supported
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
          - code: E012
            message: Method Not Supported
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
          - code: E003
            message: 'Input Format Mismatch: input-format=json'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
          - code: E003
            message: 'Output Format Mismatch: output-format=json Accept=xml'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
          - code: E003
            message: 'Missing Query Parameter: name'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
          - code: E003
            message: 'Invalid Query Parameter: location=invalid'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
          - code: E003
            message: Missing Body
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
          - code: E012
            message: 'Action Not Supported: move'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
          - code: E013
            message: Bad XPath
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
          - code: E005
            message: Object Not Present
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
          - code: E016
            message: Object Not Unique
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
          - code: E006
            message: Name Not Unique
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
          - code: E009
            message: Reference Not Zero
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
          - code: E003
            message: Invalid Object
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
          - code: E003
            message: Invalid Command
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
          - code: E003
            message: Malformed Command
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
          - code: '4'
            message: Session Timeout
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
  schemas:
    authentication-settings:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        authentication:
          type: object
          properties:
            authentication_profile:
              description: Authentication profile
              type: string
            certificate_profile:
              description: Certificate profile
              type: string
            accounting_server_profile:
              description: Accounting server profile
              type: string
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required: 
          -  folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required: 
          -  snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required: 
          -  device
      required:
        - id
   
    motd-banner-settings:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        motd_and_banner:
          type: object
          properties:
            motd_enable:
              type: boolean
            message:
              type: string
            motd_do_not_display_again:
              type: boolean
            motd_title:
              type: string
            motd_color:
              $ref: '#/components/schemas/motd-color'
            severity:
              type: string
              enum:
                - warning
                - question
                - error
                - info
            banner_header:
              type: string
            banner_header_color:
              $ref: '#/components/schemas/motd-color'
            banner_header_text_color:
              $ref: '#/components/schemas/motd-color'
            banner_header_footer_match:
              type: boolean
            banner_footer:
              type: string
            banner_footer_color:
              $ref: '#/components/schemas/motd-color'
            banner_footer_text_color:
              $ref: '#/components/schemas/motd-color'
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required: 
          -  folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required: 
          -  snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required: 
          -  device
    
    motd-color:
      description: |
        The following list details the supported values and their colors.

        - `color1` = Red
        - `color2` = Green
        - `color3` = Blue
        - `color4` = Yellow
        - `color5` = Copper
        - `color6` = Orange
        - `color7` = Purple
        - `color8` = Gray
        - `color9` = Light Green
        - `color10` = Cyan
        - `color11` = Light Gray
        - `color12` = Blue Gray
        - `color13` = Lime
        - `color14` = Black
        - `color15` = Gold
        - `color16` = Brown
        - `color17` = Olive
      type: string
      enum:
        - color1 
        - color2
        - color3
        - color4
        - color5
        - color6
        - color7
        - color8
        - color9
        - color10
        - color11
        - color12
        - color13
        - color14
        - color15
        - color16
        - color17
    
    content-id-settings:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        content_id:
          type: object
          properties:
            allow_forward_decrypted_content:
              type: boolean
              default: false
            extended_capture_segment:
              type: integer
              default: 5
            application:
              type: object
              properties:
                bypass_exceed_queue:
                  type: boolean
                  default: false
            tcp_bypass_exceed_queue:
              type: boolean
              default: true
            udp_bypass_exceed_queue:
              type: boolean
              default: true
            allow_http_range:
              type: boolean
              default: true
            x_forwarded_for:
              type: integer
              minimum: 0
              maximum: 2
              default: 0
            strip_x_fwd_for:
              type: boolean
              default: false
      oneOf:
        - type: object
          title: folder
          properties:
            folder:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The folder in which the resource is defined
              example: My Folder
          required: 
            -  folder
        - type: object
          title: snippet
          properties:
            snippet:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The snippet in which the resource is defined
              example: My Snippet
          required: 
            -  snippet
        - type: object
          title: device
          properties:
            device:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The device in which the resource is defined
              example: My Device
          required: 
            -  device
    
    update-schedule:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        update_schedule:
          type: object
          required:
          - threats
          - anti_virus
          - wildfire
          properties:
            threats:
              type: object
              required:
              - recurring
              properties:
                recurring:
                  type: object
                  required:
                  - sync_to_peer
                  properties:
                    threshold:
                      type: integer
                      minimum: 1
                      maximum: 336
                    new_app_threshold:
                      type: integer
                      minimum: 1
                      maximum: 336
                    sync_to_peer:
                      type: boolean
                      default: false
                  oneOf:
                  - required:
                    - none
                    properties:
                      none:
                        type: object
                        default: {}
                  - required:
                    - every_30_mins
                    properties:
                      every_30_mins:
                        type: object
                        properties:
                          at:
                            type: integer
                            minimum: 0
                            maximum: 29
                            default: 0
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          disable_new_content:
                            type: boolean
                            default: false
                  - required:
                    - hourly
                    properties:
                      hourly:
                        type: object
                        required:
                        - at
                        properties:
                          at:
                            type: number
                            minimum: 0
                            maximum: 59
                            default: 0
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          disable_new_content:
                            type: boolean
                            default: false
                  - required:
                    - daily
                    properties:
                      daily:
                        type: object
                        required:
                        - at
                        properties:
                          at:
                            type: string
                            pattern: '/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/'
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          disable_new_content:
                            type: boolean
                            default: false
                  - required:
                    - weekly
                    properties:
                      weekly:
                        type: object
                        required:
                        - day_of_week
                        - at
                        properties:
                          day_of_week:
                            type: string
                            enum:
                            - sunday
                            - monday
                            - tuesday
                            - wednesday
                            - thursday
                            - friday
                            - saturday
                          at:
                            type: string
                            pattern: '/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/'
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          disable_new_content:
                            type: boolean
                            default: false
            anti_virus:
              type: object
              required:
              - recurring
              properties:
                recurring:
                  type: object
                  required:
                  - sync_to_peer
                  properties:
                    threshold:
                      type: integer
                      minimum: 1
                      maximum: 336
                    sync_to_peer:
                      type: boolean
                      default: false
                  oneOf:
                  - required:
                    - none
                    properties:                
                      none:
                        type: object
                        default: {}
                  - required:
                    - hourly
                    properties:            
                      hourly:
                        type: object
                        required:
                          - at
                        properties:
                          at:
                            type: integer
                            minimum: 0
                            maximum: 59
                            default: 0
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                  - required:
                    - daily
                    properties:
                      daily:
                        type: object
                        required:
                          - at
                        properties:
                          at:
                            type: string
                            pattern: '/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/'
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                  - required:
                    - weekly
                    properties:
                      weekly:
                        type: object
                        properties:
                          day_of_week:
                            type: string
                            enum:
                            - sunday
                            - monday
                            - tuesday
                            - wednesday
                            - thursday
                            - friday
                            - saturday
                          at:
                            type: string
                            pattern: '/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/'
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
            wildfire:
              type: object
              required:
                - recurring
              properties:
                recurring:
                  type: object
                  oneOf:
                  - required:
                    - none
                    properties:              
                      none:
                        type: object
                        default: {}
                  - required:
                    - real_time
                    properties:              
                      real_time:
                        type: object
                        default: {}
                  - required:
                    - every_min
                    properties:
                      every_min:
                        type: object
                        properties:
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          sync_to_peer:
                            type: boolean
                            default: false
                  - required:
                    - every_15_mins
                    properties:
                      every_15_mins:
                        type: object
                        properties:
                          at:
                            type: integer
                            minimum: 0
                            maximum: 14
                            default: 0
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          sync_to_peer:
                            type: boolean
                            default: false
                  - required:
                    - every_30_mins
                    properties:
                      every_30_mins:
                        type: object
                        properties:
                          at:
                            type: integer
                            minimum: 0
                            maximum: 29
                            default: 0
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          sync_to_peer:
                            type: boolean
                            default: false
                  - required:
                    - every_hour
                    properties:
                      every_hour:
                        type: object
                        properties:
                          at:
                            type: integer
                            minimum: 0
                            maximum: 59
                            default: 0
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          sync_to_peer:
                            type: boolean
                            default: false
      oneOf:
        - type: object
          title: folder
          properties:
            folder:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The folder in which the resource is defined
              example: My Folder
          required: 
            -  folder
        - type: object
          title: snippet
          properties:
            snippet:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The snippet in which the resource is defined
              example: My Snippet
          required: 
            -  snippet
        - type: object
          title: device
          properties:
            device:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The device in which the resource is defined
              example: My Device
          required: 
            -  device
    
    general-settings:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        general:
          type: object
          properties:
            domain:
              type: string
              description: DNS domain
              example: foo.com
            login_banner:
              type: string
              description: Logon banner
            ack_login_banner:
              type: boolean
              description: Force admins to acknowledge login banner
              default: false
            ssl_tls_service_profile:
              type: string
              description: SSL/TLS service profile
            locale:
              type: string
              enum:
              - en
              - es
              - ja
              - fr
              - zh_CN
              - zh_TW
              description: Locale
              default: en
            geo_location:
              type: object
              description: Geographic coordinates
              required:
              - latitude
              - longitude
              properties:
                latitude:
                  type: number
                  description: Latitude
                  example: 37.383140
                longitude:
                  type: number
                  description: Longitude
                  example: -121.983060
            timezone:
              type: string
[...]
