openapi: 3.0.0
info:
  version: 2.0.0
  title: Device Settings
  description: These APIs are used for defining and managing device configurations within Strata Cloud Manager.
  termsOfService: 'https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf'
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: 'https://support.paloaltonetworks.com'
  license:
    name: MIT
    url: https://opensource.org/license/mit
servers:
  - url: 'https://api.strata.paloaltonetworks.com/config/device/v1'
    description: Production
tags:
  - name: Authentication Settings
    description: Authentication Settings
  - name: Content-ID Settings
    description: Content-ID Settings
  - name: Device Redistribution Collector Settings
    description: Device Redistribution Collector Settings
  - name: General Settings
    description: General Settings
  - name: High Availability Configurations
    description: High Availability Configurations
  - name: High Availability Devices
    description: High Availability Devices
  - name: Login Banner Settings
    description: Login Banner Settings
  - name: Management Interface Settings
    description: Management Interface Settings
  - name: Service Route Settings
    description: Service Route Settings
  - name: Service Settings
    description: Services Settings
  - name: Session Settings
    description: Session Settings
  - name: Session Timeouts Settings
    description: Session Timeouts Settings  
  - name: TCP Settings
    description: TCP Settings
  - name: Update Schedule Settings
    description: Update Schedule Settings
  - name: VPN Settings
    description: VPN Settings
paths:
  /authentication-settings:
    get:
      tags:
        - Authentication Settings
      summary: Get authentication settings
      description: |
        Retrieve the device authentication settings.
      operationId: GetAuthenticationSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/authentication-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Authentication Settings
      summary: Update authentication settings
      description: |
        Update the device authentication settings.
      operationId: UpdateAuthenticationSettings
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authentication-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /motd-banner-settings:
    get:
      tags:
        - Login Banner Settings
      summary: Get login banner settings
      description: |
        Retrieve the login banner settings.
      operationId: GetLoginBannerSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/motd-banner-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Login Banner Settings
      summary: Update login banner settings
      description: |
        Update the login banner settings.
      operationId: UpdateLoginBannerSettings
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/motd-banner-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /content-id-settings:
    get:
      tags:
        - Content-ID Settings
      summary: Get Content-ID settings
      description: |
        Retrieve the Content-ID settings.
      operationId: GetContentIDSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/content-id-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Content-ID Settings
      summary: Update Content-ID settings
      description: |
        Update the Content-ID settings.
      operationId: UpdateContentIDSettings
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/content-id-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /update-schedule:
    get:
      tags:
        - Update Schedule Settings
      summary: Get update schedule settings
      description: |
        Retrieve the update schedule settings.
      operationId: GetUpdateScheduleSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/update-schedule'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Update Schedule Settings
      summary: Update update schedule settings
      description: |
        Update the update schedule settings.
      operationId: UpdateUpdateScheduleSettings
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-schedule'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /general-settings:
    get:
      tags:
        - General Settings
      summary: Get general settings
      description: |
        Retrieve the general settings.
      operationId: GetGeneralSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/general-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - General Settings
      summary: Update general settings
      description: |
        Update the general settings.
      operationId: UpdateGeneralSettings
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/general-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /management-interface:
    get:
      tags:
        - Management Interface Settings
      summary: Get management interface settings
      description: |
        Retrieve the management interface settings.
      operationId: GetManagementInterfaceSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/management-interface'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Management Interface Settings
      summary: Update management interface settings
      description: |
        Update the management interface settings.
      operationId: UpdateManagementInterfaceSettings
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/management-interface'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /device-redistribution-collector:
    get:
      tags:
        - Device Redistribution Collector Settings
      summary: Get device redistribution collector settings
      description: |
        Retrieve the device redistribution collector settings.
      operationId: GetDeviceRedistributionCollectorSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/device-redistribution-collector'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Device Redistribution Collector Settings
      summary: Update device redistribution collector settings
      description: Update the device redistribution collector settings.
      operationId: UpdateDeviceRedistributionCollectorSettings
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/device-redistribution-collector'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /service-route:
    get:
      tags:
        - Service Route Settings
      summary: Get service route settings
      description: |
        Retrieve the service route settings.
      operationId: GetServiceRouteSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/service-route'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Service Route Settings
      summary: Update service route settings
      description: |
        Update the service route settings.
      operationId: UpdateServiceRouteSettings
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service-route'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /service-settings:
    get:
      tags:
        - Service Settings
      summary: Get service settings
      description: |
        Retrieve the service settings.
      operationId: GetServiceSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/service-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Service Settings
      summary: Update service settings
      description: |
        Update the service settings.
      operationId: UpdateServiceSettings
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /session-settings:
    get:
      tags:
        - Session Settings
      summary: Get session settings
      description: |
        Retrieve the session settings.
      operationId: GetSessionSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/session-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Session Settings
      summary: Update session settings
      description: |
        Update the session settings.
      operationId: UpdateSessionSettings
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/session-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /session-timeouts:
    get:
      tags:
        - Session Timeouts Settings
      summary: Get session timeouts settings
      description: |
        Retrieve the session timeouts settings.
      operationId: GetSessionTimeoutsSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/session-timeouts'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Session Timeouts Settings
      summary: Update session timeouts settings
      description: |
        Update the session timeouts settings.
      operationId: UpdateSessionTimeoutsSettings
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/session-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /tcp-settings:
    get:
      tags:
        - TCP Settings
      summary: Get TCP settings
      description: |
        Retrieve the TCP settings.
      operationId: GetTCPSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/tcp-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - TCP Settings
      summary: Update TCP settings
      description: |
        Update the TCP settings.
      operationId: UpdateTCPSettings
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tcp-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /vpn-settings:
    get:
      tags:
        - VPN Settings
      summary: Get VPN settings
      description: |
        Retrieve the VPN settings.
      operationId: GetVPNSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/vpn-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - VPN Settings
      summary: Update VPN settings
      description: |
        Update the VPN settings.
      operationId: UpdateVPNSettings
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vpn-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /ha-configurations:
    get:
      tags:
        - High Availability Configurations
      summary: Get high availability configurations
      description: |
        Retrieve the high availability configurations.
      operationId: GetHAConfigurations
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ha-configurations'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - High Availability Configurations
      summary: Update high availability configurations
      description: |
        Update the high availability configurations.
      operationId: UpdateHAConfigurations
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ha-configurations'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /ha-devices:
    get:
      tags:
        - High Availability Devices
      summary: Get high availability devices
      description: |
        Retrieve the high availability devices.
      operationId: GetHADevices
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ha-devices'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - High Availability Devices
      summary: Update high availability devices
      description: |
        Update the high availability devices.
      operationId: UpdateHADevices
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ha-devices'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
components:
  parameters:
    name:
      name: name
      in: query
      description: The name of the configuration resource
      required: false
      schema:
        type: string
    folder:
      name: folder
      in: query
      description: |
        The folder in which the resource is defined
      required: false
      schema:
        type: string
    snippet:
      name: snippet
      in: query
      description: |
        The snippet in which the resource is defined
      required: false
      schema:
        type: string
    device:
      name: device
      in: query
      description: |
        The device in which the resource is defined
      required: false
      schema:
        type: string
  securitySchemes:
    scmOAuth:
      type: oauth2
      description: |
        Strata Cloud Manager APIs authenticate client requests using the 
        OAuth 2.0 Client Credentials flow.  Please use the `client_id`, 
        `client_secret` values associated with an IAM service account along 
        with a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the 
        Tenant Service Group (TSG) ID.  The resulting JWT access token should 
        be attached to all API calls as a `Bearer` token in the `Authorization` 
        header (ex. `Authorization: Bearer tokenstring`).
      flows: 
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes: {}
    scmToken:
      type: http
      description: |
        Strata Cloud Manager APIs authenticate client requests using the 
        OAuth 2.0 Client Credentials flow.  Please use the `client_id`, 
        `client_secret` values associated with an IAM service account along 
        with a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the 
        Tenant Service Group (TSG) ID.  The resulting JWT access token should 
        be attached to all API calls as a `Bearer` token in the `Authorization` 
        header (ex. `Authorization: Bearer tokenstring`).
      scheme: bearer
      bearerFormat: JWT
  responses:
    http_ok:
      description: OK
    auth_errors:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
    access_errors:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
    bad_request_errors_basic:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    bad_request_errors_basic_with_body:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    not_found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    default_errors:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
  examples:
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
          - code: E016
            message: Not Authenticated
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
          - code: E016
            message: Invalid Credential
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
          - code: E016
            message: Key Too Long
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
          - code: E016
            message: Key Expired
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
          - code: E016
            message: The password needs to be changed.
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
          - code: E007
            message: Unauthorized
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
          - code: E012
            message: Version Not Supported
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
          - code: E012
            message: Method Not Supported
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
          - code: E003
            message: 'Input Format Mismatch: input-format=json'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
          - code: E003
            message: 'Output Format Mismatch: output-format=json Accept=xml'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
          - code: E003
            message: 'Missing Query Parameter: name'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
          - code: E003
            message: 'Invalid Query Parameter: location=invalid'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
          - code: E003
            message: Missing Body
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
          - code: E012
            message: 'Action Not Supported: move'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
          - code: E013
            message: Bad XPath
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
          - code: E005
            message: Object Not Present
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
          - code: E016
            message: Object Not Unique
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
          - code: E006
            message: Name Not Unique
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
          - code: E009
            message: Reference Not Zero
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
          - code: E003
            message: Invalid Object
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
          - code: E003
            message: Invalid Command
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
          - code: E003
            message: Malformed Command
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
          - code: '4'
            message: Session Timeout
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
  schemas:
    authentication-settings:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        authentication:
          type: object
          properties:
            authentication_profile:
              description: Authentication profile
              type: string
            certificate_profile:
              description: Certificate profile
              type: string
            accounting_server_profile:
              description: Accounting server profile
              type: string
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required: 
          -  folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required: 
          -  snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required: 
          -  device
      required:
        - id
   
    motd-banner-settings:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        motd_and_banner:
          type: object
          properties:
            motd_enable:
              type: boolean
            message:
              type: string
            motd_do_not_display_again:
              type: boolean
            motd_title:
              type: string
            motd_color:
              $ref: '#/components/schemas/motd-color'
            severity:
              type: string
              enum:
                - warning
                - question
                - error
                - info
            banner_header:
              type: string
            banner_header_color:
              type: string
              $ref: '#/components/schemas/motd-color'
            banner_header_text_color:
              $ref: '#/components/schemas/motd-color'
            banner_header_footer_match:
              type: boolean
            banner_footer:
              type: string
            banner_footer_color:
              $ref: '#/components/schemas/motd-color'
            banner_footer_text_color:
              $ref: '#/components/schemas/motd-color'
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required: 
          -  folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required: 
          -  snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required: 
          -  device
    
    motd-color:
      description: |
        The following table details the supported colors and their values.

        | Color | Value |
        | ----- | ----- |
        | Red | color1 |
        | Green | color2 |
        | Blue | color3 |
        | Yellow | color4 |
        | Copper | color5 |
        | Orange | color6 |
        | Purple | color7 |
        | Gray | color8 |
        | Light Green | color9 |
        | Cyan | color10 |
        | Light Gray | color11 |
        | Blue Gray | color12 |
        | Lime | color13 |
        | Black | color14 |
        | Gold | color15 |
        | Brown | color16 |
        | Olive | color17 |
      type: string
      enum:
        - color1 
        - color2
        - color3
        - color4
        - color5
        - color6
        - color7
        - color8
        - color9
        - color10
        - color11
        - color12
        - color13
        - color14
        - color15
        - color16
        - color17
    
    content-id-settings:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        content_id:
          type: object
          properties:
            allow_forward_decrypted_content:
              type: boolean
              default: false
            extended_capture_segment:
              type: integer
              default: 5
            application:
              type: object
              properties:
                bypass_exceed_queue:
                  type: boolean
                  default: false
            tcp_bypass_exceed_queue:
              type: boolean
              default: true
            udp_bypass_exceed_queue:
              type: boolean
              default: true
            allow_http_range:
              type: boolean
              default: true
            x_forwarded_for:
              type: integer
              minimum: 0
              maximum: 2
              default: 0
            strip_x_fwd_for:
              type: boolean
              default: false
      oneOf:
        - type: object
          title: folder
          properties:
            folder:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The folder in which the resource is defined
              example: My Folder
          required: 
            -  folder
        - type: object
          title: snippet
          properties:
            snippet:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The snippet in which the resource is defined
              example: My Snippet
          required: 
            -  snippet
        - type: object
          title: device
          properties:
            device:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The device in which the resource is defined
              example: My Device
          required: 
            -  device
    
    update-schedule:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        update_schedule:
          type: object
          required:
          - threats
          - anti_virus
          - wildfire
          properties:
            threats:
              type: object
              required:
              - recurring
              properties:
                recurring:
                  type: object
                  required:
                  - sync_to_peer
                  properties:
                    threshold:
                      type: integer
                      minimum: 1
                      maximum: 336
                    new_app_threshold:
                      type: integer
                      minimum: 1
                      maximum: 336
                    sync_to_peer:
                      type: boolean
                      default: false
                  oneOf:
                  - required:
                    - none
                    properties:
                      none:
                        type: object
                        default: {}
                  - required:
                    - every_30_mins
                    properties:
                      every_30_mins:
                        type: object
                        properties:
                          at:
                            type: integer
                            minimum: 0
                            maximum: 29
                            default: 0
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          disable_new_content:
                            type: boolean
                            default: false
                  - required:
                    - hourly
                    properties:
                      hourly:
                        type: object
                        required:
                        - at
                        properties:
                          at:
                            type: number
                            minimum: 0
                            maximum: 59
                            default: 0
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          disable_new_content:
                            type: boolean
                            default: false
                  - required:
                    - daily
                    properties:
                      daily:
                        type: object
                        required:
                        - at
                        properties:
                          at:
                            type: string
                            pattern: '/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/'
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          disable_new_content:
                            type: boolean
                            default: false
                  - required:
                    - weekly
                    properties:
                      weekly:
                        type: object
                        required:
                        - day_of_week
                        - at
                        properties:
                          day_of_week:
                            type: string
                            enum:
                            - sunday
                            - monday
                            - tuesday
                            - wednesday
                            - thursday
                            - friday
                            - saturday
                          at:
                            type: string
                            pattern: '/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/'
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          disable_new_content:
                            type: boolean
                            default: false
            anti_virus:
              type: object
              required:
              - recurring
              properties:
                recurring:
                  type: object
                  required:
                  - sync_to_peer
                  properties:
                    threshold:
                      type: integer
                      minimum: 1
                      maximum: 336
                    sync_to_peer:
                      type: boolean
                      default: false
                  oneOf:
                  - required:
                    - none
                    properties:                
                      none:
                        type: object
                        default: {}
                  - required:
                    - hourly
                    properties:            
                      hourly:
                        type: object
                        required:
                          - at
                        properties:
                          at:
                            type: integer
                            minimum: 0
                            maximum: 59
                            default: 0
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                  - required:
                    - daily
                    properties:
                      daily:
                        type: object
                        required:
                          - at
                        properties:
                          at:
                            type: string
                            pattern: '/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/'
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                  - required:
                    - weekly
                    properties:
                      weekly:
                        type: object
                        properties:
                          day_of_week:
                            type: string
                            enum:
                            - sunday
                            - monday
                            - tuesday
                            - wednesday
                            - thursday
                            - friday
                            - saturday
                          at:
                            type: string
                            pattern: '/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/'
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
            wildfire:
              type: object
              required:
                - recurring
              properties:
                recurring:
                  type: object
                  oneOf:
                  - required:
                    - none
                    properties:              
                      none:
                        type: object
                        default: {}
                  - required:
                    - real_time
                    properties:              
                      real_time:
                        type: object
                        default: {}
                  - required:
                    - every_min
                    properties:
                      every_min:
                        type: object
                        properties:
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          sync_to_peer:
                            type: boolean
                            default: false
                  - required:
                    - every_15_mins
                    properties:
                      every_15_mins:
                        type: object
                        properties:
                          at:
                            type: integer
                            minimum: 0
                            maximum: 14
                            default: 0
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          sync_to_peer:
                            type: boolean
                            default: false
                  - required:
                    - every_30_mins
                    properties:
                      every_30_mins:
                        type: object
                        properties:
                          at:
                            type: integer
                            minimum: 0
                            maximum: 29
                            default: 0
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          sync_to_peer:
                            type: boolean
                            default: false
                  - required:
                    - every_hour
                    properties:
                      every_hour:
                        type: object
                        properties:
                          at:
                            type: integer
                            minimum: 0
                            maximum: 59
                            default: 0
                          action:
                            type: string
                            enum:
                            - download-only
                            - download-and-install
                          sync_to_peer:
                            type: boolean
                            default: false
      oneOf:
        - type: object
          title: folder
          properties:
            folder:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The folder in which the resource is defined
              example: My Folder
          required: 
            -  folder
        - type: object
          title: snippet
          properties:
            snippet:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The snippet in which the resource is defined
              example: My Snippet
          required: 
            -  snippet
        - type: object
          title: device
          properties:
            device:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The device in which the resource is defined
              example: My Device
          required: 
            -  device
    
    general-settings:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        general:
          type: object
          properties:
            domain:
              type: string
              description: DNS domain
              example: foo.com
            login_banner:
              type: string
              description: Logon banner
            ack_login_banner:
              type: boolean
              description: Force admins to acknowledge login banner
              default: false
            ssl_tls_service_profile:
              type: string
              description: SSL/TLS service profile
            locale:
              type: string
              enum:
              - en
              - es
              - ja
              - fr
              - zh_CN
              - zh_TW
              description: Locale
              default: en
            geo_location:
              type: object
              description: Geographic coordinates
              required:
              - latitude
              - longitude
              properties:
                latitude:
                  type: number
                  description: Latitude
                  example: 37.383140
                longitude:
                  type: number
                  description: Longitude
                  example: -121.983060
            timezone:
              type: string
              description: Timezone
              example: America/Los_Angeles
            setting:
              type: object
              properties:
                management:
                  type: object
                  properties:
                    auto_acquire_commit_lock:
                      type: boolean
                      description: Automatically acquire commit lock
                      default: false
                    enable_certificate_expiration_check:
                      type: boolean
                      description: Certificate expiration check
                      default: false
                auto_mac_detect:
                  type: boolean
                  description: Use hypervisor assigned MAC addresses
                  default: false
                tunnel_acceleration:
                  type: boolean
                  description: Tunnel acceleration
                  default: true
                fail_open:
                  type: boolean
                  description: Fail open
                  default: false
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required: 
          -  folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required: 
          -  snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required: 
          -  device   
    
    management-interface:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        management_interface:
          type: object
          properties:
            speed_duplex:
              type: string
              description: Speed and duplex
              enum:
              - auto-negotiate
              - 10Mbps-half-duplex
              - 10Mbps-full-duplex
              - 100Mbps-half-duplex
              - 100Mbps-full-duplex
              - 1Gbps-half-duplex
              - 1Gbps-full-duplex
              default: auto-negotiate
            mtu:
              type: integer
              description: MTU
              default: 1500
            mgmt_type:
              type: object
              description: IP type
              oneOf:
              - required:
                - static
                properties:         
                  static:
                    type: object
                    required:
                    - ip_address
                    - netmask
                    - default_gateway
                    properties:
                      ip_address:
                        type: string
                        description: IP address
                      netmask:
                        type: string
                        description: Netmask
                      default_gateway:
                        type: string
                        description: Default gateway
              - required:
                - dhcp_client
                properties:
                  dhcp_client:
                    type: object
                    properties:
                      send_hostname:
                        type: boolean
                        description: Send hostname
                        default: false
                      send_client_id:
                        type: boolean
                        description: Send client ID
                        default: false
                      accept_dhcp_hostname:
                        type: boolean
                        description: Accept DHCP server provided hostname
                        default: false
                      accept_dhcp_domain:
                        type: boolean
                        description: Accept DHCP server provided domain name
                        default: false
            service:
              type: object
              description: Network services
              properties:
                disable_http:
                  type: boolean
                  description: HTTP
                  default: false
                disable_https:
                  type: boolean
                  description: HTTPS
                  default: true
                disable_telnet:
                  type: boolean
                  description: Telnet
                  default: false
                disable_ssh:
                  type: boolean
                  description: SSH
                  default: true
                disable_icmp:
                  type: boolean
                  description: Ping
                  default: false
                disable_snmp:
                  type: boolean
                  description: SNMP
                  default: false
                disable_userid_service:
                  type: boolean
                  description: User-ID
                  default: false
                disable_userid_syslog_listener_ssl:
                  type: boolean
                  description: User-ID syslog listener over SSL
                  default: false
                disable_userid_syslog_listener_udp:
                  type: boolean
                  description: User-ID syslog listener over UDP
                  default: false
                disable_http_ocsp:
                  description: HTTP OCSP
                  default: false
                  type: boolean
            permitted_ip:
              type: array
              description: Permitting IP addresses
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: IP address
                    format: ip-address
                  description:
                    type: string
                    description: Description
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required: 
          -  folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required: 
          -  snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required: 
          -  device   
    
    device-redistribution-collector:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        redistribution_collector:
          type: object
          properties:
            interface:
              type: string
              description: User-ID collector interface
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required: 
          -  folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required: 
          -  snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required: 
          -  device   
    
    service-route:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        route:
          type: object
          properties:
            service:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    enum:
                    - autofocus
                    - crl-status
                    - data-services
                    - ddns
                    - deployments
                    - dns
                    - edl-updates
                    - email
                    - hsm
                    - http
                    - iot
                    - kerberos
                    - ldap
                    - mdm
                    - mfa
                    - netflow
                    - ntp
                    - paloalto-networks-services
                    - panorama
                    - panorama-log-forwarding
                    - proxy
                    - radius
                    - scep
                    - snmp
                    - syslog
                    - tacplus
                    - uid-agent
                    - url-updates
                    - vmmonitor
                    - wildfire-private
                    - ztp
                    description: |
                      | Value | Description |
                      |-------|-------------|
                      | autofocus | AutoFocus Cloud |
                      | crl-status | CRL servers |
                      | data-services | Data Services |
                      | ddns | DDNS server(s) |
                      | deployments | Panorama pushed updates |
                      | dns | DNS server(s) |
                      | edl-updates | External Dynamic List update server |
                      | email | SMTP gateway(s) |
                      | hsm | Hardware Security Module server(s) |
                      | http | HTTP Forwarding server(s) |
                      | iot | IOT service-route |
                      | kerberos | Kerberos server |
                      | ldap | LDAP server |
                      | mdm | MDM servers |
                      | mfa | Multi-Factor Authentication |
                      | netflow | Netflow server(s) |
                      | ntp | NTP server(s) |
                      | paloalto-networks-services | Palo Alto Networks Services |
                      | panorama | Panorama server |
                      | panorama-log-forwarding | Panorama Log Forwarding |
                      | proxy | Proxy server |
                      | radius | RADIUS server |
                      | scep | SCEP |
                      | snmp | SNMP server(s) |
                      | syslog | Syslog server(s) |
                      | tacplus | TACACS+ server |
                      | uid-agent | UID agent(s) |
                      | url-updates | URL update server |
                      | vmmonitor | VM monitor |
                      | wildfire-private | WildFire Appliance |
                      | ztp | ZTP and Auto-VPN DDNS |
                oneOf:
                  - required:
                    - source
                    type: object
                    properties:
                      source:
                        type: object
                        properties:
                          interface:
                            type: string
                          address:
                            type: string
                            format: ipv4
                  - required:
                    - source_v6
                    type: object
                    properties:
                      source_v6:
                        type: object
                        properties:
                          interface:
                            type: string
                          address:
                            type: string
                            format: ipv6
            destination:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  source:
                    type: object
                    properties:
                      interface:
                        type: string
                      address:
                        type: string
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required: 
          -  folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required: 
          -  snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required: 
          -  device   
    
    service-settings:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        services:
          type: object
          properties:
            dns_setting:
              type: object
              oneOf:
              - required:
                - servers
                type: object
                properties:
                  servers:
                    type: object
                    properties:
                      primary:
                        type: string
                      secondary:
                        type: string
              - required:
                - dns_proxy_object
                type: object
                properties:
                  dns_proxy_object:
                    type: string
            fqdn_refresh_time:
              type: number
              default: 15
            fqdn_stale_entry_timeout:
              type: number
              default: 1440
            ntp_servers:
              type: object
              properties:
                primary_ntp_server:
                  type: object
                  properties:
                    ntp_server_address:
                      type: string
                    authentication_type:
                      type: object
                      oneOf:
                      - required:
                        - none
                        type: object
                        properties:
                          none:
                            type: object
                            default: {}
                      - required:
                        - symmetric_key
                        type: object
                        properties:
                          symmetric_key:
                            type: object
                            properties:                        
                              key_id:
                                type: number
                              algorithm:
                                type: object
                                properties:
                                  md5:
                                    type: object
                                    properties:
                                      authentication_key:
                                        type: string
                                  sha1:
                                    type: object
                                    properties:
                                      authentication_key:
                                        type: string
                      - required:
                        - autokey
                        type: object
                        properties:
                          autokey:
                            type: object
                            default: {}
                secondary_ntp_server:
                  type: object
                  properties:
                    ntp_server_address:
                      type: string
                    authentication_type:
                      type: object
                      oneOf:
                      - required:
                        - none
                        type: object
                        properties:
                          none:
                            type: object
                            default: {}
                      - required:
                        - symmetric_key
                        type: object
                        properties:
                          symmetric_key:
                            type: object
                            properties:                        
                              key_id:
                                type: number
                              algorithm:
                                type: object
                                properties:
                                  md5:
                                    type: object
                                    properties:
                                      authentication_key:
                                        type: string
                                  sha1:
                                    type: object
                                    properties:
                                      authentication_key:
                                        type: string
                      - required:
                        - autokey
                        type: object
                        properties:
                          autokey:
                            type: object
                            default: {}
            update_server:
              type: string
              default: updates.paloaltonetworks.com
            server_verification:
              type: boolean
              default: true
            secure_proxy_server:
              type: string
            secure_proxy_port:
              type: number
            secure_proxy_user:
              type: string
            secure_proxy_password:
              type: string
              format: password
            lcaas_use_proxy:
              type: boolean
              default: false
            inline_cloud_proxy:
              type: boolean
              default: false
      oneOf:
        - type: object
          title: folder
          properties:
            folder:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The folder in which the resource is defined
              example: My Folder
          required: 
            -  folder
        - type: object
          title: snippet
          properties:
            snippet:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The snippet in which the resource is defined
              example: My Snippet
          required: 
            -  snippet
        - type: object
          title: device
          properties:
            device:
              type: string
              pattern: ^[a-zA-Z\d-_\. ]+$
              maxLength: 64
              description: The device in which the resource is defined
              example: My Device
          required: 
            -  device
    
    session-settings:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        session_settings:
          type: object
          properties:
            config:
              type: object
              properties:
                rematch:
                  type: boolean
                  description: Rematch all sessions on config policy change
                  default: false
            icmpv6_rate_limit:
              type: object
              description: ICMPv6 rate limiting
              properties:
                bucket_size:
                  type: integer
                  description: ICMPv6 token bucket size
                  minimum: 10
                  maximum: 65535
                  default: 100
                packet_rate:
                  type: integer
                  description: ICMPv6 error packet pate (per second)
                  minimum: 1
                  maximum: 65535
                  default: 100
            ipv6_firewalling:
              type: boolean
              description: Enable IPv6 firewalling
              default: true
            erspan:
              type: boolean
              description: Enable ERSPAN support
              default: false
            jumbo_frame:
              type: object
              description: Enable jumbo frame support
              properties:
                mtu:
                  type: integer
                  description: Global MTU
                  minimum: 512
                  maximum: 9216
                  default: 9192
            dhcp_bcast_session_on:
              type: boolean
              description: Enable DHCP broadcast session
              default: false
            nat64:
              type: object
              properties:
                ipv6_min_network_mtu:
                  type: integer
                  description: NAT64 IPv6 minimum network MTU
                  minimum: 1280
                  maximum: 9216
                  default: 1280
            nat:
              type: object
              properties:
                dipp_oversub:
                  type: string
                  description: NAT oversubscription rate
                  enum:
                  - 1x
                  - 2x
                  - 4x
                  - 8x
                  default: 1x
            icmp_unreachable_rate:
              type: number
              description: ICMP unreachable packet rate (per second)
              minimum: 1
              maximum: 65535
              default: 200
            accelerated_aging_enable:
              type: boolean
              description: Enable accelerated aging
              default: true
            accelerated_aging_threshold:
              type: number
              description: Accelerated aging threshold
              minimum: 50
              maximum: 99
              default: 80
            accelerated_aging_scaling_factor:
              type: number
              description: Accelerated aging scaling factor
              minimum: 2
              maximum: 16
              default: 2
            packet_buffer_protection_enable:
              type: boolean
              description: Enable packet buffer protection
              default: true
            packet_buffer_protection_monitor_only:
              type: boolean
              description: Packet buffer protection monitor only
              default: false
            packet_buffer_protection_alert:
              type: integer
              description: Alert (%)
              minimum: 0
              maximum: 99
              default: 50
            packet_buffer_protection_activate:
              type: number
              description: Activate (%)
              minimum: 0
              maximum: 99
              default: 80
            packet_buffer_protection_block_countdown:
              type: number
              description: Block countdown threshold (%)
              minimum: 0
              maximum: 99
              default: 80
            packet_buffer_protection_block_hold_time:
              type: number
              description: Block hold time (seconds)
              minimum: 0
              maximum: 65535
              default: 60
            packet_buffer_protection_block_duration_time:
              type: number
              description: Block duration (seconds)
              minimum: 1
              maximum: 15999999
              default: 3600
            packet_buffer_protection_use_latency:
              type: boolean
              description: Enabled latency-based activation
              default: false
            packet_buffer_protection_latency_alert:
              type: number
              description: Latency alert (milliseconds)
              minimum: 1
              maximum: 20000
              default: 50
            packet_buffer_protection_latency_activate:
              type: number
              description: Latency activate (milliseconds)
              minimum: 1
              maximum: 20000
              default: 200
            packet_buffer_protection_latency_max_tolerate:
              type: number
              description: Latency max tolerate (milliseconds)
              minimum: 1
              maximum: 20000
              default: 500
            packet_buffer_protection_latency_block_countdown:
              type: number
              description: Block countdown threshold (milliseconds)
              minimum: 1
              maximum: 20000
              default: 500
            multicast_route_setup_buffering:
              type: boolean
              description: Multicast route setup buffering
              default: false
            max_pending_mcast_pkts_per_session:
              type: number
              description: Multicast route setup buffer size
              minimum: 1
              maximum: 2000
              default: 1000
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required: 
          -  folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required: 
          -  snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required:
          - device
    
    session-timeouts:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        session_timeouts:
          type: object
          properties:
            timeout_default:
              type: integer
              description: Default timeout (seconds)
              minimum: 1
              maximum: 15999999
              default: 30
            timeout_discard_default:
              type: integer
              description: Discard default (seconds)
              minimum: 1
              maximum: 15999999
              default: 60
            timeout_discard_tcp:
              type: integer
              description: Discard TCP (seconds)
              minimum: 1
              maximum: 15999999
              default: 90
            timeout_discard_udp:
              type: integer
              description: Discard UDP (seconds)
              minimum: 1
              maximum: 15999999
              default: 60
            timeout_icmp:
              type: integer
              description: ICMP (seconds)
              minimum: 1
              maximum: 15999999
              default: 6
            timeout_scan:
              type: integer
              description: Scan (seconds)
              minimum: 5
              maximum: 30
              default: 10
            timeout_tcp:
              type: integer
              description: TCP (seconds)
              minimum: 1
              maximum: 15999999
              default: 3600
            timeout_tcphandshake:
              type: integer
              description: TCP handshake (seconds)
              minimum: 1
              maximum: 60
              default: 10
            timeout_tcpinit:
              type: integer
              description: TCP init (seconds)
              minimum: 1
              maximum: 60
              default: 5
            timeout_tcp_half_closed:
              type: integer
              description: TCP Half Closed (seconds)
              minimum: 1
              maximum: 604800
              default: 120
            timeout_tcp_time_wait:
              type: integer
              description: TCP Time Wait (seconds)
              minimum: 1
              maximum: 600
              default: 15
            timeout_tcp_unverified_rst:
              type: integer
              description: Unverified RST (seconds)
              minimum: 1
              maximum: 600
              default: 30
            timeout_udp:
              type: integer
              description: UDP (seconds)
              minimum: 1
              maximum: 15999999
              default: 30
            timeout_captive_portal:
              type: integer
              description: Captive Portal (seconds)
              minimum: 1
              maximum: 15999999
              default: 30
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required: 
          -  folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required: 
          -  snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required: 
          -  device
    
    tcp-settings:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        tcp:
          type: object
          properties:
            local:
              type: boolean
              readOnly: true
            override:
              type: boolean
              readOnly: true
            location:
              type: string
              readOnly: true
              example: string
            type:
              type: string
              readOnly: true
              example: string
            snippet_location:
              type: string
              example: string
            bypass_exceed_oo_queue:
              type: boolean
            allow_challenge_ack:
              type: boolean
            check_timestamp_option:
              type: boolean
            asymmetric_path:
              type: string
              example: string
            urgent_data:
              type: string
              example: string
            drop_zero_flag:
              type: boolean
            strip_mptcp_option:
              type: boolean
            siptcp_cleartext_proxy:
              type: string
              example: string
            tcp_retransmit_scan:
              type: boolean
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required: 
          -  folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required: 
          -  snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required: 
          -  device
    
    vpn-settings:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        vpn:
          type: object
          properties:
            ikev2:
              type: object
              properties:
                cookie_threshold:
                  type: integer
                  description: Cookie activation threshold
                  minimum: 0
                  maximum: 65535
                  default: 500
                max_half_opened_sa:
                  type: integer
                  description: Maximum half-opened SA
                  minimum: 1
                  maximum: 65535
                  default: 65535
                certificate_cache_size:
                  type: integer
                  description: Maximum cached certificates
                  minimum: 0
                  maximum: 4000
                  default: 500
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required: 
[...]
