components:
  schemas:
    Aggregate:
      properties:
        field:
          description: Field
          type: string
        operator:
          description: Operator
          enum:
          - max
          - count
          - min
          - avg
          - sum
          type: string
    BaseQuery:
      properties:
        aggregate:
          $ref: '#/components/schemas/Aggregate'
          description: 'The aggregate number of queried elements.

            '
        dest_page:
          description: 'The destination page.

            '
          format: int32
          type: integer
        getDeleted:
          description: 'The number of queried elements deleted for a time frame.

            '
          type: boolean
        group_by:
          description: Group By
          items:
            description: Group By
            type: string
          type: array
        id:
          description: "Group the element config/state by ID.    \n"
          type: string
        last_query_ts:
          description: 'Return the ID of a specified query in the current session.

            '
          format: int64
          type: integer
        limit:
          description: 'The query limit.

            '
          format: int32
          type: integer
        next_query:
          description: 'The  limit.

            '
          type: object
        query_params:
          description: 'Query using query parameters.

            '
          type: object
        retrieved_fields:
          description: 'Retrieve information from a field.

            '
          items:
            description: Retrieved Fields
            type: string
          type: array
        retrieved_fields_mask:
          description: 'List the fields to query.

            '
          type: boolean
        sort_params:
          description: 'Specify the order in which you want the search criteria to
            display.

            '
          type: object
        total_count:
          description: 'The total number of query parameters.

            '
          format: int64
          type: integer
    Error:
      properties:
        _error:
          items:
            $ref: '#/components/schemas/ErrorResponse'
          type: array
    ErrorResponse:
      properties:
        code:
          type: string
        message:
          type: string
    SetBulkResponse:
      properties:
        count:
          description: 'The actual count.

            '
          format: int32
          type: integer
        id:
          description: 'The ID.

            '
          type: string
        items:
          description: 'List items in the query.

            '
          items:
            type: object
          type: array
        total_count:
          description: 'Total number.

            '
          format: int64
          type: integer
info:
  contact: {}
  description: List of APIs used to manage the bulk configuations query and metrics.
  title: Bulk Operations
  version: Latest
openapi: 3.0.0
paths:
  /sdwan/v2.0/api/elements/bulk_config_state/query:
    post:
      description: Get the element configuration/state information for queried elements
        from NB.
      operationId: post-sdwan-v2.0-api-elements-bulk_config_state-query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseQuery'
        description: Query Details
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SetBulkResponse'
                - properties:
                    items:
                      items:
                        type: object
                      type: array
                  type: object
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: INVALID_TENANT_API_VERSION
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Get Element State for Queried Elements from NB (v2.0)
      tags:
      - Bulk Operations
  /sdwan/v2.0/api/networks/bulk_config_state/query:
    post:
      description: Get all the configurations/states information for a given network
        from NB.
      operationId: post-sdwan-v2.0-api-networks-bulk_config_state-query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseQuery'
        description: Query Details
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: INVALID_TENANT_API_VERSION
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Get Config/State for Network from NB (v2.0)
      tags:
      - Bulk Operations
  /sdwan/v2.0/api/policysets/bulk_config_state/query:
    post:
      description: Get all the configuration/state information across all policysets
        from NB.
      operationId: post-sdwan-v2.0-api-policysets-bulk_config_state-query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseQuery'
        description: Query Details
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: INVALID_TENANT_API_VERSION
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Get Config/State Across Policysets from NB (v2.0)
      tags:
      - Bulk Operations
  /sdwan/v2.0/api/sites/bulk_config_state/query:
    post:
      description: Get all site configuration/state information for a queried site
        from NB.
      operationId: post-sdwan-v2.0-api-sites-bulk_config_state-query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseQuery'
        description: Query Details
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SetBulkResponse'
                - properties:
                    items:
                      items:
                        type: object
                      type: array
                  type: object
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: INVALID_TENANT_API_VERSION
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Get Site Config/State for Queried Site from NB (v2.0)
      tags:
      - Bulk Operations
servers:
- url: https://api.sase.paloaltonetworks.com
tags:
- name: Bulk Operations
