components:
  schemas:
    FolderScreen:
      properties:
        dest_page:
          description: 'Dest Page: Min(error = INVALID_DEST_PAGE: Requested destination
            page must be greater than or equal to 0, value = 0L) '
          format: int32
          type: integer
        folder:
          description: 'Folder: Pattern(error = INVALID_FOLDER: Requested folder is
            not a valid, regexp = ^(([A-Za-z0-9_=\\-\\s\\+]+/)*[a-zA-Z0-9_=\\-\\s\\.\\+]*|/)$) '
          type: string
        id:
          description: Id
          type: string
        limit:
          description: 'Limit: Min(error = INVALID_LIMIT: Requested pagination limit
            must be greater than or equal to 0, value = 0L) '
          format: int32
          type: integer
    ListResponse:
      properties:
        count:
          description: 'The actual count.

            '
          format: int32
          type: integer
        id:
          description: 'The ID.

            '
          type: string
      type: object
    ReportListItem:
      properties:
        id:
          description: Id
          type: string
        modifiedTime:
          description: ModifiedTime
          format: int64
          type: integer
        name:
          description: Name
          type: string
        path:
          description: Path
          type: string
        size:
          description: Size
          format: int64
          type: integer
        type:
          description: Type
          type: string
    ReportUrl:
      properties:
        download_url:
          description: Download Url
          type: string
        id:
          description: Id
          type: string
info:
  contact: {}
  description: List of APIs used to manage and retrieve report files.
  title: Reports
  version: Latest
openapi: 3.0.0
paths:
  /sdwan/v2.0/api/reports:
    get:
      description: Get report file
      operationId: get-sdwan-v2.0-api-reports
      responses:
        '200':
          content:
            text/plain:
              schema:
                format: binary
                type: string
          description: Successful Operation
      summary: Get report file (v2.0)
      tags:
      - Reports
  /sdwan/v2.0/api/reports/query:
    post:
      description: Get report file
      operationId: post-sdwan-v2.0-api-reports-query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderScreen'
      responses:
        '200':
          content:
            text/plain:
              schema:
                format: binary
                type: string
          description: Successful Operation
      summary: Get report file (v2.0)
      tags:
      - Reports
  /sdwan/v2.0/api/reportsdir:
    get:
      description: Get files and folders in specified folder
      operationId: get-sdwan-v2.0-api-reportsdir
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ListResponse'
                - properties:
                    items:
                      items:
                        $ref: '#/components/schemas/ReportListItem'
                      type: array
                  type: object
          description: Successful Operation
      summary: Get files and folders in specified folder (v2.0)
      tags:
      - Reports
  /sdwan/v2.0/api/reportsdir/query:
    post:
      description: Get files and folders in specified folder
      operationId: post-sdwan-v2.0-api-reportsdir-query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderScreen'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ListResponse'
                - properties:
                    items:
                      items:
                        $ref: '#/components/schemas/ReportListItem'
                      type: array
                  type: object
          description: Successful Operation
      summary: Get files and folders in specified folder (v2.0)
      tags:
      - Reports
  /sdwan/v2.0/api/reportsurl:
    get:
      description: Get download URL for report file
      operationId: get-sdwan-v2.0-api-reportsurl
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportUrl'
          description: Successful Operation
      summary: Get download URL for report file (v2.0)
      tags:
      - Reports
servers:
- url: https://api.sase.paloaltonetworks.com
tags:
- name: Reports
