components:
  schemas:
    Error:
      properties:
        _error:
          items:
            $ref: '#/components/schemas/ErrorResponse'
          type: array
    ErrorResponse:
      properties:
        code:
          type: string
        message:
          type: string
    ListResponse:
      properties:
        count:
          description: 'The number of responses.

            '
          format: int32
          type: integer
        id:
          description: 'The ID of the response.

            '
          type: string
      type: object
    UserIdentity:
      properties:
        disabled:
          description: 'List the users in a disabled state.

            '
          type: boolean
        disabled_reason:
          description: 'List the reason for the disabled state.

            '
          type: string
        first_name:
          description: 'The first name of the user. Max size = 100.

            '
          type: string
        id:
          description: 'The ID.

            '
          type: string
        inactive:
          description: 'Lists if the user is inactive.

            '
          type: boolean
        inactive_reason:
          description: 'Reason the user is inactive.

            '
          type: string
        last_name:
          description: 'The last name of the user.

            '
          type: string
        middle_name:
          description: 'The middle name of the user.

            '
          type: string
        region:
          description: 'The region.

            '
          type: string
        user_dn:
          description: 'The user dn.

            '
          type: string
        user_fqn:
          description: 'The user fqn.

            '
          type: string
info:
  contact: {}
  description: List of APIs used to retrieve details about User & Group identity
  title: User Groups
  version: Latest
openapi: 3.0.0
paths:
  /sdwan/v2.0/api/users:
    get:
      description: List all the users.
      operationId: get-sdwan-v2.0-api-users
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ListResponse'
                - properties:
                    items:
                      items:
                        $ref: '#/components/schemas/UserIdentity'
                      type: array
                  type: object
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: INVALID_JSON
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Get Users (v2.0)
      tags:
      - User Groups
    post:
      description: Create an user identity.
      operationId: post-sdwan-v2.0-api-users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserIdentity'
        description: Create an user identity
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentity'
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: INVALID_JSON
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Create User Identity (v2.0)
      tags:
      - User Groups
  /sdwan/v2.0/api/users/{user_id}:
    delete:
      description: Delete an user identity.
      operationId: delete-sdwan-v2.0-api-users-user_id
      parameters:
      - description: The user ID.
        in: path
        name: user_id
        required: true
        schema:
          description: User Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentity'
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: INVALID_JSON
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Delete User Identity (v2.0)
      tags:
      - User Groups
    get:
      description: Get an user identity.
      operationId: get-sdwan-v2.0-api-users-user_id
      parameters:
      - description: The user ID.
        in: path
        name: user_id
        required: true
        schema:
          description: User Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentity'
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: INVALID_JSON
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Get User Identity (v2.0)
      tags:
      - User Groups
    put:
      description: Update an user identity.
      operationId: put-sdwan-v2.0-api-users-user_id
      parameters:
      - description: The user ID.
        in: path
        name: user_id
        required: true
        schema:
          description: User Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserIdentity'
        description: Details of the site Network Policy local prefix to be associated
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentity'
          description: Successful Operation
        '400':
          content:
            application/json:
              example:
                value:
                  _error:
                  - code: INVALID_JSON
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
      summary: Update User Identity (v2.0)
      tags:
      - User Groups
servers:
- url: https://api.sase.paloaltonetworks.com
tags:
- name: User Groups
