.docFooterEditMetaRow {
  justify-content: flex-end;
}

.lastUpdated {
  margin-top: 0.2rem;
  font-style: italic;
  font-size: smaller;
}

.docFooterEditMetaRowItemRight {
  display: flex;
}

.docFooterEditMetaRowItemRight a {
  margin-right: 1.25rem;
}

@media (min-width: 997px) {
  .lastUpdated {
    text-align: right;
  }
}

@media (max-width: 996px) {
  .docFooterEditMetaRowItem {
    flex-basis: content;
  }
}
