.docFooterEditMetaRow {
  display: flex;
  justify-content: flex-end;
}

.lastUpdated {
  margin-top: 0.2rem;
  font-style: italic;
  font-size: smaller;
}

.docFooterEditMetaRowItemRight {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

@media (min-width: 997px) {
  .lastUpdated {
    text-align: right;
  }
}
