openapi: 3.0.0
info:
  title: Unified Incident Framework APIs
  version: 3.0.0
  description: "Consolidates security and operational incidents from multiple \nPaloAlto\
    \ Networks products into a unified management interface. Provides read-only\n\
    access to search, filter, and analyze incident data across the Strata Cloud\n\
    Manager ecosystem. This Open API spec file was created on March 11, 2026. \xA9\
    \ 2026 Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark of\
    \ Palo Alto Networks. A list of our trademarks can be found at [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html).\
    \ All other marks mentioned herein may be trademarks of their respective companies."
servers:
- url: https://api.strata.paloaltonetworks.com
  description: Production Server
security:
- JWT: []
components:
  securitySchemes:
    JWT:
      type: http
      description: JWT authentication with bearer token
      scheme: bearer
      bearerFormat: Bearer [token]
  parameters:
    PrismaTenantHeader:
      in: header
      name: prisma-tenant
      description: The tenant and sub-tenant ID identifier (e.g., tenant_id:sub_tenant_id).
      required: true
      schema:
        type: string
    PrismaRegionHeader:
      in: header
      name: X-PANW-Region
      description: The region for request(e.g., americas, europe, uk, au etc).
      required: true
      schema:
        type: string
  schemas:
    FilterRule:
      type: object
      properties:
        property:
          type: string
          example: incident_id
        operator:
          type: string
        values:
          type: array
          items:
            type: string
    FilterObject:
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/FilterRule'
    PaginationObject:
      type: object
      properties:
        page_size:
          type: integer
        page_number:
          type: integer
        order_by:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
              order:
                type: string
                enum:
                - asc
                - desc
ExternalTags:
  Incidents APIs:
    title: Incidents APIs
    description: Operations related to listing, querying, and managing specific incidents.
    tags:
    - Incidents APIs
paths:
  /incidents/search:
    post:
      summary: Incidents List Search
      description: Searches network security incidents with advanced filtering and
        pagination.
      operationId: PostIncidentsSearch
      responses:
        '200':
          description: List of incidents
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        updated_time:
                          type: integer
                          format: int64
                          example: 1765468859684
                        severity:
                          type: string
                          example: Informational
                        severity_id:
                          type: integer
                          example: 200
                        status:
                          type: string
                          example: Raised
                        title:
                          type: string
                          example: Tenant has 14 raised alerts
                        priority:
                          type: string
                          example: Not Set
                        product:
                          type: string
                          example: Prisma Access
                        category:
                          type: string
                          example: Network
                        sub_category:
                          type: string
                          example: ''
                        code:
                          type: string
                          example: INC_AOA_TENANT_ALERTS_NOTIFICATION
                        incident_id:
                          type: string
                          example: 21818c4a-8353-4d9c-ae3e-ae90004d4662
                        raised_time:
                          type: integer
                          format: int64
                          example: 1765468859684
                        release_state:
                          type: string
                          example: Released
                        incident_type:
                          type: string
                          example: SOURCE_AGGREGATION_INCIDENT
                        designation:
                          type: string
                          example: root
                        primary_impacted_objects:
                          type: object
                          description: Comprehensive list of impacted objects associated
                            with the incident.
                          properties:
                            agent_ids:
                              type: array
                              example: []
                              items:
                                type: string
                            aggr_locations:
                              type: array
                              example: []
                              items:
                                type: string
                            app_names:
                              type: array
                              example: []
                              items:
                                type: string
                            asn_org_names:
                              type: array
                              example: []
                              items:
                                type: string
                            auth_server_profiles:
                              type: array
                              example: []
                              items:
                                type: string
                            auth_servers:
                              type: array
                              example: []
                              items:
                                type: string
                            bgp_peer_names:
                              type: array
                              example: []
                              items:
                                type: string
                            certificate_names:
                              type: array
                              example: []
                              items:
                                type: string
                            cluster_names:
                              type: array
                              example: []
                              items:
                                type: string
                            cves:
                              type: array
                              example: []
                              items:
                                type: string
                            device_ids:
                              type: array
                              example: []
                              items:
                                type: string
                            directory_ids:
                              type: array
                              example: []
                              items:
                                type: string
                            dns_servers:
                              type: array
                              example: []
                              items:
                                type: string
                            gp_versions:
                              type: array
                              example: []
                              items:
                                type: string
                            gre_tunnel_names:
                              type: array
                              example: []
                              items:
                                type: string
                            host_names:
                              type: array
                              example: []
                              items:
                                type: string
                            ike_gateway_names:
                              type: array
                              example: []
                              items:
                                type: string
                            interfaces:
                              type: array
                              example: []
                              items:
                                type: string
                            licenses:
                              type: array
                              example: []
                              items:
                                type: string
                            link_names:
                              type: array
                              example: []
                              items:
                                type: string
                            locations:
                              type: array
                              example: []
                              items:
                                type: string
                            log_receivers:
                              type: array
                              example: []
                              items:
                                type: string
                            nat_policies:
                              type: array
                              example: []
                              items:
                                type: string
                            packages:
                              type: array
                              example: []
                              items:
                                type: string
                            roles:
                              type: array
                              example: []
                              items:
                                type: string
                            security_checks:
                              type: array
                              example: []
                              items:
                                type: string
                            security_objects:
                              type: array
                              example:
                              - thirdparty
                              items:
                                type: string
                            security_types:
                              type: array
                              example:
                              - Zone
                              items:
                                type: string
                            sha256s:
                              type: array
                              example: []
                              items:
                                type: string
                            site_names:
                              type: array
                              example: []
                              items:
                                type: string
                            slots:
                              type: array
                              example: []
                              items:
                                type: string
                            spn_names:
                              type: array
                              example: []
                              items:
                                type: string
                            theaters:
                              type: array
                              example: []
                              items:
                                type: string
                            tunnel_names:
                              type: array
                              example: []
                              items:
                                type: string
                            user_locations:
                              type: array
                              example: []
                              items:
                                type: string
                            zones:
                              type: array
                              example: []
                              items:
                                type: string
                        related_impacted_objects:
                          type: object
                          description: Related objects impacted by the incident but
                            not the primary focus.
                          properties:
                            agent_ids:
                              type: array
                              example: []
                              items:
                                type: string
                            aggr_locations:
                              type: array
                              example: []
                              items:
                                type: string
                            app_names:
                              type: array
                              example: []
                              items:
                                type: string
                            asn_org_names:
                              type: array
                              example: []
                              items:
                                type: string
                            auth_server_profiles:
                              type: array
                              example: []
                              items:
                                type: string
                            auth_servers:
                              type: array
                              example: []
                              items:
                                type: string
                            bgp_peer_names:
                              type: array
                              example: []
                              items:
                                type: string
                            certificate_names:
                              type: array
                              example: []
                              items:
                                type: string
                            cluster_names:
                              type: array
                              example: []
                              items:
                                type: string
                            cves:
                              type: array
                              example: []
                              items:
                                type: string
                            device_ids:
                              type: array
                              example: []
                              items:
                                type: string
                            directory_ids:
                              type: array
                              example: []
                              items:
                                type: string
                            dns_servers:
                              type: array
                              example: []
                              items:
                                type: string
                            gp_versions:
                              type: array
                              example: []
                              items:
                                type: string
                            gre_tunnel_names:
                              type: array
                              example: []
                              items:
                                type: string
                            host_names:
                              type: array
                              example: []
                              items:
                                type: string
                            ike_gateway_names:
                              type: array
                              example: []
                              items:
                                type: string
                            interfaces:
                              type: array
                              example: []
                              items:
                                type: string
                            licenses:
                              type: array
                              example: []
                              items:
                                type: string
                            link_names:
                              type: array
                              example: []
                              items:
                                type: string
                            locations:
                              type: array
                              example: []
                              items:
                                type: string
                            log_receivers:
                              type: array
                              example: []
                              items:
                                type: string
                            nat_policies:
                              type: array
                              example: []
                              items:
                                type: string
                            packages:
                              type: array
                              example: []
                              items:
                                type: string
                            roles:
                              type: array
                              example: []
                              items:
                                type: string
                            security_checks:
                              type: array
                              example:
                              - A Zone Protection profile should be configured
                              items:
                                type: string
                            security_objects:
                              type: array
                              example: []
                              items:
                                type: string
                            security_types:
                              type: array
                              example: []
                              items:
                                type: string
                            sha256s:
                              type: array
                              example: []
                              items:
                                type: string
                            site_names:
                              type: array
                              example: []
                              items:
                                type: string
                            slots:
                              type: array
                              example: []
                              items:
                                type: string
                            spn_names:
                              type: array
                              example: []
                              items:
                                type: string
                            theaters:
                              type: array
                              example: []
                              items:
                                type: string
                            tunnel_names:
                              type: array
                              example: []
                              items:
                                type: string
                            user_locations:
                              type: array
                              example: []
                              items:
                                type: string
                            zones:
                              type: array
                              example: []
                              items:
                                type: string
                        snow_assignee:
                          type: string
                          example: ''
                        snow_priority:
                          type: string
                          example: ''
                        snow_status:
                          type: string
                          example: ''
                        snow_ticket_id:
                          type: string
                          example: ''
      parameters:
      - $ref: '#/components/parameters/PrismaTenantHeader'
      - $ref: '#/components/parameters/PrismaRegionHeader'
      tags:
      - Incidents APIs
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  $ref: '#/components/schemas/FilterObject'
                pagination:
                  $ref: '#/components/schemas/PaginationObject'
            examples:
              FilterWithPagination:
                summary: Filter by Product/Status with Pagination
                value:
                  filter:
                    rules:
                    - property: release_state
                      operator: in
                      values:
                      - Released
                    - property: product
                      operator: in
                      values:
                      - NGFW
                      - Prisma Access
                      - Posture
                    - property: status
                      operator: in
                      values:
                      - Raised
                  pagination:
                    page_size: 50
                    page_number: 1
                    order_by:
                    - property: updated_time
                      order: desc
  /incidents/{incident_id}:
    get:
      summary: Incidents Details
      description: Retrieves comprehensive information about a specific network security
        incident.
      operationId: GetIncidentsbyincident_id
      responses:
        '200':
          description: Detailed incident information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        incident_id:
                          type: string
                          example: 21818c4a-8353-4d9c-ae3e-ae90004d4662
                        title:
                          type: string
                          example: Tenant has 14 raised alerts
                        related_impacted_objects:
                          type: object
                          properties:
                            agent_ids:
                              type: array
                              example: []
                              items:
                                type: string
                            aggr_locations:
                              type: array
                              example: []
                              items:
                                type: string
                            app_names:
                              type: array
                              example: []
                              items:
                                type: string
                            asn_org_names:
                              type: array
                              example: []
                              items:
                                type: string
                            auth_server_profiles:
                              type: array
                              example: []
                              items:
                                type: string
                            auth_servers:
                              type: array
                              example: []
                              items:
                                type: string
                            bgp_peer_names:
                              type: array
                              example:
                              - SC-Brazil
                              items:
                                type: string
                            certificate_names:
                              type: array
                              example: []
                              items:
                                type: string
                            cluster_names:
                              type: array
                              example: []
                              items:
                                type: string
                            cves:
                              type: array
                              example: []
                              items:
                                type: string
                            device_ids:
                              type: array
                              example: []
                              items:
                                type: string
                            directory_ids:
                              type: array
                              example: []
                              items:
                                type: string
                            dns_servers:
                              type: array
                              example: []
                              items:
                                type: string
                            gp_versions:
                              type: array
                              example: []
                              items:
                                type: string
                            gre_tunnel_names:
                              type: array
                              example: []
                              items:
                                type: string
                            host_names:
                              type: array
                              example: []
                              items:
                                type: string
                            ike_gateway_names:
                              type: array
                              example: []
                              items:
                                type: string
                            interfaces:
                              type: array
                              example: []
                              items:
                                type: string
                            licenses:
                              type: array
                              example: []
                              items:
                                type: string
                            link_names:
                              type: array
                              example: []
                              items:
                                type: string
                            locations:
                              type: array
                              example: []
                              items:
                                type: string
                            log_receivers:
                              type: array
                              example: []
                              items:
                                type: string
                            nat_policies:
                              type: array
                              example: []
                              items:
                                type: string
                            packages:
                              type: array
                              example: []
                              items:
                                type: string
                            roles:
                              type: array
                              example: []
                              items:
                                type: string
                            security_checks:
                              type: array
                              example: []
                              items:
                                type: string
                            security_objects:
                              type: array
                              example: []
                              items:
                                type: string
                            security_types:
                              type: array
                              example: []
                              items:
                                type: string
                            sha256s:
                              type: array
                              example: []
                              items:
                                type: string
                            site_names:
                              type: array
                              example:
                              - SC-Brazil
                              items:
                                type: string
                            slots:
                              type: array
                              example: []
                              items:
                                type: string
                            spn_names:
                              type: array
                              example: []
                              items:
                                type: string
                            theaters:
                              type: array
                              example: []
                              items:
                                type: string
                            tunnel_names:
                              type: array
                              example: []
                              items:
                                type: string
                            user_locations:
                              type: array
                              example: []
                              items:
                                type: string
                            zones:
                              type: array
                              example: []
                              items:
                                type: string
                        description:
                          type: string
                          example: This alert triggers if the firewall has detected
                            that a dataplane ethernet interface is down.
                        description_locale_key:
                          type: string
                          example: alert.sig_45de40b0_fdbb_4506_900b_033d4551cdde.description
                        raised_time:
                          type: integer
                          format: int64
                          example: 1765468859684
                        updated_time:
                          type: integer
                          format: int64
                          example: 1765468859684
                        resource_keys:
                          type: string
                          description: JSON string containing resource identifiers.
                          example: '{"tenant_id": "24072002", "sub_tenant_id": "24072002"}'
                        status:
                          type: string
                          example: Raised
                        remediations:
                          type: string
                          description: Stringified JSON object containing remediation
                            steps for the incident.
                          example: '{"remediations":[{"dynamic_content":{"steps":[{"title":"How
                            to renew a locally generated certificate :","subSteps":[{"title":"
                            ","description":"Select the certificate to be renewed
                            in the following section: Device > Certificate Management
                            > Certificates."}]}]}}]}'
                        detail:
                          type: string
                          description: Stringified JSON array containing detailed
                            alert information.
                          example: '{"severity":"SEVERITY_S20","concern_level":"CONCERN_LEVEL_RAISED","primary_impacted_resources":[{"name":"pa://certificate:1/tenants/{tenant}/sub-tenants/{subtenant}/certificates/Forward-Trust-CA/features/SSL
                            Decryption"}],"remediation":{"steps":[{"title":{},"description":{},"text":{"id":"alert.healthy_certificate.recommendations"}}]},"impact":{"description":{"id":"alert.healthy_certificate.impacted_features"},"details":[{"impacted":1,"type":"ACCESS_RESOURCE_CERTIFICATE"}],"level":"LOW"},"evidence":[{"type":"JUNCTION","access_key":[{"source_id":"aiops_metrics_svc","access_method":"HTTP_POST","resource":"/api/di/metric/metrics-latest?csp_id\u003dCSP_1443076947\u0026tenant_id\u003d172924062\u0026instance_id\u003dAIOPS_1443076947","request_payload":{"metrics":["DG_FWaaS%7CForward-Trust-CA%7CSSL+Decryption"],"severities":["critical","warning","unknown"],"serial":"172924062:172924062:FWaaS"},"resource_type":"TABLE"}],"title":{"id":"DG_FWaaS|Forward-Trust-CA|SSL
                            Decryption"}},{"type":"JUNCTION","access_key":[{"source_id":"aiops_metrics_svc","access_method":"HTTP_POST","resource":"/api/di/metric/metrics-latest?csp_id\u003dCSP_1443076947\u0026tenant_id\u003d172924062\u0026instance_id\u003dAIOPS_1443076947","request_payload":{"metrics":["DG_GPaaS%7CForward-Trust-CA%7CSSL+Decryption"],"serial":"172924062:172924062:Service-Connection","severities":["critical","warning","unknown"]},"resource_type":"TABLE"}],"title":{"id":"DG_GPaaS|Forward-Trust-CA|SSL
                            Decryption"}},{"type":"JUNCTION","access_key":[{"source_id":"aiops_metrics_svc","access_method":"HTTP_POST","resource":"/api/di/metric/metrics-latest?csp_id\u003dCSP_1443076947\u0026tenant_id\u003d172924062\u0026instance_id\u003dAIOPS_1443076947","request_payload":{"severities":["critical","warning","unknown"],"serial":"172924062:172924062:FWaaS","metrics":["DG_Service-Connection%7CForward-Trust-CA%7CSSL+Decryption"]},"resource_type":"TABLE"}],"title":{"id":"DG_Service-Connection|Forward-Trust-CA|SSL
                            Decryption"}}],"domain_context":{"@type":"aqueduct/aqueduct.alerts.ngfw.v1.AlertContext","contributions":{"THRESHOLD_CROSS_DG_GPaaS|Forward-Trust-CA|SSL
                            Decryption":{"severity":"SEVERITY_HEALTHY","event_time":"2025-11-19T01:07:41Z","concern_level":"CONCERN_LEVEL_CLEARED"},"THRESHOLD_CROSS_DG_Service-Connection|Forward-Trust-CA|SSL
                            Decryption":{"severity":"SEVERITY_WARNING","event_time":"2025-09-28T01:04:51Z","concern_level":"CONCERN_LEVEL_RAISED"},"THRESHOLD_CROSS_DG_FWaaS|Forward-Trust-CA|SSL
                            Decryption":{"severity":"SEVERITY_HEALTHY","event_time":"2025-12-16T08:04:12Z","concern_level":"CONCERN_LEVEL_CLEARED"}},"evidences":{"event":{"severity":"healthy","event_metadata_lookup_key":"THRESHOLD_CROSS_certificate.*.status"}},"source_project_id":"pa-sase-insights-qa-01","attributes":{"cert_exp_date":"2027-11-07"}},"first_event_time":"2025-11-19T00:22:44Z"}'
                        alerts:
                          type: array
                          items:
                            type: object
                            properties:
                              alert_id:
                                type: string
                                example: 0a887db4-d760-4dc2-bb14-04c5e120b811
                              processed_alert_id:
                                type: string
                                example: 0a887db4-d760-4dc2-bb14-04c5e120b811
                              severity:
                                type: string
                                example: Critical
                              state:
                                type: string
                                example: Raised
                              title:
                                type: string
                                example: Alert title
                              updated_time:
                                type: integer
                                format: int64
                                example: 1765468859684
                              domain:
                                type: string
                                example: External
                              inc_prop:
                                type: integer
                                example: 0
                              ctx_only_alert:
                                type: boolean
                                example: false
                              code:
                                type: string
                                example: AL_AOA_TENANT_ALERTS_NOTIFICATION
                              resource_keys:
                                type: string
                                description: JSON string containing resource identifiers.
                                example: '{"tenant_id": "24072002", "sub_tenant_id":
                                  "24072002"}'
                              release_state:
                                type: string
                                example: Released
                        incident_type:
                          type: string
                          example: SOURCE_AGGREGATION_INCIDENT
                        incident_code:
                          type: string
                          example: INC_AOA_TENANT_ALERTS_NOTIFICATION
                        incident_settings_id:
                          type: string
                          example: INC_AOA_TENANT_ALERTS_NOTIFICATION
                        severity_id:
                          type: integer
                          example: 200
                        severity:
                          type: string
                          example: Informational
                        priority:
                          type: string
                          example: Not Set
                        release_state:
                          type: string
                          example: Released
                        product:
                          type: string
                          example: Prisma Access
                        resource_context:
                          type: string
                          description: Stringified JSON object containing contextual
                            resource information for the incident.
                          example: '{"cluster_id":100251836,"instance_id":100251836,"instance_name":"FW_100251836_us-central1_example-172924062","zone":"us-central-a","cloud_provider":"gcp","region":"us-central","instance_type":51,"tunnel_name":"SC-Brazil","source_ip_address":"165.1.179.204","destination_ip_address":"173.22.179.33","site_id":420216,"site_name":"SC-Brazil","destination_zone":"N/A","destination_region":"N/A","location":"US
                            Central"}'
                        category:
                          type: string
                          example: Network and Traffic
                        sub_category:
                          type: string
                          example: Interface
                        designation:
                          type: string
                          example: root
                        acknowledged:
                          type: boolean
                          example: false
                        snow_assignee:
                          type: string
                          example: ''
                        snow_priority:
                          type: string
                          example: ''
                        snow_status:
                          type: string
                          example: ''
                        snow_ticket_id:
                          type: string
                          example: ''
                        primary_impacted_objects:
                          type: object
                          properties:
                            agent_ids:
                              type: array
                              example: []
                              items:
                                type: string
                            aggr_locations:
                              type: array
                              example: []
                              items:
                                type: string
                            app_names:
                              type: array
                              example: []
                              items:
                                type: string
                            asn_org_names:
                              type: array
                              example: []
                              items:
                                type: string
                            auth_server_profiles:
                              type: array
                              example: []
                              items:
                                type: string
                            auth_servers:
                              type: array
                              example: []
                              items:
                                type: string
                            bgp_peer_names:
                              type: array
                              example: []
                              items:
                                type: string
                            certificate_names:
                              type: array
                              example:
                              - Forward-Trust-CA
                              items:
                                type: string
                            cluster_names:
                              type: array
                              example: []
                              items:
                                type: string
                            cves:
                              type: array
                              example: []
                              items:
                                type: string
                            device_ids:
                              type: array
                              example: []
                              items:
                                type: string
                            directory_ids:
                              type: array
                              example: []
                              items:
                                type: string
                            dns_servers:
                              type: array
                              example: []
                              items:
                                type: string
                            gp_versions:
                              type: array
                              example: []
                              items:
                                type: string
                            gre_tunnel_names:
                              type: array
                              example: []
                              items:
                                type: string
                            host_names:
                              type: array
                              example: []
                              items:
                                type: string
                            ike_gateway_names:
                              type: array
                              example: []
                              items:
                                type: string
                            interfaces:
                              type: array
                              example: []
                              items:
                                type: string
                            licenses:
                              type: array
                              example: []
                              items:
                                type: string
                            link_names:
                              type: array
                              example: []
                              items:
                                type: string
                            locations:
                              type: array
                              example: []
                              items:
                                type: string
                            log_receivers:
                              type: array
                              example: []
                              items:
                                type: string
                            nat_policies:
                              type: array
                              example: []
                              items:
                                type: string
                            packages:
                              type: array
                              example: []
                              items:
                                type: string
                            roles:
                              type: array
                              example: []
                              items:
                                type: string
                            security_checks:
                              type: array
                              example: []
                              items:
                                type: string
                            security_objects:
                              type: array
                              example: []
                              items:
                                type: string
                            security_types:
                              type: array
                              example: []
                              items:
                                type: string
                            sha256s:
                              type: array
                              example: []
                              items:
                                type: string
                            site_names:
                              type: array
                              example: []
                              items:
                                type: string
                            slots:
                              type: array
                              example: []
                              items:
                                type: string
                            spn_names:
                              type: array
                              example: []
                              items:
                                type: string
                            theaters:
                              type: array
                              example: []
                              items:
                                type: string
                            tunnel_names:
                              type: array
                              example: []
                              items:
                                type: string
                            user_locations:
                              type: array
                              example: []
                              items:
                                type: string
                            zones:
                              type: array
                              example: []
                              items:
                                type: string
      parameters:
      - $ref: '#/components/parameters/PrismaTenantHeader'
      - $ref: '#/components/parameters/PrismaRegionHeader'
      - name: incident_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Incidents APIs
