.copy-markdown-btn {
  border: none;
  flex-direction: row;
  display: flex;
  background: none;
  align-items: center;
  cursor: pointer;
  margin-top: 0rem;
  position: relative;
  outline: none;
  color: var(--ifm-font-color-base);
}

.copy-markdown-btn__text {
  padding: 0.5rem;
  font-size: 1rem;
}
