.copy-markdown-btn {
  position: relative;
  border: none;
  flex-direction: row;
  display: flex;
  background: none;
  align-items: center;
  cursor: pointer;
  position: relative;
  outline: none;
  color: var(--ifm-font-color-base);
  transition: all 0.3s ease;
}

.sparkles {
  width: 20px;
  height: 20px;
}

html[data-theme="dark"] .sparkles {
  fill: #ffffff;
}

.copy-markdown-btn__text {
  transition: opacity 0.3s ease;
  padding: 0.5rem;
  font-size: 1rem;
}

.copy-markdown-btn:hover {
  cursor: pointer;
}

.icon-container {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.copy-markdown-btn i {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.copy-markdown-btn .sparkles {
  opacity: 1;
}

.copy-markdown-btn i.fa-check {
  opacity: 0;
}

.copy-markdown-btn.copied .sparkles {
  opacity: 0;
}

.copy-markdown-btn.copied i.fa-check {
  opacity: 1;
}
