html[data-theme='dark'] {
  .modules-container {
    border-bottom: 1px solid var(--ifm-color-emphasis-100);
    
    .tabs-container {
      border: 1px solid var(--ifm-color-emphasis-100);
    }
  }

  .modules-container,
  .modules-container .tabs-container {
    background-color: var(--ifm-background-color);
  }
}

.modules-container {
  background-color: #F2F2F3;
  padding: 3rem 0 3rem 0;
  margin-left: calc(50% - 50vw);
  width: 100vw;

  .modules-header {
    max-width: 800px;
    margin: auto;
    padding: 0 1rem 1rem 1rem;
    text-align: center;
  }

  .tabs-container {
    max-width: 950px;
    margin: 1.5rem auto;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 2px 3px hsl(222deg 8% 43% / 10%), 0 8px 16px -10px hsl(222deg 8% 43% / 20%);
    border-radius: 0.5rem;
    padding: 2rem;
    transition: 300ms;
    &:last-child { margin-bottom: 0; }
    &:hover {
      box-shadow: 0 0 0 2px rgba(38, 53, 61, 0.15), 0 2px 3px hsla(222deg, 8%, 43%, 0.15), 0 16px 16px -10px hsla(222deg, 8%, 43%, 0.2);
    }

    .tabs__item {
      display: flex;
      justify-content: center;
      margin: 0.5rem;
      background-color: var(--ifm-color-emphasis-100);
      border-radius: 0.5rem;
      text-align: center;
      font-size: 1rem;
    }

    .tabs-item__link {
      color: var(--ifm-color-emphasis-900);
      &:hover { color: var(--ifm-link-hover-color) };
    }

    .tabs__item:hover {
      background-color: var(--ifm-color-emphasis-200);
    }

    .tabs__item--active {
      background-color: var(--ifm-color-main) !important;
      border-bottom: unset;
      color: white;
    }

    .tab-item__logo-container {
      display: flex; 
      align-items: center;
    }

    .tab-item__logo {
      max-width: 40px;
      margin-right: 1.5rem;
    }
    
    .tab-item__link {
      display: flex;
      align-items: center;
      color: var(--ifm-color-main);
      
      img {
        max-width: 25px;
        margin-left: 0.25rem;
      }
    }

    .tab-item__footer-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.modules-tabs {
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 191.14px;  
  border-radius: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__item {
    max-width: 800px; 
    margin-left: 2rem;
    p { color: #727274; }
  }
}

.latest-tag {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: var(--ifm-color-main);
}

@media (max-width: 767px) {
  .modules-container .tabs-container {
    flex-direction: column;
  }

  .modules-tabs {
    flex-direction: row; 

    &__item {
      margin-left: 0;
      padding: 0 1rem;
    }
  }
}