.modules-container {
  background-color: #F2F2F3;
  padding: 3rem 0 3rem 0;
  margin-left: calc(50% - 50vw);
  width: 100vw;

  .modules-header {
    max-width: 800px;
    margin: auto;
    padding: 0 1rem 1rem 1rem;
    text-align: center;
  }

  .tabs-container {
    max-width: 950px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 2px 3px hsl(222deg 8% 43% / 10%), 0 8px 16px -10px hsl(222deg 8% 43% / 20%);
    border-radius: 0.5rem;
    padding: 2rem;
    &:last-child { margin-bottom: 0; }

    .tabs__item {
      margin: 0.5rem;
      text-align: center;
    }

    .tabs__item--active {
      background-color: var(--ifm-hover-overlay) !important;
      border-bottom-color: var(--ifm-color-main);
      color: var(--ifm-color-main);
    }

    .tab-item__logo-container {
      display: flex; 
      align-items: center;
      justify-content: flex-end;
    }

    .tab-item__logo {
      max-width: 40px;
      margin-right: 1.5rem;
    }
  }
}

.modules-tabs {
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 80px; 

  &__item {
    max-width: 800px; 
    margin-left: 2rem;
    p { color: #727274; }
  }
}

@media (max-width: 767px) {
  .modules-container .tabs-container {
    flex-direction: column;
  }

  .modules-tabs {
    flex-direction: row; 

    &__item {
      margin-left: 0;
      padding: 0 1rem;
    }
  }
}
