.feeds-container {
  padding: 3rem 0;

  .feeds-header {
    text-align: center;
  }

  .tabs-container {
    .tabs {
      justify-content: center;
      margin-bottom: 2rem;
    }

    .tabs__item {
      color: var(--ifm-color-emphasis-900);
      margin-right: 1rem; 
      &:last-child { margin-right: 0; }
    }
    
    .tabs__item--active {
      background-color: transparent !important;
      border-bottom-color: var(--ifm-color-emphasis-900);
    }
  }
}

.feeds-image-list-container {
  display: flex;
  justify-content: center;

  @media (max-width: 1250px) {
    flex-direction: column;
    max-width: 850px;
    margin: auto;
    padding: 0 2rem;
  }
}

.feeds-image-container {
  display: flex;
  a {
    margin-right: 2rem;
    height: 400px;
  }

  @media (max-width: 1250px) {
    justify-content: center;
    a:last-child { margin-right: 0; }
  }

  @media (max-width: 850px) {
    flex-direction: column;
    align-items: center;

    a:first-child {
      margin-right: 0; 
      margin-bottom: 2rem;
    }
  }

  .feeds-image-text-wrapper {
    border-radius: 1rem;
    width: 380px;
    height: 400px;
    position: relative;
    box-shadow: 0 0 0 2px rgba(38, 53, 61, 0.15), 0 2px 3px hsla(222deg, 8%, 43%, 0.15), 0 16px 16px -10px hsla(222deg, 8%, 43%, 0.2);
    transition: 300ms;
    &:hover { opacity: 0.9; }

    img {
      transition: 300ms;
      object-fit: cover;
      border-radius: 1rem;
      height: 100%;
    }

    .feeds__title {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      width: 100%;
      position: absolute;
      font-size: 1.5rem;
      padding: 1.5rem;
      margin-bottom: 0;
      background-color: #1D1E1F;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      bottom: 0;
      text-align: center;
      color: white;
    }
  }
}

.feeds-list {
  padding-left: 0; 
  .feeds-list__item:nth-child(1) { padding-top: 0; }

  .feeds-list__item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 2px solid var(--ifm-color-emphasis-100);

    a {
      padding-right: 3rem;
      color: var(--ifm-color-emphasis-900);
      font-weight: bold;
    }

    .external-icon { width: 15px; }
  }
}

@media (max-width: 1250px) {
  .feeds-container .tabs {
    justify-content: center;
  }

  .feeds-header {
    text-align: center; 
  }

  .feeds-image-list-container {
    flex-direction: column;
    max-width: 850px;
    margin: auto;
    padding: 0 2rem;
  }

  .feeds-image-container {
    justify-content: center;
    a:last-child { margin-right: 0; }
  }

  .feeds-list {
    padding-top: 3rem;
  }
}
