.feeds-container {
  padding: 3rem 0;

  .feeds-header {
    margin-bottom: 3rem;
    @media (max-width: 1250px) { text-align: center; }
  }
}

.feeds-image-list-container {
  display: flex;

  @media (max-width: 1250px) {
    flex-direction: column;
    max-width: 850px;
    margin: auto;
    padding: 0 2rem;
  }
}

.feeds-image-container {
  display: flex;
  a {
    margin-right: 2rem;
    height: 400px;
  }

  @media (max-width: 1250px) {
    justify-content: center;
    a:last-child { margin-right: 0; }
  }

  @media (max-width: 850px) {
    flex-direction: column;
    align-items: center;

    a:first-child {
        margin-right: 0; 
        margin-bottom: 2rem;
    }
  }

  .feeds-image-text-wrapper {
    border-radius: 1rem;
    width: 380px;
    height: 400px;
    position: relative;

    transition: 300ms;
    &:hover { opacity: 0.9; }

    img {
      transition: 300ms;
      object-fit: cover;
      border-radius: 1rem;
      height: 100%;
    }

    .feeds__title {
      position: absolute;
      bottom: 0;
      margin-left: 1rem;
      color: white;
      font-size: 25px;
      padding: 1rem;
    }
  }
}

.feeds-list {
  padding-left: 0; 
  @media (max-width: 1250px) { padding-top: 3rem; }

  .feeds-list__item:nth-child(1) { padding-top: 0; }

  .feeds-list__item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid var(--ifm-color-emphasis-200);

    a {
      padding-right: 3rem;
      color: black;
      font-weight: bold;
    }

    .external-icon { width: 15px; }
  }
}
