.feeds-container {
  padding: 3rem 0;

  .feeds-header {
    margin-bottom: 3rem
  }
}

.feeds-image-container {
  display: flex;
  a { height: 400px; }

  .feeds-image-text-wrapper {
    border-radius: 1rem;
    width: 380px;
    height: 400px;
    position: relative;
    margin-right: 2rem;

    transition: 300ms;
    &:hover { opacity: 0.9; }

    img {
      transition: 300ms;
      object-fit: cover;
      border-radius: 1rem;
      height: 100%;
    }

    .feeds__title {
      position: absolute;
      bottom: 0;
      margin-left: 1rem;
      color: white;
      font-size: 25px;
      padding: 1rem;
    }
  }
}

.feeds-list {
  padding-left: 0; 

  .feeds-list__item:nth-child(1) { padding-top: 0; }

  .feeds-list__item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid var(--ifm-color-emphasis-200);

    a {
      padding-right: 3rem;
      color: black;
      font-weight: bold;
    }

    .external-icon { width: 15px; }
  }
}

.feeds-image-list-container {
  display: flex;
}