.applause-button {
  border: none;
  flex-direction: row;
  display: flex;
  background: none;
  align-items: center;
  cursor: pointer;
  margin-top: 0rem;
  position: relative;
  outline: none;
  color: var(--ifm-font-color-base);
}

.applause-button:disabled {
  cursor: not-allowed;
}

.applause-button .hands {
  fill: var(--ifm-font-color-base);
  margin-right: 7px;
  transition: transform 0.25s ease;
}

.applause-button.clicked .hands {
  transform: scale(1.1);
  fill: var(--ifm-font-color-base);
}

.applause-button.clicked .spark {
  animation: spark 0.25s ease forwards;
}

.spark-container {
  position: absolute;
  left: -10px;
  top: 0;
  z-index: 1;
}

.spark-container.left {
  transform: rotate(-20deg);
}

.spark-container.right {
  transform: rotate(20deg);
}

.spark-container .spark {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.4);
}

@keyframes spark {
  20% {
    opacity: 1;
    visibility: visible;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

.applause-button.active .counter {
  visibility: hidden;
}

.applause-button.interacted.inactive .bubble {
  animation: bubble 0.55s ease forwards;
}

.applause-button.active .bubble,
.applause-button.clicked .bubble {
  opacity: 1;
  visibility: visible;
}

.applause-button.active .bubble {
  transform: translateY(-50px);
}

.applause-button.clicked .bubble {
  transform: translateY(-50px) scale(1.05);
}

.bubble {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -5px;
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--ifm-color-emphasis-200);
  color: var(--ifm-font-color-base);
  padding: 10px;
  border-radius: 30px;
  transform: translateY(-40px);
  transition: transform 0.1s ease;
}

@keyframes bubble {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateY(-40px);
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
