openapi: 3.0.0
info:
  title: Unified Incident Framework APIs
  version: 3.0.0
  description: "Consolidates security and operational incidents from multiple Palo\
    \ Alto Networks products into a unified management interface. \nProvides read-only\
    \ access to search, filter, and analyze incident data across the Strata Cloud\
    \ Manager ecosystem. This Open API spec file was created on February 02, 2026.\
    \ \xA9 2026 Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark\
    \ of Palo Alto Networks. A list of our trademarks can be found at [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html).\
    \ All other marks mentioned herein may be trademarks of their respective companies."
servers:
- url: https://api.sase.paloaltonetworks.com
  description: Production Server
security:
- JWT: []
components:
  securitySchemes:
    JWT:
      type: http
      description: JWT authentication with bearer token
      scheme: bearer
      bearerFormat: Bearer [token]
  parameters:
    PrismaTenantHeader:
      in: header
      name: prisma-tenant
      description: The tenant and sub-tenant ID identifier (e.g., tenant_id:sub_tenant_id).
      required: true
      schema:
        type: string
    PrismaRegionHeader:
      in: header
      name: X-PANW-Region
      description: The region for request(e.g., americas, europe, uk, au etc).
      required: true
      schema:
        type: string
  schemas:
    FilterRule:
      type: object
      properties:
        property:
          type: string
          example: incident_id
        operator:
          type: string
        values:
          type: array
          items:
            type: string
    FilterObject:
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/FilterRule'
    PaginationObject:
      type: object
      properties:
        page_size:
          type: integer
        page_number:
          type: integer
        order_by:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
              order:
                type: string
                enum:
                - asc
                - desc
ExternalTags:
  Incidents APIs:
    title: Incidents APIs
    description: Operations related to listing, querying, and managing specific incidents.
    tags:
    - Incidents APIs
paths:
  /incidents/search:
    post:
      summary: Search Incident List
      description: "Retrieves a paginated list of security incidents using advanced\
        \ filtering criteria. \nFilters data by product type, release state, and severity\
        \ to streamline incident discovery across the security fabric."
      operationId: PostIncidentsSearch
      responses:
        '200':
          description: List of incidents
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        updated_time:
                          type: integer
                          format: int64
                          example: 1765468859684
                        severity:
                          type: string
                          example: Informational
                        severity_id:
                          type: integer
                          example: 200
                        status:
                          type: string
                          example: Raised
                        title:
                          type: string
                          example: Tenant has 14 raised alerts
                        priority:
                          type: string
                          example: Not Set
                        product:
                          type: string
                          example: Prisma Access
                        category:
                          type: string
                          example: Network
                        sub_category:
                          type: string
                          example: ''
                        code:
                          type: string
                          example: INC_AOA_TENANT_ALERTS_NOTIFICATION
                        incident_id:
                          type: string
                          example: 21818c4a-8353-4d9c-ae3e-ae90004d4662
                        raised_time:
                          type: integer
                          format: int64
                          example: 1765468859684
                        release_state:
                          type: string
                          example: Released
                        incident_type:
                          type: string
                          example: SOURCE_AGGREGATION_INCIDENT
                        designation:
                          type: string
                          example: root
                        primary_impacted_objects:
                          type: object
                          description: Comprehensive list of impacted objects associated
                            with the incident.
                          properties:
                            site_names:
                              type: array
                              items:
                                type: string
                            roles:
                              type: array
                              items:
                                type: string
                            tunnel_names:
                              type: array
                              items:
                                type: string
                            host_names:
                              type: array
                              items:
                                type: string
                            locations:
                              type: array
                              items:
                                type: string
                            bgp_peer_names:
                              type: array
                              items:
                                type: string
                            certificate_names:
                              type: array
                              items:
                                type: string
                            device_ids:
                              type: array
                              items:
                                type: string
                            packages:
                              type: array
                              items:
                                type: string
                            licenses:
                              type: array
                              items:
                                type: string
                            cves:
                              type: array
                              items:
                                type: string
                            security_objects:
                              type: array
                              items:
                                type: string
                            security_checks:
                              type: array
                              items:
                                type: string
                            security_types:
                              type: array
                              items:
                                type: string
                            aggr_locations:
                              type: array
                              items:
                                type: string
                            spn_names:
                              type: array
                              items:
                                type: string
                            agent_ids:
                              type: array
                              items:
                                type: string
                            directory_ids:
                              type: array
                              items:
                                type: string
                            theaters:
                              type: array
                              items:
                                type: string
                            gp_versions:
                              type: array
                              items:
                                type: string
                            auth_servers:
                              type: array
                              items:
                                type: string
                            dns_servers:
                              type: array
                              items:
                                type: string
                            app_names:
                              type: array
                              items:
                                type: string
                            ike_gateway_names:
                              type: array
                              items:
                                type: string
                            gre_tunnel_names:
                              type: array
                              items:
                                type: string
                            asn_org_names:
                              type: array
                              items:
                                type: string
                            user_locations:
                              type: array
                              items:
                                type: string
      parameters:
      - $ref: '#/components/parameters/PrismaTenantHeader'
      - $ref: '#/components/parameters/PrismaRegionHeader'
      tags:
      - Incidents APIs
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  $ref: '#/components/schemas/FilterObject'
                pagination:
                  $ref: '#/components/schemas/PaginationObject'
            examples:
              FilterWithPagination:
                summary: Filter by Product/Status with Pagination
                value:
                  filter:
                    rules:
                    - property: release_state
                      operator: in
                      values:
                      - Released
                    - property: product
                      operator: in
                      values:
                      - NGFW
                      - Prisma Access
                      - Posture
                    - property: status
                      operator: in
                      values:
                      - Raised
                  pagination:
                    page_size: 50
                    page_number: 1
                    order_by:
                    - property: updated_time
                      order: desc
  /incidents/{incident_id}:
    get:
      summary: Get Incident Details
      description: "Provides comprehensive metadata and alert-level data for a specific\
        \ security incident. \nReturns detailed impact objects, resource contexts,\
        \ and the underlying alerts that triggered the incident."
      operationId: GetIncidentsbyincident_id
      responses:
        '200':
          description: Detailed incident information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        incident_id:
                          type: string
                          example: 21818c4a-8353-4d9c-ae3e-ae90004d4662
                        title:
                          type: string
                          example: Tenant has 14 raised alerts
                        raised_time:
                          type: integer
                          format: int64
                          example: 1765468859684
                        updated_time:
                          type: integer
                          format: int64
                          example: 1765468859684
                        resource_keys:
                          type: string
                          description: JSON string containing resource identifiers.
                          example: '{"tenant_id": "24072002", "sub_tenant_id": "24072002"}'
                        status:
                          type: string
                          example: Raised
                        detail:
                          type: string
                          description: Stringified JSON array containing detailed
                            alert information.
                        alerts:
                          type: array
                          items:
                            type: object
                            properties:
                              alert_id:
                                type: string
                              severity:
                                type: string
                              state:
                                type: string
                              title:
                                type: string
                              updated_time:
                                type: integer
                                format: int64
                              domain:
                                type: string
                              inc_prop:
                                type: integer
                              ctx_only_alert:
                                type: boolean
                              code:
                                type: string
                        incident_type:
                          type: string
                          example: SOURCE_AGGREGATION_INCIDENT
                        incident_code:
                          type: string
                          example: INC_AOA_TENANT_ALERTS_NOTIFICATION
                        severity_id:
                          type: integer
                          example: 200
                        severity:
                          type: string
                          example: Informational
                        priority:
                          type: string
                          example: Not Set
                        release_state:
                          type: string
                          example: Released
                        product:
                          type: string
                          example: Prisma Access
                        resource_context:
                          type: string
                          example: '{}'
                        category:
                          type: string
                          example: Network
                        sub_category:
                          type: string
                          example: ''
                        designation:
                          type: string
                          example: root
                        acknowledged:
                          type: boolean
                          example: false
      parameters:
      - $ref: '#/components/parameters/PrismaTenantHeader'
      - $ref: '#/components/parameters/PrismaRegionHeader'
      - name: incident_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Incidents APIs
