components:
  schemas:
    ListSubscriptionRequest:
      additionalProperties: false
      properties: {}
      title: ListSubscriptionRequest
      type: object
    ListSubscriptionResponse:
      additionalProperties: false
      properties:
        Response:
          $ref: '#/components/schemas/ListSubscriptionResponse.ResponseData'
          description: 'The API call response.

            '
        ResponseStatus:
          $ref: '#/components/schemas/ListSubscriptionResponse.Result'
          description: 'The API call response status.

            '
      title: ListSubscriptionResponse
      type: object
    ListSubscriptionResponse.ResponseData:
      additionalProperties: false
      properties:
        Subscriptions:
          description: 'Subscription information of your account.

            '
          items:
            $ref: '#/components/schemas/ListSubscriptionResponse.SubscriptionDetails'
          title: Subscriptions
          type: array
      title: ResponseData
      type: object
    ListSubscriptionResponse.Result:
      additionalProperties: false
      properties:
        ErrorCode:
          default: 0
          description: "Default value of a successful response is 0. Any other number\
            \ indicates an error code.  \n\n400\u2014HTTP bad request\n* InvalidOperationException\u2014\
            Operation failed because it is not valid. For example, when you delete\
            \ an NGFW or rulestack in use.\n* InvalidRequestException\u2014Operation\
            \ failed due to invalid request. For example, unsupported parameter name\
            \ or value in the request.\n* LimitExceededException\u2014Operation failed\
            \ due to violation in limit settings.\n* ResourceNotFoundException\u2014\
            Unable to locate a resource using the parameters you provided.\n* ThrottlingException\u2014\
            Operation failed due to throttling limitations.   \n\n500\u2014Bad request\
            \ \n* InternalServerError\u2014Your request is valid but Cloud NGFW could\
            \ not perform the operation due to a system issue.\n"
          title: Errorcode
          type: integer
        Reason:
          description: 'The error description.

            '
          title: Reason
          type: string
      title: Result
      type: object
    ListSubscriptionResponse.SubscriptionDetails:
      additionalProperties: false
      properties:
        SubscriptionKey:
          description: 'Your subscription key.

            '
          title: Subscriptionkey
          type: string
      required:
      - SubscriptionKey
      title: SubscriptionDetails
      type: object
info:
  contact: {}
  description: "[Subscribe to Cloud NGFW for AWS Service](https://docs.paloaltonetworks.com/cloud-ngfw/aws/cloud-ngfw-on-aws/getting-started-with-cloud-ngfw-for-aws/subscribe-to-the-cloud-ngfw-service.html)\
    \ to create your first user; a Tenant Administrator. A Tenant Administrator is\
    \ the highest user level in the Cloud NGFW service. The Tenant Administrator has\
    \ the ability to add AWS accounts to the Cloud NGFW service and also onboard additional\
    \ users.  \n"
  title: Manage Subscription
  version: 1.0.0
openapi: 3.0.3
paths:
  /v1/mgmt/subscribe:
    get:
      description: 'Retrieve the subscription information of your account. The subscribed
        user is Tenant Admin.

        '
      operationId: get-v1-mgmt-subscribe
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListSubscriptionRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSubscriptionResponse'
          description: OK
      summary: List CloudNGFW Subscriptions
      tags:
      - ManageSubscription
servers:
- url: https://api.us-east-1.aws.cloudngfw.paloaltonetworks.com
tags:
- name: ManageSubscription
