.homepage-banner-container {
  width: calc(100vw - 20px);
  margin-left: calc(-50vw + 50% + 10px);
  position: relative;
  height: 300px;
  background: var(--ifm-color-emphasis-100);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 3vw)
  );
  /* change the calc height to a percentage height to get alternate responsive behavior*/
}

.banner-content-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.banner-image {
  max-width: 350px;
  padding: 1rem;
}

.banner-header {
  margin: 0;
  font-size: clamp(2rem,-.875rem + 8.333vw,3rem);
}
