html[data-theme="dark"] {
  .homepage-banner-container {
    border-color: var(--ifm-toc-border-color);
  }
}

.homepage-banner-container {
  padding: 3rem;
  text-align: center;
  width: calc(100vw - 20px);
  margin-left: calc(-50vw + 50% + 10px);
  border-top: 1px solid var(--ifm-color-emphasis-100);
}

.homepage-header {
  font-weight: 300 !important;
  text-align: center;
  margin: 3rem 0;
  font-size: 2.5rem;
}

.banner-image {
  max-width: 350px;
  padding: 1rem;
}
