.homepage-banner-container {
  background: var(--ifm-color-emphasis-100);
 
  @media (min-width: 760px) {
    width: calc(100vw - 20px);
    margin-left: calc(-50vw + 50% + 10px);
    position: relative;
    height: 300px;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 calc(100% - 3vw)
    );
  }
}

.banner-content-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;

  @media (max-width: 760px) {
    flex-direction: column;
    margin-top: 0;
    padding: 1rem;
    text-align: center;
  }
}

.banner-image {
  max-width: 350px;
  padding: 1rem;
}

.banner-header {
  margin: 0;
  font-size: clamp(2rem,-.875rem + 8.333vw,3rem);
}
