.use-cases-container {
  background-color: #F2F2F3;
  padding: 3rem 0 3rem 0;
  margin-left: calc(50% - 50vw);
  width: 100vw;

  section {
    padding-bottom: 3rem;
    background-color: black;
    border-radius: 0.5rem;
  }
}

.use-cases-header {
  max-width: 800px;
  text-align: center;
  margin: auto;
  padding: 3rem 1rem;
  h1 { color: white; }
  p { color: #dbdbdc; }
}

.use-cases-cards-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  grid-gap: 2rem;
  min-height: 500px;
  margin: auto;

  .link-card-container {
    h3 { color: white; }
    li {
      list-style: none;
      line-height: 1.35;
      margin: 0.75rem 0;
      a {
        color: #dbdbdc;
        &:hover { font-weight: bold }
      }
    }
  }
}
