html[data-theme='dark'] {
  .use-cases-container {
    border-bottom: 1px solid var(--ifm-color-emphasis-100);
  }
  
  .use-cases-container,
  .use-cases-container section {
    background-color: var(--ifm-background-color);
    
    .link-card-container {
      background-color: inherit;
      border: 1px solid var(--ifm-color-emphasis-100);
      box-shadow: 0 2px 3px hsl(222deg 8% 43% / 10%), 0 8px 16px -10px hsl(222deg 8% 43% / 20%);
      &:hover {
      box-shadow: 0 0 0 2px rgba(38, 53, 61, 0.15), 0 2px 3px hsla(222deg, 8%, 43%, 0.15), 0 16px 16px -10px hsla(222deg, 8%, 43%, 0.2);
    }
    }
  }
}

.use-cases-container {
  background-color: #F2F2F3;
  padding: 3rem 0 3rem 0;
  margin-left: calc(50% - 50vw);
  width: 100vw;

  section {
    padding-bottom: 3rem;
    background-color: black;
    border-radius: 0.5rem;
  }
}

.use-cases-header {
  max-width: 800px;
  text-align: center;
  margin: auto;
  padding: 3rem 1rem;
  h1 { color: white; }
  p { color: #dbdbdc; }
}

.use-cases-cards-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  grid-gap: 2rem;
  min-height: 500px;
  margin: auto;

  .link-card-container {
    h3 { color: white; }
    li {
      list-style: none;
      line-height: 1.35;
      margin: 0.75rem 0;
      a {
        color: #dbdbdc;
        &:hover { font-weight: bold }
      }
    }
  }
}
