components:
  responses:
    create_service_account_response:
      content:
        application/json:
          schema:
            allOf:
            - example:
                client_id: api-client@1746292031.iam.panserviceaccount.com
                client_secret: f9zGQfSAj7GjGbX6dvTV3
                contact_email: user@example.com
                description: A client for our dashboard
                id: 2f56a901-4b71-45dc-a8d6-6b77eb41934d
                name: api-client
                tsg_id: '1746292031'
      description: Successful response.
  schemas:
    service_account:
      example:
        client_id: api-client@1746292031.iam.panserviceaccount.com
        contact_email: user@example.com
        description: A client for our dashboard
        id: 72caf04d-cd05-4207-921e-e673b9c0b423
        name: api-client
        tsg_id: '1746292031'
      properties:
        client_id:
          description: 'Service account''s client ID, formatted as an email address.

            '
          type: string
        contact_email:
          description: 'Email address for the user or group managing this service
            account.

            '
          type: string
        description:
          description: 'Service account''s description.

            '
        id:
          description: 'Unique ID for this service account.

            '
          type: string
        name:
          description: 'Service account''s name.

            '
          type: string
        tsg_id:
          description: 'Service account''s tenant service group ID.

            '
          type: string
      title: Root Type for service_account
      type: object
    service_account_create:
      example:
        contact_email: user@example.com
        description: A client for our dashboard
        name: api-client
      properties:
        contact_email:
          description: 'Email address of the person or group that is managing this
            service account.

            '
          type: string
        description:
          description: 'A description for this service account.

            '
        name:
          description: 'The service account''s name. This parameter is required.

            '
          type: string
      title: Root Type for service_account
      type: object
    service_account_update:
      example:
        contact_email: user@example.com
        description: A client for our dashboard
      properties:
        contact_email:
          description: 'Email address of the person or group that is managing this
            service account.

            '
          type: string
        description:
          description: 'A description for this service account.

            '
      title: Update Type for service_account
      type: object
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
info:
  contact: {}
  description: "Service accounts are used to obtain authentication tokens. As such,\
    \ their use is required only\nfor API access to Prisma SASE services. You apply\
    \ one or more [access policies](/scm/api/iam/accesspolicies)\nto a service account\
    \ to identify what roles the service account has, as well as what \n[TSGs](/scm/api/tenancy)\
    \ \nthe service account has access to.\n"
  title: Service Accounts
  version: '1.0'
openapi: 3.0.2
paths:
  /iam/v1/service_accounts:
    get:
      description: 'List all service accounts.

        '
      operationId: get-iam-v1-service_accounts
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/service_account'
                type: array
          description: Successful response - returns an array of `service_account`
            entities.
      security:
      - Bearer: []
      summary: List all service accounts
      tags:
      - ServiceAccounts
    post:
      description: 'Create a service account.

        '
      operationId: post-iam-v1-service_accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service_account_create'
        description: A new `service_account` to be created.
        required: true
      responses:
        '201':
          $ref: '#/components/responses/create_service_account_response'
          description: Successful response.
      security:
      - Bearer: []
      summary: Create a service account
      tags:
      - ServiceAccounts
  /iam/v1/service_accounts/{id}:
    delete:
      description: 'Delete a service account.

        '
      operationId: delete-iam-v1-service_accounts-id
      parameters:
      - description: A unique identifier for a `service_account`.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_account'
          description: Successful response.
      security:
      - Bearer: []
      summary: Delete a service account
      tags:
      - ServiceAccounts
    get:
      description: 'Get a specific service account.

        '
      operationId: get-iam-v1-service_accounts-id
      parameters:
      - description: A unique identifier for a `service_account`.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_account'
          description: Successful response - returns a single `service_account`.
      security:
      - Bearer: []
      summary: Get a service account
      tags:
      - ServiceAccounts
    put:
      description: 'Update a service account.

        '
      operationId: put-iam-v1-service_accounts-id
      parameters:
      - description: A unique identifier for a `service_account`.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service_account_update'
        description: Updated `service_account` information.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_account'
          description: Successful response.
      security:
      - Bearer: []
      summary: Update a service account
      tags:
      - ServiceAccounts
  /iam/v1/service_accounts/{id}/operations/reset:
    post:
      description: 'Reset a service account.

        '
      operationId: post-iam-v1-service_accounts-id-operations-reset
      parameters:
      - description: A unique identifier for a `service_account`.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '201':
          $ref: '#/components/responses/create_service_account_response'
          description: Successful response.
      security:
      - Bearer: []
      summary: Reset a service account
      tags:
      - ServiceAccounts
servers:
- url: https://api.sase.paloaltonetworks.com
tags:
- name: ServiceAccounts
