openapi: 3.0.0
info:
  version: 2.0.0
  title: GlobalProtect
  description: These APIs are used for defining and managing Prisma Access GlobalProtect services within Strata Cloud Manager.
  termsOfService: 'https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf'
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: 'https://support.paloaltonetworks.com'
  license:
    name: MIT
    url: https://opensource.org/license/mit
servers:
  - url: 'https://api.strata.paloaltonetworks.com/config/mobile-agent/v1'
    description: Current
  - url: 'https://api.sase.paloaltonetworks.com/sse/config/v1/mobile-agent'
    description: Legacy
tags:
  - name: Agent Authentication Settings
    description: Agent Authentication Settings
  - name: Agent Versions
    description: Agent Versions
  - name: Application Settings
    description: Application Settings
  - name: Global Settings
    description: Global Settings
  - name: GlobalProtect Enablement
    description: GlobalProtect Enablement
  - name: Infrastructure Settings
    description: Infrastructure Settings
  - name: Mobile User Locations
    description: Mobile User Locations
  - name: Tunnel Settings
    description: Tunnel Settings
  - name: Forwarding Profiles
    description: Forwarding Profiles
  - name: Destinations
    description: Destinations
  - name: Source Applications
    description: Source Applications
  - name: User Locations
    description: User Locations
  - name: Regional and Custom Proxies
    description: Regional and Custom Proxies
paths:
  /agent-profiles:
    get:
      tags:
        - Application Settings
      summary: List GlobalProtect agent profiles
      description: |
        Retrieve a list of GlobalProtect agent profiles
      operationId: ListGlobalProtectAgentProfiles
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/folder-mobileusers-required'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/agent-profiles'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Application Settings
      summary: Create a GlobalProtect agent profile
      description: |
        Create a new GlobalProtect agent profile
      operationId: CreateGlobalProtectAgentProfiles
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agent-profiles'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Application Settings
      summary: Update a GlobalProtect agent profile
      description: |
        Update an existing GlobalProtect agent profile
      operationId: UpdateGlobalProtectAgentProfiles
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agent-profiles'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Application Settings
      summary: Delete a GlobalProtect agent profile
      description: |
        Delete a GlobalProtect agent profile
      operationId: DeleteGlobalProtectAgentProfiles
      parameters:
        - $ref: '#/components/parameters/name-required'
        - $ref: '#/components/parameters/folder-mobileusers-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /agent-versions:
    get:
      tags:
        - Agent Versions
      summary: List GlobalProtect agent versions
      description: Retrieve a list of GlobalProtect agent versions
      operationId: ListGlobalProtectVersions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent-versions'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
  /authentication-settings:
    get:
      tags:
        - Agent Authentication Settings
      summary: List GlobalProtect authentication settings
      description: |
        Retrieve a list of GlobalProtect authentication settings
      operationId: GetGlobalProtectAuthenticationSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/folder-mobileusers-required'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/authentication-settings'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Agent Authentication Settings
      summary: Create a GlobalProtect authentication setting
      description: |
        Create a new GlobalProtect authentication setting
      operationId: CreateGlobalProtectAuthenticationSettings
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authentication-settings'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authentication-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Agent Authentication Settings
      summary: Update a GlobalProtect authentication setting
      description: |
        Update an existing GlobalProtect authentication setting
      operationId: UpdateGlobalProtectAuthenticationSettings
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authentication-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Agent Authentication Settings
      summary: Delete a GlobalProtect authentication setting
      description: |
        Delete a GlobalProtect authentication setting
      operationId: DeleteGlobalProtectAuthenticationSettings
      parameters:
        - $ref: '#/components/parameters/name-required'
        - $ref: '#/components/parameters/folder-mobileusers-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  '/authentication-settings/{name}:move':
    post:
      tags:
        - Agent Authentication Settings
      summary: Move a GlobalProtect authentication setting
      description: |
        Move a GlobalProtect authentication setting
      operationId: MoveGlobalProtectAuthenticationSettings
      parameters:
        - $ref: '#/components/parameters/name-in-path'
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/move-auth-settings'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /enable:
    get:
      tags:
        - GlobalProtect Enablement
      summary: Get GlobalProtect enablement status
      description: |
        Get the Prisma Access GlobalProtect enablement status.

        *This is normally done in the UI. This endpoint is necessary for customers that do not use the UI to enable GlobalProtect in Prisma Access.  This endpoint will be deprecated once the UI dependencies have been eliminated.*
      operationId: GetGlobalProtectEnablement
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Has GlobalProtect been enabled?
                required:
                  - enabled
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - GlobalProtect Enablement
      summary: Enable GlobalProtect
      description: |-
        Enable the Prisma Access GlobalProtect feature.

        *This is normally done in the UI. This endpoint is necessary for customers that do not use the UI to enable GlobalProtect in Prisma Access.  This endpoint will be deprecated once the UI dependencies have been eliminated.*
      operationId: CreateGlobalProtectEnablement
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /global-settings:
    get:
      tags:
        - Global Settings
      summary: List GlobalProtect global settings
      description: |
        Retrieve a list of  GlobalProtect global settings
      operationId: GetGlobalProtectSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mobile-agent-global-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Global Settings
      summary: Update GlobalProtect global settings
      description: |
        Update the GlobalProtect global settings
      operationId: UpdateMobileAgentSettings
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mobile-agent-global-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /infrastructure-settings:
    get:
      tags:
        - Infrastructure Settings
      summary: List GlobalProtect infrastructure settings
      description: |
        Retrieve a list of GlobalProtect infrastructure settings
      operationId: GetGlobalProtectInfrastructureSettings
      parameters:
        - $ref: '#/components/parameters/name-required'
        - $ref: '#/components/parameters/folder-mobileusers-required'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/mobile-agent-infrastructure-settings'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Infrastructure Settings
      summary: Create a GlobalProtect infrastructure setting
      description: |
        Create a new GlobalProtect infrastructure setting
      operationId: CreateGlobalProtectInfrastructureSettings
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mobile-agent-infrastructure-settings'
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Infrastructure Settings
      summary: Update a GlobalProtect infrastructure setting
      description: |
        Update an existing GlobalProtect infrastructure setting
      operationId: UpdateGlobalProtectInfrastructureSettings
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mobile-agent-infrastructure-settings'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Infrastructure Settings
      summary: Delete a GlobalProtect infrastructure setting
      description: |
        Delete a GlobalProtect infrastructure setting
      operationId: DeleteGlobalProtectInfrastructureSettings
      parameters:
        - $ref: '#/components/parameters/name-required'
        - $ref: '#/components/parameters/folder-mobileusers-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /locations:
    get:
      tags:
        - Mobile User Locations
      summary: List GlobalProtect locations
      description: |
        Retrieve a list of GlobalProtect locations
      operationId: ListGlobalProtectLocations
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/mobile-agent-locations'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Mobile User Locations
      summary: Select a GlobalProtect location
      description: |
        Select a GlobalProtect location
      operationId: UpdateGlobalProtectLocations
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mobile-agent-locations'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /tunnel-profiles:
    get:
      tags:
        - Tunnel Settings
      summary: List GlobalProtect tunnel settings
      description: |
        Retrieve a list of GlobalProtect tunnel settings
      operationId: ListGlobalProtectTunnelSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder-mobileusers-required'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/tunnel-profiles'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Tunnel Settings
      summary: Create a GlobalProtect tunnel setting
      description: |
        Create a GlobalProtect tunnel setting
      operationId: CreateGlobalProtectTunnelSettings
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tunnel-profiles'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tunnel-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Tunnel Settings
      summary: Update a GlobalProtect tunnel setting
      description: |
        Update an existing GlobalProtect tunnel setting
      operationId: UpdateGlobalProtectTunnelSettings
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tunnel-profiles'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tunnel-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Tunnel Settings
      summary: Delete a GlobalProtect tunnel setting
      description: |
        Delete a GlobalProtect tunnel setting
      operationId: DeleteGlobalProtectTunnelSettings
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/folder-mobileusers-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /forwarding-profiles:
    get:
      tags:
        - Forwarding Profiles
      summary: List GlobalProtect forwarding profiles
      description: |
        Retrieve a list of GlobalProtect forwarding profiles
      operationId: ListGlobalProtectForwardingProfiles
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/folder-mobileusers-required'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/forwarding-profile'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Forwarding Profiles
      summary: Create a GlobalProtect forwarding profile
      description: |
        Create a new GlobalProtect forwarding profile
      operationId: CreateGlobalProtectForwardingProfile
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/forwarding-profile'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forwarding-profile'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /forwarding-profiles/{id}:
    get:
      tags:
        - Forwarding Profiles
      summary: Get a GlobalProtect forwarding profile
      description: |
        Retrieve an existing GlobalProtect forwarding profile
      operationId: GetGlobalProtectForwardingProfileByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forwarding-profile'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Forwarding Profiles
      summary: Update a GlobalProtect forwarding profile
      description: |
        Update an existing GlobalProtect forwarding profile
      operationId: UpdateGlobalProtectForwardingProfileByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: The forwarding profile resource definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/forwarding-profile'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forwarding-profile'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Forwarding Profiles
      summary: Delete a GlobalProtect forwarding profile
      description: |
        Delete a GlobalProtect forwarding profile
      operationId: DeleteGlobalProtectForwardingProfile
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /forwarding-profile-destinations:
    get:
      tags:
        - Destinations
      summary: List GlobalProtect destinations
      description: |
        Retrieve a list of GlobalProtect destinations
      operationId: ListGlobalProtectDestinations
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/folder-mobileusers-required'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/destination'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Destinations
      summary: Create a GlobalProtect destination
      description: |
        Create a new GlobalProtect destination
      operationId: CreateGlobalProtectDestination
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/destination'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/destination'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /forwarding-profile-destinations/{id}:
    get:
      tags:
        - Destinations
      summary: Get a GlobalProtect destination
      description: |
        Retrieve an existing GlobalProtect destination
      operationId: GetGlobalProtectDestinationByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/destination'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Destinations
      summary: Update a GlobalProtect destination
      description: |
        Update an existing GlobalProtect destination
      operationId: UpdateGlobalProtectDestinationByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: The destination resource definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/destination'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/destination'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Destinations
      summary: Delete a GlobalProtect destination
      description: |
        Delete a GlobalProtect destination
      operationId: DeleteGlobalProtectDestination
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /forwarding-profile-source-applications:
    get:
      tags:
        - Source Applications
      summary: List GlobalProtect source applications
      description: |
        Retrieve a list of GlobalProtect source applications
      operationId: ListGlobalProtectSourceApplications
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/folder-mobileusers-required'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/source-application'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Source Applications
      summary: Create a GlobalProtect source application
      description: |
        Create a new GlobalProtect source application
      operationId: CreateGlobalProtectSourceApplication
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/source-application'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/source-application'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /forwarding-profile-source-applications/{id}:
    get:
      tags:
        - Source Applications
      summary: Get a GlobalProtect source application
      description: |
        Retrieve an existing GlobalProtect source application
      operationId: GetGlobalProtectSourceApplicationByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/source-application'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Source Applications
      summary: Update a GlobalProtect source application
      description: |
        Update an existing GlobalProtect source application
      operationId: UpdateGlobalProtectSourceApplicationByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: The source application resource definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/source-application'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/source-application'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Source Applications
      summary: Delete a GlobalProtect source application
      description: |
        Delete a GlobalProtect source application
      operationId: DeleteGlobalProtectSourceApplication
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /forwarding-profile-user-locations:
    get:
      tags:
        - User Locations
      summary: List GlobalProtect user locations
      description: |
        Retrieve a list of GlobalProtect user locations
      operationId: ListGlobalProtectUserLocations
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/folder-mobileusers-required'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/user-location'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - User Locations
      summary: Create a GlobalProtect user location
      description: |
        Create a new GlobalProtect user location
      operationId: CreateGlobalProtectUserLocation
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user-location'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user-location'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /forwarding-profile-user-locations/{id}:
    get:
      tags:
        - User Locations
      summary: Get a GlobalProtect user location
      description: |
        Retrieve an existing GlobalProtect user location
      operationId: GetGlobalProtectUserLocationByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user-location'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - User Locations
      summary: Update a GlobalProtect user location
      description: |
        Update an existing GlobalProtect user location
      operationId: UpdateGlobalProtectUserLocationByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: The user location resource definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user-location'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user-location'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - User Locations
      summary: Delete a GlobalProtect user location
      description: |
        Delete a GlobalProtect user location
      operationId: DeleteGlobalProtectUserLocation
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /forwarding-profile-regional-and-custom-proxies:
    get:
      tags:
        - Regional and Custom Proxies
      summary: List GlobalProtect regional and custom proxies
      description: |
        Retrieve a list of GlobalProtect regional and custom proxies
      operationId: ListGlobalProtectRegionalAndCustomProxies
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/folder-mobileusers-required'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/regional-and-custom-proxy'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
        - Regional and Custom Proxies
      summary: Create a GlobalProtect regional and custom proxy
      description: |
        Create a new GlobalProtect regional and custom proxy
      operationId: CreateGlobalProtectRegionalAndCustomProxies
      parameters:
        - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/regional-and-custom-proxy'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/regional-and-custom-proxy'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /forwarding-profile-regional-and-custom-proxies/{id}:
    get:
      tags:
        - Regional and Custom Proxies
      summary: Get a GlobalProtect regional and custom proxy
      description: |
        Retrieve an existing GlobalProtect regional and custom proxy
      operationId: GetGlobalProtectRegionalAndCustomProxyByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/regional-and-custom-proxy'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
        - Regional and Custom Proxies
      summary: Update a GlobalProtect regional and custom proxy
      description: |
        Update an existing GlobalProtect regional and custom proxy
      operationId: UpdateGlobalProtectRegionalAndCustomProxyByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: The regional and custom proxy resource definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/regional-and-custom-proxy'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/regional-and-custom-proxy'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
        - Regional and Custom Proxies
      summary: Delete a GlobalProtect regional and custom proxy
      description: |
        Delete a GlobalProtect regional and custom proxy
      operationId: DeleteGlobalProtectRegionalAndCustomProxies
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
components:
  parameters:
    uuid:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The UUID of the resource
    name:
      name: name
      in: query
      description: The name of the configuration resource
      required: false
      schema:
        type: string
    name-required:
      name: name
      in: query
      description: The name of the configuration resource
      required: true
      schema:
        type: string
    name-in-path:
      name: name
      in: path
      description: The name of the configuration resource
      required: true
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: The maximum number of results per page
      required: false
      schema:
        type: integer
        default: 200
    offset:
      name: offset
      in: query
      description: The offset into the list of results returned
      required: false
      schema:
        type: integer
        default: 0
    folder-mobileusers-required:
      name: folder
      in: query
      description: |
        The folder in which the resource is defined
      schema:
        enum:
          - Mobile Users
  securitySchemes:
    scmOAuth:
      type: oauth2
      description: |
        Strata Cloud Manager APIs authenticate client requests using the 
        OAuth 2.0 Client Credentials flow.  Please use the `client_id`, 
        `client_secret` values associated with an IAM service account along 
        with a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the 
        Tenant Service Group (TSG) ID.  The resulting JWT access token should 
        be attached to all API calls as a `Bearer` token in the `Authorization` 
        header (ex. `Authorization: Bearer tokenstring`).
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes: {}
    scmToken:
      type: http
      description: |
        Strata Cloud Manager APIs authenticate client requests using the 
        OAuth 2.0 Client Credentials flow.  Please use the `client_id`, 
        `client_secret` values associated with an IAM service account along 
        with a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the 
        Tenant Service Group (TSG) ID.  The resulting JWT access token should 
        be attached to all API calls as a `Bearer` token in the `Authorization` 
        header (ex. `Authorization: Bearer tokenstring`).
      scheme: bearer
      bearerFormat: JWT
  responses:
    http_ok:
      description: OK
    http_created:
      description: Created
    auth_errors:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
    access_errors:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
    bad_request_errors_basic:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    bad_request_errors_basic_with_body:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    not_found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    default_errors:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
  examples:
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
          - code: E016
            message: Not Authenticated
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
          - code: E016
            message: Invalid Credential
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
          - code: E016
            message: Key Too Long
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
          - code: E016
            message: Key Expired
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
          - code: E016
            message: The password needs to be changed.
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
          - code: E007
            message: Unauthorized
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
          - code: E012
            message: Version Not Supported
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
          - code: E012
            message: Method Not Supported
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
          - code: E003
            message: 'Input Format Mismatch: input-format=json'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
          - code: E003
            message: 'Output Format Mismatch: output-format=json Accept=xml'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
          - code: E003
            message: 'Missing Query Parameter: name'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
          - code: E003
            message: 'Invalid Query Parameter: location=invalid'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
          - code: E003
            message: Missing Body
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
          - code: E012
            message: 'Action Not Supported: move'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
          - code: E013
            message: Bad XPath
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
          - code: E005
            message: Object Not Present
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
          - code: E016
            message: Object Not Unique
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
          - code: E006
            message: Name Not Unique
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
          - code: E009
            message: Reference Not Zero
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
          - code: E003
            message: Invalid Object
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
          - code: E003
            message: Invalid Command
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
          - code: E003
            message: Malformed Command
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
          - code: '4'
            message: Session Timeout
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
  schemas:
    agent-profiles:
      type: object
      properties:
        name:
          type: string
        folder:
          type: string
          default: Mobile Users
        agent_ui:
          type: object
          description: Agent UI configuration settings
          properties:
            agent_user_override_timeout:
              type: integer
              description: Agent disabled duration (minutes).  A value of `0` means the agent will remain disabled until manually enabled.
              minimum: 0
              maximum: 65535
              default: 0
            max_agent_user_overrides:
              type: integer
              description: The maximum number of times the agent can be disabled.  A value of `0` means there are no limits to the number of times the agent can be disabled.
              minimum: 0
              maximum: 25
              default: 0
            passcode:
              type: string
              format: password
              description: The passcode used to disable the agent
              minLength: 6
              maxLength: 64
            uninstall_password:
              type: string
              format: password
              description: The password used to uninstall the agent
              minLength: 6
              maxLength: 32
            welcome_page:
              type: object
              description:  The welcome page displayed upon login
              properties:
                page:
                  type: string
        authentication_override:
          type: object
          properties:
            accept_cookie:
              type: object
              properties:
                cookie_lifetime:
                  type: object
                  properties:
                    lifetime_in_days:
                      type: number
                      minimum: 1
                      maximum: 365
                    lifetime_in_hours:
                      type: number
                      minimum: 1
                      maximum: 72
                    lifetime_in_minutes:
                      type: number
                      minimum: 1
                      maximum: 59
            cookie_encrypt_decrypt_cert:
              type: string
            generate_cookie:
              type: boolean
        certificate:
          type: object
          properties:
            criteria:
              type: object
              properties:
                certificate_profile:
                  type: string
        client_certificate:
          type: object
          properties:
            local:
              type: string
            scep:
              type: string
              maxLength: 255
        custom_checks:
          type: object
          properties:
            criteria:
              type: object
              properties:
                plist:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      key:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            negate:
                              type: boolean
                            value:
                              type: string
                              pattern: .*
                              maxLength: 1024
                      negate:
                        type: boolean
                registry_key:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        maxLength: 1023
                      default_value_data:
                        type: string
                        maxLength: 1024
                      negate:
                        type: boolean
                      registry_value:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            negate:
                              type: boolean
                            value_data:
                              type: string
        gateways:
          type: object
          properties:
            external:
              type: object
              properties:
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      choice:
                        type: object
                        oneOf:
                          - type: object
                            title: fqdn
                            properties:
                              fqdn:
                                type: string
                          - type: object
                            title: ip
                            properties:
                              ip:
                                type: object
                                properties:
                                  ipv4:
                                    type: string
                                    pattern: '^([:0-9.])+$'
                                    maxLength: 100
                                  ipv6:
                                    type: string
                                    maxLength: 100
                      manual:
                        type: boolean
                        description: If this GlobalProtect gateway can be manually selected
                        default: false
                      priority_rule:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            priority:
                              enum:
                                - '0'
                                - '1'
                                - '2'
                                - '3'
                                - '4'
                                - '5'
            internal:
              type: object
              properties:
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      choice:
                        type: object
                        oneOf:
                          - type: object
                            title: fqdn
                            properties:
                              fqdn:
                                type: string
                          - type: object
                            title: ip
                            properties:
                              ip:
                                type: object
                                properties:
                                  ipv4:
                                    type: string
                                    pattern: '^([:0-9.])+$'
                                    maxLength: 100
                                  ipv6:
                                    type: string
                                    maxLength: 100
                      source_ip:
                        type: array
                        items:
                          type: string
        gp_app_config:
          type: object
          properties:
            config:
              type: array
              description: Currently we only support connect-method and tunnel-mtu as app-config
              items:
                type: object
                anyOf:
                  - $ref: '#/components/schemas/connect-method'
                  - $ref: '#/components/schemas/tunnel-mtu'
        hip_collection:
          type: object
          properties:
            certificate_profile:
              type: string
            collect_hip_data:
              type: boolean
            custom_checks:
              type: object
              properties:
                linux:
                  type: object
                  properties:
                    process_list:
                      type: array
                      items:
                        type: string
                mac_os:
                  type: object
                  properties:
                    plist:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Preference list
                            maxLength: 1023
                          key:
                            type: array
                            items:
                              type: string
                        required:
                          - name
                    process_list:
                      type: array
                      items:
                        type: string
                windows:
                  type: object
                  properties:
                    process_list:
                      type: array
                      items:
                        type: string
                    registry_key:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Registry key
                            maxLength: 1023
                          registry_value:
                            type: array
                            items:
                              type: string
                        required:
                          - name
            exclusion:
              type: object
              properties:
                category:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      vendor:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            product:
                              type: array
                              items:
                                type: string
            max_wait_time:
              type: number
              minimum: 10
              maximum: 60
        internal_host_detection:
          type: object
          properties:
            hostname:
              type: string
              description: Host name of the IPv4 in DNS record
              pattern: '^[a-zA-Z0-9._-]+$'
              maxLength: 256
            ip_address:
              type: string
              description: Internal IPv4 address of a host
        internal_host_detection_v6:
          type: object
          properties:
            hostname:
              type: string
              description: Host name of the IPv4 in DNS record
              pattern: '^[a-zA-Z0-9._-]+$'
              maxLength: 256
            ip_address:
              type: string
              description: Internal IPv6 address of a host
        machine_account_exists_with_serialno:
          type: object
          properties:
            'yes':
              type: object
            'no':
              type: object
        os:
          type: array
          items:
            enum:
              - Android
              - Chrome
              - IoT
              - Linux
              - Mac
              - Windows
              - WindowsUWP
              - iOS
        save_user_credentials:
          enum:
            - '0'
            - '1'
            - '2'
            - '3'
        source_user:
          type: array
          items:
            type: string
        third_party_vpn_clients:
          type: array
          items:
            enum:
              - PAN Virtual Ethernet Adapter
              - Juniper Network Virtual Adapter
              - Cisco Systems VPN Adapter
      required:
        - name
    connect-method:
      type: object
      properties:
        name:
          enum:
            - connect-method
          default: connect-method
        value:
          type: array
          minItems: 1
          maxItems: 1
          items:
            enum:
              - user-logon
              - pre-logon
              - on-demand
              - pre-logon-then-on-demand
    tunnel-mtu:
      type: object
      properties:
        name:
          enum:
            - tunnel-mtu
          default: tunnel-mtu
        value:
          type: array
          description: GlobalProtect Connection MTU (bytes)
          minItems: 1
          maxItems: 1
          items:
            type: number
            minimum: 1000
            maximum: 1420
            default: 1400
    agent-versions:
      type: object
      title: agent-versions
      properties:
        agent_versions:
          type: array
          description: The available versions of the GlobalProtect agent
          items:
            type: string
      required:
        - agent_versions
    authentication-settings:
      type: object
      properties:
        authentication_profile:
          type: string
        os:
          enum:
            - Any
            - Android
            - Browser
            - Chrome
            - IoT
            - Linux
            - Mac
            - Satellite
            - Windows
            - WindowsUWP
            - iOS
          default: Any
        user_credential_or_client_cert_required:
          type: boolean
      required:
        - authentication_profile
        - os
        - user_credential_or_client_cert_required
    move-auth-settings:
      type: object
      properties:
        name:
          type: string
        where:
          enum:
            - before
            - after
            - top
            - bottom
        destination:
          type: string
        folder:
          type: string
    mobile-agent-global-settings:
      type: object
      properties:
        agent_version:
          type: string
        manual_gateway:
          type: object
          description: Use the locations from GET /infrastrustre-settings deployment field to setup manual gateways.
          properties:
            region:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  locations:
                    type: array
                    items:
                      type: string
    mobile-agent-infrastructure-settings:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
        dns_servers:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              dns_suffix:
                type: array
                items:
                  type: string
              internal_dns_match:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    domain_list:
                      type: array
                      items:
                        type: string
                    primary:
                      type: object
                      properties:
                        dns_server:
                          type: object
                        use_cloud_default:
                          type: object
                    secondary:
                      type: object
                      properties:
                        dns_server:
                          type: object
                        use_cloud_default:
                          type: object
              primary_public_dns:
                type: object
                properties:
                  dns_server:
                    type: string
              secondary_public_dns:
                type: object
                properties:
                  dns_server:
                    type: string
        enable_wins:
          type: object
          properties:
            'no':
              type: object
            'yes':
              type: object
              properties:
                wins_servers:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      primary:
                        type: string
                      secondary:
                        type: string
        ip_pools:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              ip_pool:
                type: array
                items:
                  type: string
        ipv6:
          type: boolean
        portal_hostname:
          type: object
          properties:
            custom_domain:
              type: object
              properties:
                cname:
                  type: string
                hostname:
                  type: string
                ssl_tls_service_profile:
                  type: string
                  description: 'value is muCustomDomainSSLProfile, it will reference to the corresponding certificate under ssl-tls-service-profile automatically'
                  default: muCustomDomainSSLProfile
            default_domain:
              type: object
              properties:
                hostname:
                  type: string
        udp_queries:
          type: object
          properties:
            retries:
              type: object
              properties:
                attempts:
                  type: number
                  description: Maximum number of retries before trying next name server
                  minimum: 1
                  maximum: 30
                interval:
                  type: number
                  description: Time in seconds for another request to be sent
                  minimum: 1
                  maximum: 30

        static_ip_pools:
          type: array
          items:
            $ref: '#/components/schemas/static-ip-pool'
      required:
        - id
        - name
        - dns_servers
        - ip_pools
        - portal_hostname
    mobile-agent-locations:
      type: object
      properties:
        region:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              locations:
                type: array
                items:
                  type: string
    tunnel-profiles:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 31
        authentication_override:
          type: object
          properties:
            accept_cookie:
              type: object
              properties:
                cookie_lifetime:
                  type: object
                  properties:
                    lifetime_in_days:
                      type: number
                      minimum: 1
                      maximum: 365
                    lifetime_in_hours:
                      type: number
                      minimum: 1
                      maximum: 72
                    lifetime_in_minutes:
                      type: number
                      minimum: 1
                      maximum: 59
                cookie_encrypt_decrypt_cert:
                  type: string
                generate_cookie:
                  type: boolean
        no_direct_access_to_local_network:
          type: boolean
        os:
          type: array
          items:
            enum:
              - Android
              - Chrome
              - IoT
              - Linux
              - Mac
              - Windows
              - WindowsUWP
              - iOS
        retrieve_framed_ip_address:
          type: boolean
        source_address:
          type: object
          properties:
            ip_address:
              type: array
              items:
                type: string
            region:
              type: array
              items:
                type: string
        source_user:
          type: array
          items:
            type: string
        split_tunneling:
          type: object
          properties:
            access_route:
              type: array
              items:
                type: string
            exclude_access_route:
              type: array
              items:
                type: string
            exclude_applications:
              type: array
              items:
                type: string
            exclude_domains:
              type: object
              properties:
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      ports:
                        type: array
                        items:
                          type: number
                          minimum: 1
                          maximum: 65535
            include_applications:
              type: array
              items:
                type: string
            include_domains:
              type: object
              properties:
                list:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      ports:
                        type: array
                        items:
                          type: number
                          minimum: 1
                          maximum: 65535
      required:
        - name
    generic_error:
      type: object
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      x-examples: {}
    error_detail_cause_infos:
      type: array
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      x-examples: {}
    error_detail_cause_info:
      type: object
      title: Cause Info
      properties:
        code:
          type: string
        message:
          type: string
        details:
          oneOf:
            - type: string
            - type: object
        help:
          type: string
    static-ip-pool:
      type: object
      properties:
        name:
          type: string
          maxLength: 128
          description: "Name of the static-ip-pool entry. Alphanumeric string [0-9a-zA-Z._-]"
        pool_type:
          type: string
          enum: [ "Static-IP" ]
        ip_pool:
          type: array
          items:
            type: string
            format: cidr
          description: "IP subnets"
        theatres:
          type: array
          items:
            type: string
          description: "IP pools on theatres"
        users:
          type: array
          items:
            type: string
          description: "IP pools on users"
        user_groups:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                maxLength: 320
                description: "Distinguished Name of the group"
              directory:
                type: string
          description: "IP pools on user groups"
        location_groups:
          type: array
          items:
            type: string
          description: "IP pools on location groups"
        devices:
          type: string
          enum: [ "Any" ]
          description: "IP pools on device groups"
        lease_period:
          type: integer
          minimum: 0
          maximum: 7776000
          description: "Lease period in seconds"
        grace_period:
          type: integer
          minimum: 0
          maximum: 7776000
          description: "Grace period in seconds"
      required:
        - name
        - ip_pool
    forwarding-profile:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: The UUID of the forwarding profile
        name:
          type: string
          maxLength: 64
          pattern: '^[0-9a-zA-Z._-]+$'
          description: 'alphanumeric string [ 0-9a-zA-Z._-]'
        description:
          type: string
          maxLength: 1023
        definition_method:
          type: string
          enum:
            - rules
            - pac-file
          default: rules
          description: 'Enable forwarding rule'
        type:
          type: object
          oneOf:
            - $ref: '#/components/schemas/forwarding-profile-pac-file'
            - $ref: '#/components/schemas/forwarding-profile-global-protect-proxy'
            - $ref: '#/components/schemas/forwarding-profile-ztna-agent'
      required:
        - name
    forwarding-profile-pac-file:
      type: object
      properties:
        pac_file:
          type: object
          properties:
            pac_upload:
              type: boolean
              default: false
              description: 'User upload PAC file'
            forwarding_rules:
              type: array
              items:
                $ref: '#/components/schemas/forwarding-rule-basic'
            block_rule:
              $ref: '#/components/schemas/block-rule-basic'
    forwarding-profile-global-protect-proxy:
      type: object
      properties:
        global_protect_proxy:
          type: object
          properties:
            pac_upload:
              type: boolean
              default: false
              description: 'User upload PAC file'
            forwarding_rules:
              type: array
              items:
                $ref: '#/components/schemas/forwarding-rule-basic'
            block_rule:
              $ref: '#/components/schemas/block-rule-basic'
    forwarding-profile-ztna-agent:
      type: object
      properties:
        ztna_agent:
          type: object
          properties:
            pac_upload:
              type: boolean
              default: false
              description: 'User upload PAC file'
            forwarding_rules:
              type: array
              items:
                $ref: '#/components/schemas/forwarding-rule-ztna'
            block_rule:
              $ref: '#/components/schemas/block-rule-ztna'
    forwarding-rule-basic:
      type: object
      properties:
        name:
          type: string
          maxLength: 64
          pattern: '^[0-9a-zA-Z._-]+$'
          description: 'alphanumeric string [ 0-9a-zA-Z._-]'
        enabled:
          type: boolean
          default: true
          description: 'Enable forwarding rule'
        user_locations:
          type: string
          maxLength: 64
          default: 'Any'
        destinations:
          type: string
          maxLength: 64
          default: 'Any'
        connectivity:
          type: string
          maxLength: 64
          default: 'direct'
      required:
        - name
    forwarding-rule-ztna:
      type: object
      properties:
        name:
          type: string
          maxLength: 64
          pattern: '^[0-9a-zA-Z._-]+$'
          description: 'alphanumeric string [ 0-9a-zA-Z._-]'
        traffic_type:
          type: string
          enum:
            - dns
            - dns-and-network-traffic
            - network-traffic
          default: dns
        enabled:
          type: boolean
          default: true
          description: 'Enable forwarding rule'
        user_locations:
          type: string
          maxLength: 64
          default: 'Any'
        source_applications:
          type: string
          default: 'Any'
        destinations:
          type: string
          maxLength: 64
          default: 'Any'
        connectivity:
          type: string
          maxLength: 64
          default: 'direct'
      required:
        - name
    block-rule-basic:
      type: object
      properties:
        enable:
          type: boolean
          description: 'Enable block rule'
        allow_tcp:
          type: object
          properties:
            enable_locations:
              type: boolean
              description: 'Enable locations for allow-tcp'
            locations:
              type: array
              items:
                type: string
                maxLength: 64
        allow_udp:
          type: object
          properties:
            enable_locations:
              type: boolean
              description: 'Enable locations for allow-udp'
            enable_destinations:
              type: boolean
              description: 'Enable destinations for allow-udp'
            locations:
              type: array
              items:
                type: string
                maxLength: 64
            destinations:
              type: string
              maxLength: 64
    block-rule-ztna:
      type: object
      properties:
        block_all_other_unmatched_outbound_connections:
          type: boolean
          default: false
          description: 'Block all other unmatched outbound connections'
        block_outbound_lan_access_when_connected_to_tunnel:
          type: boolean
          default: false
          description: 'Block outbound LAN access when connected to tunnel'
        block_inbound_access_when_connected_to_tunnel:
          type: boolean
          default: false
          description: 'Block inbound access when connected to tunnel'
        block_non_tcp_non_udp_based_traffic_when_connected_to_tunnel:
          type: boolean
          default: false
          description: 'Block Non-TCP Non UDP based traffic when connected to tunnel'
        allow_icmp_for_troubleshooting:
          type: boolean
          default: false
          description: 'Allow ICMP for troubleshooting'
        enforcer_fqdn_dns_resolution_via_dns_servers:
          type: boolean
          default: true
          description: 'Enforce FQDN DNS resolution via tunnel DNS servers'
        resolve_all_fqdns_using_dns_servers_assigned_by_the_tunnel:
          type: boolean
          default: true
          description: 'Resolve All FQDNs using DNS servers assigned by the tunnel (Windows Only)'
    destination:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: The UUID of the destination
        name:
          type: string
          maxLength: 64
          pattern: '^[0-9a-zA-Z._-]+$'
          description: 'alphanumeric string [ 0-9a-zA-Z._-]'
        description:
          type: string
          maxLength: 1023
        fqdn:
          type: array
          items:
            $ref: '#/components/schemas/destination-fqdn-entry'
        ip_addresses:
          type: array
          items:
            $ref: '#/components/schemas/destination-ip-entry'
      required:
        - name
    destination-fqdn-entry:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
          pattern: '^([\*a-zA-Z0-9._-])+\$?$'
          description: 'alphanumeric string [*0-9a-zA-Z._-] and at most one $ by the end'
        port:
          type: integer
          minimum: 1
          maximum: 65535
          description: 'Port number'
      required:
        - name
    destination-ip-entry:
      type: object
      properties:
        name:
          type: string
          pattern: '^(\*|25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(\*|25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(\*|25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(((\*|(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))|((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\/(3[0-2]|[1-2]?[0-9]))))$'
          description: 'IP address with wildcards and CIDR notation support'
        port:
          type: integer
          minimum: 1
          maximum: 65535
          description: 'Port number'
      required:
        - name
    source-application:
[...]
