openapi: 3.0.3
info:
  title: Best Practice Assessment (BPA) Config Upload API
  version: '1.0'
  description: "The Best Practice Assessment (BPA) Config Upload API provides a streamlined,\
    \ \nprogrammatic way for organizations to audit their security posture. \nBy integrating\
    \ this API into your workflow, you can automatically submit configuration files\
    \ from \nPalo Alto Networks Panorama or Next-Generation Firewalls (NGFW) and receive\
    \ a comprehensive assessment\nbased on industry-standard security benchmarks.\n\
    The service parses your configuration, identifies potential security gaps, and\n\
    returns a detailed JSON-formatted report. This allows your team to ingest data\
    \ directly \ninto custom dashboards, SIEMs, or other automations.\n\nKey Features\
    \ and Security\n\n    We understand that configuration files contain sensitive\
    \ architectural data. \n    This API is built with a security-first architecture\
    \ to ensure your data remains protected:\n    - Secure Transmission: All data\
    \ is encrypted in transit using industry-standard TLS protocols.\n    - Privacy\
    \ Control (Zero Persistence): The API includes an optional flag that instructs\
    \ the service \n      to delete the configuration file immediately after the report\
    \ is generated. \n      This ensures that none of your sensitive information is\
    \ stored in the cloud environment.\n    - Actionable JSON Output: Instead of static\
    \ PDFs, the API delivers structured data, \n      making it machine readable and\
    \ easily processed.\n\nWorkflow Overview\n\n  1. Export: Generate a configuration\
    \ file from your Panorama or NGFW.\n  2. Upload: Submit the file to the config\
    \ upload endpoint via a secure POST request.\n  3. Process: The engine analyzes\
    \ the configuration against hundreds of best-practice checks.\n  4. Retrieve:\
    \ Receive the results instantly in a structured JSON schema.\n  5. Purge: (Optional)\
    \ The service automatically deletes the source configuration file upon completion.\
    \ This Open API spec file was created on April 07, 2026. \xA9 2026 Palo Alto Networks,\
    \ Inc. Palo Alto Networks is a registered trademark of Palo Alto Networks. A list\
    \ of our trademarks can be found at [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html).\
    \ All other marks mentioned herein may be trademarks of their respective companies."
servers:
- url: https://api.strata.paloaltonetworks.com/config/deployment/v1
  description: Current
- url: https://api.sase.paloaltonetworks.com/sse/config/v1
  description: Legacy
components:
  schemas:
    Error:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: The error code representing a specific error condition.
                example: API_I00035
              message:
                type: string
                description: A brief description of the error condition.
                example: Invalid Request Payload
              details:
                type: array
                items:
                  type: string
                description: An explanation of the error condition.
                example:
                - 'Missing required header: x-tenant-id'
              help:
                type: string
                format: uri
                description: A URL link to documentation describing the error condition.
                example: https://docs.example.com/errors#API_I00035
        _request_id:
          type: string
          format: uuid
          description: The request ID for troubleshooting purposes.
          example: eb18eb0c-d5b7-43f3-9e38-38464ee11e2f
    PostureCheck:
      type: object
      required:
      - id
      - name
      - object_type
      - type
      - severity
      properties:
        id:
          type: string
          description: Unique identifier for the posture check.
          example: '1001'
        name:
          type: string
          description: Human-readable name of the posture check.
          example: Security Rule has logging enabled
        description:
          type: string
          description: Detailed description of what the check validates.
        rationale:
          type: string
          description: Explanation of why this check is important.
        object_type:
          type: string
          description: The configuration object type this check applies to.
          example: security_rule
        type:
          type: string
          enum:
          - custom
          - predefined
          description: Whether this is a custom or predefined check.
        severity:
          type: string
          enum:
          - Critical
          - High
          - Warning
          - Informational
          description: Severity level of the check.
        management_type:
          type: string
          enum:
          - cloud
          - panorama
          description: Management platform this check applies to.
        sub_type:
          type: string
          description: Sub-category of the check.
        action:
          type: string
          enum:
          - alert
          - failCommit
          description: Action to take when check fails.
        data:
          type: object
          additionalProperties: true
          description: Check rule definition/expression (custom checks only).
        fields_affected:
          type: array
          items:
            type: string
          description: List of config fields this check evaluates.
        recommendation:
          type: string
          description: Recommended action for this check.
        impact:
          type: string
          description: Impact description if the check fails.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the check was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the check was last updated.
    PostureCheckCreateRequest:
      type: object
      required:
      - name
      - object_type
      - data
      - severity
      properties:
        name:
          type: string
          description: Human-readable name of the posture check.
        description:
          type: string
        rationale:
          type: string
        object_type:
          type: string
          description: The configuration object type this check applies to.
        sub_type:
          type: string
          description: Sub-category of the check.
        severity:
          type: string
          enum:
          - Critical
          - High
          - Warning
          - Informational
        management_type:
          type: string
          enum:
          - cloud
          - panorama
          default: cloud
        action:
          type: string
          enum:
          - alert
          - failCommit
          default: alert
        data:
          type: object
          additionalProperties: true
          description: Check rule definition/expression.
        sub_feature:
          type: object
          additionalProperties: true
          description: Sub-feature configuration for rule-specific checks.
    PostureCheckUpdateRequest:
      type: object
      required:
      - name
      - object_type
      - data
      - severity
      properties:
        name:
          type: string
        description:
          type: string
        rationale:
          type: string
        object_type:
          type: string
        sub_type:
          type: string
        severity:
          type: string
          enum:
          - Critical
          - High
          - Warning
          - Informational
        management_type:
          type: string
          enum:
          - cloud
          - panorama
        action:
          type: string
          enum:
          - alert
          - failCommit
        data:
          type: object
          additionalProperties: true
        sub_feature:
          type: object
          additionalProperties: true
    PostureCheckCloneRequest:
      type: object
      properties:
        name:
          type: string
          description: Optional new name for the cloned check. Defaults to "{original_name}
            (Copy)".
          maxLength: 256
    PostureCheckBatchUpsertRequest:
      type: object
      required:
      - checks
      properties:
        checks:
          type: array
          items:
            $ref: '#/components/schemas/PostureCheckUpsertItem'
          minItems: 1
          maxItems: 100
          description: Array of posture checks to create or update.
    PostureCheckUpsertItem:
      type: object
      required:
      - name
      - object_type
      - data
      - severity
      properties:
        id:
          type: string
          description: If provided, the check will be updated. If omitted, a new check
            will be created.
        name:
          type: string
        description:
          type: string
        rationale:
          type: string
        object_type:
          type: string
        sub_type:
          type: string
        severity:
          type: string
          enum:
          - Critical
          - High
          - Warning
          - Informational
        management_type:
          type: string
          enum:
          - cloud
          - panorama
          default: cloud
        action:
          type: string
          enum:
          - alert
          - failCommit
          default: alert
        data:
          type: object
          additionalProperties: true
        fields_affected:
          type: array
          items:
            type: string
        sub_feature:
          type: object
          additionalProperties: true
    PostureCheckBatchUpsertResponse:
      type: object
      properties:
        created:
          type: array
          items:
            $ref: '#/components/schemas/PostureCheck'
          description: List of newly created posture checks.
        updated:
          type: array
          items:
            $ref: '#/components/schemas/PostureCheck'
          description: List of updated posture checks.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/BatchOperationError'
          description: List of errors for checks that failed to create/update.
    PostureCheckBatchDeleteRequest:
      type: object
      required:
      - ids
      properties:
        ids:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 100
          description: Array of posture check IDs to delete.
    PostureCheckBatchDeleteResponse:
      type: object
      properties:
        deleted:
          type: array
          items:
            type: string
          description: List of successfully deleted posture check IDs.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/BatchOperationError'
          description: List of errors for checks that failed to delete.
    BatchOperationError:
      type: object
      properties:
        id:
          type: string
          description: The ID or index of the item that failed.
        message:
          type: string
          description: Error message describing why the operation failed.
    PostureCheckListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PostureCheck'
        total:
          type: integer
          description: Total number of posture checks matching the query.
        limit:
          type: integer
          description: Maximum number of results returned.
        offset:
          type: integer
          description: Number of results skipped.
ExternalTags:
  Config File Upload:
    title: Config File Upload
    description: Config file upload for BPA result
    tags:
    - Config File Upload
paths:
  /posture/checks/v1/reports/config-file-upload:
    post:
      summary: Initiate a Configuration Upload
      description: Generates a tracking Identifier and a presigned GCS Uniform Resource
        Locator for file upload using device metadata.
      operationId: initiateConfigUpload
      responses:
        '201':
          description: Successfully initiated config upload.
          headers:
            Location:
              description: URI of the created task resource.
              schema:
                type: string
                format: uri
                example: /posture/checks/reports/config-file-upload/550e8400-e29b-41d4-a716-446655440000/bpa-result
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                    format: uuid
                    example: 550e8400-e29b-41d4-a716-446655440000
                  upload_url:
                    type: string
                    format: uri
                    description: Presigned GCS URL.
        '400':
          description: Bad request - missing required header or invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - maximum limit of 5 active jobs reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters: []
      tags:
      - Config File Upload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - delete_after_processing
              properties:
                delete_after_processing:
                  type: boolean
                  description: If true, the uploaded data will be deleted immediately
                    after processing completes.
                  default: false
                  example: false
  /posture/checks/v1/reports/{id}/bpa-result:
    get:
      summary: Get BPA Processing Status
      description: Returns the status (QUEUED, IN_PROGRESS, COMPLETED, FAILED) and
        final result.
      operationId: getBpaResult
      responses:
        '200':
          description: Status retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: string
                    enum:
                    - QUEUED
                    - IN_PROGRESS
                    - COMPLETED
                    - FAILED
                    example: IN_PROGRESS
                  message:
                    type: string
                    example: Analyzing security rules...
                  result:
                    type: object
                    description: Populated only when status is COMPLETED.
                    properties:
                      report_url:
                        type: string
                        format: uri
        '404':
          description: Task ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
        description: The task ID provided during initiation.
      tags:
      - Config File Upload
  /posture/checks/v1:
    get:
      summary: List Posture Checks
      description: Returns a paginated list of posture checks (both custom and predefined).
      operationId: listPostureChecks
      responses:
        '200':
          description: List of posture checks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostureCheckListResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - in: query
        name: type
        schema:
          type: string
          enum:
          - custom
          - predefined
        description: Filter by check type.
      - in: query
        name: object_type
        schema:
          type: string
        description: Filter by configuration object type (e.g., "security_rule", "address").
      - in: query
        name: severity
        schema:
          type: string
          enum:
          - Critical
          - High
          - Warning
          - Informational
        description: Filter by severity level.
      - in: query
        name: management_type
        schema:
          type: string
          enum:
          - cloud
          - panorama
        description: Filter by management platform.
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 100
        description: Maximum number of results to return.
      - in: query
        name: offset
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Number of results to skip for pagination.
      tags:
      - untagged
    post:
      summary: Create Posture Check
      description: Creates a new custom posture check. Requires SCM Pro license.
      operationId: createPostureCheck
      responses:
        '201':
          description: Posture check created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostureCheck'
        '400':
          description: Bad request - validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - SCM Pro license required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters: []
      tags:
      - untagged
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostureCheckCreateRequest'
  /posture/checks/v1/{id}:
    get:
      summary: Get Posture Check
      description: Returns a specific posture check by Identifier.
      operationId: getPostureCheck
      responses:
        '200':
          description: Posture check details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostureCheck'
        '404':
          description: Posture check not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: The posture check ID.
      tags:
      - untagged
    put:
      summary: Update Posture Check
      description: Updates an existing custom posture check. Requires SCM Pro license.
      operationId: updatePostureCheck
      responses:
        '200':
          description: Posture check updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostureCheck'
        '400':
          description: Bad request - validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - SCM Pro license required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Posture check not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: The posture check ID.
      tags:
      - untagged
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostureCheckUpdateRequest'
    delete:
      summary: Delete Posture Check
      description: Deletes a custom posture check. Requires SCM Pro license.
      operationId: deletePostureCheck
      responses:
        '204':
          description: Posture check deleted successfully.
        '403':
          description: Forbidden - SCM Pro license required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Posture check not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: The posture check ID.
      tags:
      - untagged
  /posture/checks/v1/{id}:clone:
    post:
      summary: Clone Posture Check
      description: Creates a copy of an existing posture check with a new Identifier.
        Requires SCM Pro license.
      operationId: clonePostureCheck
      responses:
        '201':
          description: Posture check cloned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostureCheck'
        '400':
          description: Bad request - validation error (e.g., duplicate name).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - SCM Pro license required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Posture check not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: The posture check ID to clone.
      tags:
      - untagged
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostureCheckCloneRequest'
  /posture/checks/v1/batch-upsert:
    post:
      summary: Batch Upsert Posture Checks
      description: Creates or updates multiple posture checks in a single call. Objects
        with an existing Identifier will be updated, new objects will be created.
        Requires SCM Pro license.
      operationId: batchUpsertPostureChecks
      responses:
        '200':
          description: Batch upsert completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostureCheckBatchUpsertResponse'
        '400':
          description: Bad request - validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - SCM Pro license required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters: []
      tags:
      - untagged
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostureCheckBatchUpsertRequest'
  /posture/checks/v1/batch-delete:
    post:
      summary: Batch Delete Posture Checks
      description: Deletes multiple posture checks in a single call. Requires SCM
        Pro license.
      operationId: batchDeletePostureChecks
      responses:
        '200':
          description: Batch delete completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostureCheckBatchDeleteResponse'
        '400':
          description: Bad request - validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - SCM Pro license required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters: []
      tags:
      - untagged
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostureCheckBatchDeleteRequest'
