openapi: 3.0.3
info:
  title: 'Posture Management and Assessment API: BPA, Custom Checks, and Compliance'
  version: '1.0'
  description: "The Posture Management and Assessment API suite provides a streamlined,\
    \ programmatic way for organizations to audit, manage, and enforce their security\
    \ posture. By integrating these APIs into your workflow, you can automate security\
    \ assessments, manage customized posture checks, and ensure continuous alignment\
    \ with industry-standard security benchmarks and your organization's unique requirements.\n\
    Best Practice Assessment (BPA) Config Upload API\nThe Best Practice Assessment\
    \ (BPA) Config Upload API enables automated submission of configuration files\
    \ from Palo Alto Networks Panorama or Next-Generation Firewalls (NGFW) to receive\
    \ a comprehensive assessment based on predefined, industry-standard security best\
    \ practices. The service parses your configuration, identifies potential security\
    \ gaps, and returns a detailed JSON-formatted report, allowing your team to ingest\
    \ data directly into custom dashboards, SIEMs, or other automations.\n\nKey Features\
    \ and Security\n\nWe understand that configuration files contain sensitive architectural\
    \ data. This API is built with a security-first architecture to ensure your data\
    \ remains protected\n\n  - Secure Transmission- All data is encrypted in transit\
    \ using industry-standard TLS protocols.\n  - Privacy Control (Zero Persistence)-\
    \ The API includes an optional flag that instructs the service to delete the configuration\
    \ file immediately after the report is generated. This ensures that none of your\
    \ sensitive information is stored in the cloud environment.\n  - Actionable JSON\
    \ Output- Instead of static PDFs, the API delivers structured data, making it\
    \ machine-readable and easily processed.\n\nBPA Workflow Overview\n\n  - Export-\
    \ Generate a configuration file from your Panorama or NGFW.\n  - Upload- Submit\
    \ the file to the config upload endpoint via a secure POST request.\n  - Process-\
    \ The engine analyzes the configuration against hundreds of pre-defined best-practice\
    \ checks.\n  - Retrieve- Receive the results instantly in a structured JSON schema.\n\
    \  - Purge- (Optional) The service automatically deletes the source configuration\
    \ file upon completion.\n  \nCustom Posture Check Management (Pro License Required)\n\
    \n  While the BPA Config Upload API validates against pre-defined best practices,\
    \ our Custom Posture Check endpoints give Pro-licensed users the ability to manage\
    \ and report on user-defined posture checks tailored to specific organizational\
    \ policies.\n\nThese endpoints provide full lifecycle management for Custom Posture\
    \ Checks\n\n  - List Checks- Retrieve all custom posture checks in your environment.\n\
    \  - Create Checks- Define new custom security posture rules.\n  - Retrieve (Get)\
    \ Checks- Fetch the details of a specific posture check by its ID.\n  - Update\
    \ Checks- Modify existing checks to adapt to evolving security policies.\n  -\
    \ Delete Checks- Remove outdated or unnecessary checks by ID.\n  - Clone Checks-\
    \ Quickly duplicate an existing check to use as a template for a new one.\n  -\
    \ Batch Upsert- Create or update multiple custom posture checks in a single API\
    \ call for efficient bulk management.\n  - Batch Delete- Remove multiple posture\
    \ checks simultaneously.\n\n**Note** These endpoints are strictly for the management\
    \ and reporting of Custom Posture Checks and require a Pro license.\n\n**Coming\
    \ Soon** Compliance Management and Reporting\n\n  We are continuously expanding\
    \ our API capabilities to help you maintain a robust security posture. Soon,\n\
    \  we will be introducing endpoints for Compliance Management and Reporting. This\
    \ upcoming feature set will \n  allow organizations to automatically map their\
    \ network security configurations and posture check results\n  directly against\
    \ major regulatory frameworks and compliance standards, streamlining audit preparations,\
    \ \n  continuous compliance tracking and evidence collection.\n  This Open API\
    \ spec file was created on April 10, 2026. \xA9 2026 Palo Alto Networks, Inc.\
    \ Palo Alto Networks \n  is a registered trademark of Palo Alto Networks. \n \
    \ A list of our trademarks can be found at https://www.paloaltonetworks.com/company/trademarks.html.\
    \ \n  All other marks mentioned herein may be trademarks of their respective companies.\
    \ This Open API spec file was created on May 18, 2026. \xA9 2026 Palo Alto Networks,\
    \ Inc. Palo Alto Networks is a registered trademark of Palo Alto Networks. A list\
    \ of our trademarks can be found at [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html).\
    \ All other marks mentioned herein may be trademarks of their respective companies."
servers:
- url: https://api.strata.paloaltonetworks.com
  description: Current
- url: https://api.sase.paloaltonetworks.com
  description: Legacy
components:
  schemas:
    Error:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: The error code representing a specific error condition.
                example: API_I00035
              message:
                type: string
                description: A brief description of the error condition.
                example: Invalid Request Payload
              details:
                type: array
                items:
                  type: string
                description: An explanation of the error condition.
                example:
                - 'Missing required header: x-tenant-id'
              help:
                type: string
                format: uri
                description: A URL link to documentation describing the error condition.
                example: https://docs.example.com/errors#API_I00035
        _request_id:
          type: string
          format: uuid
          description: The request ID for troubleshooting purposes.
          example: eb18eb0c-d5b7-43f3-9e38-38464ee11e2f
ExternalTags:
  Config File Upload:
    title: Config File Upload
    description: Config file upload for BPA result
    tags:
    - Config File Upload
paths:
  /posture/checks/v1/reports/config-file-upload:
    post:
      summary: Initiate a Configuration Upload
      description: Generates a tracking Identifier and a presigned GCS Uniform Resource
        Locator for file upload using device metadata.
      operationId: initiateConfigUpload
      responses:
        '201':
          description: Successfully initiated config upload.
          headers:
            Location:
              description: URI of the created task resource.
              schema:
                type: string
                format: uri
                example: /posture/checks/reports/config-file-upload/550e8400-e29b-41d4-a716-446655440000/bpa-result
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                    format: uuid
                    example: 550e8400-e29b-41d4-a716-446655440000
                  upload_url:
                    type: string
                    format: uri
                    description: Presigned GCS URL.
        '400':
          description: Bad request - missing required header or invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - maximum limit of 5 active jobs reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters: []
      tags:
      - Config File Upload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - delete_after_processing
              properties:
                delete_after_processing:
                  type: boolean
                  description: If true, the uploaded data will be deleted immediately
                    after processing completes.
                  default: false
                  example: false
  /posture/checks/v1/reports/{id}/bpa-result:
    get:
      summary: Get BPA Processing Status
      description: Returns the status (QUEUED, IN_PROGRESS, COMPLETED, FAILED) and
        final result.
      operationId: getBpaResult
      responses:
        '200':
          description: Status retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: string
                    enum:
                    - QUEUED
                    - IN_PROGRESS
                    - COMPLETED
                    - FAILED
                    example: IN_PROGRESS
                  message:
                    type: string
                    example: Analyzing security rules...
                  result:
                    type: object
                    description: Populated only when status is COMPLETED.
                    properties:
                      report_url:
                        type: string
                        format: uri
        '404':
          description: Task ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
        description: The task ID provided during initiation.
      tags:
      - Config File Upload
