openapi: 3.0.0
info:
  version: 1.0.0
  title: Logical Routers
  description: |
    APIs for managing Logical Routers within Strata Cloud Manager.
  termsOfService: 'https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf'
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: 'https://support.paloaltonetworks.com'
  license:
    name: MIT
    url: https://opensource.org/license/mit
servers:
  - url: 'https://api.strata.paloaltonetworks.com/config/network/v1'
    description: Current
  - url: 'https://api.sase.paloaltonetworks.com/sase/config/v1'
    description: Legacy
tags:
  - name: Logical Routers
    description: Logical Routers management
paths:

  /logical-routers:
    get:
      tags: [Logical Routers]
      summary: List logical routers
      description: Retrieve a list of logical routers.
      operationId: ListLogicalRouters
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/logical-routers'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags: [Logical Routers]
      summary: Create a logical router
      description: Create a new logical router.
      operationId: CreateLogicalRouters
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/logical-routers'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logical-routers'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags: [Logical Routers]
      summary: Update a logical router by name
      description: Update a logical router by folder/snippet/device + name query parameter.
      operationId: UpdateLogicalRoutersByName
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
        - $ref: '#/components/parameters/name-required'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/logical-routers'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logical-routers'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags: [Logical Routers]
      summary: Delete logical routers by name
      description: Delete one or more logical routers by name.
      operationId: DeleteLogicalRouters
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
        - $ref: '#/components/parameters/name-required'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteByNamesResponse'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'

  '/logical-routers:rename':
    put:
      tags: [Logical Routers]
      summary: Rename a logical router
      description: Rename an existing logical router.
      operationId: RenameLogicalRouters
      parameters:
        - $ref: '#/components/parameters/folder'
        - $ref: '#/components/parameters/snippet'
        - $ref: '#/components/parameters/device'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenamePayload'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'

  '/logical-routers/{id}':
    get:
      tags: [Logical Routers]
      summary: Get a logical router by UUID
      description: Retrieve an existing logical router by UUID.
      operationId: GetLogicalRoutersByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logical-routers'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags: [Logical Routers]
      summary: Update a logical router by UUID
      description: Update an existing logical router by UUID.
      operationId: UpdateLogicalRoutersByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/logical-routers'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logical-routers'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags: [Logical Routers]
      summary: Delete a logical router by UUID
      description: Delete an existing logical router by UUID.
      operationId: DeleteLogicalRoutersByID
      parameters:
        - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'

  '/logical-routers/{multi-clone}':
    post:
      tags: [Logical Routers]
      summary: Clone logical routers
      description: Clone one or more logical routers to a destination folder/snippet/device.
      operationId: MultiCloneLogicalRouters
      parameters:
        - name: multi-clone
          in: path
          required: true
          schema:
            type: string
            enum: [multi-clone]
          description: Must be the literal value "multi-clone".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiCloneRequestInput'
      responses:
        '201':
          description: Clone operation completed
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        default:
          $ref: '#/components/responses/default_errors'

components:
  parameters:
    name:
      name: name
      in: query
      description: Filter results by name
      required: false
      schema:
        type: string
    name-required:
      name: name
      in: query
      description: The name(s) of the profile(s) to delete (comma-separated for multiple)
      required: true
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: The maximum number of results per page
      required: false
      schema:
        type: integer
        default: 200
    offset:
      name: offset
      in: query
      description: The offset into the list of results returned
      required: false
      schema:
        type: integer
        default: 0
    folder:
      name: folder
      in: query
      description: The folder in which the resource is defined
      required: false
      schema:
        type: string
        example: All
    snippet:
      name: snippet
      in: query
      description: The snippet in which the resource is defined
      required: false
      schema:
        type: string
    device:
      name: device
      in: query
      description: The device in which the resource is defined
      required: false
      schema:
        type: string
    uuid:
      name: id
      in: path
      description: The UUID of the resource
      required: true
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426655440000

  securitySchemes:
    scmOAuth:
      type: oauth2
      description: |
        Strata Cloud Manager APIs authenticate client requests using the
        OAuth 2.0 Client Credentials flow. Please use the `client_id`,
        `client_secret` values associated with an IAM service account along
        with a scope value of `tsg_id:XXXXXXXXXX`, where XXXXXXXXXX is the
        Tenant Service Group (TSG) ID. The resulting JWT access token should
        be attached to all API calls as a `Bearer` token in the `Authorization`
        header (ex. `Authorization: Bearer tokenstring`).
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes:
            tsg_id: 'Your tenant service group (tsg_id:XXXXXXXXXX)'
    scmToken:
      type: http
      description: |
        Strata Cloud Manager APIs authenticate client requests using the
        OAuth 2.0 Client Credentials flow. Please use the `client_id`,
        `client_secret` values associated with an IAM service account along
        with a scope value of `tsg_id:XXXXXXXXXX`, where XXXXXXXXXX is the
        Tenant Service Group (TSG) ID. The resulting JWT access token should
        be attached to all API calls as a `Bearer` token in the `Authorization`
        header (ex. `Authorization: Bearer tokenstring`).
      scheme: bearer
      bearerFormat: JWT


  responses:
    http_ok:
      description: OK
    auth_errors:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
    access_errors:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
    bad_request_errors_basic:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    bad_request_errors_basic_with_body:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    not_found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    default_errors:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'


  schemas:
    MultiCloneRequestInput:
      type: object
      required:
        - source
        - destination
      properties:
        source:
          type: array
          items:
            type: object
            required:
              - name
            properties:
              folder:
                type: string
              snippet:
                type: string
              device:
                type: string
              name:
                type: string
              predefined:
                type: boolean
        destination:
          type: object
          properties:
            folder:
              type: string
            snippet:
              type: string
            device:
              type: string

    # ---- Virtual Router Payload -----------------------------------------------


    EmptyObj:
      type: object
      description: Presence object — its existence signals enablement

    DeleteByNamesResponse:
      type: object
      properties:
        succeeded_items:
          type: array
          items:
            type: string
        failed_items:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              error:
                type: string

    RenamePayload:
      type: object
      required:
        - name
        - new_name
      properties:
        name:
          type: string
          description: Current resource name
        new_name:
          type: string
          description: Desired new name

    # ---- RIP Auth Profile ----------------------------------------------------

    RipAuthPayload:
      type: object
      properties:
        name:
          type: string
        password:
          type: string
          description: Plain-text authentication password
        md5:
          type: array
          items:
            type: object
            properties:
              name:
                type: integer
                description: MD5 key ID
              key:
                type: string
                description: MD5 authentication key
              preferred:
                type: boolean
                nullable: true
                description: Whether this is the preferred key

    # ---- RIP Global Timer Profile --------------------------------------------

    RipGlobalTimerPayload:
      type: object
      properties:
        name:
          type: string
        update_intervals:
          type: integer
          nullable: true
          description: Update timer interval (seconds)
        expire_intervals:
          type: integer
          nullable: true
          description: Expire timer interval (seconds)
        delete_intervals:
          type: integer
          nullable: true
          description: Delete timer interval (seconds)

    # ---- RIP Redistribution Profile ------------------------------------------

    Protocol:
      type: object
      properties:
        enable:
          type: boolean
          nullable: true
        metric:
          type: integer
          nullable: true
        route_map:
          type: string
          description: Route-map profile name for filtering

    RipRedistributionPayload:
      type: object
      properties:
        name:
          type: string
        static:
          $ref: '#/components/schemas/Protocol'
        connected:
          $ref: '#/components/schemas/Protocol'
        bgp:
          $ref: '#/components/schemas/Protocol'
        ospf:
          $ref: '#/components/schemas/Protocol'

    # ---- Multicast MLD Interface Query Profile --------------------------------

    MulticastMldInterfaceQueryPayload:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          maxLength: 63
        immediate_leave:
          type: boolean
          description: Enable immediate leave for MLD groups
        last_member_query_interval:
          type: integer
          nullable: true
          description: Interval between last-member queries (ms)
        max_query_response_time:
          type: integer
          nullable: true
          description: Maximum query response time (ms)
        query_interval:
          type: integer
          nullable: true
          description: MLD query interval (seconds)

    # ---- Logical Router Payload (nested schemas) ------------------------------

    AdminDists:
      type: object
      properties:
        static:
          type: integer
          nullable: true
        static_ipv6:
          type: integer
          nullable: true
        ospf_inter:
          type: integer
          nullable: true
        ospf_intra:
          type: integer
          nullable: true
        ospf_ext:
          type: integer
          nullable: true
        ospfv3_inter:
          type: integer
          nullable: true
        ospfv3_intra:
          type: integer
          nullable: true
        ospfv3_ext:
          type: integer
          nullable: true
        bgp_internal:
          type: integer
          nullable: true
        bgp_external:
          type: integer
          nullable: true
        bgp_local:
          type: integer
          nullable: true
        rip:
          type: integer
          nullable: true

    VrAdminDists:
      type: object
      properties:
        static:
          type: integer
          nullable: true
        static_ipv6:
          type: integer
          nullable: true
        ospf_int:
          type: integer
          nullable: true
        ospf_ext:
          type: integer
          nullable: true
        ospfv3_int:
          type: integer
          nullable: true
        ospfv3_ext:
          type: integer
          nullable: true
        ibgp:
          type: integer
          nullable: true
        ebgp:
          type: integer
          nullable: true
        rip:
          type: integer
          nullable: true

    RouteMapAlgo:
      type: object
      properties:
        route_map:
          type: string

    IpRouteMap:
      type: object
      properties:
        static:
          $ref: '#/components/schemas/RouteMapAlgo'
        bgp:
          $ref: '#/components/schemas/RouteMapAlgo'
        ospf:
          $ref: '#/components/schemas/RouteMapAlgo'
        rip:
          $ref: '#/components/schemas/RouteMapAlgo'

    RibFilter:
      type: object
      properties:
        ipv4:
          $ref: '#/components/schemas/IpRouteMap'
        ipv6:
          $ref: '#/components/schemas/IpRouteMap'

    Bfd:
      type: object
      properties:
        profile:
          type: string

    BfdMultiHop:
      type: object
      properties:
        profile:
          type: string
        multihop:
          type: object
          properties:
            min_received_ttl:
              type: integer
              nullable: true

    Nexthop:
      type: object
      properties:
        receive:
          $ref: '#/components/schemas/EmptyObj'
        discard:
          $ref: '#/components/schemas/EmptyObj'
        ip_address:
          type: string
        ipv6_address:
          type: string
        fqdn:
          type: string
        next_lr:
          type: string
        next_vr:
          type: string
        tunnel:
          type: string

    RouteTable:
      type: object
      properties:
        unicast:
          $ref: '#/components/schemas/EmptyObj'
        multicast:
          $ref: '#/components/schemas/EmptyObj'
        both:
          $ref: '#/components/schemas/EmptyObj'
        no_install:
          $ref: '#/components/schemas/EmptyObj'

    PathMonitor:
      type: object
      properties:
        enable:
          type: boolean
          nullable: true
        failure_condition:
          type: string
        hold_time:
          type: integer
          nullable: true
        monitor_destinations:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              enable:
                type: boolean
                nullable: true
              source:
                type: string
              source_override:
                type: string
              destination:
                type: string
              destination_fqdn:
                type: string
              interval:
                type: integer
                nullable: true
              count:
                type: integer
                nullable: true

    StaticRoute:
      type: object
      properties:
        name:
          type: string
        destination:
          type: string
        interface:
          type: string
        nexthop:
          $ref: '#/components/schemas/Nexthop'
        admin_dist:
          type: integer
          nullable: true
        metric:
          type: integer
          nullable: true
        option:
          type: object
          properties:
            passive:
              $ref: '#/components/schemas/EmptyObj'
        route_table:
          $ref: '#/components/schemas/RouteTable'
        bfd:
          $ref: '#/components/schemas/Bfd'
        path_monitor:
          $ref: '#/components/schemas/PathMonitor'
        tag:
          type: integer
          nullable: true
        allow_loopback_src:
          type: boolean
          nullable: true

    RoutingTableVRF:
      type: object
      properties:
        ip:
          type: object
          properties:
            static_route:
              type: array
              items:
                $ref: '#/components/schemas/StaticRoute'
        ipv6:
          type: object
          properties:
            static_route:
              type: array
              items:
                $ref: '#/components/schemas/StaticRoute'

    # BGP sub-schemas

    Med:
      type: object
      properties:
        always_compare_med:
          type: boolean
          nullable: true
        deterministic_med_comparison:
          type: boolean
          nullable: true

    GracefulRestartBGP:
      type: object
      properties:
        enable:
          type: boolean
          nullable: true
        stale_route_time:
          type: integer
          nullable: true
        max_peer_restart_time:
          type: integer
          nullable: true
        local_restart_time:
          type: integer
          nullable: true

    AsPath:
      type: object
      properties:
        none:
          $ref: '#/components/schemas/EmptyObj'
        remove:
          $ref: '#/components/schemas/EmptyObj'
        prepend:
          type: integer
          nullable: true
        remove_and_prepend:
          type: integer
          nullable: true

    ExtendedCommunity:
      type: object
      properties:
        none:
          $ref: '#/components/schemas/EmptyObj'
        remove_all:
          $ref: '#/components/schemas/EmptyObj'
        remove_regex:
          type: string
        append:
          type: array
          items: {}
        overwrite:
          type: array
          items: {}

    Match:
      type: object
      properties:
        afi:
          type: string
        safi:
          type: string
        route_table:
          type: string
        address_prefix:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              exact:
                type: boolean
                nullable: true
        nexthop:
          type: array
          items: {}
        from_peer:
          type: array
          items: {}
        med:
          type: integer
          nullable: true
        as_path:
          type: object
          properties:
            regex:
              type: string
        community:
          type: object
          properties:
            regex:
              type: string
        extended_community:
          type: object
          properties:
            regex:
              type: string

    UpdateWithWeight:
      type: object
      properties:
        local_preference:
          type: integer
          nullable: true
        med:
          type: integer
          nullable: true
        weight:
          type: integer
          nullable: true
        nexthop:
          type: string
        origin:
          type: string
        as_path_limit:
          type: integer
          nullable: true
        as_path:
          $ref: '#/components/schemas/AsPath'
        community:
          $ref: '#/components/schemas/ExtendedCommunity'
        extended_community:
          $ref: '#/components/schemas/ExtendedCommunity'

    Bgp:
      type: object
      properties:
        enable:
          type: boolean
          nullable: true
        router_id:
          type: string
        local_as:
          type: string
        confederation_member_as:
          type: string
        install_route:
          type: boolean
          nullable: true
        enforce_first_as:
          type: boolean
          nullable: true
        fast_external_failover:
          type: boolean
          nullable: true
        ecmp_multi_as:
          type: boolean
          nullable: true
        default_local_preference:
          type: integer
          nullable: true
        graceful_shutdown:
          type: boolean
          nullable: true
        always_advertise_network_route:
          type: boolean
          nullable: true
        reject_default_route:
          type: boolean
          nullable: true
        allow_redist_default_route:
          type: boolean
          nullable: true
        as_format:
          type: string
        med:
          $ref: '#/components/schemas/Med'
        aggregate:
          type: object
          properties:
            aggregate_med:
              type: boolean
              nullable: true
        graceful_restart:
          $ref: '#/components/schemas/GracefulRestartBGP'
        global_bfd:
          $ref: '#/components/schemas/Bfd'
        peer_group:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              enable:
                type: boolean
                nullable: true
              aggregated_confed_as_path:
                type: boolean
                nullable: true
              soft_reset_with_stored_info:
                type: boolean
                nullable: true
              type:
                type: object
                description: BGP peer type (ibgp, ebgp, ibgp_confed, ebgp_confed)
                properties:
                  ibgp:
                    type: object
                    properties:
                      import_nexthop:
                        type: string
                      export_nexthop:
                        type: string
                      remove_private_as:
                        type: boolean
                        nullable: true
                  ebgp:
                    type: object
                    properties:
                      import_nexthop:
                        type: string
                      export_nexthop:
                        type: string
                      remove_private_as:
                        type: boolean
                        nullable: true
                  ibgp_confed:
                    type: object
                    properties:
                      import_nexthop:
                        type: string
                      export_nexthop:
                        type: string
                  ebgp_confed:
                    type: object
                    properties:
                      import_nexthop:
                        type: string
                      export_nexthop:
                        type: string
              address_family:
                type: object
                properties:
                  ipv4:
                    type: string
                  ipv6:
                    type: string
              filtering_profile:
                type: object
                properties:
                  ipv4:
                    type: string
                  ipv6:
                    type: string
              connection_options:
                type: object
                properties:
                  timers:
                    type: string
                  multihop:
                    type: integer
                    nullable: true
                  authentication:
                    type: string
                  dampening:
                    type: string
                  local_as:
                    type: string
                  mode:
                    type: string
              peer:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    enable:
                      type: boolean
                      nullable: true
                    passive:
                      type: boolean
                      nullable: true
                    peer_as:
                      type: string
                    peering_type:
                      type: string
                    reflector_client:
                      type: string
                    subsequent_address_family_identifier:
                      type: object
                      properties:
                        unicast:
                          type: boolean
                          nullable: true
                        multicast:
                          type: boolean
                          nullable: true
                    enable_sender_side_loop_detection:
                      type: boolean
                      nullable: true
                    enable_mp_bgp:
                      type: boolean
                      nullable: true
                    inherit:
                      type: object
                      properties:
                        yes:
                          $ref: '#/components/schemas/EmptyObj'
                        no:
                          type: object
                          properties:
                            address_family:
                              type: object
                              properties:
                                ipv4:
                                  type: string
                                ipv6:
                                  type: string
                            filtering_profile:
                              type: object
                              properties:
                                ipv4:
                                  type: string
                                ipv6:
                                  type: string
                    local_address:
                      type: object
                      properties:
                        interface:
                          type: string
                        ip:
                          type: string
                    peer_address:
                      type: object
                      properties:
                        ip:
                          type: string
                        fqdn:
                          type: string
                    max_prefixes:
                      type: string
                    connection_options:
                      type: object
                      properties:
                        keep_alive_interval:
                          type: integer
                          nullable: true
                        hold_time:
                          type: integer
                          nullable: true
                        idle_hold_time:
                          type: integer
                          nullable: true
                        min_route_adv_interval:
                          type: integer
                          nullable: true
                        multihop:
                          type: string
                        open_delay_time:
                          type: integer
                          nullable: true
                        incoming_bgp_connection:
                          type: object
                          properties:
                            remote_port:
                              type: integer
                              nullable: true
                            allow:
                              type: boolean
                              nullable: true
                        outgoing_bgp_connection:
                          type: object
                          properties:
                            local_port:
                              type: integer
                              nullable: true
                            allow:
                              type: boolean
                              nullable: true
                        max_prefixes:
                          type: string
                        timers:
                          type: string
                        authentication:
                          type: string
                        dampening:
                          type: string
                        local_as:
                          type: string
                        mode:
                          type: string
                    bfd:
                      $ref: '#/components/schemas/BfdMultiHop'
        aggregate_routes:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              enable:
                type: boolean
                nullable: true
              summary_only:
                type: boolean
                nullable: true
              as_set:
                type: boolean
                nullable: true
              same_med:
                type: boolean
                nullable: true
              type:
                type: object
                properties:
                  ipv4:
                    type: object
                    properties:
                      summary_prefix:
                        type: string
                      suppress_map:
                        type: string
                      attribute_map:
                        type: string
                  ipv6:
                    type: object
                    properties:
                      summary_prefix:
                        type: string
                      suppress_map:
                        type: string
                      attribute_map:
                        type: string
        redistribution_profile:
          type: object
          properties:
            ipv4:
              type: object
              properties:
                unicast:
                  type: string
            ipv6:
              type: object
              properties:
                unicast:
                  type: string
        advertise_network:
          type: object
          properties:
            ipv4:
              type: object
              properties:
                network:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      unicast:
                        type: boolean
                        nullable: true
                      multicast:
                        type: boolean
                        nullable: true
                      backdoor:
                        type: boolean
                        nullable: true
            ipv6:
              type: object
              properties:
                network:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      unicast:
                        type: boolean
                        nullable: true
                      multicast:
                        type: boolean
                        nullable: true
                      backdoor:
                        type: boolean
                        nullable: true
        policy:
          type: object
          properties:
            import:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      enable:
                        type: boolean
                        nullable: true
                      used_by:
                        type: array
                        items: {}
                      match:
                        $ref: '#/components/schemas/Match'
                      action:
                        type: object
                        properties:
                          deny:
                            $ref: '#/components/schemas/EmptyObj'
                          allow:
                            type: object
                            properties:
                              dampening:
                                type: string
                              update:
                                $ref: '#/components/schemas/UpdateWithWeight'
            export:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      enable:
                        type: boolean
                        nullable: true
                      used_by:
                        type: array
                        items: {}
                      match:
                        $ref: '#/components/schemas/Match'
                      action:
                        type: object
                        properties:
                          deny:
                            $ref: '#/components/schemas/EmptyObj'
                          allow:
                            type: object
                            properties:
                              update:
                                type: object
                                properties:
                                  local_preference:
                                    type: integer
                                    nullable: true
                                  med:
                                    type: integer
                                    nullable: true
                                  nexthop:
                                    type: string
                                  origin:
                                    type: string
                                  as_path_limit:
                                    type: integer
                                    nullable: true
                                  as_path:
                                    $ref: '#/components/schemas/AsPath'
                                  community:
                                    $ref: '#/components/schemas/ExtendedCommunity'
                                  extended_community:
                                    $ref: '#/components/schemas/ExtendedCommunity'
            conditional_advertisement:
              type: object
              properties:
                policy:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      enable:
                        type: boolean
                        nullable: true
                      used_by:
                        type: array
                        items: {}
                      non_exist_filters:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            enable:
                              type: boolean
                              nullable: true
                            match:
                              $ref: '#/components/schemas/Match'
                      advertise_filters:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            enable:
                              type: boolean
                              nullable: true
                            match:
                              $ref: '#/components/schemas/Match'
            aggregation:
              type: object
              properties:
                address:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      prefix:
                        type: string
                      enable:
                        type: boolean
                        nullable: true
                      summary:
                        type: boolean
                        nullable: true
                      as_set:
                        type: boolean
                        nullable: true
                      aggregate_route_attributes:
                        $ref: '#/components/schemas/UpdateWithWeight'
                      suppress_filters:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            enable:
                              type: boolean
                              nullable: true
                            match:
                              $ref: '#/components/schemas/Match'
                      advertise_filters:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            enable:
                              type: boolean
                              nullable: true
                            match:
                              $ref: '#/components/schemas/Match'
        redist_rules:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              address_family_identifier:
                type: string
              route_table:
                type: string
              enable:
                type: boolean
                nullable: true
              set_origin:
                type: string
              set_med:
                type: integer
                nullable: true
              set_local_preference:
                type: integer
                nullable: true
              set_as_path_limit:
                type: integer
                nullable: true
              set_community:
                type: array
                items: {}
              set_extended_community:
                type: array
                items: {}
              metric:
                type: integer
                nullable: true

    GracefulRestart:
      type: object
      properties:
        enable:
          type: boolean
          nullable: true
        grace_period:
          type: integer
          nullable: true
        helper_enable:
          type: boolean
          nullable: true
        strict_LSA_checking:
          type: boolean
          nullable: true
        max_neighbor_restart_time:
          type: integer
          nullable: true

    Ospf:
      type: object
      properties:
        router_id:
          type: string
        enable:
          type: boolean
          nullable: true
        rfc1583:
          type: boolean
          nullable: true
        reject_default_route:
          type: boolean
          nullable: true
        allow_redist_default_route:
          type: boolean
          nullable: true
        flood_prevention:
          type: object
          properties:
            hello:
              type: object
              properties:
                enable:
                  type: boolean
                  nullable: true
                max_packet:
                  type: integer
                  nullable: true
            lsa:
              type: object
              properties:
                enable:
                  type: boolean
                  nullable: true
                max_packet:
                  type: integer
                  nullable: true
        spf_timer:
          type: string
        global_if_timer:
          type: string
        vr_timers:
          type: object
          properties:
            spf_calculation_delay:
              type: integer
              nullable: true
            lsa_interval:
              type: integer
              nullable: true
        global_bfd:
          $ref: '#/components/schemas/Bfd'
        auth_profile:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              password:
                type: string
              md5:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: integer
                      nullable: true
                    key:
                      type: string
                    preferred:
                      type: boolean
                      nullable: true
        redistribution_profile:
          type: string
        area:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              authentication:
                type: string
              type:
                type: object
                properties:
                  normal:
                    type: object
                    properties:
                      abr:
                        type: object
                        properties:
                          import_list:
                            type: string
                          export_list:
                            type: string
                          inbound_filter_list:
                            type: string
                          outbound_filter_list:
                            type: string
                  stub:
                    type: object
                    properties:
                      no_summary:
                        type: boolean
                        nullable: true
                      accept_summary:
                        type: boolean
                        nullable: true
                      default_route_metric:
                        type: integer
                        nullable: true
                      default_route:
                        type: object
                        properties:
                          disable:
                            $ref: '#/components/schemas/EmptyObj'
                          advertise:
                            type: object
                            properties:
                              metric:
                                type: integer
                                nullable: true
                              type:
                                type: string
                      abr:
                        type: object
                        properties:
                          import_list:
                            type: string
                          export_list:
                            type: string
                          inbound_filter_list:
                            type: string
                          outbound_filter_list:
                            type: string
                  nssa:
                    type: object
                    properties:
                      no_summary:
                        type: boolean
                        nullable: true
                      accept_summary:
                        type: boolean
                        nullable: true
                      default_information_originate:
                        type: object
                        properties:
                          metric:
                            type: integer
                            nullable: true
                          metric_type:
                            type: string
                      nssa_ext_range:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            advertise:
                              $ref: '#/components/schemas/EmptyObj'
                            suppress:
                              $ref: '#/components/schemas/EmptyObj'
                      abr:
                        type: object
                        properties:
                          import_list:
                            type: string
                          export_list:
                            type: string
                          inbound_filter_list:
                            type: string
                          outbound_filter_list:
                            type: string
              range:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    substitute:
                      type: string
                    advertise:
                      type: boolean
                      nullable: true
              vr_range:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    advertise:
                      $ref: '#/components/schemas/EmptyObj'
                    suppress:
                      $ref: '#/components/schemas/EmptyObj'
              interface:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    enable:
                      type: boolean
                      nullable: true
                    mtu_ignore:
                      type: boolean
                      nullable: true
                    passive:
                      type: boolean
                      nullable: true
                    priority:
                      type: integer
                      nullable: true
                    link_type:
                      type: object
                      properties:
                        broadcast:
                          $ref: '#/components/schemas/EmptyObj'
                        p2p:
                          $ref: '#/components/schemas/EmptyObj'
                        p2mp:
                          type: object
                          properties:
                            neighbor:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  priority:
                                    type: integer
                                    nullable: true
                    metric:
                      type: integer
                      nullable: true
                    authentication:
                      type: string
                    bfd:
                      $ref: '#/components/schemas/Bfd'
                    timing:
                      type: string
                    vr_timing:
                      type: object
                      properties:
                        hello_interval:
                          type: integer
                          nullable: true
                        dead_counts:
                          type: integer
                          nullable: true
                        retransmit_interval:
                          type: integer
                          nullable: true
                        transit_delay:
                          type: integer
                          nullable: true
                        gr_delay:
                          type: integer
                          nullable: true
              virtual_link:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    neighbor_id:
                      type: string
                    transit_area_id:
                      type: string
                    enable:
                      type: boolean
                      nullable: true
                    instance_id:
                      type: integer
                      nullable: true
                    timing:
                      type: string
                    vr_timing:
                      type: object
                      properties:
                        hello_interval:
                          type: integer
                          nullable: true
                        dead_counts:
                          type: integer
                          nullable: true
                        retransmit_interval:
                          type: integer
                          nullable: true
                        transit_delay:
                          type: integer
                          nullable: true
                    authentication:
                      type: string
                    bfd:
                      $ref: '#/components/schemas/Bfd'
        export_rules:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              new_path_type:
                type: string
              new_tag:
                type: string
              metric:
                type: integer
                nullable: true
        graceful_restart:
          $ref: '#/components/schemas/GracefulRestart'

    Ospfv3:
      type: object
      description: OSPFv3 configuration (structure mirrors OSPF; see Ospf schema)
      properties:
        enable:
          type: boolean
          nullable: true
        reject_default_route:
          type: boolean
          nullable: true
        allow_redist_default_route:
          type: boolean
          nullable: true
        router_id:
          type: string
        global_bfd:
          $ref: '#/components/schemas/Bfd'
        disable_transit_traffic:
          type: boolean
          nullable: true
        vr_timers:
          type: object
          properties:
            spf_calculation_delay:
              type: integer
              nullable: true
            lsa_interval:
              type: integer
              nullable: true
        auth_profile:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              spi:
                type: string
              esp:
                type: object
                properties:
                  authentication:
                    type: object
                    description: Authentication algorithm selection
                    properties:
                      sha1:
                        type: object
                        properties:
                          key:
                            type: string
                      sha256:
                        type: object
                        properties:
                          key:
                            type: string
                      sha384:
                        type: object
                        properties:
                          key:
                            type: string
                      sha512:
                        type: object
                        properties:
                          key:
                            type: string
                      md5:
                        type: object
                        properties:
                          key:
                            type: string
                      none:
                        $ref: '#/components/schemas/EmptyObj'
                  encryption:
                    type: object
                    properties:
                      algorithm:
                        type: string
                      key:
                        type: string
              ah:
                type: object
                description: AH authentication (same algorithm options as ESP authentication)
                additionalProperties: true
        spf_timer:
          type: string
        global_if_timer:
          type: string
        redistribution_profile:
          type: string
        area:
          type: array
          items:
            type: object
            description: OSPFv3 area configuration (same structure as OSPF area)
            additionalProperties: true
        export_rules:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              new_path_type:
                type: string
              new_tag:
                type: string
              metric:
                type: integer
                nullable: true
        graceful_restart:
          $ref: '#/components/schemas/GracefulRestart'

    Ecmp:
      type: object
      properties:
        enable:
          type: boolean
          nullable: true
        max_path:
          type: integer
          nullable: true
        symmetric_return:
          type: boolean
          nullable: true
        strict_source_path:
          type: boolean
          nullable: true
        algorithm:
          type: object
          properties:
            ip_modulo:
              $ref: '#/components/schemas/EmptyObj'
            ip_hash:
              type: object
              properties:
                src_only:
                  type: boolean
                  nullable: true
                use_port:
                  type: boolean
                  nullable: true
                hash_seed:
                  type: integer
                  nullable: true
            weighted_round_robin:
              type: object
              properties:
                interface:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      weight:
                        type: integer
                        nullable: true
            balanced_round_robin:
              $ref: '#/components/schemas/EmptyObj'

    Rip:
      type: object
      properties:
        enable:
          type: boolean
          nullable: true
        default_information_originate:
          type: boolean
          nullable: true
        global_timer:
          type: string
          description: Reference to a rip-global-timer-profile name
        auth_profile:
          type: string
          description: Reference to a rip-auth-profile name
        redistribution_profile:
          type: string
          description: Reference to a rip-redistribution-profile name
        global_bfd:
          $ref: '#/components/schemas/Bfd'
        global_inbound_distribute_list:
          type: object
          properties:
            access_list:
              type: string
        global_outbound_distribute_list:
          type: object
          properties:
            access_list:
              type: string
        interface:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              enable:
                type: boolean
                nullable: true
              mode:
                type: string
              split_horizon:
                type: string
              authentication:
                type: string
              bfd:
                $ref: '#/components/schemas/Bfd'
              interface_inbound_distribute_list:
                type: object
                properties:
                  access_list:
                    type: string
                  metric:
                    type: integer
                    nullable: true
              interface_outbound_distribute_list:
                type: object
                properties:
                  access_list:
                    type: string
                  metric:
                    type: integer
                    nullable: true

    Multicast:
      type: object
      properties:
        enable:
          type: boolean
          nullable: true
        enable_v6:
          type: boolean
          nullable: true
        mode:
          type: string
        route_ageout_time:
          type: integer
          nullable: true
        static_route:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              destination:
                type: string
              interface:
                type: string
              nexthop:
                type: object
                properties:
                  ip_address:
                    type: string
              preference:
                type: integer
                nullable: true
        static_route6:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              destination:
                type: string
              interface:
                type: string
              nexthop:
                type: object
                properties:
                  ip_address:
                    type: string
              preference:
                type: integer
                nullable: true
        pim:
          type: object
          description: PIM (IPv4) configuration
          properties:
            enable:
              type: boolean
              nullable: true
            rpf_lookup_mode:
              type: string
            route_ageout_time:
              type: integer
              nullable: true
            if_timer_global:
              type: string
            group_permission:
              type: string
            ssm_address_space:
              type: object
              properties:
                group_list:
                  type: string
            spt_threshold:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  threshold:
                    type: string
            interface:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  dr_priority:
                    type: integer
                    nullable: true
                  send_bsm:
                    type: boolean
                    nullable: true
                  if_timer:
                    type: string
                  neighbor_filter:
                    type: string
            rp:
              type: object
              properties:
                local_rp:
                  type: object
                  properties:
                    static_rp:
                      type: object
                      properties:
                        interface:
                          type: string
                        address:
                          type: string
                        override:
                          type: boolean
                          nullable: true
                        group_list:
                          type: string
                    candidate_rp:
                      type: object
                      properties:
                        interface:
                          type: string
                        address:
                          type: string
                        priority:
                          type: integer
                          nullable: true
                        advertisement_interval:
                          type: integer
                          nullable: true
                        group_list:
                          type: string
                external_rp:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      group_list:
                        type: string
                      override:
                        type: boolean
                        nullable: true
        pim6:
          type: object
          description: PIMv6 configuration
          properties:
            enable:
              type: boolean
              nullable: true
            enable_embedded_rp:
              type: boolean
              nullable: true
            rpf_lookup_mode:
              type: string
            if_timer_global:
              type: string
            group_permission:
              type: string
            route6_ageout_time:
              type: integer
              nullable: true
            ssm_address_space:
              type: object
              properties:
                group_list:
                  type: string
            spt_threshold:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  threshold:
                    type: string
            interface:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  dr_priority:
                    type: integer
                    nullable: true
                  send_bsm:
                    type: boolean
                    nullable: true
                  if_timer:
                    type: string
                  neighbor_filter:
                    type: string
            rp:
              type: object
              description: Same structure as PIM rp
              additionalProperties: true
        igmp:
          type: object
          properties:
            enable:
              type: boolean
              nullable: true
            dynamic:
              type: object
              properties:
                interface:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      version:
                        type: string
                      robustness:
                        type: string
                      group_filter:
                        type: string
                      max_groups:
                        type: string
                      max_sources:
                        type: string
                      query_profile:
                        type: string
                      router_alert_policing:
                        type: boolean
                        nullable: true
            static:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  interface:
                    type: string
                  group_address:
                    type: string
                  source_address:
                    type: string
        mld:
          type: object
          properties:
            enable:
              type: boolean
              nullable: true
            dynamic:
              type: object
              properties:
                interface:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      version:
                        type: string
                      robustness:
                        type: string
                      group_filter:
                        type: string
                      max_groups:
                        type: string
                      max_sources:
                        type: string
                      query_profile:
                        type: string
                      router_alert_policing:
                        type: boolean
                        nullable: true
            static:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  interface:
                    type: string
                  group_address:
                    type: string
                  source_address:
                    type: string
        msdp:
          type: object
          properties:
            enable:
              type: boolean
              nullable: true
            global_timer:
              type: string
            global_authentication:
              type: string
            originator_id:
              type: object
              properties:
                interface:
                  type: string
                ip:
                  type: string
            peer:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  enable:
                    type: boolean
                    nullable: true
                  local_address:
                    type: object
                    properties:
                      interface:
                        type: string
                      ip:
                        type: string
                  peer_as:
                    type: string
                  peer_address:
                    type: object
                    properties:
                      ip:
                        type: string
                      fqdn:
                        type: string
                  authentication:
                    type: string
                  max_sa:
                    type: integer
                    nullable: true
                  inbound_sa_filter:
                    type: string
                  outbound_sa_filter:
                    type: string
        interface_group:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              interface:
                type: array
                items: {}
              group_permission:
                type: object
                properties:
                  any_source_multicast:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        group_address:
                          type: string
                        included:
                          type: boolean
                          nullable: true
                  source_specific_multicast:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        group_address:
                          type: string
                        source_address:
                          type: string
                        included:
                          type: boolean
                          nullable: true
              igmp:
                type: object
                properties:
                  enable:
                    type: boolean
                    nullable: true
                  version:
                    type: string
                  mode:
                    type: string
                  max_query_response_time:
                    type: integer
                    nullable: true
                  query_interval:
                    type: integer
                    nullable: true
                  last_member_query_interval:
                    type: integer
                    nullable: true
                  immediate_leave:
                    type: boolean
                    nullable: true
                  robustness:
                    type: string
                  max_groups:
                    type: string
                  max_sources:
                    type: string
                  router_alert_policing:
                    type: boolean
                    nullable: true
              pim:
                type: object
                properties:
                  enable:
                    type: boolean
                    nullable: true
                  assert_interval:
                    type: integer
                    nullable: true
                  hello_interval:
                    type: integer
                    nullable: true
                  join_prune_interval:
                    type: integer
                    nullable: true
                  dr_priority:
                    type: integer
                    nullable: true
                  bsr_border:
                    type: boolean
                    nullable: true
                  allowed_neighbors:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
        ssm_address_space:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              group_address:
                type: string
              included:
                type: boolean
                nullable: true
        spt_threshold:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              threshold:
                type: string
        rp:
          type: object
          description: Global RP configuration
          properties:
            local_rp:
              type: object
              properties:
                static_rp:
                  type: object
                  properties:
                    interface:
                      type: string
                    address:
                      type: string
                    override:
                      type: boolean
                      nullable: true
                    group_addresses:
                      type: array
                      items: {}
                candidate_rp:
                  type: object
                  properties:
                    interface:
                      type: string
                    address:
                      type: string
                    priority:
                      type: integer
                      nullable: true
                    advertisement_interval:
                      type: integer
                      nullable: true
                    group_addresses:
                      type: array
                      items: {}
            external_rp:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  group_addresses:
                    type: array
                    items: {}
                  override:
                    type: boolean
                    nullable: true

    DestinationIpGroup:
      type: object
      properties:
        name:
          type: string
        destination_ip:
          type: array
          items:
            type: string
        enabled:
          type: boolean
          nullable: true
        failure_condition:
          type: string

    logical-routers:
      type: object
      properties:
        snippet_location:
          type: string
        override:
          type: boolean
          nullable: true
        name:
          type: string
          maxLength: 63
          pattern: '^[a-zA-Z\\d\\-\\_\\. ]+$'
        vrf:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              interface:
                type: array
                items: {}
              global_vrid:
                type: integer
                nullable: true
              zone_name:
                type: string
              sdwan_type:
                type: string
              failure_condition:
                type: string
              ping_count:
                type: integer
                nullable: true
              ping_interval:
                type: integer
                nullable: true
              admin_dists:
                $ref: '#/components/schemas/AdminDists'
              vr_admin_dists:
                $ref: '#/components/schemas/VrAdminDists'
              rib_filter:
                $ref: '#/components/schemas/RibFilter'
              bgp:
                $ref: '#/components/schemas/Bgp'
              routing_table:
                $ref: '#/components/schemas/RoutingTableVRF'
              ospf:
                $ref: '#/components/schemas/Ospf'
              ospfv3:
                $ref: '#/components/schemas/Ospfv3'
              ecmp:
                $ref: '#/components/schemas/Ecmp'
              multicast:
                $ref: '#/components/schemas/Multicast'
              rip:
                $ref: '#/components/schemas/Rip'
              destination_ip_group:
                type: array
                items:
                  $ref: '#/components/schemas/DestinationIpGroup'


    generic_error:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
              details:
                type: object
        _request_id:
          type: string


  examples:
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
          - code: E016
            message: Not Authenticated
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
          - code: E016
            message: Invalid Credential
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
          - code: E007
            message: Unauthorized
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
          - code: E012
            message: Version Not Supported
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
          - code: E012
            message: Method Not Supported
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
          - code: E003
            message: 'Input Format Mismatch: input-format=json'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
          - code: E003
            message: 'Missing Query Parameter: folder'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
          - code: E003
            message: 'Invalid Query Parameter: location=invalid'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
          - code: E003
            message: Missing Body
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
          - code: E012
            message: 'Action Not Supported: move'
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
          - code: E013
            message: Bad XPath
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
          - code: E005
            message: Object Not Present
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
          - code: E016
            message: Object Not Unique
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
          - code: E006
            message: Name Not Unique
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
          - code: E009
            message: Reference Not Zero
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
          - code: E003
            message: Invalid Object
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
          - code: E003
            message: Invalid Command
            details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000


security:
  - scmOAuth: []
  - scmToken: []
