.swfw-container {
  p {
    color: #727274;
  }
}

.swfw-tabs-container {
  justify-content: center;

  .tabs__item {
    width: 125px;
    margin: 0 1.5rem;
    background-color: white;
    border: 2px solid var(--ifm-color-gray-200);
    border-radius: 1.5rem;
    transition: 300ms;

    &:not(.tabs__item--active) {
      opacity: 0.65;
    }

    &:hover {
      opacity: 1;
    }

    &--active {
      background-color: white !important;
      border-radius: 1.5rem;
      border: 2px solid;
    }
  }
}

.swfw-tabs__item-aws {
  &::after {
    content: "";
    margin: 0 auto;
    width: 60px;
    height: 35px;
    background: url("/static/product-logos/aws-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-block: auto;
  }

  &.tabs__item--active {
    border-color: #f68d12;
  }
}

.swfw-tabs__item-azure {
  &::after {
    content: "";
    margin: 0 auto;
    width: 40px;
    height: 30px;
    background: url("/static/product-logos/azure-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-block: auto;
  }

  &.tabs__item--active {
    border-color: #0372c6;
  }
}

.swfw-tabs__item-gcp {
  &::after {
    content: "";
    margin: 0 auto;
    width: 40px;
    height: 30px;
    background: url("/static/product-logos/gcp-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-block: auto;
  }

  &.tabs__item--active {
    border-color: #34a853;
  }
}

.swfw-cards-section {
  margin: 5rem 1rem;
}

.swfw-card-section-header {
  margin-bottom: 2.5rem;
}

.swfw-cards-container {
  display: flex;
  justify-content: center;
  grid-gap: 30px;
}

.swfw-info-card-container {
  width: 275px;
  height: 285px;
  background-color: white;
  box-shadow: 0 2px 3px hsla(222deg, 8%, 43%, 0.1),
    0 8px 16px -10px hsla(222deg, 8%, 43%, 0.2);
  border-radius: 2rem;
  padding: 2rem;
  transition: 300ms;

  &:hover {
    box-shadow: 0 0 0 2px rgba(38, 53, 61, 0.15),
      0 2px 3px hsla(222, 8%, 43%, 0.15),
      0 16px 16px -10px hsla(222, 8%, 43%, 0.2);
  }
}

.swfw-container {
  text-align: center;
}

.card-title__latest-tag {
  font-size: 1rem;
  color: var(--ifm-color-main);
}
