.swfw-landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: none;
  background: rgb(164, 76, 235);
  background: linear-gradient(
    192deg,
    rgba(164, 76, 235, 1) 0%,
    rgba(204, 173, 249, 1) 19%,
    rgba(255, 255, 255, 1) 67%,
    rgba(255, 255, 255, 1) 100%
  );

  &__container {
    width: 100%;
    max-width: 1150px;
    align-self: center;
    overflow: visible;
  }

  span.highlight {
    // color: var(--ifm-color-main);
    color: rgb(164, 76, 235);
  }

  .product-hero-container {
    width: unset;
    margin-left: unset;
    padding: 4rem 0;
    min-height: 100px;
  }

  .product-hero {
    &__inner-content {
      max-width: unset;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__inner-left {
      max-width: 500px;
      width: 50%;
      padding: unset;

      .inner-left__header {
        p {
          color: #3a3a3a;
        }
        span {
          color: unset;
          font-weight: 800;
        }
      }
    }
    &__inner-right {
      width: 50%;
      display: flex;
      justify-content: center;
    }
  }

  .clouds-container {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
  }

  .container {
    display: flex;
    // gap: 3rem;
    justify-content: space-between;
    padding: 6rem 0;
  }

  .link-list {
    flex: 0 0 22%;
  }
}
