.swfw-tabs-container {
  justify-content: center;
}

.swfw-cards-section {
  margin: 5rem 1rem;
}

.swfw-card-section-header {
  margin-bottom: 2.5rem;
}

.swfw-cards-container {
  display: flex;
  justify-content: center;
  grid-gap: 30px;
}

.swfw-info-card-container {
  width: 275px;
  height: 285px;
  background-color: white;
  box-shadow: 0 2px 3px hsla(222deg, 8%, 43%, 0.1),
    0 8px 16px -10px hsla(222deg, 8%, 43%, 0.2);
  border-radius: 2rem;
  padding: 2rem;
  transition: 300ms;

  &:hover {
    box-shadow: 0 0 0 2px rgba(38, 53, 61, 0.15),
      0 2px 3px hsla(222, 8%, 43%, 0.15),
      0 16px 16px -10px hsla(222, 8%, 43%, 0.2);
  }
}

.swfw-container {
  text-align: center;
}
