openapi: 3.0.2
info:
    title: DLP API
    version: 2.0.0
    description: Enterprise DLP APIs
    license:
        name: MIT
        url: https://opensource.org/license/mit
    contact:
        email: support@paloaltonetworks.com
        name: Palo Alto Networks Technical Support
        url: 'https://support.paloaltonetworks.com'
servers:
    -
        url: 'https://api.dlp.paloaltonetworks.com'
        description: Prod host
tags:
    - name: Reports API
      description: Retrieve DLP scan reports
    - name: Incidents API
      description: Manage and retrieve DLP incidents (v1/v2)
    - name: OCR Enablement
      description: OCR Enablement API v2
    - name: Endpoint Policies
      description: Endpoint Policies API v2
    - name: Data Filtering Profiles
      description: Data Filtering Profiles API v2
    - name: Data Patterns
      description: Data Patterns API v2
    - name: Peripherals
      description: Peripherals API v2
    - name: Dictionaries
      description: Dictionaries API v2
    - name: EDM Datasets
      description: EDM Datasets API v2
    - name: Data Profiles
      description: Data Profiles API v2
    - name: Document Types
      description: Document Types API v2
paths:
    '/v1/public/report/{reportId}':
        summary: Get DLP Report
        description: Get DLP report
        get:
            tags:
                - Reports API
            parameters:
                -
                    name: reportId
                    description: ID of the retrieved report
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ScanContentResponse'
                            examples:
                                sample report:
                                    value:
                                        txn_id: '483332512'
                                        report_id: '483332512'
                                        data_profile_id: '11995014'
                                        data_profile_name: Sensitive Content
                                        type: basic
                                        tenant_id: '7830962012064884736'
                                        fileSha: 90d068df2381ebd8342c99cf59907e7c9fc7ab3d7c4c6fdc2a3d814eb7ed374f
                                        file_name: google_finance_template_1mb.txt
                                        file_type: txt
                                        file_size_in_bytes: 1005626
                                        extracted_file_size_in_bytes: 1005635
                                        detection_time: '10/15/2020 21:16:24 UTC'
                                        data_pattern_rule_1_verdict: MATCHED
                                        scanContentRawReport:
                                            data_pattern_rule_1_results:
                                                -
                                                    data_pattern_id: 5ee3c51c99025d000161ab9a
                                                    version: 1
                                                    name: >-
                                                        Bank - American Bankers Association Routing Number -
                                                        ABA
                                                    technique: regex
                                                    type: predefined
                                                    strict_detection_frequency: 0
                                                    proximity_detection_frequency: 0
                                                    detection_frequency: 0
                                                    unique_strict_detection_frequency: 0
                                                    unique_checksum_detection_frequency: 0
                                                    unique_proximity_detection_frequency: 0
                                                    unique_detection_frequency: 0
                                                    weighted_frequency: 0
                                                    high_confidence_frequency: 0
                                                    medium_confidence_frequency: 0
                                                    low_confidence_frequency: 0
                                                    unique_high_confidence_frequency: 0
                                                    unique_medium_confidence_frequency: 0
                                                    unique_low_confidence_frequency: 0
                                                    state: EVALUATED
                                                -
                                                    data_pattern_id: 5ee3c51c99025d000161aba6
                                                    version: 1
                                                    name: Voyager Credit Card
                                                    technique: regex
                                                    type: predefined
                                                    strict_detection_frequency: 0
                                                    proximity_detection_frequency: 0
                                                    detection_frequency: 0
                                                    unique_strict_detection_frequency: 0
                                                    unique_checksum_detection_frequency: 0
                                                    unique_proximity_detection_frequency: 0
                                                    unique_detection_frequency: 0
                                                    weighted_frequency: 0
                                                    high_confidence_frequency: 0
                                                    medium_confidence_frequency: 0
                                                    low_confidence_frequency: 0
                                                    unique_high_confidence_frequency: 0
                                                    unique_medium_confidence_frequency: 0
                                                    unique_low_confidence_frequency: 0
                                                    state: EVALUATED
                                                -
                                                    data_pattern_id: 5ee3c51d99025d000161ac52
                                                    version: 1
                                                    name: NationalId - US Social Security Number - SSN
                                                    technique: regex
                                                    type: predefined
                                                    strict_detection_frequency: 0
                                                    proximity_detection_frequency: 3
                                                    detection_frequency: 3
                                                    unique_strict_detection_frequency: 0
                                                    unique_checksum_detection_frequency: 0
                                                    unique_proximity_detection_frequency: 3
                                                    unique_detection_frequency: 3
                                                    weighted_frequency: 0
                                                    high_confidence_frequency: 3
                                                    medium_confidence_frequency: 0
                                                    low_confidence_frequency: 3
                                                    unique_high_confidence_frequency: 3
                                                    unique_medium_confidence_frequency: 0
                                                    unique_low_confidence_frequency: 3
                                                    matched_confidence_level: high
                                                    state: EVALUATED
                                report with snippets:
                                    value:
                                        fileSha: a4d58aa3caeb73b56028f597de2b3263d64e2835f277f31c97be53bc76a29e47
                                        scanContentRawReport:
                                            data_pattern_rule_1_results:
                                                -
                                                    detections:
                                                        -
                                                            left: |4-






                                                                 tax id number ***-**-**99 abs cupp
                                                                IBAN CH9300762011623852957 cusip 
                                                            right: " | *****0BG4 DEA *****3839 | *****5341 CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-****-6246 SHAKAI HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-**"
                                                            detection: '*******00'
                                                            original_text: '*******00'
                                                            origOffSet: 75
                                                            textLength: 0
                                                        -
                                                            left: >-
                                                                HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-****-6333

                                                                UK Tax UTR ******1030 ******1031 NINO GP 32 76
                                                                63 *****280B Germany Tax ID *******1827
                                                                *******8911 *******8796 visa 4556501518562241
                                                                4929091695478411 aba 
                                                            right: ' *****3532 ssn 098-07-33 16 480-33-1945 Canada SIN *** *** 425 *****3197 Australia Tax ID 45322 1716 98754015 Access Key ID 022QF06E7MXBSH9DHM02 AWS Secret Key kWcrlUX5JEDGM/LtmEENI/ aVmYvHNif5zB+d9+c'
                                                            detection: '*******55'
                                                            original_text: '*******55'
                                                            origOffSet: 446
                                                            textLength: 0
                                                        -
                                                            left: |4-






                                                                 tax id number 
                                                            right: " abs cupp\nIBAN CH9300762011623852957 cusip *******00 | *****0BG4 DEA *****3839 | *****5341 CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-***"
                                                            detection: '***-**-**99'
                                                            original_text: '***-**-**99'
                                                            origOffSet: 21
                                                            textLength: 0
                                                    data_pattern_id: 6374e1b4dee31d91c40b179d
                                                    version: 1
                                                    name: National Id - US Social Security Number - SSN
                                                    technique: regex
                                                    type: predefined
                                                    strict_detection_frequency: 0
                                                    proximity_detection_frequency: 7
                                                    detection_frequency: 7
                                                    unique_strict_detection_frequency: 0
                                                    unique_checksum_detection_frequency: 0
                                                    unique_proximity_detection_frequency: 7
                                                    unique_detection_frequency: 7
                                                    weighted_frequency: 0
                                                    high_confidence_frequency: 7
                                                    medium_confidence_frequency: 0
                                                    low_confidence_frequency: 7
                                                    unique_high_confidence_frequency: 7
                                                    unique_medium_confidence_frequency: 0
                                                    unique_low_confidence_frequency: 7
                                                    matched_confidence_level: high
                                                    state: EVALUATED
                                                    high_confidence_detections: {}
                                                    medium_confidence_detections: {}
                                                    low_confidence_detections: {}
                                                    edm_columns: []
                                        txn_id: '163570374'
                                        report_id: '163570374'
                                        data_profile_id: '11995044'
                                        data_profile_version: 1
                                        data_profile_name: PII
                                        type: basic
                                        tenant_id: '5886928188517009408'
                                        file_name: SSNpattern
                                        file_type: pdf
                                        file_size_in_bytes: 930
                                        extracted_file_size_in_bytes: 937
                                        detection_time: '02/10/2024 23:34:14 GMT'
                                        action: block
                                        data_pattern_rule_1_verdict: MATCHED
                    description: OK
                '400':
                    description: Bad Request. Got an invalid JSON.
                '401':
                    description: >-
                        Unauthorized access. An issue occurred during authentication. This can indicate an
                        incorrect key, ID, or other invalid authentication parameters.
                '403':
                    description: >-
                        Forbidden access. The provided API Key does not have the required permissions to run
                        this API.
                '500':
                    description: Internal server error. A unified status for API communication type errors.
            security:
                -
                    JWTAuth: []
            summary: Get Reports
            description: Get report
            operationId: getReport
        parameters:
            -
                name: fetchSnippets
                description: '(Optional) Boolean field when set to true, retrieves snippets from the DLP report.'
                schema:
                    type: boolean
                in: query
    '/v1/api/incidents/{incidentID}/assignee':
        description: Assign Incidents
        servers:
            -
                url: 'https://api.dlp.paloaltonetworks.com'
                description: ''
        put:
            requestBody:
                description: UUID of assignee
                content:
                    application/json:
                        schema:
                            type: string
                        examples:
                            UUID of assignee:
                                value: 00d53ebf-c386-4b95-ad05-6819517c3450
                required: true
            tags:
                - Incidents API
            parameters:
                -
                    name: region
                    description: region the incident are belongs to (default to us)
                    schema:
                        enum:
                            - us
                            - eu
                            - uk
                            - jp
                            - in
                            - ap
                            - ca
                            - au
                            - par
                        type: string
                    in: query
                    required: false
                -
                    name: incidentID
                    description: ID of the Incident to be updated
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                '200':
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Assign Incidents
            operationId: updateIncidentAssignee
    '/v1/api/incidents/{incidentID}/notes':
        description: Update incident with notes
        servers:
            -
                url: 'https://api.dlp.paloaltonetworks.com'
                description: ''
        put:
            operationId: updateIncidentNotes
            requestBody:
                content:
                    application/json:
                        schema:
                            type: string
                        examples:
                            sample notes:
                                value: This is a note for incident
                required: true
            tags:
                - Incidents API
            parameters:
                -
                    name: incidentID
                    description: ID of the Incident to be updated
                    schema:
                        type: string
                    in: path
                    required: true
                -
                    name: region
                    description: region the incident belongs to (default to us)
                    schema:
                        enum:
                            - us
                            - eu
                            - uk
                            - jp
                            - in
                            - ap
                            - ca
                            - au
                            - par
                        type: string
                    in: query
                    required: false
            responses:
                '200':
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Update Inicident Note
        delete:
            operationId: deleteIncidentNotes
            tags:
                - Incidents API
            parameters:
                -
                    name: incidentID
                    description: ID of the Incident
                    schema:
                        type: string
                    in: path
                    required: true
                -
                    name: region
                    description: region the incident belongs to (default to us)
                    schema:
                        enum:
                            - us
                            - eu
                            - uk
                            - jp
                            - in
                            - ap
                            - ca
                            - au
                            - par
                        type: string
                    in: query
                    required: false
            responses:
                '200':
                    description: notes are deleted
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            summary: Remove Incident Notes
    '/v1/api/incidents/{incidentID}/resolution-status':
        description: Update incident resolution status
        servers:
            -
                url: 'https://api.dlp.paloaltonetworks.com'
                description: ''
        put:
            requestBody:
                content:
                    application/json:
                        schema:
                            type: string
                        examples:
                            resolution status:
                                value: assigned
                required: true
            tags:
                - Incidents API
            parameters:
                -
                    name: incidentID
                    description: ID of the Incident to be updated
                    schema:
                        type: string
                    in: path
                    required: true
                -
                    name: region
                    description: region that incident belongs to (default to us)
                    schema:
                        enum:
                            - us
                            - eu
                            - uk
                            - jp
                            - in
                            - ap
                            - ca
                            - au
                            - par
                        type: string
                    in: query
                    required: false
            responses:
                '200':
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Update Incident Resolution
            operationId: updateIncidentResolutionStatus
    /v1/api/incidents/assignee:
        summary: Get All Assignees
        description: Get All Assignees
        servers:
            -
                url: 'https://api.dlp.paloaltonetworks.com'
                description: ''
        get:
            operationId: getIncidentAssignees
            tags:
                - Incidents API
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/IncidentAssignee'
                            examples:
                                assignees:
                                    value:
                                        -
                                            id: 00d53ebf-c386-4b95-ad05-6819517c3450
                                            tenantId: '5886928188517009408'
                                            firstName: test u
                                            lastName: test
                                            emailAddress: test@test.com
                                            status: ACTIVE
                                            createdAt: '2024-Jan-11 23:16:33 UTC'
                                            updatedAt: '2024-Feb-14 19:13:01 UTC'
                                        -
                                            id: 133b9b0d-6e64-40ca-abec-15ff3b906b80
                                            tenantId: '5886928188517009408'
                                            firstName: user
                                            lastName: my last name
                                            emailAddress: user1@test.com
                                            status: ACTIVE
                                            createdAt: '2023-Aug-03 21:23:39 UTC'
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Get All Assignees
        put:
            operationId: createOrUpdateIncidentAssignees
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/IncidentAssigneeDTO'
                required: true
            tags:
                - Incidents API
            responses:
                '200':
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Create or Update Incident Assignee
    '/v1/api/incidents/assignee/{assigneeId}':
        get:
            tags:
                - Incidents API
            parameters:
                -
                    name: assigneeId
                    description: The ID of the assignee for the incident.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IncidentAssignee'
                            examples:
                                assignee:
                                    value:
                                        id: 00d53ebf-c386-4b95-ad05-6819517c3450
                                        tenantId: '5886928188517009408'
                                        firstName: test
                                        lastName: test
                                        emailAddress: test@test.com
                                        status: ACTIVE
                                        createdAt: '2024-Jan-11 23:16:33 UTC'
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Get Assignee by ID
            operationId: getIncidentAssigneesById
    '/v2/api/incidents/{incidentID}':
        description: Get Incident Details
        servers:
            -
                url: 'https://api.dlp.paloaltonetworks.com'
                description: ''
        get:
            tags:
                - Incidents API
            parameters:
                -
                    examples:
                        IncidentID Example:
                            value: 3fb38abe-a83b-44e5-99d5-4bec3765bba6
                    name: incidentID
                    description: ID of the incident
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IncidentResponseDTO'
                            examples:
                                incident detail:
                                    value:
                                        incident_id: 1a762308-3735-4d29-8edd-4595d4e3f982
                                        tenant_id: '5886928188517009408'
                                        report_id: '1107089697'
                                        data_profile_id: 11995044
                                        data_profile_name: PII
                                        file_sha: a4d58aa3caeb73b56028f597de2b3263d64e2835f277f31c97be53bc76a29e47
                                        file_name: SSNpattern
                                        incident_creation_time: '2024-Jan-18 21:46:54 UTC'
                                        channel: ngfw
                                        source: ngfw
                                        action: alert
                                        match_info:
                                            6374e1b4dee31d91c40b1705:
                                                name: Driver License - Slovenia
                                                version: 1
                                                lcf: 5
                                                hcf: 0
                                                mcf: 0
                                                ulcf: 5
                                                uhcf: 0
                                                umcf: 0
                                                detection_technique: regex
                                            6374e1b4dee31d91c40b1708:
                                                name: Driver License - Canada
                                                version: 1
                                                lcf: 13
                                                hcf: 0
                                                mcf: 0
                                                ulcf: 13
                                                uhcf: 0
                                                umcf: 0
                                                detection_technique: regex
                                            6374e1b4dee31d91c40b1709:
                                                name: Driver License - US
                                                version: 1
                                                lcf: 17
                                                hcf: 0
                                                mcf: 0
                                                ulcf: 17
                                                uhcf: 0
                                                umcf: 0
                                                detection_technique: regex
                                        snippets:
                                            6374e1b4dee31d91c40b1705:
                                                version: 1
                                                low_confidence_detections:
                                                    -
                                                        left: |4-






                                                             tax id number ***-**-**99 abs cupp
                                                            IBAN CH9300762011623852957 cusip 
                                                        right: " | *****0BG4 DEA *****3839 | *****5341 CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-****-6246 SHAKAI HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-**"
                                                        detection: '*******00'
                                                        original_text: '*******00'
                                                        origOffSet: 75
                                                        textLength: 0
                                                    -
                                                        left: >-
                                                            HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-****-6333

                                                            UK Tax UTR ******1030 ******1031 NINO GP 32 76 63
                                                            *****280B Germany Tax ID *******1827 *******8911
                                                            *******8796 visa 4556501518562241 4929091695478411
                                                            aba 
                                                        right: ' *****3532 ssn 098-07-33 16 480-33-1945 Canada SIN *** *** 425 *****3197 Australia Tax ID 45322 1716 98754015 Access Key ID 022QF06E7MXBSH9DHM02 AWS Secret Key kWcrlUX5JEDGM/LtmEENI/ aVmYvHNif5zB+d9+c'
                                                        detection: '*******55'
                                                        original_text: '*******55'
                                                        origOffSet: 446
                                                        textLength: 0
                                                    -
                                                        left: >-
                                                            BANGŌ SEIDO MAINANBA ****-****-6333

                                                            UK Tax UTR ******1030 ******1031 NINO GP 32 76 63
                                                            *****280B Germany Tax ID *******1827 *******8911
                                                            *******8796 visa 4556501518562241 4929091695478411
                                                            aba *******55 
                                                        right: ' ssn 098-07-33 16 480-33-1945 Canada SIN *** *** 425 *****3197 Australia Tax ID 45322 1716 98754015 Access Key ID 022QF06E7MXBSH9DHM02 AWS Secret Key kWcrlUX5JEDGM/LtmEENI/ aVmYvHNif5zB+d9+ct ;5301250'
                                                        detection: '*****3532'
                                                        original_text: '*****3532'
                                                        origOffSet: 456
                                                        textLength: 0
                                            6374e1b4dee31d91c40b1708:
                                                version: 1
                                                low_confidence_detections:
                                                    -
                                                        left: |4-






                                                             tax id number ***-**-**99 abs cupp
                                                            IBAN CH9300762011623852957 cusip 
                                                        right: " | *****0BG4 DEA *****3839 | *****5341 CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-****-6246 SHAKAI HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-**"
                                                        detection: '*******00'
                                                        original_text: '*******00'
                                                        origOffSet: 75
                                                        textLength: 0
                                                    -
                                                        left: >4-






                                                             tax id number ***-**-**99 abs cupp
                                                            IBAN CH9300762011623852957 cusip *******00 |
                                                            *****0BG4 DEA *****3839 | 
                                                        right: " CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-****-6246 SHAKAI HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-****-6333\nUK Tax UTR ******1030 ******10"
                                                        detection: '*****5341'
                                                        original_text: '*****5341'
                                                        origOffSet: 113
                                                        textLength: 0
                                                    -
                                                        left: >4-






                                                             tax id number ***-**-**99 abs cupp
                                                            IBAN CH9300762011623852957 cusip *******00 |
                                                            *****0BG4 DEA 
                                                        right: " | *****5341 CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-****-6246 SHAKAI HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-****-6333\nUK Tax UTR ******1"
                                                        detection: '*****3839'
                                                        original_text: '*****3839'
                                                        origOffSet: 101
                                                        textLength: 0
                                            6374e1b4dee31d91c40b1709:
                                                version: 1
                                                low_confidence_detections:
                                                    -
                                                        left: |4-






                                                             tax id number ***-**-**99 abs cupp
                                                            IBAN CH9300762011623852957 cusip 
                                                        right: " | *****0BG4 DEA *****3839 | *****5341 CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-****-6246 SHAKAI HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-**"
                                                        detection: '*******00'
                                                        original_text: '*******00'
                                                        origOffSet: 75
                                                        textLength: 0
                                                    -
                                                        left: >4-






                                                             tax id number ***-**-**99 abs cupp
                                                            IBAN CH9300762011623852957 cusip *******00 |
                                                            *****0BG4 DEA *****3839 | *****5341 CLIA
                                                            24C3872984 | 05D0911402

                                                            HETU number 
                                                        right: "-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-****-6246 SHAKAI HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-****-6333\nUK Tax UTR ******1030 ******1031 NINO GP 32 76 63 *****280B Germany Tax ID ***"
                                                        detection: '******'
                                                        original_text: '******'
                                                        origOffSet: 164
                                                        textLength: 0
                                                    -
                                                        left: |4-






                                                             tax id number 
                                                        right: " abs cupp\nIBAN CH9300762011623852957 cusip *******00 | *****0BG4 DEA *****3839 | *****5341 CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-***"
                                                        detection: '***-**-**99'
                                                        original_text: '***-**-**99'
                                                        origOffSet: 21
                                                        textLength: 0
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Get Incident Details
            operationId: getIncident
        parameters:
            -
                name: region
                description: region(default to us)
                schema:
                    enum:
                        - us
                        - eu
                        - uk
                        - jp
                        - in
                        - ap
                        - ca
                        - au
                        - par
                    type: string
                in: query
    /v2/api/incidents:
        description: Get Bulk Incidents
        servers:
            -
                url: 'https://api.dlp.paloaltonetworks.com'
                description: ''
        get:
            tags:
                - Incidents API
            parameters:
                -
                    name: ascending
                    description: get the list of incident in ascending order or not(default false)
                    schema:
                        type: boolean
                    in: query
                    required: false
                -
                    name: channel
                    description: ngfw or prisma-access
                    schema:
                        enum:
                            - ngfw
                            - prisma-access
                        type: string
                    in: query
                    required: false
                -
                    name: end_time
                    description: query incident until
                    schema:
                        format: date-time
                        type: string
                    in: query
                    required: false
                -
                    name: file_shas
                    description: >-
                        get incidents triggered by file hash. must be a comma separated list of one or more
                        sha256 hashes of files
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: page_number
                    description: page_number
                    schema:
                        format: int32
                        type: integer
                    in: query
                    required: false
                -
                    name: page_size
                    description: page_size
                    schema:
                        format: int32
                        type: integer
                    in: query
                    required: false
                -
                    name: region
                    description: region (defaults to us)
                    schema:
                        type: string
                        enum:
                            - us
                            - eu
                            - uk
                            - jp
                            - in
                            - ap
                            - ca
                            - au
                            - par
                    in: query
                    required: false

                -
                    name: report_ids
                    description: report_ids
                    schema:
                        type: array
                        items:
                            type: string
                    in: query
                    required: false
                -
                    name: sort_by
                    description: sort by. default sort by creation time
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: start_time
                    description: start_time
                    schema:
                        format: date-time
                        type: string
                    in: query
                    required: false
                -
                    name: user_ids
                    description: query by user ids
                    schema:
                        type: array
                        items:
                            type: string
                    in: query
                    required: false
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IncidentResponse'
                            examples:
                                incidentResponseExample:
                                    value:
                                        page:
                                            size: 10
                                            number: 1
                                            total_elements: 290
                                            total_pages: 29
                                        resources:
                                            -
                                                incident_id: 7c3dca3d-1c08-4147-b171-9faba84739d4
                                                tenant_id: '5886928188517009408'
                                                report_id: '1572154781'
                                                data_profile_id: 11995044
                                                data_profile_name: PII
                                                file_sha: >-
                                                    a4d58aa3caeb73b56028f597de2b3263d64e2835f277f31c97be53bc76a29e47
                                                file_name: SSNpattern
                                                file_type: pdf
                                                incident_creation_time: '2023-Dec-07 18:41:12 UTC'
                                                channel: ngfw
                                                source: ngfw
                                                action: alert
                                            -
                                                incident_id: 81985a40-dae5-4e80-8147-678892ccfc00
                                                tenant_id: '5886928188517009408'
                                                report_id: '2968440380'
                                                data_profile_id: 11995410
                                                data_profile_name: Portugal_LNAME_high
                                                file_sha: >-
                                                    6c25d79cd1dee00b3a6ee6bbb985dae6ee5bdfa31a8dfcffa241786c8c3893a7
                                                file_name: test_portugal_LNAME.txt
                                                file_type: txt
                                                incident_creation_time: '2023-Dec-07 18:39:38 UTC'
                                                channel: ngfw
                                                source: ngfw
                                                action: alert
                                            -
                                                incident_id: 08f014d8-ed13-490e-bfc4-7363f43a4af1
                                                tenant_id: '5886928188517009408'
                                                report_id: '1347859663'
                                                data_profile_id: 11995355
                                                data_profile_name: inline_timing_11_12_edm
                                                file_sha: >-
                                                    6c8d18c544aba3b44cfa487d5020ec102a6317a6a5164e270bbecf6ea37df925
                                                file_name: all_patterns_data_1_MB.txt
                                                file_type: txt
                                                incident_creation_time: '2023-Dec-06 19:39:46 UTC'
                                                channel: ngfw
                                                source: ngfw
                                                action: alert
                                            -
                                                incident_id: 6c7d838a-1b25-44fe-8917-1ff760c0eae5
                                                tenant_id: '5886928188517009408'
                                                report_id: '3741398016'
                                                data_profile_id: 11995295
                                                data_profile_name: DemoWideNestedProfile
                                                file_sha: >-
                                                    a4d58aa3caeb73b56028f597de2b3263d64e2835f277f31c97be53bc76a29e47
                                                file_name: SSNpattern
                                                file_type: pdf
                                                incident_creation_time: '2023-Dec-05 21:54:21 UTC'
                                                channel: ngfw
                                                source: ngfw
                                                action: alert
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Get Incidents
            operationId: getAllIncidentsV2
    /v2/api/peripherals/{resourceId}:
        get:
            tags:
            - Peripherals
            summary: Get Peripheral
            description: Retrieves a single peripheral device by its ID.
            operationId: getPeripheral
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            responses:
                '401':
                    description: Unauthorized
                '200':
                    description: Peripheral found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PeripheralResponse'
                '404':
                    description: Peripheral not found
                '403':
                    description: Forbidden - insufficient privileges
        put:
            tags:
            - Peripherals
            summary: Update Peripheral
            description: Fully replaces an existing peripheral device with the provided
                payload.
            operationId: updatePeripheral
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PeripheralRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '400':
                    description: Invalid request payload
                '404':
                    description: Peripheral not found
                '200':
                    description: Peripheral updated
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PeripheralResponse'
                '403':
                    description: Forbidden - insufficient privileges
        delete:
            tags:
            - Peripherals
            summary: Delete Peripheral
            description: Deletes a peripheral device by its ID.
            operationId: deletePeripheral
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            responses:
                '401':
                    description: Unauthorized
                '204':
                    description: Peripheral deleted
                '404':
                    description: Peripheral not found
                '403':
                    description: Forbidden - insufficient privileges
    /v2/api/ocr:
        get:
            tags:
            - OCR Enablement
            summary: Get OCR Enablement
            description: Retrieves OCR enablement settings for the authenticated tenant,
                optionally filtered by target service.
            operationId: getOcrEnablement
            parameters:
            -   name: target-service-name
                in: query
                description: Filter results to a specific service name
                schema:
                    type: string
            responses:
                '200':
                    description: OCR enablement settings found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/OcrEnablementResponse'
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden - insufficient privileges
                '400':
                    description: Invalid target-service-name
        put:
            tags:
            - OCR Enablement
            summary: Update OCR Enablement
            description: Updates the OCR enablement setting for a specific service.
            operationId: updateOcrEnablement
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OcrEnablementRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '400':
                    description: Invalid request payload
                '204':
                    description: OCR enablement updated
                '403':
                    description: Forbidden - insufficient privileges
    /v2/api/endpoint-policies/{resourceId}:
        get:
            tags:
            - Endpoint Policies
            summary: Get Endpoint Policy
            description: Retrieves a single endpoint policy by its ID.
            operationId: getEndpointPolicy
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            responses:
                '401':
                    description: Unauthorized
                '404':
                    description: Endpoint policy not found
                '200':
                    description: Endpoint policy found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/EndpointPolicyResponse'
                '403':
                    description: Forbidden - insufficient privileges
        put:
            tags:
            - Endpoint Policies
            summary: Update Endpoint Policy
            description: Fully replaces an existing endpoint policy with the provided
                payload.
            operationId: updateEndpointPolicy
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/EndpointPolicyRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '404':
                    description: Endpoint policy not found
                '200':
                    description: Endpoint policy updated
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/EndpointPolicyResponse'
                '400':
                    description: Invalid request payload
                '403':
                    description: Forbidden - insufficient privileges
        delete:
            tags:
            - Endpoint Policies
            summary: Delete Endpoint Policy
            description: Deletes an endpoint policy by its ID.
            operationId: deleteEndpointPolicy
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            responses:
                '401':
                    description: Unauthorized
                '404':
                    description: Endpoint policy not found
                '403':
                    description: Forbidden - insufficient privileges
                '204':
                    description: Endpoint policy deleted
        patch:
            tags:
            - Endpoint Policies
            summary: Patch Endpoint Policy
            description: Partially updates an existing endpoint policy using JSON Merge
                Patch semantics.
            operationId: patchEndpointPolicy
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            requestBody:
                content:
                    application/merge-patch+json:
                        schema:
                            $ref: '#/components/schemas/EndpointPolicyPatchRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '404':
                    description: Endpoint policy not found
                '200':
                    description: Endpoint policy updated
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/EndpointPolicyResponse'
                '403':
                    description: Forbidden - insufficient privileges
                '400':
                    description: Invalid patch payload
    /v2/api/document-types/{resourceId}:
        get:
            tags:
            - Document Types
            summary: Get Document Type
            description: Retrieves a single document type by its ID.
            operationId: getDocumentType
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            responses:
                '401':
                    description: Unauthorized
                '404':
                    description: Document type not found
                '200':
                    description: Document type found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DocumentTypeResponse'
                '403':
                    description: Forbidden - insufficient privileges
        put:
            tags:
            - Document Types
            summary: Update Document Type
            description: Fully replaces an existing document type with the provided payload.
            operationId: updateDocumentType
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DocumentTypeRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '404':
                    description: Document type not found
                '400':
                    description: Invalid request payload
                '200':
                    description: Document type updated
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DocumentTypeResponse'
                '403':
                    description: Forbidden - insufficient privileges
        delete:
            tags:
            - Document Types
            summary: Delete Document Type
            description: Deletes a document type by its ID.
            operationId: deleteDocumentType
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            responses:
                '401':
                    description: Unauthorized
                '404':
                    description: Document type not found
                '403':
                    description: Forbidden - insufficient privileges
                '204':
                    description: Document type deleted
        patch:
            tags:
            - Document Types
            summary: Patch Document Type
            description: Partially updates an existing document type using JSON Merge
                Patch semantics.
            operationId: patchDocumentType
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            requestBody:
                content:
                    application/merge-patch+json:
                        schema:
                            $ref: '#/components/schemas/DocumentTypePatchRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '404':
                    description: Document type not found
                '200':
                    description: Document type updated
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DocumentTypeResponse'
                '400':
                    description: Invalid patch payload
                '403':
                    description: Forbidden - insufficient privileges
    /v2/api/dictionaries/{resourceId}:
        get:
            tags:
            - Dictionaries
            summary: Get Dictionary
            description: Retrieves a single dictionary by its ID.
            operationId: getDictionary
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            -   name: keywords
                in: query
                description: If true, include keywords list in response
                schema:
                    type: boolean
                    default: false
            responses:
                '401':
                    description: Unauthorized
                '200':
                    description: Dictionary found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DictionaryResponse'
                '403':
                    description: Forbidden - insufficient privileges
                '404':
                    description: Dictionary not found
        put:
            tags:
            - Dictionaries
            summary: Update Dictionary
            description: Replaces an existing dictionary by uploading a new file (multipart/form-data).
            operationId: updateDictionary
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            -   name: keywords
                in: query
                required: false
                schema:
                    type: string
            requestBody:
                content:
                    multipart/form-data:
                        schema:
                            required:
                            - file
                            - json
                            type: object
                            properties:
                                json:
                                    $ref: '#/components/schemas/DictionaryRequest'
                                file:
                                    type: string
                                    format: binary
            responses:
                '401':
                    description: Unauthorized
                '400':
                    description: Invalid request payload
                '403':
                    description: Forbidden - insufficient privileges
                '404':
                    description: Dictionary not found
                '200':
                    description: Dictionary updated
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DictionaryResponse'
                '204':
                    description: No Content
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DictionaryResponse'
        delete:
            tags:
            - Dictionaries
            summary: Delete Dictionary
            description: Deletes a dictionary by its ID.
            operationId: deleteDictionary
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            responses:
                '401':
                    description: Unauthorized
                '204':
                    description: Dictionary deleted
                '403':
                    description: Forbidden - insufficient privileges
                '404':
                    description: Dictionary not found
        patch:
            tags:
            - Dictionaries
            summary: Patch Dictionary
            description: Partially updates an existing dictionary using JSON Merge Patch
                semantics.
            operationId: patchDictionary
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            requestBody:
                content:
                    application/merge-patch+json:
                        schema:
                            $ref: '#/components/schemas/DictionaryPatchRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '400':
                    description: Invalid patch payload
                '403':
                    description: Forbidden - insufficient privileges
                '404':
                    description: Dictionary not found
                '200':
                    description: Dictionary updated
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DictionaryResponse'
    /v2/api/data-profiles/{resourceId}:
        get:
            tags:
            - Data Profiles
            summary: Get Data Profile
            description: Retrieves a single data profile by its ID.
            operationId: getDataProfile
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            responses:
                '401':
                    description: Unauthorized
                '404':
                    description: Data profile not found
                '200':
                    description: Data profile found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DataProfileResponse'
                '403':
                    description: Forbidden - insufficient privileges
        put:
            tags:
            - Data Profiles
            summary: Update Data Profile
            description: Fully replaces an existing data profile with the provided payload.
            operationId: updateDataProfile
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AdvancedDataProfileRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '200':
                    description: Data profile updated
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DataProfileResponse'
                '400':
                    description: Invalid request payload
                '404':
                    description: Data profile not found
                '403':
                    description: Forbidden - insufficient privileges
        patch:
            tags:
            - Data Profiles
            summary: Patch Data Profile
            description: Partially updates an existing data profile using JSON Merge Patch
                semantics.
            operationId: patchDataProfile
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            requestBody:
                content:
                    application/merge-patch+json:
                        schema:
                            $ref: '#/components/schemas/DataProfilePatchRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '200':
                    description: Data profile updated
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DataProfileResponse'
                '404':
                    description: Data profile not found
                '400':
                    description: Invalid patch payload
                '403':
                    description: Forbidden - insufficient privileges
    /v2/api/data-patterns/{resourceId}:
        get:
            tags:
            - Data Patterns
            summary: Get Data Pattern
            description: Retrieves a single data pattern by its ID.
            operationId: getDataPattern
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            responses:
                '401':
                    description: Unauthorized
                '404':
                    description: Data pattern not found
                '403':
                    description: Forbidden - insufficient privileges
                '200':
                    description: Data pattern found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DataPatternResponse'
        put:
            tags:
            - Data Patterns
            summary: Update Data Pattern
            description: Fully replaces an existing data pattern with the provided payload.
            operationId: updateDataPattern
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DataPatternRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '404':
                    description: Data pattern not found
                '200':
                    description: Data pattern updated
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DataPatternResponse'
                '400':
                    description: Invalid request payload
                '403':
                    description: Forbidden - insufficient privileges
        delete:
            tags:
            - Data Patterns
            summary: Delete Data Pattern
            description: Soft-deletes (archives) a data pattern by its ID.
            operationId: deleteDataPattern
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            responses:
                '204':
                    description: Data pattern deleted
                '401':
                    description: Unauthorized
                '404':
                    description: Data pattern not found
                '403':
                    description: Forbidden - insufficient privileges
        patch:
            tags:
            - Data Patterns
            summary: Patch Data Pattern
            description: Partially updates an existing data pattern using JSON Merge Patch
                semantics.
            operationId: patchDataPattern
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            requestBody:
                content:
                    application/merge-patch+json:
                        schema:
                            $ref: '#/components/schemas/DataPatternPatchRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '404':
                    description: Data pattern not found
                '200':
                    description: Data pattern updated
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DataPatternResponse'
                '400':
                    description: Invalid patch payload
                '403':
                    description: Forbidden - insufficient privileges
    /v2/api/data-filtering-profiles/{resourceId}:
        get:
            tags:
            - Data Filtering Profiles
            summary: Get Data Filtering Profile
            description: Retrieves a single data filtering profile by its Id
            operationId: getDataFilteringProfile
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            responses:
                '401':
                    description: Unauthorized
                '404':
                    description: Data filtering profile not found
                '403':
                    description: Forbidden - insufficient privileges
                '200':
                    description: Data filtering profile found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DataFilteringProfileResponse'
        put:
            tags:
            - Data Filtering Profiles
            summary: Update Data Filtering Profile
            description: Fully replaces an existing data filtering profile with the provided
                payload.
            operationId: updateDataFilteringProfile
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DataFilteringProfileRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '200':
                    description: Data filtering profile updated
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DataFilteringProfileResponse'
                '404':
                    description: Data filtering profile not found
                '400':
                    description: Invalid request payload
                '403':
                    description: Forbidden - insufficient privileges
    /v2/api/peripherals:
        get:
            tags:
            - Peripherals
            summary: List Peripherals
            description: Returns a paginated list of peripheral devices for the authenticated
                tenant.
            operationId: listPeripherals
            parameters:
            -   name: page
                in: query
                description: Zero-based page index (0..N)
                required: false
                schema:
                    minimum: 0
                    type: integer
                    default: 0
            -   name: size
                in: query
                description: The size of the page to be returned
                required: false
                schema:
                    minimum: 1
                    type: integer
                    default: 20
            -   name: sort
                in: query
                description: 'Sorting criteria in the format: property,(asc|desc). Default
                    sort order is ascending. Multiple sort criteria are supported.'
                required: false
                schema:
                    type: array
                    items:
                        type: string
            -   name: peripheral-type
                in: query
                description: Comma-separated list of peripheral types to filter (usb,
                    printer, network_share)
                schema:
                    type: string
            -   name: with-groups
                in: query
                description: If true, include group membership information
                schema:
                    type: boolean
            responses:
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden - insufficient privileges
                '200':
                    description: Paginated list of peripherals
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PagePeripheralResponse'
        post:
            tags:
            - Peripherals
            summary: Create Peripheral
            description: Creates a new peripheral device for the authenticated tenant.
            operationId: createPeripheral
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PeripheralRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '201':
                    description: Peripheral created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PeripheralResponse'
                '400':
                    description: Invalid request payload
                '403':
                    description: Forbidden - insufficient privileges
    /v2/api/endpoint-policies:
        get:
            tags:
            - Endpoint Policies
            summary: List Endpoint Policies
            description: Returns a paginated list of endpoint policies for the authenticated
                tenant.
            operationId: listEndpointPolicies
            parameters:
            -   name: page
                in: query
                description: Zero-based page index (0..N)
                required: false
                schema:
                    minimum: 0
                    type: integer
                    default: 0
            -   name: size
                in: query
                description: The size of the page to be returned
                required: false
                schema:
                    minimum: 1
                    type: integer
                    default: 20
            -   name: sort
                in: query
                description: 'Sorting criteria in the format: property,(asc|desc). Default
                    sort order is ascending. Multiple sort criteria are supported.'
                required: false
                schema:
                    type: array
                    items:
                        type: string
            -   name: enabled
                in: query
                description: Filter by enabled state
                schema:
                    type: boolean
            responses:
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden - insufficient privileges
                '200':
                    description: Paginated list of endpoint policies
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PageEndpointPolicyResponse'
        post:
            tags:
            - Endpoint Policies
            summary: Create Endpoint Policy
            description: Creates a new endpoint policy for the authenticated tenant.
            operationId: createEndpointPolicy
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/EndpointPolicyRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '400':
                    description: Invalid request payload
                '403':
                    description: Forbidden - insufficient privileges
                '201':
                    description: Endpoint policy created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/EndpointPolicyResponse'
    /v2/api/document-types:
        get:
            tags:
            - Document Types
            summary: List Document Types
            description: Returns a paginated list of document types for the authenticated
                tenant.
            operationId: listDocumentTypes
            parameters:
            -   name: page
                in: query
                description: Zero-based page index (0..N)
                required: false
                schema:
                    minimum: 0
                    type: integer
                    default: 0
            -   name: size
                in: query
                description: The size of the page to be returned
                required: false
                schema:
                    minimum: 1
                    type: integer
                    default: 20
            -   name: sort
                in: query
                description: 'Sorting criteria in the format: property,(asc|desc). Default
                    sort order is ascending. Multiple sort criteria are supported.'
                required: false
                schema:
                    type: array
                    items:
                        type: string
            responses:
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden - insufficient privileges
                '200':
                    description: Paginated list of document types
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PageDocumentTypeResponse'
        post:
            tags:
            - Document Types
            summary: Create Document Type
            description: Creates a document type by uploading training files (multipart/form-data).
            operationId: createDocumentType
            requestBody:
                content:
                    multipart/form-data:
                        schema:
                            required:
                            - json
                            type: object
                            properties:
                                json:
                                    $ref: '#/components/schemas/DocumentTypeRequest'
                                file:
                                    type: string
                                    format: binary
                                positive:
                                    type: string
                                    format: binary
                                negative:
                                    type: string
                                    format: binary
            responses:
                '401':
                    description: Unauthorized
                '400':
                    description: Invalid request payload or missing required files
                '201':
                    description: Document type created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DocumentTypeResponse'
                '403':
                    description: Forbidden - insufficient privileges
    /v2/api/dictionaries:
        get:
            tags:
            - Dictionaries
            summary: List Dictionaries
            description: Returns a paginated list of dictionaries for the authenticated
                tenant.
            operationId: listDictionaries
            parameters:
            -   name: page
                in: query
                description: Zero-based page index (0..N)
                required: false
                schema:
                    minimum: 0
                    type: integer
                    default: 0
            -   name: size
                in: query
                description: The size of the page to be returned
                required: false
                schema:
                    minimum: 1
                    type: integer
                    default: 20
            -   name: sort
                in: query
                description: 'Sorting criteria in the format: property,(asc|desc). Default
                    sort order is ascending. Multiple sort criteria are supported.'
                required: false
                schema:
                    type: array
                    items:
                        type: string
            -   name: keywords
                in: query
                description: If true, include keywords list in response
                schema:
                    type: boolean
                    default: false
            responses:
                '401':
                    description: Unauthorized
                '200':
                    description: Paginated list of dictionaries
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PageDictionaryResponse'
                '403':
                    description: Forbidden - insufficient privileges
        post:
            tags:
            - Dictionaries
            summary: Create Dictionary
            description: Creates a dictionary by uploading a file (multipart/form-data).
            operationId: createDictionary
            parameters:
            -   name: keywords
                in: query
                required: false
                schema:
                    type: string
            requestBody:
                content:
                    multipart/form-data:
                        schema:
                            required:
                            - file
                            - json
                            type: object
                            properties:
                                json:
                                    $ref: '#/components/schemas/DictionaryRequest'
                                file:
                                    type: string
                                    format: binary
            responses:
                '401':
                    description: Unauthorized
                '400':
                    description: Invalid request payload
                '403':
                    description: Forbidden - insufficient privileges
                '201':
                    description: Dictionary created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DictionaryResponse'
    /v2/api/data-profiles:
        get:
            tags:
            - Data Profiles
            summary: List Data Profiles
            description: Returns a paginated list of data profiles for the authenticated
                tenant.
            operationId: listDataProfiles
            parameters:
            -   name: page
                in: query
                description: Zero-based page index (0..N)
                required: false
                schema:
                    minimum: 0
                    type: integer
                    default: 0
            -   name: size
                in: query
                description: The size of the page to be returned
                required: false
                schema:
                    minimum: 1
                    type: integer
                    default: 20
            -   name: sort
                in: query
                description: 'Sorting criteria in the format: property,(asc|desc). Default
                    sort order is ascending. Multiple sort criteria are supported.'
                required: false
                schema:
                    type: array
                    items:
                        type: string
            responses:
                '401':
                    description: Unauthorized
                '200':
                    description: Paginated list of data profiles
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PageDataProfileResponse'
                '403':
                    description: Forbidden - insufficient privileges
        post:
            tags:
            - Data Profiles
            summary: Create Data Profile
            description: Creates a new data profile for the authenticated tenant.
            operationId: createDataProfile
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AdvancedDataProfileRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '201':
                    description: Data profile created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DataProfileResponse'
                '400':
                    description: Invalid request payload
                '403':
                    description: Forbidden - insufficient privileges
    /v2/api/data-patterns:
        get:
            tags:
            - Data Patterns
            summary: List Data Patterns
            description: Returns a paginated list of data patterns for the authenticated
                tenant.
            operationId: listDataPatterns
            parameters:
            -   name: page
                in: query
                description: Zero-based page index (0..N)
                required: false
                schema:
                    minimum: 0
                    type: integer
                    default: 0
            -   name: size
                in: query
                description: The size of the page to be returned
                required: false
                schema:
                    minimum: 1
                    type: integer
                    default: 20
            -   name: sort
                in: query
                description: 'Sorting criteria in the format: property,(asc|desc). Default
                    sort order is ascending. Multiple sort criteria are supported.'
                required: false
                schema:
                    type: array
                    items:
                        type: string
            responses:
                '401':
                    description: Unauthorized
                '200':
                    description: Paginated list of data patterns
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PageDataPatternResponse'
                '403':
                    description: Forbidden - insufficient privileges
        post:
            tags:
            - Data Patterns
            summary: Create Data Pattern
            description: Creates a new custom data pattern for the authenticated tenant.
            operationId: createDataPattern
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DataPatternRequest'
                required: true
            responses:
                '401':
                    description: Unauthorized
                '201':
                    description: Data pattern created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DataPatternResponse'
                '400':
                    description: Invalid request payload
                '403':
                    description: Forbidden - insufficient privileges
    /v2/api/edm-datasets/{resourceId}:
        get:
            tags:
            - EDM Datasets
            summary: Get EDM Dataset
            description: Retrieves a single EDM dataset by its ID.
            operationId: getEdmDataset
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
                    type: string
            responses:
                '401':
                    description: Unauthorized
                '200':
                    description: EDM dataset found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/EdmDatasetResponse'
                '403':
                    description: Forbidden - insufficient privileges
                '404':
                    description: EDM dataset not found
        delete:
            tags:
            - EDM Datasets
            summary: Delete EDM Dataset
            description: Deletes an EDM dataset by its ID.
            operationId: deleteEdmDataset
            parameters:
            -   name: resourceId
                in: path
                required: true
                schema:
[...]
