openapi: 3.0.2
info:
    title: public dlp apis
    version: 1.0.0
    description: DLP Public API
    license:
        name: MIT
        url: https://opensource.org/license/mit
    contact:
        email: support@paloaltonetworks.com
        name: Palo Alto Networks Technical Support
        url: 'https://support.paloaltonetworks.com'
servers:
    -
        url: 'https://api.dlp.paloaltonetworks.com'
        description: Prod host
tags:
    - name: DLP API
      description: DLP API
    - name: DLP API (Beta)
      description: Beta DLP APIs
paths:
    '/v1/public/report/{reportId}':
        summary: Get DLP Report
        description: Get DLP report
        get:
            tags:
                - DLP API
            parameters:
                -
                    name: reportId
                    description: ID of the retrieved report
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ScanContentResponse'
                            examples:
                                sample report:
                                    value:
                                        txn_id: '483332512'
                                        report_id: '483332512'
                                        data_profile_id: '11995014'
                                        data_profile_name: Sensitive Content
                                        type: basic
                                        tenant_id: '7830962012064884736'
                                        fileSha: 90d068df2381ebd8342c99cf59907e7c9fc7ab3d7c4c6fdc2a3d814eb7ed374f
                                        file_name: google_finance_template_1mb.txt
                                        file_type: txt
                                        file_size_in_bytes: 1005626
                                        extracted_file_size_in_bytes: 1005635
                                        detection_time: '10/15/2020 21:16:24 UTC'
                                        data_pattern_rule_1_verdict: MATCHED
                                        scanContentRawReport:
                                            data_pattern_rule_1_results:
                                                -
                                                    data_pattern_id: 5ee3c51c99025d000161ab9a
                                                    version: 1
                                                    name: >-
                                                        Bank - American Bankers Association Routing Number -
                                                        ABA
                                                    technique: regex
                                                    type: predefined
                                                    strict_detection_frequency: 0
                                                    proximity_detection_frequency: 0
                                                    detection_frequency: 0
                                                    unique_strict_detection_frequency: 0
                                                    unique_checksum_detection_frequency: 0
                                                    unique_proximity_detection_frequency: 0
                                                    unique_detection_frequency: 0
                                                    weighted_frequency: 0
                                                    high_confidence_frequency: 0
                                                    medium_confidence_frequency: 0
                                                    low_confidence_frequency: 0
                                                    unique_high_confidence_frequency: 0
                                                    unique_medium_confidence_frequency: 0
                                                    unique_low_confidence_frequency: 0
                                                    state: EVALUATED
                                                -
                                                    data_pattern_id: 5ee3c51c99025d000161aba6
                                                    version: 1
                                                    name: Voyager Credit Card
                                                    technique: regex
                                                    type: predefined
                                                    strict_detection_frequency: 0
                                                    proximity_detection_frequency: 0
                                                    detection_frequency: 0
                                                    unique_strict_detection_frequency: 0
                                                    unique_checksum_detection_frequency: 0
                                                    unique_proximity_detection_frequency: 0
                                                    unique_detection_frequency: 0
                                                    weighted_frequency: 0
                                                    high_confidence_frequency: 0
                                                    medium_confidence_frequency: 0
                                                    low_confidence_frequency: 0
                                                    unique_high_confidence_frequency: 0
                                                    unique_medium_confidence_frequency: 0
                                                    unique_low_confidence_frequency: 0
                                                    state: EVALUATED
                                                -
                                                    data_pattern_id: 5ee3c51d99025d000161ac52
                                                    version: 1
                                                    name: NationalId - US Social Security Number - SSN
                                                    technique: regex
                                                    type: predefined
                                                    strict_detection_frequency: 0
                                                    proximity_detection_frequency: 3
                                                    detection_frequency: 3
                                                    unique_strict_detection_frequency: 0
                                                    unique_checksum_detection_frequency: 0
                                                    unique_proximity_detection_frequency: 3
                                                    unique_detection_frequency: 3
                                                    weighted_frequency: 0
                                                    high_confidence_frequency: 3
                                                    medium_confidence_frequency: 0
                                                    low_confidence_frequency: 3
                                                    unique_high_confidence_frequency: 3
                                                    unique_medium_confidence_frequency: 0
                                                    unique_low_confidence_frequency: 3
                                                    matched_confidence_level: high
                                                    state: EVALUATED
                                report with snippets:
                                    value:
                                        fileSha: a4d58aa3caeb73b56028f597de2b3263d64e2835f277f31c97be53bc76a29e47
                                        scanContentRawReport:
                                            data_pattern_rule_1_results:
                                                -
                                                    detections:
                                                        -
                                                            left: |4-






                                                                 tax id number ***-**-**99 abs cupp
                                                                IBAN CH9300762011623852957 cusip 
                                                            right: " | *****0BG4 DEA *****3839 | *****5341 CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-****-6246 SHAKAI HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-**"
                                                            detection: '*******00'
                                                            original_text: '*******00'
                                                            origOffSet: 75
                                                            textLength: 0
                                                        -
                                                            left: >-
                                                                HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-****-6333

                                                                UK Tax UTR ******1030 ******1031 NINO GP 32 76
                                                                63 *****280B Germany Tax ID *******1827
                                                                *******8911 *******8796 visa 4556501518562241
                                                                4929091695478411 aba 
                                                            right: ' *****3532 ssn 098-07-33 16 480-33-1945 Canada SIN *** *** 425 *****3197 Australia Tax ID 45322 1716 98754015 Access Key ID 022QF06E7MXBSH9DHM02 AWS Secret Key kWcrlUX5JEDGM/LtmEENI/ aVmYvHNif5zB+d9+c'
                                                            detection: '*******55'
                                                            original_text: '*******55'
                                                            origOffSet: 446
                                                            textLength: 0
                                                        -
                                                            left: |4-






                                                                 tax id number 
                                                            right: " abs cupp\nIBAN CH9300762011623852957 cusip *******00 | *****0BG4 DEA *****3839 | *****5341 CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-***"
                                                            detection: '***-**-**99'
                                                            original_text: '***-**-**99'
                                                            origOffSet: 21
                                                            textLength: 0
                                                    data_pattern_id: 6374e1b4dee31d91c40b179d
                                                    version: 1
                                                    name: National Id - US Social Security Number - SSN
                                                    technique: regex
                                                    type: predefined
                                                    strict_detection_frequency: 0
                                                    proximity_detection_frequency: 7
                                                    detection_frequency: 7
                                                    unique_strict_detection_frequency: 0
                                                    unique_checksum_detection_frequency: 0
                                                    unique_proximity_detection_frequency: 7
                                                    unique_detection_frequency: 7
                                                    weighted_frequency: 0
                                                    high_confidence_frequency: 7
                                                    medium_confidence_frequency: 0
                                                    low_confidence_frequency: 7
                                                    unique_high_confidence_frequency: 7
                                                    unique_medium_confidence_frequency: 0
                                                    unique_low_confidence_frequency: 7
                                                    matched_confidence_level: high
                                                    state: EVALUATED
                                                    high_confidence_detections: {}
                                                    medium_confidence_detections: {}
                                                    low_confidence_detections: {}
                                                    edm_columns: []
                                        txn_id: '163570374'
                                        report_id: '163570374'
                                        data_profile_id: '11995044'
                                        data_profile_version: 1
                                        data_profile_name: PII
                                        type: basic
                                        tenant_id: '5886928188517009408'
                                        file_name: SSNpattern
                                        file_type: pdf
                                        file_size_in_bytes: 930
                                        extracted_file_size_in_bytes: 937
                                        detection_time: '02/10/2024 23:34:14 GMT'
                                        action: block
                                        data_pattern_rule_1_verdict: MATCHED
                    description: OK
                '400':
                    description: Bad Request. Got an invalid JSON.
                '401':
                    description: >-
                        Unauthorized access. An issue occurred during authentication. This can indicate an
                        incorrect key, ID, or other invalid authentication parameters.
                '403':
                    description: >-
                        Forbidden access. The provided API Key does not have the required permissions to run
                        this API.
                '500':
                    description: Internal server error. A unified status for API communication type errors.
            security:
                -
                    JWTAuth: []
            summary: Get Reports
            description: Get report
            operationId: getReport
        parameters:
            -
                name: fetchSnippets
                description: '(Optional) Boolean field when set to true, retrieves snippets from the DLP report.'
                schema:
                    type: boolean
                in: query
    '/v1/api/incidents/{incidentID}/assignee':
        description: Assign Incidents
        servers:
            -
                url: 'https://api.dlp.paloaltonetworks.com'
                description: ''
        put:
            requestBody:
                description: UUID of assignee
                content:
                    application/json:
                        schema:
                            type: string
                        examples:
                            UUID of assignee:
                                value: 00d53ebf-c386-4b95-ad05-6819517c3450
                required: true
            tags:
                - DLP API
            parameters:
                -
                    name: region
                    description: region the incident are belongs to (default to us)
                    schema:
                        enum:
                            - us
                            - eu
                            - uk
                            - jp
                            - in
                            - ap
                            - ca
                            - au
                            - par
                        type: string
                    in: query
                    required: false
                -
                    name: incidentID
                    description: ID of the Incident to be updated
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                '200':
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Assign Incidents
            operationId: updateIncidentAssignee
    '/v1/api/incidents/{incidentID}/notes':
        description: Update incident with notes
        servers:
            -
                url: 'https://api.dlp.paloaltonetworks.com'
                description: ''
        put:
            operationId: updateIncidentNotes
            requestBody:
                content:
                    application/json:
                        schema:
                            type: string
                        examples:
                            sample notes:
                                value: This is a note for incident
                required: true
            tags:
                - DLP API
            parameters:
                -
                    name: incidentID
                    description: ID of the Incident to be updated
                    schema:
                        type: string
                    in: path
                    required: true
                -
                    name: region
                    description: region the incident belongs to (default to us)
                    schema:
                        enum:
                            - us
                            - eu
                            - uk
                            - jp
                            - in
                            - ap
                            - ca
                            - au
                            - par
                        type: string
                    in: query
                    required: false
            responses:
                '200':
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Update Inicident Note
        delete:
            operationId: deleteIncidentNotes
            tags:
                - DLP API
            parameters:
                -
                    name: incidentID
                    description: ID of the Incident
                    schema:
                        type: string
                    in: path
                    required: true
                -
                    name: region
                    description: region the incident belongs to (default to us)
                    schema:
                        enum:
                            - us
                            - eu
                            - uk
                            - jp
                            - in
                            - ap
                            - ca
                            - au
                            - par
                        type: string
                    in: query
                    required: false
            responses:
                '200':
                    description: notes are deleted
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            summary: Remove Incident Notes
    '/v1/api/incidents/{incidentID}/resolution-status':
        description: Update incident resolution status
        servers:
            -
                url: 'https://api.dlp.paloaltonetworks.com'
                description: ''
        put:
            requestBody:
                content:
                    application/json:
                        schema:
                            type: string
                        examples:
                            resolution status:
                                value: assigned
                required: true
            tags:
                - DLP API
            parameters:
                -
                    name: incidentID
                    description: ID of the Incident to be updated
                    schema:
                        type: string
                    in: path
                    required: true
                -
                    name: region
                    description: region that incident belongs to (default to us)
                    schema:
                        enum:
                            - us
                            - eu
                            - uk
                            - jp
                            - in
                            - ap
                            - ca
                            - au
                            - par
                        type: string
                    in: query
                    required: false
            responses:
                '200':
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Update Incident Resolution
            operationId: updateIncidentResolutionStatus
    /v1/api/incidents/assignee:
        summary: Get All Assignees
        description: Get All Assignees
        servers:
            -
                url: 'https://api.dlp.paloaltonetworks.com'
                description: ''
        get:
            operationId: getIncidentAssignees
            tags:
                - DLP API
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/IncidentAssignee'
                            examples:
                                assignees:
                                    value:
                                        -
                                            id: 00d53ebf-c386-4b95-ad05-6819517c3450
                                            tenantId: '5886928188517009408'
                                            firstName: test u
                                            lastName: test
                                            emailAddress: test@test.com
                                            status: ACTIVE
                                            createdAt: '2024-Jan-11 23:16:33 UTC'
                                            updatedAt: '2024-Feb-14 19:13:01 UTC'
                                        -
                                            id: 133b9b0d-6e64-40ca-abec-15ff3b906b80
                                            tenantId: '5886928188517009408'
                                            firstName: user
                                            lastName: my last name
                                            emailAddress: user1@test.com
                                            status: ACTIVE
                                            createdAt: '2023-Aug-03 21:23:39 UTC'
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Get All Assignees
        put:
            operationId: createOrUpdateIncidentAssignees
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/IncidentAssigneeDTO'
                required: true
            tags:
                - DLP API
            responses:
                '200':
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Create or Update Incident Assignee
    '/v1/api/incidents/assignee/{assigneeId}':
        get:
            tags:
                - DLP API
            parameters:
                -
                    name: assigneeId
                    description: The ID of the assignee for the incident.
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IncidentAssignee'
                            examples:
                                assignee:
                                    value:
                                        id: 00d53ebf-c386-4b95-ad05-6819517c3450
                                        tenantId: '5886928188517009408'
                                        firstName: test
                                        lastName: test
                                        emailAddress: test@test.com
                                        status: ACTIVE
                                        createdAt: '2024-Jan-11 23:16:33 UTC'
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Get Assignee by ID
            operationId: getIncidentAssigneesById
    '/v2/api/incidents/{incidentID}':
        description: Get Incident Details
        servers:
            -
                url: 'https://api.dlp.paloaltonetworks.com'
                description: ''
        get:
            tags:
                - DLP API
            parameters:
                -
                    examples:
                        IncidentID Example:
                            value: 3fb38abe-a83b-44e5-99d5-4bec3765bba6
                    name: incidentID
                    description: ID of the incident
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IncidentResponseDTO'
                            examples:
                                incident detail:
                                    value:
                                        incident_id: 1a762308-3735-4d29-8edd-4595d4e3f982
                                        tenant_id: '5886928188517009408'
                                        report_id: '1107089697'
                                        data_profile_id: 11995044
                                        data_profile_name: PII
                                        file_sha: a4d58aa3caeb73b56028f597de2b3263d64e2835f277f31c97be53bc76a29e47
                                        file_name: SSNpattern
                                        incident_creation_time: '2024-Jan-18 21:46:54 UTC'
                                        channel: ngfw
                                        source: ngfw
                                        action: alert
                                        match_info:
                                            6374e1b4dee31d91c40b1705:
                                                name: Driver License - Slovenia
                                                version: 1
                                                lcf: 5
                                                hcf: 0
                                                mcf: 0
                                                ulcf: 5
                                                uhcf: 0
                                                umcf: 0
                                                detection_technique: regex
                                            6374e1b4dee31d91c40b1708:
                                                name: Driver License - Canada
                                                version: 1
                                                lcf: 13
                                                hcf: 0
                                                mcf: 0
                                                ulcf: 13
                                                uhcf: 0
                                                umcf: 0
                                                detection_technique: regex
                                            6374e1b4dee31d91c40b1709:
                                                name: Driver License - US
                                                version: 1
                                                lcf: 17
                                                hcf: 0
                                                mcf: 0
                                                ulcf: 17
                                                uhcf: 0
                                                umcf: 0
                                                detection_technique: regex
                                        snippets:
                                            6374e1b4dee31d91c40b1705:
                                                version: 1
                                                low_confidence_detections:
                                                    -
                                                        left: |4-






                                                             tax id number ***-**-**99 abs cupp
                                                            IBAN CH9300762011623852957 cusip 
                                                        right: " | *****0BG4 DEA *****3839 | *****5341 CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-****-6246 SHAKAI HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-**"
                                                        detection: '*******00'
                                                        original_text: '*******00'
                                                        origOffSet: 75
                                                        textLength: 0
                                                    -
                                                        left: >-
                                                            HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-****-6333

                                                            UK Tax UTR ******1030 ******1031 NINO GP 32 76 63
                                                            *****280B Germany Tax ID *******1827 *******8911
                                                            *******8796 visa 4556501518562241 4929091695478411
                                                            aba 
                                                        right: ' *****3532 ssn 098-07-33 16 480-33-1945 Canada SIN *** *** 425 *****3197 Australia Tax ID 45322 1716 98754015 Access Key ID 022QF06E7MXBSH9DHM02 AWS Secret Key kWcrlUX5JEDGM/LtmEENI/ aVmYvHNif5zB+d9+c'
                                                        detection: '*******55'
                                                        original_text: '*******55'
                                                        origOffSet: 446
                                                        textLength: 0
                                                    -
                                                        left: >-
                                                            BANGŌ SEIDO MAINANBA ****-****-6333

                                                            UK Tax UTR ******1030 ******1031 NINO GP 32 76 63
                                                            *****280B Germany Tax ID *******1827 *******8911
                                                            *******8796 visa 4556501518562241 4929091695478411
                                                            aba *******55 
                                                        right: ' ssn 098-07-33 16 480-33-1945 Canada SIN *** *** 425 *****3197 Australia Tax ID 45322 1716 98754015 Access Key ID 022QF06E7MXBSH9DHM02 AWS Secret Key kWcrlUX5JEDGM/LtmEENI/ aVmYvHNif5zB+d9+ct ;5301250'
                                                        detection: '*****3532'
                                                        original_text: '*****3532'
                                                        origOffSet: 456
                                                        textLength: 0
                                            6374e1b4dee31d91c40b1708:
                                                version: 1
                                                low_confidence_detections:
                                                    -
                                                        left: |4-






                                                             tax id number ***-**-**99 abs cupp
                                                            IBAN CH9300762011623852957 cusip 
                                                        right: " | *****0BG4 DEA *****3839 | *****5341 CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-****-6246 SHAKAI HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-**"
                                                        detection: '*******00'
                                                        original_text: '*******00'
                                                        origOffSet: 75
                                                        textLength: 0
                                                    -
                                                        left: >4-






                                                             tax id number ***-**-**99 abs cupp
                                                            IBAN CH9300762011623852957 cusip *******00 |
                                                            *****0BG4 DEA *****3839 | 
                                                        right: " CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-****-6246 SHAKAI HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-****-6333\nUK Tax UTR ******1030 ******10"
                                                        detection: '*****5341'
                                                        original_text: '*****5341'
                                                        origOffSet: 113
                                                        textLength: 0
                                                    -
                                                        left: >4-






                                                             tax id number ***-**-**99 abs cupp
                                                            IBAN CH9300762011623852957 cusip *******00 |
                                                            *****0BG4 DEA 
                                                        right: " | *****5341 CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-****-6246 SHAKAI HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-****-6333\nUK Tax UTR ******1"
                                                        detection: '*****3839'
                                                        original_text: '*****3839'
                                                        origOffSet: 101
                                                        textLength: 0
                                            6374e1b4dee31d91c40b1709:
                                                version: 1
                                                low_confidence_detections:
                                                    -
                                                        left: |4-






                                                             tax id number ***-**-**99 abs cupp
                                                            IBAN CH9300762011623852957 cusip 
                                                        right: " | *****0BG4 DEA *****3839 | *****5341 CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-****-6246 SHAKAI HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-**"
                                                        detection: '*******00'
                                                        original_text: '*******00'
                                                        origOffSet: 75
                                                        textLength: 0
                                                    -
                                                        left: >4-






                                                             tax id number ***-**-**99 abs cupp
                                                            IBAN CH9300762011623852957 cusip *******00 |
                                                            *****0BG4 DEA *****3839 | *****5341 CLIA
                                                            24C3872984 | 05D0911402

                                                            HETU number 
                                                        right: "-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-****-6246 SHAKAI HOSHŌ ZEI BANGŌ SEIDO MAINANBA ****-****-6333\nUK Tax UTR ******1030 ******1031 NINO GP 32 76 63 *****280B Germany Tax ID ***"
                                                        detection: '******'
                                                        original_text: '******'
                                                        origOffSet: 164
                                                        textLength: 0
                                                    -
                                                        left: |4-






                                                             tax id number 
                                                        right: " abs cupp\nIBAN CH9300762011623852957 cusip *******00 | *****0BG4 DEA *****3839 | *****5341 CLIA 24C3872984 | 05D0911402\nHETU number ******-856E | *******0490\L\nCPF | **************1-30 CNPJ\L\n*-****-***"
                                                        detection: '***-**-**99'
                                                        original_text: '***-**-**99'
                                                        origOffSet: 21
                                                        textLength: 0
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Get Incident Details
            operationId: getIncident
        parameters:
            -
                name: region
                description: region(default to us)
                schema:
                    enum:
                        - us
                        - eu
                        - uk
                        - jp
                        - in
                        - ap
                        - ca
                        - au
                        - par
                    type: string
                in: query
    /v2/api/incidents:
        description: Get Bulk Incidents
        servers:
            -
                url: 'https://api.dlp.paloaltonetworks.com'
                description: ''
        get:
            tags:
                - DLP API
            parameters:
                -
                    name: ascending
                    description: get the list of incident in ascending order or not(default false)
                    schema:
                        type: boolean
                    in: query
                    required: false
                -
                    name: channel
                    description: ngfw or prisma-access
                    schema:
                        enum:
                            - ngfw
                            - prisma-access
                        type: string
                    in: query
                    required: false
                -
                    name: end_time
                    description: query incident until
                    schema:
                        format: date-time
                        type: string
                    in: query
                    required: false
                -
                    name: file_shas
                    description: >-
                        get incidents triggered by file hash. must be a comma separated list of one or more
                        sha256 hashes of files
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: page_number
                    description: page_number
                    schema:
                        format: int32
                        type: integer
                    in: query
                    required: false
                -
                    name: page_size
                    description: page_size
                    schema:
                        format: int32
                        type: integer
                    in: query
                    required: false
                -
                    name: region
                    description: region (defaults to us)
                    schema:
                        type: string
                        enum:
                            - us
                            - eu
                            - uk
                            - jp
                            - in
                            - ap
                            - ca
                            - au
                            - par
                    in: query
                    required: false

                -
                    name: report_ids
                    description: report_ids
                    schema:
                        type: array
                        items:
                            type: string
                    in: query
                    required: false
                -
                    name: sort_by
                    description: sort by. default sort by creation time
                    schema:
                        type: string
                    in: query
                    required: false
                -
                    name: start_time
                    description: start_time
                    schema:
                        format: date-time
                        type: string
                    in: query
                    required: false
                -
                    name: user_ids
                    description: query by user ids
                    schema:
                        type: array
                        items:
                            type: string
                    in: query
                    required: false
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IncidentResponse'
                            examples:
                                incidentResponseExample:
                                    value:
                                        page:
                                            size: 10
                                            number: 1
                                            total_elements: 290
                                            total_pages: 29
                                        resources:
                                            -
                                                incident_id: 7c3dca3d-1c08-4147-b171-9faba84739d4
                                                tenant_id: '5886928188517009408'
                                                report_id: '1572154781'
                                                data_profile_id: 11995044
                                                data_profile_name: PII
                                                file_sha: >-
                                                    a4d58aa3caeb73b56028f597de2b3263d64e2835f277f31c97be53bc76a29e47
                                                file_name: SSNpattern
                                                file_type: pdf
                                                incident_creation_time: '2023-Dec-07 18:41:12 UTC'
                                                channel: ngfw
                                                source: ngfw
                                                action: alert
                                            -
                                                incident_id: 81985a40-dae5-4e80-8147-678892ccfc00
                                                tenant_id: '5886928188517009408'
                                                report_id: '2968440380'
                                                data_profile_id: 11995410
                                                data_profile_name: Portugal_LNAME_high
                                                file_sha: >-
                                                    6c25d79cd1dee00b3a6ee6bbb985dae6ee5bdfa31a8dfcffa241786c8c3893a7
                                                file_name: test_portugal_LNAME.txt
                                                file_type: txt
                                                incident_creation_time: '2023-Dec-07 18:39:38 UTC'
                                                channel: ngfw
                                                source: ngfw
                                                action: alert
                                            -
                                                incident_id: 08f014d8-ed13-490e-bfc4-7363f43a4af1
                                                tenant_id: '5886928188517009408'
                                                report_id: '1347859663'
                                                data_profile_id: 11995355
                                                data_profile_name: inline_timing_11_12_edm
                                                file_sha: >-
                                                    6c8d18c544aba3b44cfa487d5020ec102a6317a6a5164e270bbecf6ea37df925
                                                file_name: all_patterns_data_1_MB.txt
                                                file_type: txt
                                                incident_creation_time: '2023-Dec-06 19:39:46 UTC'
                                                channel: ngfw
                                                source: ngfw
                                                action: alert
                                            -
                                                incident_id: 6c7d838a-1b25-44fe-8917-1ff760c0eae5
                                                tenant_id: '5886928188517009408'
                                                report_id: '3741398016'
                                                data_profile_id: 11995295
                                                data_profile_name: DemoWideNestedProfile
                                                file_sha: >-
                                                    a4d58aa3caeb73b56028f597de2b3263d64e2835f277f31c97be53bc76a29e47
                                                file_name: SSNpattern
                                                file_type: pdf
                                                incident_creation_time: '2023-Dec-05 21:54:21 UTC'
                                                channel: ngfw
                                                source: ngfw
                                                action: alert
                    description: OK
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden
                '404':
                    description: Not Found
                '500':
                    description: Internal server error
            security:
                -
                    JWTAuth: []
            summary: Get Incidents
            operationId: getAllIncidentsV2
    /v4/api/incidents:
        post:
            tags:
                - DLP API (Beta)
            summary: Retrieve initial incident records with token
            description: |
                This API is used for the initial retrieval of incident details. It allows you to
                specify a time range, the desired page size, and an optional maximum number of rows
                to fetch. Upon successful execution, it returns a set of incident records and a
                pagination token that must be used for subsequent paginated requests via the
                GET /incidents API;
            operationId: getIncidentInventory
            parameters:
                - name: include_data_profiles
                  in: query
                  description: Flag to include data profiles.
                  schema:
                      type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/IncidentInventoryRequest'
                        example:
                            time_range: HOUR_24
                required: true
            responses:
                "200":
                    description: Successful!
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IncidentInventoryResponse'
                            example:
                                rows:
                                    - action: block
                                      asset_name: test asset name
                                      control_point: PRISMA_ACCESS
                                      created_date: 1753121720515000
                                      data_profile_id: "11995064"
                                      destination: web-browsing
                                      incident_id: 58feac56-e49d-43b3-ade3-c2d8e34ecd68
                                      modified_date: 1753121720515739
                                      policy_type: Network
                                      report_id: "3082846756"
                                      severity: "2"
                                      source: palodlp11
                                      source_region: US_STG
                                      status: New
                                      sub_policy_type: Data in Motion
                                      url_domain: test url domain
                                status: READY
                                status_description: Query results are ready.
                                query_token: test_token
                                total_rows: 1
                "400":
                    description: Bad Request
                "500":
                    description: Internal Server Error
        get:
            tags:
                - DLP API (Beta)
            summary: Retrieve paginated incident records using token
            description: This API is used to fetch subsequent pages of incident records after an initial request to the POST /incidents API. It requires a token obtained from the initial POST request, along with page_size and offset to control pagination.
            operationId: getIncidentInventoryTableResults
            parameters:
                - name: token
                  in: query
                  description: The pagination token received from the initial POST /incidents API call. This token identifies the specific query for which results are being paginated.
                  required: true
                  schema:
                      type: string
                - name: offset
                  in: query
                  description: The row offset from which to start fetching incident records. For the first paginated request, this would typically be page_size. For subsequent requests, it would be previous_offset + page_size
                  required: true
                  schema:
                      type: string
                - name: pageSize
                  in: query
                  description: The maximum number of incident records to return in this paginated response. This value should be between 1 and 1000
                  required: true
                  schema:
                      type: string
                - name: include_data_profiles
                  in: query
                  description: Flag to include data profiles
                  schema:
                      type: string
            responses:
                "200":
                    description: Successful!
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IncidentInventoryResponse'
                            example:
                                rows:
                                    - action: block
                                      asset_name: test asset name
                                      control_point: PRISMA_ACCESS
                                      created_date: 1753121720515000
                                      data_profile_id: "11995064"
                                      destination: web-browsing
                                      incident_id: 58feac56-e49d-43b3-ade3-c2d8e34ecd68
                                      modified_date: 1753121720515739
                                      policy_type: Network
                                      report_id: "3082846756"
                                      severity: "2"
                                      source: palodlp11
                                      source_region: US_STG
                                      status: New
                                      sub_policy_type: Data in Motion
                                      url_domain: test url domain
                                status: READY
                                status_description: Query results are ready.
                                query_token: test_token
                                total_rows: 1
                "400":
                    description: Bad Request
                "500":
                    description: Internal Server Error
    /v4/api/incidents/download:
        post:
            tags:
                - DLP API (Beta)
            summary: Get signed download URL for incidents
            description: |
                Generate a secure, time-limited URL (valid for 5 minutes) to directly download incident
                records as a CSV file. Define your desired dataset by providing a time_range, optional
                filter criteria, and maxRows.
            operationId: exportIncidentsAndGetUrl
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ResultsDownloadRequest'
                        example:
                            time_range: HOUR_24
                required: true
            responses:
                "200":
                    description: Successful!
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ResultsDownloadResponse'
                            example:
                                download_url: https://storage.googleapis.com/casb-data-platform-prod-uim-inc-export/1494634703/incidents_20250721_205140_e3f288124dec432c8f94ed4f5b49b19b.csv.gz?test_signed_url
                "400":
                    description: Bad Request
                "500":
                    description: Internal Server Error
    /v4/api/incidents/management:
        post:
            tags:
                - DLP API (Beta)
            summary: Update key details for incidents
            description: |
                Update key incident information like assignee details, resolution status, priority,
                tags, and notes. Provide the incident_ids for the incidents you want to change, along
                with an update_details object containing only the specific fields you wish to modify.
            operationId: updateIncidents
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/IncidentUpdateRequest'
                        example:
                            incident_ids:
                                - 5ba587fd-4b83-416d-998f-16d79c7da889
                                - 58feac56-e49d-43b3-ade3-c2d8e34ecd68
                            update_details:
                                assignee_display_name: John Doe
                                assignee_email: john.doe@example.com
                                assignee_id: user123
                                resolution_status: under_investigation
                                priority: 2
                                tag: security-review
                                notes: Escalated for further investigation
                                resolved_by: admin@example.com
                required: true
            responses:
                "200":
                    description: Successful!
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IncidentUpdateResults'
                            example:
                                success: 1
                "400":
                    description: Bad Request
                "500":
                    description: Internal Server Error
    '/v4/api/incidents/{id}':
        get:
            tags:
                - DLP API (Beta)
            summary: Retrieve incident details by ID
            description: For a given incident id, return incident details.
            operationId: getIncidentDetails
            parameters:
                - name: id
                  in: path
                  description: Incident ID.
                  required: true
                  schema:
                      type: string
                - name: includeSnippets
                  in: query
                  description: Include snippet details in the response.
                  schema:
                      type: boolean
                      default: false
            responses:
                "200":
                    description: Successful!
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IncidentDetailResponse'
                            example:
                                rows:
                                    - id: 5ba587fd-4b83-416d-998f-16d79c7da889
                                      tsg_id: "1016831479"
                                      control_point: NGFW
                                      created_date: 1752910252943000
                                      modified_date: 1753137046114000
                                      status: New
                                      notes: test
                                      severity: "5"
                                      category: test
                                      direction: upload
                                      report_id: "229650498"
                                      report_date: 1752910252937000
                                      resolved_by: test
                                      source: 188.188.188.10
                                      destination: 185.125.188.57
                                      url: test
                                      priority: 1
                                      action: block
                                      asset_id: 5ba587fd-4b83-416d-998f-16d79c7da889
                                      asset_name: UNKNOWN
                                      asset_hash: test hash
                                      asset_size: test
                                      tag: test
                                      asset_risk: 25
                                      assigned_to: test
                                      assignee_name: test
                                      assignee_email: test
                                      app_id: "109"
                                      app_type: "0"
                                      app_name: test
                                      app_instance_id: test
                                      app_tags:
                                          - test1
                                          - test2
                                      data_profiles:
                                          - id: "11995181"
                                            name: AEL_Granular
                                            version: test
                                      data_patterns:
                                          - id: 65779c793375232371f9886c
                                            name: test
                                            type: predefined
                                            technique: regex
                                            language: test
                                            category_score: 0
                                            high_confidence_frequency: 2
                                            medium_confidence_frequency: 0
                                            low_confidence_frequency: 4
                                            sub_category_score: 0
                                            total_detection_frequency: 4
                                            total_strict_detection_frequency: 0
                                            strict_detection_frequency: 0
                                            detection_frequency: 4
                                            weighted_frequency: 0
                                            version: 1
                                      peripheral_info:
                                          group_id: ""
                                          group_name: ""
                                          id: test id
                                          is_known: false
                                          manufacturer_name: General
                                          name: USB-4GB
                                          product_id: "1000"
                                          product_name: USB Flash Disk
                                          serial_number: "0415090000013290"
                                          type: usb
                                          vendor_id: 090C
                                      policy:
                                          policy_id: test
                                          policy_type: network
                                          policy_version: test
                                      device_info:
                                          - id: test
                                            name: test
                                            ip: 188.188.188.10
                                            serial_number: "024401003837"
                                            loggedin_users:
                                                - test
                                      reason_for_action: test
                                      endpoint_os_info:
                                          dlp_client_version: test
                                          gp_version: test
                                          os_type: test
                                          os_version: test
                                      user_id: globaltestuser1
                                      user_email: test
                                      user_name: test
                                      user_location: test
                                      user_department: test
                                      user_manager: test
                                      exposure: test
                                      exposure_details:
                                          is_exposed_by_parent_folder: false
                                          is_public_url: false
                                          is_shared_url: false
                                          is_sign_in_required: true
                                          cloud_url: test cloud url
                                          public_url: test public url
                                status: READY
                                status_description: Query results are ready.
                                total_rows: 1
                "400":
                    description: Bad Request
                "500":
                    description: Internal Server Error
components:
    schemas:
        PageData:
            title: PageData
            type: object
            properties:
                number:
                    format: int32
                    type: integer
                size:
                    format: int32
                    type: integer
                total_elements:
                    format: int32
                    type: integer
                total_pages:
                    format: int32
                    type: integer
        IncidentResponse:
            title: PagedDataResponse<IncidentDTO>
            required:
                - page
            type: object
            properties:
                page:
                    $ref: '#/components/schemas/PageData'
                    description: ''
                resources:
                    type: array
                    items:
                        $ref: '#/components/schemas/IncidentDTO'
        IncidentDTO:
            title: IncidentDTO
            type: object
            properties:
                action:
                    enum:
                        - alert
                        - block
                        - none
                    type: string
                app_id:
                    type: string
                app_name:
                    type: string
                channel:
                    enum:
                        - ngfw
                        - prisma-access
                    type: string
                data_profile_id:
                    format: int64
                    type: integer
                data_profile_name:
                    type: string
                file_name:
                    type: string
                file_sha:
                    type: string
                file_type:
                    type: string
                incident_creation_time:
                    type: string
                    example: 'yyyy-MMM-dd HH:mm:ss z'
                incident_id:
                    format: uuid
                    type: string
                report_id:
                    type: string
                source:
                    type: string
                tenant_id:
                    type: string
                user:
                    type: string
        MatchInfo:
            title: MatchInfo
            type: object
            properties:
                detection_technique:
                    enum:
                        - document_fingerprint
                        - edm
                        - file_property
                        - ml
                        - ml_document
                        - regex
                        - titus_tag
                        - trainable_classifier
                        - weighted_regex
                    type: string
                edm_columns:
                    uniqueItems: true
                    type: array
                    items:
                        type: string
                hcf:
                    format: int32
                    description: high confidence frequency
                    type: integer
                lcf:
                    format: int32
                    description: low confidence frequency
                    type: integer
                mcf:
                    format: int32
                    description: medium confidence frequency
                    type: integer
                name:
                    description: pattern name
                    type: string
                uhcf:
                    format: int32
                    description: unique high confidence frequency
                    type: integer
                ulcf:
                    format: int32
                    description: unique low confidence frequency
                    type: integer
                umcf:
                    format: int32
                    description: unique medium confidence frequency
                    type: integer
                version:
                    format: int32
                    description: data pattern version
                    type: integer
        IncidentResponseDTO:
            title: IncidentResponseDTO
            type: object
            properties:
                action:
                    description: Action taken on the incident.
                    enum:
                        - alert
                        - block
                    type: string
                app_id:
                    description: Palo Alto Networks assigned Application ID.
                    type: string
                app_name:
                    description: The name of the application.
                    type: string
                channel:
                    description: The Palo Alto Networks channel that identified the incident.
                    enum:
                        - ngfw
                        - prisma-access
                    type: string
                data_profile_id:
                    format: int64
                    description: The UUID profile descriptor used to characterize the incident.
                    type: integer
                data_profile_name:
                    description: The data profile descriptor used to characterize the incident.
                    type: string
                file_name:
                    description: The analyzed file name.
                    type: string
                file_sha:
                    description: The analyzed file SHA hash.
                    type: string
                file_type:
                    description: The analyzed file type.
                    type: string
                incident_creation_time:
                    description: The time the incident first occurred.
                    type: string
                    example: 'yyyy-MMM-dd HH:mm:ss z'
                incident_id:
                    format: uuid
                    description: The Palo Alto Networks automatically assigned incident ID.
                    type: string
                report_id:
                    description: >-
                        The Palo Alto Networks automatically assigned report ID that you can use to retrieve
                        reports.
                    type: string
                source:
                    description: The Palo Alto Networks source that identified the incident.
                    type: string
                tenant_id:
                    description: The TSG enabled tenant used to identify the Incident.
                    type: string
                user:
                    description: The user assosciated with te incident.
                    type: string
                incident_feedback_status:
                    description: Current status of the feedback assosicated with the incident.
                    type: string
                incident_notes:
                    description: User defined notes for the incident.
                    type: string
                resolution_status:
                    description: Resolution status from Enterprise DLP status.
                    type: string
                assignee_id:
                    description: Automatically assigned ID of the assignee.
                    type: string
                session_key:
                    type: string
                    description: Specifies a session key assosciated with the incident.
                snippets:
                    description: A JSON structure containing snippet data, if snippets are not enabled, the field returns as null.
                    type: string
                match_info:
                    $ref: '#/components/schemas/MatchInfo'
                    description: ''
                    example: |
                        "65a0209ce36cd3480011d677": {
                                    "name": "EDM - PatricksDataSet20240111",
                                    "version": 1,
                                    "lcf": 10,
                                    "hcf": 10,
                                    "mcf": 0,
                                    "ulcf": 10,
                                    "uhcf": 10,
                                    "umcf": 0,
                                    "detection_technique": "edm",
                                    "edm_columns": [
                                        "credit_card_number",
                                        "social_security_number"
                                    ]
                                }
            example:
                incident_id: 4adeefe4-8358-411e-8ba7-5f45e5625c58
                tenant_id: '5886928188517009408'
                report_id: '530470823'
                data_profile_id: 11995590
                data_profile_name: PatricksDPwEDM
                file_sha: 9d8ce237eff10b5ac4b4c8fed0d7988ca6cc4f090f90230acd8dad36fb7da636
                file_name: 100_rows_10_cols_tail.csv
                incident_creation_time: '2024-Jan-11 17:14:30 UTC'
                channel: prisma-access
                source: prisma-access
                action: alert
                incident_notes: test notes
                resolution_status: Assigned
                assignee_id: 00d53ebf-c386-4b95-ad05-6819517c3450
                match_info:
                    65a0209ce36cd3480011d677:
                        name: EDM - PatricksDataSet20240111
                        version: 1
                        lcf: 10
                        hcf: 10
                        mcf: 0
                        ulcf: 10
                        uhcf: 10
                        umcf: 0
                        detection_technique: edm
                        edm_columns:
                            - credit_card_number
                            - social_security_number
        IncidentAssignee:
            title: IncidentAssignee
            required:
                - status
            type: object
            properties:
                createdAt:
                    description: create at
                    type: string
                    example: 'yyyy-MMM-dd HH:mm:ss z'
                emailAddress:
                    description: email address of the assignee
                    type: string
                firstName:
                    description: assignee first name
                    type: string
                id:
                    format: uuid
                    description: ID of the assignee
                    type: string
                lastName:
                    description: assignee last name
                    type: string
                status:
                    description: active assignee or inactivate assignee
                    enum:
                        - ACTIVE
                        - INACTIVE
                    type: string
                    example: '"ACTIVE" or "INACTIVE"'
                tenantId:
                    description: dlp tenant id
                    type: string
                updatedAt:
                    description: ''
                    type: string
                    example: 'yyyy-MMM-dd HH:mm:ss z'
        ScanContentResponse:
            title: ScanContentResponse
            type: object
            properties:
                data_pattern_rule_1_verdict:
                    enum:
                        - MATCHED
                        - NOT_EVALUATED
                        - NOT_MATCHED
                    type: string
                data_pattern_rule_2_verdict:
                    enum:
                        - MATCHED
                        - NOT_EVALUATED
                        - NOT_MATCHED
                    type: string
                data_profile_name:
                    description: Profile of the detection rules
                    type: string
                file_name:
                    description: Name of the scanned file
                    type: string
                report_id:
                    description: ID of the retrieved report
                    type: string
                scanContentRawReport:
                    description: List of report data
                    type: string
                tenant_id:
                    description: DLP tenant ID
                    type: string
        IncidentAssigneeDTO:
            title: IncidentAssigneeDTO
            required:
                - status
                - emailAddress
                - firstName
                - lastName
            type: object
            properties:
                emailAddress:
                    description: Email address of the assignee
                    type: string
                firstName:
                    description: Assignees first name
                    type: string
                id:
                    format: uuid
                    description: >-
                        ID of the assignee(optional). If you do not provide an ID, the API will create a new
                        assignee.
                    type: string
                lastName:
                    description: assignee last name
                    type: string
                status:
                    description: active assignee or inactivate assignee
                    enum:
                        - ACTIVE
                        - INACTIVE
                    type: string
                    example: '"ACTIVE" or "INACTIVE"'
        IncidentInventoryRequest:
            type: object
            properties:
                filter:
                    type: string
                    description: |
                        Filter expression string
                        <br>Operators supported: =, in and AND
                        <br>Pattern: {FilterName} = {value} or {FilterName} in ({value1}, {value2}, ...)
                        <br>Supported FilterName values:
                        - Action: Filter by action taken (e.g., 'block', 'allow')
                        - ApplicationName: Filter by application name
                        - Asset: Filter by asset name
                        - AssigneeId: Filter by assignee user ID
                        - AssigneeName: Filter by assignee display name
                        - Channel: Filter by channel (e.g., 'PRISMA_ACCESS', 'NGFW')
                        - DataPattern: Filter by detection types/data patterns (e.g., 'SSN', 'Credit Card')
                        - DataProfile: Filter by data profile ID
                        - Destination: Filter by destination
                        - IncidentId: Filter by specific incident ID
                        - Priority: Filter by priority level (numeric values 1-5)
                        - ReportId: Filter by report ID
                        - Severity: Filter by severity level
                                - 5 = Critical
                                - 4 = High
                                - 3 = Medium
                                - 2 = Low
                                - 1 = Informational
                        - Source: Filter by source
                        - Region: Filter by region (e.g., 'US', 'EU', 'UK', 'SG', 'IN', 'AU', 'CA', 'JP')
                        - Status: Filter by incident status (e.g., 'New', 'open', 'under_investigation', 'closed')
                        - UrlDomain: Filter by URL domain
                        - Tag: Filter by incident tags
                        
                        Examples:
                        - "Tag = 'Needs Escalation'"
                        - "Status in ('New','open','under_investigation')"
                        - "UrlDomain = 'dlptest.com'"
                        - "Channel = 'PRISMA_ACCESS' AND DataProfile in ('11995030','11995033')"
                    example: Tag = 'Needs Escalation'
                    minLength: 1
                time_range:
                    type: string
                    enum:
                        - HOUR_1
                        - HOUR_3
                        - HOUR_24
                        - DAY_7
                        - DAY_30
                        - DAY_90
                        - CUSTOM
                start_time:
                    type: integer
                    format: int64
                    writeOnly: true
                    description: "Required when time_range is CUSTOM. Start time as Unix timestamp in milliseconds(ms)."
                end_time:
                    type: integer
                    format: int64
                    writeOnly: true
                    description: "Required when time_range is CUSTOM. Start time as Unix timestamp in milliseconds(ms)."
                columns:
                    type: array
                    items:
                        type: string
                    writeOnly: true
                    description: "Optional columns to include in the response"
                sort_by:
                    type: string
                    writeOnly: true
                    description: "Optional field to sort by"
                sort_order:
                    type: string
                    writeOnly: true
                    description: "Optional sort order (asc/desc)"
                page_size:
                    type: integer
                    format: int32
                    writeOnly: true
                    description: "Size for pagination"
                max_rows:
                    type: integer
                    format: int32
                    writeOnly: true
                    example: 10000
                    description: "Maximum number of rows to return (optional, e.g., 1000)"
            required:
                - time_range
        IncidentInventoryEntity:
            type: object
            properties:
                action:
                    type: string
                asset_name:
                    type: string
                assignee_email:
                    type: string
                assignee_id:
                    type: string
                assignee_name:
                    type: string
                control_point:
                    type: string
                created_date:
                    type: integer
                    format: int64
                data_profile_id:
                    type: string
                destination:
                    type: string
                incident_id:
                    type: string
                modified_date:
                    type: integer
                    format: int64
                notes:
                    type: string
                peripheral_name:
                    type: string
                peripheral_type:
                    type: string
                policy_type:
                    type: string
                priority:
                    type: integer
                    format: int32
                report_id:
                    type: string
                resolved_by:
                    type: string
                severity:
                    type: string
                source:
                    type: string
                source_region:
                    type: string
                status:
                    type: string
                sub_policy_type:
                    type: string
                tag:
                    type: string
                url_domain:
                    type: string
        IncidentInventoryResponse:
            type: object
            properties:
                rows:
                    type: array
                    items:
                        $ref: '#/components/schemas/IncidentInventoryEntity'
                status:
                    type: string
                    enum:
                        - READY
                        - PENDING
                status_description:
                    type: string
                query_token:
                    type: string
                total_rows:
                    type: integer
                    format: int64
        ResultsDownloadRequest:
            type: object
            properties:
                filter:
                    type: string
                    description: |
                        Filter expression string
                        <br>Operators supported: =, in and AND
                        <br>Pattern: {FilterName} = {value} or {FilterName} in ({value1}, {value2}, ...)
                        <br>Supported FilterName values:
                        - Action: Filter by action taken (e.g., 'block', 'allow')
                        - ApplicationName: Filter by application name
                        - Asset: Filter by asset name
                        - AssigneeId: Filter by assignee user ID
                        - AssigneeName: Filter by assignee display name
                        - Channel: Filter by channel (e.g., 'PRISMA_ACCESS', 'NGFW')
                        - DataPattern: Filter by detection types/data patterns (e.g., 'SSN', 'Credit Card')
                        - DataProfile: Filter by data profile ID
                        - Destination: Filter by destination
                        - IncidentId: Filter by specific incident ID
                        - Priority: Filter by priority level (numeric values 1-5)
                        - ReportId: Filter by report ID
                        - Severity: Filter by severity level
                                - 5 = Critical
                                - 4 = High
                                - 3 = Medium
                                - 2 = Low
                                - 1 = Informational
                        - Source: Filter by source
                        - Region: Filter by region (e.g., 'US', 'EU', 'UK', 'SG', 'IN', 'AU', 'CA', 'JP')
                        - Status: Filter by incident status (e.g., 'New', 'open', 'under_investigation', 'closed')
                        - UrlDomain: Filter by URL domain
                        - Tag: Filter by incident tags
                        
                        Examples:
                        - "Tag = 'Needs Escalation'"
                        - "Status in ('New','open','under_investigation')"
                        - "UrlDomain = 'dlptest.com'"
                        - "Channel = 'PRISMA_ACCESS' AND DataProfile in ('11995030','11995033')"
                    example: Tag = 'Needs Escalation'
                time_range:
                    type: string
                    enum:
                        - HOUR_1
                        - HOUR_3
                        - HOUR_24
                        - DAY_7
                        - DAY_30
                        - DAY_90
                        - CUSTOM
                start_time:
                    type: integer
                    format: int64
                    writeOnly: true
                    description: "Required when time_range is CUSTOM. Start time as Unix timestamp in milliseconds(ms)."
                end_time:
                    type: integer
                    format: int64
                    writeOnly: true
                    description: "Required when time_range is CUSTOM. End time as Unix timestamp in milliseconds(ms)."
                columns:
                    type: array
                    items:
                        type: string
                    writeOnly: true
                    description: "Optional columns to include in the response"
                sort_by:
                    type: string
                    writeOnly: true
                    description: "Optional field to sort by"
                sort_order:
                    type: string
                    writeOnly: true
                    description: "Optional sort order (asc/desc)"
                max_rows:
                    type: integer
                    format: int32
                    writeOnly: true
                    example: 10000
                    description: "Maximum number of rows to return (optional, e.g., 1000)"
                token:
                    type: string
            required:
                - time_range
        ResultsDownloadResponse:
            type: object
            properties:
                download_url:
                    type: string
        IncidentUpdateDetails:
            type: object
            properties:
                notes:
                    type: string
                assignee_id:
                    type: string
                assignee_email:
                    type: string
                assignee_display_name:
                    type: string
                resolved_by:
                    type: string
                resolution_status:
                    type: string
                priority:
                    type: integer
                    format: int32
                tag:
                    type: string
        IncidentUpdateRequest:
            type: object
            properties:
                incident_ids:
                    type: array
                    items:
                        type: string
                        format: uuid
                    minItems: 1
                update_details:
                    $ref: '#/components/schemas/IncidentUpdateDetails'
            required:
                - incident_ids
                - update_details
        ErrorInfo:
            type: object
            properties:
                id:
                    type: string
                    minLength: 1
                error_message:
                    type: string
                    minLength: 1
                error_code:
                    type: string
                    minLength: 1
        IncidentUpdateResults:
            type: object
            properties:
                success:
                    type: integer
                    format: int32
                error:
                    $ref: '#/components/schemas/ErrorInfo'
        DataPattern:
            type: object
            properties:
                id:
                    type: string
                name:
                    type: string
                type:
                    type: string
                technique:
                    type: string
                language:
                    type: string
                category_score:
                    type: integer
                    format: int32
                high_confidence_frequency:
                    type: integer
                    format: int32
                medium_confidence_frequency:
                    type: integer
                    format: int32
                low_confidence_frequency:
                    type: integer
                    format: int32
                sub_category_score:
                    type: integer
                    format: int32
                total_detection_frequency:
                    type: integer
                    format: int32
                total_strict_detection_frequency:
                    type: integer
                    format: int32
                strict_detection_frequency:
                    type: integer
                    format: int32
                detection_frequency:
                    type: integer
                    format: int32
                weighted_frequency:
                    type: integer
                    format: int32
                version:
                    type: integer
                    format: int32
        DataProfile:
            type: object
            properties:
                id:
                    type: string
                name:
                    type: string
                version:
                    type: string
        DeviceInfo:
            type: object
            properties:
                id:
                    type: string
                name:
                    type: string
                ip:
                    type: string
                serial_number:
                    type: string
                loggedin_users:
                    type: array
                    items:
                        type: string
        EndpointOsInfo:
            type: object
            properties:
                dlp_client_version:
                    type: string
                gp_version:
                    type: string
                os_type:
                    type: string
                os_version:
                    type: string
        ExposureDetails:
            type: object
            properties:
                is_exposed_by_parent_folder:
                    type: boolean
                is_public_url:
                    type: boolean
                is_shared_url:
                    type: boolean
                is_sign_in_required:
                    type: boolean
                cloud_url:
                    type: string
                public_url:
                    type: string
        IncidentDetailEntity:
            type: object
            properties:
                id:
                    type: string
                tsg_id:
                    type: string
                control_point:
                    type: string
                created_date:
                    type: integer
                    format: int64
                modified_date:
                    type: integer
                    format: int64
                status:
                    type: string
                notes:
                    type: string
                severity:
                    type: string
                category:
                    type: string
                direction:
                    type: string
                report_id:
                    type: string
                report_date:
                    type: integer
                    format: int64
                resolved_by:
                    type: string
                source:
                    type: string
                destination:
                    type: string
                url:
                    type: string
                priority:
                    type: integer
                    format: int32
                action:
                    type: string
                asset_id:
                    type: string
                asset_name:
                    type: string
                asset_hash:
                    type: string
                asset_size:
                    type: string
                tag:
                    type: string
                asset_risk:
                    type: number
                    format: double
                assigned_to:
                    type: string
                assignee_name:
                    type: string
                assignee_email:
                    type: string
                app_id:
                    type: string
                app_type:
                    type: string
                app_name:
                    type: string
                app_instance_id:
                    type: string
                app_tags:
                    type: array
                    items:
[...]
