.featured-container {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.featured-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  @media (max-width: 996px) {
    grid-template-columns: 1fr;
  }
}

html[data-theme="light"] {
  .featured-card-container {
    &.network-security a:hover {
      color: var(--ifm-color-panos-dark);
    }

    &.sase a:hover,
    &.cloud-native-security a:hover {
      color: var(--ifm-color-prisma-dark);
    }

    &.security-operations a:hover {
      color: var(--ifm-color-cortex-dark);
    }
  }
}

.featured-card-container {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--ifm-color-emphasis-0);
  border: 2px solid var(--ifm-color-emphasis-100);
  transition: 500ms all;

  a {
    color: var(--ifm-color-emphasis-600);
  }

  &.network-security {
    &:hover { 
      border-color: var(--ifm-color-panos);
      .featured-card-content__section-divider { border-color: var(--ifm-color-panos); }
    }

    a:hover { color: var(--ifm-color-panos); }
  }

  &.sase, &.cloud-native-security {
    &:hover {
      border-color: var(--ifm-color-prisma);
      .featured-card-content__section-divider { border-color: var(--ifm-color-prisma); }
    }

    a:hover { color: var(--ifm-color-prisma); }
  }

  &.security-operations {
    &:hover {
      border-color: var(--ifm-color-cortex);
      .featured-card-content__section-divider { border-color: var(--ifm-color-cortex); }
    }

    a:hover { color: var(--ifm-color-cortex); }
  }
}

.featured-card__product-list-item {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}

.featured-card__product-list {
  margin-top: 0.25rem;
}

.product-icon-container {
  display: flex;
  margin-right: 0.5rem;
  width: 1.5rem;
}

.featured-card-content {
  &__label {
    text-transform: uppercase;
  }

  &__section-divider {
    border: 1px solid; 
    margin-bottom: 1rem;
    width: 3rem;
  }

  &__description {
    color: var(--ifm-color-emphasis-600);
  }
}

.featured-card__product-group-label {
  margin-bottom: 0;
}

.featured-card-content__label {
  text-transform: uppercase;
}

.featured-card__products-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  ul {
    list-style: none;
    padding-left: 0;
  }  

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.featured-card__product-group-label {
  font-weight: var(--ifm-font-weight-bold);
}
