.featured-container {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.featured-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  @media (max-width: 996px) {
    grid-template-columns: 1fr;
  }
}

html[data-theme="light"] {
  .featured-card-container {
    border-color: var(--ifm-color-emphasis-100);
    background-color: var(--ifm-color-emphasis-0);
    &.network-security a:hover,
    &.scm a:hover {
      color: var(--ifm-color-panos-dark);
    }

    &.sase a:hover,
    &.cloud-native-security a:hover {
      color: var(--ifm-color-prisma-dark);
    }

    &.security-operations a:hover {
      color: var(--ifm-color-cortex-dark);
    }
  }

  .featured-card__product-list-item {
    &.api-doc-icon::before {
      content: url("/icons/api-docs-icon-dark.svg");
    }
    &.doc-icon::before {
      content: url("/icons/docs-icon-dark.svg");
    }
  }
}

.featured-card-container {
  padding: 1.5rem;
  border-radius: 1rem;
  border: 2px solid var(--ifm-toc-border-color);
  transition: 500ms all;

  a {
    color: var(--ifm-color-emphasis-600);
  }

  &.scm-landing {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border: none;
  }

  &.network-security,
  &.scm {
    &:hover {
      border-color: var(--ifm-color-panos);
      .featured-card-content__section-divider {
        border-color: var(--ifm-color-panos);
      }
    }

    a:hover {
      color: var(--ifm-color-panos);
    }
  }

  &.sase,
  &.cloud-native-security {
    &:hover {
      border-color: var(--ifm-color-prisma);
      .featured-card-content__section-divider {
        border-color: var(--ifm-color-prisma);
      }
    }

    a:hover {
      color: var(--ifm-color-prisma);
    }
  }

  &.security-operations {
    &:hover {
      border-color: var(--ifm-color-cortex);
      .featured-card-content__section-divider {
        border-color: var(--ifm-color-cortex);
      }
    }

    a:hover {
      color: var(--ifm-color-cortex);
    }
  }

  &.cross-platform,
  &.partner-integrations {
    &:hover {
      border-color: var(--ifm-color-main);
      .featured-card-content__section-divider {
        border-color: var(--ifm-color-main);
      }
    }

    a:hover {
      color: var(--ifm-color-main);
    }
  }
}

.featured-card__product-list-item {
  display: flex;
  align-items: center;

  &::before {
    width: 20px;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
  }

  &.api-doc-icon::before {
    content: url("/icons/api-docs-icon-light.svg");
  }
  &.doc-icon::before {
    content: url("/icons/docs-icon-light.svg");
  }
}

.featured-card__product-list {
  margin-top: 0.25rem;
}

.product-icon-container {
  display: flex;
  margin-right: 0.5rem;
  width: 1.5rem;
}

.featured-card-content {
  &__label {
    text-transform: uppercase;
  }

  &__section-divider {
    border: 1px solid;
    margin-bottom: 1rem;
    width: 3rem;
    transition: 500ms;
  }

  &__description {
    margin-bottom: 0;
    color: var(--ifm-color-emphasis-600);
  }
}

.featured-card__product-group-label {
  font-weight: var(--ifm-font-weight-bold);
  margin-bottom: 0;

  &.scm-landing {
    padding-bottom: 0.5rem;
  }
}

.featured-card-content__label {
  text-transform: uppercase;
}

.featured-card__products-container {
  max-height: 300px;
  padding-top: 1.35rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  overflow-y: auto;

  --mask-size-content: calc(100% - var(--ifm-scrollbar-size)) 100%;
  --mask-image-scrollbar: linear-gradient(black, black);
  --mask-size-scrollbar: var(--ifm-scrollbar-size) 100%;
  --mask-height: 32px;

  --mask-image-content: linear-gradient(
    to bottom,
    transparent,
    black var(--mask-height),
    black calc(100% - var(--mask-height)),
    transparent
  );

  mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
  mask-position: 0 0, 100% 0;
  mask-repeat: no-repeat, no-repeat;

  &::-webkit-scrollbar {
    width: var(--ifm-scrollbar-size);
  }
  &:state(webkit-scrollbar-track) {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--ifm-scrollbar-thumb-background-color);
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}
