.featured-container {
  display: flex;
  justify-content: center;
}

.featured-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;

  @media (max-width: 996px) {
    grid-template-columns: 1fr;
  }
}

.featured-card-image {
  max-width: 450px;
  max-height: 60px;
  margin-bottom: 1rem;
}

.featured-card-container {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  transition: 0.5s;
}

.featured-card-container::before {
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.featured-card-container::after {
  content:'';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.featured-card-container:hover:before,
.featured-card-container:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.featured-card-container {
  &.panos:before,
  &.panos:after,
  &:nth-child(1):before,
  &:nth-child(1):after {
    background: linear-gradient(315deg, #ffbc00, #ff0058)
  }

  &.cortex:before,
  &.cortex:after,
  &:nth-child(2):before,
  &:nth-child(2):after {
    background: linear-gradient(315deg, #03a9f4, #ff0058)
  }
  // &.prisma:before, &.prisma:after {
  //   background: linear-gradient(315deg, #4dff03, #00d0ff)
  // }
}

.featured-card-container span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.featured-card-container span::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.featured-card-container:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.featured-card-container span::after {
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.featured-card-container:hover span:after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%, 100% {
    transform: translateY(10px);
  }
  
  50% {
    transform: translate(-10px);
  }
}

html[data-theme="light"] {
  .featured-card-content {
    background: rgba(255, 255, 255, 0.50);
  }
}

.featured-card-container .featured-card-content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.featured-card-container:hover .featured-card-content {
  left: -25px;
  padding: 60px 40px;
}

.featured-card-container .featured-card-content h2 {
  color: var(--ifm-color-emphasis-1000);
  margin-bottom: 10px;
}

.featured-card-container .featured-card-content p {
  margin-bottom: 10px;
  line-height: 1.4em;
  color: var(--ifm-color-emphasis-1000);
}

.featured-card-container .featured-card-content a {
  font-weight: 700;
  margin-top: 5px;
}