.featuredButton {
  width: 100%;
  transition: transform 0.1s;
  background-color: white;
}

<<<<<<< HEAD
.featuredLinks {
  height: 90%;
  width: 100%;
  margin-top: 2rem;
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: calc(var(--ifm-global-border-radius) / 2);
  transition: background-color var(--transition-fastest)
    var(--transition-bezier);
=======
.featuredButton:hover {
  transform: scale(1.01);
>>>>>>> upstream/master
}

/* Cards styling */
.featured {
  border-radius: 0px;
  background-color: var(--ifm-color-gray-switch);
  min-width: 100%;
  max-width: 350px;
  height: 100%;
  padding: 0;
}

/* Image on cards */
.featuredImage {
<<<<<<< HEAD
  width: 100%;
  height: 75px !important;
  display: block;
  text-align: center;
  padding-bottom: 2rem;
  margin: auto;
=======
  height: 100px;
  width: 100%;
  max-width: 266px;
  display: flex;
  justify-content: center;
  padding-bottom: 1.2rem;
>>>>>>> upstream/master
}

.featuredTitle {
  overflow: hidden;
  font-weight: 600;
  color: var(--ifm-color-gray-700);
  font-size: var(--ifm-h4-font-size);
  text-align: left;
  padding-bottom: 1rem;
}

.featuredSummary {
  color: #1c1e21;
  font-size: var(--ifm-font-size-base);
  text-align: left;
}

.toLink {
  text-align: left;
}
