.featuredButton {
  width: 100%;
  background-color: var(--ifm-color-gray-0);
  border-radius: 20px;
  justify-content: left;
  padding: 10px;
  border: 5px solid var(--ifm-color-primary);
}

.featuredButton:hover {
  background-color: var(--ifm-color-gray-100);
}

/* Cards styling */
.featured {
  background: transparent;
  height: 100%;
  padding: 0;
  box-shadow: none;
}

/* Image on cards */
.featuredImage {
  position: relative;
  width: 100%;
  max-height: 76px;
  display: flex;
  justify-content: center;
  padding-bottom: 1.2rem;
}

.featuredTitle {
  position: relative;
  top: 1rem;
  overflow: hidden;
  font-weight: 800;
  color: var(--ifm-color-gray-1000);
  font-size: var(--ifm-h4-font-size);
  text-align: left;
  padding-bottom: 1rem;
}

.featuredSummary {
  color: var(--ifm-color-gray-700);
  font-size: var(--ifm-h4-font-size);
  text-align: left;
}

.toLink {
  text-align: left;
}
