.scm-hero-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  min-height: 350px;
  align-items: center;
  justify-content: center;
}

.scm-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.scm-card-container {
  overflow-y: auto;
  padding-top: 1.35rem;
  max-height: 300px;

  --mask-size-content: calc(100% - var(--ifm-scrollbar-size)) 100%;
  --mask-image-scrollbar: linear-gradient(black, black);
  --mask-size-scrollbar: var(--ifm-scrollbar-size) 100%;
  --mask-height: 32px;

  --mask-image-content: linear-gradient(
    to bottom,
    transparent,
    black var(--mask-height),
    black calc(100% - var(--mask-height)),
    transparent
  );

  mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
  mask-position: 0 0, 100% 0;
  mask-repeat: no-repeat, no-repeat;

  &::-webkit-scrollbar {
    width: var(--ifm-scrollbar-size);
  }
  &::--webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--ifm-scrollbar-thumb-background-color);
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.scm-content-list {
  padding-left: 0;
}
