openapi: 3.1.0
info:
  title: Prisma AIRS Red Teaming Management API
  description: 'Red Teaming Management API - Configure and manage security groups and rules for AI/ML model scanning. © 2025 Palo Alto Networks, Inc'
  version: 0.7.36
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  license:
    name: MIT
    url: https://opensource.org/license/mit
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
servers:
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
security:
  - bearerAuth: []

tags:
 - name: Adapters
   description: Operations for managing custom target adapters.
 - name: CustomAttack
   description: Operations for managing custom prompt sets, prompts, and properties.
 - name: Dashboard
   description: Operations for retrieving dashboard overview and statistics.
 - name: Languages
   description: List Languages
 - name: Target
   description: Operations for managing scan targets (create, update, delete, list).

paths:
  /v1/adapters:
    post:
      tags:
      - Adapters
      summary: Create a new adapter
      operationId: create_adapter_v1_adapters_post
      parameters:
      -
        name: validate
        in: query
        required: false
        schema:
          type: boolean
          description: 'Run static validation on the script. When false, the adapter is saved as DRAFT; when true it is validated and set ACTIVE.'
          default: true
          title: Validate
        description: 'Run static validation on the script. When false, the adapter is saved as DRAFT; when true it is validated and set ACTIVE.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomTargetAdapterCreateRequestSchema'
      responses:
        201:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomTargetAdapterSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Adapters
      summary: List all adapters
      operationId: list_adapters_v1_adapters_get
      parameters:
      -
        name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of records to skip
          default: 0
          title: Skip
        description: Number of records to skip
      -
        name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum records to return
          default: 10
          title: Limit
        description: Maximum records to return
      -
        name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search adapter by name
          title: Search
        description: Search adapter by name
      -
        name: status
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/CustomTargetAdapterStatus'
          - type: 'null'
          description: Filter adapters by status (DRAFT or ACTIVE)
          title: Status
        description: Filter adapters by status (DRAFT or ACTIVE)
      -
        name: include_target_count
        in: query
        required: false
        schema:
          type: boolean
          description: Include the number of targets referencing each adapter. Heavier query — only enable when needed.
          default: false
          title: Include Target Count
        description: Include the number of targets referencing each adapter. Heavier query — only enable when needed.
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomTargetAdapterListSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/adapters/config:
    get:
      tags:
      - Adapters
      summary: Get adapter config defaults
      operationId: get_adapter_config_v1_adapters_config_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomTargetAdapterConfigResponseSchema'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/adapters/{adapter_uuid}:
    get:
      tags:
      - Adapters
      summary: Get adapter by UUID
      operationId: get_adapter_v1_adapters__adapter_uuid__get
      parameters:
      -
        name: adapter_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Adapter Uuid
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomTargetAdapterSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Adapters
      summary: Update an adapter
      operationId: update_adapter_v1_adapters__adapter_uuid__put
      parameters:
      -
        name: adapter_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Adapter Uuid
      -
        name: validate
        in: query
        required: false
        schema:
          type: boolean
          description: 'Run validation on the adapter. When false, the adapter is saved as DRAFT (save for later) without validation; when true it is validated and set ACTIVE.'
          default: true
          title: Validate
        description: 'Run validation on the adapter. When false, the adapter is saved as DRAFT (save for later) without validation; when true it is validated and set ACTIVE.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomTargetAdapterUpdateRequestSchema'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomTargetAdapterSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Adapters
      summary: Delete an adapter
      operationId: delete_adapter_v1_adapters__adapter_uuid__delete
      parameters:
      -
        name: adapter_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Adapter Uuid
      responses:
        204:
          description: Successful Response
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/adapters/validate:
    post:
      tags:
      - Adapters
      summary: Validate adapter script
      operationId: validate_adapter_v1_adapters_validate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomTargetAdapterValidateRequestSchema'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomTargetAdapterValidateResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/target:
    post:
      tags:
      - Target
      summary: Create target
      description: Create a new scan target.
      operationId: create_target_v1_target_post
      parameters:
      -
        name: validate
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to validate target configuration
          examples:
          - true
          title: Validate
        description: Whether to validate target configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetCreateRequestSchema'
      responses:
        201:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Target
      summary: List targets
      description: List all scan targets with pagination and filtering support.
      operationId: list_targets_v1_target_get
      parameters:
      -
        name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of records to skip
          default: 0
          title: Skip
        description: Number of records to skip
      -
        name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum records to return
          default: 10
          title: Limit
        description: Maximum records to return
      -
        name: target_type
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/TargetType'
          - type: 'null'
          description: Filter by target type
          title: Target Type
        description: Filter by target type
      -
        name: status
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/TargetStatusFilter'
          - type: 'null'
          description: Filter by target status or profiling status
          title: Status
        description: Filter by target status or profiling status
      -
        name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search target by name
          title: Search
        description: Search target by name
      -
        name: adapter_uuid
        in: query
        required: false
        schema:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          description: Filter targets by the custom adapter they use
          title: Adapter Uuid
        description: Filter targets by the custom adapter they use
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetListSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/target/{target_uuid}:
    get:
      tags:
      - Target
      summary: Get target details
      description: Retrieve a specific target by UUID with complete configuration details and masked connection parameters.
      operationId: get_target_v1_target__target_uuid__get
      parameters:
      -
        name: target_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Target Uuid
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetRedactSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Target
      summary: Update target
      description: Update an existing target with new configuration and optional validation control.
      operationId: update_target_v1_target__target_uuid__put
      parameters:
      -
        name: target_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Target Uuid
      -
        name: validate
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to validate target configuration
          default: true
          title: Validate
        description: Whether to validate target configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetUpdateRequestSchema'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Target
      summary: Delete target
      description: Permanently delete a target and its encrypted configuration data.
      operationId: delete_target_v1_target__target_uuid__delete
      parameters:
      -
        name: target_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Target Uuid
      responses:
        204:
          description: Successful Response
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/target/{target_uuid}/profile:
    post:
      tags:
      - Target
      summary: Start target profiling
      description: Manually trigger target profiling. Target must be active with industry and use_case.
      operationId: start_profiling_v1_target__target_uuid__profile_post
      parameters:
      -
        name: target_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Target Uuid
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartProfilingResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Target
      summary: Update target profile
      description: Update target background and additional context fields without connection validation.
      operationId: update_target_profile_v1_target__target_uuid__profile_put
      parameters:
      -
        name: target_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Target Uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetContextUpdateSchema'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Target
      summary: Get profiling results
      description: Get profiling results including merged user and profiler data.
      operationId: get_profiling_results_v1_target__target_uuid__profile_get
      parameters:
      -
        name: target_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Target Uuid
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetProfileResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/target/probe:
    post:
      tags:
      - Target
      summary: Run profiling probes on target
      description: Send profiling questions to a target using provided connection parameters. Returns TargetResponseSchema with target_background and additional_context populated from probe responses.
      operationId: run_target_probes_v1_target_probe_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetProbeRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/target/validate-auth:
    post:
      tags:
      - Target
      summary: Validate authentication configuration
      description: 'Validate OAuth2 credentials by fetching a test token. For HEADERS and BASIC_AUTH, validates field presence only.'
      operationId: validate_auth_v1_target_validate_auth_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetAuthValidationRequestSchema'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetAuthValidationResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/target/ms-copilot-studio/auth-url:
    post:
      tags:
      - Target
      summary: Generate Copilot Studio auth URL
      description: Generate MS Copilot Studio OAuth authorization URL.
      operationId: generate_ms_copilot_studio_auth_url_v1_target_ms_copilot_studio_auth_url_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MSCopilotStudioAuthUrlRequestSchema'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MSCopilotStudioAuthUrlResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/target/ms-copilot-studio/token:
    post:
      tags:
      - Target
      summary: Exchange Copilot Studio auth code
      description: 'Exchange auth code for tokens via MSAL, store token cache in GSM.'
      operationId: exchange_ms_copilot_studio_token_v1_target_ms_copilot_studio_token_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MSCopilotStudioTokenRequestSchema'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MSCopilotStudioTokenResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/target/ms-copilot-studio/token/{token_json_uuid}:
    delete:
      tags:
      - Target
      summary: Delete MS Copilot Studio token records
      description: Delete both auth flow and token cache GSM records (cancel cleanup).
      operationId: delete_ms_copilot_studio_token_v1_target_ms_copilot_studio_token__token_json_uuid__delete
      parameters:
      -
        name: token_json_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Token Json Uuid
      responses:
        204:
          description: Successful Response
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/custom-prompt-set:
    post:
      tags:
      - CustomAttack
      summary: Create a new custom prompt set
      description: Create a new custom prompt set.
      operationId: create_prompt_set_v1_custom_attack_custom_prompt_set_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPromptSetCreateRequestSchema'
        required: true
      responses:
        201:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/list-custom-prompt-sets:
    get:
      tags:
      - CustomAttack
      summary: List custom prompt sets
      description: List all custom prompt sets with pagination and filtering support.
      operationId: list_prompt_sets_v1_custom_attack_list_custom_prompt_sets_get
      parameters:
      -
        name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of records to skip
          default: 0
          title: Skip
        description: Number of records to skip
      -
        name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum records to return
          default: 10
          title: Limit
        description: Maximum records to return
      -
        name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by status
          title: Status
        description: Filter by status
      -
        name: active
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter by active status
          title: Active
        description: Filter by active status
      -
        name: archive
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: 'Filter by archive status (None=non-archived only, True=archived only, False=non-archived only)'
          title: Archive
        description: 'Filter by archive status (None=non-archived only, True=archived only, False=non-archived only)'
      -
        name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search in name and description
          title: Search
        description: Search in name and description
      -
        name: language
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by language code (ISO 639-1)
          title: Language
        description: Filter by language code (ISO 639-1)
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetListSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/custom-prompt-set/{prompt_set_uuid}:
    get:
      tags:
      - CustomAttack
      summary: Get prompt set details
      description: Retrieve a specific prompt set by UUID with complete details including properties.
      operationId: get_prompt_set_v1_custom_attack_custom_prompt_set__prompt_set_uuid__get
      parameters:
      -
        name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - CustomAttack
      summary: Update prompt set
      description: 'Update prompt set details including name, description, and properties.'
      operationId: update_prompt_set_v1_custom_attack_custom_prompt_set__prompt_set_uuid__put
      parameters:
      -
        name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPromptSetUpdateRequestSchema'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/custom-prompt-set/{prompt_set_uuid}/archive:
    put:
      tags:
      - CustomAttack
      summary: Archive or unarchive a prompt set
      description: Archive or unarchive a prompt set to manage its lifecycle.
      operationId: archive_prompt_set_v1_custom_attack_custom_prompt_set__prompt_set_uuid__archive_put
      parameters:
      -
        name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPromptSetArchiveRequestSchema'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/custom-prompt-set/custom-prompt:
    post:
      tags:
      - CustomAttack
      summary: Create prompt in a prompt set
      description: Create a new prompt in a prompt set.
      operationId: create_prompt_v1_custom_attack_custom_prompt_set_custom_prompt_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPromptCreateRequestSchema'
        required: true
      responses:
        201:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/custom-prompt-set/{prompt_set_uuid}/list-custom-prompts:
    get:
      tags:
      - CustomAttack
      summary: List prompts in a prompt set
      description: List all prompts within a specific prompt set with pagination and filtering.
      operationId: list_prompts_in_set_v1_custom_attack_custom_prompt_set__prompt_set_uuid__list_custom_prompts_get
      parameters:
      -
        name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      -
        name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of records to skip
          default: 0
          title: Skip
        description: Number of records to skip
      -
        name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum records to return
          default: 10
          title: Limit
        description: Maximum records to return
      -
        name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by status
          title: Status
        description: Filter by status
      -
        name: active
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter by active status
          title: Active
        description: Filter by active status
      -
        name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search in prompt text
          title: Search
        description: Search in prompt text
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptListSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/custom-prompt-set/{prompt_set_uuid}/custom-prompt/{prompt_uuid}:
    get:
      tags:
      - CustomAttack
      summary: Get prompt details
      description: Get a specific prompt by UUID.
      operationId: get_prompt_v1_custom_attack_custom_prompt_set__prompt_set_uuid__custom_prompt__prompt_uuid__get
      parameters:
      -
        name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      -
        name: prompt_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Uuid
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - CustomAttack
      summary: Update prompt
      description: Update an existing prompt.
      operationId: update_prompt_v1_custom_attack_custom_prompt_set__prompt_set_uuid__custom_prompt__prompt_uuid__put
      parameters:
      -
        name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      -
        name: prompt_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPromptUpdateRequestSchema'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - CustomAttack
      summary: Delete prompt
      description: Delete a prompt.
      operationId: delete_prompt_v1_custom_attack_custom_prompt_set__prompt_set_uuid__custom_prompt__prompt_uuid__delete
      parameters:
      -
        name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      -
        name: prompt_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Uuid
      responses:
        204:
          description: Successful Response
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/property-names:
    get:
      tags:
      - CustomAttack
      summary: Get property names
      description: Get all available property names for use in prompt sets.
      operationId: get_property_names_v1_custom_attack_property_names_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyNamesListResponseSchema'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - CustomAttack
      summary: Create property name
      description: Create a new property name that can be used in prompt sets.
      operationId: create_property_name_v1_custom_attack_property_names_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyNameCreateRequestSchema'
        required: true
      responses:
        201:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyNamesListResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/property-values/{property_name}:
    get:
      tags:
      - CustomAttack
      summary: Get property name
      description: Get all available values for a specific property name.
      operationId: get_property_values_v1_custom_attack_property_values__property_name__get
      parameters:
      -
        name: property_name
        in: path
        required: true
        schema:
          type: string
          title: Property Name
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyValuesResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/property-values:
    post:
      tags:
      - CustomAttack
      summary: Create property value
      description: Create a new value for an existing property name.
      operationId: create_property_value_v1_custom_attack_property_values_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyValueCreateRequestSchema'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - CustomAttack
      summary: Get values for multiple property names
      description: Get values for multiple property names in a single request.
      operationId: get_property_values_multiple_v1_custom_attack_property_values_get
      parameters:
      -
        name: property_names
        in: query
        required: true
        schema:
          type: string
          description: Comma-separated list of property names
          title: Property Names
        description: Comma-separated list of property names
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyValuesMultipleResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/upload-custom-prompts-csv:
    post:
      tags:
      - CustomAttack
      summary: Upload custom prompts
      description: Upload a CSV file containing custom prompts with properties for a specific prompt set.
      operationId: upload_prompts_csv_v1_custom_attack_upload_custom_prompts_csv_post
      parameters:
      -
        name: prompt_set_uuid
        in: query
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the prompt set
          title: Prompt Set Uuid
        description: UUID of the prompt set
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_prompts_csv_v1_custom_attack_upload_custom_prompts_csv_post'
      responses:
        201:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/download-template/{prompt_set_uuid}:
    get:
      tags:
      - CustomAttack
      summary: Download template for a prompt set
      description: Download a CSV template with columns for the prompt set's properties.
      operationId: download_template_v1_custom_attack_download_template__prompt_set_uuid__get
      parameters:
      -
        name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema: {}
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/active-custom-prompt-sets:
    get:
      tags:
      - CustomAttack
      summary: List active custom prompt sets
      description: List all active custom prompt sets available for use by data plane. Returns only sets with snapshots.
      operationId: list_active_prompt_sets_v1_custom_attack_active_custom_prompt_sets_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetListActiveSchema'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/custom-prompt-set/{prompt_set_uuid}/reference:
    get:
      tags:
      - CustomAttack
      summary: Resolve prompt set reference
      description: Get current reference information for a prompt set including latest version.
      operationId: resolve_prompt_set_reference_v1_custom_attack_custom_prompt_set__prompt_set_uuid__reference_get
      parameters:
      -
        name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetReferenceSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attack/custom-prompt-set/{prompt_set_uuid}/version-info:
    get:
      tags:
      - CustomAttack
      summary: Get prompt set version information
      description: Get detailed version information for a specific prompt set version.
      operationId: get_prompt_set_version_info_v1_custom_attack_custom_prompt_set__prompt_set_uuid__version_info_get
      parameters:
      -
        name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      -
        name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Specific version ID
          title: Version
        description: Specific version ID
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetVersionInfoSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/dashboard/overview:
    get:
      tags:
      - Dashboard
      summary: Get dashboard overview
      description: Returns target counts by type for dashboard display.
      operationId: get_overview_v1_dashboard_overview_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardOverviewResponseSchema'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/languages:
    get:
      tags:
      - Languages
      summary: Get available languages
      description: Return allowed languages for the requesting tenant.
      operationId: get_languages_v1_languages_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantLanguagesResponseSchema'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  securitySchemes:
      bearerAuth:
        type: http
        scheme: bearer
        bearerFormat: JWT
  schemas:
    AdapterVarBase:
      properties:
        key:
          type: string
          maxLength: 255
          title: Key
          description: Variable key
        value:
          anyOf:
          - type: string
          - type: 'null'
          title: Value
          description: 'Variable value. On update, null means ''keep the existing value'' — used for unchanged secrets, whose values are never returned.'
        type:
          $ref: '#/components/schemas/AdapterVarType'
          description: VAR (non-sensitive) or SECRET (sensitive)
      type: object
      required:
      - key
      - type
      title: AdapterVarBase
      description: A single adapter configuration variable (also the GSM-stored shape).
    AdapterVarResponseSchema:
      properties:
        key:
          type: string
          maxLength: 255
          title: Key
          description: Variable key
        value:
          anyOf:
          - type: string
          - type: 'null'
          title: Value
          description: 'Variable value. On update, null means ''keep the existing value'' — used for unchanged secrets, whose values are never returned.'
        type:
          $ref: '#/components/schemas/AdapterVarType'
          description: VAR (non-sensitive) or SECRET (sensitive)
        is_redacted:
          type: boolean
          title: Is Redacted
          description: True when the value is hidden (secrets). Redacted values are returned as null.
          default: false
      type: object
      required:
      - key
      - type
      title: AdapterVarResponseSchema
      description: |
        A variable returned in adapter responses.
        
        Secrets are masked: value is returned as null with is_redacted=true.
    AdapterVarType:
      type: string
      enum:
      - VAR
      - SECRET
      title: AdapterVarType
      description: Whether a configuration variable is a plain var or a sensitive secret.
    AiGeneratedItems:
      properties:
        languages_supported:
          anyOf:
          - $ref: '#/components/schemas/AiGeneratedLanguageListFieldInfo'
          - type: 'null'
        tools_accessible:
          anyOf:
          - $ref: '#/components/schemas/AiGeneratedListFieldInfo'
          - type: 'null'
        banned_keywords:
          anyOf:
          - $ref: '#/components/schemas/AiGeneratedListFieldInfo'
          - type: 'null'
        competitors:
          anyOf:
          - $ref: '#/components/schemas/AiGeneratedListFieldInfo'
          - type: 'null'
        base_model:
          anyOf:
          - $ref: '#/components/schemas/AiGeneratedStringFieldInfo'
          - type: 'null'
        core_architecture:
          anyOf:
          - $ref: '#/components/schemas/AiGeneratedStringFieldInfo'
          - type: 'null'
        system_prompt:
          anyOf:
          - $ref: '#/components/schemas/AiGeneratedStringFieldInfo'
          - type: 'null'
      type: object
      title: AiGeneratedItems
      description: Per-field AI tracking with item-level tags and counts.
    AiGeneratedLanguageListFieldInfo:
      properties:
        ai_discovered_items:
          items:
            type: string
          type: array
          title: Ai Discovered Items
        current_items:
          items:
            $ref: '#/components/schemas/AiLanguageItemTag'
          type: array
          title: Current Items
        ai_count:
          type: integer
          title: Ai Count
          default: 0
        user_count:
          type: integer
          title: User Count
          default: 0
      type: object
      required:
      - ai_discovered_items
      - current_items
      title: AiGeneratedLanguageListFieldInfo
      description: AI tracking for the languages_supported list field.
    AiGeneratedListFieldInfo:
      properties:
        ai_discovered_items:
          items:
            type: string
          type: array
          title: Ai Discovered Items
        current_items:
          items:
            $ref: '#/components/schemas/AiItemTag'
          type: array
          title: Current Items
        ai_count:
          type: integer
          title: Ai Count
          default: 0
        user_count:
          type: integer
          title: User Count
          default: 0
      type: object
      required:
      - ai_discovered_items
      - current_items
      title: AiGeneratedListFieldInfo
      description: 'AI tracking for a list field (tools, keywords, competitors).'
    AiGeneratedStringFieldInfo:
      properties:
        ai_discovered_value:
          type: string
          title: Ai Discovered Value
        is_ai_generated:
          type: boolean
          title: Is Ai Generated
          default: false
      type: object
      required:
      - ai_discovered_value
      title: AiGeneratedStringFieldInfo
      description: 'AI tracking for a string field (base_model, core_architecture, system_prompt).'
    AiItemTag:
      properties:
        value:
          type: string
          title: Value
        is_ai_generated:
          type: boolean
          title: Is Ai Generated
      type: object
      required:
      - value
      - is_ai_generated
      title: AiItemTag
      description: Single item with AI tracking tag. FE renders directly.
    AiLanguageItemTag:
      properties:
        value:
          type: string
          title: Value
        is_ai_generated:
          type: boolean
          title: Is Ai Generated
        country_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Country Code
      type: object
      required:
      - value
      - is_ai_generated
      title: AiLanguageItemTag
      description: 'AI tracking tag for language items, includes ISO 639-1 code for flag display.'
    ApiEndpointType:
      type: string
      enum:
      - PUBLIC
      - PRIVATE
      - NETWORK_BROKER
      title: ApiEndpointType
      description: API endpoint accessibility type.
    BaseResponseSchema:
      properties:
        message:
          type: string
          title: Message
          description: Response message
        status:
          type: integer
          title: Status
          description: HTTP status code
      type: object
      required:
      - message
      - status
      title: BaseResponseSchema
      description: 'Standard response schema for simple operations like create, update, delete.'
    BasicAuthAuthConfig:
      properties:
        basic_auth_location:
          $ref: '#/components/schemas/BasicAuthLocation'
          description: 'Where credentials are sent: HEADER or PAYLOAD'
          default: HEADER
        basic_auth_header:
          anyOf:
          -
            additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Basic Auth Header
          description: 'Auth header as {name: value} dict (required when location=HEADER)'
          examples:
          - Authorization: Basic dXNlcjpwYXNz
      type: object
      title: BasicAuthAuthConfig
      description: Basic Auth credentials — header or payload location.
    BasicAuthAuthConfigRedact:
      properties:
        basic_auth_location:
          $ref: '#/components/schemas/BasicAuthLocation'
          description: 'Where credentials are sent: HEADER or PAYLOAD'
          default: HEADER
        basic_auth_header:
          anyOf:
          -
            additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Basic Auth Header
          description: 'Auth header as {name: value} dict (required when location=HEADER)'
          examples:
          - Authorization: Basic dXNlcjpwYXNz
      type: object
      title: BasicAuthAuthConfigRedact
    BasicAuthLocation:
      type: string
      enum:
      - HEADER
      - PAYLOAD
      title: BasicAuthLocation
      description: Where Basic Auth credentials are sent.
    BedrockAccessConnectionParams:
      properties:
        access_id:
          type: string
          title: Access Id
          description: AWS access key ID
        access_secret:
          type: string
          title: Access Secret
          description: AWS secret access key
        session_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Session Token
          description: AWS session token (optional)
        region:
          type: string
          title: Region
          description: AWS region
        model_id:
          type: string
          title: Model Id
          description: Bedrock model ID
      type: object
      required:
      - access_id
      - access_secret
      - region
      - model_id
      title: BedrockAccessConnectionParams
      description: AWS Bedrock access parameters stored in target_metadata.
    BedrockAccessConnectionRedactParams:
      properties:
        access_id:
          type: string
          format: password
          title: Access Id
          description: AWS access key ID
          writeOnly: true
        access_secret:
          type: string
          format: password
          title: Access Secret
          description: AWS secret access key
          writeOnly: true
        session_token:
          anyOf:
          -
            type: string
            format: password
            writeOnly: true
          - type: 'null'
          title: Session Token
          description: AWS session token (optional)
        region:
          type: string
          title: Region
          description: AWS region
        model_id:
          type: string
          title: Model Id
          description: Bedrock model ID
      type: object
      required:
      - access_id
      - access_secret
      - region
      - model_id
      title: BedrockAccessConnectionRedactParams
      description: AWS Bedrock access parameters stored in target_metadata.
    Body_upload_prompts_csv_v1_custom_attack_upload_custom_prompts_csv_post:
      properties:
        file:
          type: string
          format: binary
          title: File
      type: object
      required:
      - file
      title: Body_upload_prompts_csv_v1_custom_attack_upload_custom_prompts_csv_post
    CountByNameSchema:
      properties:
        name:
          type: string
          title: Name
          description: 'Name of the item (e.g., target type, status)'
        count:
          type: integer
          minimum: 0.0
          title: Count
          description: Count of items
      type: object
      required:
      - name
      - count
      title: CountByNameSchema
      description: |
        Generic count schema with name field for extensible list structures.
        
        Used in dashboard and other endpoints to provide counts grouped by a name field.
        Frontend-friendly list format for easy iteration.
    CustomPromptCreateRequestSchema:
      properties:
        prompt:
          type: string
          title: Prompt
          description: The prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Goal of the prompt (user-defined or AI-generated)
        properties:
          additionalProperties:
            type: string
          type: object
          title: Properties
          description: Property assignments (property_name -> property_value)
        prompt_set_id:
          type: string
          format: uuid
          title: Prompt Set Id
          description: The UUID of the prompt set
      additionalProperties: false
      type: object
      required:
      - prompt
      - prompt_set_id
      title: CustomPromptCreateRequestSchema
      description: Schema for creating a new custom prompt.
    CustomPromptListItemSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        prompt:
          type: string
          title: Prompt
          description: The prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Goal of the prompt
        user_defined_goal:
          type: boolean
          title: User Defined Goal
          description: Whether the goal was user-defined
        status:
          type: string
          title: Status
          description: Status of the prompt
        active:
          type: boolean
          title: Active
          description: Whether the prompt is active
        properties:
          additionalProperties:
            type: string
          type: object
          title: Properties
          description: Property assignments
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - prompt
      - user_defined_goal
      - status
      - active
      - created_at
      - updated_at
      title: CustomPromptListItemSchema
      description: Schema for custom prompt items in list responses.
    CustomPromptListSchema:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationSchema'
        data:
          items:
            $ref: '#/components/schemas/CustomPromptListItemSchema'
          type: array
          title: Data
          description: List of custom prompts
      type: object
      required:
      - pagination
      title: CustomPromptListSchema
      description: Schema for custom prompt list responses.
    CustomPromptResponseSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        prompt:
          type: string
          title: Prompt
          description: The prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Goal of the prompt
        user_defined_goal:
          type: boolean
          title: User Defined Goal
          description: Whether the goal was user-defined
        detector_category:
          anyOf:
          - type: string
          - type: 'null'
          title: Detector Category
          description: Detector category
        severity:
          anyOf:
          - type: string
          - type: 'null'
          title: Severity
          description: Severity level
        status:
          type: string
          title: Status
          description: Status of the prompt
        active:
          type: boolean
          title: Active
          description: Whether the prompt is active
        extra_info:
          anyOf:
          -
            additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional information
        prompt_set_id:
          type: string
          format: uuid
          title: Prompt Set Id
          description: The UUID of the prompt set this prompt belongs to
        properties:
          additionalProperties:
            type: string
          type: object
          title: Properties
          description: Property assignments
        property_assignments:
          items:
            $ref: '#/components/schemas/PropertyAssignmentSchema'
          type: array
          title: Property Assignments
          description: Detailed property assignments
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - prompt
      - user_defined_goal
      - status
      - active
      - prompt_set_id
      - created_at
      - updated_at
      title: CustomPromptResponseSchema
      description: Schema for custom prompt responses.
    CustomPromptSetArchiveRequestSchema:
      properties:
        archive:
          type: boolean
          title: Archive
          description: 'True to archive, False to unarchive'
      additionalProperties: false
      type: object
      required:
      - archive
      title: CustomPromptSetArchiveRequestSchema
      description: Schema for archiving/unarchiving prompt sets.
    CustomPromptSetCreateRequestSchema:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
          description: Name of the custom prompt set
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the custom prompt set
          default: 
        property_names:
          items:
            type: string
          type: array
          maxItems: 2
          title: Property Names
          description: Property names for this prompt set (max 2)
        language:
          $ref: '#/components/schemas/SupportedLanguage'
          description: Language code (ISO 639-1) for prompts in this set
          default: en
      additionalProperties: false
      type: object
      required:
      - name
      title: CustomPromptSetCreateRequestSchema
      description: Schema for creating a new custom prompt set.
    CustomPromptSetListActiveSchema:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CustomPromptSetReferenceSchema'
          type: array
          title: Data
          description: List of active custom prompt set references
      type: object
      title: CustomPromptSetListActiveSchema
      description: |
        Schema for listing active custom prompt sets available for use.
        
        Used by data plane to discover available prompt sets for job creation.
    CustomPromptSetListItemSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        name:
          type: string
          title: Name
          description: Name of the prompt set
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the prompt set
          default: 
        language:
          $ref: '#/components/schemas/LanguageOptionSchema'
          description: Language of prompts in this set
        active:
          type: boolean
          title: Active
          description: Whether the prompt set is active
        archive:
          type: boolean
          title: Archive
          description: Whether the prompt set is archived
        status:
          type: string
          title: Status
          description: Status of the prompt set
        stats:
          anyOf:
          - $ref: '#/components/schemas/PromptSetStatsSchema'
          - type: 'null'
          description: Statistics about the prompt set
        property_names:
          items:
            type: string
          type: array
          title: Property Names
          description: Property names
        created_by_user_id:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
          description: User ID who created the prompt set
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - name
      - active
      - archive
      - status
      - created_at
      - updated_at
      title: CustomPromptSetListItemSchema
      description: Schema for custom prompt set items in list responses.
    CustomPromptSetListSchema:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationSchema'
        data:
          items:
            $ref: '#/components/schemas/CustomPromptSetListItemSchema'
          type: array
          title: Data
          description: List of custom prompt sets
      type: object
      required:
      - pagination
      title: CustomPromptSetListSchema
      description: Schema for custom prompt set list responses.
    CustomPromptSetReferenceSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: UUID of the custom prompt set
        name:
          type: string
          title: Name
          description: Name of the prompt set
        language:
          $ref: '#/components/schemas/SupportedLanguage'
          description: Language of prompts in this set
          default: en
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
          description: GCS generation number for snapshot versioning
        status:
          type: string
          title: Status
          description: Current status of the prompt set
        active:
          type: boolean
          title: Active
          description: Whether the prompt set is active
        tsg_id:
          type: string
          title: Tsg Id
          description: Tenant Security Group ID
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - name
      - status
      - active
      - tsg_id
      - created_at
      - updated_at
      title: CustomPromptSetReferenceSchema
      description: |
        Reference schema for custom prompt sets used by data plane.
        
        Contains minimal information needed for data plane to fetch
        configurations from GCS using the GCS-first pattern.
    CustomPromptSetResponseSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        name:
          type: string
          title: Name
          description: Name of the prompt set
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the prompt set
          default: 
        language:
          $ref: '#/components/schemas/LanguageOptionSchema'
          description: Language of prompts in this set
        active:
          type: boolean
          title: Active
          description: Whether the prompt set is active
        archive:
          type: boolean
          title: Archive
          description: Whether the prompt set is archived
        status:
          type: string
          title: Status
          description: Status of the prompt set
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
          description: GCS generation number for snapshot versioning
        stats:
          anyOf:
          - $ref: '#/components/schemas/PromptSetStatsSchema'
          - type: 'null'
          description: Statistics about the prompt set
        extra_info:
          anyOf:
          -
            additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional information
        property_names:
          items:
            type: string
          type: array
          title: Property Names
          description: Property names
        properties:
          items:
            $ref: '#/components/schemas/PropertyDefinitionSchema'
          type: array
          title: Properties
          description: Property definitions
        created_by_user_id:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
          description: User ID who created the prompt set
        updated_by_user_id:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Updated By User Id
          description: User ID who last updated the prompt set
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - name
      - active
      - archive
      - status
      - created_at
      - updated_at
      title: CustomPromptSetResponseSchema
      description: Schema for custom prompt set responses.
    CustomPromptSetUpdateRequestSchema:
      properties:
        name:
          anyOf:
          -
            type: string
            maxLength: 255
          - type: 'null'
          title: Name
          description: Updated name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Updated description
        archive:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Archive
          description: Archive status
        property_names:
          anyOf:
          -
            items:
              type: string
            type: array
            maxItems: 2
          - type: 'null'
          title: Property Names
          description: Updated property names (max 2)
      additionalProperties: false
      type: object
      title: CustomPromptSetUpdateRequestSchema
      description: Schema for updating a custom prompt set.
    CustomPromptSetVersionInfoSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: UUID of the custom prompt set
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
          description: GCS generation number for this version
        status:
          type: string
          title: Status
          description: Status when this version was created
        stats:
          anyOf:
          - $ref: '#/components/schemas/PromptSetStatsSchema'
          - type: 'null'
          description: Prompt statistics when version was created
        snapshot_created_at:
          anyOf:
          -
            type: string
            format: date-time
          - type: 'null'
          title: Snapshot Created At
          description: When the snapshot was created
        is_latest:
          type: boolean
          title: Is Latest
          description: Whether this is the latest version
      type: object
      required:
      - uuid
      - status
      - is_latest
      title: CustomPromptSetVersionInfoSchema
      description: |
        Version information for a custom prompt set snapshot.
        
        Provides metadata about a specific version without full configuration data.
    CustomPromptUpdateRequestSchema:
      properties:
        prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt
          description: Updated prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Updated goal
        properties:
          anyOf:
          -
            additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Properties
          description: Updated property assignments
      additionalProperties: false
      type: object
      title: CustomPromptUpdateRequestSchema
      description: Schema for updating a custom prompt.
    CustomTargetAdapterConfigResponseSchema:
      properties:
        default_script_b64:
          type: string
          title: Default Script B64
          description: Base64-encoded starter adapter script template for the editor.
        default_test_prompt:
          type: string
          title: Default Test Prompt
          description: Default prompt used to test the adapter.
      type: object
      required:
      - default_script_b64
      - default_test_prompt
      title: CustomTargetAdapterConfigResponseSchema
      description: |
        Static/example values for the adapter authoring UI.
        
        Returned by GET /v1/adapters/config so the frontend can prefill the editor.
    CustomTargetAdapterCreateRequestSchema:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
          description: Adapter name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Adapter description
        script_b64:
          type: string
          title: Script B64
          description: Base64-encoded adapter script
        network_broker_channel_uuid:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Network Broker Channel Uuid
          description: NB channel UUID for this adapter. Optional while the adapter is a DRAFT (save for later); required to activate (validate=true).
        variables:
          items:
            $ref: '#/components/schemas/AdapterVarBase'
          type: array
          title: Variables
          description: Configuration variables and secrets for the adapter
        prompt:
          type: string
          title: Prompt
          description: Sample prompt used to exercise the adapter end-to-end during validation. Not stored on the adapter.
      additionalProperties: false
      type: object
      required:
      - name
      - script_b64
      - prompt
      title: CustomTargetAdapterCreateRequestSchema
      description: Customer input to create an adapter.
    CustomTargetAdapterListItemSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
        name:
          type: string
          title: Name
        status:
          $ref: '#/components/schemas/CustomTargetAdapterStatus'
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        created_by_user_id:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
        target_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Target Count
          description: Number of targets referencing this adapter. Only populated when include_target_count=true.
      type: object
      required:
      - uuid
      - name
      - status
      - created_at
      - updated_at
      title: CustomTargetAdapterListItemSchema
    CustomTargetAdapterListSchema:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationSchema'
        data:
          items:
            $ref: '#/components/schemas/CustomTargetAdapterListItemSchema'
          type: array
          title: Data
          description: List of adapters
      type: object
      required:
      - pagination
      title: CustomTargetAdapterListSchema
    CustomTargetAdapterSchema:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
          description: Adapter name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Adapter description
        script_b64:
          type: string
          title: Script B64
          description: Base64-encoded adapter script
        network_broker_channel_uuid:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Network Broker Channel Uuid
          description: NB channel UUID for this adapter. Optional while the adapter is a DRAFT (save for later); required to activate (validate=true).
        variables:
          items:
            $ref: '#/components/schemas/AdapterVarResponseSchema'
          type: array
          title: Variables
          description: Configuration variables; secret values are redacted (null).
        uuid:
          type: string
          format: uuid
          title: Uuid
        tsg_id:
          type: string
          title: Tsg Id
        status:
          $ref: '#/components/schemas/CustomTargetAdapterStatus'
        created_at:
          anyOf:
          -
            type: string
            format: date-time
          - type: 'null'
          title: Created At
        updated_at:
          anyOf:
          -
            type: string
            format: date-time
          - type: 'null'
          title: Updated At
        created_by_user_id:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
        updated_by_user_id:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Updated By User Id
        target_count:
          type: integer
          title: Target Count
          description: Number of targets currently referencing this adapter.
          default: 0
      type: object
      required:
      - name
      - script_b64
      - uuid
      - tsg_id
      - status
      title: CustomTargetAdapterSchema
    CustomTargetAdapterStatus:
      type: string
      enum:
      - DRAFT
      - ACTIVE
      title: CustomTargetAdapterStatus
    CustomTargetAdapterUpdateRequestSchema:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
          description: Adapter name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Adapter description
        script_b64:
          type: string
          title: Script B64
          description: Base64-encoded adapter script
        network_broker_channel_uuid:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Network Broker Channel Uuid
          description: NB channel UUID for this adapter. Optional while the adapter is a DRAFT (save for later); required to activate (validate=true).
        variables:
          items:
            $ref: '#/components/schemas/AdapterVarBase'
          type: array
          title: Variables
          description: Configuration variables and secrets for the adapter
        prompt:
          type: string
          title: Prompt
          description: Sample prompt used to exercise the adapter end-to-end during validation. Not stored on the adapter.
      additionalProperties: false
      type: object
      required:
      - name
      - script_b64
      - prompt
      title: CustomTargetAdapterUpdateRequestSchema
      description: |
        Update is a full replacement (PUT): all create fields are required.
        
        For ``variables`` the list defines the complete desired key set:
        - value provided -> set/add the value
        - value null     -> keep the existing value (unchanged secrets)
        - key omitted    -> delete the variable
    CustomTargetAdapterValidateRequestSchema:
      properties:
        script_b64:
          type: string
          title: Script B64
          description: Base64-encoded adapter script
        network_broker_channel_uuid:
          type: string
          format: uuid
          title: Network Broker Channel Uuid
          description: NB channel UUID
        prompt:
          type: string
          title: Prompt
          description: Sample prompt used to exercise the adapter end-to-end.
        variables:
          items:
            $ref: '#/components/schemas/AdapterVarBase'
          type: array
          title: Variables
          description: Configuration variables and secrets for the adapter
        adapter_uuid:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Adapter Uuid
          description: 'Existing adapter UUID. When provided and variables contain redacted placeholders (or null), the real values are resolved from the adapter''s stored secret before validation. Omit when validating a brand-new adapter.'
      additionalProperties: false
      type: object
      required:
      - script_b64
      - network_broker_channel_uuid
      - prompt
      title: CustomTargetAdapterValidateRequestSchema
    CustomTargetAdapterValidateResponseSchema:
      properties:
        validated:
          type: boolean
          title: Validated
        stdout:
          anyOf:
          - type: string
          - type: 'null'
          title: Stdout
        stderr:
          anyOf:
          - type: string
          - type: 'null'
          title: Stderr
        traceback:
          anyOf:
          - type: string
          - type: 'null'
          title: Traceback
      type: object
      required:
      - validated
      title: CustomTargetAdapterValidateResponseSchema
    DashboardOverviewResponseSchema:
      properties:
        total_targets:
          type: integer
          minimum: 0.0
          title: Total Targets
          description: Total number of targets
        targets_by_type:
          items:
            $ref: '#/components/schemas/CountByNameSchema'
          type: array
          title: Targets By Type
          description: 'Target counts grouped by type (APPLICATION, AGENT, MODEL)'
      type: object
      required:
      - total_targets
      title: DashboardOverviewResponseSchema
      description: |
        Dashboard overview response with target counts.
        
        Endpoint: GET /api/v1/dashboard/overview
        Returns target counts by type in list format for easy frontend iteration.
    DatabricksConnectionParams:
      properties:
        auth_type:
          $ref: '#/components/schemas/red_team_shared__schemas__databricks__AuthType'
          description: Auth type
        access_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Access Token
          description: Databricks access token
        client_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Client Id
          description: Databricks client_id
        secret:
          anyOf:
          - type: string
          - type: 'null'
          title: Secret
          description: Databricks secret
        workspace_url:
          type: string
          title: Workspace Url
          description: Databricks workscpace_url
        model_name:
          type: string
          title: Model Name
          description: Databricks model name
      type: object
      required:
      - auth_type
      - workspace_url
      - model_name
      title: DatabricksConnectionParams
    DatabricksConnectionRedactParams:
      properties:
        auth_type:
          $ref: '#/components/schemas/red_team_shared__schemas__databricks__AuthType'
          description: Auth type
        access_token:
          anyOf:
          -
            type: string
            format: password
            writeOnly: true
          - type: 'null'
          title: Access Token
          description: Databricks access token
        client_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Client Id
          description: Databricks client_id
        secret:
          anyOf:
          -
            type: string
            format: password
            writeOnly: true
          - type: 'null'
          title: Secret
          description: Databricks secret
        workspace_url:
          type: string
          title: Workspace Url
          description: Databricks workscpace_url
        model_name:
          type: string
          title: Model Name
          description: Databricks model name
      type: object
      required:
      - auth_type
      - workspace_url
      - model_name
      title: DatabricksConnectionRedactParams
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    HeadersAuthConfig:
      properties:
        auth_header:
          additionalProperties:
            type: string
          type: object
          title: Auth Header
          description: 'Auth header as {name: value} dict'
          examples:
          - Authorization: Bearer sk-xxxxxxxxxxxx
          - x-api-key: my-api-key
      type: object
      required:
      - auth_header
      title: HeadersAuthConfig
      description: 'Static header injection (API keys, bearer tokens).'
    HeadersAuthConfigRedact:
      properties:
        auth_header:
          additionalProperties:
            type: string
          type: object
          title: Auth Header
          description: 'Auth header as {name: value} dict'
          examples:
          - Authorization: Bearer sk-xxxxxxxxxxxx
          - x-api-key: my-api-key
      type: object
      required:
      - auth_header
      title: HeadersAuthConfigRedact
    HuggingfaceConnectionParams:
      properties:
        api_key:
          type: string
          title: Api Key
          description: Huggingface API key for authentication
          examples:
          - sk-abxx
        model_name:
          type: string
          title: Model Name
          description: Huggingface model name for API requests
          examples:
          - gpt-4.1-nano
      type: object
      required:
      - api_key
      - model_name
      title: HuggingfaceConnectionParams
      description: Connection parameters specific to huggingface targets
    HuggingfaceConnectionRedactParams:
      properties:
        api_key:
          type: string
          format: password
          title: Api Key
          description: Huggingface API key for authentication
          writeOnly: true
          examples:
          - sk-abxx
        model_name:
          type: string
          title: Model Name
          description: Huggingface model name for API requests
          examples:
          - gpt-4.1-nano
      type: object
      required:
      - api_key
      - model_name
      title: HuggingfaceConnectionRedactParams
      description: Connection parameters specific to huggingface targets
    LanguageOptionSchema:
      properties:
        code:
          type: string
          title: Code
        name:
          type: string
          title: Name
      type: object
      required:
      - code
      - name
      title: LanguageOptionSchema
      description: Language representation with code and display name.
    MSCopilotStudioAuthUrlRequestSchema:
      properties:
        client_id:
          type: string
          title: Client Id
          description: Azure App Registration Client ID
        client_secret:
          type: string
          title: Client Secret
          description: Azure App Registration Client Secret
        tenant_id:
          type: string
          title: Tenant Id
          description: Azure AD Tenant ID
        target_uuid:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Target Uuid
          description: Existing target UUID for resolving redacted client_secret on re-auth.
        token_json_uuid:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Token Json Uuid
          description: 'Existing token_json_uuid for re-auth. If omitted, a new UUID is generated.'
      additionalProperties: false
      type: object
      required:
      - client_id
      - client_secret
      - tenant_id
      title: MSCopilotStudioAuthUrlRequestSchema
      description: |
        Request body for generating MS Copilot Studio OAuth auth URL (POST /auth-url).
        
        If token_json_uuid is provided, reuses existing UUID (re-auth).
        If omitted, generates a new UUID (new target).
    MSCopilotStudioAuthUrlResponseSchema:
      properties:
        auth_url:
          type: string
          title: Auth Url
          description: OAuth authorization URL for user login
        token_json_uuid:
          type: string
          format: uuid
          title: Token Json Uuid
          description: UUID referencing MSAL token cache in GSM
        state:
          type: string
          title: State
          description: MSAL-generated state for frontend session tracking (correlate auth callback with original request)
      type: object
      required:
      - auth_url
      - token_json_uuid
      - state
      title: MSCopilotStudioAuthUrlResponseSchema
      description: Response containing the generated OAuth auth URL.
    MSCopilotStudioConnectionParams:
      properties:
        client_id:
          type: string
          title: Client Id
          description: Azure App Registration Client ID
        client_secret:
          type: string
          title: Client Secret
          description: Azure App Registration Client Secret
        tenant_id:
          type: string
          title: Tenant Id
          description: Azure AD Tenant ID
        schema_name:
          type: string
          title: Schema Name
          description: Copilot Agent schema/identifier
        environment_id:
          type: string
          title: Environment Id
          description: Power Platform Environment ID
        token_json_uuid:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Token Json Uuid
          description: UUID referencing MSAL token cache in GSM. Set after POST /ms-copilot-studio/token.
        token_cache_json:
          anyOf:
          - type: string
          - type: 'null'
          title: Token Cache Json
          description: Serialized MSAL token cache. Injected at POST/PUT /target time from standalone GSM record.
      type: object
      required:
      - client_id
      - client_secret
      - tenant_id
      - schema_name
      - environment_id
      title: MSCopilotStudioConnectionParams
      description: Microsoft Copilot Studio Agent connection parameters.
    MSCopilotStudioConnectionRedactParams:
      properties:
        client_id:
          type: string
          title: Client Id
          description: Azure App Registration Client ID
        client_secret:
          type: string
          format: password
          title: Client Secret
          description: Azure App Registration Client Secret
          writeOnly: true
        tenant_id:
          type: string
          title: Tenant Id
          description: Azure AD Tenant ID
        schema_name:
          type: string
          title: Schema Name
          description: Copilot Agent schema/identifier
        environment_id:
          type: string
          title: Environment Id
          description: Power Platform Environment ID
        token_json_uuid:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Token Json Uuid
          description: UUID referencing MSAL token cache in GSM. Set after POST /ms-copilot-studio/token.
      type: object
      required:
      - client_id
      - client_secret
      - tenant_id
      - schema_name
      - environment_id
      title: MSCopilotStudioConnectionRedactParams
      description: Redacted version with SecretStr for sensitive fields.
    MSCopilotStudioTokenRequestSchema:
      properties:
        auth_response:
          additionalProperties:
            type: string
          type: object
          title: Auth Response
          description: 'Full redirect query params from Microsoft (code, state, session_state, etc.)'
        token_json_uuid:
          type: string
          format: uuid
          title: Token Json Uuid
          description: UUID from POST /auth-url response
        client_id:
          type: string
          title: Client Id
          description: Azure App Registration Client ID
        client_secret:
          type: string
          title: Client Secret
          description: Azure App Registration Client Secret
        tenant_id:
          type: string
          title: Tenant Id
          description: Azure AD Tenant ID
        target_uuid:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          title: Target Uuid
          description: Existing target UUID for resolving redacted client_secret on re-auth.
      additionalProperties: false
      type: object
      required:
      - auth_response
      - token_json_uuid
      - client_id
      - client_secret
      - tenant_id
      title: MSCopilotStudioTokenRequestSchema
      description: Request body for exchanging auth code for tokens (POST /token).
    MSCopilotStudioTokenResponseSchema:
      properties:
        token_json_uuid:
          type: string
          format: uuid
          title: Token Json Uuid
          description: UUID referencing MSAL token cache in GSM
      type: object
      required:
      - token_json_uuid
      title: MSCopilotStudioTokenResponseSchema
      description: Response after successful token exchange (POST/PUT /token).
    MultiTurnStatefulConfig:
      properties:
        type:
          type: string
          const: stateful
          title: Type
          default: stateful
        response_id_field:
          type: string
          title: Response Id Field
          description: 'JSON path to extract session ID from target response (e.g., ''id'' for OpenAI responses API)'
          examples:
          - id
          - conversation_id
          - session.id
        request_id_field:
          type: string
          title: Request Id Field
          description: 'JSON path to inject session ID in next request (e.g., ''previous_response_id'' for OpenAI)'
          examples:
          - previous_response_id
          - conversation_id
          - session_id
      type: object
      required:
      - response_id_field
      - request_id_field
      title: MultiTurnStatefulConfig
      description: |
        Configuration for stateful multi-turn targets (session_supported=true).
        
        Stateful targets maintain conversation state on the server side using session IDs.
        The session ID is extracted from responses and injected into subsequent requests.
    MultiTurnStatelessConfig:
      properties:
        type:
          type: string
          const: stateless
          title: Type
          default: stateless
        assistant_role:
          anyOf:
          - type: string
          - type: 'null'
          title: Assistant Role
          description: 'Role name for assistant messages in conversation history (e.g., ''assistant'', ''bot'', ''model'')'
          examples:
          - assistant
          - bot
          - model
          - ai
      type: object
      title: MultiTurnStatelessConfig
      description: |
        Configuration for stateless multi-turn targets (session_supported=false).
        
        Stateless targets require the client to maintain and send conversation history.
        The assistant_role specifies the role name used for assistant messages in the history.
    NativeConnectionParamsBase-Input:
      properties:
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionParams'
          - $ref: '#/components/schemas/DatabricksConnectionParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionParams'
          - $ref: '#/components/schemas/MSCopilotStudioConnectionParams'
          - type: 'null'
          title: Target Connection Config
          description: Provider-specific connection config
        multi_turn_config:
          anyOf:
          -
            oneOf:
            - $ref: '#/components/schemas/MultiTurnStatefulConfig'
            - $ref: '#/components/schemas/MultiTurnStatelessConfig'
            discriminator:
              propertyName: type
              mapping:
                stateful: '#/components/schemas/MultiTurnStatefulConfig'
                stateless: '#/components/schemas/MultiTurnStatelessConfig'
          - type: 'null'
          title: Multi Turn Config
          description: Multi-turn config for stateful or stateless target
        multi_turn_supported:
          type: boolean
          title: Multi Turn Supported
          description: 'Whether a native target that drives multi-turn internally supports it. Currently consumed only by custom target adapters, which have no multi_turn_config to infer it from; gates the multi-turn validation probe.'
          default: false
      type: object
      title: NativeConnectionParamsBase
      description: |
        Base connection parameters for native/SDK-based targets (no HTTP endpoint).
        
        Used for no-code agent platforms like Microsoft Copilot Studio where
        interaction is via a provider's client library, not HTTP REST/streaming.
        
        # TODO: Consider refactoring RestConnectionParamsBase and StreamingConnectionParamsBase
        # to share a common base with this class (e.g., extract target_connection_config and
        # multi_turn_config into a shared parent).
    NativeConnectionParamsBase-Output:
      properties:
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionParams'
[...]
