openapi: 3.0.0
info:
  title: Prisma Access Browser Management Console Public API
  version: 1.0.0
  description: "Red Teaming Management API - Configure and manage security groups\
    \ and rules for AI/ML model scanning. \xA9 2025 Palo Alto Networks, Inc This Open\
    \ API spec file was created on April 22, 2026. \xA9 2026 Palo Alto Networks, Inc.\
    \ Palo Alto Networks is a registered trademark of Palo Alto Networks. A list of\
    \ our trademarks can be found at [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html).\
    \ All other marks mentioned herein may be trademarks of their respective companies."
servers:
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
security:
- bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ApiEndpointType:
      type: string
      enum:
      - PUBLIC
      - PRIVATE
      - NETWORK_BROKER
      title: ApiEndpointType
      description: API endpoint accessibility type.
    BaseResponseSchema:
      properties:
        message:
          type: string
          title: Message
          description: Response message
        status:
          type: integer
          title: Status
          description: HTTP status code
      type: object
      required:
      - message
      - status
      title: BaseResponseSchema
      description: Standard response schema for simple operations like create, update,
        delete.
    BasicAuthAuthConfig:
      properties:
        basic_auth_location:
          $ref: '#/components/schemas/BasicAuthLocation'
          description: 'Where credentials are sent: HEADER or PAYLOAD'
          default: HEADER
        basic_auth_header:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Basic Auth Header
          description: 'Auth header as {name: value} dict (required when location=HEADER)'
          examples:
          - Authorization: Basic dXNlcjpwYXNz
      type: object
      title: BasicAuthAuthConfig
      description: "Basic Auth credentials \u2014 header or payload location."
    BasicAuthAuthConfigRedact:
      properties:
        basic_auth_location:
          $ref: '#/components/schemas/BasicAuthLocation'
          description: 'Where credentials are sent: HEADER or PAYLOAD'
          default: HEADER
        basic_auth_header:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Basic Auth Header
          description: 'Auth header as {name: value} dict (required when location=HEADER)'
          examples:
          - Authorization: Basic dXNlcjpwYXNz
      type: string
      title: BasicAuthLocation
      description: Where Basic Auth credentials are sent.
      enum:
      - HEADER
      - PAYLOAD
    BedrockAccessConnectionParams:
      properties:
        access_id:
          type: string
          title: Access Id
          description: AWS access key ID
        access_secret:
          type: string
          title: Access Secret
          description: AWS secret access key
        session_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Session Token
          description: AWS session token (optional)
        region:
          type: string
          title: Region
          description: AWS region
        model_id:
          type: string
          title: Model Id
          description: Bedrock model ID
      type: object
      required:
      - access_id
      - access_secret
      - region
      - model_id
      title: BedrockAccessConnectionParams
      description: AWS Bedrock access parameters stored in target_metadata.
    BedrockAccessConnectionRedactParams:
      properties:
        access_id:
          type: string
          format: password
          title: Access Id
          description: AWS access key ID
          writeOnly: true
        access_secret:
          type: string
          format: password
          title: Access Secret
          description: AWS secret access key
          writeOnly: true
        session_token:
          anyOf:
          - type: string
            format: password
            writeOnly: true
          - type: 'null'
          title: Session Token
          description: AWS session token (optional)
        region:
          type: string
          title: Region
          description: AWS region
        model_id:
          type: string
          title: Model Id
          description: Bedrock model ID
      type: object
      required:
      - access_id
      - access_secret
      - region
      - model_id
      title: BedrockAccessConnectionRedactParams
      description: AWS Bedrock access parameters stored in target_metadata.
    Body_upload_prompts_csv_v1_custom_attack_upload_custom_prompts_csv_post:
      properties:
        file:
          type: string
          format: binary
          title: File
          description: The CSV file containing custom prompts to upload.
      type: object
      required:
      - file
      title: Body_upload_prompts_csv_v1_custom_attack_upload_custom_prompts_csv_post
      description: Request body schema for uploading a CSV file of custom prompts.
    CountByNameSchema:
      properties:
        name:
          type: string
          title: Name
          description: Name of the item (e.g., target type, status)
        count:
          type: integer
          minimum: 0.0
          title: Count
          description: Count of items
      type: object
      required:
      - name
      - count
      title: CountByNameSchema
      description: 'Generic count schema with name field for extensible list structures.


        Used in dashboard and other endpoints to provide counts grouped by a name
        field.

        Frontend-friendly list format for easy iteration.

        '
    CustomPromptCreateRequestSchema:
      properties:
        prompt:
          type: string
          title: Prompt
          description: The prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Goal of the prompt (user-defined or AI-generated)
        properties:
          additionalProperties:
            type: string
          type: object
          title: Properties
          description: Property assignments (property_name -> property_value)
        prompt_set_id:
          type: string
          format: uuid
          title: Prompt Set Id
          description: The UUID of the prompt set
      additionalProperties: false
      type: object
      required:
      - prompt
      - prompt_set_id
      title: CustomPromptCreateRequestSchema
      description: Schema for creating a new custom prompt.
    CustomPromptListItemSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        prompt:
          type: string
          title: Prompt
          description: The prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Goal of the prompt
        user_defined_goal:
          type: boolean
          title: User Defined Goal
          description: Whether the goal was user-defined
        status:
          type: string
          title: Status
          description: Status of the prompt
        active:
          type: boolean
          title: Active
          description: Whether the prompt is active
        properties:
          additionalProperties:
            type: string
          type: object
          title: Properties
          description: Property assignments
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - prompt
      - user_defined_goal
      - status
      - active
      - created_at
      - updated_at
      title: CustomPromptListItemSchema
      description: Schema for custom prompt items in list responses.
    CustomPromptListSchema:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationSchema'
        data:
          items:
            $ref: '#/components/schemas/CustomPromptListItemSchema'
          type: array
          title: Data
          description: List of custom prompts
      type: object
      required:
      - pagination
      title: CustomPromptListSchema
      description: Schema for custom prompt list responses.
    CustomPromptResponseSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        prompt:
          type: string
          title: Prompt
          description: The prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Goal of the prompt
        user_defined_goal:
          type: boolean
          title: User Defined Goal
          description: Whether the goal was user-defined
        detector_category:
          anyOf:
          - type: string
          - type: 'null'
          title: Detector Category
          description: Detector category
        severity:
          anyOf:
          - type: string
          - type: 'null'
          title: Severity
          description: Severity level
        status:
          type: string
          title: Status
          description: Status of the prompt
        active:
          type: boolean
          title: Active
          description: Whether the prompt is active
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional information
        prompt_set_id:
          type: string
          format: uuid
          title: Prompt Set Id
          description: The UUID of the prompt set this prompt belongs to
        properties:
          additionalProperties:
            type: string
          type: object
          title: Properties
          description: Property assignments
        property_assignments:
          items:
            $ref: '#/components/schemas/PropertyAssignmentSchema'
          type: array
          title: Property Assignments
          description: Detailed property assignments
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - prompt
      - user_defined_goal
      - status
      - active
      - prompt_set_id
      - created_at
      - updated_at
      title: CustomPromptResponseSchema
      description: Schema for custom prompt responses.
    CustomPromptSetArchiveRequestSchema:
      properties:
        archive:
          type: boolean
          title: Archive
          description: True to archive, False to unarchive
      additionalProperties: false
      type: object
      required:
      - archive
      title: CustomPromptSetArchiveRequestSchema
      description: Schema for archiving/unarchiving prompt sets.
    CustomPromptSetCreateRequestSchema:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
          description: Name of the custom prompt set
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the custom prompt set
          default: null
        property_names:
          items:
            type: string
          type: array
          maxItems: 2
          title: Property Names
          description: Property names for this prompt set (max 2)
      additionalProperties: false
      type: object
      required:
      - name
      title: CustomPromptSetCreateRequestSchema
      description: Schema for creating a new custom prompt set.
    CustomPromptSetListActiveSchema:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CustomPromptSetReferenceSchema'
          type: array
          title: Data
          description: List of active custom prompt set references
      type: object
      title: CustomPromptSetListActiveSchema
      description: 'Schema for listing active custom prompt sets available for use.


        Used by data plane to discover available prompt sets for job creation.

        '
    CustomPromptSetListItemSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        name:
          type: string
          title: Name
          description: Name of the prompt set
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the prompt set
          default: null
        active:
          type: boolean
          title: Active
          description: Whether the prompt set is active
        archive:
          type: boolean
          title: Archive
          description: Whether the prompt set is archived
        status:
          type: string
          title: Status
          description: Status of the prompt set
        stats:
          anyOf:
          - $ref: '#/components/schemas/PromptSetStatsSchema'
          - type: 'null'
          description: Statistics about the prompt set
        property_names:
          items:
            type: string
          type: array
          title: Property Names
          description: Property names
        created_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
          description: User ID who created the prompt set
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - name
      - active
      - archive
      - status
      - created_at
      - updated_at
      title: CustomPromptSetListItemSchema
      description: Schema for custom prompt set items in list responses.
    CustomPromptSetListSchema:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationSchema'
        data:
          items:
            $ref: '#/components/schemas/CustomPromptSetListItemSchema'
          type: array
          title: Data
          description: List of custom prompt sets
      type: object
      required:
      - pagination
      title: CustomPromptSetListSchema
      description: Schema for custom prompt set list responses.
    CustomPromptSetReferenceSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: UUID of the custom prompt set
        name:
          type: string
          title: Name
          description: Name of the prompt set
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
          description: GCS generation number for snapshot versioning
        status:
          type: string
          title: Status
          description: Current status of the prompt set
        active:
          type: boolean
          title: Active
          description: Whether the prompt set is active
        tsg_id:
          type: string
          title: Tsg Id
          description: Tenant Security Group ID
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - name
      - status
      - active
      - tsg_id
      - created_at
      - updated_at
      title: CustomPromptSetReferenceSchema
      description: 'Reference schema for custom prompt sets used by data plane.


        Contains minimal information needed for data plane to fetch

        configurations from GCS using the GCS-first pattern.

        '
    CustomPromptSetResponseSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        name:
          type: string
          title: Name
          description: Name of the prompt set
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the prompt set
          default: null
        active:
          type: boolean
          title: Active
          description: Whether the prompt set is active
        archive:
          type: boolean
          title: Archive
          description: Whether the prompt set is archived
        status:
          type: string
          title: Status
          description: Status of the prompt set
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
          description: GCS generation number for snapshot versioning
        stats:
          anyOf:
          - $ref: '#/components/schemas/PromptSetStatsSchema'
          - type: 'null'
          description: Statistics about the prompt set
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional information
        property_names:
          items:
            type: string
          type: array
          title: Property Names
          description: Property names
        properties:
          items:
            $ref: '#/components/schemas/PropertyDefinitionSchema'
          type: array
          title: Properties
          description: Property definitions
        created_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
          description: User ID who created the prompt set
        updated_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Updated By User Id
          description: User ID who last updated the prompt set
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - name
      - active
      - archive
      - status
      - created_at
      - updated_at
      title: CustomPromptSetResponseSchema
      description: Schema for custom prompt set responses.
    CustomPromptSetUpdateRequestSchema:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 255
          - type: 'null'
          title: Name
          description: Updated name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Updated description
        archive:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Archive
          description: Archive status
        property_names:
          anyOf:
          - items:
              type: string
            type: array
            maxItems: 2
          - type: 'null'
          title: Property Names
          description: Updated property names (max 2)
      additionalProperties: false
      type: object
      title: CustomPromptSetUpdateRequestSchema
      description: Schema for updating a custom prompt set.
    CustomPromptSetVersionInfoSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: UUID of the custom prompt set
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
          description: GCS generation number for this version
        status:
          type: string
          title: Status
          description: Status when this version was created
        stats:
          anyOf:
          - $ref: '#/components/schemas/PromptSetStatsSchema'
          - type: 'null'
          description: Prompt statistics when version was created
        snapshot_created_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Snapshot Created At
          description: When the snapshot was created
        is_latest:
          type: boolean
          title: Is Latest
          description: Whether this is the latest version
      type: object
      required:
      - uuid
      - status
      - is_latest
      title: CustomPromptSetVersionInfoSchema
      description: 'Version information for a custom prompt set snapshot.


        Provides metadata about a specific version without full configuration data.

        '
    CustomPromptUpdateRequestSchema:
      properties:
        prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt
          description: Updated prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Updated goal
        properties:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Properties
          description: Updated property assignments
      additionalProperties: false
      type: object
      title: CustomPromptUpdateRequestSchema
      description: Schema for updating a custom prompt.
    DashboardOverviewResponseSchema:
      properties:
        total_targets:
          type: integer
          minimum: 0.0
          title: Total Targets
          description: Total number of targets
        targets_by_type:
          items:
            $ref: '#/components/schemas/CountByNameSchema'
          type: array
          title: Targets By Type
          description: Target counts grouped by type (APPLICATION, AGENT, MODEL)
      type: object
      required:
      - total_targets
      title: DashboardOverviewResponseSchema
      description: 'Dashboard overview response with target counts.


        Endpoint: GET /api/v1/dashboard/overview

        Returns target counts by type in list format for easy frontend iteration.

        '
    DatabricksConnectionParams:
      properties:
        auth_type:
          $ref: '#/components/schemas/red_team_shared__schemas__databricks__AuthType'
          description: Auth type
        access_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Access Token
          description: Databricks access token
        client_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Client Id
          description: Databricks client_id
        secret:
          anyOf:
          - type: string
          - type: 'null'
          title: Secret
          description: Databricks secret
        workspace_url:
          type: string
          title: Workspace Url
          description: Databricks workscpace_url
        model_name:
          type: string
          title: Model Name
          description: Databricks model name
      type: object
      required:
      - auth_type
      - workspace_url
      - model_name
      title: DatabricksConnectionParams
    DatabricksConnectionRedactParams:
      properties:
        auth_type:
          $ref: '#/components/schemas/red_team_shared__schemas__databricks__AuthType'
          description: Auth type
        access_token:
          anyOf:
          - type: string
            format: password
            writeOnly: true
          - type: 'null'
          title: Access Token
          description: Databricks access token
        client_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Client Id
          description: Databricks client_id
        secret:
          anyOf:
          - type: string
            format: password
            writeOnly: true
          - type: 'null'
          title: Secret
          description: Databricks secret
        workspace_url:
          type: string
          title: Workspace Url
          description: Databricks workscpace_url
        model_name:
          type: string
          title: Model Name
          description: Databricks model name
      type: object
      required:
      - auth_type
      - workspace_url
      - model_name
      title: DatabricksConnectionRedactParams
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
          description: List of validation errors describing what failed.
      type: object
      title: HTTPValidationError
      description: Standard HTTP 422 validation error response containing a list of
        field-level errors.
    HeadersAuthConfig:
      properties:
        auth_header:
          additionalProperties:
            type: string
          type: object
          title: Auth Header
          description: 'Auth header as {name: value} dict'
          examples:
          - Authorization: Bearer sk-xxxxxxxxxxxx
          - x-api-key: my-api-key
      type: object
      required:
      - auth_header
      title: HeadersAuthConfig
      description: Static header injection (API keys, bearer tokens).
    HeadersAuthConfigRedact:
      properties:
        auth_header:
          additionalProperties:
            type: string
          type: object
          title: Auth Header
          description: 'Auth header as {name: value} dict'
          examples:
          - Authorization: Bearer sk-xxxxxxxxxxxx
          - x-api-key: my-api-key
      type: object
      required:
      - auth_header
      title: HeadersAuthConfigRedact
    HuggingfaceConnectionParams:
      properties:
        api_key:
          type: string
          title: Api Key
          description: Huggingface API key for authentication
          examples:
          - sk-abxx
        model_name:
          type: string
          title: Model Name
          description: Huggingface model name for API requests
          examples:
          - gpt-4.1-nano
      type: object
      required:
      - api_key
      - model_name
      title: HuggingfaceConnectionParams
      description: Connection parameters specific to huggingface targets
    HuggingfaceConnectionRedactParams:
      properties:
        api_key:
          type: string
          format: password
          title: Api Key
          description: Huggingface API key for authentication
          writeOnly: true
          examples:
          - sk-abxx
        model_name:
          type: string
          title: Model Name
          description: Huggingface model name for API requests
          examples:
          - gpt-4.1-nano
      type: object
      required:
      - api_key
      - model_name
      title: HuggingfaceConnectionRedactParams
      description: Connection parameters specific to huggingface targets
    MSCopilotStudioAuthUrlRequestSchema:
      properties:
        client_id:
          type: string
          title: Client Id
          description: Azure App Registration Client ID
        client_secret:
          type: string
          title: Client Secret
          description: Azure App Registration Client Secret
        tenant_id:
          type: string
          title: Tenant Id
          description: Azure AD Tenant ID
        target_uuid:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Target Uuid
          description: Existing target UUID for resolving redacted client_secret on
            re-auth.
        token_json_uuid:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Token Json Uuid
          description: Existing token_json_uuid for re-auth. If omitted, a new UUID
            is generated.
      additionalProperties: false
      type: object
      required:
      - client_id
      - client_secret
      - tenant_id
      title: MSCopilotStudioAuthUrlRequestSchema
      description: 'Request body for generating MS Copilot Studio OAuth auth URL (POST
        /auth-url).


        If token_json_uuid is provided, reuses existing UUID (re-auth).

        If omitted, generates a new UUID (new target).

        '
    MSCopilotStudioAuthUrlResponseSchema:
      properties:
        auth_url:
          type: string
          title: Auth Url
          description: OAuth authorization URL for user login
        token_json_uuid:
          type: string
          format: uuid
          title: Token Json Uuid
          description: UUID referencing MSAL token cache in GSM
        state:
          type: string
          title: State
          description: MSAL-generated state for frontend session tracking (correlate
            auth callback with original request)
      type: object
      required:
      - auth_url
      - token_json_uuid
      - state
      title: MSCopilotStudioAuthUrlResponseSchema
      description: Response containing the generated OAuth auth URL.
    MSCopilotStudioConnectionParams:
      properties:
        client_id:
          type: string
          title: Client Id
          description: Azure App Registration Client ID
        client_secret:
          type: string
          title: Client Secret
          description: Azure App Registration Client Secret
        tenant_id:
          type: string
          title: Tenant Id
          description: Azure AD Tenant ID
        schema_name:
          type: string
          title: Schema Name
          description: Copilot Agent schema/identifier
        environment_id:
          type: string
          title: Environment Id
          description: Power Platform Environment ID
        token_json_uuid:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Token Json Uuid
          description: UUID referencing MSAL token cache in GSM. Set after POST /ms-copilot-studio/token.
        token_cache_json:
          anyOf:
          - type: string
          - type: 'null'
          title: Token Cache Json
          description: Serialized MSAL token cache. Injected at POST/PUT /target time
            from standalone GSM record.
      type: object
      required:
      - client_id
      - client_secret
      - tenant_id
      - schema_name
      - environment_id
      title: MSCopilotStudioConnectionParams
      description: Microsoft Copilot Studio Agent connection parameters.
    MSCopilotStudioConnectionRedactParams:
      properties:
        client_id:
          type: string
          title: Client Id
          description: Azure App Registration Client ID
        client_secret:
          type: string
          format: password
          title: Client Secret
          description: Azure App Registration Client Secret
          writeOnly: true
        tenant_id:
          type: string
          title: Tenant Id
          description: Azure AD Tenant ID
        schema_name:
          type: string
          title: Schema Name
          description: Copilot Agent schema/identifier
        environment_id:
          type: string
          title: Environment Id
          description: Power Platform Environment ID
        token_json_uuid:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Token Json Uuid
          description: UUID referencing MSAL token cache in GSM. Set after POST /ms-copilot-studio/token.
      type: object
      required:
      - client_id
      - client_secret
      - tenant_id
      - schema_name
      - environment_id
      title: MSCopilotStudioConnectionRedactParams
      description: Redacted version with SecretStr for sensitive fields.
    MSCopilotStudioTokenRequestSchema:
      properties:
        auth_response:
          additionalProperties:
            type: string
          type: object
          title: Auth Response
          description: Full redirect query params from Microsoft (code, state, session_state,
            etc.)
        token_json_uuid:
          type: string
          format: uuid
          title: Token Json Uuid
          description: UUID from POST /auth-url response
        client_id:
          type: string
          title: Client Id
          description: Azure App Registration Client ID
        client_secret:
          type: string
          title: Client Secret
          description: Azure App Registration Client Secret
        tenant_id:
          type: string
          title: Tenant Id
          description: Azure AD Tenant ID
        target_uuid:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Target Uuid
          description: Existing target UUID for resolving redacted client_secret on
            re-auth.
      additionalProperties: false
      type: object
      required:
      - auth_response
      - token_json_uuid
      - client_id
      - client_secret
      - tenant_id
      title: MSCopilotStudioTokenRequestSchema
      description: Request body for exchanging auth code for tokens (POST /token).
    MSCopilotStudioTokenResponseSchema:
      properties:
        token_json_uuid:
          type: string
          format: uuid
          title: Token Json Uuid
          description: UUID referencing MSAL token cache in GSM
      type: object
      required:
      - token_json_uuid
      title: MSCopilotStudioTokenResponseSchema
      description: Response after successful token exchange (POST/PUT /token).
    MultiTurnStatefulConfig:
      properties:
        type:
          type: string
          const: stateful
          title: Type
          default: stateful
        response_id_field:
          type: string
          title: Response Id Field
          description: JSON path to extract session ID from target response (e.g.,
            'id' for OpenAI responses API)
          examples:
          - id
          - conversation_id
          - session.id
        request_id_field:
          type: string
          title: Request Id Field
          description: JSON path to inject session ID in next request (e.g., 'previous_response_id'
            for OpenAI)
          examples:
          - previous_response_id
          - conversation_id
          - session_id
      type: object
      required:
      - response_id_field
      - request_id_field
      title: MultiTurnStatefulConfig
      description: 'Configuration for stateful multi-turn targets (session_supported=true).


        Stateful targets maintain conversation state on the server side using session
        IDs.

        The session ID is extracted from responses and injected into subsequent requests.

        '
    MultiTurnStatelessConfig:
      properties:
        type:
          type: string
          const: stateless
          title: Type
          default: stateless
        assistant_role:
          anyOf:
          - type: string
          - type: 'null'
          title: Assistant Role
          description: Role name for assistant messages in conversation history (e.g.,
            'assistant', 'bot', 'model')
          examples:
          - assistant
          - bot
          - model
          - ai
      type: object
      title: MultiTurnStatelessConfig
      description: 'Configuration for stateless multi-turn targets (session_supported=false).


        Stateless targets require the client to maintain and send conversation history.

        The assistant_role specifies the role name used for assistant messages in
        the history.

        '
    NativeConnectionParamsBase-Input:
      properties:
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionParams'
          - $ref: '#/components/schemas/DatabricksConnectionParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionParams'
          - $ref: '#/components/schemas/MSCopilotStudioConnectionParams'
          - type: 'null'
          title: Target Connection Config
          description: Provider-specific connection config
        multi_turn_config:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/MultiTurnStatefulConfig'
            - $ref: '#/components/schemas/MultiTurnStatelessConfig'
            discriminator:
              propertyName: type
              mapping:
                stateful: '#/components/schemas/MultiTurnStatefulConfig'
                stateless: '#/components/schemas/MultiTurnStatelessConfig'
          - type: 'null'
          title: Multi Turn Config
          description: Multi-turn config for stateful or stateless target
      type: object
      title: NativeConnectionParamsBase
      description: 'Base connection parameters for native/SDK-based targets (no HTTP
        endpoint).


        Used for no-code agent platforms like Microsoft Copilot Studio where

        interaction is via a provider''s client library, not HTTP REST/streaming.


        # TODO: Consider refactoring RestConnectionParamsBase and StreamingConnectionParamsBase

        # to share a common base with this class (e.g., extract target_connection_config
        and

        # multi_turn_config into a shared parent).

        '
    NativeConnectionParamsBase-Output:
      properties:
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionParams'
          - $ref: '#/components/schemas/DatabricksConnectionParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionParams'
          - $ref: '#/components/schemas/MSCopilotStudioConnectionParams'
          - type: 'null'
          title: Target Connection Config
          description: Provider-specific connection config
        multi_turn_config:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/MultiTurnStatefulConfig'
            - $ref: '#/components/schemas/MultiTurnStatelessConfig'
            discriminator:
              propertyName: type
              mapping:
                stateful: '#/components/schemas/MultiTurnStatefulConfig'
                stateless: '#/components/schemas/MultiTurnStatelessConfig'
          - type: 'null'
          title: Multi Turn Config
          description: Multi-turn config for stateful or stateless target
      type: object
      title: NativeConnectionParamsBase
      description: 'Base connection parameters for native/SDK-based targets (no HTTP
        endpoint).


        Used for no-code agent platforms like Microsoft Copilot Studio where

        interaction is via a provider''s client library, not HTTP REST/streaming.


        # TODO: Consider refactoring RestConnectionParamsBase and StreamingConnectionParamsBase

        # to share a common base with this class (e.g., extract target_connection_config
        and

        # multi_turn_config into a shared parent).

        '
    NativeConnectionParamsRedactBase:
      properties:
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionRedactParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionRedactParams'
          - $ref: '#/components/schemas/DatabricksConnectionRedactParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionRedactParams'
          - $ref: '#/components/schemas/MSCopilotStudioConnectionRedactParams'
          - type: 'null'
          title: Target Connection Config
          description: Provider-specific connection config (redacted)
        multi_turn_config:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/MultiTurnStatefulConfig'
            - $ref: '#/components/schemas/MultiTurnStatelessConfig'
            discriminator:
              propertyName: type
              mapping:
                stateful: '#/components/schemas/MultiTurnStatefulConfig'
                stateless: '#/components/schemas/MultiTurnStatelessConfig'
          - type: 'null'
          title: Multi Turn Config
          description: Multi-turn config for stateful or stateless target
      type: object
      title: NativeConnectionParamsRedactBase
      description: Redacted version of NativeConnectionParamsBase.
    OAuth2AuthConfig:
      properties:
        oauth2_token_url:
          type: string
          title: Oauth2 Token Url
          description: OAuth2 token endpoint URL
          examples:
          - https://login.microsoftonline.com/{tenant}/oauth2/v2.0/token
        oauth2_expiry_minutes:
          type: integer
          minimum: 0.0
          title: Oauth2 Expiry Minutes
          description: Token validity in minutes. System refreshes at expiry - 1 min.
          default: 60
        oauth2_headers:
          additionalProperties: true
          type: object
          title: Oauth2 Headers
          description: HTTP headers for the token request
          examples:
          - Authorization: Basic Y2xpZW50X2lkOmNsaWVudF9zZWNyZXQ=
            Content-Type: application/x-www-form-urlencoded
        oauth2_body_params:
          additionalProperties: true
          type: object
          title: Oauth2 Body Params
          description: Body parameters for the token request (nested JSON dict)
          examples:
          - client_id: my-client-id
            client_secret: my-client-secret
            grant_type: client_credentials
            scope: api-access
        oauth2_token_response_key:
          type: string
          title: Oauth2 Token Response Key
          description: Dot-notation path to token in response JSON
          default: access_token
          examples:
          - access_token
          - data.credentials.access_token
        oauth2_inject_header:
          additionalProperties:
            type: string
          type: object
          title: Oauth2 Inject Header
          description: Header template with {TOKEN} placeholder
          examples:
          - Authorization: Bearer {TOKEN}
      type: object
      required:
      - oauth2_token_url
      - oauth2_inject_header
      title: OAuth2AuthConfig
      description: OAuth2 client credentials with proactive token refresh.
    OAuth2AuthConfigRedact:
      properties:
        oauth2_token_url:
          type: string
          title: Oauth2 Token Url
          description: OAuth2 token endpoint URL
          examples:
          - https://login.microsoftonline.com/{tenant}/oauth2/v2.0/token
        oauth2_expiry_minutes:
          type: integer
          minimum: 0.0
          title: Oauth2 Expiry Minutes
          description: Token validity in minutes. System refreshes at expiry - 1 min.
          default: 60
        oauth2_headers:
          additionalProperties: true
          type: object
          title: Oauth2 Headers
          description: HTTP headers for the token request
          examples:
          - Authorization: Basic Y2xpZW50X2lkOmNsaWVudF9zZWNyZXQ=
            Content-Type: application/x-www-form-urlencoded
        oauth2_body_params:
          additionalProperties: true
          type: object
          title: Oauth2 Body Params
          description: Body parameters for the token request (nested JSON dict)
          examples:
          - client_id: my-client-id
            client_secret: my-client-secret
            grant_type: client_credentials
            scope: api-access
        oauth2_token_response_key:
          type: string
          title: Oauth2 Token Response Key
          description: Dot-notation path to token in response JSON
          default: access_token
          examples:
          - access_token
          - data.credentials.access_token
        oauth2_inject_header:
          additionalProperties:
            type: string
          type: object
          title: Oauth2 Inject Header
          description: Header template with {TOKEN} placeholder
          examples:
          - Authorization: Bearer {TOKEN}
      type: object
      required:
      - oauth2_token_url
      - oauth2_inject_header
      title: OAuth2AuthConfigRedact
    OpenAIConnectionParams:
      properties:
        api_key:
          type: string
          title: Api Key
          description: OpenAI API key for authentication
          examples:
          - sk-abxx
        model_name:
          type: string
          title: Model Name
          description: OpenAI model name for API requests
          examples:
          - gpt-4.1-nano
      type: object
      required:
      - api_key
      - model_name
      title: OpenAIConnectionParams
      description: Connection parameters specific to OpenAI targets
    OpenAIConnectionRedactParams:
      properties:
        api_key:
          type: string
          format: password
          title: Api Key
          description: OpenAI API key for authentication
          writeOnly: true
          examples:
          - sk-abxx
        model_name:
          type: string
          title: Model Name
          description: OpenAI model name for API requests
          examples:
          - gpt-4.1-nano
      type: object
      required:
      - api_key
      - model_name
      title: OpenAIConnectionRedactParams
      description: Connection parameters specific to OpenAI targets
    OtherDetails:
      properties:
        items:
          additionalProperties: true
          type: object
          title: Items
      type: object
      title: OtherDetails
      description: 'Additional profiler discoveries. Read-only key-value pairs.


        Examples: code_execution_capability, internet_access, etc.

        '
    PaginationSchema:
      properties:
        total_items:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Items
          description: Total number of items available across all pages.
      type: object
      title: PaginationSchema
      description: Pagination metadata returned with paginated list responses.
    ProfilingStatus:
      type: string
      enum:
      - INIT
      - QUEUED
      - IN_PROGRESS
      - COMPLETED
      - FAILED
      title: ProfilingStatus
      description: Status of target profiling workflow.
    PromptSetStatsSchema:
      properties:
        total_prompts:
          type: integer
          title: Total Prompts
          description: Total number of prompts
        active_prompts:
          type: integer
          title: Active Prompts
          description: Number of active prompts
        failed_prompts:
          type: integer
          title: Failed Prompts
          description: Number of failed prompts
          default: 0
        validation_prompts:
          type: integer
          title: Validation Prompts
          description: Number of validation prompts
          default: 0
        inactive_prompts:
          type: integer
          title: Inactive Prompts
          description: Number of inactive prompts
      type: object
      required:
      - total_prompts
      - active_prompts
      - inactive_prompts
      title: PromptSetStatsSchema
      description: Schema for prompt set statistics.
    PropertyAssignmentSchema:
      properties:
        property_name:
          type: string
          title: Property Name
          description: Property name (e.g., 'industry', 'role')
        property_value:
          type: string
          title: Property Value
          description: Property value (e.g., 'healthcare', 'CEO')
      type: object
      required:
      - property_name
      - property_value
      title: PropertyAssignmentSchema
      description: Schema for property name-value assignments.
    PropertyDefinitionSchema:
      properties:
        property_name:
          type: string
          title: Property Name
          description: Property name
        created_at:
          type: string
          format: date-time
          title: Created At
          description: When the property was created
      type: object
      required:
      - property_name
      - created_at
      title: PropertyDefinitionSchema
      description: Schema for property definitions in a prompt set.
    PropertyNameCreateRequestSchema:
      properties:
        name:
          type: string
          maxLength: 256
          title: Name
          description: Name of the property
      additionalProperties: false
      type: object
      required:
      - name
      title: PropertyNameCreateRequestSchema
      description: Schema for creating a new property name.
    PropertyNamesListResponseSchema:
      properties:
        data:
          items:
            type: string
          type: array
          title: Data
          description: List of property names
      type: object
      title: PropertyNamesListResponseSchema
      description: Schema for property names list responses.
    PropertyValueCreateRequestSchema:
      properties:
        property_name:
          type: string
          title: Property Name
          description: Name of the property
        property_value:
          type: string
          maxLength: 256
          title: Property Value
          description: Value for the property
      additionalProperties: false
      type: object
      required:
      - property_name
      - property_value
      title: PropertyValueCreateRequestSchema
      description: Schema for creating a new property value.
    PropertyValuesMultipleResponseSchema:
      properties:
        data:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          title: Data
          description: Dictionary mapping property names to their values
      type: object
      title: PropertyValuesMultipleResponseSchema
      description: Schema for property values for multiple property names.
    PropertyValuesResponseSchema:
      properties:
        name:
          type: string
          title: Name
          description: Property name
        values:
          items:
            type: string
          type: array
          title: Values
          description: List of values for this property
      type: object
      required:
      - name
      title: PropertyValuesResponseSchema
      description: Schema for property values for a specific property name.
    ResponseMode:
      type: string
      enum:
      - REST
      - STREAMING
      - WEBSOCKET
      - WEBSOCKET_STREAMING
      title: ResponseMode
      description: Response mode for target interactions.
    RestConnectionParamsBase-Input:
      properties:
        api_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Endpoint
          description: API endpoint URL
          examples:
          - https://api.openai.com/v1/responses
        request_headers:
          additionalProperties: true
          type: object
          title: Request Headers
          description: Request headers
          default: {}
          examples:
          - Authorization: Bearer sk-xxx
            Content-Type: application/json
        request_json:
          additionalProperties: true
          type: object
          title: Request Json
          description: Request JSON
          default: {}
          examples:
          - input:
            - content:
              - text: '{INPUT}'
                type: input_text
              role: user
            model: gpt-4.1-nano
        response_json:
          additionalProperties: true
          type: object
          title: Response Json
          description: Response JSON
          default: {}
          examples:
          - content: '{RESPONSE}'
        response_key:
          type: string
          title: Response Key
          description: Response key
          default: null
          examples:
          - content
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionParams'
          - $ref: '#/components/schemas/DatabricksConnectionParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionParams'
          - $ref: '#/components/schemas/MSCopilotStudioConnectionParams'
          - type: 'null'
          title: Target Connection Config
          description: Target Connection config of type openai/huggingface ..
        curl:
          anyOf:
          - type: string
          - type: 'null'
          title: Curl
          description: Generated cURL command ready to use (redacted for security)
          examples:
          - 'curl "https://api.openai.com/v1/chat/completions" -H "Content-Type: application/json"
            -H "Authorization: Bearer ***" -d ''{"model":"gpt-4","messages":[{"role":"user","content":"{INPUT}"}]}'''
        multi_turn_config:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/MultiTurnStatefulConfig'
            - $ref: '#/components/schemas/MultiTurnStatelessConfig'
            discriminator:
              propertyName: type
              mapping:
                stateful: '#/components/schemas/MultiTurnStatefulConfig'
                stateless: '#/components/schemas/MultiTurnStatelessConfig'
          - type: 'null'
          title: Multi Turn Config
          description: Multi turn config for stateful or stateless target
          examples:
          - 'assistant_role: assistant'
      type: object
      title: RestConnectionParamsBase
      description: Base connection parameters without generated fields.
    RestConnectionParamsBase-Output:
      properties:
        api_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Endpoint
          description: API endpoint URL
          examples:
          - https://api.openai.com/v1/responses
        request_headers:
          additionalProperties: true
          type: object
          title: Request Headers
          description: Request headers
          default: {}
          examples:
          - Authorization: Bearer sk-xxx
            Content-Type: application/json
        request_json:
          additionalProperties: true
          type: object
          title: Request Json
          description: Request JSON
          default: {}
          examples:
          - input:
            - content:
              - text: '{INPUT}'
                type: input_text
              role: user
            model: gpt-4.1-nano
        response_json:
          additionalProperties: true
          type: object
          title: Response Json
          description: Response JSON
          default: {}
          examples:
          - content: '{RESPONSE}'
        response_key:
          type: string
          title: Response Key
          description: Response key
          default: null
          examples:
          - content
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionParams'
          - $ref: '#/components/schemas/DatabricksConnectionParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionParams'
          - $ref: '#/components/schemas/MSCopilotStudioConnectionParams'
          - type: 'null'
          title: Target Connection Config
          description: Target Connection config of type openai/huggingface ..
        curl:
          anyOf:
          - type: string
          - type: 'null'
          title: Curl
          description: Generated cURL command ready to use (redacted for security)
          examples:
          - 'curl "https://api.openai.com/v1/chat/completions" -H "Content-Type: application/json"
            -H "Authorization: Bearer ***" -d ''{"model":"gpt-4","messages":[{"role":"user","content":"{INPUT}"}]}'''
        multi_turn_config:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/MultiTurnStatefulConfig'
            - $ref: '#/components/schemas/MultiTurnStatelessConfig'
            discriminator:
              propertyName: type
              mapping:
                stateful: '#/components/schemas/MultiTurnStatefulConfig'
                stateless: '#/components/schemas/MultiTurnStatelessConfig'
          - type: 'null'
          title: Multi Turn Config
          description: Multi turn config for stateful or stateless target
          examples:
          - 'assistant_role: assistant'
      type: object
      title: RestConnectionParamsBase
      description: Base connection parameters without generated fields.
    RestConnectionParamsRedactBase:
      properties:
        api_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Endpoint
          description: API endpoint URL
          examples:
          - https://api.openai.com/v1/responses
        request_headers:
          additionalProperties: true
          type: object
          title: Request Headers
          description: Request headers
          default: {}
          examples:
          - Authorization: Bearer sk-xxx
            Content-Type: application/json
        request_json:
          additionalProperties: true
          type: object
          title: Request Json
          description: Request JSON
          default: {}
          examples:
          - input:
            - content:
              - text: '{INPUT}'
                type: input_text
              role: user
            model: gpt-4.1-nano
        response_json:
          additionalProperties: true
          type: object
          title: Response Json
          description: Response JSON
          default: {}
          examples:
          - content: '{RESPONSE}'
        response_key:
          type: string
          title: Response Key
          description: Response key
          default: null
          examples:
          - content
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionRedactParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionRedactParams'
          - $ref: '#/components/schemas/DatabricksConnectionRedactParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionRedactParams'
          - $ref: '#/components/schemas/MSCopilotStudioConnectionRedactParams'
          - type: 'null'
          title: Target Connection Config
          description: Target Connection config of type openai/huggingface ..
        curl:
          anyOf:
          - type: string
          - type: 'null'
          title: Curl
          description: Generated cURL command ready to use (redacted for security)
          examples:
          - 'curl "https://api.openai.com/v1/chat/completions" -H "Content-Type: application/json"
            -H "Authorization: Bearer ***" -d ''{"model":"gpt-4","messages":[{"role":"user","content":"{INPUT}"}]}'''
        multi_turn_config:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/MultiTurnStatefulConfig'
            - $ref: '#/components/schemas/MultiTurnStatelessConfig'
            discriminator:
              propertyName: type
              mapping:
                stateful: '#/components/schemas/MultiTurnStatefulConfig'
                stateless: '#/components/schemas/MultiTurnStatelessConfig'
          - type: 'null'
          title: Multi Turn Config
          description: Multi turn config for stateful or stateless target
          examples:
          - 'assistant_role: assistant'
      type: object
      title: RestConnectionParamsRedactBase
    StreamingConnectionParamsBase-Input:
      properties:
        api_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Endpoint
          description: API endpoint URL
          examples:
          - https://api.openai.com/v1/responses
        request_headers:
          additionalProperties: true
          type: object
          title: Request Headers
          description: Request headers
          default: {}
          examples:
          - Authorization: Bearer sk-xxx
            Content-Type: application/json
        request_json:
          additionalProperties: true
          type: object
          title: Request Json
          description: Request JSON
          default: {}
          examples:
          - input:
            - content:
              - text: '{INPUT}'
                type: input_text
              role: user
            model: gpt-4.1-nano
        response_json:
          additionalProperties: true
          type: object
          title: Response Json
          description: Response JSON
          default: {}
          examples:
          - content: '{RESPONSE}'
        response_key:
          type: string
          title: Response Key
          description: Response key
          default: null
          examples:
          - content
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionParams'
          - $ref: '#/components/schemas/DatabricksConnectionParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionParams'
          - $ref: '#/components/schemas/MSCopilotStudioConnectionParams'
          - type: 'null'
          title: Target Connection Config
          description: Target Connection config of type openai/huggingface ..
        curl:
          anyOf:
          - type: string
          - type: 'null'
          title: Curl
          description: Generated cURL command ready to use (redacted for security)
          examples:
          - 'curl "https://api.openai.com/v1/chat/completions" -H "Content-Type: application/json"
            -H "Authorization: Bearer ***" -d ''{"model":"gpt-4","messages":[{"role":"user","content":"{INPUT}"}]}'''
        multi_turn_config:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/MultiTurnStatefulConfig'
            - $ref: '#/components/schemas/MultiTurnStatelessConfig'
            discriminator:
              propertyName: type
              mapping:
                stateful: '#/components/schemas/MultiTurnStatefulConfig'
                stateless: '#/components/schemas/MultiTurnStatelessConfig'
          - type: 'null'
          title: Multi Turn Config
          description: Multi turn config for stateful or stateless target
          examples:
          - 'assistant_role: assistant'
        response_stop_key:
          type: string
          title: Response Stop Key
        response_stop_value:
          type: string
          title: Response Stop Value
      type: object
      required:
      - response_stop_key
      - response_stop_value
      title: StreamingConnectionParamsBase
      description: Base streaming connection parameters without generated fields.
    StreamingConnectionParamsBase-Output:
      properties:
        api_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Endpoint
          description: API endpoint URL
          examples:
          - https://api.openai.com/v1/responses
        request_headers:
          additionalProperties: true
          type: object
          title: Request Headers
          description: Request headers
          default: {}
          examples:
          - Authorization: Bearer sk-xxx
            Content-Type: application/json
        request_json:
          additionalProperties: true
          type: object
          title: Request Json
          description: Request JSON
          default: {}
          examples:
          - input:
            - content:
              - text: '{INPUT}'
                type: input_text
              role: user
            model: gpt-4.1-nano
        response_json:
          additionalProperties: true
          type: object
          title: Response Json
          description: Response JSON
          default: {}
          examples:
          - content: '{RESPONSE}'
        response_key:
          type: string
          title: Response Key
          description: Response key
          default: null
          examples:
          - content
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionParams'
          - $ref: '#/components/schemas/DatabricksConnectionParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionParams'
          - $ref: '#/components/schemas/MSCopilotStudioConnectionParams'
          - type: 'null'
          title: Target Connection Config
          description: Target Connection config of type openai/huggingface ..
        curl:
          anyOf:
          - type: string
          - type: 'null'
          title: Curl
          description: Generated cURL command ready to use (redacted for security)
          examples:
          - 'curl "https://api.openai.com/v1/chat/completions" -H "Content-Type: application/json"
            -H "Authorization: Bearer ***" -d ''{"model":"gpt-4","messages":[{"role":"user","content":"{INPUT}"}]}'''
        multi_turn_config:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/MultiTurnStatefulConfig'
            - $ref: '#/components/schemas/MultiTurnStatelessConfig'
            discriminator:
              propertyName: type
              mapping:
                stateful: '#/components/schemas/MultiTurnStatefulConfig'
                stateless: '#/components/schemas/MultiTurnStatelessConfig'
          - type: 'null'
          title: Multi Turn Config
          description: Multi turn config for stateful or stateless target
          examples:
          - 'assistant_role: assistant'
        response_stop_key:
          type: string
          title: Response Stop Key
        response_stop_value:
          type: string
          title: Response Stop Value
      type: object
      required:
      - response_stop_key
      - response_stop_value
      title: StreamingConnectionParamsBase
      description: Base streaming connection parameters without generated fields.
    StreamingConnectionParamsRedactBase:
      properties:
        api_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Endpoint
          description: API endpoint URL
          examples:
          - https://api.openai.com/v1/responses
        request_headers:
          additionalProperties: true
          type: object
          title: Request Headers
          description: Request headers
          default: {}
          examples:
          - Authorization: Bearer sk-xxx
            Content-Type: application/json
        request_json:
          additionalProperties: true
          type: object
          title: Request Json
          description: Request JSON
          default: {}
          examples:
          - input:
            - content:
              - text: '{INPUT}'
                type: input_text
              role: user
            model: gpt-4.1-nano
        response_json:
          additionalProperties: true
          type: object
          title: Response Json
          description: Response JSON
          default: {}
          examples:
          - content: '{RESPONSE}'
        response_key:
          type: string
          title: Response Key
          description: Response key
          default: null
          examples:
          - content
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionRedactParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionRedactParams'
          - $ref: '#/components/schemas/DatabricksConnectionRedactParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionRedactParams'
          - $ref: '#/components/schemas/MSCopilotStudioConnectionRedactParams'
          - type: 'null'
          title: Target Connection Config
          description: Target Connection config of type openai/huggingface ..
        curl:
          anyOf:
          - type: string
          - type: 'null'
          title: Curl
          description: Generated cURL command ready to use (redacted for security)
          examples:
          - 'curl "https://api.openai.com/v1/chat/completions" -H "Content-Type: application/json"
            -H "Authorization: Bearer ***" -d ''{"model":"gpt-4","messages":[{"role":"user","content":"{INPUT}"}]}'''
        multi_turn_config:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/MultiTurnStatefulConfig'
            - $ref: '#/components/schemas/MultiTurnStatelessConfig'
            discriminator:
              propertyName: type
              mapping:
                stateful: '#/components/schemas/MultiTurnStatefulConfig'
                stateless: '#/components/schemas/MultiTurnStatelessConfig'
          - type: 'null'
          title: Multi Turn Config
          description: Multi turn config for stateful or stateless target
          examples:
          - 'assistant_role: assistant'
        response_stop_key:
          type: string
          title: Response Stop Key
        response_stop_value:
          type: string
          title: Response Stop Value
      type: object
      required:
      - response_stop_key
      - response_stop_value
      title: StreamingConnectionParamsRedactBase
    TargetAdditionalContext:
      properties:
        base_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Base Model
          description: Base model name (e.g., GPT-4, Claude)
        core_architecture:
          anyOf:
          - type: string
          - type: 'null'
          title: Core Architecture
          description: Core architecture details
        system_prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: System Prompt
          description: System prompt
        languages_supported:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Languages Supported
          description: Supported languages
        banned_keywords:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Banned Keywords
          description: Banned keywords/phrases
        tools_accessible:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tools Accessible
          description: Accessible tools/capabilities
      type: object
      title: TargetAdditionalContext
      description: 'Additional context - used in create/update API requests and stored
        in DB/GCS.


        Single value fields are strings.

        List fields are lists of strings.

        '
    TargetAuthValidationRequestSchema:
      properties:
        auth_type:
          $ref: '#/components/schemas/red_team_shared__schemas__auth_config__AuthType'
          description: Authentication method type
        auth_config:
          anyOf:
          - $ref: '#/components/schemas/HeadersAuthConfig'
          - $ref: '#/components/schemas/BasicAuthAuthConfig'
          - $ref: '#/components/schemas/OAuth2AuthConfig'
          title: Auth Config
          description: Authentication configuration to validate
        target_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Target Id
          description: Existing target UUID. When provided and auth_config contains
            redacted values, actual credentials are fetched from secrets manager.
        network_broker_channel_uuid:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Network Broker Channel Uuid
          description: Network broker channel UUID. When provided, OAuth2 token requests
            are routed via network broker.
      type: object
      required:
      - auth_type
      - auth_config
      title: TargetAuthValidationRequestSchema
      description: Request schema to validate target authentication configuration.
    TargetAuthValidationResponseSchema:
      properties:
        validated:
          type: boolean
          title: Validated
          description: Whether auth validation passed
        token_preview:
          anyOf:
          - type: string
          - type: 'null'
          title: Token Preview
          description: First 20 chars of token (OAuth2 only)
        expires_in:
          anyOf:
          - type: integer
          - type: 'null'
          title: Expires In
          description: Token expiry from response (OAuth2 only)
      type: object
      required:
      - validated
      title: TargetAuthValidationResponseSchema
      description: 'Response schema from target authentication validation.


        On failure, the service raises airs_common exceptions (ValidationError,

        AuthError, etc.) which are converted to HTTP error responses by middleware.

        '
    TargetBackground:
      properties:
        industry:
          anyOf:
          - type: string
          - type: 'null'
          title: Industry
          description: Target's industry (e.g., Healthcare, Finance)
        use_case:
          anyOf:
          - type: string
          - type: 'null'
          title: Use Case
          description: Primary use case (e.g., Customer Support, Code Assistant)
        competitors:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Competitors
          description: Known competitor products
      type: object
      title: TargetBackground
      description: 'Target background - used in create/update API requests and stored
        in DB/GCS.


        Required fields for activation:

        - industry (string, required)

        - use_case (string, required)


        Optional field:

        - competitors (list of strings)

        '
    TargetConnectionType:
      type: string
      enum:
      - DATABRICKS
      - BEDROCK
      - OPENAI
      - HUGGING_FACE
      - CUSTOM
      - REST
      - STREAMING
      - WEBSOCKET
      - WEBSOCKET_STREAMING
      - MS_COPILOT_STUDIO
      title: TargetConnectionType
      description: Connection type/provider for the target.
    TargetContextUpdateSchema:
      properties:
        target_background:
          anyOf:
          - $ref: '#/components/schemas/TargetBackground'
          - type: 'null'
          description: 'Target background: industry, use_case, competitors'
        additional_context:
          anyOf:
          - $ref: '#/components/schemas/TargetAdditionalContext'
          - type: 'null'
          description: 'Additional context: base_model, system_prompt, languages,
            etc.'
      type: object
      title: TargetContextUpdateSchema
      description: 'Request schema for updating target profile (background + additional
        context).


        Used by PUT /{target_uuid}/profile endpoint.

        User provides plain values which are saved directly to DB and GCS.

        '
    TargetCreateRequestSchema:
      properties:
        connection_params:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/NativeConnectionParamsBase-Input'
            - $ref: '#/components/schemas/WebSocketConnectionParamsBase-Input'
            - $ref: '#/components/schemas/StreamingConnectionParamsBase-Input'
            - $ref: '#/components/schemas/RestConnectionParamsBase-Input'
          - type: 'null'
          title: Connection Params
          description: API connection parameters (sensitive data masked for security)
        auth_config:
          anyOf:
          - $ref: '#/components/schemas/HeadersAuthConfig'
          - $ref: '#/components/schemas/BasicAuthAuthConfig'
          - $ref: '#/components/schemas/OAuth2AuthConfig'
          - type: 'null'
          title: Auth Config
          description: Authentication configuration (resolved based on auth_type)
        network_broker_channel_uuid:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Network Broker Channel Uuid
          description: Network broker channel UUID for routing requests. Required
            when api_endpoint_type is NETWORK_BROKER.
          examples:
          - 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          title: Name
          description: Target name
          examples:
          - GPT 4.1 Nano
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Optional target description
          default: null
          examples:
          - AI model for testing
        target_type:
          anyOf:
          - $ref: '#/components/schemas/TargetType'
          - type: 'null'
          description: Type of target
        connection_type:
          anyOf:
          - $ref: '#/components/schemas/TargetConnectionType'
          - type: 'null'
          description: Connection type/provider for the target
          examples:
          - CUSTOM
          - OPENAI
          - BEDROCK
        api_endpoint_type:
          anyOf:
          - $ref: '#/components/schemas/ApiEndpointType'
          - type: 'null'
          description: Accessibility type of the API endpoint
          examples:
          - PUBLIC
          - PRIVATE
          - NETWORK_BROKER
        response_mode:
          anyOf:
          - $ref: '#/components/schemas/ResponseMode'
          - type: 'null'
          description: Response mode for API interactions
          examples:
          - REST
          - STREAMING
          - WEBSOCKET
        auth_type:
          anyOf:
          - $ref: '#/components/schemas/red_team_shared__schemas__auth_config__AuthType'
          - type: 'null'
          description: Authentication method for target API access
          examples:
          - HEADERS
          - BASIC_AUTH
          - OAUTH2
        session_supported:
          type: boolean
          title: Session Supported
          description: Whether target supports session for multi-turn conversations
          default: false
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional configuration or metadata for the target
          default: {}
          examples:
          - custom_key: custom_value
        target_metadata:
          $ref: '#/components/schemas/TargetMetadata'
          description: Target metadata and configuration options
        target_background:
          anyOf:
          - $ref: '#/components/schemas/TargetBackground'
          - type: 'null'
          description: 'Target background: industry, use_case, competitors'
        additional_context:
          anyOf:
          - $ref: '#/components/schemas/TargetAdditionalContext'
          - type: 'null'
          description: 'Additional context: base_model, system_prompt, languages,
            etc.'
      additionalProperties: false
      type: object
      required:
      - name
      title: TargetCreateRequestSchema
      description: Target create request schema for validating and defining target
        creation parameters.
    TargetListItemSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
        tsg_id:
          type: string
          title: Tsg Id
        name:
          type: string
          title: Name
          description: Target name
          examples:
          - GPT 4.1 Nano
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Optional target description
          default: null
          examples:
          - AI model for testing
        target_type:
          anyOf:
          - $ref: '#/components/schemas/TargetType'
          - type: 'null'
          description: Type of target
        connection_type:
          anyOf:
          - $ref: '#/components/schemas/TargetConnectionType'
          - type: 'null'
          description: Connection type/provider for the target
          examples:
          - CUSTOM
          - OPENAI
          - BEDROCK
        api_endpoint_type:
          anyOf:
          - $ref: '#/components/schemas/ApiEndpointType'
          - type: 'null'
          description: Accessibility type of the API endpoint
          examples:
          - PUBLIC
          - PRIVATE
          - NETWORK_BROKER
        response_mode:
          anyOf:
          - $ref: '#/components/schemas/ResponseMode'
          - type: 'null'
          description: Response mode for API interactions
          examples:
          - REST
          - STREAMING
          - WEBSOCKET
        auth_type:
          anyOf:
          - $ref: '#/components/schemas/red_team_shared__schemas__auth_config__AuthType'
          - type: 'null'
          description: Authentication method for target API access
          examples:
          - HEADERS
          - BASIC_AUTH
          - OAUTH2
        session_supported:
          type: boolean
          title: Session Supported
          description: Whether target supports session for multi-turn conversations
          default: false
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional configuration or metadata for the target
          default: {}
          examples:
          - custom_key: custom_value
        status:
          $ref: '#/components/schemas/TargetStatus'
          description: Target status
        active:
          type: boolean
          title: Active
          description: Whether target is active
        validated:
          type: boolean
          title: Validated
          description: Whether target is validated
        version:
          anyOf:
          - type: integer
          - type: 'null'
          title: Version
          description: Configuration version
        secret_version:
          anyOf:
          - type: string
          - type: 'null'
          title: Secret Version
          description: Secret Manager version for connection_params. When present,
            sensitive connection data is stored in Secret Manager. When None, connection_params
            are stored in GCS (legacy).
        created_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
          description: User ID of target creator
        updated_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Updated By User Id
          description: User ID of last target updater
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - tsg_id
      - name
      - status
      - active
      - validated
      - created_at
      - updated_at
      title: TargetListItemSchema
    TargetListSchema:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationSchema'
        data:
          items:
            $ref: '#/components/schemas/TargetListItemSchema'
          type: array
          title: Data
          description: List of targets
      type: object
      required:
      - pagination
      title: TargetListSchema
      description: Schema returned by API for list target operations.
    TargetMetadata:
      properties:
        multi_turn:
          type: boolean
          title: Multi Turn
          description: Whether target supports multi-turn conversations (Probe 2 result)
          default: false
        multi_turn_error_message:
          anyOf:
          - type: string
          - type: 'null'
          title: Multi Turn Error Message
          description: Concise error message if Probe 2 failed
          examples:
          - Session ID extraction failed
          - Assistant role not configured
        rate_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Rate Limit
          description: Current rate limit value
          examples:
          - 996
        rate_limit_enabled:
          type: boolean
          title: Rate Limit Enabled
          description: Whether rate limiting is enabled
          default: false
        rate_limit_error_code:
          anyOf:
          - type: integer
          - type: 'null'
          title: Rate Limit Error Code
          description: HTTP status code for rate limit errors
          examples:
          - 429
        rate_limit_error_json:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Rate Limit Error Json
          description: JSON structure of rate limit error response
          examples:
          - error:
              code: rate_limit_exceeded
              message: 'Rate limit reached for o1-preview on requests per min (RPM):
                Limit 20, Used 20, Requested 1. Please try again in 3s. Visit https://platform.openai.com/account/rate-limits
                to learn more.'
              param: 'null'
              type: requests
        rate_limit_error_message:
          anyOf:
          - type: string
          - type: 'null'
          title: Rate Limit Error Message
          description: Raw error message string for rate limit errors
          examples:
          - 'Rate limit reached for o1-preview on requests per min (RPM): Limit 20,
            Used 20, Requested 1. Please try again in 3s.'
        content_filter_enabled:
          type: boolean
          title: Content Filter Enabled
          description: Whether content filtering is enabled
          default: false
        content_filter_error_code:
          anyOf:
          - type: integer
          - type: 'null'
          title: Content Filter Error Code
          description: HTTP status code for content filter errors
          examples:
          - 400
        content_filter_error_json:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Content Filter Error Json
          description: JSON structure of content filter error response
          examples:
          - error:
              code: invalid_prompt
              message: 'Invalid prompt: your prompt was flagged as potentially violating
                our usage policy. Please try again with a different prompt.'
              type: invalid_request_error
        content_filter_error_message:
          anyOf:
          - type: string
          - type: 'null'
          title: Content Filter Error Message
          description: Raw error message string for content filter errors
          examples:
          - 'Invalid prompt: your prompt was flagged as potentially violating our
            usage policy. Please try again with a different prompt.'
        probe_message:
          type: string
          title: Probe Message
          default: Hello, this is a test message from the red team validation system.
        request_timeout:
          type: number
          title: Request Timeout
          description: Request timeout in seconds
          default: 110
          examples:
          - 110
      type: object
      title: TargetMetadata
      description: Metadata stored in the database for targets (user-provided + computed
        fields).
    TargetProbeRequest:
      properties:
        connection_params:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/NativeConnectionParamsBase-Input'
            - $ref: '#/components/schemas/WebSocketConnectionParamsBase-Input'
            - $ref: '#/components/schemas/StreamingConnectionParamsBase-Input'
            - $ref: '#/components/schemas/RestConnectionParamsBase-Input'
          - type: 'null'
          title: Connection Params
          description: API connection parameters (sensitive data masked for security)
        auth_config:
          anyOf:
          - $ref: '#/components/schemas/HeadersAuthConfig'
          - $ref: '#/components/schemas/BasicAuthAuthConfig'
          - $ref: '#/components/schemas/OAuth2AuthConfig'
          - type: 'null'
          title: Auth Config
          description: Authentication configuration (resolved based on auth_type)
        network_broker_channel_uuid:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Network Broker Channel Uuid
          description: Network broker channel UUID for routing requests. Required
            when api_endpoint_type is NETWORK_BROKER.
          examples:
          - 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          title: Name
          description: Target name
          examples:
          - GPT 4.1 Nano
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Optional target description
          default: null
          examples:
          - AI model for testing
        target_type:
          anyOf:
          - $ref: '#/components/schemas/TargetType'
          - type: 'null'
          description: Type of target
        connection_type:
          anyOf:
          - $ref: '#/components/schemas/TargetConnectionType'
          - type: 'null'
          description: Connection type/provider for the target
          examples:
          - CUSTOM
          - OPENAI
          - BEDROCK
        api_endpoint_type:
          anyOf:
          - $ref: '#/components/schemas/ApiEndpointType'
          - type: 'null'
          description: Accessibility type of the API endpoint
          examples:
          - PUBLIC
          - PRIVATE
          - NETWORK_BROKER
        response_mode:
          anyOf:
          - $ref: '#/components/schemas/ResponseMode'
          - type: 'null'
          description: Response mode for API interactions
          examples:
          - REST
          - STREAMING
          - WEBSOCKET
        auth_type:
          anyOf:
          - $ref: '#/components/schemas/red_team_shared__schemas__auth_config__AuthType'
          - type: 'null'
          description: Authentication method for target API access
          examples:
          - HEADERS
          - BASIC_AUTH
          - OAUTH2
        session_supported:
          type: boolean
          title: Session Supported
          description: Whether target supports session for multi-turn conversations
          default: false
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional configuration or metadata for the target
          default: {}
          examples:
          - custom_key: custom_value
        target_metadata:
          $ref: '#/components/schemas/TargetMetadata'
          description: Target metadata and configuration options
        target_background:
          anyOf:
          - $ref: '#/components/schemas/TargetBackground'
          - type: 'null'
          description: 'Target background: industry, use_case, competitors'
        additional_context:
          anyOf:
          - $ref: '#/components/schemas/TargetAdditionalContext'
          - type: 'null'
          description: 'Additional context: base_model, system_prompt, languages,
            etc.'
        uuid:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Uuid
          description: Target UUID. If provided, will be returned in response.
        probe_fields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Probe Fields
          description: 'Specific probes to run. If None, runs all probes. Valid: industry,
            use_case, competitors, base_model, core_architecture, languages_supported,
            tools_accessible, system_prompt, banned_keywords'
      additionalProperties: false
      type: object
      required:
      - name
      title: TargetProbeRequest
      description: 'Request to run profiling probes on a target.


        Inherits all target creation fields (connection params, metadata, etc.)

        If probe_fields is None, runs all 9 probes. Otherwise runs only specified
        probes.

        '
    TargetProfileResponse:
      properties:
        target_id:
          type: string
          format: uuid
          title: Target Id
        target_version:
          type: integer
          title: Target Version
        status:
          type: string
          title: Status
        target_background:
          anyOf:
          - $ref: '#/components/schemas/TargetBackground'
          - type: 'null'
        additional_context:
          anyOf:
          - $ref: '#/components/schemas/TargetAdditionalContext'
          - type: 'null'
        other_details:
          anyOf:
          - $ref: '#/components/schemas/OtherDetails'
          - type: 'null'
        ai_generated_fields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Ai Generated Fields
          description: Field names populated by AI profiler (e.g., competitors, base_model,
            system_prompt)
        profiling_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Profiling Status
          description: Status of the profiling workflow
      type: object
      required:
      - target_id
      - target_version
      - status
      title: TargetProfileResponse
      description: Profiling results for a target, combining user-supplied and AI-generated
        background context.
    TargetRedactSchema:
      properties:
        connection_params:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/NativeConnectionParamsRedactBase'
            - $ref: '#/components/schemas/WebSocketConnectionParamsRedactBase'
            - $ref: '#/components/schemas/StreamingConnectionParamsRedactBase'
            - $ref: '#/components/schemas/RestConnectionParamsRedactBase'
          - type: 'null'
          title: Connection Params
          description: API connection parameters (sensitive data masked for security)
        auth_config:
          anyOf:
          - $ref: '#/components/schemas/HeadersAuthConfigRedact'
          - $ref: '#/components/schemas/BasicAuthAuthConfigRedact'
          - $ref: '#/components/schemas/OAuth2AuthConfigRedact'
          - type: 'null'
          title: Auth Config
          description: Authentication configuration (sensitive data masked for security)
        network_broker_channel_uuid:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Network Broker Channel Uuid
          description: Network broker channel UUID for routing requests. Required
            when api_endpoint_type is NETWORK_BROKER.
          examples:
          - 550e8400-e29b-41d4-a716-446655440000
        uuid:
          type: string
          format: uuid
          title: Uuid
        tsg_id:
          type: string
          title: Tsg Id
        name:
          type: string
          title: Name
          description: Target name
          examples:
          - GPT 4.1 Nano
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Optional target description
          default: null
          examples:
          - AI model for testing
        target_type:
          anyOf:
          - $ref: '#/components/schemas/TargetType'
          - type: 'null'
          description: Type of target
        connection_type:
          anyOf:
          - $ref: '#/components/schemas/TargetConnectionType'
          - type: 'null'
          description: Connection type/provider for the target
          examples:
          - CUSTOM
          - OPENAI
          - BEDROCK
        api_endpoint_type:
          anyOf:
          - $ref: '#/components/schemas/ApiEndpointType'
          - type: 'null'
          description: Accessibility type of the API endpoint
          examples:
          - PUBLIC
          - PRIVATE
          - NETWORK_BROKER
        response_mode:
          anyOf:
          - $ref: '#/components/schemas/ResponseMode'
          - type: 'null'
          description: Response mode for API interactions
          examples:
          - REST
          - STREAMING
          - WEBSOCKET
        auth_type:
          anyOf:
          - $ref: '#/components/schemas/red_team_shared__schemas__auth_config__AuthType'
          - type: 'null'
          description: Authentication method for target API access
          examples:
          - HEADERS
          - BASIC_AUTH
          - OAUTH2
        session_supported:
          type: boolean
          title: Session Supported
          description: Whether target supports session for multi-turn conversations
          default: false
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional configuration or metadata for the target
          default: {}
          examples:
          - custom_key: custom_value
        status:
          $ref: '#/components/schemas/TargetStatus'
          description: Target status
        active:
          type: boolean
          title: Active
          description: Whether target is active
        validated:
          type: boolean
          title: Validated
          description: Whether target is validated
        version:
          anyOf:
          - type: integer
          - type: 'null'
          title: Version
          description: Configuration version reference for encrypted config
        secret_version:
          anyOf:
          - type: string
          - type: 'null'
          title: Secret Version
[...]
