openapi: 3.1.0
info:
  title: Prisma AIRS Red Teaming Management API
  version: 0.3.30
  description: "This Open API spec file was created on December 23, 2025. \xA9 2025\
    \ Palo Alto Networks, Inc.  Palo Alto Networks is a registered trademark of Palo\
    \ Alto Networks. A list of our trademarks can be found at [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html).\
    \ All other marks mentioned herein may be trademarks of their respective companies."
servers:
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
security:
- bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ApiEndpointType:
      type: string
      enum:
      - PUBLIC
      - PRIVATE
      title: ApiEndpointType
      description: API endpoint accessibility type.
    AuthType:
      type: string
      enum:
      - OAUTH
      - ACCESS_TOKEN
      title: AuthType
    BaseResponseSchema:
      properties:
        message:
          type: string
          title: Message
          description: Response message
        status:
          type: integer
          title: Status
          description: HTTP status code
      type: object
      required:
      - message
      - status
      title: BaseResponseSchema
      description: Standard response schema for simple operations like create, update,
        delete.
    BedrockAccessConnectionParams:
      properties:
        access_id:
          type: string
          title: Access Id
          description: AWS access key ID
        access_secret:
          type: string
          title: Access Secret
          description: AWS secret access key
        session_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Session Token
          description: AWS session token (optional)
        region:
          type: string
          title: Region
          description: AWS region
        model_id:
          type: string
          title: Model Id
          description: Bedrock model ID
      type: object
      required:
      - access_id
      - access_secret
      - region
      - model_id
      title: BedrockAccessConnectionParams
      description: AWS Bedrock access parameters stored in target_metadata.
    BedrockAccessConnectionRedactParams:
      properties:
        access_id:
          type: string
          format: password
          title: Access Id
          description: AWS access key ID
          writeOnly: true
        access_secret:
          type: string
          format: password
          title: Access Secret
          description: AWS secret access key
          writeOnly: true
        session_token:
          anyOf:
          - type: string
            format: password
            writeOnly: true
          - type: 'null'
          title: Session Token
          description: AWS session token (optional)
        region:
          type: string
          title: Region
          description: AWS region
        model_id:
          type: string
          title: Model Id
          description: Bedrock model ID
      type: object
      required:
      - access_id
      - access_secret
      - region
      - model_id
      title: BedrockAccessConnectionRedactParams
      description: AWS Bedrock access parameters stored in target_metadata.
    Body_upload_prompts_csv_v1_custom_attack_upload_custom_prompts_csv_post:
      properties:
        file:
          type: string
          format: binary
          title: File
      type: object
      required:
      - file
      title: Body_upload_prompts_csv_v1_custom_attack_upload_custom_prompts_csv_post
    CountByNameSchema:
      properties:
        name:
          type: string
          title: Name
          description: Name of the item (e.g., target type, status)
        count:
          type: integer
          minimum: 0.0
          title: Count
          description: Count of items
      type: object
      required:
      - name
      - count
      title: CountByNameSchema
      description: 'Generic count schema with name field for extensible list structures.


        Used in dashboard and other endpoints to provide counts grouped by a name
        field.

        Frontend-friendly list format for easy iteration.'
    CustomPromptCreateRequestSchema:
      properties:
        prompt:
          type: string
          title: Prompt
          description: The prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Goal of the prompt (user-defined or AI-generated)
        properties:
          additionalProperties:
            type: string
          type: object
          title: Properties
          description: Property assignments (property_name -> property_value)
        prompt_set_id:
          type: string
          format: uuid
          title: Prompt Set Id
          description: The UUID of the prompt set
      additionalProperties: false
      type: object
      required:
      - prompt
      - prompt_set_id
      title: CustomPromptCreateRequestSchema
      description: Schema for creating a new custom prompt.
    CustomPromptListItemSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        prompt:
          type: string
          title: Prompt
          description: The prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Goal of the prompt
        user_defined_goal:
          type: boolean
          title: User Defined Goal
          description: Whether the goal was user-defined
        status:
          type: string
          title: Status
          description: Status of the prompt
        active:
          type: boolean
          title: Active
          description: Whether the prompt is active
        properties:
          additionalProperties:
            type: string
          type: object
          title: Properties
          description: Property assignments
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - prompt
      - user_defined_goal
      - status
      - active
      - created_at
      - updated_at
      title: CustomPromptListItemSchema
      description: Schema for custom prompt items in list responses.
    CustomPromptListSchema:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationSchema'
        data:
          items:
            $ref: '#/components/schemas/CustomPromptListItemSchema'
          type: array
          title: Data
          description: List of custom prompts
      type: object
      required:
      - pagination
      title: CustomPromptListSchema
      description: Schema for custom prompt list responses.
    CustomPromptResponseSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        prompt:
          type: string
          title: Prompt
          description: The prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Goal of the prompt
        user_defined_goal:
          type: boolean
          title: User Defined Goal
          description: Whether the goal was user-defined
        detector_category:
          anyOf:
          - type: string
          - type: 'null'
          title: Detector Category
          description: Detector category
        severity:
          anyOf:
          - type: string
          - type: 'null'
          title: Severity
          description: Severity level
        status:
          type: string
          title: Status
          description: Status of the prompt
        active:
          type: boolean
          title: Active
          description: Whether the prompt is active
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional information
        prompt_set_id:
          type: string
          format: uuid
          title: Prompt Set Id
          description: The UUID of the prompt set this prompt belongs to
        properties:
          additionalProperties:
            type: string
          type: object
          title: Properties
          description: Property assignments
        property_assignments:
          items:
            $ref: '#/components/schemas/PropertyAssignmentSchema'
          type: array
          title: Property Assignments
          description: Detailed property assignments
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - prompt
      - user_defined_goal
      - status
      - active
      - prompt_set_id
      - created_at
      - updated_at
      title: CustomPromptResponseSchema
      description: Schema for custom prompt responses.
    CustomPromptSetArchiveRequestSchema:
      properties:
        archive:
          type: boolean
          title: Archive
          description: True to archive, False to unarchive
      additionalProperties: false
      type: object
      required:
      - archive
      title: CustomPromptSetArchiveRequestSchema
      description: Schema for archiving/unarchiving prompt sets.
    CustomPromptSetCreateRequestSchema:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
          description: Name of the custom prompt set
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the custom prompt set
          default: ''
        property_names:
          items:
            type: string
          type: array
          maxItems: 2
          title: Property Names
          description: Property names for this prompt set (max 2)
      additionalProperties: false
      type: object
      required:
      - name
      title: CustomPromptSetCreateRequestSchema
      description: Schema for creating a new custom prompt set.
    CustomPromptSetListActiveSchema:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CustomPromptSetReferenceSchema'
          type: array
          title: Data
          description: List of active custom prompt set references
      type: object
      title: CustomPromptSetListActiveSchema
      description: 'Schema for listing active custom prompt sets available for use.


        Used by data plane to discover available prompt sets for job creation.'
    CustomPromptSetListItemSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        name:
          type: string
          title: Name
          description: Name of the prompt set
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the prompt set
          default: ''
        active:
          type: boolean
          title: Active
          description: Whether the prompt set is active
        archive:
          type: boolean
          title: Archive
          description: Whether the prompt set is archived
        status:
          type: string
          title: Status
          description: Status of the prompt set
        stats:
          anyOf:
          - $ref: '#/components/schemas/PromptSetStatsSchema'
          - type: 'null'
          description: Statistics about the prompt set
        property_names:
          items:
            type: string
          type: array
          title: Property Names
          description: Property names
        created_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
          description: User ID who created the prompt set
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - name
      - active
      - archive
      - status
      - created_at
      - updated_at
      title: CustomPromptSetListItemSchema
      description: Schema for custom prompt set items in list responses.
    CustomPromptSetListSchema:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationSchema'
        data:
          items:
            $ref: '#/components/schemas/CustomPromptSetListItemSchema'
          type: array
          title: Data
          description: List of custom prompt sets
      type: object
      required:
      - pagination
      title: CustomPromptSetListSchema
      description: Schema for custom prompt set list responses.
    CustomPromptSetReferenceSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: UUID of the custom prompt set
        name:
          type: string
          title: Name
          description: Name of the prompt set
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
          description: GCS generation number for snapshot versioning
        status:
          type: string
          title: Status
          description: Current status of the prompt set
        active:
          type: boolean
          title: Active
          description: Whether the prompt set is active
        tsg_id:
          type: string
          title: Tsg Id
          description: Tenant Security Group ID
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - name
      - status
      - active
      - tsg_id
      - created_at
      - updated_at
      title: CustomPromptSetReferenceSchema
      description: 'Reference schema for custom prompt sets used by data plane.


        Contains minimal information needed for data plane to fetch

        configurations from GCS using the GCS-first pattern.'
    CustomPromptSetResponseSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        name:
          type: string
          title: Name
          description: Name of the prompt set
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the prompt set
          default: ''
        active:
          type: boolean
          title: Active
          description: Whether the prompt set is active
        archive:
          type: boolean
          title: Archive
          description: Whether the prompt set is archived
        status:
          type: string
          title: Status
          description: Status of the prompt set
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
          description: GCS generation number for snapshot versioning
        stats:
          anyOf:
          - $ref: '#/components/schemas/PromptSetStatsSchema'
          - type: 'null'
          description: Statistics about the prompt set
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional information
        property_names:
          items:
            type: string
          type: array
          title: Property Names
          description: Property names
        properties:
          items:
            $ref: '#/components/schemas/PropertyDefinitionSchema'
          type: array
          title: Properties
          description: Property definitions
        created_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
          description: User ID who created the prompt set
        updated_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Updated By User Id
          description: User ID who last updated the prompt set
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - name
      - active
      - archive
      - status
      - created_at
      - updated_at
      title: CustomPromptSetResponseSchema
      description: Schema for custom prompt set responses.
    CustomPromptSetUpdateRequestSchema:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 255
          - type: 'null'
          title: Name
          description: Updated name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Updated description
        archive:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Archive
          description: Archive status
        property_names:
          anyOf:
          - items:
              type: string
            type: array
            maxItems: 2
          - type: 'null'
          title: Property Names
          description: Updated property names (max 2)
      additionalProperties: false
      type: object
      title: CustomPromptSetUpdateRequestSchema
      description: Schema for updating a custom prompt set.
    CustomPromptSetVersionInfoSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: UUID of the custom prompt set
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
          description: GCS generation number for this version
        status:
          type: string
          title: Status
          description: Status when this version was created
        stats:
          anyOf:
          - $ref: '#/components/schemas/PromptSetStatsSchema'
          - type: 'null'
          description: Prompt statistics when version was created
        snapshot_created_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Snapshot Created At
          description: When the snapshot was created
        is_latest:
          type: boolean
          title: Is Latest
          description: Whether this is the latest version
      type: object
      required:
      - uuid
      - status
      - is_latest
      title: CustomPromptSetVersionInfoSchema
      description: 'Version information for a custom prompt set snapshot.


        Provides metadata about a specific version without full configuration data.'
    CustomPromptUpdateRequestSchema:
      properties:
        prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt
          description: Updated prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Updated goal
        properties:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Properties
          description: Updated property assignments
      additionalProperties: false
      type: object
      title: CustomPromptUpdateRequestSchema
      description: Schema for updating a custom prompt.
    DashboardOverviewResponseSchema:
      properties:
        total_targets:
          type: integer
          minimum: 0.0
          title: Total Targets
          description: Total number of targets
        targets_by_type:
          items:
            $ref: '#/components/schemas/CountByNameSchema'
          type: array
          title: Targets By Type
          description: Target counts grouped by type (APPLICATION, AGENT, MODEL)
      type: object
      required:
      - total_targets
      title: DashboardOverviewResponseSchema
      description: 'Dashboard overview response with target counts.


        Endpoint: GET /api/v1/dashboard/overview

        Returns target counts by type in list format for easy frontend iteration.'
    DatabricksConnectionParams:
      properties:
        auth_type:
          $ref: '#/components/schemas/AuthType'
          description: Auth type
        access_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Access Token
          description: Databricks access token
        client_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Client Id
          description: Databricks client_id
        secret:
          anyOf:
          - type: string
          - type: 'null'
          title: Secret
          description: Databricks secret
        workspace_url:
          type: string
          title: Workspace Url
          description: Databricks workscpace_url
        model_name:
          type: string
          title: Model Name
          description: Databricks model name
      type: object
      required:
      - auth_type
      - workspace_url
      - model_name
      title: DatabricksConnectionParams
    DatabricksConnectionRedactParams:
      properties:
        auth_type:
          $ref: '#/components/schemas/AuthType'
          description: Auth type
        access_token:
          anyOf:
          - type: string
            format: password
            writeOnly: true
          - type: 'null'
          title: Access Token
          description: Databricks access token
        client_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Client Id
          description: Databricks client_id
        secret:
          anyOf:
          - type: string
            format: password
            writeOnly: true
          - type: 'null'
          title: Secret
          description: Databricks secret
        workspace_url:
          type: string
          title: Workspace Url
          description: Databricks workscpace_url
        model_name:
          type: string
          title: Model Name
          description: Databricks model name
      type: object
      required:
      - auth_type
      - workspace_url
      - model_name
      title: DatabricksConnectionRedactParams
    DeploymentProfileRequestSchema:
      properties:
        dAuthCode:
          anyOf:
          - type: string
          - type: 'null'
          title: Dauthcode
          description: Deployment authentication code
        deploymentProfileId:
          anyOf:
          - type: string
          - type: 'null'
          title: Deploymentprofileid
          description: Deployment profile ID
        license_expiration:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: License Expiration
          description: License expiration date
        profileName:
          anyOf:
          - type: string
          - type: 'null'
          title: Profilename
          description: Profile name
        subType:
          anyOf:
          - type: string
          - type: 'null'
          title: Subtype
          description: Subscription type
        subscriptions:
          anyOf:
          - items: {}
            type: array
          - type: 'null'
          title: Subscriptions
          description: Subscriptions
        type:
          anyOf:
          - type: string
          - type: 'null'
          title: Type
          description: Deployment type
        aveTextRecord:
          anyOf:
          - type: integer
          - type: 'null'
          title: Avetextrecord
          description: Average text record
          default: 0
      additionalProperties: true
      type: object
      title: DeploymentProfileRequestSchema
      description: Schema for TSG deployment profile.
    DeviceInstanceSchema:
      properties:
        app_id:
          type: string
          title: App Id
          description: Application ID
        region:
          type: string
          title: Region
          description: Region
        tenant_id:
          type: string
          title: Tenant Id
          description: Tenant ID
        tsg_id:
          type: string
          title: Tsg Id
          description: TSG ID
      additionalProperties: true
      type: object
      required:
      - app_id
      - region
      - tenant_id
      - tsg_id
      title: DeviceInstanceSchema
    DeviceLicenseSchema:
      properties:
        authorizationCode:
          anyOf:
          - type: string
          - type: 'null'
          title: Authorizationcode
          description: Authorization code
        expirationDate:
          anyOf:
          - type: string
          - type: 'null'
          title: Expirationdate
          description: License expiration date
        licensePanDbIdentification:
          anyOf:
          - type: string
          - type: 'null'
          title: Licensepandbidentification
          description: License PAN DB identification
        partNumber:
          anyOf:
          - type: string
          - type: 'null'
          title: Partnumber
          description: Part number
        serialNumber:
          anyOf:
          - type: string
          - type: 'null'
          title: Serialnumber
          description: Serial number
        subtypeName:
          anyOf:
          - type: string
          - type: 'null'
          title: Subtypename
          description: Subtype name
        registrationDate:
          anyOf:
          - type: string
          - type: 'null'
          title: Registrationdate
          description: License registration date
      additionalProperties: true
      type: object
      title: DeviceLicenseSchema
    DeviceRequestSchema:
      properties:
        instance:
          $ref: '#/components/schemas/DeviceInstanceSchema'
          description: Device instances
        created_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Created By
          description: User who created the record
        devices:
          anyOf:
          - items:
              $ref: '#/components/schemas/DeviceSchema'
            type: array
          - type: 'null'
          title: Devices
          description: List of devices
      additionalProperties: true
      type: object
      required:
      - instance
      title: DeviceRequestSchema
      description: Schema for validating customer input for device operations.
    DeviceResponseSchema:
      properties:
        devices:
          anyOf:
          - items:
              $ref: '#/components/schemas/DeviceStatusSchema'
            type: array
          - type: 'null'
          title: Devices
          description: List of failed devices
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
          description: Overall status
      type: object
      title: DeviceResponseSchema
      description: Schema to be returned by API for device operations.
    DeviceSchema:
      properties:
        serial_number:
          type: string
          title: Serial Number
          description: Device serial number
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
          description: Device model
        sku:
          anyOf:
          - type: string
          - type: 'null'
          title: Sku
          description: Device SKU
        device_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Device Type
          description: Device type
        device_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Device Name
          description: Device name
        tsg_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Tsg Id
          description: Tsg id
        support_account_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Support Account Id
          description: Support account ID
        asset_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Asset Type
        licenses:
          anyOf:
          - items:
              $ref: '#/components/schemas/DeviceLicenseSchema'
            type: array
          - type: 'null'
          title: Licenses
          description: Device licenses
      additionalProperties: true
      type: object
      required:
      - serial_number
      title: DeviceSchema
    DeviceStatusSchema:
      properties:
        status:
          type: string
          title: Status
          description: Device status
        error:
          anyOf:
          - type: string
          - type: 'null'
          title: Error
          description: Error message if any
        serial_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Serial Number
          description: Device serial number
      type: object
      required:
      - status
      title: DeviceStatusSchema
      description: Schema for device response object.
    EulaAcceptRequestSchema:
      properties:
        eula_content:
          type: string
          title: Eula Content
          description: Full EULA content text being accepted
        accepted_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Accepted At
          description: Timestamp when EULA was accepted
      type: object
      required:
      - eula_content
      - accepted_at
      title: EulaAcceptRequestSchema
      description: Request schema for accepting EULA.
    EulaContentResponseSchema:
      properties:
        content:
          type: string
          title: Content
          description: Full EULA content text
      type: object
      required:
      - content
      title: EulaContentResponseSchema
      description: Response schema for EULA content.
    EulaResponseSchema:
      properties:
        uuid:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Uuid
          description: Unique identifier for the acceptance record (if accepted)
        is_accepted:
          type: boolean
          title: Is Accepted
          description: Whether EULA has been accepted
        accepted_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Accepted At
          description: Timestamp when EULA was accepted (if accepted)
        accepted_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Accepted By User Id
          description: User ID who accepted the EULA (if accepted)
      type: object
      required:
      - is_accepted
      title: EulaResponseSchema
      description: Response schema for EULA status and acceptance.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    HuggingfaceConnectionParams:
      properties:
        api_key:
          type: string
          title: Api Key
          description: Huggingface API key for authentication
          examples:
          - sk-abxx
        model_name:
          type: string
          title: Model Name
          description: Huggingface model name for API requests
          examples:
          - gpt-4.1-nano
      type: object
      required:
      - api_key
      - model_name
      title: HuggingfaceConnectionParams
      description: Connection parameters specific to huggingface targets
    HuggingfaceConnectionRedactParams:
      properties:
        api_key:
          type: string
          format: password
          title: Api Key
          description: Huggingface API key for authentication
          writeOnly: true
          examples:
          - sk-abxx
        model_name:
          type: string
          title: Model Name
          description: Huggingface model name for API requests
          examples:
          - gpt-4.1-nano
      type: object
      required:
      - api_key
      - model_name
      title: HuggingfaceConnectionRedactParams
      description: Connection parameters specific to huggingface targets
    InstanceDPMetadataSchema:
      properties:
        auth_code:
          type: string
          title: Auth Code
          description: Authentication code
        dp_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Dp Id
          description: Unique identifier for deployment profile
        dp_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Dp Name
          description: Deployment profile name
        created_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Created By
          description: User who created the record
        updated_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Updated By
          description: User who last updated the record
        lic_exp_ts:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Lic Exp Ts
          description: License expiration timestamp
        device_serial:
          anyOf:
          - type: string
          - type: 'null'
          title: Device Serial
          description: Device serial number
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
          description: Activation status
        device_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Device Status
          description: Device status
        activated_ts:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Activated Ts
          description: Activation timestamp
      type: object
      required:
      - auth_code
      title: InstanceDPMetadataSchema
      description: Instance metadata deployment profile object schema.
    InstanceExtraDetailsSchema:
      properties:
        deployment_profiles:
          items:
            $ref: '#/components/schemas/DeploymentProfileRequestSchema'
          type: array
          title: Deployment Profiles
          description: Deployment profiles
      additionalProperties: true
      type: object
      title: InstanceExtraDetailsSchema
      description: Schema for extra section in Instance Request
    InstanceGetResponseSchema:
      properties:
        tsg_id:
          type: string
          title: Tsg Id
          description: TSG ID
        tenant_id:
          type: string
          title: Tenant Id
          description: Tenant Id
        app_id:
          type: string
          title: App Id
          description: App Id
        region:
          type: string
          title: Region
          description: Region
        support_account_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Support Account Id
          description: Support account identifier
        support_account_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Support Account Name
          description: Support account name
        created_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Created By
          description: User who created the record
        internal:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Internal
          description: Internal flag for Palo Alto Networks users
        tenant_instance_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Tenant Instance Name
          description: Tenant instance name
        deployment_profiles:
          anyOf:
          - items:
              $ref: '#/components/schemas/InstanceDPMetadataSchema'
            type: array
          - type: 'null'
          title: Deployment Profiles
          description: List of deployment profile metadata
      type: object
      required:
      - tsg_id
      - tenant_id
      - app_id
      - region
      title: InstanceGetResponseSchema
      description: Instance metadata response schema.
    InstanceRequestSchema:
      properties:
        tsg_id:
          type: string
          title: Tsg Id
          description: TSG ID
        tenant_id:
          type: string
          title: Tenant Id
          description: Tenant Id
        app_id:
          type: string
          title: App Id
          description: App Id
        region:
          type: string
          title: Region
          description: Region
        support_account_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Support Account Id
          description: Support account identifier
        support_account_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Support Account Name
          description: Support account name
        created_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Created By
          description: User who created the record
        internal:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Internal
          description: Internal flag for Palo Alto Networks users
        tenant_instance_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Tenant Instance Name
          description: Tenant instance name
        extra:
          $ref: '#/components/schemas/InstanceExtraDetailsSchema'
          description: Section containing DP data
        iam_controlled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Iam Controlled
          description: IAM controlled flag
        platform_region:
          anyOf:
          - type: string
          - type: 'null'
          title: Platform Region
          description: Platform region
        csp_tenant_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Csp Tenant Id
          description: CSP tenant ID
        tsg_instances:
          anyOf:
          - items:
              additionalProperties: true
              type: object
            type: array
          - type: 'null'
          title: Tsg Instances
          description: TSG instances
      additionalProperties: true
      type: object
      required:
      - tsg_id
      - tenant_id
      - app_id
      - region
      title: InstanceRequestSchema
      description: Schema for validating customer input for instance operations.
    InstanceResponseSchema:
      properties:
        tsg_id:
          type: string
          title: Tsg Id
          description: TSG ID
        tenant_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Tenant Id
          description: Tenant Id
        app_id:
          anyOf:
          - type: string
          - type: 'null'
          title: App Id
          description: App Id
        is_success:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Success
          description: Is successful
      type: object
      required:
      - tsg_id
      - tenant_id
      - app_id
      - is_success
      title: InstanceResponseSchema
      description: Schema to be returned by API for instance operations.
    OpenAIConnectionParams:
      properties:
        api_key:
          type: string
          title: Api Key
          description: OpenAI API key for authentication
          examples:
          - sk-abxx
        model_name:
          type: string
          title: Model Name
          description: OpenAI model name for API requests
          examples:
          - gpt-4.1-nano
      type: object
      required:
      - api_key
      - model_name
      title: OpenAIConnectionParams
      description: Connection parameters specific to OpenAI targets
    OpenAIConnectionRedactParams:
      properties:
        api_key:
          type: string
          format: password
          title: Api Key
          description: OpenAI API key for authentication
          writeOnly: true
          examples:
          - sk-abxx
        model_name:
          type: string
          title: Model Name
          description: OpenAI model name for API requests
          examples:
          - gpt-4.1-nano
      type: object
      required:
      - api_key
      - model_name
      title: OpenAIConnectionRedactParams
      description: Connection parameters specific to OpenAI targets
    PaginationSchema:
      properties:
        total_items:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Items
      type: object
      title: PaginationSchema
    PromptSetStatsSchema:
      properties:
        total_prompts:
          type: integer
          title: Total Prompts
          description: Total number of prompts
        active_prompts:
          type: integer
          title: Active Prompts
          description: Number of active prompts
        failed_prompts:
          type: integer
          title: Failed Prompts
          description: Number of failed prompts
          default: 0
        validation_prompts:
          type: integer
          title: Validation Prompts
          description: Number of validation prompts
          default: 0
        inactive_prompts:
          type: integer
          title: Inactive Prompts
          description: Number of inactive prompts
      type: object
      required:
      - total_prompts
      - active_prompts
      - inactive_prompts
      title: PromptSetStatsSchema
      description: Schema for prompt set statistics.
    PropertyAssignmentSchema:
      properties:
        property_name:
          type: string
          title: Property Name
          description: Property name (e.g., 'industry', 'role')
        property_value:
          type: string
          title: Property Value
          description: Property value (e.g., 'healthcare', 'CEO')
      type: object
      required:
      - property_name
      - property_value
      title: PropertyAssignmentSchema
      description: Schema for property name-value assignments.
    PropertyDefinitionSchema:
      properties:
        property_name:
          type: string
          title: Property Name
          description: Property name
        created_at:
          type: string
          format: date-time
          title: Created At
          description: When the property was created
      type: object
      required:
      - property_name
      - created_at
      title: PropertyDefinitionSchema
      description: Schema for property definitions in a prompt set.
    PropertyNameCreateRequestSchema:
      properties:
        name:
          type: string
          maxLength: 256
          title: Name
          description: Name of the property
      additionalProperties: false
      type: object
      required:
      - name
      title: PropertyNameCreateRequestSchema
      description: Schema for creating a new property name.
    PropertyNamesListResponseSchema:
      properties:
        data:
          items:
            type: string
          type: array
          title: Data
          description: List of property names
      type: object
      title: PropertyNamesListResponseSchema
      description: Schema for property names list responses.
    PropertyValueCreateRequestSchema:
      properties:
        property_name:
          type: string
          title: Property Name
          description: Name of the property
        property_value:
          type: string
          maxLength: 256
          title: Property Value
          description: Value for the property
      additionalProperties: false
      type: object
      required:
      - property_name
      - property_value
      title: PropertyValueCreateRequestSchema
      description: Schema for creating a new property value.
    PropertyValuesMultipleResponseSchema:
      properties:
        data:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          title: Data
          description: Dictionary mapping property names to their values
      type: object
      title: PropertyValuesMultipleResponseSchema
      description: Schema for property values for multiple property names.
    PropertyValuesResponseSchema:
      properties:
        name:
          type: string
          title: Name
          description: Property name
        values:
          items:
            type: string
          type: array
          title: Values
          description: List of values for this property
      type: object
      required:
      - name
      title: PropertyValuesResponseSchema
      description: Schema for property values for a specific property name.
    ResponseMode:
      type: string
      enum:
      - REST
      - STREAMING
      title: ResponseMode
      description: Response mode for target interactions.
    RestConnectionParamsBase-Input:
      properties:
        api_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Endpoint
          description: API endpoint URL
          examples:
          - https://api.openai.com/v1/chat/completions
        request_headers:
          additionalProperties: true
          type: object
          title: Request Headers
          description: Request headers
          default: {}
          examples:
          - Authorization: Bearer sk-xxx
            Content-Type: application/json
        request_json:
          additionalProperties: true
          type: object
          title: Request Json
          description: Request JSON
          default: {}
          examples:
          - messages:
            - content: '{INPUT}'
              role: user
            model: gpt-4.1-nano
        response_json:
          additionalProperties: true
          type: object
          title: Response Json
          description: Response JSON
          default: {}
          examples:
          - content: '{RESPONSE}'
        response_key:
          type: string
          title: Response Key
          description: Response key
          default: ''
          examples:
          - content
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionParams'
          - $ref: '#/components/schemas/DatabricksConnectionParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionParams'
          - type: 'null'
          title: Target Connection Config
          description: Target Connection config of type openai/huggingface ..
        curl:
          anyOf:
          - type: string
          - type: 'null'
          title: Curl
          description: Generated cURL command ready to use (redacted for security)
          examples:
          - 'curl "https://api.openai.com/v1/chat/completions" -H "Content-Type: application/json"
            -H "Authorization: Bearer ***" -d ''{"model":"gpt-4","messages":[{"role":"user","content":"{INPUT}"}]}'''
      type: object
      title: RestConnectionParamsBase
      description: Base connection parameters without generated fields.
    RestConnectionParamsBase-Output:
      properties:
        api_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Endpoint
          description: API endpoint URL
          examples:
          - https://api.openai.com/v1/chat/completions
        request_headers:
          additionalProperties: true
          type: object
          title: Request Headers
          description: Request headers
          default: {}
          examples:
          - Authorization: Bearer sk-xxx
            Content-Type: application/json
        request_json:
          additionalProperties: true
          type: object
          title: Request Json
          description: Request JSON
          default: {}
          examples:
          - messages:
            - content: '{INPUT}'
              role: user
            model: gpt-4.1-nano
        response_json:
          additionalProperties: true
          type: object
          title: Response Json
          description: Response JSON
          default: {}
          examples:
          - content: '{RESPONSE}'
        response_key:
          type: string
          title: Response Key
          description: Response key
          default: ''
          examples:
          - content
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionParams'
          - $ref: '#/components/schemas/DatabricksConnectionParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionParams'
          - type: 'null'
          title: Target Connection Config
          description: Target Connection config of type openai/huggingface ..
        curl:
          anyOf:
          - type: string
          - type: 'null'
          title: Curl
          description: Generated cURL command ready to use (redacted for security)
          examples:
          - 'curl "https://api.openai.com/v1/chat/completions" -H "Content-Type: application/json"
            -H "Authorization: Bearer ***" -d ''{"model":"gpt-4","messages":[{"role":"user","content":"{INPUT}"}]}'''
      type: object
      title: RestConnectionParamsBase
      description: Base connection parameters without generated fields.
    RestConnectionParamsRedactBase:
      properties:
        api_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Endpoint
          description: API endpoint URL
          examples:
          - https://api.openai.com/v1/chat/completions
        request_headers:
          additionalProperties: true
          type: object
          title: Request Headers
          description: Request headers
          default: {}
          examples:
          - Authorization: Bearer sk-xxx
            Content-Type: application/json
        request_json:
          additionalProperties: true
          type: object
          title: Request Json
          description: Request JSON
          default: {}
          examples:
          - messages:
            - content: '{INPUT}'
              role: user
            model: gpt-4.1-nano
        response_json:
          additionalProperties: true
          type: object
          title: Response Json
          description: Response JSON
          default: {}
          examples:
          - content: '{RESPONSE}'
        response_key:
          type: string
          title: Response Key
          description: Response key
          default: ''
          examples:
          - content
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionRedactParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionRedactParams'
          - $ref: '#/components/schemas/DatabricksConnectionRedactParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionRedactParams'
          - type: 'null'
          title: Target Connection Config
          description: Target Connection config of type openai/huggingface ..
        curl:
          anyOf:
          - type: string
          - type: 'null'
          title: Curl
          description: Generated cURL command ready to use (redacted for security)
          examples:
          - 'curl "https://api.openai.com/v1/chat/completions" -H "Content-Type: application/json"
            -H "Authorization: Bearer ***" -d ''{"model":"gpt-4","messages":[{"role":"user","content":"{INPUT}"}]}'''
      type: object
      title: RestConnectionParamsRedactBase
    StreamingConnectionParamsBase-Input:
      properties:
        api_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Endpoint
          description: API endpoint URL
          examples:
          - https://api.openai.com/v1/chat/completions
        request_headers:
          additionalProperties: true
          type: object
          title: Request Headers
          description: Request headers
          default: {}
          examples:
          - Authorization: Bearer sk-xxx
            Content-Type: application/json
        request_json:
          additionalProperties: true
          type: object
          title: Request Json
          description: Request JSON
          default: {}
          examples:
          - messages:
            - content: '{INPUT}'
              role: user
            model: gpt-4.1-nano
        response_json:
          additionalProperties: true
          type: object
          title: Response Json
          description: Response JSON
          default: {}
          examples:
          - content: '{RESPONSE}'
        response_key:
          type: string
          title: Response Key
          description: Response key
          default: ''
          examples:
          - content
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionParams'
          - $ref: '#/components/schemas/DatabricksConnectionParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionParams'
          - type: 'null'
          title: Target Connection Config
          description: Target Connection config of type openai/huggingface ..
        curl:
          anyOf:
          - type: string
          - type: 'null'
          title: Curl
          description: Generated cURL command ready to use (redacted for security)
          examples:
          - 'curl "https://api.openai.com/v1/chat/completions" -H "Content-Type: application/json"
            -H "Authorization: Bearer ***" -d ''{"model":"gpt-4","messages":[{"role":"user","content":"{INPUT}"}]}'''
        response_stop_key:
          type: string
          title: Response Stop Key
        response_stop_value:
          type: string
          title: Response Stop Value
      type: object
      required:
      - response_stop_key
      - response_stop_value
      title: StreamingConnectionParamsBase
      description: Base streaming connection parameters without generated fields.
    StreamingConnectionParamsBase-Output:
      properties:
        api_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Endpoint
          description: API endpoint URL
          examples:
          - https://api.openai.com/v1/chat/completions
        request_headers:
          additionalProperties: true
          type: object
          title: Request Headers
          description: Request headers
          default: {}
          examples:
          - Authorization: Bearer sk-xxx
            Content-Type: application/json
        request_json:
          additionalProperties: true
          type: object
          title: Request Json
          description: Request JSON
          default: {}
          examples:
          - messages:
            - content: '{INPUT}'
              role: user
            model: gpt-4.1-nano
        response_json:
          additionalProperties: true
          type: object
          title: Response Json
          description: Response JSON
          default: {}
          examples:
          - content: '{RESPONSE}'
        response_key:
          type: string
          title: Response Key
          description: Response key
          default: ''
          examples:
          - content
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionParams'
          - $ref: '#/components/schemas/DatabricksConnectionParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionParams'
          - type: 'null'
          title: Target Connection Config
          description: Target Connection config of type openai/huggingface ..
        curl:
          anyOf:
          - type: string
          - type: 'null'
          title: Curl
          description: Generated cURL command ready to use (redacted for security)
          examples:
          - 'curl "https://api.openai.com/v1/chat/completions" -H "Content-Type: application/json"
            -H "Authorization: Bearer ***" -d ''{"model":"gpt-4","messages":[{"role":"user","content":"{INPUT}"}]}'''
        response_stop_key:
          type: string
          title: Response Stop Key
        response_stop_value:
          type: string
          title: Response Stop Value
      type: object
      required:
      - response_stop_key
      - response_stop_value
      title: StreamingConnectionParamsBase
      description: Base streaming connection parameters without generated fields.
    StreamingConnectionParamsRedactBase:
      properties:
        api_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Endpoint
          description: API endpoint URL
          examples:
          - https://api.openai.com/v1/chat/completions
        request_headers:
          additionalProperties: true
          type: object
          title: Request Headers
          description: Request headers
          default: {}
          examples:
          - Authorization: Bearer sk-xxx
            Content-Type: application/json
        request_json:
          additionalProperties: true
          type: object
          title: Request Json
          description: Request JSON
          default: {}
          examples:
          - messages:
            - content: '{INPUT}'
              role: user
            model: gpt-4.1-nano
        response_json:
          additionalProperties: true
          type: object
          title: Response Json
          description: Response JSON
          default: {}
          examples:
          - content: '{RESPONSE}'
        response_key:
          type: string
          title: Response Key
          description: Response key
          default: ''
          examples:
          - content
        target_connection_config:
          anyOf:
          - $ref: '#/components/schemas/OpenAIConnectionRedactParams'
          - $ref: '#/components/schemas/HuggingfaceConnectionRedactParams'
          - $ref: '#/components/schemas/DatabricksConnectionRedactParams'
          - $ref: '#/components/schemas/BedrockAccessConnectionRedactParams'
          - type: 'null'
          title: Target Connection Config
          description: Target Connection config of type openai/huggingface ..
        curl:
          anyOf:
          - type: string
          - type: 'null'
          title: Curl
          description: Generated cURL command ready to use (redacted for security)
          examples:
          - 'curl "https://api.openai.com/v1/chat/completions" -H "Content-Type: application/json"
            -H "Authorization: Bearer ***" -d ''{"model":"gpt-4","messages":[{"role":"user","content":"{INPUT}"}]}'''
        response_stop_key:
          type: string
          title: Response Stop Key
        response_stop_value:
          type: string
          title: Response Stop Value
      type: object
      required:
      - response_stop_key
      - response_stop_value
      title: StreamingConnectionParamsRedactBase
    TargetConnectionType:
      type: string
      enum:
      - DATABRICKS
      - BEDROCK
      - OPENAI
      - HUGGING_FACE
      - CUSTOM
      - REST
      - STREAMING
      title: TargetConnectionType
      description: Connection type/provider for the target.
    TargetCreateRequestSchema:
      properties:
        connection_params:
          anyOf:
          - $ref: '#/components/schemas/RestConnectionParamsBase-Input'
          - $ref: '#/components/schemas/StreamingConnectionParamsBase-Input'
          - type: 'null'
          title: Connection Params
          description: API connection parameters (sensitive data masked for security)
        name:
          type: string
          title: Name
          description: Target name
          examples:
          - GPT 4.1 Nano
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Optional target description
          default: ''
          examples:
          - AI model for testing
        target_type:
          anyOf:
          - $ref: '#/components/schemas/TargetType'
          - type: 'null'
          description: Type of target
        connection_type:
          anyOf:
          - $ref: '#/components/schemas/TargetConnectionType'
          - type: 'null'
          description: Connection type/provider for the target
          examples:
          - CUSTOM
          - OPENAI
          - BEDROCK
        api_endpoint_type:
          anyOf:
          - $ref: '#/components/schemas/ApiEndpointType'
          - type: 'null'
          description: Accessibility type of the API endpoint
          examples:
          - PUBLIC
          - PRIVATE
        response_mode:
          anyOf:
          - $ref: '#/components/schemas/ResponseMode'
          - type: 'null'
          description: Response mode for API interactions
          examples:
          - REST
          - STREAMING
        session_supported:
          type: boolean
          title: Session Supported
          description: Whether target supports session for multi-turn conversations
          default: false
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional configuration or metadata for the target
          default: {}
          examples:
          - custom_key: custom_value
        target_metadata:
          anyOf:
          - $ref: '#/components/schemas/TargetMetadata'
          - type: 'null'
          description: Target metadata and configuration options
      additionalProperties: false
      type: object
      required:
      - name
      title: TargetCreateRequestSchema
      description: Target create request schema for validating and defining target
        creation parameters.
    TargetListItemSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
        tsg_id:
          type: string
          title: Tsg Id
        name:
          type: string
          title: Name
          description: Target name
          examples:
          - GPT 4.1 Nano
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Optional target description
          default: ''
          examples:
          - AI model for testing
        target_type:
          anyOf:
          - $ref: '#/components/schemas/TargetType'
          - type: 'null'
          description: Type of target
        connection_type:
          anyOf:
          - $ref: '#/components/schemas/TargetConnectionType'
          - type: 'null'
          description: Connection type/provider for the target
          examples:
          - CUSTOM
          - OPENAI
          - BEDROCK
        api_endpoint_type:
          anyOf:
          - $ref: '#/components/schemas/ApiEndpointType'
          - type: 'null'
          description: Accessibility type of the API endpoint
          examples:
          - PUBLIC
          - PRIVATE
        response_mode:
          anyOf:
          - $ref: '#/components/schemas/ResponseMode'
          - type: 'null'
          description: Response mode for API interactions
          examples:
          - REST
          - STREAMING
        session_supported:
          type: boolean
          title: Session Supported
          description: Whether target supports session for multi-turn conversations
          default: false
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional configuration or metadata for the target
          default: {}
          examples:
          - custom_key: custom_value
        status:
          $ref: '#/components/schemas/TargetStatus'
          description: Target status
        active:
          type: boolean
          title: Active
          description: Whether target is active
        validated:
          type: boolean
          title: Validated
          description: Whether target is validated
        version:
          anyOf:
          - type: integer
          - type: 'null'
          title: Version
          description: Configuration version
        created_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
          description: User ID of target creator
        updated_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Updated By User Id
          description: User ID of last target updater
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - tsg_id
      - name
      - status
      - active
      - validated
      - created_at
      - updated_at
      title: TargetListItemSchema
    TargetListSchema:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationSchema'
        data:
          items:
            $ref: '#/components/schemas/TargetListItemSchema'
          type: array
          title: Data
          description: List of targets
      type: object
      required:
      - pagination
      title: TargetListSchema
      description: Schema returned by API for list target operations.
    TargetMetadata:
      properties:
        rate_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Rate Limit
          description: Current rate limit value
          examples:
          - 996
        rate_limit_enabled:
          type: boolean
          title: Rate Limit Enabled
          description: Whether rate limiting is enabled
          default: false
        rate_limit_error_code:
          anyOf:
          - type: integer
          - type: 'null'
          title: Rate Limit Error Code
          description: HTTP status code for rate limit errors
          examples:
          - 429
        rate_limit_error_json:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Rate Limit Error Json
          description: JSON structure of rate limit error response
          examples:
          - error:
              code: rate_limit_exceeded
              message: 'Rate limit reached for o1-preview on requests per min (RPM):
                Limit 20, Used 20, Requested 1. Please try again in 3s. Visit https://platform.openai.com/account/rate-limits
                to learn more.'
              param: 'null'
              type: requests
        rate_limit_error_message:
          anyOf:
          - type: string
          - type: 'null'
          title: Rate Limit Error Message
          description: Raw error message string for rate limit errors
          examples:
          - 'Rate limit reached for o1-preview on requests per min (RPM): Limit 20,
            Used 20, Requested 1. Please try again in 3s.'
        content_filter_enabled:
          type: boolean
          title: Content Filter Enabled
          description: Whether content filtering is enabled
          default: false
        content_filter_error_code:
          anyOf:
          - type: integer
          - type: 'null'
          title: Content Filter Error Code
          description: HTTP status code for content filter errors
          examples:
          - 400
        content_filter_error_json:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Content Filter Error Json
          description: JSON structure of content filter error response
          examples:
          - error:
              code: invalid_prompt
              message: 'Invalid prompt: your prompt was flagged as potentially violating
                our usage policy. Please try again with a different prompt.'
              type: invalid_request_error
        content_filter_error_message:
          anyOf:
          - type: string
          - type: 'null'
          title: Content Filter Error Message
          description: Raw error message string for content filter errors
          examples:
          - 'Invalid prompt: your prompt was flagged as potentially violating our
            usage policy. Please try again with a different prompt.'
      type: object
      title: TargetMetadata
      description: Metadata stored in the database for targets (non-sensitive configuration).
    TargetRedactSchema:
      properties:
        connection_params:
          anyOf:
          - $ref: '#/components/schemas/RestConnectionParamsRedactBase'
          - $ref: '#/components/schemas/StreamingConnectionParamsRedactBase'
          - type: 'null'
          title: Connection Params
          description: API connection parameters (sensitive data masked for security)
        uuid:
          type: string
          format: uuid
          title: Uuid
        tsg_id:
          type: string
          title: Tsg Id
        name:
          type: string
          title: Name
          description: Target name
          examples:
          - GPT 4.1 Nano
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Optional target description
          default: ''
          examples:
          - AI model for testing
        target_type:
          anyOf:
          - $ref: '#/components/schemas/TargetType'
          - type: 'null'
          description: Type of target
        connection_type:
          anyOf:
          - $ref: '#/components/schemas/TargetConnectionType'
          - type: 'null'
          description: Connection type/provider for the target
          examples:
          - CUSTOM
          - OPENAI
          - BEDROCK
        api_endpoint_type:
          anyOf:
          - $ref: '#/components/schemas/ApiEndpointType'
          - type: 'null'
          description: Accessibility type of the API endpoint
          examples:
          - PUBLIC
          - PRIVATE
        response_mode:
          anyOf:
          - $ref: '#/components/schemas/ResponseMode'
          - type: 'null'
          description: Response mode for API interactions
          examples:
          - REST
          - STREAMING
        session_supported:
          type: boolean
          title: Session Supported
          description: Whether target supports session for multi-turn conversations
          default: false
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional configuration or metadata for the target
          default: {}
          examples:
          - custom_key: custom_value
        status:
          $ref: '#/components/schemas/TargetStatus'
          description: Target status
        active:
          type: boolean
          title: Active
          description: Whether target is active
        validated:
          type: boolean
          title: Validated
          description: Whether target is validated
        version:
          anyOf:
          - type: integer
          - type: 'null'
          title: Version
          description: Configuration version reference for encrypted config
        created_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
          description: User ID of target creator
        updated_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Updated By User Id
          description: User ID of last target updater
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
        target_metadata:
          anyOf:
          - $ref: '#/components/schemas/TargetMetadata'
          - type: 'null'
          description: Target metadata and configuration options
      type: object
      required:
      - uuid
      - tsg_id
      - name
      - status
      - active
      - validated
      - created_at
      - updated_at
      title: TargetRedactSchema
      description: Target redact Schema
    TargetResponseSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
        tsg_id:
          type: string
          title: Tsg Id
        name:
          type: string
          title: Name
          description: Target name
          examples:
          - GPT 4.1 Nano
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Optional target description
          default: ''
          examples:
          - AI model for testing
        target_type:
          anyOf:
          - $ref: '#/components/schemas/TargetType'
          - type: 'null'
          description: Type of target
        connection_type:
          anyOf:
          - $ref: '#/components/schemas/TargetConnectionType'
          - type: 'null'
          description: Connection type/provider for the target
          examples:
          - CUSTOM
          - OPENAI
          - BEDROCK
        api_endpoint_type:
          anyOf:
          - $ref: '#/components/schemas/ApiEndpointType'
          - type: 'null'
          description: Accessibility type of the API endpoint
          examples:
          - PUBLIC
          - PRIVATE
        response_mode:
          anyOf:
          - $ref: '#/components/schemas/ResponseMode'
          - type: 'null'
          description: Response mode for API interactions
          examples:
          - REST
          - STREAMING
        session_supported:
          type: boolean
          title: Session Supported
          description: Whether target supports session for multi-turn conversations
          default: false
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional configuration or metadata for the target
          default: {}
          examples:
          - custom_key: custom_value
        status:
          $ref: '#/components/schemas/TargetStatus'
          description: Target status
        active:
          type: boolean
          title: Active
          description: Whether target is active
        validated:
          type: boolean
          title: Validated
          description: Whether target is validated
        version:
          anyOf:
          - type: integer
          - type: 'null'
          title: Version
          description: Configuration version
        created_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
          description: User ID of target creator
        updated_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Updated By User Id
          description: User ID of last target updater
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
        target_metadata:
          anyOf:
          - $ref: '#/components/schemas/TargetMetadata'
          - type: 'null'
          description: Target metadata and configuration options
      type: object
      required:
      - uuid
      - tsg_id
      - name
      - status
      - active
      - validated
      - created_at
      - updated_at
      title: TargetResponseSchema
    TargetSchema:
      properties:
        connection_params:
          anyOf:
          - $ref: '#/components/schemas/RestConnectionParamsBase-Output'
          - $ref: '#/components/schemas/StreamingConnectionParamsBase-Output'
          - type: 'null'
          title: Connection Params
          description: API connection parameters (sensitive data masked for security)
        uuid:
          type: string
          format: uuid
          title: Uuid
        tsg_id:
          type: string
          title: Tsg Id
        name:
          type: string
          title: Name
          description: Target name
          examples:
          - GPT 4.1 Nano
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Optional target description
          default: ''
          examples:
          - AI model for testing
        target_type:
          anyOf:
          - $ref: '#/components/schemas/TargetType'
          - type: 'null'
          description: Type of target
        connection_type:
          anyOf:
          - $ref: '#/components/schemas/TargetConnectionType'
          - type: 'null'
          description: Connection type/provider for the target
          examples:
          - CUSTOM
          - OPENAI
          - BEDROCK
        api_endpoint_type:
          anyOf:
          - $ref: '#/components/schemas/ApiEndpointType'
          - type: 'null'
          description: Accessibility type of the API endpoint
          examples:
          - PUBLIC
          - PRIVATE
        response_mode:
          anyOf:
          - $ref: '#/components/schemas/ResponseMode'
          - type: 'null'
          description: Response mode for API interactions
          examples:
          - REST
          - STREAMING
        session_supported:
          type: boolean
          title: Session Supported
          description: Whether target supports session for multi-turn conversations
          default: false
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional configuration or metadata for the target
          default: {}
          examples:
          - custom_key: custom_value
        status:
          $ref: '#/components/schemas/TargetStatus'
          description: Target status
        active:
          type: boolean
          title: Active
          description: Whether target is active
        validated:
          type: boolean
          title: Validated
          description: Whether target is validated
        version:
          anyOf:
          - type: integer
          - type: 'null'
          title: Version
          description: Configuration version reference for encrypted config
        created_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
          description: User ID of target creator
        updated_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Updated By User Id
          description: User ID of last target updater
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
        target_metadata:
          anyOf:
          - $ref: '#/components/schemas/TargetMetadata'
          - type: 'null'
          description: Target metadata and configuration options
      type: object
      required:
      - uuid
      - tsg_id
      - name
      - status
      - active
      - validated
      - created_at
      - updated_at
      title: TargetSchema
      description: Target Get Schema
    TargetStatus:
      type: string
      enum:
      - DRAFT
      - ACTIVE
      title: TargetStatus
      description: Status enumeration for scan targets.
    TargetTemplateCollectionSchema:
      properties:
        OPENAI:
          additionalProperties: true
          type: object
          title: Openai
        HUGGING_FACE:
          additionalProperties: true
          type: object
          title: Hugging Face
        DATABRICKS:
          additionalProperties: true
          type: object
          title: Databricks
        BEDROCK:
          additionalProperties: true
          type: object
          title: Bedrock
        REST:
          additionalProperties: true
          type: object
          title: Rest
        STREAMING:
          additionalProperties: true
          type: object
          title: Streaming
      type: object
      required:
      - OPENAI
      - HUGGING_FACE
      - DATABRICKS
      - BEDROCK
      - REST
      - STREAMING
      title: TargetTemplateCollectionSchema
      description: Schema for collection of target templates.
    TargetType:
      type: string
      enum:
      - APPLICATION
      - AGENT
      - MODEL
      title: TargetType
      description: Target Types Available
    TargetUpdateRequestSchema:
      properties:
        connection_params:
          anyOf:
          - $ref: '#/components/schemas/RestConnectionParamsBase-Input'
          - $ref: '#/components/schemas/StreamingConnectionParamsBase-Input'
          - type: 'null'
          title: Connection Params
          description: API connection parameters (sensitive data masked for security)
        name:
          type: string
          title: Name
          description: Target name
          examples:
          - GPT 4.1 Nano
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Optional target description
          default: ''
          examples:
          - AI model for testing
        target_type:
          anyOf:
          - $ref: '#/components/schemas/TargetType'
          - type: 'null'
          description: Type of target
        connection_type:
          anyOf:
          - $ref: '#/components/schemas/TargetConnectionType'
          - type: 'null'
          description: Connection type/provider for the target
          examples:
          - CUSTOM
          - OPENAI
          - BEDROCK
        api_endpoint_type:
          anyOf:
          - $ref: '#/components/schemas/ApiEndpointType'
          - type: 'null'
          description: Accessibility type of the API endpoint
          examples:
          - PUBLIC
          - PRIVATE
        response_mode:
          anyOf:
          - $ref: '#/components/schemas/ResponseMode'
          - type: 'null'
          description: Response mode for API interactions
          examples:
          - REST
          - STREAMING
        session_supported:
          type: boolean
          title: Session Supported
          description: Whether target supports session for multi-turn conversations
          default: false
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional configuration or metadata for the target
          default: {}
          examples:
          - custom_key: custom_value
        target_metadata:
          anyOf:
          - $ref: '#/components/schemas/TargetMetadata'
          - type: 'null'
          description: Target metadata and configuration options
      additionalProperties: false
      type: object
      required:
      - name
      title: TargetUpdateRequestSchema
      description: Schema for both create and update operations.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
ExternalTags:
  Activation:
    title: Activation
    description: Operations for instance activation and management.
    tags:
    - Activation
  CustomAttack:
    title: CustomAttack
    description: Operations for managing custom prompt sets, prompts, and properties.
    tags:
    - CustomAttack
  Dashboard:
    title: Dashboard
    description: Operations for retrieving dashboard overview and statistics.
    tags:
    - Dashboard
  EULA:
    title: EULA
    description: Operations for managing End User License Agreement acceptance.
    tags:
    - EULA
  HealthChecks:
    title: HealthChecks
    description: Operations related to health checks of the management plane service.
    tags:
    - HealthChecks
  Licensing:
    title: Licensing
    description: Operations for device licensing and management.
    tags:
    - Licensing
  Target:
    title: Target
    description: Operations for managing scan targets (create, update, delete, list).
    tags:
    - Target
  Templates:
    title: Templates
    description: Operations for retrieving target templates and metadata.
    tags:
    - Templates
paths:
  /ready:
    get:
      summary: Readiness
      description: Retrieve the ready details through this Application Programming
        Interface endpoint.
      operationId: readiness_ready_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Readiness Ready Get
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      parameters: []
      tags:
      - HealthChecks
  /liveness:
    get:
      summary: Liveness
      description: Retrieve the liveness details through this Application Programming
        Interface endpoint.
      operationId: liveness_liveness_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties:
                  type: boolean
                type: object
                title: Response Liveness Liveness Get
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      parameters: []
      tags:
      - HealthChecks
  /v1/target:
    post:
      summary: Create a new scan target
      description: Create a new scan target.
      operationId: create_target_v1_target_post
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetResponseSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      parameters:
      - name: validate
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to validate target configuration
          examples:
          - true
          title: Validate
        description: Whether to validate target configuration
      tags:
      - Target
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetCreateRequestSchema'
    get:
      summary: List all scan targets
      description: List all scan targets with pagination and filtering support.
      operationId: list_targets_v1_target_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetListSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      parameters:
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of records to skip
          default: 0
          title: Skip
        description: Number of records to skip
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum records to return
          default: 10
          title: Limit
        description: Maximum records to return
      - name: target_type
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/TargetType'
          - type: 'null'
          description: Filter by target type
          title: Target Type
        description: Filter by target type
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/TargetStatus'
          - type: 'null'
          description: Filter by status
          title: Status
        description: Filter by status
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search target by name
          title: Search
        description: Search target by name
      tags:
      - Target
  /v1/target/{target_uuid}:
    get:
      summary: Get target details
      description: Retrieve a specific target by UUID with complete configuration
        details and masked connection parameters.
      operationId: get_target_v1_target__target_uuid__get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetRedactSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      parameters:
      - name: target_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Target Uuid
      tags:
      - Target
    put:
      summary: Update a target with optional validation
      description: Update an existing target with new configuration and optional validation
        control.
      operationId: update_target_v1_target__target_uuid__put
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      parameters:
      - name: target_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Target Uuid
      - name: validate
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to validate target configuration
          default: true
          title: Validate
        description: Whether to validate target configuration
      tags:
      - Target
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetUpdateRequestSchema'
    delete:
      summary: Delete a target
      description: Permanently delete a target and its encrypted configuration data.
      operationId: delete_target_v1_target__target_uuid__delete
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      parameters:
      - name: target_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Target Uuid
      tags:
      - Target
  /v1/template/target-metadata:
    get:
      summary: Get target metadata
      description: Get the metadata for targets.
      operationId: get_scan_metadata_v1_template_target_metadata_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Get Scan Metadata V1 Template Target Metadata Get
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      parameters: []
      tags:
      - Templates
  /v1/template/target-templates:
    get:
      summary: Get available target templates
      description: Get the list of available templates for scan targets.
      operationId: get_template_v1_template_target_templates_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetTemplateCollectionSchema'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      parameters: []
      tags:
      - Templates
  /v1/custom-attack/custom-prompt-set:
    post:
      summary: Create a new custom prompt set
      description: Create a new custom prompt set.
      operationId: create_prompt_set_v1_custom_attack_custom_prompt_set_post
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetResponseSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      parameters: []
      tags:
      - CustomAttack
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPromptSetCreateRequestSchema'
        required: true
  /v1/custom-attack/list-custom-prompt-sets:
    get:
      summary: List all custom prompt sets
      description: List all custom prompt sets with pagination and filtering support.
      operationId: list_prompt_sets_v1_custom_attack_list_custom_prompt_sets_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetListSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      parameters:
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of records to skip
          default: 0
          title: Skip
        description: Number of records to skip
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum records to return
          default: 10
          title: Limit
        description: Maximum records to return
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by status
          title: Status
        description: Filter by status
      - name: active
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter by active status
          title: Active
        description: Filter by active status
      - name: archive
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter by archive status (None=non-archived only, True=archived
            only, False=non-archived only)
          title: Archive
        description: Filter by archive status (None=non-archived only, True=archived
          only, False=non-archived only)
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search in name and description
          title: Search
        description: Search in name and description
      tags:
      - CustomAttack
[...]
