openapi: 3.1.0
info:
  title: SP Interconnect Manage APIs
  version: '1.0'
  description: "This Open API spec file was created on January 28, 2026. \xA9 2026\
    \ Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark of Palo\
    \ Alto Networks. A list of our trademarks can be found at [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html).\
    \ All other marks mentioned herein may be trademarks of their respective companies."
servers:
- url: https://api.sase.paloaltonetworks.com
security:
- authKey: []
components:
  schemas:
    CloudProvider:
      type: string
      enum:
      - GCP
      - AWS
    ConnectionType:
      type: string
      enum:
      - DEDICATED
      - PARTNER
    DedicatedVlanAttachmentDetailsEntry:
      type: object
      properties:
        edgeAvailability:
          type: string
        bandwidth:
          $ref: '#/components/schemas/Bandwidth'
      required:
      - edgeAvailability
    InterconnectRequest:
      type: object
      required:
      - name
      - region
      - partnerName
      - partnerEmail
      - usage
      - cloudProvider
      - type
      properties:
        name:
          type: string
          pattern: ^([-0-9a-z]){1,13}$
        region:
          type: string
          pattern: \\S+
        partnerName:
          type: string
          pattern: ^([a-zA-Z0-9\s\-]){1,30}$
        partnerEmail:
          type: string
          pattern: \\S
        usage:
          $ref: '#/components/schemas/InterconnectUsage'
        tsgId:
          type: string
          pattern: ^[0-9-]+$
        cloudProvider:
          $ref: '#/components/schemas/CloudProvider'
        type:
          $ref: '#/components/schemas/ConnectionType'
        ipPool:
          $ref: '#/components/schemas/IPPoolRequest'
        physicalConnection:
          $ref: '#/components/schemas/PhysicalConnectionEntry'
        vlanAttachment:
          $ref: '#/components/schemas/VlanAttachmentRequest'
    InterconnectUsage:
      type: string
      enum:
      - SHARED
      - PER_TENANT
    IPPoolRequest:
      type: object
      required:
      - ipProvider
      properties:
        ipBlocks:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/IPBlockEntry'
        ipProvider:
          $ref: '#/components/schemas/IPProvider'
    IPBlockEntry:
      type: object
      required:
      - cidr
      properties:
        edgeLocation:
          type: string
        cidr:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
        type:
          $ref: '#/components/schemas/IPBlockType'
    IPBlockType:
      type: string
      enum:
      - PRIMARY
      - SECONDARY
    IPProvider:
      type: string
      enum:
      - SP
      - PANW
    PhysicalConnectionEntry:
      type: object
      required:
      - physicalConnectionName
      - linkType
      - coloFacilities
      - partnerName
      - partnerEmail
      properties:
        physicalConnectionName:
          type: string
          pattern: \\S
        linkType:
          $ref: '#/components/schemas/PhysicalInterconnectLinkType'
        requestedLinkCount:
          type: integer
          format: int32
        coloFacilities:
          type: array
          minItems: 1
          items:
            type: string
        macSecEnabled:
          type: boolean
        partnerName:
          type: string
          pattern: \\S
        partnerEmail:
          type: string
          pattern: \\S
    PhysicalInterconnectLinkType:
      type: string
      enum:
      - LINK_TYPE_ETHERNET_10G_LR
      - LINK_TYPE_ETHERNET_100G_LR
    VlanAttachmentRequest:
      type: object
      required:
      - name
      - bgpPeerAsn
      - bgpPeerBfdSessionInitMode
      properties:
        name:
          type: string
          pattern: ^([-0-9a-z]){1,13}$
        stackType:
          $ref: '#/components/schemas/StackType'
        bandwidth:
          $ref: '#/components/schemas/Bandwidth'
        bgpPeerAsn:
          type: integer
          format: int64
          minimum: 1
        bgpPeerBfdSessionInitMode:
          $ref: '#/components/schemas/SessionInitializationMode'
        bgpPeerBfdMinTransmitInterval:
          type: integer
          format: int64
          maximum: 30000
          minimum: 1000
        bgpPeerBfdMinReceiveInterval:
          type: integer
          format: int64
          maximum: 30000
          minimum: 1000
        bgpPeerBfdMultiplier:
          type: integer
          format: int64
          maximum: 16
          minimum: 5
        dedicatedConnectionDetails:
          type: array
          items:
            $ref: '#/components/schemas/DedicatedVlanAttachmentDetailsEntry'
        bgpPeerMd5AuthEnabled:
          type: boolean
    StackType:
      type: string
      enum:
      - IPV4_ONLY
      - IPV4_IPV6
    Bandwidth:
      type: string
      enum:
      - BPS_50M
      - BPS_100M
      - BPS_200M
      - BPS_300M
      - BPS_400M
      - BPS_500M
      - BPS_1G
      - BPS_2G
      - BPS_5G
      - BPS_10G
    SessionInitializationMode:
      type: string
      enum:
      - ACTIVE
      - PASSIVE
      - DISABLED
    SettingsEntry:
      type: object
      required:
      - egressType
      properties:
        egressType:
          type: string
          pattern: SP|PA
        cidr:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^((25[0-5]|2[0-4][0-9]|[0-1]?[0-9]{1,2})(\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9]{1,2})){3})\/(3[0-2]|[1-2][0-9]|[0-9])$
  securitySchemes:
    authKey:
      type: http
      scheme: Bearer
ExternalTags: {}
paths:
  /mt/sp-interconnect/interconnects:
    get:
      summary: List interconnects
      description: List interconnects.
      operationId: GetMtSp-interconnectInterconnects
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get interconnects:
                  value:
                    data:
                    - cloudProvider: GCP
                      id: 1689a56a-9386-40b5-aa9a-0cebad2650d8
                      name: new-ic
                      partnerEmail: acme@abc.com
                      partnerName: acme
                      permittedActions: []
                      region: us-west2
                      regionDisplayName: US Southwest
                      status: INACTIVE
                      tenantActivationCount: 0
                      tenantType: MT_ROOT
                      tsgId: '1669501385'
                      type: PARTNER
                      usage: SHARED
                      vlanAttachments:
                      - bfdEnabled: false
                        bgpPeerAsn: 9493
                        bgpPeerBfdSessionInitMode: DISABLED
                        bgpPeerMd5AuthEnabled: false
                        createTime: 1758576695399
                        edgeAvailability: AVAILABILITY_DOMAIN_2
                        id: d06a04c9-b6aa-4e40-8722-cfee46fc786c
                        msg: Error getting network from gcp,Not Found
                        name: test-2
                        permittedActions:
                        - DELETE_CONNECTION
                        stackType: IPV4_ONLY
                        state: CREATE_VLAN_ATTACHMENT_FAILED
                        status: INACTIVE
                        tenantCount: 0
                        updateTime: 1758576779732
                    - cloudProvider: GCP
                      id: 9fbb3e68-1760-4447-a8fa-381a28208477
                      name: sp-auto-pt
                      partnerEmail: sp@example.com
                      partnerName: equinix
                      permittedActions: []
                      region: europe-southwest1
                      regionDisplayName: Andorra
                      rootTsgId: '1669501385'
                      status: DELETING
                      tenantActivationCount: 0
                      tenantId: '1033430256'
                      tenantType: MT_CHILD
                      tsgId: '1021202872'
                      type: PARTNER
                      usage: PER_TENANT
                    requestId: f6d99966-f98e-484d-a4f2-74237eaf79ab
                Get AWS interconnects:
                  value:
                    data:
                    - cloudProvider: AWS
                      id: 424f9837-68b3-11f0-92e9-4201ac16024e
                      name: aws-ic-east
                      partnerEmail: ops@company.com
                      partnerName: company-ops
                      permittedActions:
                      - DELETE_BACKBONE
                      region: us-east-1
                      regionDisplayName: US East
                      status: ACTIVE
                      tenantActivationCount: 5
                      tenantType: MT_ROOT
                      tsgId: '1669501385'
                      type: PARTNER
                      usage: SHARED
                      vlanAttachments:
                      - awsAccountId: '123456789012'
                        awsConnectionName: dx-connection-1
                        bandwidth: BPS_1G
                        bgpPeerAsn: 65001
                        bgpPeerBfdSessionInitMode: ACTIVE
                        bgpPeerMd5AuthEnabled: true
                        createTime: 1758576695376
                        edgeAvailability: AVAILABILITY_DOMAIN_1
                        id: aa465af0-d241-4097-8ee6-31b1c29924f7
                        name: aws-vlan-1
                        permittedActions:
                        - DELETE_CONNECTION
                        stackType: IPV4_ONLY
                        state: ACTIVE
                        status: ACTIVE
                        tenantCount: 3
                        updateTime: 1758576695404
                    requestId: b66e6d42-0af3-4b92-8ef9-1be242ded8f3
        '500':
          description: Server Error
      parameters:
      - name: includeDefaultInterconnect
        in: query
        schema:
          type: boolean
      - name: includeTenantsAssociated
        in: query
        schema:
          type: boolean
      tags:
      - untagged
    post:
      summary: Create new interconnect
      description: Create new interconnect.
      operationId: PostMtSp-interconnectInterconnects
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Add an interconnect:
                  value:
                    data:
                      cloudProvider: GCP
                      id: 1689a56a-9386-40b5-aa9a-0cebad2650d8
                      name: new-ic
                      partnerEmail: acme@abc.com
                      partnerName: acme
                      permittedActions: []
                      region: us-west2
                      regionDisplayName: US Southwest
                      status: INACTIVE
                      tenantActivationCount: 0
                      tenantType: MT_ROOT
                      tsgId: '1669501385'
                      type: PARTNER
                      usage: SHARED
                      vlanAttachments:
                      - bfdEnabled: false
                        bgpPeerAsn: 9493
                        bgpPeerBfdSessionInitMode: DISABLED
                        bgpPeerMd5AuthEnabled: false
                        createTime: 1758576695376
                        edgeAvailability: AVAILABILITY_DOMAIN_1
                        id: aa465af0-d241-4097-8ee6-31b1c29924f7
                        name: test-1
                        permittedActions: []
                        stackType: IPV4_ONLY
                        state: NOT_STARTED
                        status: INACTIVE
                        tenantCount: 0
                        updateTime: 1758576695404
                      - bfdEnabled: false
                        bgpPeerAsn: 9493
                        bgpPeerBfdSessionInitMode: DISABLED
                        bgpPeerMd5AuthEnabled: false
                        createTime: 1758576695399
                        edgeAvailability: AVAILABILITY_DOMAIN_2
                        id: d06a04c9-b6aa-4e40-8722-cfee46fc786c
                        name: test-2
                        permittedActions: []
                        stackType: IPV4_ONLY
                        state: NOT_STARTED
                        status: INACTIVE
                        tenantCount: 0
                        updateTime: 1758576695404
                    requestId: ae1dcb52-7086-4e18-a5a8-8ef8b991c585
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Add an interconnect with invalid payload:
                  value:
                    error:
                      errorCode: 52046
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: Connection input region unsupported
                    requestId: 3c84be78-eee9-4751-ba03-91759a6e9321
                Invalid interconnect name:
                  value:
                    error:
                      errorCode: 52051
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: Name must be lowercase letters,numbers or hyphens; max
                        length 13 characters
                    requestId: a1b2c3d4-5e6f-7890-abcd-ef1234567890
                BGP ASN 16550 not allowed:
                  value:
                    error:
                      errorCode: 52028
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: BGP Peer ASN with value 16550 is not allowed
                    requestId: b2c3d4e5-6f78-9012-bcde-f12345678901
                Missing VPC association:
                  value:
                    error:
                      errorCode: 52003
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: Missing VPC association entry for tenant
                    requestId: c3d4e5f6-7890-1234-cdef-012345678901
        '409':
          description: Conflict
          content:
            application/json:
              examples:
                Interconnect already exists:
                  value:
                    error:
                      errorCode: 52004
                      errorType: VALIDATION_ERROR
                      httpStatus: 409
                      msg: Interconnect with same usage/cloud_provider/region already
                        exists
                    requestId: d4e5f678-9012-3456-def0-123456789012
                Interconnect name exists:
                  value:
                    error:
                      errorCode: 52049
                      errorType: VALIDATION_ERROR
                      httpStatus: 409
                      msg: Interconnect with same name already exists
                    requestId: e5f67890-1234-5678-ef01-234567890123
        '500':
          description: Server Error
          content:
            application/json:
              examples:
                Add backbone failed due to internal error:
                  value:
                    error:
                      errorCode: 50002
                      errorType: INTERNAL_ERROR
                      httpStatus: 500
                      msg: Failed to add Backbone in db
                    requestId: 432568e0-05e2-4baa-8595-ed6bb4f98b64
      parameters: []
      tags:
      - untagged
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterconnectRequest'
            examples:
              Create GCP Partner Interconnect:
                value:
                  name: new-ic
                  region: us-west2
                  partnerName: acme
                  partnerEmail: acme@abc.com
                  usage: SHARED
                  cloudProvider: GCP
                  type: PARTNER
                  vlanAttachment:
                    name: test
                    bgpPeerAsn: 9493
                    bgpPeerBfdSessionInitMode: DISABLED
                    stackType: IPV4_ONLY
                    bgpPeerMd5AuthEnabled: false
              Create AWS Partner Interconnect:
                value:
                  name: aws-ic
                  region: us-east-1
                  partnerName: equinix
                  partnerEmail: sp@equinix.com
                  usage: SHARED
                  cloudProvider: AWS
                  type: PARTNER
                  vlanAttachment:
                    name: aws-conn-1
                    bgpPeerAsn: 65001
                    bgpPeerBfdSessionInitMode: ACTIVE
                    bgpPeerBfdMinTransmitInterval: 1000
                    bgpPeerBfdMinReceiveInterval: 1000
                    bgpPeerBfdMultiplier: 5
              Create GCP Dedicated Interconnect:
                value:
                  name: ded-ic
                  region: us-west2
                  partnerName: datacenter-ops
                  partnerEmail: ops@datacenter.com
                  usage: SHARED
                  cloudProvider: GCP
                  type: DEDICATED
                  vlanAttachment:
                    name: ded-vlan-1
                    bgpPeerAsn: 16363
                    bgpPeerBfdSessionInitMode: ACTIVE
                    bandwidth: BPS_10G
                    bgpPeerMd5AuthEnabled: true
                    dedicatedConnectionDetails:
                    - edgeAvailability: ZONE1
                      bandwidth: BPS_10G
                    - edgeAvailability: ZONE2
                      bandwidth: BPS_10G
              Create Per-Tenant Interconnect:
                value:
                  name: tenant-ic
                  region: europe-west1
                  partnerName: tenant-partner
                  partnerEmail: partner@tenant.com
                  usage: PER_TENANT
                  tsgId: '1021202872'
                  cloudProvider: GCP
                  type: PARTNER
                  vlanAttachment:
                    name: tenant-conn
                    bgpPeerAsn: 65100
                    bgpPeerBfdSessionInitMode: DISABLED
        required: true
  /mt/sp-interconnect/interconnects/info:
    get:
      summary: Get Interconnect Info
      description: Get Interconnect Info.
      operationId: GetMtSp-interconnectInterconnectsInfo
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get interconnect info for tenant:
                  value:
                    data:
                      interconnects:
                      - id: 1689a56a-9386-40b5-aa9a-0cebad2650d8
                        name: new-ic
                        region: us-west2
                        regionDisplayName: US Southwest
                        edgeLocationRegionName: us-west-201
                        usage: SHARED
                        bandwidth: 200Mbps
                        cloudProvider: GCP
                        status: ACTIVE
                      - id: 9fbb3e68-1760-4447-a8fa-381a28208477
                        name: aws-ic
                        region: us-east-1
                        regionDisplayName: US East
                        edgeLocationRegionName: us-east-1a
                        usage: SHARED
                        bandwidth: 500Mbps
                        cloudProvider: AWS
                        status: ACTIVE
                      supportedFeatures:
                      - SP_INTERCONNECT
                      - DEDICATED_INTERCONNECT
                    requestId: 82923271-2db3-4895-b1cf-a5faa77d28e3
                Get interconnect info with no interconnects:
                  value:
                    data:
                      interconnects: []
                      supportedFeatures:
                      - SP_INTERCONNECT
                    requestId: a1b2c3d4-5e6f-7890-abcd-ef1234567890
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Tenant not found:
                  value:
                    error:
                      errorCode: 52033
                      errorType: VALIDATION_ERROR
                      httpStatus: 404
                      msg: The tenant doesn't exist
                    requestId: d1c5b994-3ce5-4011-acff-498a2080535c
        '500':
          description: Server Error
      parameters: []
      tags:
      - untagged
  /mt/sp-interconnect/interconnects/physical-connections:
    get:
      summary: Get physical connections in interconnect
      description: Get physical connections in interconnect.
      operationId: GetMtSp-interconnectInterconnectsPhysical-connections
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get Physical Connections in a backbone:
                  value:
                    data:
                    - address: "Telehouse - Global Data Centers\n65 Rue L\xE9on Frot\n\
                        75011 Paris\nFrance"
                      city: Paris
                      coloFacility: cdg-zone1-53
                      ha: false
                      id: 0c48519e-5738-4719-b2aa-92fcb9e4a96f
                      linkType: LINK_TYPE_ETHERNET_100G_LR
                      macSecEnabled: true
                      permittedActions:
                      - DELETE_CONNECTION
                      physicalConnectionName: abc-1
                      region: C_EUROPE
                      requestedLinkCount: 1
                      status: PENDING
                    - address: "Telehouse - Global Data Centers\n65 Rue L\xE9on Frot\n\
                        75011 Paris\nFrance"
                      city: Paris
                      coloFacility: cdg-zone2-53
                      ha: false
                      id: fe3bff54-f4b2-4aac-958f-15c60913c9de
                      linkType: LINK_TYPE_ETHERNET_100G_LR
                      macSecEnabled: true
                      permittedActions:
                      - DELETE_CONNECTION
                      physicalConnectionName: abc-2
                      region: C_EUROPE
                      requestedLinkCount: 1
                      status: PENDING
                    requestId: 0578a2a6-99a7-4fe6-969f-28eafecb362a
        '400':
          description: Bad Request
        '500':
          description: Server Error
      parameters: []
      tags:
      - untagged
    post:
      summary: Create physical connection in an interconnect
      description: Create physical connection in an interconnect.
      operationId: PostMtSp-interconnectInterconnectsPhysical-connections
      responses:
        '201':
          description: Success
          content:
            application/json:
              examples:
                Add physical connection in backbone:
                  value:
                    data:
                    - address: "Telehouse - Global Data Centers\n65 Rue L\xE9on Frot\n\
                        75011 Paris\nFrance"
                      city: Paris
                      coloFacility: cdg-zone1-53
                      ha: false
                      id: 0c48519e-5738-4719-b2aa-92fcb9e4a96f
                      linkType: LINK_TYPE_ETHERNET_100G_LR
                      macSecEnabled: true
                      physicalConnectionName: abc-1
                      region: C_EUROPE
                      requestedLinkCount: 1
                      status: PENDING
                    - address: "Telehouse - Global Data Centers\n65 Rue L\xE9on Frot\n\
                        75011 Paris\nFrance"
                      city: Paris
                      coloFacility: cdg-zone2-53
                      ha: false
                      id: fe3bff54-f4b2-4aac-958f-15c60913c9de
                      linkType: LINK_TYPE_ETHERNET_100G_LR
                      macSecEnabled: true
                      physicalConnectionName: abc-2
                      region: C_EUROPE
                      requestedLinkCount: 1
                      status: PENDING
                    requestId: a14eb282-9e97-4cf0-b232-a7c9f4b06fc4
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Add physical connection, interconnect not found:
                  value:
                    error:
                      errorCode: 50004
                      errorType: NOT_FOUND
                      httpStatus: 404
                      msg: Interconnect not found!
                    requestId: d42dba1a-23f1-4818-813b-2da9f35c95bb
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Physical connection name exists:
                  value:
                    error:
                      errorCode: 52105
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: Physical Connection name already exists
                    requestId: a1b2c3d4-5e6f-7890-abcd-ef1234567890
                Invalid link count for 10G:
                  value:
                    error:
                      errorCode: 52109
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: requestedLinkCount for LINK_TYPE_ETHERNET_10G_LR linkType
                        must be 1 or 2
                    requestId: b2c3d4e5-6f78-9012-bcde-f12345678901
                Invalid link count for 100G:
                  value:
                    error:
                      errorCode: 52110
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: requestedLinkCount for LINK_TYPE_ETHERNET_100G_LR linkType
                        must be from 1-8
                    requestId: c3d4e5f6-7890-1234-cdef-012345678901
                Invalid colo facilities count:
                  value:
                    error:
                      errorCode: 52111
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: two entries must be provided in coloFacilities for physical
                        connection
                    requestId: d4e5f678-9012-3456-def0-123456789012
        '500':
          description: Server Error
          content:
            application/json:
              examples:
                Add physical connection failed:
                  value:
                    error:
                      errorCode: 50018
                      errorType: INTERNAL_ERROR
                      httpStatus: 500
                      msg: Failed to add connection in db!
                    requestId: d42dba1a-23f1-4818-813b-2da9f35c95bb
      parameters: []
      tags:
      - untagged
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhysicalConnectionEntry'
            examples:
              Create 10G physical connection:
                value:
                  physicalConnectionName: abc-1
                  linkType: LINK_TYPE_ETHERNET_10G_LR
                  requestedLinkCount: 1
                  coloFacilities:
                  - cdg-zone1-53
                  - cdg-zone2-53
                  macSecEnabled: false
                  partnerName: datacenter-ops
                  partnerEmail: ops@datacenter.com
              Create 100G physical connection with MACsec:
                value:
                  physicalConnectionName: high-speed-conn
                  linkType: LINK_TYPE_ETHERNET_100G_LR
                  requestedLinkCount: 2
                  coloFacilities:
                  - yvr-zone1-1881
                  - yvr-zone2-1881
                  macSecEnabled: true
                  partnerName: enterprise-net
                  partnerEmail: network@enterprise.com
        required: true
  /mt/sp-interconnect/interconnects/physical-connections/{physicalConnectionId}:
    delete:
      summary: Delete physical connection by id
      description: Delete connection by id.
      operationId: DeleteMtSp-interconnectInterconnectsPhysical-connectionsbyphysicalconnectionid
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Delete Backbone:
                  value:
                    data: Successfully marked connection for deletion
                    requestId: 7e656271-20f3-4fa4-9c4a-e0f455476fe9
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Delete Connection not found:
                  value:
                    error:
                      errorCode: 50007
                      errorType: NOT_FOUND
                      httpStatus: 404
                      msg: Connection not found!
                    requestId: cf32af05-7df6-4dd2-b27e-7b6ef2683145
        '400':
          description: Bad Request
        '500':
          description: Server Error
      parameters:
      - name: physicalConnectionId
        in: path
        required: true
        schema:
          type: string
      tags:
      - untagged
    get:
      summary: Get physical connection by Id
      description: Get physical connection by Id.
      operationId: GetMtSp-interconnectInterconnectsPhysical-connectionsbyphysicalconnectionid
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get Physical Connection by Id:
                  value:
                    data:
                      address: "Telehouse - Global Data Centers\n65 Rue L\xE9on Frot\n\
                        75011 Paris\nFrance"
                      city: Paris
                      coloFacility: cdg-zone1-53
                      ha: false
                      id: 0c48519e-5738-4719-b2aa-92fcb9e4a96f
                      linkType: LINK_TYPE_ETHERNET_100G_LR
                      macSecEnabled: true
                      permittedActions:
                      - DELETE_CONNECTION
                      physicalConnectionName: abc-1
                      region: C_EUROPE
                      requestedLinkCount: 1
                      status: PENDING
                    requestId: 82923271-2db3-4895-b1cf-a5faa77d28e3
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Get physical connection by Id not found:
                  value:
                    error:
                      errorCode: 50007
                      errorType: NOT_FOUND
                      httpStatus: 404
                      msg: Physical Connection not found
                    requestId: 37e45511-7795-41ad-807f-ec38214e8c30
      parameters:
      - name: physicalConnectionId
        in: path
        required: true
        schema:
          type: string
      - name: includeDetails
        in: query
        schema:
          type: boolean
      tags:
      - untagged
  /mt/sp-interconnect/interconnects/summary:
    get:
      summary: Get interconnects summary
      description: Get interconnects summary.
      operationId: GetMtSp-interconnectInterconnectsSummary
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get interconnect summary:
                  value:
                    data:
                    - active: 4
                      bandwidth: 20Mbps
                      cloudProvider: GCP
                      inactive: 2
                      ipPoolCount: 1
                    requestId: b66e6d42-0af3-4b92-8ef9-1be242ded8f3
        '400':
          description: Bad Request
        '500':
          description: Server Error
      parameters:
      - name: usage
        in: query
        schema:
          $ref: '#/components/schemas/InterconnectUsage'
      tags:
      - untagged
  /mt/sp-interconnect/interconnects/{interconnectId}:
    get:
      summary: Get interconnect by Id
      description: Get interconnect by Id.
      operationId: GetMtSp-interconnectInterconnectsbyinterconnectid
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get interconnects by id:
                  value:
                    data:
                      cloudProvider: GCP
                      id: 1689a56a-9386-40b5-aa9a-0cebad2650d8
                      name: new-ic
                      partnerEmail: acme@abc.com
                      partnerName: acme
                      permittedActions: []
                      region: us-west2
                      regionDisplayName: US Southwest
                      status: INACTIVE
                      tenantActivationCount: 0
                      tenantType: MT_ROOT
                      tsgId: '1669501385'
                      type: PARTNER
                      usage: SHARED
                      vlanAttachments:
                      - bfdEnabled: false
                        bgpPeerAsn: 9493
                        bgpPeerBfdSessionInitMode: DISABLED
                        bgpPeerMd5AuthEnabled: false
                        createTime: 1758576695376
                        edgeAvailability: AVAILABILITY_DOMAIN_1
                        id: aa465af0-d241-4097-8ee6-31b1c29924f7
                        msg: Error getting network from gcp,Not Found
                        name: test-1
                        permittedActions: []
                        stackType: IPV4_ONLY
                        state: DELETING
                        status: INACTIVE
                        tenantCount: 0
                        updateTime: 1758577091897
                      - bfdEnabled: false
                        bgpPeerAsn: 9493
                        bgpPeerBfdSessionInitMode: DISABLED
                        bgpPeerMd5AuthEnabled: false
                        createTime: 1758576695399
                        edgeAvailability: AVAILABILITY_DOMAIN_2
                        id: d06a04c9-b6aa-4e40-8722-cfee46fc786c
                        msg: Error getting network from gcp,Not Found
                        name: test-2
                        permittedActions:
                        - DELETE_CONNECTION
                        stackType: IPV4_ONLY
                        state: CREATE_VLAN_ATTACHMENT_FAILED
                        status: INACTIVE
                        tenantCount: 0
                        updateTime: 1758576779732
                    requestId: 18b1bf70-8b07-42e2-907d-10365382dc63
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Get interconnect by Id, interconnect not found:
                  value:
                    error:
                      errorCode: 52008
                      errorType: VALIDATION_ERROR
                      httpStatus: 404
                      msg: Interconnect not found
                    requestId: d1c5b994-3ce5-4011-acff-498a2080535c
        '400':
          description: Bad Request
        '500':
          description: Server Error
      parameters:
      - name: interconnectId
        in: path
        required: true
        schema:
          type: string
      - name: includeTenantsAssociated
        in: query
        schema:
          type: boolean
      tags:
      - untagged
    delete:
      summary: Delete interconnect by Id
      description: Delete interconnect by Id.
      operationId: DeleteMtSp-interconnectInterconnectsbyinterconnectid
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Delete Interconnect:
                  value:
                    data: Successfully Deleted Backbone
                    requestId: 7e656271-20f3-4fa4-9c4a-e0f455476fe9
        '400':
          description: Bad Request
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Delete Interconnect not found:
                  value:
                    error:
                      errorCode: 52008
                      errorType: VALIDATION_ERROR
                      httpStatus: 404
                      msg: Interconnect not found
                    requestId: d56d092a-7cb2-4b85-bdbe-48c02c036c94
        '500':
          description: Server Error
      parameters:
      - name: interconnectId
        in: path
        required: true
        schema:
          type: string
      tags:
      - untagged
  /mt/sp-interconnect/interconnects/{interconnectId}/ip-pool:
    put:
      summary: Update IP Address Pool
      description: Update IP Address Pool.
      operationId: PutMtSp-interconnectInterconnectsBy_interconnectidIp-pool
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Update IP Pool:
                  value:
                    data:
                      id: 7673a661-a98b-4202-b70a-8edc3934a3f5
                      ipBlocks:
                      - cidr:
                        - 21.58.2.0/29
                        displayName: Mexico Central
                        edgeLocation: mexico-central
                      ipProvider: SP
                      name: ip-pool-test
                      permittedActions: []
                      region: us-south1
                      state: NOT_STARTED
                      status: PENDING
                      tsgId: '1091039496'
                    requestId: 6eb154b3-5ac0-441c-a8e4-a092f5b5b588
        '500':
          description: Internal Error
        '400':
          description: Bad Request
      parameters:
      - name: interconnectId
        in: path
        required: true
        schema:
          type: string
      tags:
      - untagged
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IPPoolRequest'
            examples:
              Update IP Pool with new CIDRs:
                value:
                  ipProvider: SP
                  ipBlocks:
                  - edgeLocation: mexico-central
                    cidr:
                    - 21.58.2.0/29
                    - 21.58.3.0/29
                    type: SECONDARY
              Add additional edge location:
                value:
                  ipProvider: SP
                  ipBlocks:
                  - edgeLocation: us-west-1
                    cidr:
                    - 12.2.2.0/26
                    type: SECONDARY
                  - edgeLocation: us-east-1
                    cidr:
                    - 12.3.3.0/26
                    type: SECONDARY
        required: true
    get:
      summary: Get IP Address pool by id
      description: Get IP Address pool by id.
      operationId: GetMtSp-interconnectInterconnectsBy_interconnectidIp-pool
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get IP Pool by id:
                  value:
                    data:
                      cloudProvider: AWS
                      createTime: 1748207866258
                      id: 64753c22-8234-4d06-8410-2fc7a949a8f5
                      interconnectId: 424f9837-68b3-11f0-92e9-4201ac16024e
                      ipBlocks:
                      - cidr:
                        - 18.2.1.0/28
                        displayName: US Northwest
                        edgeLocation: us-west-2
                        type: SECONDARY
                      ipProvider: SP
                      permittedActions:
                      - ASSIGN_IP_POOL
                      - DELETE_IP_POOL
                      - UPDATE_IP_POOL
                      state: NOT_STARTED
                      status: PENDING
                      updateTime: 1748207866258
                    requestId: 7d7de6bc-f96b-4cd7-bad4-fb7a5689eba7
        '400':
          description: Bad Request
      parameters:
      - name: interconnectId
        in: path
        required: true
        schema:
          type: string
      tags:
      - untagged
    delete:
      summary: Delete IP Address pool by id
      description: Delete IP Address pool by id.
      operationId: DeleteMtSp-interconnectInterconnectsBy_interconnectidIp-pool
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Delete IP Pool by id:
                  value:
                    data: IP Pool successfully deleted
                    requestId: e34443d5-dfbd-482b-a76c-5d753034efc0
      parameters:
      - name: interconnectId
        in: path
        required: true
        schema:
          type: string
      tags:
      - untagged
    post:
      summary: Create new IP Address Pool
      description: Create new IP Address Pool.
      operationId: PostMtSp-interconnectInterconnectsBy_interconnectidIp-pool
      responses:
        '201':
          description: Success
          content:
            application/json:
              examples:
                Add an IP Pool:
                  value:
                    data:
                      cloudProvider: GCP
                      createTime: 1758577740021
                      id: 3dec9dea-c100-495b-9fb2-16b44c1eae3a
                      interconnectId: 1689a56a-9386-40b5-aa9a-0cebad2650d8
                      ipBlocks:
                      - cidr:
                        - 12.2.2.0/26
                        displayName: US West
                        edgeLocation: us-west-1
                        type: SECONDARY
                      - cidr:
                        - 12.1.2.0/26
                        edgeLocation: us-west2
                        type: PRIMARY
                      ipProvider: SP
                      permittedActions: []
                      state: VALIDATING_CIDR_IN_ORCHESTRATOR
                      status: IN_PROGRESS
                      updateTime: 1758577740331
                    requestId: 8c085ae4-bf26-4de5-86bd-2ba446b65d47
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                CIDR already used:
                  value:
                    error:
                      errorCode: 52070
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: CIDR is already used
                    requestId: a1b2c3d4-5e6f-7890-abcd-ef1234567890
                Private IP not allowed:
                  value:
                    error:
                      errorCode: 52068
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: CIDR in IP Pool is private IP, only public IPs allowed
                    requestId: b2c3d4e5-6f78-9012-bcde-f12345678901
                Max CIDRs reached:
                  value:
                    error:
                      errorCode: 52071
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: Only ten cidr blocks allowed per edge location
                    requestId: c3d4e5f6-7890-1234-cdef-012345678901
                IP Pool already exists:
                  value:
                    error:
                      errorCode: 52013
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: IP Pool already exists in interconnect
                    requestId: d4e5f678-9012-3456-def0-123456789012
                Invalid CIDR range for GCP:
                  value:
                    error:
                      errorCode: 52123
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: GCP CloudProvider IP Block CIDRs must be between /25 to
                        /29
                    requestId: e5f67890-1234-5678-ef01-234567890123
        '500':
          description: Internal Error
      parameters:
      - name: interconnectId
        in: path
        required: true
        schema:
          type: string
      tags:
      - untagged
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IPPoolRequest'
            examples:
              Create SP provided IP Pool:
                value:
                  ipProvider: SP
                  ipBlocks:
                  - edgeLocation: us-west-1
                    cidr:
                    - 12.2.2.0/26
                    type: SECONDARY
                  - edgeLocation: us-west2
                    cidr:
                    - 12.1.2.0/26
                    type: PRIMARY
              Create PANW provided IP Pool:
                value:
                  ipProvider: PANW
              Create AWS IP Pool:
                value:
                  ipProvider: SP
                  ipBlocks:
                  - edgeLocation: us-east-1a
                    cidr:
                    - 18.2.1.0/28
                    - 18.2.2.0/28
                    type: SECONDARY
        required: true
  /mt/sp-interconnect/interconnects/{interconnectId}/vlan-attachments:
    get:
      summary: List vlan attachment in an interconnect
      description: List vlan attachment in an interconnect.
      operationId: GetMtSp-interconnectInterconnectsBy_interconnectidVlan-attachments
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get vlan attachments in an interconnect:
                  value:
                    data:
                    - bfdEnabled: false
                      bgpPeerAsn: 16363
                      bgpPeerBfdSessionInitMode: DISABLED
                      bgpPeerMd5AuthEnabled: false
                      createTime: 1758575564100
                      edgeAvailability: AVAILABILITY_DOMAIN_2
                      id: 0182b459-6ddd-41cc-9f45-60af08e7ec2b
                      name: test-2
                      permittedActions: []
                      stackType: IPV4_ONLY
                      state: NOT_STARTED
                      status: INACTIVE
                      tenantCount: 0
                      updateTime: 1758575564106
                    - bfdEnabled: false
                      bgpPeerAsn: 16363
                      bgpPeerBfdSessionInitMode: DISABLED
                      bgpPeerMd5AuthEnabled: false
                      createTime: 1758575564075
                      edgeAvailability: AVAILABILITY_DOMAIN_1
                      id: 73d4c1c1-ee4a-4fc3-98f0-45e465c17c5e
                      name: test-1
                      permittedActions: []
                      stackType: IPV4_ONLY
                      state: NOT_STARTED
                      status: INACTIVE
                      tenantCount: 0
                      updateTime: 1758575564082
                    requestId: 21f951d8-0d34-48cb-ae3e-29fcc5339bea
        '400':
          description: Bad Request
        '500':
          description: Server Error
      parameters:
      - name: interconnectId
        in: path
        required: true
        schema:
          type: string
      tags:
      - untagged
    post:
      summary: Create vlan attachment in an interconnect
      description: Create vlan attachment in an interconnect.
      operationId: PostMtSp-interconnectInterconnectsBy_interconnectidVlan-attachments
      responses:
        '201':
          description: Success
          content:
            application/json:
              examples:
                Add vlan attachment in interconnect:
                  value:
                    data:
                    - bfdEnabled: false
                      bgpPeerAsn: 16363
                      bgpPeerBfdSessionInitMode: DISABLED
                      bgpPeerMd5AuthEnabled: false
                      createTime: 1758575564075
                      edgeAvailability: AVAILABILITY_DOMAIN_1
                      id: 73d4c1c1-ee4a-4fc3-98f0-45e465c17c5e
                      name: test-1
                      permittedActions: []
                      stackType: IPV4_ONLY
                      state: NOT_STARTED
                      status: INACTIVE
                      tenantCount: 0
                      updateTime: 1758575564077
                    - bfdEnabled: false
                      bgpPeerAsn: 16363
                      bgpPeerBfdSessionInitMode: DISABLED
                      bgpPeerMd5AuthEnabled: false
                      createTime: 1758575564100
                      edgeAvailability: AVAILABILITY_DOMAIN_2
                      id: 0182b459-6ddd-41cc-9f45-60af08e7ec2b
                      name: test-2
                      permittedActions: []
                      stackType: IPV4_ONLY
                      state: NOT_STARTED
                      status: INACTIVE
                      tenantCount: 0
                      updateTime: 1758575564101
                    requestId: 73811958-f1a9-4a3e-b5f1-b9373eeb4000
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Add vlan attachment, interconnect not found:
                  value:
                    error:
                      errorCode: 52008
                      errorType: VALIDATION_ERROR
                      httpStatus: 404
                      msg: Interconnect not found
                    requestId: 95203e0e-e0f7-49ef-9b9d-04c9ba42e95b
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                VLAN attachment name exists:
                  value:
                    error:
                      errorCode: 52011
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: Connection name already exists
                    requestId: a1b2c3d4-5e6f-7890-abcd-ef1234567890
                Max vlan attachments reached:
                  value:
                    error:
                      errorCode: 52018
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: Reached maximum number of vlan attachments in an interconnect
                    requestId: b2c3d4e5-6f78-9012-bcde-f12345678901
                Dedicated connection details missing:
                  value:
                    error:
                      errorCode: 52025
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: dedicatedVlanAttachmentDetails cannot be null for Connection
                        with type DEDICATED
                    requestId: c3d4e5f6-7890-1234-cdef-012345678901
                Bandwidth required for dedicated:
                  value:
                    error:
                      errorCode: 52026
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: Bandwidth is required input for dedicated VLAN Attachment
                    requestId: d4e5f678-9012-3456-def0-123456789012
        '500':
          description: Server Error
      parameters:
      - name: interconnectId
        in: path
        required: true
        schema:
          type: string
      tags:
      - untagged
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VlanAttachmentRequest'
            examples:
              Create Partner VLAN attachment:
                value:
                  name: test
                  bgpPeerAsn: 16550
                  bgpPeerBfdSessionInitMode: DISABLED
                  stackType: IPV4_ONLY
                  bgpPeerMd5AuthEnabled: false
              Create VLAN attachment with BFD enabled:
                value:
                  name: bfd-conn
                  bgpPeerAsn: 65001
                  bgpPeerBfdSessionInitMode: ACTIVE
                  bgpPeerBfdMinTransmitInterval: 1000
                  bgpPeerBfdMinReceiveInterval: 1000
                  bgpPeerBfdMultiplier: 5
                  stackType: IPV4_ONLY
                  bgpPeerMd5AuthEnabled: true
              Create VLAN attachment with IPv4/IPv6:
                value:
                  name: dual-stack
                  bgpPeerAsn: 64512
                  bgpPeerBfdSessionInitMode: PASSIVE
                  stackType: IPV4_IPV6
                  bgpPeerMd5AuthEnabled: false
              Create Dedicated VLAN attachment:
                value:
                  name: ded-vlan
                  bgpPeerAsn: 16363
                  bgpPeerBfdSessionInitMode: ACTIVE
                  bandwidth: BPS_10G
                  stackType: IPV4_ONLY
                  bgpPeerMd5AuthEnabled: true
                  dedicatedConnectionDetails:
                  - edgeAvailability: ZONE1
                    bandwidth: BPS_10G
                  - edgeAvailability: ZONE2
                    bandwidth: BPS_10G
        required: true
  /mt/sp-interconnect/interconnects/{interconnectId}/vlan-attachments/{vlanAttachmentId}:
    get:
      summary: Get vlan attachment in an interconnect
      description: Get vlan attachment in an interconnect.
      operationId: GetMtSp-interconnectInterconnectsBy_interconnectidVlan-attachmentsbyvlanattachmentid
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get vlan attachment by Id:
                  value:
                    data:
                      bandwidth: BPS_50M
                      bgpPeerAsn: 16550
                      edgeAvailability: ZONE1
                      id: dee52272-d1e2-4b88-9ebc-a5e70e414d58
                      name: abc-edge-1
                      partnerEmail: sp@mail.com
                      partnerName: sp_abc_name
                      region: us-central1
                      state: CREATED_CONNECTION
                      status: PENDING
                      bgpPeerBfdMinReceiveInterval: 1000
                      bgpPeerBfdMinTransmitInterval: 1000
                      bgpPeerBfdMultiplier: 5
                      bgpPeerMd5AuthEnabled: true
                      requestId: 138de731-25c2-4001-8ea5-d81992c146d7
        '400':
          description: Bad Request
        '500':
          description: Server Error
      parameters:
      - name: interconnectId
        in: path
        required: true
        schema:
          type: string
      - name: vlanAttachmentId
        in: path
        required: true
        schema:
          type: string
      tags:
      - untagged
    delete:
      summary: Delete vlan attachment in an interconnect
      description: Delete vlan attachment in an interconnect.
      operationId: DeleteMtSp-interconnectInterconnectsBy_interconnectidVlan-attachmentsbyvlanattachmentid
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Delete vlan attachment by Id:
                  value:
                    data: Successfully delete VLAN Attachment
                    requestId: 7e656271-20f3-4fa4-9c4a-e0f455476fe9
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Delete vlan attachment, interconnect not found:
                  value:
                    error:
                      errorCode: 52008
                      errorType: VALIDATION_ERROR
                      httpStatus: 404
                      msg: Interconnect not found
                    requestId: d56d092a-7cb2-4b85-bdbe-48c02c036c94
        '400':
          description: Bad Request
        '500':
          description: Server Error
      parameters:
      - name: interconnectId
        in: path
        required: true
        schema:
          type: string
      - name: vlanAttachmentId
        in: path
        required: true
        schema:
          type: string
      tags:
      - untagged
  /mt/sp-interconnect/interconnects/{interconnectId}/vlan-attachments/{vlanAttachmentId}/accept:
    post:
      summary: Accept vlanAttachment
      description: Accept vlanAttachment (AWS connections only).
      operationId: PostMtSp-interconnectInterconnectsBy_interconnectidVlan-attachmentsBy_vlanattachmentidAccept
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Accept AWS vlan attachment:
                  value:
                    data: Successfully accepted VLAN Attachment
                    requestId: 7e656271-20f3-4fa4-9c4a-e0f455476fe9
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Accept non-AWS vlan attachment:
                  value:
                    error:
                      errorCode: 52047
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: Connections created in AWS can be accepted
                    requestId: 95203e0e-e0f7-49ef-9b9d-04c9ba42e95b
                Accept vlan attachment not in pending state:
                  value:
                    error:
                      errorCode: 52046
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: VlanAttachment can be accepted only in PENDING_SP_ACCEPTANCE
                        state
                    requestId: a1b2c3d4-5e6f-7890-abcd-ef1234567890
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Interconnect not found:
                  value:
                    error:
                      errorCode: 52008
                      errorType: VALIDATION_ERROR
                      httpStatus: 404
                      msg: Interconnect not found
                    requestId: d56d092a-7cb2-4b85-bdbe-48c02c036c94
                Vlan attachment not found:
                  value:
                    error:
                      errorCode: 52029
                      errorType: VALIDATION_ERROR
                      httpStatus: 404
                      msg: Vlan Attachment not found
                    requestId: cf32af05-7df6-4dd2-b27e-7b6ef2683145
        '500':
          description: Server Error
          content:
            application/json:
              examples:
                Accept AWS vlan attachment failed:
                  value:
                    error:
                      errorCode: 52048
                      errorType: INTERNAL_ERROR
                      httpStatus: 500
                      msg: Failed to accept vlan attachment in aws
                    requestId: d42dba1a-23f1-4818-813b-2da9f35c95bb
      parameters:
      - name: interconnectId
        in: path
        required: true
        schema:
          type: string
      - name: vlanAttachmentId
        in: path
        required: true
        schema:
          type: string
      tags:
      - untagged
  /mt/sp-interconnect/interconnects/{interconnectId}/vlan-attachments/{vlanAttachmentId}/logs:
    get:
      summary: Get cloudRouter logs for vlan attachment from startTime to endTime
        milliseconds
      description: Get cloudRouter logs for vlan attachment from startTime to endTime
        milliseconds.
      operationId: GetMtSp-interconnectInterconnectsBy_interconnectidVlan-attachmentsBy_vlanattachmentidLogs
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get cloud router logs:
                  value:
                    data:
                      logs:
                      - timestamp: 1758576695399
                        severity: INFO
                        message: BGP session established with peer 10.0.0.1
                      - timestamp: 1758576779732
                        severity: WARNING
                        message: BGP hold timer expired, resetting session
                    requestId: 82923271-2db3-4895-b1cf-a5faa77d28e3
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Invalid duration:
                  value:
                    error:
                      errorCode: 52091
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: Invalid duration, allowed duration are 15m, 1h, 1d, 3d
                    requestId: 95203e0e-e0f7-49ef-9b9d-04c9ba42e95b
                Logs not supported for AWS:
                  value:
                    error:
                      errorCode: 52092
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: CloudRouter logs supported only for GCP connections
                    requestId: a1b2c3d4-5e6f-7890-abcd-ef1234567890
        '500':
          description: Server Error
          content:
            application/json:
              examples:
                Failed to get logs:
                  value:
                    error:
                      errorCode: 52090
                      errorType: INTERNAL_ERROR
                      httpStatus: 500
                      msg: Failed getting cloud router logs from GCP
                    requestId: d42dba1a-23f1-4818-813b-2da9f35c95bb
      parameters:
      - name: interconnectId
        in: path
        required: true
        schema:
          type: string
      - name: vlanAttachmentId
        in: path
        required: true
        schema:
          type: string
      - name: duration
        in: query
        description: 'Duration for logs. Allowed values: 15m, 1h, 1d, 3d'
        schema:
          type: string
          default: 1d
          enum:
          - 15m
          - 1h
          - 1d
          - 3d
      tags:
      - untagged
  /mt/sp-interconnect/regions:
    get:
      summary: Get list of regions and edgeLocations
      description: Get regions and edgeLocations.
      operationId: GetMtSp-interconnectRegions
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get IP Pool regions/edge locations:
                  value:
                    data:
                    - edge_locations:
                      - display_name: US Southwest
                        edge_location: us-west-201
                      - display_name: US West
                        edge_location: us-west-1
                      compute_region: us-west2
                      theater: North Americas
                    - edge_locations:
                      - display_name: US Central West
                        edge_location: us-west-3
                      compute_region: us-west3
                      theater: North Americas
                    requestId: e459bba9-ca17-4bfa-a55a-f7305a7e8f75
      parameters:
      - name: cloudProvider
        in: query
        schema:
          $ref: '#/components/schemas/CloudProvider'
      tags:
      - untagged
  /mt/sp-interconnect/regions/physical-connections:
    get:
      summary: Get list of physical connection regions
      description: Get list of physical connection regions.
      operationId: GetMtSp-interconnectRegionsPhysical-connections
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get regions for Physical Interconencts in GCP:
                  value:
                    data:
                      regions:
                      - cities:
                        - coloFacilities:
                          - address: 'Cologix, Inc.

                              1050 W Pender Street

                              Vancouver, V6E 3S7

                              Canada

                              '
                            city: Vancouver
                            continent: C_NORTH_AMERICA
                            description: Cologix VAN2
                            status: AVAILABLE
                            zones:
                            - availabilityZone: zone1
                              facilityProvider: Cologix
                              facilityProviderFacilityId: Cologix
                              id: 1377
                              name: yvr-zone1-1881
                              peeringdbFacilityId: '1881'
                              selfLink: https://www.googleapis.com/compute/v1/projects/host-gpcs-dev-01/global/interconnectLocations/yvr-zone1-1881
                              status: AVAILABLE
                            - availabilityZone: zone2
                              facilityProvider: Cologix
                              facilityProviderFacilityId: Cologix
                              id: 1378
                              name: yvr-zone2-1881
                              peeringdbFacilityId: '1881'
                              selfLink: https://www.googleapis.com/compute/v1/projects/host-gpcs-dev-01/global/interconnectLocations/yvr-zone2-1881
                              status: AVAILABLE
                          name: Vancouver
                        region: C_NORTH_AMERICA
                    requestId: 709de72e-8004-41c8-9dc5-9d9b852876c4
      parameters: []
      tags:
      - untagged
  /mt/sp-interconnect/settings:
    post:
      summary: Add egressType and cidr details for tsgId
      description: Add egressType and cidr details for tsgId.
      operationId: PostMtSp-interconnectSettings
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Update Egress type and cidr:
                  value:
                    data:
                      cidr:
                      - 2.1.1.1/29
                      - 3.2.2.2/29
                      egressType: SP
                    requestId: 996e250d-e1bc-4499-a408-7ccbfdda0368
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Update Egress type and cidr failed on not vpc entry:
                  value:
                    error:
                      errorCode: 52003
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: Missing VPC association entry for tenant
                    requestId: c33354e9-6fd0-491d-9dac-010240132fed
        '409':
          description: Conflict
      parameters: []
      tags:
      - untagged
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsEntry'
            examples:
              Set SP egress type with CIDRs:
                value:
                  egressType: SP
                  cidr:
                  - 2.1.1.1/29
                  - 3.2.2.2/29
              Set PA egress type:
                value:
                  egressType: PA
        required: true
    get:
      summary: Get Settings
      description: Get Settings.
      operationId: GetMtSp-interconnectSettings
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get Egress type and cidr:
                  value:
                    data:
                      cidr:
                      - 3.2.2.2/29
                      - 2.1.1.1/29
                      egressType: SP
                    requestId: d10ee1b0-b8ed-461b-af14-dfad5a782dc5
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Get Egress type and cidr failed on not vpc entry:
                  value:
                    error:
                      errorCode: 52030
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: Tenant does not have shared vpc assigned
                    requestId: 130cb837-b3d8-43af-b15f-cd60724cab8d
        '404':
          description: Not Found
      parameters: []
      tags:
      - untagged
