:root {
  /* Status Colors */
  --ifm-color-info: #fcdd70;
  --ifm-color-success: #4ab061;
  --ifm-color-warning: #ef9e00;
  --ifm-color-danger: #d13c3c;

  --ifm-table-border-width: 0px;

  --ifm-blockquote-background-color: var(--ifm-background-color);

  --ifm-navbar-height: 70px;
}

/* Dark mode overrides */
html[data-theme="dark"] {
  --ifm-color-emphasis-100: var(--ifm-color-gray-900);
  --ifm-color-emphasis-200: var(--ifm-color-gray-800);
  --ifm-color-emphasis-300: var(--ifm-color-gray-700);
  --ifm-color-emphasis-400: var(--ifm-color-gray-600);
  --ifm-color-emphasis-500: var(--ifm-color-gray-500);
  --ifm-color-emphasis-600: var(--ifm-color-gray-400);
  --ifm-color-emphasis-700: var(--ifm-color-gray-300);
  --ifm-color-emphasis-800: var(--ifm-color-gray-200);
  --ifm-color-emphasis-900: var(--ifm-color-gray-100);

  --ifm-background-color: #121212;
  --ifm-background-surface-color: #1e2125;

  --ifm-color-content-secondary: rgba(255, 255, 255, 1);

  --ifm-heading-color: #ffffff !important;

  --ifm-code-background: #393939 !important;

  --ifm-hero-color: var(--ifm-color-gray-600);

  --ifm-blockquote-background-color: var(--ifm-background-color);

  --ifm-footer-background-color: black;
}

.navbar__title {
  font-size: calc(1.5 * var(--ifm-font-size-base));
  font-weight: 400;
  overflow: visible;
  padding-right: 1rem;
}

.button--version {
  margin-bottom: 0 !important;
}

.container {
  margin-top: 1rem;
  max-width: 1400px;
}

.footer {
  padding: 1rem;
}

/* Dropdown override */
.navbar__link:after {
  display: none !important;
}

.dropdown__link:after {
  display: none !important;
}

.no_dropdown:after {
  display: none !important;
}

.footer--dark {
  --ifm-footer-background-color: var(--ifm-color-gray-600);
  color: white;
}

.footer--dark a {
  color: white;
}

.footer--dark a:hover {
  color: white;
}

/* Tables */
.markdown table {
  table-layout: fixed;
  width: 100%;
}

.markdown tr {
  border-bottom: 1px solid var(--ifm-color-secondary) !important;
}

.markdown td {
  width: 25%;
}

.markdown th {
  text-align: left;
}

/* Center all columns in main wrapper */
.main-wrapper {
  max-width: 1400px;
  width: 1400px;
  align-self: center;
}

.main-wrapper h1[class^="docTitle"] {
  font-size: 2.8rem;
}

@media (max-width: 1416px) {
  .main-wrapper {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 1320px) and (min-width: 997px) {
  .container {
    max-width: calc(
      var(--ifm-container-width) - 125px - var(--ifm-spacing-horizontal) * 2
    );
  }
}

/* Center navbar items */
.navbar__inner {
  max-width: 1360px;
  margin: 0 auto;
}

/* Force homepage to full width */
.homepage {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* Docs overrides */
.markdown p {
  color: var(--ifm-color-emphasis-800);
}

blockquote {
  border-left: 10px solid var(--ifm-color-primary) !important;
  border-top: 1px solid var(--ifm-color-primary) !important;
}

.button {
  background-color: var(--ifm-color-emphasis-900);
  z-index: 1;
  color: white !important;
  margin-bottom: 1.75rem;
}

.button:hover {
  background-color: var(--ifm-color-primary-dark);
  border-color: #000000;
}
/* Dropdown menu overrides */
.dropdown .dropdown__menu {
  min-width: 14rem !important;
}

/* Highlight code lines */
.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__link {
  pointer-events: auto !important;
}

.menu--responsive .menu__button {
  bottom: 0 !important;
}
