{
  "openapi": "3.0.1",
  "info": {
    "title": "Dig Security public API",
    "description": "Dig Security public API endpoints documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dig.security",
      "description": "Dig Security public API"
    }
  ],
  "paths": {
    "/v1/classification/asset-files/id": {
      "post": {
        "tags": [
          "classification-resource"
        ],
        "operationId": "getAssetFiles",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "maximum": 150,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "dig-api-key",
            "in": "header",
            "description": "Dig token header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFilesFilterBodyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns list of asset files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigFileThirdPartyBundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigFileThirdPartyBundle"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigFileThirdPartyBundle"
                }
              }
            }
          }
        }
      }
    },
    "/v1/classification/asset-fields/id": {
      "post": {
        "tags": [
          "classification-resource"
        ],
        "operationId": "getAssetFields",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "maximum": 150,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "dig-api-key",
            "in": "header",
            "description": "Dig token header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFieldsFilterBodyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns list of asset fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DBContents"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DBContents"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DBContents"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/risk-findings/id/{id}/status/{status}": {
      "patch": {
        "tags": [
          "risk-resource"
        ],
        "operationId": "setRiskFindingStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "CLOSED",
                "UNIMPORTANT",
                "WRONG",
                "HANDLED",
                "INVESTIGATING"
              ]
            }
          },
          {
            "name": "dig-api-key",
            "in": "header",
            "description": "Dig token header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRiskDetectionResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/alerts/id/{id}/status/{status}": {
      "patch": {
        "tags": [
          "alert-resource"
        ],
        "operationId": "setAlertStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "UNIMPORTANT",
                "WRONG",
                "HANDLED",
                "INVESTIGATING"
              ]
            }
          },
          {
            "name": "dig-api-key",
            "in": "header",
            "description": "Dig token header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAlertStatusResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/risk-findings": {
      "get": {
        "tags": [
          "risk-resource"
        ],
        "operationId": "getRiskFindings",
        "parameters": [
          {
            "name": "ruleName.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "ruleName.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleName.contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleName.notContain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dspmTagKey.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "dspmTagKey.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dspmTagKey.contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dspmTagKey.notContain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dspmTagValue.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "dspmTagValue.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dspmTagValue.contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dspmTagValue.notContain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "projectId.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId.contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId.notContain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "affectedAssetName.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "affectedAssetName.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "affectedAssetName.contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "affectedAssetName.notContain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudProvider.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AWS",
                  "AZURE",
                  "GCP",
                  "SNOWFLAKE",
                  "FILE_SHARE",
                  "O365"
                ]
              }
            }
          },
          {
            "name": "cloudProvider.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP",
                "SNOWFLAKE",
                "FILE_SHARE",
                "O365"
              ]
            }
          },
          {
            "name": "affects.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "SECURITY",
                  "COMPLIANCE",
                  "GOVERNANCE",
                  "SECURITY_AND_COMPLIANCE",
                  "SECURITY_AND_GOVERNANCE",
                  "COMPLIANCE_AND_GOVERNANCE",
                  "SECURITY_AND_COMPLIANCE_AND_GOVERNANCE"
                ]
              }
            }
          },
          {
            "name": "affects.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SECURITY",
                "COMPLIANCE",
                "GOVERNANCE",
                "SECURITY_AND_COMPLIANCE",
                "SECURITY_AND_GOVERNANCE",
                "COMPLIANCE_AND_GOVERNANCE",
                "SECURITY_AND_COMPLIANCE_AND_GOVERNANCE"
              ]
            }
          },
          {
            "name": "status.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "OPEN",
                  "CLOSED",
                  "UNIMPORTANT",
                  "WRONG",
                  "HANDLED",
                  "INVESTIGATING"
                ]
              }
            }
          },
          {
            "name": "status.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "CLOSED",
                "UNIMPORTANT",
                "WRONG",
                "HANDLED",
                "INVESTIGATING"
              ]
            }
          },
          {
            "name": "severity.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "LOW",
                  "MEDIUM",
                  "HIGH"
                ]
              }
            }
          },
          {
            "name": "severity.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "LOW",
                "MEDIUM",
                "HIGH"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "maximum": 50,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "dig-api-key",
            "in": "header",
            "description": "Dig token header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of risk findings",
            "headers": {
              "X-Total-Count": {
                "description": "The total number of items in the page",
                "style": "simple",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RiskDetectionsDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/risk-findings/id/{id}": {
      "get": {
        "tags": [
          "risk-resource"
        ],
        "operationId": "getRiskFinding",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dig-api-key",
            "in": "header",
            "description": "Dig token header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskDetectionOfficialApiResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/labels": {
      "get": {
        "tags": [
          "label-resource"
        ],
        "operationId": "findAllLabelNamesByCompanyId",
        "parameters": [
          {
            "name": "dig-api-key",
            "in": "header",
            "description": "Dig token header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of label names based on company",
            "content": {
              "application/json": {
                "schema": {
                  "uniqueItems": true,
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/data-type-findings": {
      "get": {
        "tags": [
          "data-type-findings-resource"
        ],
        "operationId": "getDataTypeFindings",
        "parameters": [
          {
            "name": "region.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "region.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region.contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region.notContain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "projectId.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId.contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId.notContain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudProvider.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AWS",
                  "AZURE",
                  "GCP",
                  "SNOWFLAKE",
                  "FILE_SHARE",
                  "O365"
                ]
              }
            }
          },
          {
            "name": "cloudProvider.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP",
                "SNOWFLAKE",
                "FILE_SHARE",
                "O365"
              ]
            }
          },
          {
            "name": "serviceType.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ATHENA",
                  "AURORA",
                  "AWS_BACKUP",
                  "DOCUMENTDB",
                  "DYNAMODB",
                  "DAX",
                  "EMR",
                  "EBS",
                  "EFS",
                  "ELASTICACHE",
                  "FSX",
                  "KINESIS_DELIVERY_STREAM",
                  "MEMORYDB",
                  "NEPTUNE",
                  "QLDB",
                  "RDS",
                  "REDSHIFT",
                  "S3",
                  "TIMESTREAM",
                  "OPENSEARCH",
                  "OPENSEARCH_SERVERLESS",
                  "COSMOS_DB",
                  "SYNAPSE",
                  "CACHE_FOR_REDIS",
                  "MARIA_DB",
                  "MYSQL_SERVER",
                  "POSTGRESQL_SERVER",
                  "SQL_SERVER",
                  "STORAGE_ACCOUNT",
                  "SQL_MANAGED_INSTANCE",
                  "ANF",
                  "CLOUD_STORAGE",
                  "CLOUD_SQL",
                  "BIG_QUERY",
                  "FILE_STORE",
                  "CLOUD_SPANNER",
                  "MEMORY_STORE",
                  "BIG_TABLE",
                  "FIRE_STORE",
                  "UNMANAGED_AWS_MYSQL",
                  "UNMANAGED_AWS_ORACLE_SERVER",
                  "UNMANAGED_AWS_MONGO_DB",
                  "UNMANAGED_AWS_POSTGRESQL",
                  "UNMANAGED_AWS_REDIS",
                  "UNMANAGED_AWS_SQLITE",
                  "UNMANAGED_AWS_MS_SQL",
                  "UNMANAGED_AWS_MARIA_DB",
                  "UNMANAGED_AWS_NEO4_J",
                  "UNMANAGED_AWS_ELASTIC",
                  "UNMANAGED_AWS_COCKROACH_DB",
                  "UNMANAGED_AWS_AEROSPIKE",
                  "UNMANAGED_AWS_SCYLLA_DB",
                  "UNMANAGED_AZURE_MYSQL",
                  "UNMANAGED_AZURE_ORACLE_SERVER",
                  "UNMANAGED_AZURE_MONGO_DB",
                  "UNMANAGED_AZURE_POSTGRESQL",
                  "UNMANAGED_AZURE_REDIS",
                  "UNMANAGED_AZURE_SQLITE",
                  "UNMANAGED_AZURE_MS_SQL",
                  "UNMANAGED_AZURE_MARIA_DB",
                  "UNMANAGED_AZURE_NEO4_J",
                  "UNMANAGED_AZURE_ELASTIC",
                  "UNMANAGED_AZURE_COCKROACH_DB",
                  "UNMANAGED_AZURE_AEROSPIKE",
                  "UNMANAGED_AZURE_SCYLLA_DB",
                  "UNMANAGED_GCP_MYSQL",
                  "UNMANAGED_GCP_ORACLE_SERVER",
                  "UNMANAGED_GCP_MONGO_DB",
                  "UNMANAGED_GCP_POSTGRESQL",
                  "UNMANAGED_GCP_REDIS",
                  "UNMANAGED_GCP_SQLITE",
                  "UNMANAGED_GCP_MS_SQL",
                  "UNMANAGED_GCP_MARIA_DB",
                  "UNMANAGED_GCP_NEO4_J",
                  "UNMANAGED_GCP_ELASTIC",
                  "UNMANAGED_GCP_COCKROACH_DB",
                  "UNMANAGED_GCP_AEROSPIKE",
                  "UNMANAGED_GCP_SCYLLA_DB",
                  "SNOWFLAKE_DB",
                  "FILE_SHARE",
                  "ONE_DRIVE",
                  "SHARE_POINT",
                  "AZURE_OPEN_AI_DEPLOYMENT",
                  "VERTEX_ENDPOINT",
                  "BEDROCK_PROVISIONED_THROUGHPUT",
                  "BEDROCK_AGENT",
                  "UNMANAGED_AI_AWS_FALCON",
                  "UNMANAGED_AI_AWS_LLAMA",
                  "UNMANAGED_AI_AWS_TRANSFORMERSLLAMA",
                  "UNMANAGED_AI_AWS_GEMMA",
                  "UNMANAGED_AI_AWS_GPT2",
                  "UNMANAGED_AI_AWS_MISTRAL",
                  "UNMANAGED_AI_AWS_PHI",
                  "UNMANAGED_AI_AWS_QWEN2",
                  "UNMANAGED_AI_AWS_ROBERTA",
                  "UNMANAGED_AI_AWS_JAMBA",
                  "UNMANAGED_AI_AZURE_FALCON",
                  "UNMANAGED_AI_AZURE_LLAMA",
                  "UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA",
                  "UNMANAGED_AI_AZURE_GEMMA",
                  "UNMANAGED_AI_AZURE_GPT2",
                  "UNMANAGED_AI_AZURE_MISTRAL",
                  "UNMANAGED_AI_AZURE_PHI",
                  "UNMANAGED_AI_AZURE_QWEN2",
                  "UNMANAGED_AI_AZURE_ROBERTA",
                  "UNMANAGED_AI_AZURE_JAMBA",
                  "UNMANAGED_AI_GCP_FALCON",
                  "UNMANAGED_AI_GCP_LLAMA",
                  "UNMANAGED_AI_GCP_TRANSFORMERSLLAMA",
                  "UNMANAGED_AI_GCP_GEMMA",
                  "UNMANAGED_AI_GCP_GPT2",
                  "UNMANAGED_AI_GCP_MISTRAL",
                  "UNMANAGED_AI_GCP_PHI",
                  "UNMANAGED_AI_GCP_QWEN2",
                  "UNMANAGED_AI_GCP_ROBERTA",
                  "UNMANAGED_AI_GCP_JAMBA"
                ]
              }
            }
          },
          {
            "name": "serviceType.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ATHENA",
                "AURORA",
                "AWS_BACKUP",
                "DOCUMENTDB",
                "DYNAMODB",
                "DAX",
                "EMR",
                "EBS",
                "EFS",
                "ELASTICACHE",
                "FSX",
                "KINESIS_DELIVERY_STREAM",
                "MEMORYDB",
                "NEPTUNE",
                "QLDB",
                "RDS",
                "REDSHIFT",
                "S3",
                "TIMESTREAM",
                "OPENSEARCH",
                "OPENSEARCH_SERVERLESS",
                "COSMOS_DB",
                "SYNAPSE",
                "CACHE_FOR_REDIS",
                "MARIA_DB",
                "MYSQL_SERVER",
                "POSTGRESQL_SERVER",
                "SQL_SERVER",
                "STORAGE_ACCOUNT",
                "SQL_MANAGED_INSTANCE",
                "ANF",
                "CLOUD_STORAGE",
                "CLOUD_SQL",
                "BIG_QUERY",
                "FILE_STORE",
                "CLOUD_SPANNER",
                "MEMORY_STORE",
                "BIG_TABLE",
                "FIRE_STORE",
                "UNMANAGED_AWS_MYSQL",
                "UNMANAGED_AWS_ORACLE_SERVER",
                "UNMANAGED_AWS_MONGO_DB",
                "UNMANAGED_AWS_POSTGRESQL",
                "UNMANAGED_AWS_REDIS",
                "UNMANAGED_AWS_SQLITE",
                "UNMANAGED_AWS_MS_SQL",
                "UNMANAGED_AWS_MARIA_DB",
                "UNMANAGED_AWS_NEO4_J",
                "UNMANAGED_AWS_ELASTIC",
                "UNMANAGED_AWS_COCKROACH_DB",
                "UNMANAGED_AWS_AEROSPIKE",
                "UNMANAGED_AWS_SCYLLA_DB",
                "UNMANAGED_AZURE_MYSQL",
                "UNMANAGED_AZURE_ORACLE_SERVER",
                "UNMANAGED_AZURE_MONGO_DB",
                "UNMANAGED_AZURE_POSTGRESQL",
                "UNMANAGED_AZURE_REDIS",
                "UNMANAGED_AZURE_SQLITE",
                "UNMANAGED_AZURE_MS_SQL",
                "UNMANAGED_AZURE_MARIA_DB",
                "UNMANAGED_AZURE_NEO4_J",
                "UNMANAGED_AZURE_ELASTIC",
                "UNMANAGED_AZURE_COCKROACH_DB",
                "UNMANAGED_AZURE_AEROSPIKE",
                "UNMANAGED_AZURE_SCYLLA_DB",
                "UNMANAGED_GCP_MYSQL",
                "UNMANAGED_GCP_ORACLE_SERVER",
                "UNMANAGED_GCP_MONGO_DB",
                "UNMANAGED_GCP_POSTGRESQL",
                "UNMANAGED_GCP_REDIS",
                "UNMANAGED_GCP_SQLITE",
                "UNMANAGED_GCP_MS_SQL",
                "UNMANAGED_GCP_MARIA_DB",
                "UNMANAGED_GCP_NEO4_J",
                "UNMANAGED_GCP_ELASTIC",
                "UNMANAGED_GCP_COCKROACH_DB",
                "UNMANAGED_GCP_AEROSPIKE",
                "UNMANAGED_GCP_SCYLLA_DB",
                "SNOWFLAKE_DB",
                "FILE_SHARE",
                "ONE_DRIVE",
                "SHARE_POINT",
                "AZURE_OPEN_AI_DEPLOYMENT",
                "VERTEX_ENDPOINT",
                "BEDROCK_PROVISIONED_THROUGHPUT",
                "BEDROCK_AGENT",
                "UNMANAGED_AI_AWS_FALCON",
                "UNMANAGED_AI_AWS_LLAMA",
                "UNMANAGED_AI_AWS_TRANSFORMERSLLAMA",
                "UNMANAGED_AI_AWS_GEMMA",
                "UNMANAGED_AI_AWS_GPT2",
                "UNMANAGED_AI_AWS_MISTRAL",
                "UNMANAGED_AI_AWS_PHI",
                "UNMANAGED_AI_AWS_QWEN2",
                "UNMANAGED_AI_AWS_ROBERTA",
                "UNMANAGED_AI_AWS_JAMBA",
                "UNMANAGED_AI_AZURE_FALCON",
                "UNMANAGED_AI_AZURE_LLAMA",
                "UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA",
                "UNMANAGED_AI_AZURE_GEMMA",
                "UNMANAGED_AI_AZURE_GPT2",
                "UNMANAGED_AI_AZURE_MISTRAL",
                "UNMANAGED_AI_AZURE_PHI",
                "UNMANAGED_AI_AZURE_QWEN2",
                "UNMANAGED_AI_AZURE_ROBERTA",
                "UNMANAGED_AI_AZURE_JAMBA",
                "UNMANAGED_AI_GCP_FALCON",
                "UNMANAGED_AI_GCP_LLAMA",
                "UNMANAGED_AI_GCP_TRANSFORMERSLLAMA",
                "UNMANAGED_AI_GCP_GEMMA",
                "UNMANAGED_AI_GCP_GPT2",
                "UNMANAGED_AI_GCP_MISTRAL",
                "UNMANAGED_AI_GCP_PHI",
                "UNMANAGED_AI_GCP_QWEN2",
                "UNMANAGED_AI_GCP_ROBERTA",
                "UNMANAGED_AI_GCP_JAMBA"
              ]
            }
          },
          {
            "name": "lifecycle.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "RUNNING",
                  "STOPPED",
                  "DELETED"
                ]
              }
            }
          },
          {
            "name": "lifecycle.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "RUNNING",
                "STOPPED",
                "DELETED"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "maximum": 50,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "dig-api-key",
            "in": "header",
            "description": "Dig token header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns company findings",
            "headers": {
              "X-Total-Count": {
                "description": "The total number of items in the page",
                "style": "simple",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntitiesDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/classification/data-types": {
      "get": {
        "tags": [
          "classification-resource"
        ],
        "operationId": "getTenantDataTypes",
        "parameters": [
          {
            "name": "dig-api-key",
            "in": "header",
            "description": "Dig token header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of data types for company",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/assets": {
      "get": {
        "tags": [
          "asset-resource"
        ],
        "operationId": "getAssets",
        "parameters": [
          {
            "name": "firstDetectedOn.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "firstDetectedOn.greaterThanOrEqual",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "firstDetectedOn.greaterThan",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "firstDetectedOn.lessThanOrEqual",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "firstDetectedOn.lessThan",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "region.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "region.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region.contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region.notContain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudProvider.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AWS",
                  "AZURE",
                  "GCP",
                  "SNOWFLAKE",
                  "FILE_SHARE",
                  "O365"
                ]
              }
            }
          },
          {
            "name": "cloudProvider.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP",
                "SNOWFLAKE",
                "FILE_SHARE",
                "O365"
              ]
            }
          },
          {
            "name": "serviceType.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ATHENA",
                  "AURORA",
                  "AWS_BACKUP",
                  "DOCUMENTDB",
                  "DYNAMODB",
                  "DAX",
                  "EMR",
                  "EBS",
                  "EFS",
                  "ELASTICACHE",
                  "FSX",
                  "KINESIS_DELIVERY_STREAM",
                  "MEMORYDB",
                  "NEPTUNE",
                  "QLDB",
                  "RDS",
                  "REDSHIFT",
                  "S3",
                  "TIMESTREAM",
                  "OPENSEARCH",
                  "OPENSEARCH_SERVERLESS",
                  "COSMOS_DB",
                  "SYNAPSE",
                  "CACHE_FOR_REDIS",
                  "MARIA_DB",
                  "MYSQL_SERVER",
                  "POSTGRESQL_SERVER",
                  "SQL_SERVER",
                  "STORAGE_ACCOUNT",
                  "SQL_MANAGED_INSTANCE",
                  "ANF",
                  "CLOUD_STORAGE",
                  "CLOUD_SQL",
                  "BIG_QUERY",
                  "FILE_STORE",
                  "CLOUD_SPANNER",
                  "MEMORY_STORE",
                  "BIG_TABLE",
                  "FIRE_STORE",
                  "UNMANAGED_AWS_MYSQL",
                  "UNMANAGED_AWS_ORACLE_SERVER",
                  "UNMANAGED_AWS_MONGO_DB",
                  "UNMANAGED_AWS_POSTGRESQL",
                  "UNMANAGED_AWS_REDIS",
                  "UNMANAGED_AWS_SQLITE",
                  "UNMANAGED_AWS_MS_SQL",
                  "UNMANAGED_AWS_MARIA_DB",
                  "UNMANAGED_AWS_NEO4_J",
                  "UNMANAGED_AWS_ELASTIC",
                  "UNMANAGED_AWS_COCKROACH_DB",
                  "UNMANAGED_AWS_AEROSPIKE",
                  "UNMANAGED_AWS_SCYLLA_DB",
                  "UNMANAGED_AZURE_MYSQL",
                  "UNMANAGED_AZURE_ORACLE_SERVER",
                  "UNMANAGED_AZURE_MONGO_DB",
                  "UNMANAGED_AZURE_POSTGRESQL",
                  "UNMANAGED_AZURE_REDIS",
                  "UNMANAGED_AZURE_SQLITE",
                  "UNMANAGED_AZURE_MS_SQL",
                  "UNMANAGED_AZURE_MARIA_DB",
                  "UNMANAGED_AZURE_NEO4_J",
                  "UNMANAGED_AZURE_ELASTIC",
                  "UNMANAGED_AZURE_COCKROACH_DB",
                  "UNMANAGED_AZURE_AEROSPIKE",
                  "UNMANAGED_AZURE_SCYLLA_DB",
                  "UNMANAGED_GCP_MYSQL",
                  "UNMANAGED_GCP_ORACLE_SERVER",
                  "UNMANAGED_GCP_MONGO_DB",
                  "UNMANAGED_GCP_POSTGRESQL",
                  "UNMANAGED_GCP_REDIS",
                  "UNMANAGED_GCP_SQLITE",
                  "UNMANAGED_GCP_MS_SQL",
                  "UNMANAGED_GCP_MARIA_DB",
                  "UNMANAGED_GCP_NEO4_J",
                  "UNMANAGED_GCP_ELASTIC",
                  "UNMANAGED_GCP_COCKROACH_DB",
                  "UNMANAGED_GCP_AEROSPIKE",
                  "UNMANAGED_GCP_SCYLLA_DB",
                  "SNOWFLAKE_DB",
                  "FILE_SHARE",
                  "ONE_DRIVE",
                  "SHARE_POINT",
                  "AZURE_OPEN_AI_DEPLOYMENT",
                  "VERTEX_ENDPOINT",
                  "BEDROCK_PROVISIONED_THROUGHPUT",
                  "BEDROCK_AGENT",
                  "UNMANAGED_AI_AWS_FALCON",
                  "UNMANAGED_AI_AWS_LLAMA",
                  "UNMANAGED_AI_AWS_TRANSFORMERSLLAMA",
                  "UNMANAGED_AI_AWS_GEMMA",
                  "UNMANAGED_AI_AWS_GPT2",
                  "UNMANAGED_AI_AWS_MISTRAL",
                  "UNMANAGED_AI_AWS_PHI",
                  "UNMANAGED_AI_AWS_QWEN2",
                  "UNMANAGED_AI_AWS_ROBERTA",
                  "UNMANAGED_AI_AWS_JAMBA",
                  "UNMANAGED_AI_AZURE_FALCON",
                  "UNMANAGED_AI_AZURE_LLAMA",
                  "UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA",
                  "UNMANAGED_AI_AZURE_GEMMA",
                  "UNMANAGED_AI_AZURE_GPT2",
                  "UNMANAGED_AI_AZURE_MISTRAL",
                  "UNMANAGED_AI_AZURE_PHI",
                  "UNMANAGED_AI_AZURE_QWEN2",
                  "UNMANAGED_AI_AZURE_ROBERTA",
                  "UNMANAGED_AI_AZURE_JAMBA",
                  "UNMANAGED_AI_GCP_FALCON",
                  "UNMANAGED_AI_GCP_LLAMA",
                  "UNMANAGED_AI_GCP_TRANSFORMERSLLAMA",
                  "UNMANAGED_AI_GCP_GEMMA",
                  "UNMANAGED_AI_GCP_GPT2",
                  "UNMANAGED_AI_GCP_MISTRAL",
                  "UNMANAGED_AI_GCP_PHI",
                  "UNMANAGED_AI_GCP_QWEN2",
                  "UNMANAGED_AI_GCP_ROBERTA",
                  "UNMANAGED_AI_GCP_JAMBA"
                ]
              }
            }
          },
          {
            "name": "serviceType.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ATHENA",
                "AURORA",
                "AWS_BACKUP",
                "DOCUMENTDB",
                "DYNAMODB",
                "DAX",
                "EMR",
                "EBS",
                "EFS",
                "ELASTICACHE",
                "FSX",
                "KINESIS_DELIVERY_STREAM",
                "MEMORYDB",
                "NEPTUNE",
                "QLDB",
                "RDS",
                "REDSHIFT",
                "S3",
                "TIMESTREAM",
                "OPENSEARCH",
                "OPENSEARCH_SERVERLESS",
                "COSMOS_DB",
                "SYNAPSE",
                "CACHE_FOR_REDIS",
                "MARIA_DB",
                "MYSQL_SERVER",
                "POSTGRESQL_SERVER",
                "SQL_SERVER",
                "STORAGE_ACCOUNT",
                "SQL_MANAGED_INSTANCE",
                "ANF",
                "CLOUD_STORAGE",
                "CLOUD_SQL",
                "BIG_QUERY",
                "FILE_STORE",
                "CLOUD_SPANNER",
                "MEMORY_STORE",
                "BIG_TABLE",
                "FIRE_STORE",
                "UNMANAGED_AWS_MYSQL",
                "UNMANAGED_AWS_ORACLE_SERVER",
                "UNMANAGED_AWS_MONGO_DB",
                "UNMANAGED_AWS_POSTGRESQL",
                "UNMANAGED_AWS_REDIS",
                "UNMANAGED_AWS_SQLITE",
                "UNMANAGED_AWS_MS_SQL",
                "UNMANAGED_AWS_MARIA_DB",
                "UNMANAGED_AWS_NEO4_J",
                "UNMANAGED_AWS_ELASTIC",
                "UNMANAGED_AWS_COCKROACH_DB",
                "UNMANAGED_AWS_AEROSPIKE",
                "UNMANAGED_AWS_SCYLLA_DB",
                "UNMANAGED_AZURE_MYSQL",
                "UNMANAGED_AZURE_ORACLE_SERVER",
                "UNMANAGED_AZURE_MONGO_DB",
                "UNMANAGED_AZURE_POSTGRESQL",
                "UNMANAGED_AZURE_REDIS",
                "UNMANAGED_AZURE_SQLITE",
                "UNMANAGED_AZURE_MS_SQL",
                "UNMANAGED_AZURE_MARIA_DB",
                "UNMANAGED_AZURE_NEO4_J",
                "UNMANAGED_AZURE_ELASTIC",
                "UNMANAGED_AZURE_COCKROACH_DB",
                "UNMANAGED_AZURE_AEROSPIKE",
                "UNMANAGED_AZURE_SCYLLA_DB",
                "UNMANAGED_GCP_MYSQL",
                "UNMANAGED_GCP_ORACLE_SERVER",
                "UNMANAGED_GCP_MONGO_DB",
                "UNMANAGED_GCP_POSTGRESQL",
                "UNMANAGED_GCP_REDIS",
                "UNMANAGED_GCP_SQLITE",
                "UNMANAGED_GCP_MS_SQL",
                "UNMANAGED_GCP_MARIA_DB",
                "UNMANAGED_GCP_NEO4_J",
                "UNMANAGED_GCP_ELASTIC",
                "UNMANAGED_GCP_COCKROACH_DB",
                "UNMANAGED_GCP_AEROSPIKE",
                "UNMANAGED_GCP_SCYLLA_DB",
                "SNOWFLAKE_DB",
                "FILE_SHARE",
                "ONE_DRIVE",
                "SHARE_POINT",
                "AZURE_OPEN_AI_DEPLOYMENT",
                "VERTEX_ENDPOINT",
                "BEDROCK_PROVISIONED_THROUGHPUT",
                "BEDROCK_AGENT",
                "UNMANAGED_AI_AWS_FALCON",
                "UNMANAGED_AI_AWS_LLAMA",
                "UNMANAGED_AI_AWS_TRANSFORMERSLLAMA",
                "UNMANAGED_AI_AWS_GEMMA",
                "UNMANAGED_AI_AWS_GPT2",
                "UNMANAGED_AI_AWS_MISTRAL",
                "UNMANAGED_AI_AWS_PHI",
                "UNMANAGED_AI_AWS_QWEN2",
                "UNMANAGED_AI_AWS_ROBERTA",
                "UNMANAGED_AI_AWS_JAMBA",
                "UNMANAGED_AI_AZURE_FALCON",
                "UNMANAGED_AI_AZURE_LLAMA",
                "UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA",
                "UNMANAGED_AI_AZURE_GEMMA",
                "UNMANAGED_AI_AZURE_GPT2",
                "UNMANAGED_AI_AZURE_MISTRAL",
                "UNMANAGED_AI_AZURE_PHI",
                "UNMANAGED_AI_AZURE_QWEN2",
                "UNMANAGED_AI_AZURE_ROBERTA",
                "UNMANAGED_AI_AZURE_JAMBA",
                "UNMANAGED_AI_GCP_FALCON",
                "UNMANAGED_AI_GCP_LLAMA",
                "UNMANAGED_AI_GCP_TRANSFORMERSLLAMA",
                "UNMANAGED_AI_GCP_GEMMA",
                "UNMANAGED_AI_GCP_GPT2",
                "UNMANAGED_AI_GCP_MISTRAL",
                "UNMANAGED_AI_GCP_PHI",
                "UNMANAGED_AI_GCP_QWEN2",
                "UNMANAGED_AI_GCP_ROBERTA",
                "UNMANAGED_AI_GCP_JAMBA"
              ]
            }
          },
          {
            "name": "digTagKey.contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "digTagValue.contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lifecycle.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "RUNNING",
                  "STOPPED",
                  "DELETED"
                ]
              }
            }
          },
          {
            "name": "lifecycle.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "RUNNING",
                "STOPPED",
                "DELETED"
              ]
            }
          },
          {
            "name": "label.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "label.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label.hasAny",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "openRisksCount.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "openRisksCount.greaterThan",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "openRisksCount.lessThan",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "openRisksCount.lessThanOrEqual",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "openRisksCount.greaterThanOrEqual",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "openToWorld.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "maximum": 50,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "dig-api-key",
            "in": "header",
            "description": "Dig token header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of assets",
            "headers": {
              "X-Total-Count": {
                "description": "The total number of items in the page",
                "style": "simple",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/assets/id": {
      "get": {
        "tags": [
          "asset-resource"
        ],
        "operationId": "getAsset",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dig-api-key",
            "in": "header",
            "description": "Dig token header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/alerts": {
      "get": {
        "tags": [
          "alert-resource"
        ],
        "operationId": "getAlerts",
        "parameters": [
          {
            "name": "detectionTime.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "detectionTime.greaterThanOrEqual",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "detectionTime.greaterThan",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "detectionTime.lessThanOrEqual",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "detectionTime.lessThan",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "policyName.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "policyName.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyName.contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyName.notContain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetName.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "assetName.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetName.contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetName.notContain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudProvider.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AWS",
                  "AZURE",
                  "GCP",
                  "SNOWFLAKE",
                  "FILE_SHARE",
                  "O365"
                ]
              }
            }
          },
          {
            "name": "cloudProvider.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AWS",
                "AZURE",
                "GCP",
                "SNOWFLAKE",
                "FILE_SHARE",
                "O365"
              ]
            }
          },
          {
            "name": "destinationProjectVendorName.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "destinationProjectVendorName.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationProjectVendorName.contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationProjectVendorName.notContain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudEnvironment.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "UNKNOWN",
                  "DEVELOPMENT",
                  "STAGING",
                  "TESTING",
                  "PRODUCTION"
                ]
              }
            }
          },
          {
            "name": "cloudEnvironment.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "UNKNOWN",
                "DEVELOPMENT",
                "STAGING",
                "TESTING",
                "PRODUCTION"
              ]
            }
          },
          {
            "name": "policySeverity.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "HIGH",
                  "MEDIUM",
                  "LOW"
                ]
              }
            }
          },
          {
            "name": "policySeverity.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "HIGH",
                "MEDIUM",
                "LOW"
              ]
            }
          },
          {
            "name": "categoryType.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "FIRST_MOVE",
                  "ATTACK",
                  "COMPLIANCE",
                  "ASSET_AT_RISK",
                  "RECONNAISSANCE"
                ]
              }
            }
          },
          {
            "name": "categoryType.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FIRST_MOVE",
                "ATTACK",
                "COMPLIANCE",
                "ASSET_AT_RISK",
                "RECONNAISSANCE"
              ]
            }
          },
          {
            "name": "status.in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "OPEN",
                  "UNIMPORTANT",
                  "WRONG",
                  "HANDLED",
                  "INVESTIGATING"
                ]
              }
            }
          },
          {
            "name": "status.equals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "UNIMPORTANT",
                "WRONG",
                "HANDLED",
                "INVESTIGATING"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "maximum": 50,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "dig-api-key",
            "in": "header",
            "description": "Dig token header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of alerts",
            "headers": {
              "X-Total-Count": {
                "description": "The total number of items in the page",
                "style": "simple",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlertDTO"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DataTypeFilter": {
        "type": "object",
        "properties": {
          "allIn": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "anyIn": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FileExtensionFilter": {
        "type": "object",
        "properties": {
          "equals": {
            "type": "string"
          }
        }
      },
      "FileNameFilter": {
        "type": "object",
        "properties": {
          "equals": {
            "type": "string"
          }
        }
      },
      "FilePathFilter": {
        "type": "object",
        "properties": {
          "contains": {
            "type": "string"
          }
        }
      },
      "FileTypeFilter": {
        "type": "object",
        "properties": {
          "anyIn": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "AUDIO",
                "TEXT",
                "IMAGE",
                "VIDEO",
                "DOCUMENT",
                "DATA_FORMAT",
                "EXECUTABLE",
                "CREDENTIAL",
                "LOGS",
                "SNAPSHOTS",
                "CODE",
                "COMPRESSED",
                "OTHER"
              ]
            }
          },
          "allIn": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "AUDIO",
                "TEXT",
                "IMAGE",
                "VIDEO",
                "DOCUMENT",
                "DATA_FORMAT",
                "EXECUTABLE",
                "CREDENTIAL",
                "LOGS",
                "SNAPSHOTS",
                "CODE",
                "COMPRESSED",
                "OTHER"
              ]
            }
          }
        }
      },
      "IgnoredFilter": {
        "type": "object",
        "properties": {
          "equals": {
            "type": "boolean"
          }
        }
      },
      "IsMaliciousFilter": {
        "type": "object",
        "properties": {
          "equals": {
            "type": "boolean"
          }
        }
      },
      "LabelFilter": {
        "type": "object",
        "properties": {
          "anyIn": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allIn": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hasAny": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ListFilesFilterBodyRequest": {
        "required": [
          "dataType",
          "fileExtension",
          "fileName",
          "filePath",
          "fileType",
          "ignored",
          "isMalicious",
          "label",
          "public",
          "shadowBackup"
        ],
        "type": "object",
        "properties": {
          "dataType": {
            "$ref": "#/components/schemas/DataTypeFilter"
          },
          "label": {
            "$ref": "#/components/schemas/LabelFilter"
          },
          "fileName": {
            "$ref": "#/components/schemas/FileNameFilter"
          },
          "fileExtension": {
            "$ref": "#/components/schemas/FileExtensionFilter"
          },
          "filePath": {
            "$ref": "#/components/schemas/FilePathFilter"
          },
          "fileType": {
            "$ref": "#/components/schemas/FileTypeFilter"
          },
          "public": {
            "$ref": "#/components/schemas/PublicFilter"
          },
          "isMalicious": {
            "$ref": "#/components/schemas/IsMaliciousFilter"
          },
          "shadowBackup": {
            "$ref": "#/components/schemas/ShadowBackup"
          },
          "ignored": {
            "$ref": "#/components/schemas/IgnoredFilter"
          }
        }
      },
      "PublicFilter": {
        "type": "object",
        "properties": {
          "equals": {
            "type": "boolean"
          }
        }
      },
      "ShadowBackup": {
        "type": "object",
        "properties": {
          "equals": {
            "type": "boolean"
          }
        }
      },
      "DigFileDataTypeAPI": {
        "required": [
          "count",
          "label",
          "name",
          "valueDetails"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "int64"
          },
          "valueDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValueDetails"
            }
          }
        }
      },
      "DigFileThirdPartyAPI": {
        "required": [
          "dataTypes",
          "filename",
          "isDeleted",
          "isMalicious",
          "labels",
          "openToWorld",
          "path",
          "size",
          "type"
        ],
        "type": "object",
        "properties": {
          "filename": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "openToWorld": {
            "type": "boolean"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "isMalicious": {
            "type": "boolean"
          },
          "dataTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DigFileDataTypeAPI"
            }
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isDbDump": {
            "type": "boolean"
          }
        }
      },
      "DigFileThirdPartyBundle": {
        "required": [
          "files",
          "filesCount"
        ],
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DigFileThirdPartyAPI"
            }
          },
          "filesCount": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ValueDetails": {
        "required": [
          "masked_value"
        ],
        "type": "object",
        "properties": {
          "masked_value": {
            "type": "string"
          },
          "line": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "DataTypeAnyInFilter": {
        "type": "object",
        "properties": {
          "anyIn": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FieldLabelFilter": {
        "type": "object",
        "properties": {
          "equals": {
            "type": "string"
          }
        }
      },
      "FieldNameFilter": {
        "type": "object",
        "properties": {
          "contains": {
            "type": "string"
          }
        }
      },
      "FieldPathFilter": {
        "type": "object",
        "properties": {
          "contains": {
            "type": "string"
          }
        }
      },
      "FieldTypeFilter": {
        "type": "object",
        "properties": {
          "contains": {
            "type": "string"
          },
          "equals": {
            "type": "string"
          }
        }
      },
      "ListFieldsFilterBodyRequest": {
        "required": [
          "dataType",
          "fieldName",
          "fieldPath",
          "fieldType",
          "label"
        ],
        "type": "object",
        "properties": {
          "dataType": {
            "$ref": "#/components/schemas/DataTypeAnyInFilter"
          },
          "label": {
            "$ref": "#/components/schemas/FieldLabelFilter"
          },
          "fieldType": {
            "$ref": "#/components/schemas/FieldTypeFilter"
          },
          "fieldPath": {
            "$ref": "#/components/schemas/FieldPathFilter"
          },
          "fieldName": {
            "$ref": "#/components/schemas/FieldNameFilter"
          }
        }
      },
      "ContentTypeWithDataTypePercentage": {
        "required": [
          "hitPercentage",
          "label",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "hitPercentage": {
            "type": "integer",
            "format": "int64"
          },
          "maskedValues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValueDetails"
            }
          }
        }
      },
      "DBContents": {
        "required": [
          "fields"
        ],
        "type": "object",
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StructuredSemiStructuredField"
            }
          }
        }
      },
      "StructuredSemiStructuredField": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "dataTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentTypeWithDataTypePercentage"
            }
          },
          "path": {
            "type": "string"
          },
          "tableName": {
            "type": "string"
          },
          "tableSize": {
            "type": "string"
          },
          "databaseName": {
            "type": "string"
          },
          "collectionName": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "schemaName": {
            "type": "string"
          }
        }
      },
      "UpdateRiskDetectionResponseDTO": {
        "type": "object",
        "properties": {
          "riskFindingId": {
            "type": "string"
          },
          "oldStatus": {
            "type": "string",
            "enum": [
              "OPEN",
              "CLOSED",
              "UNIMPORTANT",
              "WRONG",
              "HANDLED",
              "INVESTIGATING"
            ]
          },
          "newStatus": {
            "type": "string",
            "enum": [
              "OPEN",
              "CLOSED",
              "UNIMPORTANT",
              "WRONG",
              "HANDLED",
              "INVESTIGATING"
            ]
          }
        }
      },
      "UpdateAlertStatusResponseDTO": {
        "type": "object",
        "properties": {
          "alertId": {
            "type": "integer",
            "format": "int64"
          },
          "oldStatus": {
            "type": "string",
            "enum": [
              "OPEN",
              "UNIMPORTANT",
              "WRONG",
              "HANDLED",
              "INVESTIGATING"
            ]
          },
          "newStatus": {
            "type": "string",
            "enum": [
              "OPEN",
              "UNIMPORTANT",
              "WRONG",
              "HANDLED",
              "INVESTIGATING"
            ]
          }
        }
      },
      "RiskDetectionsAssetDTO": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "assetId": {
            "type": "string"
          },
          "service": {
            "type": "string",
            "enum": [
              "ATHENA",
              "AURORA",
              "AWS_BACKUP",
              "DOCUMENTDB",
              "DYNAMODB",
              "DAX",
              "EMR",
              "EBS",
              "EFS",
              "ELASTICACHE",
              "FSX",
              "KINESIS_DELIVERY_STREAM",
              "MEMORYDB",
              "NEPTUNE",
              "QLDB",
              "RDS",
              "REDSHIFT",
              "S3",
              "TIMESTREAM",
              "OPENSEARCH",
              "OPENSEARCH_SERVERLESS",
              "COSMOS_DB",
              "SYNAPSE",
              "CACHE_FOR_REDIS",
              "MARIA_DB",
              "MYSQL_SERVER",
              "POSTGRESQL_SERVER",
              "SQL_SERVER",
              "STORAGE_ACCOUNT",
              "SQL_MANAGED_INSTANCE",
              "ANF",
              "CLOUD_STORAGE",
              "CLOUD_SQL",
              "BIG_QUERY",
              "FILE_STORE",
              "CLOUD_SPANNER",
              "MEMORY_STORE",
              "BIG_TABLE",
              "FIRE_STORE",
              "UNMANAGED_AWS_MYSQL",
              "UNMANAGED_AWS_ORACLE_SERVER",
              "UNMANAGED_AWS_MONGO_DB",
              "UNMANAGED_AWS_POSTGRESQL",
              "UNMANAGED_AWS_REDIS",
              "UNMANAGED_AWS_SQLITE",
              "UNMANAGED_AWS_MS_SQL",
              "UNMANAGED_AWS_MARIA_DB",
              "UNMANAGED_AWS_NEO4_J",
              "UNMANAGED_AWS_ELASTIC",
              "UNMANAGED_AWS_COCKROACH_DB",
              "UNMANAGED_AWS_AEROSPIKE",
              "UNMANAGED_AWS_SCYLLA_DB",
              "UNMANAGED_AZURE_MYSQL",
              "UNMANAGED_AZURE_ORACLE_SERVER",
              "UNMANAGED_AZURE_MONGO_DB",
              "UNMANAGED_AZURE_POSTGRESQL",
              "UNMANAGED_AZURE_REDIS",
              "UNMANAGED_AZURE_SQLITE",
              "UNMANAGED_AZURE_MS_SQL",
              "UNMANAGED_AZURE_MARIA_DB",
              "UNMANAGED_AZURE_NEO4_J",
              "UNMANAGED_AZURE_ELASTIC",
              "UNMANAGED_AZURE_COCKROACH_DB",
              "UNMANAGED_AZURE_AEROSPIKE",
              "UNMANAGED_AZURE_SCYLLA_DB",
              "UNMANAGED_GCP_MYSQL",
              "UNMANAGED_GCP_ORACLE_SERVER",
              "UNMANAGED_GCP_MONGO_DB",
              "UNMANAGED_GCP_POSTGRESQL",
              "UNMANAGED_GCP_REDIS",
              "UNMANAGED_GCP_SQLITE",
              "UNMANAGED_GCP_MS_SQL",
              "UNMANAGED_GCP_MARIA_DB",
              "UNMANAGED_GCP_NEO4_J",
              "UNMANAGED_GCP_ELASTIC",
              "UNMANAGED_GCP_COCKROACH_DB",
              "UNMANAGED_GCP_AEROSPIKE",
              "UNMANAGED_GCP_SCYLLA_DB",
              "SNOWFLAKE_DB",
              "FILE_SHARE",
              "ONE_DRIVE",
              "SHARE_POINT",
              "AZURE_OPEN_AI_DEPLOYMENT",
              "VERTEX_ENDPOINT",
              "BEDROCK_PROVISIONED_THROUGHPUT",
              "BEDROCK_AGENT",
              "UNMANAGED_AI_AWS_FALCON",
              "UNMANAGED_AI_AWS_LLAMA",
              "UNMANAGED_AI_AWS_TRANSFORMERSLLAMA",
              "UNMANAGED_AI_AWS_GEMMA",
              "UNMANAGED_AI_AWS_GPT2",
              "UNMANAGED_AI_AWS_MISTRAL",
              "UNMANAGED_AI_AWS_PHI",
              "UNMANAGED_AI_AWS_QWEN2",
              "UNMANAGED_AI_AWS_ROBERTA",
              "UNMANAGED_AI_AWS_JAMBA",
              "UNMANAGED_AI_AZURE_FALCON",
              "UNMANAGED_AI_AZURE_LLAMA",
              "UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA",
              "UNMANAGED_AI_AZURE_GEMMA",
              "UNMANAGED_AI_AZURE_GPT2",
              "UNMANAGED_AI_AZURE_MISTRAL",
              "UNMANAGED_AI_AZURE_PHI",
              "UNMANAGED_AI_AZURE_QWEN2",
              "UNMANAGED_AI_AZURE_ROBERTA",
              "UNMANAGED_AI_AZURE_JAMBA",
              "UNMANAGED_AI_GCP_FALCON",
              "UNMANAGED_AI_GCP_LLAMA",
              "UNMANAGED_AI_GCP_TRANSFORMERSLLAMA",
              "UNMANAGED_AI_GCP_GEMMA",
              "UNMANAGED_AI_GCP_GPT2",
              "UNMANAGED_AI_GCP_MISTRAL",
              "UNMANAGED_AI_GCP_PHI",
              "UNMANAGED_AI_GCP_QWEN2",
              "UNMANAGED_AI_GCP_ROBERTA",
              "UNMANAGED_AI_GCP_JAMBA"
            ]
          }
        }
      },
      "RiskDetectionsDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "ruleName": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "LOW",
              "MEDIUM",
              "HIGH"
            ]
          },
          "asset": {
            "$ref": "#/components/schemas/RiskDetectionsAssetDTO"
          },
          "status": {
            "type": "string",
            "enum": [
              "OPEN",
              "CLOSED",
              "UNIMPORTANT",
              "WRONG",
              "HANDLED",
              "INVESTIGATING"
            ]
          },
          "projectId": {
            "type": "string"
          },
          "cloudProvider": {
            "type": "string",
            "enum": [
              "AWS",
              "AZURE",
              "GCP",
              "SNOWFLAKE",
              "FILE_SHARE",
              "O365"
            ]
          },
          "cloudEnvironment": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "DEVELOPMENT",
              "STAGING",
              "TESTING",
              "PRODUCTION"
            ]
          },
          "firstDiscovered": {
            "type": "string",
            "format": "date-time"
          },
          "complianceStandards": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "AccessEvidenceDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "cloudAccountInformation": {
            "$ref": "#/components/schemas/CloudAccountInformationDTO"
          },
          "entityType": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "riskIndicators": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AccessEvidenceResult": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/RiskEvidenceResult"
          },
          {
            "type": "object",
            "properties": {
              "permittedEntities": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AccessEvidenceDTO"
                }
              }
            }
          }
        ]
      },
      "AiChatHistoryDetailsEvidenceDTO": {
        "type": "object",
        "properties": {
          "region": {
            "type": "string"
          },
          "project": {
            "type": "string"
          },
          "projectName": {
            "type": "string"
          },
          "cloudEnvironment": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "DEVELOPMENT",
              "STAGING",
              "TESTING",
              "PRODUCTION"
            ]
          },
          "cloudProvider": {
            "type": "string",
            "enum": [
              "AWS",
              "AZURE",
              "GCP",
              "SNOWFLAKE",
              "FILE_SHARE",
              "O365"
            ]
          }
        }
      },
      "AiContentFilterDataDashboardDTO": {
        "type": "object",
        "properties": {
          "contentFilterType": {
            "type": "string"
          },
          "securityInputBlocked": {
            "type": "boolean"
          },
          "category": {
            "type": "string",
            "enum": [
              "SECURITY",
              "CONTENT"
            ]
          },
          "inputLevel": {
            "type": "string",
            "enum": [
              "HIGH",
              "MEDIUM",
              "LOW",
              "NONE"
            ]
          },
          "outputLevel": {
            "type": "string",
            "enum": [
              "HIGH",
              "MEDIUM",
              "LOW",
              "NONE"
            ]
          }
        }
      },
      "AiContentFilterEvidenceResult": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/RiskEvidenceResult"
          },
          {
            "type": "object",
            "properties": {
              "aiContentFilters": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AiContentFilterDataDashboardDTO"
                }
              }
            }
          }
        ]
      },
      "AiDatasetPublicEvidenceResult": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/RiskEvidenceResult"
          },
          {
            "type": "object",
            "properties": {
              "datasetAsset": {
                "$ref": "#/components/schemas/AssetEvidenceResultDTO"
              }
            }
          }
        ]
      },
      "AssetEvidenceResultDTO": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "integer",
            "format": "int64"
          },
          "assetName": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "projectName": {
            "type": "string"
          },
          "assetRegion": {
            "type": "string"
          },
          "family": {
            "type": "string",
            "enum": [
              "ANALYTICS",
              "DB",
              "STORAGE",
              "AI"
            ]
          },
          "deploymentType": {
            "type": "string",
            "enum": [
              "MANAGED",
              "UNMANAGED",
              "DBAAS",
              "ONPREM",
              "SAAS"
            ]
          },
          "serviceType": {
            "type": "string",
            "enum": [
              "ATHENA",
              "AURORA",
              "AWS_BACKUP",
              "DOCUMENTDB",
              "DYNAMODB",
              "DAX",
              "EMR",
              "EBS",
              "EFS",
              "ELASTICACHE",
              "FSX",
              "KINESIS_DELIVERY_STREAM",
              "MEMORYDB",
              "NEPTUNE",
              "QLDB",
              "RDS",
              "REDSHIFT",
              "S3",
              "TIMESTREAM",
              "OPENSEARCH",
              "OPENSEARCH_SERVERLESS",
              "COSMOS_DB",
              "SYNAPSE",
              "CACHE_FOR_REDIS",
              "MARIA_DB",
              "MYSQL_SERVER",
              "POSTGRESQL_SERVER",
              "SQL_SERVER",
              "STORAGE_ACCOUNT",
              "SQL_MANAGED_INSTANCE",
              "ANF",
              "CLOUD_STORAGE",
              "CLOUD_SQL",
              "BIG_QUERY",
              "FILE_STORE",
              "CLOUD_SPANNER",
              "MEMORY_STORE",
              "BIG_TABLE",
              "FIRE_STORE",
              "UNMANAGED_AWS_MYSQL",
              "UNMANAGED_AWS_ORACLE_SERVER",
              "UNMANAGED_AWS_MONGO_DB",
              "UNMANAGED_AWS_POSTGRESQL",
              "UNMANAGED_AWS_REDIS",
              "UNMANAGED_AWS_SQLITE",
              "UNMANAGED_AWS_MS_SQL",
              "UNMANAGED_AWS_MARIA_DB",
              "UNMANAGED_AWS_NEO4_J",
              "UNMANAGED_AWS_ELASTIC",
              "UNMANAGED_AWS_COCKROACH_DB",
              "UNMANAGED_AWS_AEROSPIKE",
              "UNMANAGED_AWS_SCYLLA_DB",
              "UNMANAGED_AZURE_MYSQL",
              "UNMANAGED_AZURE_ORACLE_SERVER",
              "UNMANAGED_AZURE_MONGO_DB",
              "UNMANAGED_AZURE_POSTGRESQL",
              "UNMANAGED_AZURE_REDIS",
              "UNMANAGED_AZURE_SQLITE",
              "UNMANAGED_AZURE_MS_SQL",
              "UNMANAGED_AZURE_MARIA_DB",
              "UNMANAGED_AZURE_NEO4_J",
              "UNMANAGED_AZURE_ELASTIC",
              "UNMANAGED_AZURE_COCKROACH_DB",
              "UNMANAGED_AZURE_AEROSPIKE",
              "UNMANAGED_AZURE_SCYLLA_DB",
              "UNMANAGED_GCP_MYSQL",
              "UNMANAGED_GCP_ORACLE_SERVER",
              "UNMANAGED_GCP_MONGO_DB",
              "UNMANAGED_GCP_POSTGRESQL",
              "UNMANAGED_GCP_REDIS",
              "UNMANAGED_GCP_SQLITE",
              "UNMANAGED_GCP_MS_SQL",
              "UNMANAGED_GCP_MARIA_DB",
              "UNMANAGED_GCP_NEO4_J",
              "UNMANAGED_GCP_ELASTIC",
              "UNMANAGED_GCP_COCKROACH_DB",
              "UNMANAGED_GCP_AEROSPIKE",
              "UNMANAGED_GCP_SCYLLA_DB",
              "SNOWFLAKE_DB",
              "FILE_SHARE",
              "ONE_DRIVE",
              "SHARE_POINT",
              "AZURE_OPEN_AI_DEPLOYMENT",
              "VERTEX_ENDPOINT",
              "BEDROCK_PROVISIONED_THROUGHPUT",
              "BEDROCK_AGENT",
              "UNMANAGED_AI_AWS_FALCON",
              "UNMANAGED_AI_AWS_LLAMA",
              "UNMANAGED_AI_AWS_TRANSFORMERSLLAMA",
              "UNMANAGED_AI_AWS_GEMMA",
              "UNMANAGED_AI_AWS_GPT2",
              "UNMANAGED_AI_AWS_MISTRAL",
              "UNMANAGED_AI_AWS_PHI",
              "UNMANAGED_AI_AWS_QWEN2",
              "UNMANAGED_AI_AWS_ROBERTA",
              "UNMANAGED_AI_AWS_JAMBA",
              "UNMANAGED_AI_AZURE_FALCON",
              "UNMANAGED_AI_AZURE_LLAMA",
              "UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA",
              "UNMANAGED_AI_AZURE_GEMMA",
              "UNMANAGED_AI_AZURE_GPT2",
              "UNMANAGED_AI_AZURE_MISTRAL",
              "UNMANAGED_AI_AZURE_PHI",
              "UNMANAGED_AI_AZURE_QWEN2",
              "UNMANAGED_AI_AZURE_ROBERTA",
              "UNMANAGED_AI_AZURE_JAMBA",
              "UNMANAGED_AI_GCP_FALCON",
              "UNMANAGED_AI_GCP_LLAMA",
              "UNMANAGED_AI_GCP_TRANSFORMERSLLAMA",
              "UNMANAGED_AI_GCP_GEMMA",
              "UNMANAGED_AI_GCP_GPT2",
              "UNMANAGED_AI_GCP_MISTRAL",
              "UNMANAGED_AI_GCP_PHI",
              "UNMANAGED_AI_GCP_QWEN2",
              "UNMANAGED_AI_GCP_ROBERTA",
              "UNMANAGED_AI_GCP_JAMBA"
            ]
          },
          "snapshotServiceType": {
            "type": "string",
            "enum": [
              "SNAPSHOT_RDS_INSTANCE",
              "SNAPSHOT_FILE_STORE",
              "SNAPSHOT_CLOUD_SPANNER",
              "SNAPSHOT_BIG_TABLE"
            ]
          },
          "cloudEnvironment": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "DEVELOPMENT",
              "STAGING",
              "TESTING",
              "PRODUCTION"
            ]
          },
          "cloud": {
            "type": "string",
            "enum": [
              "AWS",
              "AZURE",
              "GCP",
              "SNOWFLAKE",
              "FILE_SHARE",
              "O365"
            ]
          },
          "assetTags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "assetDspmTags": {
            "type": "object",
            "additionalProperties": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "assetLabels": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assetDataTypes": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      },
      "ChatHistoryEvidenceResult": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/RiskEvidenceResult"
          },
          {
            "type": "object",
            "properties": {
              "assets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AssetEvidenceResultDTO"
                }
              },
              "chatHistoryDetails": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AiChatHistoryDetailsEvidenceDTO"
                }
              },
              "serviceType": {
                "type": "string",
                "enum": [
                  "ATHENA",
                  "AURORA",
                  "AWS_BACKUP",
                  "DOCUMENTDB",
                  "DYNAMODB",
                  "DAX",
                  "EMR",
                  "EBS",
                  "EFS",
                  "ELASTICACHE",
                  "FSX",
                  "KINESIS_DELIVERY_STREAM",
                  "MEMORYDB",
                  "NEPTUNE",
                  "QLDB",
                  "RDS",
                  "REDSHIFT",
                  "S3",
                  "TIMESTREAM",
                  "OPENSEARCH",
                  "OPENSEARCH_SERVERLESS",
                  "COSMOS_DB",
                  "SYNAPSE",
                  "CACHE_FOR_REDIS",
                  "MARIA_DB",
                  "MYSQL_SERVER",
                  "POSTGRESQL_SERVER",
                  "SQL_SERVER",
                  "STORAGE_ACCOUNT",
                  "SQL_MANAGED_INSTANCE",
                  "ANF",
                  "CLOUD_STORAGE",
                  "CLOUD_SQL",
                  "BIG_QUERY",
                  "FILE_STORE",
                  "CLOUD_SPANNER",
                  "MEMORY_STORE",
                  "BIG_TABLE",
                  "FIRE_STORE",
                  "UNMANAGED_AWS_MYSQL",
                  "UNMANAGED_AWS_ORACLE_SERVER",
                  "UNMANAGED_AWS_MONGO_DB",
                  "UNMANAGED_AWS_POSTGRESQL",
                  "UNMANAGED_AWS_REDIS",
                  "UNMANAGED_AWS_SQLITE",
                  "UNMANAGED_AWS_MS_SQL",
                  "UNMANAGED_AWS_MARIA_DB",
                  "UNMANAGED_AWS_NEO4_J",
                  "UNMANAGED_AWS_ELASTIC",
                  "UNMANAGED_AWS_COCKROACH_DB",
                  "UNMANAGED_AWS_AEROSPIKE",
                  "UNMANAGED_AWS_SCYLLA_DB",
                  "UNMANAGED_AZURE_MYSQL",
                  "UNMANAGED_AZURE_ORACLE_SERVER",
                  "UNMANAGED_AZURE_MONGO_DB",
                  "UNMANAGED_AZURE_POSTGRESQL",
                  "UNMANAGED_AZURE_REDIS",
                  "UNMANAGED_AZURE_SQLITE",
                  "UNMANAGED_AZURE_MS_SQL",
                  "UNMANAGED_AZURE_MARIA_DB",
                  "UNMANAGED_AZURE_NEO4_J",
                  "UNMANAGED_AZURE_ELASTIC",
                  "UNMANAGED_AZURE_COCKROACH_DB",
                  "UNMANAGED_AZURE_AEROSPIKE",
                  "UNMANAGED_AZURE_SCYLLA_DB",
                  "UNMANAGED_GCP_MYSQL",
                  "UNMANAGED_GCP_ORACLE_SERVER",
                  "UNMANAGED_GCP_MONGO_DB",
                  "UNMANAGED_GCP_POSTGRESQL",
                  "UNMANAGED_GCP_REDIS",
                  "UNMANAGED_GCP_SQLITE",
                  "UNMANAGED_GCP_MS_SQL",
                  "UNMANAGED_GCP_MARIA_DB",
                  "UNMANAGED_GCP_NEO4_J",
                  "UNMANAGED_GCP_ELASTIC",
                  "UNMANAGED_GCP_COCKROACH_DB",
                  "UNMANAGED_GCP_AEROSPIKE",
                  "UNMANAGED_GCP_SCYLLA_DB",
                  "SNOWFLAKE_DB",
                  "FILE_SHARE",
                  "ONE_DRIVE",
                  "SHARE_POINT",
                  "AZURE_OPEN_AI_DEPLOYMENT",
                  "VERTEX_ENDPOINT",
                  "BEDROCK_PROVISIONED_THROUGHPUT",
                  "BEDROCK_AGENT",
                  "UNMANAGED_AI_AWS_FALCON",
                  "UNMANAGED_AI_AWS_LLAMA",
                  "UNMANAGED_AI_AWS_TRANSFORMERSLLAMA",
                  "UNMANAGED_AI_AWS_GEMMA",
                  "UNMANAGED_AI_AWS_GPT2",
                  "UNMANAGED_AI_AWS_MISTRAL",
                  "UNMANAGED_AI_AWS_PHI",
                  "UNMANAGED_AI_AWS_QWEN2",
                  "UNMANAGED_AI_AWS_ROBERTA",
                  "UNMANAGED_AI_AWS_JAMBA",
                  "UNMANAGED_AI_AZURE_FALCON",
                  "UNMANAGED_AI_AZURE_LLAMA",
                  "UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA",
                  "UNMANAGED_AI_AZURE_GEMMA",
                  "UNMANAGED_AI_AZURE_GPT2",
                  "UNMANAGED_AI_AZURE_MISTRAL",
                  "UNMANAGED_AI_AZURE_PHI",
                  "UNMANAGED_AI_AZURE_QWEN2",
                  "UNMANAGED_AI_AZURE_ROBERTA",
                  "UNMANAGED_AI_AZURE_JAMBA",
                  "UNMANAGED_AI_GCP_FALCON",
                  "UNMANAGED_AI_GCP_LLAMA",
                  "UNMANAGED_AI_GCP_TRANSFORMERSLLAMA",
                  "UNMANAGED_AI_GCP_GEMMA",
                  "UNMANAGED_AI_GCP_GPT2",
                  "UNMANAGED_AI_GCP_MISTRAL",
                  "UNMANAGED_AI_GCP_PHI",
                  "UNMANAGED_AI_GCP_QWEN2",
                  "UNMANAGED_AI_GCP_ROBERTA",
                  "UNMANAGED_AI_GCP_JAMBA"
                ]
              }
            }
          }
        ]
      },
      "CloudAccountInformationDTO": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "cloudProvider": {
            "type": "string",
            "enum": [
              "AWS",
              "AZURE",
              "GCP",
              "SNOWFLAKE",
              "FILE_SHARE",
              "O365"
            ]
          },
          "cloudEnvironment": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "DEVELOPMENT",
              "STAGING",
              "TESTING",
              "PRODUCTION"
            ]
          },
          "verifiedVendor": {
            "type": "boolean"
          },
          "foreign": {
            "type": "boolean"
          }
        }
      },
      "ConfigEvidenceResult": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/RiskEvidenceResult"
          },
          {
            "type": "object",
            "properties": {
              "configurationOptions": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          }
        ]
      },
      "DataFlowEvidenceResult": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/RiskEvidenceResult"
          },
          {
            "type": "object",
            "properties": {
              "flowInfo": {
                "$ref": "#/components/schemas/FlowEvidenceDTO"
              },
              "destinationAsset": {
                "$ref": "#/components/schemas/DestinationEvidenceDTO"
              }
            }
          }
        ]
      },
      "DataTypeEvidenceResult": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/RiskEvidenceResult"
          },
          {
            "type": "object",
            "properties": {
              "files": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FileEvidenceDTO"
                }
              },
              "filesCount": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ]
      },
      "DestinationEvidenceDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "projectName": {
            "type": "string"
          },
          "cloudEnvironment": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "DEVELOPMENT",
              "STAGING",
              "TESTING",
              "PRODUCTION"
            ]
          },
          "cloudProvider": {
[...]
