info:
  description: |
    Please refer [IoT Public API Authentication](/iot/api/iot-public-api-new) to know how to get API Bearer token<br/>
  title: IoT Public API Overview
  version: v1
  contact: {}
openapi: 3.0.0
servers:
  - url: https://api.strata.paloaltonetworks.com
tags:
  - description: The IoT Public APIs are listed below.
    name: IoT Public API
paths:
  iot/pub/v1/device:
    get:
      description: "Get a list of device details for the device with the specified MAC address or, for a static IP device, the device with the specified static IP address. <br/> <b>Rate limiting</b>: 60 times per minute"
      operationId: device-detail
      security:
        - Bearer: []
      summary: Get Device Details per MAC Address
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/deviceDetail.yaml#/parameters"
      responses:
        $ref: "api/public/deviceDetail.yaml#/responses"

  iot/pub/v1/device/ip:
    get:
      description: "Get a list of device details for the device with the specified IP address. <br/> <b>Rate limiting</b>: 60 times per minute"
      operationId: device-detail-ip
      security:
        - Bearer: []
      summary: Get Device Details per IP Address
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/deviceDetailPerIP.yaml#/parameters"
      responses:
        $ref: "api/public/deviceDetailPerIP.yaml#/responses"

  iot/pub/v1/device/list:
    get:
      description: "Get a list of all the devices in your IoT Security inventory. <br/> <b>Rate limiting</b>: 60 times per minute"
      operationId: device-inventory
      security:
        - Bearer: []
      summary: Get the Device Inventory
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/deviceList.yaml#/parameters"
      responses:
        $ref: "api/public/deviceList.yaml#/responses"
  
  iot/pub/v2/device/list:
    get:
      description: "Get a list of all the devices in your IoT Security inventory. Specify what device attributes to return. <br/> <b>Rate limiting</b>: 60 times per minute"
      operationId: device-inventory-V2
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Get the Device Inventory V2
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/deviceListV2.yaml#/parameters"
      responses:
        $ref: "api/public/deviceListV2.yaml#/responses"

  iot/pub/v1/profile/mapping:
    get:
      description: "Get a list of mappings of each device profile to a category and industry vertical. This list is for all device profiles that can appear in IoT Security, not just those in your environment. <br/> <b>Rate limiting</b>: 180 times per minute"
      operationId: profile-mapping
      security:
        - Bearer: []
      summary: Get Profile Mapping
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/profileMapping.yaml#/parameters"
      responses:
        $ref: "api/public/profileMapping.yaml#/responses"

  iot/pub/v1/tag/list:
    get:
      description: "Get a list of user-defined tags assigned to IoT devices."
      operationId: tags-list
      security:
        - Bearer: []
      summary: Get a List of User-defined Tags
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/tagList.yaml#/parameters"
      responses:
        $ref: "api/public/tagList.yaml#/responses"

  iot/pub/v1/tag:
    post:
      description: "Adding manual tag to the devices."
      operationId: tag
      security:
        - X-Key-Id:  []
          X-Access-Key: []
      summary: Adding Manual Tag to Devices
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/addingTag.yaml#/parameters"
      requestBody:
        $ref: "api/public/addingTag.yaml#/requestBody"
      responses:
        $ref: "api/public/addingTag.yaml#/responses"
    delete:
      description: "Removing manual tag from the devices."
      operationId: removingTag
      security:
        - Bearer: []
      summary: Removing Manual Tag From The Devices
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/removingTag.yaml#/parameters"
      requestBody:
        $ref: "api/public/removingTag.yaml#/requestBody"
      responses:
        $ref: "api/public/removingTag.yaml#/responses"

  iot/pub/v1/alert/list:
    get:
      description: "Get a list of security alerts. <br/> <b>Rate limiting</b>: 60 times per minute"
      operationId: alert-list
      security:
        - Bearer: []
      summary: Get Security Alerts
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/alertList.yaml#/parameters"
      responses:
        $ref: "api/public/alertList.yaml#/responses"

  iot/pub/v1/alert/update:
    put:
      description: "Resolve a security alert. <br/> <b>Rate limiting</b>: 60 times per minute"
      operationId: alert-resolve
      security:
        - Bearer: []
      summary: Resolve a Security Alert
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/alertResolve.yaml#/parameters"
      requestBody:
        $ref: "api/public/alertResolve.yaml#/requestBody"
      responses:
        $ref: "api/public/alertResolve.yaml#/responses"

  iot/pub/v1/vulnerability/list:
    get:
      description: "Get a list of vulnerability instances. <br/> <b>Rate limiting</b>: 60 times per minute"
      operationId: vulnerability-list
      security:
        - Bearer: []
      summary: Get Vulnerabilities
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/vulnerabilityList.yaml#/parameters"
      responses:
        $ref: "api/public/vulnerabilityList.yaml#/responses"

  iot/pub/v1/vulnerability/update:
    put:
      description: "Mark one or more instances of a vulnerability as resolved. <br/> <b>Rate limiting</b>: 60 times per minute"
      operationId: vulnerability-resolve
      security:
        - Bearer: []
      summary: Resolve Vulnerabilty Instances
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/vulnerabilityResolve.yaml#/parameters"
      requestBody:
        $ref: "api/public/vulnerabilityResolve.yaml#/requestBody"
      responses:
        $ref: "api/public/vulnerabilityResolve.yaml#/responses"

  iot/pub/v1/device/bulkUpdate:
    put:
      description: "Update devices in your IoT Security inventory with select device information that Cortex XSOAR retrieves from an integrated Cisco DNA Center or Cisco Prime instance."
      operationId: general-bulk-update
      security:
        - Bearer: []
      summary: Bulk Device Updates - Cisco DNAC and Prime
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/bulkUpdate.yaml#/parameters"
      requestBody:
        $ref: "api/public/bulkUpdate.yaml#/requestBody"
      responses:
        $ref: "api/public/bulkUpdate.yaml#/responses"

  iot/pub/v1/device/bulkUpdate?updateSource=cisco_wlc:
    put:
      description: "Update devices in your IoT Security inventory with device information that Cortex XSOAR retrieves from integrated Cisco WLAN controllers."
      operationId: cisco-wlc-bulk-update
      security:
        - Bearer: []
      summary: Bulk Device Updates - Cisco WLC
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/bulkUpdateCiscoWLC.yaml#/parameters"
      requestBody:
        $ref: "api/public/bulkUpdateCiscoWLC.yaml#/requestBody"
      responses:
        $ref: "api/public/bulkUpdateCiscoWLC.yaml#/responses"

  iot/pub/v1/device/bulkUpdate?updateSource=aruba_wlc:
    put:
      description: "Update devices in your IoT Security inventory with device information that Cortex XSOAR retrieves from integrated Aruba WLAN controllers."
      operationId: aruba-wlc-bulk-update
      security:
        - Bearer: []
      summary: Bulk Device Updates - Aruba WLC
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/bulkUpdateArubaWLC.yaml#/parameters"
      requestBody:
        $ref: "api/public/bulkUpdateArubaWLC.yaml#/requestBody"
      responses:
        $ref: "api/public/bulkUpdateArubaWLC.yaml#/responses"

  iot/pub/v1/device/bulkUpdate?updateSource=snmp:
    put:
      description: "Update devices in your IoT Security inventory with device information that Cortex XSOAR retrieves from  integrated switches through SNMP."
      operationId: snmp-bulk-update
      security:
        - Bearer: []
      summary: Bulk Device Updates - SNMP
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/bulkUpdateSNMP.yaml#/parameters"
      requestBody:
        $ref: "api/public/bulkUpdateSNMP.yaml#/requestBody"
      responses:
        $ref: "api/public/bulkUpdateSNMP.yaml#/responses"

  iot/pub/v1/device/bulkUpdate?updateSource=cellular:
    put:
      description: "Bulk device updates for cellular devices"
      operationId: cellular-bulk-update
      security:
        - Bearer: []
      summary: Bulk Device Updates - Cellular Devices
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/bulkUpdateCellular.yaml#/parameters"
      requestBody:
        $ref: "api/public/bulkUpdateCellular.yaml#/requestBody"
      responses:
        $ref: "api/public/bulkUpdateCellular.yaml#/responses"

  iot/pub/v1/device/bulkUpdate?updateSource=sccm:
    put:
      description: "Bulk device updates for sccm devices"
      operationId: sccm-bulk-update
      security:
        - Bearer: []
      summary: Bulk Device Updates - SCCM Devices
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/bulkUpdateSccm.yaml#/parameters"
      requestBody:
        $ref: "api/public/bulkUpdateSccm.yaml#/requestBody"
      responses:
        $ref: "api/public/bulkUpdateSccm.yaml#/responses"

  iot/pub/v1/device/bulkUpdate?updateSource=crowdstrike_falcon:
    put:
      description: "Bulk device updates for Crowdstrike Falcon devices"
      operationId: crowdstrike-bulk-update
      security:
        - Bearer: []
      summary: Bulk Device Updates - Crowdstrike Falcon Devices
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/bulkUpdateCrowdstrike.yaml#/parameters"
      requestBody:
        $ref: "api/public/bulkUpdateCrowdstrike.yaml#/requestBody"
      responses:
        $ref: "api/public/bulkUpdateCrowdstrike.yaml#/responses"

  iot/pub/v1/network/subnetBulkUpdate?updateSource=ipam_infoblox:
    put:
      description: "Bulk subnet updates from customer IPAM (infoblox)"
      operationId: ipam-subnet-bulk-update
      security:
        - Bearer: []
      summary: Bulk Subnet Updates - IPAM Infoblox
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/bulkUpdateIPAMSubnet.yaml#/parameters"
      requestBody:
        $ref: "api/public/bulkUpdateIPAMSubnet.yaml#/requestBody"
      responses:
        $ref: "api/public/bulkUpdateIPAMSubnet.yaml#/responses"

  iot/pub/v1/device/bulkUpdate?updateSource=customAttribute:
    put:
      description: "Update devices custom attributes values"
      operationId: custom-attribute-bulk-update
      security:
        - Bearer: []
      summary: Bulk Device Updates - Custom Attribute
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/bulkUpdateCustomAttribute.yaml#/parameters"
      requestBody:
        $ref: "api/public/bulkUpdateCustomAttribute.yaml#/requestBody"
      responses:
        $ref: "api/public/bulkUpdateCustomAttribute.yaml#/responses"

  iot/pub/v1/policy/recommendation:
    get:
      description: "Fetch all activated policy rule recommendations or all the activated recommendations for one or more IoT device profiles."
      operationId: policy-recommendation
      security:
        - Bearer: []
      summary: Get Activated Policy Rule Recommendations
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/policyRecommendation.yaml#/parameters"
      responses:
        $ref: "api/public/policyRecommendation.yaml#/responses"

  iot/pub/v1/alertVuln/capability:
    get:
      description: "Listing the current IoT capabilities on alert and vulnerability"
      operationId: alertVuln-capability
      security:
        - Bearer: []
      summary: Get Alert or Vulnerability Capabilities
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/alertVuln.yaml#/parameters"
      responses:
        $ref: "api/public/alertVuln.yaml#/responses"

  iot/pub/v1/network/ndNodeGraphBulkUpdate:
    put:
      description: "Bulk device node graph updates for network discovery devices"
      operationId: nd-graph-update
      security:
        - Bearer: []
      summary: Network Discovery Bulk Device Node Graph Updates
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/networkDiscoveryGraphNodeBulkUpdate.yaml#/parameters"
      requestBody:
        $ref: "api/public/networkDiscoveryGraphNodeBulkUpdate.yaml#/requestBody"
      responses:
        $ref: "api/public/networkDiscoveryGraphNodeBulkUpdate.yaml#/responses"
  
  iot/pub/v1/network/ndNodeL2L3BulkUpdate:
    put:
      description: "Bulk device l2l3 updates for network discovery devices"
      operationId: nd-l2l3-update
      security:
        - Bearer: []
      summary: Network Discovery Bulk Device L2L3 Updates
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/networkDiscoveryL2L3BulkUpdate.yaml#/parameters"
      requestBody:
        $ref: "api/public/networkDiscoveryL2L3BulkUpdate.yaml#/requestBody"
      responses:
        $ref: "api/public/networkDiscoveryL2L3BulkUpdate.yaml#/responses"

  iot/pub/v1/network/ndNodeEndpointBulkUpdate:
    put:
      description: "Bulk device endpoint updates for network discovery devices"
      operationId: nd-endpoint-update
      security:
        - Bearer: []
      summary: Network Discovery Bulk Device Endpoint Updates
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/networkDiscoveryEndpointBulkUpdate.yaml#/parameters"
      requestBody:
        $ref: "api/public/networkDiscoveryEndpointBulkUpdate.yaml#/requestBody"
      responses:
        $ref: "api/public/networkDiscoveryEndpointBulkUpdate.yaml#/responses"

  iot/pub/v1/xsoar/integrations:
    get:
      description: "To get a list of active integrations (status = success). If third-party license is basic, only three integrations are allowed, otherwise there is no limitation"
      operationId: xsoar-integrations
      security:
        - Bearer: []
      summary: Get a list of active integrations
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/xsoarIntegrations.yaml#/parameters"
      responses:
        $ref: "api/public/xsoarIntegrations.yaml#/responses"

  iot/pub/v1/xsoar/device/reportUpload:
    post:
      description: "To let Xsoar server report back the device vulnerability scan report"
      operationId: xsoar-device-vulnerability-report
      security:
        - X-Key-Id: [ ]
          X-Access-Key: [ ]
      summary: Collect Device Vulnerability Scan report from Xsoar Server
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/xsoarVulnReportUpload.yaml#/parameters"
      requestBody:
        $ref: "api/public/xsoarVulnReportUpload.yaml#/requestBody"
      responses:
        $ref: "api/public/xsoarVulnReportUpload.yaml#/responses"

  iot/pub/v1/xsoar/profile/aclSync/status:
    post:
      description: "Receive the Profile ACL sync status from Xsoar server"
      operationId: xsoar-aclSync-status
      security:
        - Bearer: []
      summary: Collect Profile ACL Sync Job Status
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/xsoarACLSyncStatus.yaml#/parameters"
      requestBody:
        $ref: "api/public/xsoarACLSyncStatus.yaml#/requestBody"
      responses:
        $ref: "api/public/xsoarACLSyncStatus.yaml#/responses"

  iot/pub/v1/xsoar/device/scanDetails:
    post:
      description: "Collect 3rd party scanner details from Xsoar Server"
      operationId: xsoar-device-scanDetails
      security:
        - Bearer: []
      summary: Collect 3rd party scanner details from Xsoar Server
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/scannerDetails.yaml#/parameters"
      requestBody:
        $ref: "api/public/scannerDetails.yaml#/requestBody"
      responses:
        $ref: "api/public/scannerDetails.yaml#/responses"

  iot/pub/v1/network/securityRules:
    put:
      description: "update firewall secrity rules"
      operationId: update-security-rules
      security:
        - Bearer: []
      summary: update a list of firewall security rules.
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/updateSecurityRule.yaml#/parameters"
      requestBody:
        $ref: "api/public/updateSecurityRule.yaml#/requestBody"
      responses:
        $ref: "api/public/updateSecurityRule.yaml#/responses"

  iot/pub/v1/network/purgeRules:
    delete:
      description: "remove invalid firewall security rules"
      operationId: purge-rules
      security:
        - Bearer: []
      summary: retain the incoming list of rules while remove everything else.
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/purgeRules.yaml#/parameters"
      requestBody:
        $ref: "api/public/purgeRules.yaml#/requestBody"
      responses:
        $ref: "api/public/purgeRules.yaml#/responses"

  iot/pub/v1/thirdPartyScan:
    put:
      description: "update device CVE from 3rd party integration"
      operationId: third-party-scan
      security:
        - Bearer: []
      summary: update device CVE from 3rd party integration and join with enxisting IoT device CVE records.
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/thirdPartyScan.yaml#/parameters"
      requestBody:
        $ref: "api/public/thirdPartyScan.yaml#/requestBody"
      responses:
        $ref: "api/public/thirdPartyScan.yaml#/responses"

  iot/pub/v1/xsoar/status:
    post:
      description: "sync xsoar integration playbook status"
      operationId: xsoar-status
      security:
        - Bearer: []
      summary: sync xsoar integration playbook status to IoT
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/xsoarStatus.yaml#/parameters"
      requestBody:
        $ref: "api/public/xsoarStatus.yaml#/requestBody"
      responses:
        $ref: "api/public/xsoarStatus.yaml#/responses"

  iot/pub/v1/xsoar/heartbeat:
    get:
      description: "xsoar instance send a heartbeat to IoT."
      operationId: xsoar-heartbeat
      security:
        - Bearer: []
      summary: IoT uses a heartbeat to track xsoar instance health
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/heartbeat.yaml#/parameters"
      responses:
        $ref: "api/public/heartbeat.yaml#/responses"

  iot/pub/v1/filters:
    get:
      description: "Get a list of saved filters."
      operationId: get-filters
      security:
        - Bearer: []
      summary: Get a list of saved filters
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/filters.yaml#/parameters"
      responses:
        $ref: "api/public/filters.yaml#/responses"

  iot/pub/v1/customAttributes:
    get:
      description: "Get a list of custom attributes."
      operationId: get-custom-attributes
      security:
        - Bearer: []
      summary: Get a list of custom attributes
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/getCustomAttributes.yaml#/parameters"
      responses:
        $ref: "api/public/getCustomAttributes.yaml#/responses"

  iot/pub/v1/customAttribute:
    post:
      description: "Create a custom attribute."
      operationId: create-custom-attribute
      security:
        - Bearer: []
      summary: Create a custom attribute
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/createCustomAttribute.yaml#/parameters"
      requestBody:
        $ref: "api/public/createCustomAttribute.yaml#/requestBody"
      responses:
        $ref: "api/public/createCustomAttribute.yaml#/responses"
    put:
      description: "Update a custom attribute."
      operationId: update-custom-attribute
      security:
        - Bearer: []
      summary: Update a custom attribute
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/updateCustomAttribute.yaml#/parameters"
      requestBody:
        $ref: "api/public/updateCustomAttribute.yaml#/requestBody"
      responses:
        $ref: "api/public/updateCustomAttribute.yaml#/responses"
    delete:
      description: "Delete a custom attribute."
      operationId: delete-custom-attribute
      security:
        - Bearer: []
      summary: Delete a custom attribute.
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/deleteCustomAttribute.yaml#/parameters"
      responses:
        $ref: "api/public/deleteCustomAttribute.yaml#/responses"
    
  iot/pub/v1/site:
    post:
      description: "Create one or more site definitions in IoT Security."
      operationId: create-site
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Create Site Definitions
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/createSite.yaml#/parameters"
      requestBody:
        $ref: "api/public/createSite.yaml#/requestBody"
      responses:
        $ref: "api/public/createSite.yaml#/responses"
    get:
      description: "Retrieve site definitions from IoT Security."
      operationId: get-site
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Get Site Definitions
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/getSite.yaml#/parameters"
      responses:
        $ref: "api/public/getSite.yaml#/responses"
    put:
      description: "Update one or more site definitions in IoT Security."
      operationId: update-site
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Update Site Definitions
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/updateSite.yaml#/parameters"
      requestBody:
        $ref: "api/public/updateSite.yaml#/requestBody"
      responses:
        $ref: "api/public/updateSite.yaml#/responses"
    delete:
      description: "Delete one or more site definitions from IoT Security."
      operationId: delete-site
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Delete Site Definitions
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/deleteSite.yaml#/parameters"
      responses:
        $ref: "api/public/deleteSite.yaml#/responses"

  iot/pub/v1/networkSegment:
    post:
      description: "Create one new network segment definition in IoT Security."
      operationId: create-network-segment
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Create Network Segment Definition
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/createNetworkSegment.yaml#/parameters"
      requestBody:
        $ref: "api/public/createNetworkSegment.yaml#/requestBody"
      responses:
        $ref: "api/public/createNetworkSegment.yaml#/responses"
    get:
      description: "Retrieve network segment definitions from IoT Security."
      operationId: get-network-segment
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Get Network Segment Definitions
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/getNetworkSegment.yaml#/parameters"
      responses:
        $ref: "api/public/getNetworkSegment.yaml#/responses"
    put:
      description: "Update one network segment definition in IoT Security."
      operationId: update-network-segment
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Update Network Segment Definition
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/updateNetworkSegment.yaml#/parameters"
      requestBody:
        $ref: "api/public/updateNetworkSegment.yaml#/requestBody"
      responses:
        $ref: "api/public/updateNetworkSegment.yaml#/responses"
    delete:
      description: "Delete one network segment definition from IoT Security."
      operationId: delete-network-segment
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Delete Network Segment Definition
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/deleteNetworkSegment.yaml#/parameters"
      requestBody:
        $ref: "api/public/deleteNetworkSegment.yaml#/requestBody"
      responses:
        $ref: "api/public/deleteNetworkSegment.yaml#/responses"
  
  iot/pub/v1/subnet:
    post:
      description: "Create a new subnet definition in IoT Security."
      operationId: create-subnet
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Create Subnet Definition
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/createSubnet.yaml#/parameters"
      requestBody:
        $ref: "api/public/createSubnet.yaml#/requestBody"
      responses:
        $ref: "api/public/createSubnet.yaml#/responses"
    get:
      description: "Retrieve subnet definitions from IoT Security."
      operationId: get-subnet
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Get Subnet Definitions
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/getSubnet.yaml#/parameters"
      responses:
        $ref: "api/public/getSubnet.yaml#/responses"
    put:
      description: "Update a subnet definition in IoT Security."
      operationId: update-subnet
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Update Subnet Definition
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/updateSubnet.yaml#/parameters"
      requestBody:
        $ref: "api/public/updateSubnet.yaml#/requestBody"
      responses:
        $ref: "api/public/updateSubnet.yaml#/responses"
    delete:
      description: "Delete a subnet definition from IoT Security."
      operationId: delete-subnet
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Delete Subnet Definition
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/deleteSubnet.yaml#/parameters"
      requestBody:
        $ref: "api/public/deleteSubnet.yaml#/requestBody"
      responses:
        $ref: "api/public/deleteSubnet.yaml#/responses"

  iot/pub/v1/subnet/transfer:
    put:
      description: "Transfer a subnet to a shared IP block."
      operationId: transfer-subnet
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Transfer to Shared IP Block
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/transferSubnet.yaml#/parameters"
      responses:
        $ref: "api/public/transferSubnet.yaml#/responses"

  iot/pub/v1/subnet/revert:
    put:
      description: "Revert a shared block to an unshared IP block."
      operationId: revert-subnet
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Revert to an Unshared IP Block
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/revertSubnet.yaml#/parameters"
      responses:
        $ref: "api/public/revertSubnet.yaml#/responses"
  
  iot/pub/v1/device/attributes:
    get:
      description: "Get List of All Device Attributes. Native device attributes and attributes from enabled third party integrations are returned. <br/> <b>Rate limiting</b>: 60 times per minute"
      operationId: device-attributes
      security:
        - X-Key-Id: []
          X-Access-Key: []
      summary: Get Device Attributes
      tags:
        - IoT Public API
      parameters:
        $ref: "api/public/deviceAttributes.yaml#/parameters"
      responses:
        $ref: "api/public/deviceAttributes.yaml#/responses"

components:
  securitySchemes:
    $ref: "components/securitySchemes.yaml#/securitySchemes"
