{
  "openapi": "3.0.1",
  "info": {
    "title": "TLS Protect Cloud API for Strata Cloud Manager",
    "description": "Use the TLS Protect Cloud APIs to manage certificates, certificate requests, applications, machine identities, users, teams, event logs, and more. This Open API spec file was created on April 28, 2026. © 2026 Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark of Palo Alto Networks. A list of our trademarks can be found at https://www.paloaltonetworks.com/company/trademarks.html. All other marks mentioned herein may be trademarks of their respective companies.",
    "version": "1.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/mit"
    }
  },
  "servers": [
    {
      "url": "https://api.strata.paloaltonetworks.com",
      "description": "Strata Cloud Manager API"
    }
  ],
  "tags": [
    {
      "name": "Certificates",
      "description": "APIs for Certificates."
    },
    {
      "name": "Certificate Installations",
      "description": "APIs for Certificate Installations."
    },
    {
      "name": "Certificate Discovery",
      "description": "APIs for Certificate Discovery."
    },
    {
      "name": "Certificate Import",
      "description": "APIs for Certificate Import."
    },
    {
      "name": "Private Key Import",
      "description": "APIs for Private Key Import."
    },
    {
      "name": "Certificate Request",
      "description": "APIs for Certificate Request."
    },
    {
      "name": "Certificate Policy",
      "description": "APIs for Certificate Policy."
    },
    {
      "name": "Credential Management",
      "description": "APIs for Credential Management."
    },
    {
      "name": "Machine Identities",
      "description": "APIs for Machine Identities."
    },
    {
      "name": "Machine Types",
      "description": "APIs for Machine Types."
    },
    {
      "name": "Machines",
      "description": "APIs for Machines."
    },
    {
      "name": "Users",
      "description": "APIs for Users."
    },
    {
      "name": "User Accounts",
      "description": "APIs for User Accounts."
    },
    {
      "name": "Teams",
      "description": "APIs for Teams."
    },
    {
      "name": "Event Logs",
      "description": "APIs for Event Logs."
    },
    {
      "name": "VSatellite",
      "description": "APIs for VSatellite."
    },
    {
      "name": "Webhooks",
      "description": "APIs for Webhooks."
    },
    {
      "name": "Certificate Inventory Monitoring",
      "description": "APIs for Certificate Inventory Monitoring."
    },
    {
      "name": "Certificate Auto-renewal Monitoring",
      "description": "APIs for Certificate Auto-renewal Monitoring."
    },
    {
      "name": "Certificate Expiration Reports",
      "description": "APIs for Certificate Expiration Reports."
    },
    {
      "name": "Tags",
      "description": "APIs for Tags."
    },
    {
      "name": "Workload Identity Manager Configurations",
      "description": "APIs for Workload Identity Manager Configurations."
    },
    {
      "name": "Workload Identity Manager Sub CA Providers",
      "description": "APIs for Workload Identity Manager Sub CA Providers."
    },
    {
      "name": "Workload Identity Manager Policies",
      "description": "APIs for Workload Identity Manager Policies."
    },
    {
      "name": "Workload Identity Manager Intermediate Certificates",
      "description": "APIs for Workload Identity Manager Intermediate Certificates."
    },
    {
      "name": "Certificate Approvals",
      "description": "APIs for Certificate Approvals."
    },
    {
      "name": "Certificate Revocation Approvals",
      "description": "APIs for Certificate Revocation Approvals."
    },
    {
      "name": "Plugins",
      "description": "APIs for Plugins."
    },
    {
      "name": "Service Accounts",
      "description": "APIs for Service Accounts."
    }
  ],
  "paths": {
    "/outagedetection/v1/certificates": {
      "get": {
        "description": "This endpoint allows you to retrieve all your certificates according to a specified criteria. This API provides a quick way to gather certificate details in order to install the certificates where they are needed.\n\nUse the `subject` query parameter to limit the search based on the certificate subject common name.",
        "operationId": "certificates_getAll",
        "parameters": [
          {
            "in": "query",
            "name": "ownershipTree",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "excludeSupersededInstances",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Ability to enter regular expression to match specific criteria.",
            "in": "query",
            "name": "subject",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Indicates the maximum integer number of certificates returned.",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 1000,
              "maximum": 10000,
              "minimum": 1,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateResponse"
                }
              }
            },
            "description": "Certificate(s) response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Request conditions failed."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Request conditions failed."
          }
        },
        "summary": "Retrieve all certificate data",
        "tags": [
          "Certificates"
        ]
      },
      "post": {
        "description": "Adds to the inventory one or more certificates to the inventory.the certificates are specified in raw base64-encoded format (PEM without header/footer). Chain CA certificates are optional but may be provided using `issuerCertificates`.",
        "operationId": "certificateimports_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateImportRequest1"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateImportResponse1"
                }
              }
            },
            "description": "Certificates were imported; details in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Import a set of raw certificates",
        "tags": [
          "Certificate Import"
        ]
      }
    },
    "/outagedetection/v1/certificates/{id}": {
      "get": {
        "description": "Retrieves the details of the certificate that has the specified `id`.",
        "operationId": "certificates_getById",
        "parameters": [
          {
            "description": "Indicates whether response should include nested ownership data (e.g., `owningContainers`).",
            "in": "query",
            "name": "ownershipTree",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "excludeSupersededInstances",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "UUID of a Certificate.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedCertificateInformation"
                }
              }
            },
            "description": "Certificate was found; details in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Certificate was not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Get a certificate details",
        "tags": [
          "Certificates"
        ]
      }
    },
    "/outagedetection/v1/certificates/{id}/contents": {
      "get": {
        "description": "Exports the certificate that has the specified `id` in PEM or DER format. Chain CA certificates are included for PEM format when `chainOrder` is EE_FIRST or ROOT_FIRST.",
        "operationId": "certificates_getContentsById",
        "parameters": [
          {
            "description": "Specify an 'accept' header parameter's value",
            "in": "header",
            "name": "Accept",
            "schema": {
              "enum": [
                "text/plain",
                "application/octet-stream"
              ],
              "type": "string"
            }
          },
          {
            "description": "UUID of a Certificate.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Format of certificate in response.",
            "in": "query",
            "name": "format",
            "schema": {
              "enum": [
                "PEM",
                "DER"
              ],
              "type": "string"
            }
          },
          {
            "description": "Order of certificates in response.",
            "in": "query",
            "name": "chainOrder",
            "schema": {
              "enum": [
                "EE_ONLY",
                "EE_FIRST",
                "ROOT_FIRST"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Raw certificate in response body"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Certificate not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Download a certificate",
        "tags": [
          "Certificates"
        ]
      }
    },
    "/outagedetection/v1/certificates/validation": {
      "post": {
        "description": "Submits one or more certificates for TLS validation.",
        "operationId": "certificates_validation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateValidationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateValidationResponse"
                }
              }
            },
            "description": "Certificates submitted for validation response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Request validation for a set of",
        "tags": [
          "Certificates"
        ]
      }
    },
    "/outagedetection/v1/certificates/retirement": {
      "post": {
        "description": "This endpoint retires one or more certificates by using the **certificateIds** parameter to match a specified value.",
        "operationId": "certificateretirement_retireCertificates",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateRetirementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateResponse"
                }
              }
            },
            "description": "Certificate retirement response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Request conditions failed."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Request conditions failed."
          }
        },
        "summary": "Retire certificates",
        "tags": [
          "Certificates"
        ]
      }
    },
    "/outagedetection/v1/certificates/recovery": {
      "post": {
        "description": "Recover the certificates specified by `certificateIds`, including any previous versions of those certificates.",
        "operationId": "certificateretirement_recoverCertificates",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateRecoveryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateResponse"
                }
              }
            },
            "description": "Certificates were recovered. Total number and details are in the response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Recover a set of certificates",
        "tags": [
          "Certificates"
        ]
      }
    },
    "/outagedetection/v1/certificates/deletion": {
      "post": {
        "description": "Permanently deletes the retired certificates specified by `certificateIds` from the inventory.",
        "operationId": "certificateretirement_deleteCertificates",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateDeletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Certificates were deleted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Delete a set of retired certificates",
        "tags": [
          "Certificates"
        ]
      }
    },
    "/outagedetection/v1/certificatesearch": {
      "post": {
        "description": "This endpoint retrieves certificate data according to specified search criteria based on commonly used field search parameters. Some examples are `signatureHashAlgorithm`, `validityEnd`, and `issuerCN`. For more information, see [common search parameters](https://docs.venafi.cloud/api/about-api-search-fields/).\n",
        "operationId": "certificates_search_getByExpression",
        "parameters": [
          {
            "in": "query",
            "name": "ownershipTree",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "excludeSupersededInstances",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Filter1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateResponse"
                }
              }
            },
            "description": "Certificate response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Request conditions failed."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Request conditions failed."
          }
        },
        "summary": "Retrieve certificate data matching search criteria",
        "tags": [
          "Certificates"
        ]
      }
    },
    "/outagedetection/v1/certificateinstances": {
      "get": {
        "description": "Use this endpoint allows you to retrieve certificate instances according to specified criteria. Total certificate instances are the sum of the number of certificate installations, plus the total number of certificates that have no installations. Trusted CA certificates are not counted. For more information, see [certificate instances](https://docs.venafi.cloud/CSH_view_instances).\n\nUse query parameters to limit your search based on certificate criteria.",
        "operationId": "certificateinstances_getAll",
        "parameters": [
          {
            "in": "query",
            "name": "source",
            "schema": {
              "enum": [
                "UNKNOWN",
                "USER_PROVIDED",
                "USER_IMPORTED",
                "USER_SCAN",
                "TRUSTNET_SCAN",
                "ON_PREM_CA_IMPORT",
                "EXTERNAL_CA_IMPORT",
                "FILE_IMPORT",
                "EXTERNAL_SCAN",
                "DOMAIN_SCAN",
                "SMART_SCAN_INTERNAL",
                "SMART_SCAN_EXTERNAL",
                "SMART_VALIDATION_INTERNAL",
                "SMART_VALIDATION_EXTERNAL",
                "MACHINE_DISCOVERY",
                "KUBERNETES_DISCOVERY",
                "AWS_DISCOVERY",
                "AZURE_DISCOVERY",
                "GCP_DISCOVERY"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ipAddress",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "hostname",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedCertificateInstanceResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedCertificateInstanceResponse"
                }
              }
            },
            "description": "Certificate response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Request conditions failed."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Request conditions failed."
          }
        },
        "summary": "Retrieve Certificate Instances",
        "tags": [
          "Certificate Installations"
        ]
      }
    },
    "/outagedetection/v1/certificateinstances/{id}": {
      "get": {
        "description": "Retrieves the details of the certificate installation that has the specified `id`.",
        "operationId": "certificateinstances_getById",
        "parameters": [
          {
            "description": "UUID of a certificate installation.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedCertificateInstanceInformation"
                }
              }
            },
            "description": "Certificate installation was found; details in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Certificate installation not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Get a certificate installation details",
        "tags": [
          "Certificate Installations"
        ]
      }
    },
    "/outagedetection/v1/certificateinstances/validation": {
      "post": {
        "description": "Submits one or more certificate installation for TLS validation.",
        "operationId": "certificateinstances_validation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateInstanceValidationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            },
            "description": "Certificate installations were submitted for validation."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Request validation for a set of",
        "tags": [
          "Certificate Installations"
        ]
      }
    },
    "/outagedetection/v1/certificateinstancesearch": {
      "post": {
        "description": "Use this endpoint to retrieve certificate instance data according to specified search criteria based on commonly used field search parameters. Some examples are `signatureHashAlgorithm`, `validityEnd`, and `issuerCN`. For more information, see [common search parameters](https://docs.venafi.cloud/api/about-api-search-fields/#common-search-parameters)",
        "operationId": "certificateinstances_search_getByExpression",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Filter1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedCertificateInstanceResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedCertificateInstanceResponse"
                }
              }
            },
            "description": "Certificate Instances Response"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Request Conditions Failed"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Request Conditions Failed"
          }
        },
        "summary": "Retrieve certificate instance data matching search",
        "tags": [
          "Certificate Installations"
        ]
      }
    },
    "/v1/integrationservices": {
      "get": {
        "description": "Retrieves the details of all services (Ex: Discovery services and Automated key pair services).",
        "operationId": "integrationsservices_getAll",
        "parameters": [
          {
            "description": "Total number of services.",
            "in": "query",
            "name": "totalCount",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "UUID of VSatellite instance associated to the service if any.",
            "in": "query",
            "name": "edgeInstanceId",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationServiceDetailsResponse"
                }
              }
            },
            "description": "Details of all services in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse4"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse4"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Get a list of services",
        "tags": [
          "Certificate Discovery"
        ]
      },
      "post": {
        "description": "Create a new service ",
        "operationId": "integrationsservices_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationServiceCreationRequest"
              }
            }
          },
          "description": "Details of the service to be created",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationServiceInformation"
                }
              }
            },
            "description": "A service created."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse4"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Add a service",
        "tags": [
          "Certificate Discovery"
        ]
      }
    },
    "/v1/integrationservices/{id}": {
      "get": {
        "description": "Retrieves the details of the service that has the specified `id`.",
        "operationId": "integrationsservices_getById",
        "parameters": [
          {
            "description": "UUID of a service",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID of a service",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationServiceInformation"
                }
              }
            },
            "description": "Service was found; details in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse4"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse4"
                }
              }
            },
            "description": "Service not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse4"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Get service details",
        "tags": [
          "Certificate Discovery"
        ]
      },
      "delete": {
        "description": "Deletes the service that has the specified `id`.",
        "operationId": "integrationsservices_delete",
        "parameters": [
          {
            "description": "UUID of a  service",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID of a  service",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "retireCertificates\" (boolean): Number of certificates associated to the service that were retired when the service was deleted.",
            "in": "query",
            "name": "retireCertificates",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Integration Service Deleted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse4"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse4"
                }
              }
            },
            "description": "Service not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse4"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Remove a service",
        "tags": [
          "Certificate Discovery"
        ]
      },
      "patch": {
        "description": "Can be used to update specific fields. Only fields specified in the request will be updated. An empty set of edgeInstancesIds value will clear the set.",
        "operationId": "integrationsservices_update",
        "parameters": [
          {
            "description": "Integration Service ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "Integration Service ID",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationServiceUpdateRequest"
              }
            }
          },
          "description": "Details of the service to be updated",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationServiceInformation"
                }
              }
            },
            "description": "Integration Service information"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse4"
                }
              }
            },
            "description": "Request Conditions Failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse4"
                }
              }
            },
            "description": "Integration Service Not Found"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse4"
                }
              }
            },
            "description": "Request Conditions Failed"
          }
        },
        "summary": "Update Service properties",
        "tags": [
          "Certificate Discovery"
        ]
      }
    },
    "/v1/certificates/imports": {
      "post": {
        "description": "Import a list of certificates and their associated private key pairs",
        "operationId": "certificates_import",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateImportRequest2"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateImportResponse2"
                }
              }
            },
            "description": "Certificates and private keys imported"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse8"
                }
              }
            },
            "description": "Request Conditions Failed"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse8"
                }
              }
            },
            "description": "Request Conditions Failed"
          }
        },
        "summary": "Import a list of certificates and",
        "tags": [
          "Private Key Import"
        ]
      }
    },
    "/v1/certificates/imports/{id}": {
      "get": {
        "description": "Retrieve import details",
        "operationId": "certificatesImport_getByImportId",
        "parameters": [
          {
            "description": "Import id associated with the result of importing a list of certificates and private keys",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateImportStatusDetailResponse"
                }
              }
            },
            "description": "Import details matching the specified import id"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse8"
                }
              }
            },
            "description": "Request Conditions Failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse8"
                }
              }
            },
            "description": "Import details not found"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse8"
                }
              }
            },
            "description": "Request Conditions Failed"
          }
        },
        "summary": "Retrieve import details",
        "tags": [
          "Private Key Import"
        ]
      }
    },
    "/outagedetection/v1/certificaterequests": {
      "get": {
        "description": "Retrieves the details of all certificate requests.",
        "operationId": "certificaterequests_getAll",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateRequestResponse"
                }
              }
            },
            "description": "The response body contains the details of the certificate requests"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Get the details of all certificate",
        "tags": [
          "Certificate Request"
        ]
      },
      "post": {
        "description": "Creates a certificate request for the specified `applicationId` and using the specified `certificateIssuingTemplateId`.  Indicate a renewal by specifying `existingCertificateId`. Set `isVaaSGenerated` to true, specify `csrAttributes` to request a certificate using *Automated Secure Keypair*. The `validityPeriod` value must be in the ISO8601 format for time duration. Examples of ISO8601 format time duration include _P1Y_ for one year, _P10D_ for ten days, and _PT12H_ for twelve hours.",
        "operationId": "certificaterequests_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateRequestRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateRequestResponse"
                }
              }
            },
            "description": "A certificate request has been created, and its details can be found in the response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "The request is either incomplete or malformed."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "The request is either incomplete or malformed."
          }
        },
        "summary": "Create a certificate request",
        "tags": [
          "Certificate Request"
        ]
      }
    },
    "/outagedetection/v1/certificaterequests/{id}": {
      "get": {
        "description": "Retrieves the details of the certificate request with the specified `id`.",
        "operationId": "certificaterequests_getById",
        "parameters": [
          {
            "description": "UUID of a Certificate Request",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID of a Certificate Request",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateRequestInformation1"
                }
              }
            },
            "description": "A certificate request has been found, and its details are in the response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "The request is either incomplete or malformed."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "The certificate request was not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "The request is either incomplete or malformed."
          }
        },
        "summary": "Get a certificate request details",
        "tags": [
          "Certificate Request"
        ]
      }
    },
    "/outagedetection/v1/certificaterequests/{id}/resubmission": {
      "post": {
        "description": "Resubmits the certificate request that has the specified `id`.",
        "operationId": "certificaterequests_resubmitById",
        "parameters": [
          {
            "description": "UUID of a Certificate Request",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID of a Certificate Request",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateRequestResubmissionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateRequestResponse"
                }
              }
            },
            "description": "Certificate Request was resubmitted; details in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Certificate Request not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Resubmit a certificate request",
        "tags": [
          "Certificate Request"
        ]
      }
    },
    "/outagedetection/v1/certificaterequests/validation": {
      "post": {
        "description": "This operation validates a proposed certificate request without actually submitting it.Checks for compliance with the specified issuing template and verifies all other references are valid (e.g., `existingCertificateId` is the UUID of an inventory certificate).",
        "operationId": "certificaterequests_validation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateRequestRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationRequestInformation"
                }
              }
            },
            "description": "Certificate Request was validated."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Validate a certificate request",
        "tags": [
          "Certificate Request"
        ]
      }
    },
    "/outagedetection/v1/certificaterequestssearch": {
      "post": {
        "description": "Retrieves the details of certificate requests that match the specified [search expression](https://docs.venafi.cloud/CSH_api_search).",
        "operationId": "getCertificateRequestsByExpression",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Filter1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateRequestDocumentResponse"
                }
              }
            },
            "description": "The response body contains the details of the certificate requests."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "The request is either incomplete or malformed."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse2"
                }
              }
            },
            "description": "The request is either incomplete or malformed."
          }
        },
        "summary": "Get the details of certificate requests",
        "tags": [
          "Certificate Request"
        ]
      }
    },
    "/v1/certificateissuingtemplates": {
      "get": {
        "description": "Retrieves the details of issuing templates ordered by `priority` and `certificateAuthority`.",
        "operationId": "certificateissuingtemplate_getAll",
        "parameters": [
          {
            "description": "UUID of a Certificate Authority Account.",
            "in": "query",
            "name": "certificateAuthorityAccountId",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateIssuingTemplateResponse"
                }
              }
            },
            "description": "Details of Issuing Templates in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Get the details of issuing templates",
        "tags": [
          "Certificate Policy"
        ]
      },
      "post": {
        "description": "Creates an issuing template.",
        "operationId": "certificateissuingtemplate_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateIssuingTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateIssuingTemplateResponse"
                }
              }
            },
            "description": "Issuing Template was created; details in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Issuing Template not found."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Issuing Template already exists."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Add an issuing template",
        "tags": [
          "Certificate Policy"
        ]
      }
    },
    "/v1/certificateissuingtemplates/{id}": {
      "get": {
        "description": "Retrieve the details of the issuing template that has the specified `id`.",
        "operationId": "certificateissuingtemplate_getById",
        "parameters": [
          {
            "description": "UUID of an Issuing Template.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID of an Issuing Template.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateIssuingTemplateInformation"
                }
              }
            },
            "description": "Issuing Template was found; details in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Issuing Template not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Get an issuing template details",
        "tags": [
          "Certificate Policy"
        ]
      },
      "put": {
        "description": "Updates all the details of the issuing template that has the specified `id`.",
        "operationId": "certificateissuingtemplate_update",
        "parameters": [
          {
            "description": "UUID of an Issuing Template.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID of an Issuing Template.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateIssuingTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateIssuingTemplateInformation"
                }
              }
            },
            "description": "Issuing Template was updated; details in response body."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateIssuingTemplateInformation"
                }
              }
            },
            "description": "Issuing Template exists."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Request Conditions Failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Issuing Template not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Overwrite an issuing template details",
        "tags": [
          "Certificate Policy"
        ]
      },
      "delete": {
        "description": "Deletes the issuing template that has the specified `id`.",
        "operationId": "certificateissuingtemplate_delete",
        "parameters": [
          {
            "description": "UUID of an Issuing Template.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID of an Issuing Template.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Issuing Template was deleted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Issuing Template not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse11"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Remove an issuing template",
        "tags": [
          "Certificate Policy"
        ]
      }
    },
    "/v1/certificateissuingtemplates/domainssynchronization": {
      "post": {
        "description": "Loads domain list from CA and updates the issuing templates with it",
        "operationId": "domainssynchronization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssuingTemplatesDomainsSyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuingTemplateDomainsSyncResponse"
                }
              }
            },
            "description": "List with the information about the status of the sync of every issuing template"
          }
        },
        "summary": "Synchronize issuing templates domains with CA",
        "tags": [
          "Certificate Policy"
        ]
      }
    },
    "/v1/credentialmanagerconfigurations": {
      "get": {
        "description": "Retrieves a set of stored Credential Manager Service configurations.",
        "operationId": "get-public-cms-conf",
        "parameters": [
          {
            "$ref": "#/components/parameters/CMSTypesParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200GetCMSConfigurations"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerErrorContent"
          }
        },
        "summary": "Retrieves a set of Credential Manager",
        "tags": [
          "Credential Management"
        ]
      },
      "post": {
        "description": "Adds a set of new Credential Manager Service configurations. Only one Credential Manager Service configuration per `cmsType` per company can exist.",
        "operationId": "post-public-cms-conf",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateCMSConfigurationsBodyRequest"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/201CreateCMSConfigurations"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerErrorContent"
          }
        },
        "summary": "Add a set of Credential Manager",
        "tags": [
          "Credential Management"
        ]
      },
      "put": {
        "description": "Updates the information of an existing Credential Manager Service configuration.",
        "operationId": "put-public-cms-conf",
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateCMSConfigurationsBodyRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200UpdateCMSConfiguration"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerErrorContent"
          }
        },
        "summary": "Update a Credential Manager Service configuration",
        "tags": [
          "Credential Management"
        ]
      }
    },
    "/v1/credentialmanagerconfigurations/{id}": {
      "get": {
        "description": "Retrieves a Credential Manager Service configuration by the specified `id`.",
        "operationId": "get-public-cms-conf-id",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200GetCMSConfiguration"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerErrorContent"
          }
        },
        "summary": "Retrieves a Credential Manager Service configurati",
        "tags": [
          "Credential Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CMSConfigIdParam"
          }
        ]
      },
      "delete": {
        "description": "Deletes a Credential Manager Service configuration by the specified `id`.",
        "operationId": "delete-public-cms-conf-id",
        "responses": {
          "204": {
            "description": "The returned HTTP code if the Credential Manager Service configuration was deleted successfully."
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerErrorContent"
          }
        },
        "summary": "Delete a Credential Manager Service configuration",
        "tags": [
          "Credential Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CMSConfigIdParam"
          }
        ]
      }
    },
    "/v1/credentialmanagerconfigurations/test": {
      "post": {
        "description": "Tests the connection to a configured privileged access management through selected VSatellites.",
        "operationId": "post-public-cms-conf-test",
        "requestBody": {
          "$ref": "#/components/requestBodies/TestCMSConfigurationBodyRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200TestCMSConfiguration"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerErrorContent"
          }
        },
        "summary": "Test the connection to a privileged",
        "tags": [
          "Credential Management"
        ]
      }
    },
    "/v1/credentialmanagerconfigurations/{id}/test": {
      "post": {
        "description": "Tests the connection to a configured privileged access management through selected VSatellites using a specified `id`.",
        "operationId": "post-public-cms-conf-test-id",
        "responses": {
          "200": {
            "$ref": "#/components/responses/200TestCMSConfiguration"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerErrorContent"
          }
        },
        "summary": "Test the connection to an external",
        "tags": [
          "Credential Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CMSConfigIdParam"
          }
        ]
      }
    },
    "/v1/credentials": {
      "get": {
        "description": "Retrieves a list of shared credentials for a company.",
        "operationId": "get-public-cms-credential",
        "parameters": [
          {
            "$ref": "#/components/parameters/CMSCredentialDetailsParam"
          },
          {
            "$ref": "#/components/parameters/CMSTypesParam"
          },
          {
            "$ref": "#/components/parameters/CredentialIdsParam"
          },
          {
            "$ref": "#/components/parameters/TeamIdsParam"
          },
          {
            "$ref": "#/components/parameters/AuthTypesParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200GetCredentials"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerErrorContent"
          }
        },
        "summary": "Retrieves credentials for a company",
        "tags": [
          "Credential Management"
        ]
      },
      "post": {
        "description": "Adds a set of new shared credentials. The `name` for each credential must be unique.",
        "operationId": "post-public-cms-credential",
        "requestBody": {
          "$ref": "#/components/requestBodies/AddCredentialsBodyRequest"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/201AddCredentials"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerErrorContent"
          }
        },
        "summary": "Add a set of new shared",
        "tags": [
          "Credential Management"
        ]
      },
      "put": {
        "description": "Updates the information of an existing shared credential.",
        "operationId": "put-public-cms-credential",
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateCredentialBodyRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200UpdateCredential"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerErrorContent"
          }
        },
        "summary": "Update a shared credential",
        "tags": [
          "Credential Management"
        ]
      },
      "delete": {
        "description": "Deletes existing shared credentials specified in the query parameter list of `ids`.",
        "operationId": "delete-public-cms-credential",
        "parameters": [
          {
            "$ref": "#/components/parameters/CredentialIdsParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200DeleteCredentials"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerErrorContent"
          }
        },
        "summary": "Delete shared credentials",
        "tags": [
          "Credential Management"
        ]
      }
    },
    "/v1/credentials/{id}": {
      "get": {
        "description": "Retrieves the credential matching with provided `id`.",
        "operationId": "get-public-cms-credential-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Credential ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/CMSCredentialDetailsParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200GetCredential"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerErrorContent"
          }
        },
        "summary": "Retrieves shared credential by ID",
        "tags": [
          "Credential Management"
        ]
      },
      "delete": {
        "description": "Deletes the shared credential by the specified `id`.",
        "operationId": "delete-public-cms-credential-id",
        "responses": {
          "204": {
            "description": "The returned http code if the credential was deleted successfully."
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerErrorContent"
          }
        },
        "summary": "Delete shared credential by ID",
        "tags": [
          "Credential Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CredentialIdParam"
          }
        ]
      }
    },
    "/v1/credentials/test": {
      "post": {
        "description": "Tests the access to a shared credential using a specified `id` or by providing credential values. If both an `id` and parameters are provided, parameters override existing credential values.",
        "operationId": "post-public-cms-credential-test-id",
        "requestBody": {
          "$ref": "#/components/requestBodies/TestCredentialBodyRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200TestCredential"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerErrorContent"
          }
        },
        "summary": "Test the access to shared credential",
        "tags": [
          "Credential Management"
        ]
      }
    },
    "/v1/machineidentities": {
      "get": {
        "description": "Retrieves the details of all machine identities..",
        "operationId": "machineidentities_getAll",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineIdentityResponse"
                }
              }
            },
            "description": "All Machine Identities for the company."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Get the details of all machine",
        "tags": [
          "Machine Identities"
        ]
      },
      "post": {
        "description": "Creates a machine identity for a machine.",
        "operationId": "machineidentities_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineIdentityCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineIdentityInformation"
                }
              }
            },
            "description": "Machine Identity was created; details in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Add a machine identity to a",
        "tags": [
          "Machine Identities"
        ]
      }
    },
    "/v1/machineidentities/{id}": {
      "get": {
        "description": "Retrieves the machine identity that has the specified `id`.",
        "operationId": "machineidentities_getById",
        "parameters": [
          {
            "description": "UUID of a Machine Identity.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID of a Machine Identity.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineIdentityInformation"
                }
              }
            },
            "description": "Machine Identity matching specified id"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Request Conditions Failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Machine Identity not found"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Request Conditions Failed"
          }
        },
        "summary": "Get a machine identity details",
        "tags": [
          "Machine Identities"
        ]
      },
      "delete": {
        "description": "Deletes the machine identity that has the specified `id`.",
        "operationId": "machineidentities_delete",
        "parameters": [
          {
            "description": "UUID of a Machine Identity.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID of a Machine Identity.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Machine Identity was deleted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Machine Identity not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Remove a machine identity",
        "tags": [
          "Machine Identities"
        ]
      },
      "patch": {
        "description": "CUpdates specific details of the machine identity that has the specified `id`.",
        "operationId": "machineidentities_update",
        "parameters": [
          {
            "description": "UUID of a Machine Identity.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID of a Machine Identity.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineIdentityUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineIdentityInformation"
                }
              }
            },
            "description": "Machine Identity was updated; details in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Machine Identity not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Update a machine identity details",
        "tags": [
          "Machine Identities"
        ]
      }
    },
    "/v1/machineidentities/{id}/workflows": {
      "post": {
        "description": "Used to initiate a workflow like 'testConnection' for the machine that has the specified `id`.",
        "operationId": "machineidentities_initiateWorkflow",
        "parameters": [
          {
            "description": "UUID of a Machine Identity.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID of a Machine Identity.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineIdentityWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineIdentityWorkflowInformation"
                }
              }
            },
            "description": "Workflow was initiated; details in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Machine identity not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Initiate a machine workflow",
        "tags": [
          "Machine Identities"
        ]
      }
    },
    "/v1/machineidentitysearch": {
      "post": {
        "description": "Retrieves the details of machine identities that match the specified [search expression](https://docs.venafi.cloud/CSH_api_search).",
        "operationId": "getMachineIdentitiesByExpression",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineIdentitySearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineIdentityDocumentResponse"
                }
              }
            },
            "description": "Details of Machine Identities in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Get the details of machine identities",
        "tags": [
          "Machine Identities"
        ]
      }
    },
    "/v1/machinetypes": {
      "get": {
        "deprecated": true,
        "description": "Deprecated. This functionality is no longer supported. Use the Plugins API set instead.",
        "operationId": "machineTypes_getAll",
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "default response"
          }
        },
        "summary": "List Machine Types",
        "tags": [
          "Machine Types"
        ]
      }
    },
    "/v1/machines": {
      "get": {
        "description": "Retrieves the details of all machines.",
        "operationId": "machines_getAll",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachinesResponse"
                }
              }
            },
            "description": "Details of Machines in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Get the details of all machines",
        "tags": [
          "Machines"
        ]
      },
      "post": {
        "description": "Creates a machine corresponding to the specified `pluginId`.",
        "operationId": "machines_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineInformation"
                }
              }
            },
            "description": "Machine was created; details in response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Add a machine",
        "tags": [
          "Machines"
        ]
      }
    },
    "/v1/machines/{id}": {
      "get": {
        "description": "Retrieves the details of the machine that matches the specified  `id`.",
        "operationId": "machines_getById",
        "parameters": [
          {
            "description": "UUID of a Machine",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID of a Machine",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineInformation"
                }
              }
            },
            "description": "Machine was found; details in the response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Machine not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse5"
                }
              }
            },
            "description": "Incomplete or malformed request."
          }
        },
        "summary": "Get a machine details",
        "tags": [
          "Machines"
        ]
      },
      "delete": {
        "description": "Deletes a machine that has the specified `id`.",
        "operationId": "machines_delete",
        "parameters": [
          {
            "description": "UUID of a Machine.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID of a Machine.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Machine deleted."
          },
          "400": {
            "content": {
[...]
