html[data-theme="light"] {
  .navbar-doc-items__section-divider {
    &.network-security,
    &.scm {
      border-color: var(--ifm-color-panos-dark);
    }
    &.security-operations {
      border-color: var(--ifm-color-cortex-dark);
    }

    &.sase,
    &.cloud-native-security {
      border-color: var(--ifm-color-prisma-dark);
    }
    &.cross-platform,
    &.partner-integrations {
      border-color: var(--ifm-color-main);
    }
  }
}

.navbar-doc-items-container {
  padding: 1rem;
  min-width: 500px;

  .navbar-doc-items__list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;

    .dropdown__link {
      color: var(--ifm-color-emphasis-600);
    }
  }

  .navbar-doc-items__section-divider {
    width: 3rem;
    margin: 0.5rem;
    border: 1px solid;

    &.network-security,
    &.scm {
      border-color: var(--ifm-color-panos);
    }
    &.security-operations {
      border-color: var(--ifm-color-cortex);
    }

    &.sase,
    &.cloud-native-security {
      border-color: var(--ifm-color-prisma);
    }
    &.cross-platform,
    &.partner-integrations {
      border-color: var(--ifm-color-main);
    }
  }

  .navbar-doc-items__product-title,
  .navbar-doc-items__title {
    padding: 0.25rem 0.5rem;
  }

  .navbar-doc-items__product-title {
    margin-bottom: 0;
  }

  .navbar-doc-items__title {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-weight: var(--ifm-font-weight-bold);
  }
}
