html[data-theme="light"] {
  .navbar-doc-items__product-title {
    &.network-security { color: var(--ifm-color-panos-dark) }
    &.sase { color: var(--ifm-color-prisma-dark); }
    &.security-operations { color: var(--ifm-color-cortex-dark) }
  }
}

.navbar-doc-items-container {
  padding: 1rem;
  min-width: 500px; 

  .navbar-doc-items__list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .navbar-doc-items__product-title {
    &.network-security { color: var(--ifm-color-panos); }
    &.sase { color: var(--ifm-color-prisma); }
    &.cloud-native-security { color: var(--ifm-color-primary); }
    &.security-operations { color: var(--ifm-color-cortex); }
  }

  .navbar-doc-items__product-title,
  .navbar-doc-items__title {
    padding: 0.25rem 0.5rem;
  }

  .navbar-doc-items__product-title {
    margin-bottom: 0;
  }

  .navbar-doc-items__title {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: var(--ifm-font-weight-bold);
  }
}
