.floating-island-container {
  height: 40px;
  width: 150px;
  align-items: center;
  display: flex;
  border-radius: 20px;
  background-color: var(--ifm-color-emphasis-200);
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px 0px;
  z-index: calc(var(--ifm-z-index-fixed) - 1);
  position: fixed;
  bottom: 1.3rem;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  opacity: 1;
}

.floating-island-container-single {
  height: 40px;
  width: 130px;
  align-items: center;
  display: flex;
  border-radius: 20px;
  background-color: var(--ifm-color-emphasis-200);
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px 0px;
  z-index: calc(var(--ifm-z-index-fixed) - 1);
  position: fixed;
  bottom: 1.3rem;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  opacity: 1;
}

.floating-island-container-double {
  height: 40px;
  width: 180px;
  align-items: center;
  display: flex;
  border-radius: 20px;
  background-color: var(--ifm-color-emphasis-200);
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px 0px;
  z-index: calc(var(--ifm-z-index-fixed) - 1);
  position: fixed;
  bottom: 1.3rem;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  opacity: 1;
}

.floating-island-divider {
  border-right: 1px solid var(--ifm-color-emphasis-300);
  height: 1rem;
}
