openapi: 3.0.3
info:
  title: Policy Optimizer API
  description: APIs for retrieving security rules with optimization recommendations and their suggested replacement rules.
  version: 1.0.0
  termsOfService: 'https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf'
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: 'https://support.paloaltonetworks.com'
  license:
    name: MIT
    url: https://opensource.org/license/mit
servers:
  - url: 'https://api.strata.paloaltonetworks.com/posture/policy-optimizer/v1'
    description: Current
  - url: 'https://api.sase.paloaltonetworks.com/posture/policy-optimizer/v1'
    description: Legacy
tags:
- name: Policy Optimizer
  description: Operations for retrieving security rules with optimization recommendations.

paths:
  /security-rules:
    get:
      tags:
        - Policy Optimizer
      summary: List Security Rules with Optimization Recommendations
      description: |
        Retrieves a paginated list of security rules that have optimization
        recommendations generated by the Policy Optimizer engine, scoped to a
        single manager.

        Use "cloud_managed" as the manager_hostname for Strata Cloud Manager rules.
        For Panorama, provide the Panorama hostname.

        If no rules match the query, the response returns a 200 with an empty
        data array and total of 0.
      operationId: ListPolicyOptimizerSecurityRules
      parameters:
        - name: manager_hostname
          in: query
          required: true
          schema:
            type: string
          description: |
            Manager hostname to query. Use "cloud_managed" for Strata Cloud Manager,
            or the Panorama hostname for a specific Panorama device.
          example: "cloud_managed"
        - name: location
          in: query
          required: false
          schema:
            type: string
          description: |
            Filter by location. For cloud_managed, this is the Folder name.
            For Panorama, this is the Device Group or Template name.
          example: "Shared"
        - name: 'overall_traffic[ge]'
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          description: Filter rules with overall traffic (bytes) greater than or equal to this value over the lookback period.
          example: 0
        - name: 'overall_traffic[le]'
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          description: Filter rules with overall traffic (bytes) less than or equal to this value over the lookback period.
          example: 10000
        - name: 'sessions[ge]'
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          description: Filter rules with total session count greater than or equal to this value over the lookback period.
          example: 0
        - name: 'sessions[le]'
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          description: Filter rules with total session count less than or equal to this value over the lookback period.
          example: 100
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 200
          description: Maximum number of rules to return.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of rules to skip for pagination.
      responses:
        '200':
          description: Security rules with recommendations retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyOptimizerSecurityRulesListResponse'
        '400':
          description: Invalid or missing request parameters (e.g., missing manager_hostname).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Manager not found or no optimization data available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /security-rules/{id}:
    get:
      tags:
        - Policy Optimizer
      summary: Get Security Rule Optimization Recommendations
      description: |
        Retrieves the original security rule details and all associated optimization
        recommendations generated by the Policy Optimizer engine for a specific rule.

        The response includes the full original rule configuration plus the complete
        list of recommended replacement rules — narrowed, application-specific rules
        that together replicate the intent of the original.

        If no recommendations are available, recommended_rules will be an empty array.
      operationId: GetPolicyOptimizerSecurityRulesByID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The UUID of the security rule.
          example: "550e8400-e29b-41d4-a716-446655440000"
        - name: manager_hostname
          in: query
          required: true
          schema:
            type: string
          description: |
            Manager hostname that owns this rule. Use "cloud_managed" for Strata Cloud Manager,
            or the Panorama hostname for a specific Panorama device.
          example: "cloud_managed"
      responses:
        '200':
          description: Security rule recommendations retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyOptimizerSecurityRuleDetail'
        '400':
          description: Invalid or missing request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Rule not found or has no optimization data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Error:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: The error code representing a specific error condition.
                example: "API_I00035"
              message:
                type: string
                description: A brief description of the error condition.
                example: "Invalid Request Payload"
              details:
                type: array
                items:
                  type: string
                description: An explanation of the error condition.
                example: ["Missing required parameter: manager_hostname"]
              help:
                type: string
                format: uri
                description: A URL link to documentation describing the error condition.
                example: "https://docs.example.com/errors#API_I00035"
        _request_id:
          type: string
          format: uuid
          description: The request ID for troubleshooting purposes.
          example: "eb18eb0c-d5b7-43f3-9e38-38464ee11e2f"

    PolicyOptimizerSecurityRulesListResponse:
      type: object
      description: Paginated list of security rules with optimization recommendations.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PolicyOptimizerSecurityRule'
          description: List of security rules. Empty array when no rules match the query.
        total:
          type: integer
          description: Total number of rules matching the query.
          example: 42
        limit:
          type: integer
          default: 200
          example: 200
        offset:
          type: integer
          default: 0
          example: 0

    PolicyOptimizerSecurityRule:
      type: object
      description: A security rule that has optimization recommendations.
      required:
        - id
        - name
        - platform
        - manager_hostname
        - location
        - action
        - recommendation_count
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          description: Unique identifier (UUID) of the security rule.
          example: "550e8400-e29b-41d4-a716-446655440000"
        name:
          type: string
          maxLength: 63
          description: Rule name.
          example: "Allow-All-Outbound"
        platform:
          type: string
          enum: [cloud_managed, panorama]
          description: Management platform this rule belongs to.
          example: "panorama"
        manager_hostname:
          type: string
          description: |
            Hostname of the manager that owns this rule.
            "cloud_managed" for Strata Cloud Manager, or the Panorama device hostname.
          example: "cloud_managed"
        location:
          type: string
          description: |
            Location of the rule. Folder name for cloud_managed,
            or Device Group/Template name for Panorama.
          example: "Shared"
        action:
          type: string
          enum: [allow, deny, drop, reset-client, reset-server, reset-both]
          description: Rule action.
          example: "allow"
        from:
          type: array
          items:
            type: string
          description: Source zones.
          example: ["trust"]
        to:
          type: array
          items:
            type: string
          description: Destination zones.
          example: ["untrust"]
        source:
          type: array
          items:
            type: string
          description: Source addresses.
          example: ["any"]
        destination:
          type: array
          items:
            type: string
          description: Destination addresses.
          example: ["any"]
        application:
          type: array
          items:
            type: string
          description: Applications currently allowed by the rule.
          example: ["any"]
        service:
          type: array
          items:
            type: string
          description: Services/ports.
          example: ["application-default"]
        description:
          type: string
          maxLength: 1023
          description: Rule description.
        tag:
          type: array
          items:
            type: string
          maxItems: 64
          description: Rule tags.
          example: ["needs-review"]
        disabled:
          type: boolean
          description: Whether the rule is currently disabled.
          example: false
        overall_traffic:
          type: integer
          description: Total traffic volume (bytes) observed on this rule over the lookback period.
          example: 279906035550
        sessions:
          type: integer
          description: Total number of sessions observed on this rule over the lookback period.
          example: 267068
        unique_users:
          type: integer
          description: Number of unique users observed on this rule over the lookback period.
          example: 11
        recommendation_count:
          type: integer
          description: Number of optimization recommendations generated for this rule.
          example: 4
        last_analyzed_at:
          type: string
          format: date-time
          description: Timestamp of the most recent optimization analysis for this rule.
          example: "2025-09-26T00:00:00Z"

    PolicyOptimizerSecurityRuleDetail:
      description: |
        Security rule with its full optimization recommendations.
        Extends PolicyOptimizerSecurityRule with the recommended_rules array.
      allOf:
        - $ref: '#/components/schemas/PolicyOptimizerSecurityRule'
        - type: object
          properties:
            recommended_rules:
              type: array
              items:
                $ref: '#/components/schemas/PolicyOptimizerRecommendedRule'
              description: |
                Recommended replacement rules generated by the Policy Optimizer.
                Each entry is a narrowed, application-specific version of the original rule.
                Together they replicate the intent of the original with least-privilege applications.
                Empty array when no recommendations are currently available.

    PolicyOptimizerRecommendedRule:
      type: object
      description: |
        An optimization recommendation — a narrowed replacement for the original rule.
        Each recommended rule covers a specific subset of applications detected in the
        original rule's traffic, allowing the original permissive rule to be replaced
        with a set of least-privilege rules.
      required:
        - id
        - name
        - action
        - status
      properties:
        id:
          type: string
          readOnly: true
          description: Unique identifier for this recommendation.
          example: "4662223d-679b-440d-a107-c93be5317258"
        name:
          type: string
          maxLength: 63
          description: Suggested name for the replacement rule.
          example: "optrule_Allow-All-Outbound_1"
        from:
          type: array
          items:
            type: string
          description: Source zones.
          example: ["trust"]
        to:
          type: array
          items:
            type: string
          description: Destination zones.
          example: ["untrust"]
        source:
          type: array
          items:
            type: string
          description: Source addresses.
          example: ["any"]
        source_user:
          type: array
          items:
            type: string
          description: Source users.
          example: ["any"]
        destination:
          type: array
          items:
            type: string
          description: Destination addresses.
          example: ["any"]
        application:
          type: array
          items:
            type: string
          description: |
            Specific applications detected for this recommendation.
            Replaces "any" with the actual applications observed in traffic.
          example: ["ssl", "web-browsing"]
        service:
          type: array
          items:
            type: string
          description: Services/ports.
          example: ["application-default"]
        action:
          type: string
          enum: [allow, deny, drop, reset-client, reset-server, reset-both]
          description: Rule action.
          example: "allow"
        traffic:
          type: integer
          description: Traffic (bytes) attributable to this recommendation's application set.
          example: 23243181871
        sessions:
          type: integer
          description: Sessions attributable to this recommendation's application set.
          example: 22237
        unique_users:
          type: integer
          description: Unique users attributable to this recommendation.
          example: 11
        status:
          type: string
          enum: [pending, accepted, disabled, merged]
          description: |
            Current status of this recommendation:
            - `pending`: Awaiting admin action
            - `accepted`: Admin has accepted and applied this recommendation
            - `disabled`: Admin has disabled (excluded from acceptance)
            - `merged`: This recommendation has been merged with another
          example: "pending"
        is_new_application:
          type: boolean
          description: True if this recommendation includes applications newly detected since the last optimization run.
          example: false
        profile_setting:
          type: object
          additionalProperties: true
          description: Security profile settings for this recommendation.
          example:
            group: ["best-practice"]
        created_at:
          type: string
          format: date-time
          description: When this recommendation was generated.
          example: "2025-09-26T00:00:00Z"
