components:
  examples:
    get_claimed_licenses:
      value:
      - app_id: prisma_access
        claim_at: 2022-11-03 21:08:03.891000+00:00
        claim_by: usr@abc.com
        license_id: 123456789
        licenses:
        - app_id: prisma_access_edition
          license_expiration: 2023-01-03 02:06:10
          license_type: GBL-SKU
          purchased_size: 1000
          remaining_size: 1000
        - app_id: prisma_access_edition
          license_expiration: 2023-01-03 02:06:10
          license_type: GBL-SKU
          purchased_size: 1000
          remaining_size: 1000
      - app_id: logging_service
        claim_at: 2022-11-03 21:08:03.891000+00:00
        claim_by: usr@abc.com
        license_id: 123456789
        licenses:
        - app_id: logging_service
          license_expiration: 2023-01-03 02:06:10
          license_type: GBL-SKU
          purchased_size: 1000
          remaining_size: 1000
  schemas:
    license:
      description: ''
      items:
        properties:
          app_id:
            type: boolean
          claim_at:
            type: string
          claim_by:
            type: string
          license_id:
            type: string
          licenses:
            items:
              properties:
                app_id:
                  type: string
                license_expiry:
                  type: string
                license_type:
                  type: string
                purchased_size:
                  type: string
                remaining_size:
                  type: string
              type: object
            type: array
        type: object
      title: Root Type for license
      type: array
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
info:
  contact: {}
  description: 'Manage instance licenses.

    '
  title: Licenses
  version: '1.0'
openapi: 3.0.2
paths:
  /subscription/v1/licenses:
    get:
      description: 'Retrieve all details for licenses allocated to the TSG identified
        by the access token

        used to authorize this call. Use the `name` parameter to specify details about
        a specific

        license.

        '
      operationId: get-subscription-v1-licenses
      parameters:
      - description: Unique identifier assigned to the license that you want to examine.
        in: query
        name: license_id
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                get_claimed_licenses:
                  $ref: '#/components/examples/get_claimed_licenses'
              schema:
                $ref: '#/components/schemas/license'
          description: Successful response - returns claimed `license`.
      security:
      - Bearer: []
      summary: List license details
      tags:
      - Licenses
servers:
- url: https://api.sase.paloaltonetworks.com
tags:
- name: Licenses
