.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  margin-bottom: 1rem;
  font-size: 12px;
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text.non-floating-island {
  margin-bottom: 0;
}

@media screen and (max-width: 996px) {
  .tooltip-text.non-floating-island {
    left: 10px;
    margin-left: 0;
  }
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
