{
  "components": {
    "requestBodies": {},
    "securitySchemes": {
      "x-redlock-auth": {
        "description": "The x-redlock-auth value is a JSON Web Token (JWT).",
        "in": "header",
        "name": "x-redlock-auth",
        "type": "apiKey"
      }
    },
    "schemas": {
      "RedLockAuditLogBeanModel": {
        "description": "Model for RedLockAuditLogBean",
        "properties": {
          "action": {
            "type": "string"
          },
          "actionType": {
            "description": "Action Type",
            "enum": [
              "CREATE",
              "READ",
              "UPDATE",
              "DELETE",
              "LOGIN"
            ],
            "type": "string"
          },
          "ipAddress": {
            "description": "IP Address",
            "type": "string"
          },
          "resourceName": {
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          },
          "result": {
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp",
            "format": "int64",
            "type": "integer"
          },
          "user": {
            "description": "User",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "contact": {},
    "description": "As part of compliance requirement for organizations, companies need to demonstrate they are pro-actively \ntracking security issues and taking steps to remediate issues as they occur. Prisma Cloud Audit Logs \nsection enables companies to prepare for such audits and demonstrates compliance.\n",
    "title": "Prisma Cloud Audit Logs API Overview",
    "version": "Latest"
  },
  "openapi": "3.0.0",
  "paths": {},
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    }
  ],
  "tags": [
    {
      "description": "The Audit Log endpoints are listed below.",
      "name": "Audit Logs"
    }
  ]
}
