{
  "openapi": "3.0.3",
  "info": {
    "contact": {},
    "description": "Access Keys are a secure way to enable programmatic access to the Prisma Cloud API. By default, only \nthe System Admin has API access and can enable API access for other administrators. If you have API access, \nyou can create up to two access keys. Create an access key for a limited time period and regenerate your API \nkeys periodically to minimize exposure and follow security best practices.\n",
    "title": "Prisma Cloud Access Keys API Overview",
    "version": "Latest"
  },
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    },
    {
      "url": "https://api2.prismacloud.io"
    },
    {
      "url": "https://api3.prismacloud.io"
    },
    {
      "url": "https://api4.prismacloud.io"
    }
  ],
  "tags": [
    {
      "description": "Access Keys are a secure way to enable programmatic access to the Prisma Cloud API. By default, only \nthe System Admin has API access and can enable API access for other administrators. If you have API access, \nyou can create up to two access keys. Create an access key for a limited time period and regenerate your API \nkeys periodically to minimize exposure and follow security best practices.\n",
      "name": "Access Keys"
    },
    {
      "description": "You can use Account Groups to combine access to multiple cloud accounts with similar or different applications \nthat span multiple divisions or business units, so that you can manage administrative access to these accounts \nfrom Prisma Cloud.\n\nWhen you onboard a cloud account to Prisma Cloud, you can assign the cloud account to one or more account groups, \nand then assign the account group to Prisma Cloud Administrator Roles. Assigning an account group to an administrative \nuser on Prisma Cloud allows you to restrict access only to the resources and data that pertains to the cloud account(s) \nwithin an account group. Alerts on Prisma Cloud are applied at the cloud account group level, which means you can set up \nseparate alert rules and notification flows for different cloud environments.        \n",
      "name": "Account Groups"
    },
    {
      "description": "The Adoption Advisor API provides visibility into which Prisma Cloud capabilities you have adopted and \nhelps you uncover security capabilities that you not have yet explored.  \n",
      "name": "Adoption Advisor"
    },
    {
      "description": "Alert rules define what policy violations trigger alerts for cloud accounts within the selected account group \nand where to send the alert notifications. Alert rules give you a lot of flexibility in how you manage alerts \nand ensure that you can adhere to the administrative boundaries you have defined. You can create a single \nalert rule that alerts on all policy rules, or you can define granular alert rules that send very specific \nsets of alerts for specific cloud accounts, regions, and even resources to specific destinations.\n",
      "name": "Alert Rules"
    },
    {
      "description": "Prisma Cloud generates an alert when it detects a violation in a policy that is included in an active alert rule. \nYou can use the API requests to manage alerts, including listing or viewing, snoozing or dismissing, reopening, \nor remediating alerts.\n\nWhen retrieving a list of alerts through an API request, you can set filters, time range parameters, or pagination parameters.\n\n### Pagination\n\nYou can limit the number of items in a response list from API resources that support pagination. Version 2 (V2) of the API \nrequests to list alerts supports pagination and will accept the following request parameters.\n\nRequest Parameter  | Description  \n-----------| -------\n**limit** | Maximum number of items to return per page. Without pagination, maximum number of items to return in a response.\n**offset** | Number of items to skip before selecting items to return. Default is zero.\n**pageToken** | Set to the **nextPageToken** value from the previous response object to return the next page of data.\n\n### Filters\n\nAPI requests that use POST methods to request a list of alerts have filter parameters that enable you to narrow your request \nto alerts that meet a certain criteria.The [List Alert Filters](/prisma-cloud/api/cspm/get-alert-filter-options) \nrequests return the available filters.        \n",
      "name": "Alerts"
    },
    {
      "name": "Anomalies",
      "description": "Set the enterprise level settings to build standard training models for anomaly detection, alert disposition, \nand some other global settings such as the timeout before the user is locked out for inactivity and user \nattribution for alerts.\n Also, exclude trusted IP addresses when conducting tests for PCI compliance or penetration testing on your network. \nAny addresses included in this list do not generate alerts against the Prisma Cloud Anomaly Policies that \ndetect unusual network activity such as the policies that detect internal port scan and port sweep activity, which are enabled by default.\n"
    },
    {
      "name": "Archived Assets",
      "description": "When you delete an asset in a cloud account that is onboarded on Prisma Cloud, the asset is marked as deleted. After 90 days, the configuration details of the deleted assets are archived. You can use the archiveList endpoint of this API to retrieve the configuration details of such assets as a compressed archive (.zip) file.\n\nThe compressed archive (.zip) files are available for 9 months, after which they are deleted.\n"
    },
    {
      "description": "The Asset Explorer APIs enable you to list resource information filters, \nautocomplete suggestions for resource information filter, and list resource scan information.\n",
      "name": "Asset Explorer"
    },
    {
      "description": "The Asset Inventory APIs provide up-to-date information of all cloud assets that you are monitoring through Prisma Cloud.\nYou can request inventory data, list available filters to narrow inventory requests, and manage saved filters.\n\n### Pagination\n\nYou can limit the number of items in a response list from API resources that support pagination. The API \nrequests to list asset inventory, that supports pagination will accept the following request parameters.\n\nRequest Parameter  | Description  \n-----------| -------\n**limit** | Maximum number of items to return per page. Without pagination, maximum number of items to return in a response.\n**offset** | Number of items to skip before selecting items to return. Default is zero.\n**pageToken** | Set to the **nextPageToken** value from the previous response object to return the next page of data.\n\n### Filters\n\nAPI requests that use POST methods to request a list of asset inventory have filter parameters that enable you to narrow \nyour request to inventory that meets a certain criteria. The \n[List Inventory Filters V2](/prisma-cloud/api/cspm/get-asset-inventory-v-2-dashboard-filter-options) \nrequests return the available filters.\n",
      "name": "Asset Inventory"
    },
    {
      "description": "As part of compliance requirement for organizations, companies need to demonstrate they are pro-actively \ntracking security issues and taking steps to remediate issues as they occur. Prisma Cloud Audit Logs \nsection enables companies to prepare for such audits and demonstrates compliance.\n",
      "name": "Audit Logs"
    },
    {
      "description": "To begin monitoring the resources on your cloud infrastructure, you must first connect your public cloud \naccounts to Prisma™ Cloud. When you add your cloud account to Prisma Cloud, the API integration between \nyour cloud infrastructure provider and Prisma Cloud is established and you can begin monitoring the resources \nand identify potential security risks in your infrastructure.\n",
      "name": "Cloud Accounts"
    },
    {
      "description": "The Compliance Posture API methods provide information related to your compliance posture across various compliance \nstandards. The filters available through the API enable you to view your status across different cloud accounts, \nregions, and for specific compliance mandates.\n",
      "name": "Compliance Posture"
    },
    {
      "description": "You can create your own custom compliance standards that are tailored to your own business needs, \nstandards, and organizational policies. When defining a custom compliance standard, you can add \nrequirements and sections. A custom compliance standard that has a minimum of one requirement and one \nsection can be associated with policies that check for adherence to your standards.    \n",
      "name": "Compliance Standards"
    },
    {
      "description": "The Data Security capabilities on Prisma Cloud enable you to discover and classify data stored \nin AWS S3 buckets and protect accidental exposure, misuse, or sharing of sensitive data. The \ndata dashboard provides visibility into your S3 storage. \n\nTo get started with data security, see \n[Prisma Cloud Data Security](https://docs.paloaltonetworks.com/prisma/prisma-cloud/prisma-cloud-admin/prisma-cloud-data-security.html).\n",
      "name": "Data Security Dashboard"
    },
    {
      "description": "The Data Security capabilities on Prisma Cloud enable you to discover and classify data stored \nin AWS S3 buckets and protect accidental exposure, misuse, or sharing of sensitive data. The\ndata inventory provides information about the number of S3 storage buckets being monitored and\nabout how objects are exposed&mdash;public, sensitive, or malware.\n\n To get started with data security, see \n[Prisma Cloud Data Security](https://docs.paloaltonetworks.com/prisma/prisma-cloud/prisma-cloud-admin/prisma-cloud-data-security.html).       \n",
      "name": "Data Security Inventory"
    },
    {
      "description": "Prisma Cloud Data Security enables you to discover and classify data stored \nin AWS S3 buckets and protect accidental exposure, misuse, or sharing of sensitive data. You can use\nthe data security settings APIs to manage data profiles, data patterns, and snippets.\n\n### Error Handling\n\nAs with other Prisma Cloud public API requests, Data Security Settings API requests return standard \nHTTP response codes. When more details are available, the error response includes the following:\n\nProperty  | Type | Description  \n-----------| ---- | ----------- \nmessage | string | Error message\nname | string | Exception name\ndetail | string  | Exception details      \n\nTo get started with data security, see \n[Prisma Cloud Data Security](https://docs.paloaltonetworks.com/prisma/prisma-cloud/prisma-cloud-admin/prisma-cloud-data-security.html).\n",
      "name": "Data Security Settings"
    },
    {
      "name": "IAM",
      "description": "Prisma Cloud identity and access management (IAM) security provides:\n* Visiblity&mdash;Query all relevant IAM entities\n* Gonvernance&mdash;Monitor your cloud environment for overly-used permissions\n* Response&mdash;Automatically remediate permissions\n\nThe IAM security endpoints enable you to investigate IAM data programmatically.\n\nSee [Primsa Cloud IAM Security](https://docs.paloaltonetworks.com/prisma/prisma-cloud/prisma-cloud-admin/prisma-cloud-iam-security/what-is-prisma-cloud-iam-security.html)\nfor more information.\n\n\n### Error Handling\n\nLike other Prisma Cloud public API requests, the IAM security API requests return standard HTTP response codes. \nUnlike most other CSPM API error handling, IAM security API error responses do not include an [x-redlock-status](//prisma-cloud/api/cspm/api-errors)\nin the response header.\n\n\n### Pagination\n\nYou can control the number of items in a response for endpoints that support pagination. \nUse request parameter **limit** to control the maximum number of items in a response. If the response includes\n**data.nextPageToken**, use **data.nextPageToken** as the request parameter **pageToken** in a request for\nthe next page of data. \n\nThe following table summarizes the request parameters for pagination:\n\nRequest Parameter  | Description  \n-----------| -------\n**limit** | Maximum number of items to return in a page.\n**pageToken** | Use the **data.nextPageToken** value from the previous response object to return the next page of data.\n"
    },
    {
      "name": "IAM IDP",
      "description": "Prisma Cloud identity and access management (IAM) security integrates with the identity \nprovider (IdP) service Okta to ingest single sign-on (SSO) data for the effective permissions \ncalculation in the IAM Security module.\n\n\nSee [Integrate Prisma Cloud with Okta](https://docs.paloaltonetworks.com/prisma/prisma-cloud/prisma-cloud-admin/prisma-cloud-iam-security/integrate-prisma-cloud-with-okta.html#id2990b78d-1bdc-4090-a716-d899e62db060)\nfor more information.\n"
    },
    {
      "description": "With multiple out-of-the-box integration options, you can integrate Prisma Cloud into security \nworkflows and technologies that already exist in your organization.\n\n**Note**: For Prisma Cloud integrations with the following, see [Integrations Pull](/prisma-cloud/api/cspm/integrations-pull):\n\n* Okta\n* Qualys\n* Tenable\n\n### Integration Configuration\n\nThe model for an integration between Prisma Cloud and an external system includes\nan **integrationConfig** parameter which is a map of key/value pairs. The\ntype of integration defines the content of these key/value pairs. See\n[Integration Configurations](/prisma-cloud/api/cspm/api-integration-config) for more information about\nintegration API request body details, including the **integrationConfig**\nrequest parameter key/value pairs that apply to your specific integration API.\n",
      "name": "Integrations"
    },
    {
      "description": "With Prisma Cloud service’s multiple out-of-the-box integration options, you can integrate Prisma Cloud into existing \nsecurity workflows and technologies of your organization.\n\nYou can use [Integrations V1](/prisma-cloud/api/cspm/integrations) for most external integrations. Use the following API endpoints, though, for \nintegrations with:\n\n* Okta\n* Qualys\n* Tenable\n\nIn addition to pushing data to these external systems, Prisma Cloud also pulls data.\n         \n## Integration Configuration\nThe model for an integration between Prisma Cloud and an external system includes an **integrationConfig** parameter which \nis a map of key/value pairs. The type of integration defines the content of these key/value pairs.\nSee [Integration Configurations](/prisma-cloud/api/cspm/api-integration-config) for more information about integration API \nrequest body details, including the **integrationConfig** request parameter key/value pairs that apply to your \nspecific integration API.\n",
      "name": "Integrations Pull"
    },
    {
      "description": "Manage a list of trusted IP addresses with respect to alerts and a list of trusted login IP addresses.\n",
      "name": "IP Allow List"
    },
    {
      "name": "Licensing",
      "description": "The Prisma Cloud License endpoints enable you to query your Prisma Cloud usage."
    },
    {
      "description": "For secure access to the Prisma Cloud REST API, you need a Prisma Cloud API access key. An access key includes \nan Access Key ID and a Secret Key. After you use Prisma Cloud to generate an access key, you can use the key \nto obtain a JSON Web Token (JWT), which is required to authenticate Prisma Cloud REST API requests. The \nfollowing steps summarize the API requests necessary to authenticate all other Prisma Cloud API requests.\n\n1. Use the POST /login request to obtain a JWT.\n2. Authenticate further REST API requests by submitting the JWT in an HTTP header parameter.\n   The following shows the HTTP header parameter key. \n\n   HTTP Request Header Parameter | Value \n   ------------------------------| ---------\n   x-redlock-auth | Your JWT from POST /login response\n3. Refresh the JWT when necessary. The JWT is valid for 10 minutes, and you must refresh the token for \n   continued access to the Prisma Cloud API. An expired JWT request causes an HTTP 401 (Unauthorized) \n   response. You can use the GET /auth_token/extend request to obtain a refreshed JWT.  \n",
      "name": "Login"
    },
    {
      "description": "Notification templates allow you to configure notifications about the Prisma Cloud alerts to:\n\n* Email \n* ServiceNow \n* Jira \n",
      "name": "Notification Templates"
    },
    {
      "description": "You can use the AWS S3 Flow Logs API for AWS S3 onboarding for organization \nand standalone accounts on all supported stacks.\n",
      "name": "Onboarding AWS S3 Flow Logs"
    },
    {
      "description": "Permission groups enable you to restrict access to one or more features available on the Prisma Cloud administrative console. Permission group APIs allow you to retrieve, update or delete one or more existing permissions groups. You can also use these APIs to create a custom permission group and then you must attach it to a role and assign the role to a user.",
      "name": "Permission Groups"
    },
    {
      "description": "A policy is a set of one or more constraints or conditions that must be adhered to. Prisma Cloud provides \npredefined policies for configurations and access controls that adhere to established security best \npractices such as PCI, GDPR, ISO 27001:2013, and NIST. These Prisma Cloud default polices cannot be modified. \nIn addition to these, you can create custom policies to monitor for violations and to enforce your own organizational standards.\n",
      "name": "Policy"
    },
    {
      "description": "Creating compliance reports is the best way to monitor your cloud accounts across all cloud types and ensure that you \nare adhering to all compliance standards. You can create compliance reports based on a cloud compliance standard for \nimmediate download or schedule recurring reports so you can monitor compliance to the standard over time. From a single \nreport, you have a consolidated view of how well all of your cloud accounts are adhering to the selected standard. You \ncan also download historic reports so that you can see your compliance trend.\n",
      "name": "Reports"
    },
    {
      "description": "### Where Do I Find the RRN For My Resource?\n\nYou can find the RRN for a resource in the URL when you view that resource in the Prisma Cloud Resource explorer.\nThe following is an example of such a URL. The RRN is in the URL query string.\n\n```\nhttps://app.prismacloud.io/investigate/details?resourceId=rrn:aws:storageBucket:us-east-1:123456789012:test-bucket \n``` \n\n### Account Representation\n\nIf the **regionId** and **resourceId** are not in the RRN, then the **cloudType** and **resourceType** fields\nin thr RRN are optional. In this siutation, the RRN identifies an account.\n\n\nFull RRN:\n```\nrrn:::us-west-1:12345678901:i-ABCDEFGH\n```\n\nAbridged RRN:\n```  \nrrn::::12345678901\n```\n",
      "name": "Resource Explorer"
    },
    {
      "description": "A Resource List is a way to identify resources that are assigned with a specific tag or label.               \n",
      "name": "Resource Lists"
    },
    {
      "description": "You can use the Resource Query Language (RQL) to perform configuration checks across cloud services as well as \ngain real-time insights into user and network events to gain security visibility and create policy guardrails \nin your cloud environment. See the [Prisma Cloud documentation](https://docs.paloaltonetworks.com/prisma/prisma-cloud.html) for more information.\n",
      "name": "Search"
    },
    {
      "description": "The Search Manager APIs enable you to manage your recent \nand saved Resource Query Language (RQL) queries.\n",
      "name": "Search Manager"
    },
    {
      "description": "Manage enterprise settings such as a user inactivity timeout, user attribution for alerts, and global\nsettings for policies and alerts.\n",
      "name": "Settings"
    },
    {
      "description": "Quickly check if Prisma Cloud is available.\n",
      "name": "System"
    },
    {
      "description": "Manage your Prisma Cloud user profiles.\n",
      "name": "User Profile"
    },
    {
      "description": "Manage your Prisma Cloud user roles.            \n",
      "name": "User Roles"
    }
  ],
  "paths": {
    "/access_keys": {
      "get": {
        "description": "Returns all access keys for your tenant if you have a Prisma Cloud System Admin role. Returns just your access keys if you don't have this role.",
        "operationId": "get-my-access-keys",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/UserAccessKeyDetailResponseModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "user_inactive_or_not_exist"
          },
          "403": {
            "description": "unauthorized_to_use_access_keys"
          },
          "500": {
            "description": "failed_fetch_user_profile"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "List Access Keys",
        "tags": [
          "Access Keys"
        ]
      },
      "post": {
        "description": "Adds a new access key for the current user. If you have API access, you can create up to two access keys.  \r\n\r\nIf you want to create an access key for an existing Prisma Cloud service account instead of for the current user, then\nspecify the name of the existing service account as the value for the request body parameter **serviceAccountName**.\n",
        "operationId": "add-access-keys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAccessKeyRequestModel"
              }
            }
          },
          "description": "Model for user access key",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUserAccessKeyResponseModel"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "invalid_expiry_access_key / already_have_two_access_keys / invalid_access_key_name_length / invalid_access_key_name"
          },
          "403": {
            "description": "unauthorized_to_use_access_keys"
          },
          "409": {
            "description": "duplicate_access_key_name"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Add Access Key",
        "tags": [
          "Access Keys"
        ]
      }
    },
    "/access_keys/{id}": {
      "get": {
        "description": "Returns the metadata of the access key that has the specified ID.",
        "operationId": "get-access-key-by-id",
        "parameters": [
          {
            "description": "Access key ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAccessKeyResponseModel"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "user_inactive_or_not_exist"
          },
          "403": {
            "description": "unauthorized_to_use_access_keys"
          },
          "500": {
            "description": "non_existing_access_key"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Get Access Key by ID",
        "tags": [
          "Access Keys"
        ]
      },
      "delete": {
        "description": "Deletes the access key that has the specified ID.",
        "operationId": "delete-access-keys",
        "parameters": [
          {
            "description": "Access key ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "user_inactive_or_not_exist"
          },
          "403": {
            "description": "unauthorized_to_use_access_keys"
          },
          "500": {
            "description": "failed_fetch_user_profile / non_existing_access_key"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Delete Access Key",
        "tags": [
          "Access Keys"
        ]
      }
    },
    "/access_keys/{id}/status/{status}": {
      "patch": {
        "description": "Activates or deactivates the access key that has the specified ID. You cannot activate an expired access key.",
        "operationId": "update-access-key-status",
        "parameters": [
          {
            "description": "Access key ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Whether or not the access key is active. True means active.",
            "in": "path",
            "name": "status",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "empty_access_key_status_provided"
          },
          "403": {
            "description": "unauthorized_to_use_access_keys"
          },
          "500": {
            "description": "non_existing_access_key / expired_access_key"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Update Access Key Status",
        "tags": [
          "Access Keys"
        ]
      }
    },
    "/cloud/group": {
      "get": {
        "description": "Returns an array of accessible account groups.",
        "operationId": "get-account-groups",
        "parameters": [
          {
            "description": "true = Exclude cloud account details. Default is false.",
            "in": "query",
            "name": "excludeCloudAccountDetails",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AccountGroupViewModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "List Account Groups",
        "tags": [
          "Account Groups"
        ]
      },
      "post": {
        "description": "Create a new account group on the Prisma Cloud platform.",
        "operationId": "add-account-group",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountGroupModel"
              }
            }
          },
          "description": "Account Group",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGroupModel"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "invalid_account_group_name / account_group_name_already_exists / invalid_account_ids"
          },
          "403": {
            "description": "unauthorized_access"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Add Account Group",
        "tags": [
          "Account Groups"
        ]
      }
    },
    "/cloud/group/name": {
      "get": {
        "description": "Returns list of account group IDs, names, and whether or not the group was created automatically.",
        "operationId": "get-account-group-name",
        "parameters": [
          {
            "description": "Include account groups that were automatically created during cloud onboarding. Default is true.",
            "in": "query",
            "name": "include_auto_created",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AccountGroupMetadataViewModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "List Account Group Names",
        "tags": [
          "Account Groups"
        ]
      }
    },
    "/cloud/group/name/{cloud_type}": {
      "get": {
        "description": "Returns list of account group IDs and names filtered by cloud type.",
        "operationId": "get-account-group-name-by-cloudType",
        "parameters": [
          {
            "description": "Cloud Type",
            "in": "path",
            "name": "cloud_type",
            "required": true,
            "schema": {
              "enum": [
                "aws",
                "azure",
                "gcp",
                "alibaba_cloud",
                "oci"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "items": {
                    "additionalProperties": {
                      "type": "object"
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "List Account Group Names by Cloud Type",
        "tags": [
          "Account Groups"
        ]
      }
    },
    "/cloud/group/{id}": {
      "get": {
        "description": "Retrieve all information about an account group using its ID.",
        "operationId": "get-account-group",
        "parameters": [
          {
            "description": "Account Group ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "true = Include cloud account information. Default is false.",
            "in": "query",
            "name": "includeAccountInfo",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGroupModel"
                }
              }
            },
            "description": "successful operation"
          },
          "403": {
            "description": "unauthorized_access"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Account Group Info",
        "tags": [
          "Account Groups"
        ]
      },
      "put": {
        "description": "Update information related to an existing account group.",
        "operationId": "update-account-group",
        "parameters": [
          {
            "description": "Account Group ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountGroupModel"
              }
            }
          },
          "description": "Account Group",
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "invalid_account_group_name / invalid_id / account_group_name_already_exists"
          },
          "403": {
            "description": "unauthorized_access"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Update Account Group",
        "tags": [
          "Account Groups"
        ]
      },
      "delete": {
        "description": "Deletes an existing account group using its ID.",
        "operationId": "delete-account-group",
        "parameters": [
          {
            "description": "Account Group ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "invalid_id"
          },
          "403": {
            "description": "unauthorized_access"
          },
          "409": {
            "description": "conflict_deleting_last_account_group_for_alert_rule / cannot_delete_an_account_group_associated_with_cloud_accounts"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Delete Account Group",
        "tags": [
          "Account Groups"
        ]
      }
    },
    "/adoptionadvisor/checks": {
      "get": {
        "description": "Returns data about the Prisma Cloud capabilities you've adopted and identifies available capabilities not yet utilized.",
        "operationId": "get-adoption-check-score",
        "parameters": [
          {
            "description": "true = Show formula used to calculate capability use. Default is false.",
            "in": "query",
            "name": "showFormula",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AdoptionAdvisorChecksResponseModel"
                }
              }
            },
            "description": "Complete list of adoption check breakdowns"
          },
          "202": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AdoptionAdvisorChecksResponseModel"
                }
              }
            },
            "description": "Request accepted. Partial list of adoption check breakdown response as some scores are still being computed"
          },
          "206": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AdoptionAdvisorChecksResponseModel"
                }
              }
            },
            "description": "Partial list of adoption check breakdown response. Errors were encountered in one or more computations"
          },
          "400": {
            "description": "bad_request"
          },
          "401": {
            "description": "unauthorized_access"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Get Adoption Check Score",
        "tags": [
          "Adoption Advisor"
        ]
      }
    },
    "/adoptionadvisor/report": {
      "get": {
        "description": "Get Adoption Advisor Report Configs",
        "operationId": "adoption-advisor-get-all-report-configs",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdoptionAdvisorReportGenerationConfigApiModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Get Adoption Advisor Report Configs",
        "tags": [
          "Adoption Advisor"
        ]
      },
      "post": {
        "description": "Create Adoption Advisor Report Config",
        "operationId": "create-adoption-advisor-config",
        "requestBody": {
          "content": {
            "application/json; charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/AdoptionAdvisorReportGenerationConfigApiModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AdoptionAdvisorReportGenerationConfigApiModel"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Create Adoption Advisor Report Config",
        "tags": [
          "Adoption Advisor"
        ]
      }
    },
    "/adoptionadvisor/report/generate": {
      "post": {
        "description": "Create and Get an Adoption Advisor Report on demand",
        "operationId": "adoption-advisor-create-report",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdoptionAdvisorReportGenerationConfigApiModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Create and Get an Adoption Advisor Report on demand",
        "tags": [
          "Adoption Advisor"
        ]
      }
    },
    "/adoptionadvisor/report/{reportId}": {
      "put": {
        "description": "Update Adoption Advisor Report",
        "operationId": "adoption-advisor-update-report",
        "parameters": [
          {
            "in": "path",
            "name": "reportId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdoptionAdvisorReportGenerationConfigApiModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AdoptionAdvisorReportGenerationConfigApiModel"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Update Adoption Advisor Report",
        "tags": [
          "Adoption Advisor"
        ]
      },
      "delete": {
        "description": "Delete Adoption Advisor Report",
        "operationId": "adoption-advisor-delete-report",
        "parameters": [
          {
            "in": "path",
            "name": "reportId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Delete Adoption Advisor Report",
        "tags": [
          "Adoption Advisor"
        ]
      }
    },
    "/adoptionadvisor/report/{reportId}/download": {
      "get": {
        "description": "Download Latest Adoption Advisor Report",
        "operationId": "adoption-advisor-download-latest-report",
        "parameters": [
          {
            "in": "path",
            "name": "reportId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "bad_request"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Download Latest Adoption Advisor Report",
        "tags": [
          "Adoption Advisor"
        ]
      }
    },
    "/adoptionadvisor/report/{reportId}/{createdOn}/download": {
      "get": {
        "description": "Download Adoption Advisor Report",
        "operationId": "adoption-advisor-download-report-by-id-and-creation-time",
        "parameters": [
          {
            "in": "path",
            "name": "reportId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "createdOn",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          },
          "204": {
            "description": "pending"
          },
          "400": {
            "description": "error"
          },
          "404": {
            "description": "not_found / error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Download Adoption Advisor Report",
        "tags": [
          "Adoption Advisor"
        ]
      }
    },
    "/v2/alert/rule": {
      "get": {
        "description": "Returns all alert rules you have permission to see based on your role. The data returned does not include an open alerts count.  \r\n\r\nThis request does not return a populated **alertRuleNotificationConfig** property \nin the response object. Use [Get Alert Rule by ID](/prisma-cloud/api/cspm/get-alert-rule)  \nto retrieve a response that includes a populated **alertRuleNotificationConfig** property.\n",
        "operationId": "get-alert-rules-v2",
        "parameters": [
          {
            "description": "Process only enabled alert rules",
            "in": "query",
            "name": "enabled",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PolicyScanConfigViewModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "List Alert Rules V2",
        "tags": [
          "Alert Rules"
        ]
      }
    },
    "/alert/rule": {
      "post": {
        "description": "Adds a new alert rule.  \r\n\r\nBy default, all alerts that this alert rule triggers will display on the Alerts page. \nYou can also send Prisma Cloud alerts that this alert rule triggers to one or more third-party\ntools that you have integrated with the Prisma Cloud service. You can also configure the alert rule \nto send email notifications.\n\nTo send a Prisma Cloud alert to a third-party tool, you must configure an **AlertRuleNotificationConfig** object \nas part of your request body parameters. The content of the **AlertRuleNotificationConfig** object \ndepends on the third-party tool. If the tools require **AlertRuleNotificationConfig.id** or \n**AlertRuleNotificationConfig.templateId**, you can use \n[Get Integrations](/prisma-cloud/api/cspm/get-all-integrations) to get such information. \n\nTo add an Alert Rule, the required request body parameters are:\n\n* **name**\n* **description**\n* **allowAutoRemediate**\n* **enabled**\n* **target**\n* **target.accountGroups**\n* **scanAll**\n\nThe default values for the optional boolean parameters are in the table below:\n\n Optional Request Body Parameter | Default  \n---------------------------------| -------\n**allowAutoRemediate** | false\n**notifyOnDismissed** | false\n**notifyOnOpen** | true \n**notifyOnResolved** | false\n**notifyOnSnoozed** | false\n**deleted** | false\n\nYou can also specify addition **target** parameters to narrow the conditions that trigger alerts for this alert rule.\n\nIf **policies** is empty, then Prisma Cloud will scan all policies for violations to trigger alerts.\n\nUnder certain circumstances, you can also specify an array of **policyLabels** to identify policies. The following\nconditions must be met for you to use the **policyLabels** parameter:\n\n* The request body parameter **scanAll** must be false.\n* The policy associated with the policy label cannot be included in the request body parameter **policies**.\n",
        "operationId": "add-alert-rule",
        "requestBody": {
          "content": {
            "application/json; charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PolicyScanConfigModel"
              }
            }
          },
          "description": "Model for Policy Scan Config",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyScanConfigModel"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "invalid_param_value / auto_remediation_only_for_config_remediable_policies / missing_required_param / non_notification_state_selected / invalid_notification_state / invalid_resource_list_id / snooze_time_must_be_relative / dismissal_reason_required / has_overlaps_in_resource_list_rules / missing_required_param"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Add an Alert Rule",
        "tags": [
          "Alert Rules"
        ]
      }
    },
    "/alert/rule/{id}": {
      "get": {
        "description": "Returns information about the alert rule with the specified ID.",
        "operationId": "get-alert-rule",
        "parameters": [
          {
            "description": "Alert rule ID (also known as the \"policyScanConfigId\")",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyScanConfigViewModel"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "invalid_policy_id"
          },
          "403": {
            "description": "not_owner_or_same_role"
          },
          "404": {
            "description": "no_results"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Get Alert Rule by ID",
        "tags": [
          "Alert Rules"
        ]
      },
      "put": {
        "description": "Updates information about the alert rule that has the specified ID.",
        "operationId": "update-alert-rule",
        "parameters": [
          {
            "description": "Alert rule ID (also known as the \"policyScanConfigId\")",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PolicyScanConfigModel"
              }
            }
          },
          "description": "Model for Policy Scan Config",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyScanConfigModel"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "invalid_policy_id / missing_required_param / non_notification_state_selected / invalid_notification_state / invalid_resource_list_id / snooze_time_must_be_relative / dismissal_reason_required / has_overlaps_in_resource_list_rules"
          },
          "404": {
            "description": "not_found"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Update Alert Rule",
        "tags": [
          "Alert Rules"
        ]
      },
      "delete": {
        "description": "Deletes the alert rule that has the specified ID.",
        "operationId": "delete-alert-rule",
        "parameters": [
          {
            "description": "Alert rule ID (also known as the \"policyScanConfigId\")",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "400": {
            "description": "invalid_policy_id"
          },
          "403": {
            "description": "incomplete_account_group_access"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Delete Alert Rule",
        "tags": [
          "Alert Rules"
        ]
      }
    },
    "/filter/alert/suggest": {
      "get": {
        "description": "Returns an object whose keys are the available policy filters. The corresponding values are default or recently set filter options",
        "operationId": "get-alert-filter-and-options",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AlertFilterSuggestion"
                }
              }
            },
            "description": "success"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "List Alert Filters",
        "tags": [
          "Alerts"
        ]
      },
      "post": {
        "description": "Returns available options for an alert filter key. Supports fuzzy autocomplete search. If you specify a **query** value in the request body parameters, the response includes only items that contain the **query** string.",
        "operationId": "get-alert-filter-options",
        "requestBody": {
          "content": {
            "application/json; charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/FilterSuggestionModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParsedTableFilter"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "List Alert Filter Autocomplete Suggestions",
        "tags": [
          "Alerts"
        ]
      }
    },
    "/alert": {
      "get": {
        "description": "Returns a list of alerts that match the constraints specified in the query parameters. Max 10k results. To get more, use **List Alerts V2 - GET**.  \r\n\r\nIn the response object:\n\n* Property **riskDetail** is deprecated.\n* Property **resource.cloudServiceName** is populated only for alerts whose resources belong to a cloud service.\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 2/sec \n* Burst limit: 10/sec        \n",
        "operationId": "get-alerts",
        "parameters": [
          {
            "description": "Time Type",
            "in": "query",
            "name": "timeType",
            "required": true,
            "schema": {
              "enum": [
                "relative"
              ],
              "type": "string"
            }
          },
          {
            "description": "Number of **timeUnits**",
            "in": "query",
            "name": "timeAmount",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time Unit",
            "in": "query",
            "name": "timeUnit",
            "required": true,
            "schema": {
              "enum": [
                "minute",
                "hour",
                "day",
                "week",
                "month",
                "year"
              ],
              "type": "string"
            }
          },
          {
            "description": "true = Return detailed alert data.",
            "in": "query",
            "name": "detailed",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Comma-separated list of specific fields to retrieve. Allowed values: alert.id, alert.status, alert.time, cloud.accountId, cloud.account, cloud.region, resource.id, resource.name, policy.name, policy.type, policy.severity",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of items that will be returned in one response. The maximum cannot exceed 10,000. The default is 10,000.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Alert ID",
            "in": "query",
            "name": "alert.id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Alert status",
            "in": "query",
            "name": "alert.status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud account",
            "in": "query",
            "name": "cloud.account",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud account Id",
            "in": "query",
            "name": "cloud.accountId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Account group",
            "in": "query",
            "name": "account.group",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud type",
            "in": "query",
            "name": "cloud.type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud region",
            "in": "query",
            "name": "cloud.region",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud service",
            "in": "query",
            "name": "cloud.service",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy ID",
            "in": "query",
            "name": "policy.id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy name",
            "in": "query",
            "name": "policy.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy severity",
            "in": "query",
            "name": "policy.severity",
            "required": false,
            "schema": {
              "enum": [
                "critical",
                "high",
                "medium",
                "low",
                "informational"
              ],
              "type": "string"
            }
          },
          {
            "description": "Policy label",
            "in": "query",
            "name": "policy.label",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy type",
            "in": "query",
            "name": "policy.type",
            "required": false,
            "schema": {
              "enum": [
                "config",
                "network",
                "audit_event"
              ],
              "type": "string"
            }
          },
          {
            "description": "Policy compliance standard name",
            "in": "query",
            "name": "policy.complianceStandard",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy compliance requirement name",
            "in": "query",
            "name": "policy.complianceRequirement",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy compliance section ID",
            "in": "query",
            "name": "policy.complianceSection",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy is remediable",
            "in": "query",
            "name": "policy.remediable",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Alert rule name",
            "in": "query",
            "name": "alertRule.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource ID",
            "in": "query",
            "name": "resource.id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource name",
            "in": "query",
            "name": "resource.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource TYPE",
            "in": "query",
            "name": "resource.type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AlertModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "internal_error"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "List Alerts - GET",
        "tags": [
          "Alerts"
        ]
      },
      "post": {
        "description": "Returns a list of alerts that matches the constraints specified in the body parameters. Max 10k results. To get more, use **List Alerts V2 - POST**.  \r\n\r\nThe **fields** body parameter allows you to request specific fields from the alert payload. These fields\nare separate from the filters you specify. The following are valid **fields** items.\n\n* alert.id\n* alert.status\n* alert.time\n* cloud.account\n* cloud.accountId\n* cloud.region\n* resource.id\n* resource.name\n* policy.name\n* policy.type\n* policy.severity\n\nThe **filters** body parameter enables you to narrow your request for alerts. See \n[List Alert Filters](/prisma-cloud/api/cspm/get-alert-filter-and-options) \nfor an API request to list all the valid filters.\n\nData in the response object does not include alert rules.\n\nAlso, in the response object:\n\n* Property **riskDetail** is deprecated.\n* Property **resource.cloudServiceName** is populated only for alerts whose resources belong to a cloud service.\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 2/sec \n* Burst limit: 10/sec        \n",
        "operationId": "post-alerts",
        "parameters": [
          {
            "description": "true = Return detailed alert data. Default is false. Overrides **detailed** in body param.",
            "in": "query",
            "name": "detailed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/FilterModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AlertModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "internal_error"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "List Alerts - POST",
        "tags": [
          "Alerts"
        ]
      }
    },
    "/v2/alert": {
      "get": {
        "description": "Returns a paginated list of alerts from the Prisma Cloud platform.  \r\n\r\nData in the response object does not include alert rules.\n\nAlso, in the response object:\n\n* Property **riskDetail** is deprecated.\n* Property **items[].resource.cloudServiceName** is populated only for alerts whose resources belong to a cloud service.\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 2/sec \n* Burst limit: 10/sec      \n",
        "operationId": "get-alerts-v2",
        "parameters": [
          {
            "description": "Time Type",
            "in": "query",
            "name": "timeType",
            "required": true,
            "schema": {
              "enum": [
                "relative"
              ],
              "type": "string"
            }
          },
          {
            "description": "Number of **timeUnits**",
            "in": "query",
            "name": "timeAmount",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time Unit",
            "in": "query",
            "name": "timeUnit",
            "required": true,
            "schema": {
              "enum": [
                "minute",
                "hour",
                "day",
                "week",
                "month",
                "year"
              ],
              "type": "string"
            }
          },
          {
            "description": "true = Return detailed alert data.",
            "in": "query",
            "name": "detailed",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Array of specific fields to return. Allowed fields: alert.id, alert.status, alert.time, cloud.accountId, cloud.account, cloud.region, resource.id, resource.name, policy.name, policy.type, policy.severity",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Response object property by which to sort response list. The valid values are in the response object attribute **sortAllowedColumns**. The format is **property:asc** for ascending and **property:desc** for descending sort ",
            "example": "sortBy=id:desc&sortBy=firstseen:asc,lastseen:desc",
            "in": "query",
            "name": "sortBy",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of items that will be returned in one response. The maximum cannot exceed 10,000. The default is 10,000.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Token that identifies the required page of data. When there are multiple pages of data in the response, set **pageToken** to the **nextPageToken** value from the previous API response to retrieve the next page of data.",
            "in": "query",
            "name": "pageToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Alert ID",
            "in": "query",
            "name": "alert.id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Alert status",
            "in": "query",
            "name": "alert.status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud account",
            "in": "query",
            "name": "cloud.account",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud account Id",
            "in": "query",
            "name": "cloud.accountId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Account group",
            "in": "query",
            "name": "account.group",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud type",
            "in": "query",
            "name": "cloud.type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud region",
            "in": "query",
            "name": "cloud.region",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud service",
            "in": "query",
            "name": "cloud.service",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy ID",
            "in": "query",
            "name": "policy.id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy name",
            "in": "query",
            "name": "policy.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy severity",
            "in": "query",
            "name": "policy.severity",
            "required": false,
            "schema": {
              "enum": [
                "critical",
                "high",
                "medium",
                "low",
                "informational"
              ],
              "type": "string"
            }
          },
          {
            "description": "Policy label",
            "in": "query",
            "name": "policy.label",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy type",
            "in": "query",
            "name": "policy.type",
            "required": false,
            "schema": {
              "enum": [
                "config",
                "network",
                "audit_event"
              ],
              "type": "string"
            }
          },
          {
            "description": "Policy compliance standard name",
            "in": "query",
            "name": "policy.complianceStandard",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy compliance requirement name",
            "in": "query",
            "name": "policy.complianceRequirement",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy compliance section ID",
            "in": "query",
            "name": "policy.complianceSection",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy is remediable",
            "in": "query",
            "name": "policy.remediable",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Alert rule name",
            "in": "query",
            "name": "alertRule.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource ID",
            "in": "query",
            "name": "resource.id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource name",
            "in": "query",
            "name": "resource.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource TYPE",
            "in": "query",
            "name": "resource.type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultsAlertModel"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "internal_error"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "List Alerts V2 - GET",
        "tags": [
          "Alerts"
        ]
      },
      "post": {
        "description": "Returns a paginated list of alerts that matches the constraints specified in the body parameters.  \r\n\r\nThe **fields** request body parameter allows you to request specific fields from the alert payload. \nThese fields are separate from the filters you specify. The following are valid **fields** items.\n\n* alert.id\n* alert.status\n* alert.time\n* cloud.account\n* cloud.accountId\n* cloud.region\n* resource.id\n* resource.name\n* policy.name\n* policy.type\n* policy.severity\n\nThe **filters** request body parameter enables you to narrow your request for alerts. See \n[List Alert Filters](/prisma-cloud/api/cspm/get-alert-filter-and-options) \nfor an API request to list all the valid filters.\n\nYou can find the valid values for the **sortBy** request body parameter in the response \nobject attribute **sortAllowedColumns**.\n\nData in the response object does not include alert rules.\n\nAlso, in the response object:\n\n* Property **riskDetail** is deprecated.\n* Property **items[].resource.cloudServiceName** is populated only for alerts whose resources belong to a cloud service.\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 2/sec \n* Burst limit: 10/sec \n",
        "operationId": "post-alerts-v2",
        "parameters": [
          {
            "description": "true = Return detailed alert data. Default is false. Overrides **detailed** in body param.",
            "in": "query",
            "name": "detailed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/FilterModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultsAlertModel"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "internal_error"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "List Alerts V2 - POST",
        "tags": [
          "Alerts"
        ]
      }
    },
    "/alert/policy": {
      "get": {
        "description": "Returns alert counts grouped by policy. You can use query parameters to narrow the response.  \r\n\r\nIn the response object:\n\n* Property **alertRules** is not populated.         \n* Property **riskDetail** is deprecated.\n* Property **resource.cloudServiceName** is not populated.\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 1/sec \n* Burst limit: 5/sec        \n",
        "operationId": "get-alerts-grouped",
        "parameters": [
          {
            "description": "Alert ID",
            "in": "query",
            "name": "alert.id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Alert status",
            "in": "query",
            "name": "alert.status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud account",
            "in": "query",
            "name": "cloud.account",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud account Id",
            "in": "query",
            "name": "cloud.accountId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Account group",
            "in": "query",
            "name": "account.group",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud type",
            "in": "query",
            "name": "cloud.type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud region",
            "in": "query",
            "name": "cloud.region",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cloud service",
            "in": "query",
            "name": "cloud.service",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy ID",
            "in": "query",
            "name": "policy.id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy name",
            "in": "query",
            "name": "policy.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy severity",
            "in": "query",
            "name": "policy.severity",
            "required": false,
            "schema": {
              "enum": [
                "critical",
                "high",
                "medium",
                "low",
                "informational"
              ],
              "type": "string"
            }
          },
          {
            "description": "Policy label",
            "in": "query",
            "name": "policy.label",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy type",
            "in": "query",
            "name": "policy.type",
            "required": false,
            "schema": {
              "enum": [
                "config",
                "network",
                "audit_event"
              ],
              "type": "string"
            }
          },
          {
            "description": "Policy compliance standard name",
            "in": "query",
            "name": "policy.complianceStandard",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy compliance requirement name",
            "in": "query",
            "name": "policy.complianceRequirement",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy compliance section ID",
            "in": "query",
            "name": "policy.complianceSection",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Policy is remediable",
            "in": "query",
            "name": "policy.remediable",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "description": "Alert rule name",
            "in": "query",
            "name": "alertRule.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource ID",
            "in": "query",
            "name": "resource.id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource name",
            "in": "query",
            "name": "resource.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource TYPE",
            "in": "query",
            "name": "resource.type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AlertModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "internal_error"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "List Alert Counts By Policy - GET",
        "tags": [
          "Alerts"
        ]
      },
      "post": {
        "description": "Returns alert counts grouped by policy. You can use body parameters to narrow the response.  \r\n\r\nIn the response object:\n\n* Property **alertRules** is not populated.       \n* Property **riskDetail** is deprecated.\n* Property **resource.cloudServiceName** is not populated.\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 1/sec \n* Burst limit: 5/sec        \n",
        "operationId": "post-alerts-grouped",
        "parameters": [
          {
            "description": "true = Return detailed alert data. Default is false. Overrides **detailed** in body param.",
            "in": "query",
            "name": "detailed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/FilterModel"
              }
            }
          },
          "description": "Model for Filter",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AlertModel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "internal_error"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "List Alert Counts By Policy - POST",
        "tags": [
          "Alerts"
        ]
      }
    },
    "/alert/{id}": {
      "get": {
        "description": "Returns information about an alert for the specified ID.  \r\n\r\nIn the response object, field **riskDetail** is deprecated.\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 5/sec \n* Burst limit: 10/sec        \n",
        "operationId": "get-alert",
        "parameters": [
          {
            "description": "Alert ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "true = Return detailed alert data. Default is false.",
            "in": "query",
            "name": "detailed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AlertModel"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "internal_error/invalid_alert_id"
          },
          "404": {
            "description": "not_found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Alert Info",
        "tags": [
          "Alerts"
        ]
      }
    },
    "/alert/dismiss": {
      "post": {
        "description": "Dismisses one or more alerts on the Prisma Cloud platform. If the caller specifies a dismissal time range, then alerts will snooze for that time period rather than be dismissed.",
        "operationId": "dismiss-alerts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertStatusChangeRequestModel"
              }
            }
          },
          "description": "Model for Alert Status Change Request",
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "missing_required_parameter / invalid_parameter_value / internal_error / violates_minimum_alert_dismiss_duration_time"
          },
          "403": {
            "description": "permission_error"
          },
          "404": {
            "description": "alert_no_longer_in_expected_state"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Dismiss Alerts",
        "tags": [
          "Alerts"
        ]
      }
    },
    "/alert/dismiss/require_dismissal_note": {
      "get": {
        "description": "Indicates whether or not the user is required to specify a reason (dismissal note) when dismissing an alert.",
        "operationId": "is-dismissal-note-required",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RequireDismissalNoteConfigModel"
                }
              }
            },
            "description": "successful operation"
          },
          "403": {
            "description": "permission_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Is Dismissal Note Required",
        "tags": [
          "Alerts"
        ]
      },
      "put": {
        "description": "Manages whether or not a user must provide a reason (dismissal note) when dismissing an alert on the Prisma Cloud platform.",
        "operationId": "set-dismissal-note-required",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequireDismissalNoteConfigModel"
              }
            }
          },
          "description": "Model for Require Dismissal Note Config"
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "missing_required_parameter"
          },
          "403": {
            "description": "permission_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Update Dismissal Note Requirement",
        "tags": [
          "Alerts"
        ]
      }
    },
    "/alert/reopen": {
      "post": {
        "description": "Sets the status of one or more dismissed or snoozed alerts on the Prisma Cloud platform to **open**.",
        "operationId": "reopen-alerts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertStatusChangeRequestModel"
              }
            }
          },
          "description": "Model for Alert Status Change Request"
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "missing_required_parameter / invalid_parameter_value / internal_error"
          },
          "403": {
            "description": "permission_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Reopen Alerts",
        "tags": [
          "Alerts"
        ]
      }
    },
    "/alert/count/{status}": {
      "get": {
        "description": "Returns an alert count for the specified status.  \r\n\r\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 2/sec \n* Burst limit: 10/sec\n",
        "operationId": "get-alert-count",
        "parameters": [
          {
            "description": "Alert Status",
            "in": "path",
            "name": "status",
            "required": true,
            "schema": {
              "enum": [
                "open",
                "dismissed",
                "snoozed",
                "resolved"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CountModel"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "invalid_parameter_value"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Get Alerts Count By Status",
        "tags": [
          "Alerts"
        ]
      }
    },
    "/alert/jobs": {
      "post": {
        "description": "Submits a job to generate an alerts list that matches the constraints in the body parameters and is downloadable in JSON format. Returns the job ID and job submission status.  \r\n\r\nFilter model fields specific to pagination (**sortBy**, **limit**, and **pageToken**) do not apply to this request, \neven though the body parameters include them.\n\nThe **fields** body parameter allows you to request specific fields from the alert payload. These \nfields are separate from the filters you specify. The following are valid **fields** items.\n\n* alert.id\n* alert.status\n* alert.time\n* cloud.account\n* cloud.accountId\n* cloud.region\n* resource.id\n* resource.name\n* policy.name\n* policy.type\n* policy.severity\n\n The **filters** body parameter enables you to narrow your request for alerts. See \n [List Alert Filters](/prisma-cloud/api/cspm/get-alert-filter-and-options) \n for an API request to list all the valid filters.\n\n  #### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 2/sec \n* Burst limit: 10/sec        \n",
        "operationId": "submit-job-for-listing-alerts",
        "requestBody": {
          "content": {
            "application/json; charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/FilterModel"
              }
            }
          },
          "description": "Model for Filter",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJob"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "internal_error"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Submit Job to List Alerts",
        "tags": [
          "Alerts"
        ]
      }
    },
    "/alert/jobs/{id}/status": {
      "get": {
        "description": "Get the status of the alerts list job with the specified job ID",
        "operationId": "get-alerts-job-status",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJob"
                }
              }
            },
            "description": "successful operation"
          },
          "404": {
            "description": "Job Id `<id>` not found"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Get Alerts List Job Status",
        "tags": [
          "Alerts"
        ]
      }
    },
    "/alert/jobs/{id}/download": {
      "get": {
        "description": "Downloads the generated alerts list in JSON format for the specified job ID.",
        "operationId": "download-alerts-list-json",
        "parameters": [
          {
            "description": "Job ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "internal_error"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Download Alerts List JSON",
        "tags": [
          "Alerts"
        ]
      }
    },
    "/alert/csv": {
      "post": {
        "description": "Submits a job to generate an alerts list that matches the constraints in the body parameters and is downloadable as a CSV file. Returns the job ID and job submission status.  \r\n\r\nFilter model fields specific to pagination (**sortBy**, **limit**, and **pageToken**) do not apply to this request, \neven though the body parameters include them.\n\nThe **fields** request body parameter is ignored!\n\nThe **filters** body parameter enables you to narrow your request for alerts. See [List Alert Filters](/prisma-cloud/api/cspm/get-alert-filter-and-options) \nfor an API request to list all the valid filters.\n",
        "operationId": "submit-an-alert-csv-download-job",
        "parameters": [
          {
            "description": "true = Return detailed alert data. Default is false. Overrides **detailed** in body param.",
            "in": "query",
            "name": "detailed",
[...]
