html[data-theme="dark"] .dot-background-container {
  background-color: black;
}

html[data-theme="dark"] .dot-background-radial-gradient {
  background-image: radial-gradient(#404040 1px, transparent 1px);
}

html[data-theme="dark"] .dot-background-mask-image {
  background-color: black;
}
