html[data-theme="dark"] {
  .current-word-container,
  .flipwords-container {
    color: var(--color-neutral-100);
  }

  .explore-dev-docs-btn {
    color: #ffffff;

    &:hover {
      color: #ffffff;
    }
  }
}

.explore-dev-docs-btn {
  color: #000000;

  &:hover {
    color: #000000;
  }
}
