html[data-theme="dark"] {
  .feature-container {
    border-color: var(--color-neutral-800);
  }

  .feature-title {
    color: var(--color-neutral-100);
  }

  .feature-description {
    color: var(--color-neutral-300);
  }

  .dark-from-neutral-800-gradient {
    --tw-gradient-from: var(--color-neutral-800);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .dark-from-neutral-700-gradient {
    --tw-gradient-from: var(--color-neutral-700);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }
}
