openapi: 3.1.0
info:
  title: Prisma AIRS Red Teaming Dataplane API
  description: 'Red Teaming Data Plane API - Data processing and scanning services for AI/ML model security. © 2025 Palo Alto Networks, Inc'
  version: 0.87.0
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  license:
    name: MIT
    url: https://opensource.org/license/mit
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
servers:
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
security:
  - bearerAuth: []

tags:
 - name: Categories
   description: Operations for managing scan categories.
 - name: CustomAttack
   description: Operations for custom attack configurations and prompts.
 - name: Dashboard
   description: Operations for dashboard data and statistics.
 - name: ErrorLogs
   description: Operations for retrieving and managing error logs.
 - name: Languages
   description: Operations for language configuration and multilingual support.
 - name: Quota
   description: Operations for quota management and limits.
 - name: Report
   description: Operations for generating and retrieving scan job reports for static and dynamic.
 - name: Scan
   description: Operations for creating and managing scan jobs.
 - name: Sentiment
   description: Operations for managing sentiment and scan report summaries.
 - name: Templates
   description: Operations for managing scan templates and configurations.
 - name: GoalCategories
   description: Operations related to GoalCategories.

paths:
  /v1/scan:
    post:
      tags:
      - Scan
      summary: Create scan
      description: Create a new scan target.
      operationId: create_job_v1_scan_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCreateRequestSchema'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Scan
      summary: List scans
      description: List jobs with filtering and pagination.
      operationId: list_jobs_v1_scan_get
      parameters:
      -
        name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Number of jobs to return (1-100)
          default: 50
          title: Limit
        description: Number of jobs to return (1-100)
      -
        name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of jobs to skip for pagination
          default: 0
          title: Skip
        description: Number of jobs to skip for pagination
      -
        name: status
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/JobStatusFilter'
          - type: 'null'
          description: Filter by job status
          title: Status
        description: Filter by job status
      -
        name: job_type
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/JobType'
          - type: 'null'
          description: Filter by job type
          title: Job Type
        description: Filter by job type
      -
        name: search
        in: query
        required: false
        schema:
          anyOf:
          -
            type: string
            maxLength: 255
          - type: 'null'
          description: Search jobs by name
          title: Search
        description: Search jobs by name
      -
        name: target_id
        in: query
        required: false
        schema:
          anyOf:
          -
            type: string
            format: uuid
          - type: 'null'
          description: Filter by target UUID
          title: Target Id
        description: Filter by target UUID
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/scan/{job_id}:
    get:
      tags:
      - Scan
      summary: Get scan details
      description: Get a job by its ID.
      operationId: get_job_v1_scan__job_id__get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/scan/{job_id}/abort:
    post:
      tags:
      - Scan
      summary: Abort scan
      description: Abort a running job by cancelling its workflow and updating status.
      operationId: abort_job_v1_scan__job_id__abort_post
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAbortResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/scan/{job_id}/runtime-profile:
    put:
      tags:
      - Scan
      summary: Set scan runtime profile
      description: |
        Record the AIRS runtime profile created from this scan's findings.

        Naturally idempotent: the write sets a field to a value, so a retry lands
        the same state and no retry hint is needed — same rationale as the
        job-scoped override routes on ReportRouter.

        Read back via GET /v1/scan/{job_id}; there is deliberately no dedicated
        GET, because the id lives in job_metadata which that endpoint returns.
      operationId: set_runtime_profile_v1_scan__job_id__runtime_profile_put
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuntimeProfileUpdateRequestSchema'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/categories:
    get:
      tags:
      - Categories
      summary: Get all categories with subcategories
      description: Get all available categories with their subcategories.
      operationId: get_all_categories_v1_categories_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryModel'
                type: array
                title: Response Get All Categories V1 Categories Get
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/scan/scan-metadata:
    get:
      tags:
      - Templates
      summary: Get scan target metadata
      description: Get the metadata for scan targets.
      operationId: get_scan_metadata_v1_scan_scan_metadata_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Get Scan Metadata V1 Scan Scan Metadata Get
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/static/{job_id}/list-attacks:
    get:
      tags:
      - Report
      summary: List attacks for a scan
      description: List attacks with filtering and pagination.
      operationId: list_attacks_v1_report_static__job_id__list_attacks_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Number of attacks to return (1-100)
          default: 50
          title: Limit
        description: Number of attacks to return (1-100)
      -
        name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of attacks to skip for pagination
          default: 0
          title: Skip
        description: Number of attacks to skip for pagination
      -
        name: attack_status
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/AttackStatus'
          - type: 'null'
          description: Filter by attack processing status
          title: Attack Status
        description: Filter by attack processing status
      -
        name: attack_type
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/AttackType'
          - type: 'null'
          description: Filter by attack type
          title: Attack Type
        description: Filter by attack type
      -
        name: category
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/Category'
          - type: 'null'
          description: Filter by attack category
          title: Category
        description: Filter by attack category
      -
        name: sub_category
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/SecuritySubCategory'
          - $ref: '#/components/schemas/SafetySubCategory'
          - $ref: '#/components/schemas/BrandSubCategory'
          - type: 'null'
          description: Filter by attack subcategory
          title: Sub Category
        description: Filter by attack subcategory
      -
        name: compliance
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/ComplianceSubCategory'
          - type: 'null'
          description: Filter by compliance framework
          title: Compliance
        description: Filter by compliance framework
      -
        name: threat
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: '[Deprecated: use status] Filter by threat status'
          title: Threat
        description: '[Deprecated: use status] Filter by threat status'
      -
        name: severity
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/SeverityFilter'
          - type: 'null'
          description: Filter by severity level
          title: Severity
        description: Filter by severity level
      -
        name: status
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/StatusQueryParam'
          - type: 'null'
          description: 'Filter by status: SUCCESSFUL, FAILED, ERROR'
          title: Status
        description: 'Filter by status: SUCCESSFUL, FAILED, ERROR'
      -
        name: attack_modality
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/Modality'
          - type: 'null'
          description: 'Filter by attack modality: FILE (document attacks) or TEXT (text-only)'
          title: Attack Modality
        description: 'Filter by attack modality: FILE (document attacks) or TEXT (text-only)'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttackListResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/static/{job_id}/attack/{attack_id}:
    get:
      tags:
      - Report
      summary: Get attack details
      description: Get detailed attack information including outputs and framework techniques.
      operationId: get_attack_detail_v1_report_static__job_id__attack__attack_id__get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: attack_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Attack Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttackDetailResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/static/{job_id}/report:
    get:
      tags:
      - Report
      summary: Get attack library report
      description: Get attack library report for a job.  Raises ForbiddenError if report is partially complete and locked.
      operationId: get_attack_report_v1_report_static__job_id__report_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticJobReportSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/static/{job_id}/runtime-policy-config:
    get:
      tags:
      - Report
      summary: Get attack library runtime security profile
      description: Get Runtime security profile for a static job.
      operationId: get_static_runtime_security_policy_config_v1_report_static__job_id__runtime_policy_config_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeSecurityProfileResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/static/{job_id}/asr:
    get:
      tags:
      - Report
      summary: Get static scan ASR breakdown
      description: |
        Category and subcategory ASR for a static scan.

        Same response schema as the dynamic variant, so the runtime-profile
        creation UI renders one component for both scan kinds.

        Gated by the same partial-report lock as every other static report route:
        an unpaid partial report must not leak its numbers through a side door.
      operationId: get_static_asr_breakdown_v1_report_static__job_id__asr_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsrResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/static/{job_id}/remediation:
    get:
      tags:
      - Report
      summary: Get attack library scan remediation
      description: Get other remediation measures for a static job.
      operationId: get_static_remediations_v1_report_static__job_id__remediation_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemediationResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/dynamic/{job_id}/report:
    get:
      tags:
      - Report
      summary: Get agent scan report
      description: Get dynamic job report for a job.
      operationId: get_dynamic_job_report_v1_report_dynamic__job_id__report_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynamicJobReportSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/dynamic/{job_id}/runtime-policy-config:
    get:
      tags:
      - Report
      summary: Get agent scan runtime security profile
      description: Get Runtime security profile for a dynamic job.
      operationId: get_dynamic_runtime_security_policy_config_v1_report_dynamic__job_id__runtime_policy_config_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeSecurityProfileResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/dynamic/{job_id}/asr:
    get:
      tags:
      - Report
      summary: Get dynamic scan ASR breakdown
      description: |
        Goal-category ASR for a dynamic scan.

        Same response schema as the static variant. No partial-report gate here,
        matching the sibling dynamic routes, which do not carry one.
      operationId: get_dynamic_asr_breakdown_v1_report_dynamic__job_id__asr_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsrResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/dynamic/{job_id}/remediation:
    get:
      tags:
      - Report
      summary: Get agent scan remediation
      description: Get other remediation measures for a dynamic job.
      operationId: get_dynamic_remediations_v1_report_dynamic__job_id__remediation_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynamicRemediationResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/dynamic/{job_id}/list-goals:
    get:
      tags:
      - Report
      summary: List agent scan goals
      description: Get the goals for a job.
      operationId: list_dynamic_job_goals_v1_report_dynamic__job_id__list_goals_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of goals to skip for pagination
          default: 0
          title: Skip
        description: Number of goals to skip for pagination
      -
        name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Number of goals to return (1-100)
          default: 20
          title: Limit
        description: Number of goals to return (1-100)
      -
        name: count
        in: query
        required: false
        schema:
          type: boolean
          description: Include total count of goals
          default: true
          title: Count
        description: Include total count of goals
      -
        name: status
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/StatusQueryParam'
          - type: 'null'
          description: Filter by status
          title: Status
        description: Filter by status
      -
        name: goal_type
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/GoalTypeQueryParam'
          - type: 'null'
          description: Filter by goal type
          title: Goal Type
        description: Filter by goal type
      -
        name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search string to filter goals
          title: Search
        description: Search string to filter goals
      -
        name: goal_category
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/GoalCategory'
          - type: 'null'
          description: Filter by goal category
          title: Goal Category
        description: Filter by goal category
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalListResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/dynamic/{job_id}/goal/{goal_id}/list-streams:
    get:
      tags:
      - Report
      summary: List agent scan goal deatils
      description: Get streams for a specific goal in a job.
      operationId: list_dynamic_job_streams_v1_report_dynamic__job_id__goal__goal_id__list_streams_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: goal_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Goal Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamListResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/dynamic/stream/{stream_id}:
    get:
      tags:
      - Report
      summary: List agent scan stream details
      operationId: get_stream_detail_v1_report_dynamic_stream__stream_id__get
      parameters:
      -
        name: stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Stream Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamDetailResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      description: Get detailed stream information including iteration data for a specific stream.
  /v1/report/{job_id}/download:
    get:
      tags:
      - Report
      summary: Download report
      description: 'Returns a short-lived signed URL for a job''s report archive. Navigate to `download_url` to fetch the file directly from storage; the response body is JSON, not the archive itself.'
      operationId: download_report_v1_report__job_id__download_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: file_format
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/FileFormat'
          description: 'Format of the report file (CSV, JSON, or ALL)'
        description: 'Format of the report file (CSV, JSON, or ALL)'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportDownloadSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/{job_id}/generate-partial-report:
    post:
      tags:
      - Report
      summary: Generate partial scan report
      description: 'Unlock a partial report by consuming a quota credit.  This endpoint: - Validates the job is PARTIALLY_COMPLETE - Consumes 1 quota credit of the job type - Unlocks the report for viewing  **Returns:** - Updated job information with unlocked report'
      operationId: generate_partial_job_report_v1_report__job_id__generate_partial_report_post
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema: {}
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/{job_id}/regenerate:
    post:
      tags:
      - Report
      summary: Regenerate a job report
      description: |
        Enqueue a report regeneration for a finished scan.

        Returns 202 with the enqueued background job. Naturally idempotent via the
        service's in-flight dedup: a second call while one is running returns 409
        rather than spawning a duplicate workflow, so no retry hint is needed.
      operationId: regenerate_report_v1_report__job_id__regenerate_post
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        202:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegenerateResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/{job_id}/status:
    get:
      tags:
      - Report
      summary: Get report freshness status
      description: Report freshness for the edit/regenerate UI (ACTIVE/STALE/GENERATING/FAILED).
      operationId: get_report_status_v1_report__job_id__status_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportStatusResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/static/{job_id}/attack-multi-turn/{attack_id}:
    get:
      tags:
      - Report
      summary: Get multi-turn attack details
      description: Get detailed multi-turn attack information including outputs and framework techniques.
      operationId: get_attack_multi_turn_detail_v1_report_static__job_id__attack_multi_turn__attack_id__get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: attack_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Attack Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttackMultiTurnDetailResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/static/{job_id}/attack/{attack_id}/override:
    post:
      tags:
      - Report
      summary: Override attack output verdicts
      description: |
        Set human verdict overrides on a static attack's outputs, then re-roll
        the attack-level verdict. Naturally idempotent: the write sets each leaf to
        a value, so a retry lands the same state.
      operationId: threat_override_static_attack_v1_report_static__job_id__attack__attack_id__override_post
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: attack_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Attack Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreatOverrideRequest'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreatOverrideResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/static/{job_id}/attack-multi-turn/{attack_id}/override:
    post:
      tags:
      - Report
      summary: Override multi-turn attack verdicts
      description: |
        Set human verdict overrides on a multi-turn attack's turn rows, then
        re-roll the attack-level verdict.
      operationId: threat_override_static_multi_turn_v1_report_static__job_id__attack_multi_turn__attack_id__override_post
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: attack_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Attack Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreatOverrideRequest'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreatOverrideResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/report/dynamic/{job_id}/stream/{stream_id}/override:
    post:
      tags:
      - Report
      summary: Override stream iteration verdicts
      description: |
        Set human verdict overrides on a stream's iterations, then re-roll the
        stream-level and goal-level verdicts. job_id is in the path for parity with the
        static/custom override routes, and it binds the write: the ownership check
        requires every iteration to belong to both this stream and this job, so a
        mismatched pair is rejected rather than silently editing another job.
      operationId: threat_override_dynamic_stream_v1_report_dynamic__job_id__stream__stream_id__override_post
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Stream Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreatOverrideRequest'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreatOverrideResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/metering/quota:
    post:
      tags:
      - Quota
      summary: Get quota summary
      description: Get aggregated quota summary for the current TSG (POST endpoint for backward compatibility).
      operationId: post_quota_summary_v1_metering_quota_post
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaSummarySchema'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attacks/report/{job_id}:
    get:
      tags:
      - CustomAttack
      summary: Get custom attack Report
      description: Get comprehensive custom attack report.
      operationId: get_custom_attack_report_v1_custom_attacks_report__job_id__get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomAttackReportResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attacks/report/{job_id}/prompt-sets:
    get:
      tags:
      - CustomAttack
      summary: Get prompt sets
      description: Get prompt sets with filtering and pagination.
      operationId: get_prompt_sets_v1_custom_attacks_report__job_id__prompt_sets_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: property_filters
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: JSON string of property filters
          title: Property Filters
        description: JSON string of property filters
      -
        name: is_threat
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter by threat status
          title: Is Threat
        description: Filter by threat status
      -
        name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of records to skip
          default: 0
          title: Skip
        description: Number of records to skip
      -
        name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum number of records to return
          default: 20
          title: Limit
        description: Maximum number of records to return
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptSetsReportResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attacks/report/{job_id}/prompt-set/{prompt_set_id}/prompts:
    get:
      tags:
      - CustomAttack
      summary: Get prompts by set
      description: Get prompts for a specific prompt set with pagination.
      operationId: get_prompts_by_set_v1_custom_attacks_report__job_id__prompt_set__prompt_set_id__prompts_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: prompt_set_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Id
      -
        name: is_threat
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter by threat status
          title: Is Threat
        description: Filter by threat status
      -
        name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of records to skip
          default: 0
          title: Skip
        description: Number of records to skip
      -
        name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum number of records to return
          default: 20
          title: Limit
        description: Maximum number of records to return
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromptDetailResponse'
                title: Response Get Prompts By Set V1 Custom Attacks Report  Job Id  Prompt Set  Prompt Set Id  Prompts Get
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attacks/report/{job_id}/prompt/{prompt_id}:
    get:
      tags:
      - CustomAttack
      summary: Get prompt detail
      description: Get detailed information for a specific prompt.
      operationId: get_prompt_detail_v1_custom_attacks_report__job_id__prompt__prompt_id__get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: prompt_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptDetailResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attacks/job/{job_id}/list-custom-attacks:
    get:
      tags:
      - CustomAttack
      summary: List custom attacks
      description: List custom attacks with V2 features.
      operationId: list_custom_attacks_v1_custom_attacks_job__job_id__list_custom_attacks_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of records to skip
          default: 0
          title: Skip
        description: Number of records to skip
      -
        name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          description: Maximum number of records to return
          default: 100
          title: Limit
        description: Maximum number of records to return
      -
        name: threat
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: '[Deprecated: use status] Filter by threat status'
          title: Threat
        description: '[Deprecated: use status] Filter by threat status'
      -
        name: prompt_set_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by prompt set ID
          title: Prompt Set Id
        description: Filter by prompt set ID
      -
        name: property_value
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: JSON string of property filters
          title: Property Value
        description: JSON string of property filters
      -
        name: status
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/StatusQueryParam'
          - type: 'null'
          description: 'Filter by status: SUCCESSFUL, FAILED, ERROR'
          title: Status
        description: 'Filter by status: SUCCESSFUL, FAILED, ERROR'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomAttacksListResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attacks/job/{job_id}/attack/{attack_id}/list-outputs:
    get:
      tags:
      - CustomAttack
      summary: Get attack outputs
      description: Get outputs for a specific attack.
      operationId: get_attack_outputs_v1_custom_attacks_job__job_id__attack__attack_id__list_outputs_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: attack_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Attack Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomAttackOutputResponseSchema'
                title: Response Get Attack Outputs V1 Custom Attacks Job  Job Id  Attack  Attack Id  List Outputs Get
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attacks/job/{job_id}/property-stats:
    get:
      tags:
      - CustomAttack
      summary: Get property stats
      description: Get property-based statistics for custom attacks.
      operationId: get_property_stats_v1_custom_attacks_job__job_id__property_stats_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
                title: Response Get Property Stats V1 Custom Attacks Job  Job Id  Property Stats Get
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/custom-attacks/job/{job_id}/attack/{attack_id}/override:
    post:
      tags:
      - CustomAttack
      summary: Override custom attack verdicts
      description: |
        Set human verdict overrides on a custom attack's outputs, then re-roll
        the attack-level verdict. Naturally idempotent: the write sets each leaf to
        a value, so a retry lands the same state.
      operationId: threat_override_custom_attack_v1_custom_attacks_job__job_id__attack__attack_id__override_post
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: attack_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Attack Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreatOverrideRequest'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreatOverrideResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/error-log/job/{job_id}:
    get:
      tags:
      - ErrorLogs
      summary: List error logs for a scan
      description: List error logs for a specific job
      operationId: list_error_logs_for_job_v1_error_log_job__job_id__get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      -
        name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Number of error logs to return (1-100)
          default: 100
          title: Limit
        description: Number of error logs to return (1-100)
      -
        name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of error logs to skip for pagination
          default: 0
          title: Skip
        description: Number of error logs to skip for pagination
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLogListResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/error-log/job/{job_id}/download:
    get:
      tags:
      - ErrorLogs
      summary: Download error logs for a scan
      description: Download all error logs for a specific job as a CSV file.
      operationId: download_error_logs_for_job_v1_error_log_job__job_id__download_get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/error-log/target-profile/{target_id}:
    get:
      tags:
      - ErrorLogs
      summary: List profiling errors for a target
      description: List deduplicated profiling error logs for a target's latest profiling run.
      operationId: list_error_logs_for_target_profile_v1_error_log_target_profile__target_id__get
      parameters:
      -
        name: target_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Target Id
      -
        name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Number of errors to return (1-100)
          default: 5
          title: Limit
        description: Number of errors to return (1-100)
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLogListResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/goal-categories/{target_type}:
    get:
      tags:
      - GoalCategories
      summary: Get goal categories by target type
      operationId: get_goal_categories_v1_goal_categories__target_type__get
      parameters:
      -
        name: target_type
        in: path
        required: true
        schema:
          type: string
          title: Target Type
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalCategoryListResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/languages:
    get:
      tags:
      - Languages
      summary: Get available languages for scan
      description: Return allowed languages for the requesting tenant's scan page.
      operationId: get_languages_v1_languages_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantLanguagesResponseSchema'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/dashboard/scan-statistics:
    get:
      tags:
      - Dashboard
      summary: Get scan statistics and risk profile
      description: 'Returns scan counts, target statistics, status breakdown, and risk profile for dashboard display.'
      operationId: get_scan_statistics_v1_dashboard_scan_statistics_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanStatisticsResponseSchema'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/dashboard/score-trend:
    get:
      tags:
      - Dashboard
      summary: Get score trend for a target
      description: Returns time-series risk scores grouped by job type for chart display.
      operationId: get_score_trend_v1_dashboard_score_trend_get
      parameters:
      -
        name: target_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          description: Target UUID to fetch scores for
          title: Target Id
        description: Target UUID to fetch scores for
      -
        name: date_range
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/DateRangeFilter'
          description: Predefined date range filter
          default: LAST_7_DAYS
        description: Predefined date range filter
      -
        name: start_date
        in: query
        required: false
        schema:
          anyOf:
          -
            type: string
            format: date
          - type: 'null'
          description: Custom start date (overrides date_range if both provided)
          title: Start Date
        description: Custom start date (overrides date_range if both provided)
      -
        name: end_date
        in: query
        required: false
        schema:
          anyOf:
          -
            type: string
            format: date
          - type: 'null'
          description: Custom end date (overrides date_range if both provided)
          title: End Date
        description: Custom end date (overrides date_range if both provided)
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreTrendResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/sentiment:
    post:
      tags:
      - Sentiment
      summary: Update sentiment scan report
      description: Create or update sentiment for a job report.
      operationId: create_or_update_sentiment_v1_sentiment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentimentRequestSchema'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentimentResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/sentiment/{job_id}:
    get:
      tags:
      - Sentiment
      summary: Get sentiment for a scan
      description: Get Sentiment status of a scan.
      operationId: get_job_sentiment_v1_sentiment__job_id__get
      parameters:
      -
        name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentimentResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  securitySchemes:
      bearerAuth:
        type: http
        scheme: bearer
        bearerFormat: JWT
  schemas:
    AgenticProgressSchema:
      properties:
        kind:
          type: string
          const: agentic
          title: Kind
          description: Discriminator — always 'agentic' for this variant.
          default: agentic
        stages:
          items:
            $ref: '#/components/schemas/AgenticStageSchema'
          type: array
          title: Stages
          description: 'The 3 stages in order: target_profiling → goal_generation → attack_execution.'
      type: object
      title: AgenticProgressSchema
      description: 3-stage Agentic Target Scan timeline (DYNAMIC scans).
    AgenticStageName:
      type: string
      enum:
      - target_profiling
      - goal_generation
      - attack_execution
      title: AgenticStageName
      description: The three named stages of the DYNAMIC agentic panel.
    AgenticStageSchema:
      properties:
        stage:
          $ref: '#/components/schemas/AgenticStageName'
          description: Which of the 3 named stages this represents.
        status:
          $ref: '#/components/schemas/AgenticStatus'
          description: 'Overall stage status. In-flight: pending / in_progress / complete. Terminal: not_started (never ran) / partially_complete (cut short).'
        sub_steps:
          items:
            $ref: '#/components/schemas/AgenticSubStepSchema'
          type: array
          title: Sub Steps
          description: Sub-steps under this stage; content varies per stage.
      type: object
      required:
      - stage
      - status
      title: AgenticStageSchema
      description: One stage in the Agentic Target Scan panel (dynamic scans only).
    AgenticStatus:
      type: string
      enum:
      - pending
      - in_progress
      - complete
      - partially_complete
      - not_started
      - skipped
      title: AgenticStatus
      description: |
        Status of an agentic stage or sub-step. `skipped` is sub-step-only
        (a planned unit that ran to no result); stages never emit it.
    AgenticSubStepSchema:
      properties:
        label:
          type: string
          title: Label
          description: Human-readable sub-step label.
        completed:
          anyOf:
          -
            type: integer
            minimum: 0.0
          - type: 'null'
          title: Completed
          description: Countable sub-step progress; None for text-only sub-steps.
        total:
          anyOf:
          -
            type: integer
            minimum: 0.0
          - type: 'null'
          title: Total
          description: Countable sub-step total; None for text-only sub-steps.
        status:
          $ref: '#/components/schemas/AgenticStatus'
          description: 'Sub-step status. In-flight: pending / in_progress / complete. Terminal: not_started / partially_complete / complete. skipped: planned but produced no result (e.g. a goal category that yielded zero goals) — distinct from not_started (never attempted).'
      type: object
      required:
      - label
      - status
      title: AgenticSubStepSchema
      description: One sub-step under an AgenticStage.
    ApiEndpointType:
      type: string
      enum:
      - PUBLIC
      - PRIVATE
      - NETWORK_BROKER
      title: ApiEndpointType
      description: API endpoint accessibility type.
    AsrCategorySchema:
      properties:
        id:
          type: string
          title: Id
          description: 'Enum value, e.g. SECURITY, JAILBREAK, TOOL_MISUSE'
        display_name:
          type: string
          title: Display Name
          description: Human-readable label
        total:
          type: integer
          minimum: 0.0
          title: Total
          description: Adversarial exchanges attempted
        successful:
          type: integer
          minimum: 0.0
          title: Successful
          description: Exchanges where the effective verdict is a threat
        failed:
          type: integer
          minimum: 0.0
          title: Failed
          description: total - successful
        asr:
          type: number
          maximum: 100.0
          minimum: 0.0
          title: Asr
          description: 'successful / total * 100; 0.0 when total is 0'
        sub_categories:
          items:
            $ref: '#/components/schemas/AsrStatsSchema'
          type: array
          title: Sub Categories
          description: Subcategory breakdown. Always empty for dynamic scans.
      type: object
      required:
      - id
      - display_name
      - total
      - successful
      - failed
      - asr
      title: AsrCategorySchema
      description: 'A top-level category, optionally broken down one level further.'
    AsrResponseSchema:
      properties:
        job_id:
          type: string
          format: uuid
          title: Job Id
          description: Scan this breakdown belongs to
        job_type:
          $ref: '#/components/schemas/JobType'
          description: STATIC or DYNAMIC
        asr:
          type: number
          maximum: 100.0
          minimum: 0.0
          title: Asr
          description: Scan-level ASR (job.asr)
        categories:
          items:
            $ref: '#/components/schemas/AsrCategorySchema'
          type: array
          title: Categories
          description: 'Per-category breakdown, most-breached first'
      type: object
      required:
      - job_id
      - job_type
      - asr
      title: AsrResponseSchema
      description: |
        Response for both /report/static/{job_id}/asr and /report/dynamic/{job_id}/asr.

        One schema for both endpoints on purpose, so the profile-creation UI renders a
        single component and never branches on job_type.
    AsrStatsSchema:
      properties:
        id:
          type: string
          title: Id
          description: 'Enum value, e.g. SECURITY, JAILBREAK, TOOL_MISUSE'
        display_name:
          type: string
          title: Display Name
          description: Human-readable label
        total:
          type: integer
          minimum: 0.0
          title: Total
          description: Adversarial exchanges attempted
        successful:
          type: integer
          minimum: 0.0
          title: Successful
          description: Exchanges where the effective verdict is a threat
        failed:
          type: integer
          minimum: 0.0
          title: Failed
          description: total - successful
        asr:
          type: number
          maximum: 100.0
          minimum: 0.0
          title: Asr
          description: 'successful / total * 100; 0.0 when total is 0'
      type: object
      required:
      - id
      - display_name
      - total
      - successful
      - failed
      - asr
      title: AsrStatsSchema
      description: |
        One row of an ASR breakdown. Used for both categories and subcategories.

        Field names are deliberately neutral rather than static- or dynamic-specific:
        the ASR formula is the same at both grains -- successful adversarial exchanges
        over total -- and only the definition of an exchange differs (one target call
        for static, one attacker turn for dynamic). That is what lets a single client
        component render either scan kind. See the per-scan-type semantics table in
        docs/features/redteam-runtime-profile-creation/design.md section 5.
    AttackAudioSchema:
      properties:
        audio_name:
          type: string
          title: Audio Name
          description: Audio filename (basename of the GCS object key)
        signed_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Signed Url
          description: Short-lived signed GCS download URL; null if the object could not be signed (e.g. missing signBlob permission).
        audio_format:
          anyOf:
          - $ref: '#/components/schemas/AudioFormat'
          - type: 'null'
          description: 'Audio wire format (WAV/MP3), the strict AudioFormat enum; null if the stored format is unknown. Carries the ACTUAL format of these bytes — for attack input that''s the corpus format, for a target''s response audio it''s the target''s format (which may be MP3), so it is never assumed.'
      type: object
      required:
      - audio_name
      title: AttackAudioSchema
      description: |
        Structured audio reference for a multimodal (audio) attack in the report.

        Mirrors ``AttackFileSchema``. Exposed only on the attack **detail** response; the
        list response conveys type via ``attack_modality`` (AUDIO/FILE/TEXT) and carries no
        audio object.
    AttackDetailResponseSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
        tsg_id:
          type: string
          title: Tsg Id
        job_id:
          type: string
          format: uuid
          title: Job Id
          description: Associated job UUID
        target_id:
          type: string
          format: uuid
          title: Target Id
          description: Target UUID
        prompt:
          type: string
          title: Prompt
          description: The actual prompt text used
        status:
          $ref: '#/components/schemas/AttackStatus'
          description: Attack status
          default: INIT
        marked_safe:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Marked Safe
          description: Manual safety marking
        extra_info:
          additionalProperties: true
          type: object
          title: Extra Info
          description: Additional metadata
        threat:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Threat
          description: Threat detection result
        attack_type:
          $ref: '#/components/schemas/AttackType'
          description: Type of attack
          default: NORMAL
        multi_turn:
          type: boolean
          title: Multi Turn
          description: Multi-turn conversation flag
          default: false
        asr:
          anyOf:
          -
            type: number
            maximum: 100.0
            minimum: 0.0
          - type: 'null'
          title: Asr
          description: Attack Success Rate (0-100)
        version:
          anyOf:
          - type: integer
          - type: 'null'
          title: Version
          description: Attack version
        error:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Error
          description: True if all attack attempts failed (zero outputs produced)
        prompt_mapping_id:
          type: string
          format: uuid
          title: Prompt Mapping Id
          description: Prompt mapping UUID
        prompt_id:
          type: string
          format: uuid
          title: Prompt Id
          description: Prompt UUID
        category:
          $ref: '#/components/schemas/Category'
          description: Attack category
        sub_category:
          anyOf:
          - $ref: '#/components/schemas/SecuritySubCategory'
          - $ref: '#/components/schemas/SafetySubCategory'
          - $ref: '#/components/schemas/BrandSubCategory'
          - $ref: '#/components/schemas/ComplianceSubCategory'
          title: Sub Category
          description: Attack subcategory
        severity:
          type: string
          description: Attack severity level
        threat_details:
          $ref: '#/components/schemas/ThreatDetails'
          description: 'Verdict provenance: raw AI verdict + any human override'
        category_display_name:
          type: string
          title: Category Display Name
        sub_category_display_name:
          type: string
          title: Sub Category Display Name
        compliance_frameworks:
          items:
            $ref: '#/components/schemas/ComplianceWithTechniqueModel'
          type: array
          title: Compliance Frameworks
        outputs:
          items:
            $ref: '#/components/schemas/AttackOutputResponseSchema'
          type: array
          title: Outputs
          description: Outputs for attacks
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
        attack_modality:
          $ref: '#/components/schemas/Modality'
          description: 'FILE if the attack carries a document, else TEXT'
          default: TEXT
        file:
          anyOf:
          - $ref: '#/components/schemas/AttackFileSchema'
          - type: 'null'
          description: File-attack document (name + signed download URL + short type); null for text attacks
        audio:
          anyOf:
          - $ref: '#/components/schemas/AttackAudioSchema'
          - type: 'null'
          description: Audio-attack clip (name + signed download URL + short format); null for non-audio attacks
        audio_technique:
          anyOf:
          - type: string
          - type: 'null'
          title: Audio Technique
          description: 'Acoustic perturbation of the attack audio (e.g. pitch_up, stego_lsb).'
          readOnly: true
      type: object
      required:
      - uuid
      - tsg_id
      - job_id
      - target_id
      - prompt
      - prompt_mapping_id
      - prompt_id
      - category
      - sub_category
      - category_display_name
      - sub_category_display_name
      - compliance_frameworks
      - goal
      - audio_technique
      title: AttackDetailResponseSchema
    AttackFileSchema:
      properties:
        file_name:
          type: string
          title: File Name
          description: Document filename (basename of the GCS object key)
        signed_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Signed Url
          description: Short-lived signed GCS download URL; null if the object could not be signed (e.g. missing signBlob permission).
        file_type:
          type: string
          title: File Type
          description: 'Short document type, e.g. PDF / DOCX / MD'
      type: object
      required:
      - file_name
      - file_type
      title: AttackFileSchema
      description: |
        Structured file reference for a multimodal (document) attack in the report.

        Exposed only on the attack **detail** response. The list response conveys type via
        ``attack_modality`` (FILE/TEXT) and carries no file object.
    AttackListResponseSchema:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationSchema'
        data:
          items:
            $ref: '#/components/schemas/AttackListSchema'
          type: array
          title: Data
          description: List of Attacks
      type: object
      required:
      - pagination
      - data
      title: AttackListResponseSchema
      description: Response schema for listing attacks following common pagination pattern.
    AttackListSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
        tsg_id:
          type: string
          title: Tsg Id
        job_id:
          type: string
          format: uuid
          title: Job Id
          description: Associated job UUID
        target_id:
          type: string
          format: uuid
          title: Target Id
          description: Target UUID
        prompt:
          type: string
          title: Prompt
          description: The actual prompt text used
        status:
          $ref: '#/components/schemas/AttackStatus'
          description: Attack status
          default: INIT
        marked_safe:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Marked Safe
          description: Manual safety marking
        extra_info:
          additionalProperties: true
          type: object
          title: Extra Info
          description: Additional metadata
        threat:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Threat
          description: Threat detection result
        attack_type:
          $ref: '#/components/schemas/AttackType'
          description: Type of attack
          default: NORMAL
        multi_turn:
          type: boolean
          title: Multi Turn
          description: Multi-turn conversation flag
          default: false
        asr:
          anyOf:
          -
            type: number
            maximum: 100.0
            minimum: 0.0
          - type: 'null'
          title: Asr
          description: Attack Success Rate (0-100)
        version:
          anyOf:
          - type: integer
          - type: 'null'
          title: Version
          description: Attack version
        error:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Error
          description: True if all attack attempts failed (zero outputs produced)
        prompt_mapping_id:
          type: string
          format: uuid
          title: Prompt Mapping Id
          description: Prompt mapping UUID
        prompt_id:
          type: string
          format: uuid
          title: Prompt Id
          description: Prompt UUID
        category:
          $ref: '#/components/schemas/Category'
          description: Attack category
        sub_category:
          anyOf:
          - $ref: '#/components/schemas/SecuritySubCategory'
          - $ref: '#/components/schemas/SafetySubCategory'
          - $ref: '#/components/schemas/BrandSubCategory'
          - $ref: '#/components/schemas/ComplianceSubCategory'
          title: Sub Category
          description: Attack subcategory
        severity:
          type: string
          description: Attack severity level
        category_display_name:
          type: string
          title: Category Display Name
        sub_category_display_name:
          type: string
          title: Sub Category Display Name
        attack_modality:
          $ref: '#/components/schemas/Modality'
          description: 'FILE if the attack carries a document, else TEXT'
          default: TEXT
      type: object
      required:
      - uuid
      - tsg_id
      - job_id
      - target_id
      - prompt
      - prompt_mapping_id
      - prompt_id
      - category
      - sub_category
      - category_display_name
      - sub_category_display_name
      title: AttackListSchema
    AttackMultiTurnDetailResponseSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
        tsg_id:
          type: string
          title: Tsg Id
        job_id:
          type: string
          format: uuid
          title: Job Id
          description: Associated job UUID
        target_id:
          type: string
          format: uuid
          title: Target Id
          description: Target UUID
        prompt:
          type: string
          title: Prompt
          description: The actual prompt text used
        status:
          $ref: '#/components/schemas/AttackStatus'
          description: Attack status
          default: INIT
        marked_safe:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Marked Safe
          description: Manual safety marking
        extra_info:
          additionalProperties: true
          type: object
          title: Extra Info
          description: Additional metadata
        threat:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Threat
          description: Threat detection result
        attack_type:
          $ref: '#/components/schemas/AttackType'
          description: Type of attack
          default: NORMAL
        multi_turn:
          type: boolean
          title: Multi Turn
          description: Multi-turn conversation flag
          default: false
        asr:
          anyOf:
          -
            type: number
            maximum: 100.0
            minimum: 0.0
          - type: 'null'
          title: Asr
          description: Attack Success Rate (0-100)
        version:
          anyOf:
          - type: integer
          - type: 'null'
          title: Version
          description: Attack version
        error:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Error
          description: True if all attack attempts failed (zero outputs produced)
        prompt_mapping_id:
          type: string
          format: uuid
          title: Prompt Mapping Id
          description: Prompt mapping UUID
        prompt_id:
          type: string
          format: uuid
          title: Prompt Id
          description: Prompt UUID
        category:
          $ref: '#/components/schemas/Category'
          description: Attack category
        sub_category:
          anyOf:
          - $ref: '#/components/schemas/SecuritySubCategory'
          - $ref: '#/components/schemas/SafetySubCategory'
          - $ref: '#/components/schemas/BrandSubCategory'
          - $ref: '#/components/schemas/ComplianceSubCategory'
          title: Sub Category
          description: Attack subcategory
        severity:
          type: string
          description: Attack severity level
        threat_details:
          $ref: '#/components/schemas/ThreatDetails'
          description: 'Verdict provenance: raw AI verdict + any human override'
        category_display_name:
          type: string
          title: Category Display Name
        sub_category_display_name:
          type: string
          title: Sub Category Display Name
        compliance_frameworks:
          items:
            $ref: '#/components/schemas/ComplianceWithTechniqueModel'
          type: array
          title: Compliance Frameworks
        outputs:
          items:
            items:
              $ref: '#/components/schemas/AttackMultiTurnOutputResponseSchema'
            type: array
          type: array
          title: Outputs
          description: 'List of conversations, where each conversation is a list of turns ordered by turn number. Each inner list represents one generation of the multi-turn attack.'
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
        attack_modality:
          $ref: '#/components/schemas/Modality'
          description: 'FILE if the attack carries a document, else TEXT'
          default: TEXT
        file:
          anyOf:
          - $ref: '#/components/schemas/AttackFileSchema'
          - type: 'null'
          description: File-attack document (name + signed download URL + short type); null for text attacks
        audio:
          anyOf:
          - $ref: '#/components/schemas/AttackAudioSchema'
          - type: 'null'
          description: Audio-attack clip (name + signed download URL + short format); null for non-audio attacks
        audio_technique:
          anyOf:
          - type: string
          - type: 'null'
          title: Audio Technique
          description: 'Acoustic perturbation of the attack audio (e.g. pitch_up, stego_lsb).'
          readOnly: true
      type: object
      required:
      - uuid
      - tsg_id
      - job_id
      - target_id
      - prompt
      - prompt_mapping_id
      - prompt_id
      - category
      - sub_category
      - category_display_name
      - sub_category_display_name
      - compliance_frameworks
      - goal
      - audio_technique
      title: AttackMultiTurnDetailResponseSchema
    AttackMultiTurnOutputResponseSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
        tsg_id:
          type: string
          title: Tsg Id
        attack_id:
          type: string
          format: uuid
          title: Attack Id
          description: Associated attack UUID
        job_id:
          type: string
          format: uuid
          title: Job Id
          description: Associated job UUID
        target_id:
          type: string
          format: uuid
          title: Target Id
          description: Target UUID
        output:
          type: string
          title: Output
          description: 'Attack output. String for single-turn, dict for multi-turn.'
        threat:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Threat
          description: Threat detection result
        marked_safe:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Marked Safe
          description: Manual safety marking
        response_audio:
          anyOf:
          - $ref: '#/components/schemas/AttackAudioSchema'
          - type: 'null'
          description: Structured audio reference for the target's response (name + signed URL + short format); null until the audio pipeline lands
        transcript:
          anyOf:
          - type: string
          - type: 'null'
          title: Transcript
          description: Transcript of the response audio; null until the audio pipeline lands
        transcript_source:
          anyOf:
          - $ref: '#/components/schemas/TranscriptSource'
          - type: 'null'
          description: Whether the transcript was provided by the target (TARGET) or derived by us via speech-to-text (STT); null until the audio pipeline lands
        prompt:
          type: string
          title: Prompt
          description: User prompt for this turn
        turn:
          type: integer
          title: Turn
          description: Current turn number in multi-turn conversation
        generation:
          type: integer
          title: Generation
          description: Generation/conversation number (1-based) for grouping multi-turn outputs
          default: 1
        multi_turn:
          type: boolean
          title: Multi Turn
          description: Multi-turn conversation flag
          default: true
        threat_details:
          $ref: '#/components/schemas/ThreatDetails'
          description: 'Verdict provenance: raw AI verdict + any human override'
        error:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Error
          description: Whether this output is an error
        error_message:
          anyOf:
          - type: string
          - type: 'null'
          title: Error Message
          description: 'Error message in format ''errType: description'''
        judge_reasoning:
          type: string
          title: Judge Reasoning
          description: Judge reasoning for this turn; "" when the judge produced none.
          readOnly: true
      type: object
      required:
      - uuid
      - tsg_id
      - attack_id
      - job_id
      - target_id
      - output
      - prompt
      - turn
      - judge_reasoning
      title: AttackMultiTurnOutputResponseSchema
      description: |
        API response schema — excludes internal/debug fields from client responses.

        Leaf turn row (attack_multi_turn_output). `threat` is the effective verdict and
        `threat_details` carries provenance; both set by apply_threat_override at the read site.
    AttackOutputResponseSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
        tsg_id:
          type: string
          title: Tsg Id
        attack_id:
          type: string
          format: uuid
          title: Attack Id
          description: Associated attack UUID
        job_id:
          type: string
          format: uuid
          title: Job Id
          description: Associated job UUID
        target_id:
          type: string
          format: uuid
          title: Target Id
          description: Target UUID
        output:
          type: string
          title: Output
          description: 'Attack output. String for single-turn, dict for multi-turn.'
        threat:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Threat
          description: Threat detection result
        marked_safe:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Marked Safe
          description: Manual safety marking
        response_audio:
          anyOf:
          - $ref: '#/components/schemas/AttackAudioSchema'
          - type: 'null'
          description: Structured audio reference for the target's response (name + signed URL + short format); null until the audio pipeline lands
        transcript:
          anyOf:
          - type: string
          - type: 'null'
          title: Transcript
          description: Transcript of the response audio; null until the audio pipeline lands
        transcript_source:
          anyOf:
          - $ref: '#/components/schemas/TranscriptSource'
          - type: 'null'
          description: Whether the transcript was provided by the target (TARGET) or derived by us via speech-to-text (STT); null until the audio pipeline lands
        threat_details:
          $ref: '#/components/schemas/ThreatDetails'
          description: 'Verdict provenance: raw AI verdict + any human override'
        error:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Error
          description: Whether this output is an error
        error_message:
          anyOf:
          - type: string
          - type: 'null'
          title: Error Message
          description: 'Error message in format ''errType: description'''
        judge_reasoning:
          type: string
          title: Judge Reasoning
          description: Judge reasoning for this output; "" when the judge produced none.
          readOnly: true
      type: object
      required:
      - uuid
      - tsg_id
      - attack_id
      - job_id
      - target_id
      - output
      - judge_reasoning
      title: AttackOutputResponseSchema
      description: |
        API response schema — excludes internal/debug fields from client responses.

        Leaf grain (attack_output). `threat` is the effective verdict (override if set,
        else AI) and `threat_details` carries provenance; both are set by
        apply_threat_override at the read site.
    AttackStatus:
      type: string
      enum:
      - INIT
      - ATTACK
      - DETECTION
      - REPORT
      - COMPLETED
      - FAILED
      title: AttackStatus
    AttackType:
      type: string
      enum:
      - NORMAL
      - CUSTOM
      title: AttackType
    AttemptsUnit:
      type: string
      enum:
      - attacks
      - streams
      title: AttemptsUnit
      description: 'What the attempts counts represent, per scan type.'
    AudioFormat:
      type: string
      enum:
      - WAV
      - MP3
      - PCM16
      title: AudioFormat
      description: |
        Wire format for audio we SEND to a REST audio-chat target.

        Customer-declared on the connection config (which format the target accepts
        on the wire). ``Attack.audio_format`` reuses this same enum to record the format
        of the stored corpus audio bytes. WAV/MP3 are the REST audio-chat wire formats;
        PCM16 is the realtime S2S wire form (headerless PCM16 at the provider's rate) —
        stored in the corpus now but NOT selectable on REST targets until the realtime
        path lands (MR9). See ``REST_AUDIO_FORMATS``.
    AuthType:
      type: string
      enum:
      - HEADERS
      - BASIC_AUTH
      - OAUTH2
      - CUSTOM_TARGET_ADAPTER
      title: AuthType
      description: Authentication method for target API access.
    BackgroundJobStatus:
      type: string
      enum:
      - INIT
      - QUEUED
      - RUNNING
      - COMPLETED
      - PARTIALLY_COMPLETE
      - FAILED
      - ABORTED
      title: BackgroundJobStatus
      description: Complete background job status enum.
    BaseSubtype:
      type: string
      enum:
      - REMOTE_CODE_EXECUTION
      - SYSTEM_PROMPT_LEAK
      - TOOL_LEAK
      - MALWARE_GENERATION
      - BIAS
      - CBRN
      - CYBERCRIME
      - DRUGS
      - HATE_TOXIC_ABUSE
      - NON_VIOLENT_CRIMES
      - POLITICAL
      - SELF_HARM
      - SEXUAL
      - VIOLENT_CRIMES_WEAPONS
      - SENSITIVE_DATA_LEAKAGE
      - COMPETITOR_ENDORSEMENTS
      - BRAND_TARNISHING_SELF_CRITICISM
      title: BaseSubtype
    BrandSubCategory:
      type: string
      enum:
      - COMPETITOR_ENDORSEMENTS
      - BRAND_TARNISHING_SELF_CRITICISM
      - DISCRIMINATING_CLAIMS
      - POLITICAL_ENDORSEMENTS
      title: BrandSubCategory
    Category:
      type: string
      enum:
      - SECURITY
      - SAFETY
      - COMPLIANCE
      - BRAND
      title: Category
    CategoryModel:
      properties:
        id:
          type: string
          title: Id
          description: Unique identifier
        display_name:
          type: string
          title: Display Name
          description: Frontend display name
        description:
          type: string
          title: Description
          description: Description
        preselect:
          type: boolean
          title: Preselect
          description: Whether this category should be preselected in UI
          default: true
        sub_categories:
          items:
            $ref: '#/components/schemas/SubCategoryModel'
          type: array
          title: Sub Categories
          description: List of subcategories
      type: object
      required:
      - id
      - display_name
      - description
      - sub_categories
      title: CategoryModel
      description: Pydantic model for category data
    CategoryReportSchema:
      properties:
        id:
          type: string
          title: Id
          description: Unique identifier
        display_name:
          type: string
          title: Display Name
          description: Frontend display name
        description:
          type: string
          title: Description
          description: Description
        preselect:
          type: boolean
          title: Preselect
          description: Whether this category should be preselected in UI
          default: true
        sub_categories:
          items:
            $ref: '#/components/schemas/SubCategoryStatsSchema'
          type: array
          title: Sub Categories
          description: 'Statistics per subcategory (e.g., ADVERSARIAL_SUFFIX, BIAS)'
        asr:
          type: number
          maximum: 100.0
          minimum: 0.0
          title: Asr
          description: Attack success rate percentage
        total_prompts:
          type: integer
          title: Total Prompts
          description: Total unique prompts used
        total_attacks:
          type: integer
          title: Total Attacks
          description: Total attacks executed
        successful:
          type: integer
          title: Successful
          description: Total successful attacks
        failed:
          type: integer
          title: Failed
          description: Total failed attacks
      type: object
      required:
      - id
      - display_name
      - description
      - sub_categories
      - asr
      - total_prompts
      - total_attacks
      - successful
      - failed
      title: CategoryReportSchema
      description: Security or Safety risk overview widget data.
    ClaraJobMetadata:
      properties:
        scan_name:
          type: string
          maxLength: 255
          minLength: 3
          title: Scan Name
        categories:
          additionalProperties:
            items:
              anyOf:
              - $ref: '#/components/schemas/SecuritySubCategory'
              - $ref: '#/components/schemas/SafetySubCategory'
              - $ref: '#/components/schemas/BrandSubCategory'
              - $ref: '#/components/schemas/ComplianceSubCategory'
            type: array
          propertyNames:
            $ref: '#/components/schemas/Category'
          type: object
          title: Categories
          description: Auto-derived from uploaded prompt data — determines report sections
        language:
          type: 'null'
          title: Language
          description: Always None — CLARA is English-only
      type: object
      required:
      - scan_name
      title: ClaraJobMetadata
      description: |
        Metadata for CLARA scan jobs. Intentionally minimal —
        no rate_limit/content_filter since CLARA doesn't execute attacks.
    ComplianceReportSchema:
      properties:
        id:
          type: string
          title: Id
          description: Compliance framework unique identifier
        display_name:
          type: string
          title: Display Name
          description: Compliance framework display name for frontend
        description:
          type: string
          title: Description
          description: Compliance framework description
        active:
          type: boolean
          title: Active
          description: Whether compliance framework is active
        version:
          type: string
          title: Version
          description: Compliance framework version
        link:
          type: string
          title: Link
          description: Compliance framework documentation link
        techniques:
          items:
            $ref: '#/components/schemas/ComplianceTechniqueSchema'
          type: array
          title: Techniques
        score:
          type: integer
          title: Score
          description: 'Compliance score: (1 - ASR%) % 5'
          default: 0
      type: object
      required:
      - id
      - display_name
      - description
      - active
      - version
      - link
      - techniques
      title: ComplianceReportSchema
    ComplianceSubCategory:
      type: string
      enum:
      - OWASP
      - MITRE_ATLAS
      - NIST
      - DASF_V2
      title: ComplianceSubCategory
    ComplianceTechniqueSchema:
      properties:
        id:
          type: string
          title: Id
          description: Technique unique identifier
        display_name:
          type: string
          title: Display Name
          description: Technique display name for frontend
        compliance_id:
          type: string
          title: Compliance Id
          description: Associated compliance framework ID
        description:
          type: string
          title: Description
          description: Technique description
        link:
          type: string
          title: Link
          description: Technique documentation link
        version:
          type: string
          title: Version
          description: Technique version
        active:
          type: boolean
          title: Active
          description: Whether technique is active
        successful:
          type: integer
          title: Successful
          description: Number of successful attacks
          default: 0
        failed:
          type: integer
          title: Failed
          description: Number of failed attacks
          default: 0
        total:
          type: integer
          title: Total
          description: Total attacks for this technique
          default: 0
      type: object
      required:
      - id
      - display_name
      - compliance_id
      - description
      - link
      - version
      - active
      title: ComplianceTechniqueSchema
      description: Compliance Technique Model
    ComplianceWithTechniqueModel:
      properties:
        id:
          type: string
          title: Id
          description: Compliance framework unique identifier
        display_name:
          type: string
          title: Display Name
          description: Compliance framework display name for frontend
        description:
          type: string
          title: Description
          description: Compliance framework description
        active:
          type: boolean
          title: Active
          description: Whether compliance framework is active
        version:
          type: string
          title: Version
          description: Compliance framework version
        link:
          type: string
          title: Link
          description: Compliance framework documentation link
        techniques:
          items:
            $ref: '#/components/schemas/TechniqueModel'
          type: array
          title: Techniques
          description: List of Techniques
      type: object
      required:
      - id
      - display_name
      - description
      - active
      - version
      - link
      - techniques
      title: ComplianceWithTechniqueModel
    CountByNameSchema:
      properties:
        name:
          type: string
          title: Name
          description: 'Name of the item (e.g., target type, status)'
        count:
          type: integer
          minimum: 0.0
          title: Count
          description: Count of items
      type: object
      required:
      - name
      - count
      title: CountByNameSchema
      description: |
        Generic count schema with name field for extensible list structures.

        Used in dashboard and other endpoints to provide counts grouped by a name field.
        Frontend-friendly list format for easy iteration.
    CountedQuotaEnum:
      type: string
      enum:
      - HELD
      - COUNTED
      - NOT_COUNTED
      title: CountedQuotaEnum
[...]
