html[data-theme="dark"] .hero-image__logo {
  content: url("/img/PANW_Parent_Logo_White.svg");
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--ifm-color-main);
  }
}

.hero-container {
  display: flex;
  justify-content: space-evenly;
}

.hero-content-container {
  padding: 6rem 2rem;
  color: var(--ifm-hero-text-color);

  @media (min-width: 760px) {
    padding: 10rem 2rem;
  }
}

.hero-header-container {
  display: flex;

  @media (max-width: 760px) {
    justify-content: center;
  }
}

.hero-header {
  color: var(--ifm-color-emphasis-900);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--ifm-color-main); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;

  @media (max-width: 500px) {
    font-size: 1rem;
  }
}

.hero-image__logo {
  padding: 1rem;
}

.hero-image__illustration {
  max-width: 450px;
  align-self: flex-end;

  @media (max-width: 950px) {
    display: none;
  }
}

.hero-colored-text {
  color: var(--ifm-color-main);
}
