html[data-theme="light"] .dropdown-product-group-list {
  .dropdown__link {
    &.network-security,
    &.scm {
      &:hover {
        color: var(--ifm-color-panos-dark);
      }

      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-panos-dark);
        color: var(--ifm-color-panos-dark);
      }

      &.product-group-list__product-title.active {
        border-left: none;
      }
    }

    &.sase,
    &.cloud-native-security {
      &:hover {
        color: var(--ifm-color-prisma-dark);
      }

      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-prisma-dark);
        color: var(--ifm-color-prisma-dark);
      }

      &.product-group-list__product-title.active {
        border-left: none;
      }
    }

    &.security-operations {
      &:hover {
        color: var(--ifm-color-cortex-dark);
      }

      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-cortex-dark);
        color: var(--ifm-color-cortex-dark);
      }

      &.product-group-list__product-title.active {
        border-left: none;
      }
    }

    &.partner-integations {
      &:hover {
        color: var(--ifm-color-main);
      }

      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-main);
        color: var(--ifm-color-main);
      }

      &.product-group-list__product-title.active {
        border-left: none;
      }
    }
  }
}

.dropdown-product-group-list {
  margin-bottom: 0;

  .dropdown__link {
    &.product {
      color: var(--ifm-color-emphasis-600);
    }

    &.network-security,
    &.scm {
      &:hover {
        color: var(--ifm-color-panos);
      }

      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-panos);
        color: var(--ifm-color-panos);
      }

      &.product-group-list__product-title.active {
        border-left: none;
      }
    }

    &.sase,
    &.cloud-native-security {
      &:hover {
        color: var(--ifm-color-prisma);
      }

      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-prisma);
        color: var(--ifm-color-prisma);
      }

      &.product-group-list__product-title.active {
        border-left: none;
      }
    }

    &.security-operations {
      &:hover {
        color: var(--ifm-color-cortex);
      }

      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-cortex);
        color: var(--ifm-color-cortex);
      }

      &.product-group-list__product-title.active {
        border-left: none;
      }
    }

    &.cross-platform,
    &.partner-integrations {
      &:hover {
        color: var(--ifm-color-main);
      }

      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-main);
        color: var(--ifm-color-main);
      }

      &.product-group-list__product-title.active {
        border-left: none;
      }
    }
  }
}

.product-group-list__product-title {
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-weight: var(--ifm-font-weight-bold);
}

.product-group-list__item {
  padding: 0;
}

.section__title {
  font-weight: var(--ifm-font-weight-bold);
  text-transform: uppercase;
  border-bottom: solid 1px var(--ifm-color-emphasis-400);
  border-radius: 0;

  &:hover {
    background: none;
  }
}

.menu__link {
  &.product-group {
    font-weight: var(--ifm-font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 1.25px;
  }
}

.dropdown-right-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__explore-docs-link {
    display: flex;
    align-items: center;
    padding: 1rem;
    align-self: flex-end;
    font-weight: var(--ifm-font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 1.25px;
    color: var(--ifm-color-emphasis-600);

    &:hover {
      cursor: pointer;
    }
    &::after {
      content: "";
      display: block;
      background-image: url("/icons/arrow-forward.svg");
      background-size: 15px 15px;
      width: 15px;
      height: 15px;
      margin-left: 0.5rem;
    }
  }
}
