.dropdown-product-group-list {
  .dropdown__link.active {
    border-radius: 0;
    border-left: 1px solid var(--ifm-color-primary);
    color: var(--ifm-color-primary);
  }
}

.product-group-list__product-title {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: var(--ifm-font-weight-bold);
}

.product-group-list__item {
  padding: 0;
}

.section__title {
  font-weight: var(--ifm-font-weight-bold);
  text-transform: uppercase;
  border-bottom: solid 1px var(--ifm-color-emphasis-400);
  border-radius: 0;

  &:hover {
    background: none;
  }
}

.menu__link {
  &.product-group {
    font-weight: var(--ifm-font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 0.25px;
  }
}
