// $network-security-link-color: var(--ifm-color-panos);
// $cloud-security-link-color: var(--ifm-color-prisma);
// $security-operations-link-color: var(--ifm-color-cortex);
// $sase-link-link-color: var(--ifm-color-primary);

html[data-theme="light"] .dropdown-product-group-list {
  .dropdown__link {
    &.network-security {
      &:hover { color: var(--ifm-color-panos-dark) };

      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-panos-dark);
        color: var(--ifm-color-panos-dark);
      }

      &.product-group-list__product-title.active {
        border-left:none;
      }
    }

    &.sase {
      &:hover { color: var(--ifm-color-prisma-dark); }
      
      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-prisma-dark);
        color: var(--ifm-color-prisma-dark);
      }

      &.product-group-list__product-title.active {
        border-left:none;
      }
    }

    &.security-operations {
      &:hover { color: var(--ifm-color-cortex-dark); }
      
      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-cortex-dark);
        color: var(--ifm-color-cortex-dark);
      }

      &.product-group-list__product-title.active {
        border-left:none;
      }
    }
  }
}

.dropdown-product-group-list {
  margin-bottom: 0;

  .dropdown__link {
    &.network-security {
      &:hover { color: var(--ifm-color-panos); }

      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-panos);
        color: var(--ifm-color-panos);
      }

      &.product-group-list__product-title.active {
        border-left:none;
      }
    }

    &.sase {
      &:hover { color: var(--ifm-color-prisma); }
      
      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-prisma);
        color: var(--ifm-color-prisma);
      }

      &.product-group-list__product-title.active {
        border-left:none;
      }
    }

    &.cloud-native-security {
      &:hover { color: var(--ifm-color-primary); }
      
      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-primary);
        color: var(--ifm-color-primary);
      }

      &.product-group-list__product-title.active {
        border-left:none;
      }
    }

    &.security-operations {
      &:hover { color: var(--ifm-color-cortex); }
      
      &.active {
        border-radius: 0;
        border-left: 1px solid var(--ifm-color-cortex);
        color: var(--ifm-color-cortex);
      }

      &.product-group-list__product-title.active {
        border-left:none;
      }
    }
  }
}

.product-group-list__product-title {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: var(--ifm-font-weight-bold);
}

.product-group-list__item {
  padding: 0;
}

.section__title {
  font-weight: var(--ifm-font-weight-bold);
  text-transform: uppercase;
  border-bottom: solid 1px var(--ifm-color-emphasis-400);
  border-radius: 0;

  &:hover {
    background: none;
  }
}

.menu__link {
  &.product-group {
    font-weight: var(--ifm-font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 0.25px;
  }
}
