.section__title {
  font-weight: var(--ifm-font-weight-bold);
  text-transform: uppercase;
  border-bottom: solid 1px var(--ifm-color-emphasis-400);
  border-radius: 0;

  &:hover {
    background: none;
  }
}

.menu__link {
  &.product-group {
    font-weight: var(--ifm-font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 0.25px;
  }
}