:root {
  --curve-radius: 50vw; /* Adjust this value to control the curve radius */
}

html[data-theme="dark"] {
  .scm-hero-container {
    background-color: transparent;
  }
  .scm-bg {
    background-color: #1e1e1e;
    background-image: linear-gradient(to bottom, #1e1e1e, #ffa726);
  }
  .featured-card-container.scm-landing {
    background-color: #2c2c2c;
    a {
      color: #b0bec5;
      &:hover {
        color: #ffd740;
      }
    }
  }
}

.scm-hero-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.scm-hero-container {
  display: flex;
  width: 100vw;
  padding: 1rem;
  min-height: 350px;
  align-items: center;
  z-index: 10;

  h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  p {
    max-width: 500px;
  }
}

.scm-hero__left-section,
.scm-hero__right-section {
  max-width: 500px;
  width: 100%;
  padding: 0.5rem;
}

.scm-slider-img {
  border-radius: 1rem;
}

.scm-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.scm-card-container {
  overflow-y: auto;
  padding-top: 1.35rem;
  max-height: 300px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

  --mask-size-content: calc(100% - var(--ifm-scrollbar-size)) 100%;
  --mask-image-scrollbar: linear-gradient(black, black);
  --mask-size-scrollbar: var(--ifm-scrollbar-size) 100%;
  --mask-height: 32px;

  --mask-image-content: linear-gradient(
    to bottom,
    transparent,
    black var(--mask-height),
    black calc(100% - var(--mask-height)),
    transparent
  );

  mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
  mask-position: 0 0, 100% 0;
  mask-repeat: no-repeat, no-repeat;

  &::-webkit-scrollbar {
    width: var(--ifm-scrollbar-size);
  }
  &::--webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--ifm-scrollbar-thumb-background-color);
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.scm-content-list {
  &.hierarchy {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  padding-left: 0;
}

.scm-bg {
  background-color: #ffcb03;
  background-image: linear-gradient(to bottom, #ffcb05, #ffaa05);
  // border-top-left-radius: var(--curve-radius) 50%;
  // border-top-right-radius: var(--curve-radius) 50%;
  padding: 10px 0;
}

.scm-hero-video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: blur(10px) brightness(0.9) contrast(1) saturate(1.5);
  // opacity: 0.8;
  transform: translate(-50%, -50%) scale(1.2);
}

.hero--header {
  color: #ffffff;
}

.hero--description {
  color: #ffffff;
}

.scm-cards-container .featured-card-container.scm-landing {
  z-index: 10;
}
