{
  "components": {
    "requestBodies": {},
    "securitySchemes": {
      "x-redlock-auth": {
        "description": "The x-redlock-auth value is a JSON Web Token (JWT).",
        "in": "header",
        "name": "x-redlock-auth",
        "type": "apiKey"
      }
    },
    "schemas": {
      "EnterpriseSettingsRequestModel": {
        "description": "Model used for EnterpriseSettings",
        "properties": {
          "accessKeyMaxValidity": {
            "description": "Access Keys maximum validity in days",
            "format": "int32",
            "type": "integer"
          },
          "alarmEnabled": {
            "description": "Alarms enabled",
            "enum": [true, false],
            "type": "boolean"
          },
          "applyDefaultPoliciesEnabled": {
            "description": "Apply default policies enabled",
            "enum": [true, false],
            "type": "boolean"
          },
          "auditLogSiemIntgrIds": {
            "description": "Enabled Integration Ids for Audit Log and SIEM integration",
            "items": {
              "type": "string"
            },
            "type": "array",
            "uniqueItems": true
          },
          "auditLogsEnabled": {
            "description": "Audit Log Integrations Enabled",
            "enum": [true, false],
            "type": "boolean"
          },
          "autoEnableAttackPathAndModulePolicies": {
            "description": "Auto Enable Attack Path Policy and its Module Policies",
            "enum": [true, false],
            "type": "boolean"
          },
          "defaultPoliciesEnabled": {
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Default Policies Enabled. An example is {\"low\":true, \"medium\":true, \"high\":true}",
            "type": "object"
          },
          "namedUsersAccessKeysExpiryNotificationsEnabled": {
            "description": "Access Keys Expiry Notifications for Named User Accounts Enabled",
            "type": "boolean"
          },
          "notificationThresholdAccessKeysExpiry": {
            "description": "Access Keys Expiry Notifications Threshold Value",
            "format": "int32",
            "type": "integer"
          },
          "requireAlertDismissalNote": {
            "description": "Require Alert Dismissal Note",
            "type": "boolean"
          },
          "serviceUsersAccessKeysExpiryNotificationsEnabled": {
            "description": "Access Keys Expiry Notifications for Service User Accounts Enabled",
            "type": "boolean"
          },
          "sessionTimeout": {
            "description": "Browser Session Timeout",
            "format": "int32",
            "type": "integer"
          },
          "userAttributionInNotification": {
            "description": "User Attribution in Notification",
            "type": "boolean"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "contact": {},
    "description": "Manage enterprise settings such as a user inactivity timeout, user attribution for alerts, and global\nsettings for policies and alerts.\n",
    "title": "Prisma Cloud Enterprise Settings API Overview",
    "version": "Latest"
  },
  "openapi": "3.0.0",
  "paths": {
    "/settings/enterprise": {
      "get": {
        "description": "Returns enterprise settings for your tenant.",
        "operationId": "get-enterprise-settings",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EnterpriseSettingsRequestModel"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Enterprise Settings - GET",
        "tags": ["Settings"]
      },
      "post": {
        "description": "Configures enterprise settings for your tenant.",
        "operationId": "update-enterprise-settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnterpriseSettingsRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "bad_request"
          }
        },
        "security": [
          {
            "x-redlock-auth": []
          }
        ],
        "summary": "Enterprise Settings - POST",
        "tags": ["Settings"]
      }
    }
  },
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    },
    {
      "url": "https://api2.prismacloud.io"
    },
    {
      "url": "https://api3.prismacloud.io"
    },
    {
      "url": "https://api4.prismacloud.io"
    },
    {
      "url": "https://api.anz.prismacloud.io"
    },
    {
      "url": "https://api.eu.prismacloud.io"
    },
    {
      "url": "https://api2.eu.prismacloud.io"
    },
    {
      "url": "https://api.gov.prismacloud.io"
    },
    {
      "url": "https://api.prismacloud.cn"
    },
    {
      "url": "https://api.ca.prismacloud.io"
    },
    {
      "url": "https://api.sg.prismacloud.io"
    },
    {
      "url": "https://api.uk.prismacloud.io"
    },
    {
      "url": "https://api.ind.prismacloud.io"
    },
    {
      "url": "https://api.jp.prismacloud.io"
    },
    {
      "url": "https://api.fr.prismacloud.io"
    }
  ],
  "tags": [
    {
      "description": "Manage enterprise settings such as a user inactivity timeout, user attribution for alerts, and global\nsettings for policies and alerts.\n",
      "name": "Settings"
    }
  ]
}
