{
  "components": {
    "requestBodies": {},
    "schemas": {
      "TmpModel": {
        "properties": {
          "message": {
            "description": "Message",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "x-redlock-auth": {
        "description": "The x-redlock-auth value is a JSON Web Token (JWT).",
        "in": "header",
        "name": "x-redlock-auth",
        "type": "apiKey"
      }
    }
  },
  "info": {
    "contact": {},
    "description": "Quickly check if Prisma Cloud is available.\n",
    "title": "Prisma Cloud System API Overview",
    "version": "Latest"
  },
  "openapi": "3.0.0",
  "paths": {
    "/check": {
      "get": {
        "description": "Allows a user to check and see if the Prisma Cloud API is up and running.",
        "operationId": "health-check",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/TmpModel"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Health Check",
        "tags": ["System"],
        "security": [
          {
            "x-redlock-auth": []
          }
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://api.prismacloud.io"
    },
    {
      "url": "https://api2.prismacloud.io"
    },
    {
      "url": "https://api3.prismacloud.io"
    },
    {
      "url": "https://api4.prismacloud.io"
    },
    {
      "url": "https://api.anz.prismacloud.io"
    },
    {
      "url": "https://api.eu.prismacloud.io"
    },
    {
      "url": "https://api2.eu.prismacloud.io"
    },
    {
      "url": "https://api.gov.prismacloud.io"
    },
    {
      "url": "https://api.prismacloud.cn"
    },
    {
      "url": "https://api.ca.prismacloud.io"
    },
    {
      "url": "https://api.sg.prismacloud.io"
    },
    {
      "url": "https://api.uk.prismacloud.io"
    },
    {
      "url": "https://api.ind.prismacloud.io"
    },
    {
      "url": "https://api.jp.prismacloud.io"
    },
    {
      "url": "https://api.fr.prismacloud.io"
    }
  ],
  "tags": [
    {
      "description": "Quickly check if Prisma Cloud is available.\n",
      "name": "System"
    }
  ]
}
