html[data-theme="dark"] {
  .slick-dots li button:before,
  .slice-dots li.slick-active button:before {
    color: white;
  }
}

.slider-container {
  margin: 2rem 0;
}

.slick-dots {
  bottom: -15px;
}
