html[data-theme="dark"] {
  .slick-dots li button:before,
  .slice-dots li.slick-active button:before {
    color: white;
  }

  .slick-arrow {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
      brightness(103%) contrast(103%);
  }
}

.slider-container {
  margin-bottom: 2rem;

  .slick-dots {
    bottom: -15px;
  }
}

.slick-slide {
  margin-bottom: 1rem;
}
