.showcaseBlog {
  height: 100%;
}

.content {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: inherit;
  height: max-content;
}

.content figure {
  display: none;
}

.content blockquote {
  display: none;
}

.blogImage {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.blogAuthor {
  margin-bottom: 0;
}
