.showcaseBlog {
  height: 100%;
}

.content {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: inherit;
  height: max-content;
}

.blogFooter {
  padding-top: 1rem;
  position: relative;
  margin-bottom: 1rem;
  row-gap: 2rem;
}

.blogImage {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
