name: Deploy Live

on:
  push:
    branches: [ master ]
  workflow_dispatch:
  
jobs:
   build:
      if: github.repository_owner == 'PaloAltoNetworks'
      name: Build
      runs-on: pan-dev-runner

      steps:
        - name: Checkout repository
          uses: actions/checkout@v3

        - name: Setup node
          uses: actions/setup-node@v3
          with:
            node-version: '18'
            cache: 'yarn'

        - name: Install dependencies
          run: yarn --prefer-offline

        - name: Build site
          run: REACT_APP_ERROR_REPORTER_APIKEY=${{ secrets.ERROR_REPORTER_APIKEY }} REACT_APP_FIREBASE_APIKEY=${{ secrets.FIREBASE_APIKEY }} REACT_APP_RECAPTCHA_APIKEY=${{ secrets.RECAPTCHA_APIKEY }} yarn build-github && zip -r build.zip build

        - uses: actions/upload-artifact@v3
          with:
            name: build
            path: build.zip

   deploy:
      name: Deploy
      needs: build
      runs-on: pan-dev-runner

      steps:
        - name: Checkout repository
          uses: actions/checkout@v3
        
        - name: Setup node
          uses: actions/setup-node@v3
          with:
            node-version: '18'
            cache: 'yarn'

        - uses: actions/download-artifact@v3
          with:
            name: build

        - name: Unzip build artifact
          run: unzip build.zip

        - name: Deploy to Firebase
          id: deploy_live
          uses: FirebaseExtended/action-hosting-deploy@4d0d0023f1d92b9b7d16dda64b3d7abd2c98974b # v0.7.0
          with:
            repoToken: '${{ secrets.GITHUB_TOKEN }}'
            firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_PAN_DEV_F1B58 }}'
            projectId: pan-dev-f1b58
            channelId: live
          env:
            FIREBASE_CLI_PREVIEWS: hostingchannels
